<li class="response-questionnaire__question" data-question-readonly>
  <p class="response-questionnaire__question-label" data-response-idx="<%= position %>">
    <%= decidim_escape_translated(model.body) %>
  </p>

  <p class="response-questionnaire__question-description">
    <em><%= t(model.question_type, scope: "decidim.forms.question_types") %></em>
  </p>

  <% if model.multiple_choice? %>
    <ul class="response-questionnaire__question-description space-y-4">
      <% if model.matrix? %>
        <%= cell("decidim/forms/matrix_readonly", collection: model.matrix_rows) %>
      <% else %>
        <%= cell("decidim/forms/response_readonly", collection: model.response_options) %>
      <% end %>
    </ul>
  <% end %>
</li>
