<%
@title = "Crear propuestas -- Decidim Barcelona"
@activeuser = "logged"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <div class="row">
    <div class="columns large-3">
      <div class="m-bottom">
        <%= link_to page_path("") do %>
          <%= icon "chevron-left", class: "icon--small" %> Volver
        <% end %>
      </div>
      <div class="section">
        <p>
          Estás creando una <strong>propuesta.</strong>
        </p>
      </div>
      <div class="show-for-large">
        <!-- STEPS component: Set any kind of list with 'steps' class; Its children only require set the active element w/ 'step--active' class -->
        <ol class="wizard__steps">
          <li>Crea tu propuesta</li>
          <li>Compara</li>
          <li class="step--active">Publica tu propuesta</li>
        </ol>
      </div>
    </div>
    <div class="columns large-6">
      <div class="callout secondary mb-sm">
        <p>
          Explícanos en qué consiste tu propuesta. Te recomendamos que el título sea conciso y la descripción se centre en la solución que se propone.
        </p>
      </div>
      <h2 class="section-heading">Crea tu propuesta</h2>
      <div class="hide-for-large m-bottom">
        <span class="text-small">Paso 1 de 3 (<a data-toggle="steps">ver pasos</a>)</span>
        <!-- STEPS component: Set any kind of list with 'steps' class; Its children only require set the active element w/ 'step--active' class -->
        <ol id="steps" class="wizard__steps steps-toggle is-hidden" data-toggler=".is-hidden">
          <li>Crea tu propuesta</li>
          <li>Compara</li>
          <li class="step--active">Publica tu propuesta/li>
        </ol>
      </div>
      <div class="card">
        <div class="p-l">
          <article class="card card--proposal">
            <div class="card__top">
              <div class="card__content text-small">
                <span class="muted">Proceso:</span>&nbsp;<%= link_to Faker::Hipster.sentence, page_path("info"), class: "card__link text-ellipsis" %>
              </div>
            </div>
            <div class="card__content">
              <div class="card__header">
                <%= link_to page_path("proposals/proposal-view"), class: "card__link" do %>
                  <h5 class="card__title">
                    Título
                  </h5>
                <% end %>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_pack_tag "media/images/demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Autor
                      </a>
                      <a href="#" class="author__nickname">
                        @autor
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam…</p>
            </div>
            <div class="card__status">
              <ul class="card-data">
                <li class="card-data__item">
                  <span class="card-status__text success"></span>
                </li>
                <li class="card-data__item">
                  04/06/2003
                </li>
                <li class="card-data__item">
                  <a href="#comments" title="Respaldos">
                    <%= icon "bullhorn", class: "icon--small", aria_label: "Respaldos", role: "img" %>
                      0
                  </a>
                </li>
                <li class="card-data__item">
                  <a href="#comments" title="Comentarios">
                    <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
                      0
                  </a>
                </li>
              </ul>
            </div>
          </article>
          <div class="row column flex-center">
            <a href="">Modifica la propuesta</a>
            <form class="button_to" method="" action="#">
              <button class="button small button--nomargin" type="button">Publicar</button>
              <input type="hidden" name="" value="">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="columns large-3"></div>
  </div>
</main>

<%= partial "template_bottom" %>
