<%
@title = "Propuesta -- Decidim Barcelona"
@activesection = "processes"
@activepage = "debates"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <%= partial "process_header_home" %>
  <div class="row columns">
    <h2 class="section-heading">Esta propuesta en números</h2>
  </div>
  <div class="row columns">
    <%= partial "rowchart", metric: "rowchart-0", ratio: "16:9", title: Faker::GameOfThrones.character, subtitle: Faker::Lorem.sentence %>
    <p class="pull-right"><a href="#"><small class="text-small"><u>Descargar datos (csv)</u></small></a></p>
  </div>
  <div class="row columns">
    <%= partial "rowchart", metric: "rowchart-0", percent: true, title: Faker::GameOfThrones.character, subtitle: Faker::Lorem.sentence %>
    <p class="pull-right"><a href="#"><small class="text-small"><u>Descargar datos (csv)</u></small></a></p>
  </div>
</main>

<%= partial "template_bottom" %>
