<div id="<%= picker_options[:id] %>" class="data-picker <%= picker_options[:class] %>" data-picker-name="<%= picker_options[:name] %>">
  <% unless checkboxes_on_top %>
    <div class="picker-prompt"><a href="<%= prompt_params[:url] %>"><%= prompt_params[:text] %></a></div>
  <% end %>
  <div class="picker-values"><% scopes.each do |scope, params| %>
    <div><a href="<%= params[:url] %>" data-picker-value="<%= scope.id %>"><%= params[:text] %></a></div>
  <% end %></div>
  <% if checkboxes_on_top %>
    <div class="picker-prompt"><a href="<%= prompt_params[:url] %>"><%= prompt_params[:text] %></a></div>
  <% end %>
</div>
