<div class="card-section">
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t("models.moderation.fields.date", scope: "decidim.moderations") %></th>
          <th><%= t("models.moderation.fields.type", scope: "decidim.moderations") %></th>
          <th><%= t("models.moderation.fields.reported_content_url", scope: "decidim.moderations") %></th>
          <th><%= t("models.moderation.fields.status", scope: "decidim.moderations") %></th>
          <th class="actions"><%= t("actions.title", scope: "decidim.moderations") %></th>
        </tr>
      </thead>
      <tbody>
        <% if upstream_moderations %>
          <% upstream_moderations.each do |moderation| %>
            <tr data-id="<%= moderation.id %>">
              <td>
                <%= l(moderation.reportable.created_at, format: :short) %>
              </td>
              <td>
                <%= moderation.reportable.class.name.demodulize %>
              </td>
              <td>
                <%=
                  link_to moderation.reportable.reported_content_url, target: "_blank" do
                    (moderation.reportable.reported_content_url + " " + icon("external-link")).html_safe
                  end
                %>
              </td>
              <td>
                <% if moderation.unmoderated? %>
                  <%= t("actions.unmoderated", scope: "decidim.moderations") %>
                <% else %>
                  <%= t("actions.moderated", scope: "decidim.moderations") %>
                <% end %>
              </td>
              <td class="actions">

                <% if can? :authorize, moderation || can?(:refuse, moderation)%>
                  <%= icon_link_to "eye",
                                   authorize_moderation_path(id: moderation),
                                   t("actions.authorize", scope: "decidim.moderations"),
                                   class: "#{'icon-green' if moderation.upstream_moderation == 'authorized' }",
                                   method: :put %>
                  <%= icon_link_to "eye",
                                   hide_moderation_path(id: moderation, refuse: true),
                                   t("actions.refuse", scope: "decidim.moderations"),
                                   class: "action-icon--hide #{'icon-red' if moderation.upstream_moderation == 'refused'}",
                                   method: :put %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
