<div class="card">
  <%if @upstream%>
    <div class="card-divider">
      <h2 class="card-title">
        <%= t(".title.upstream") %>
        <div class="card__filter">
          <%= link_to t("index.unmoderated", scope: "decidim.admin.moderations"), moderations_path( moderation_type: "upstream") %>
          |
          <%= link_to t("index.moderated", scope: "decidim.admin.moderations"), moderations_path(moderated: true, moderation_type: "upstream") %>
        </div>
      </h2>
    </div>
  <%= render "upstream" %>
  <%else @downstream%>
    <div class="card-divider">
      <h2 class="card-title">
        <%= t(".title.downstream") %>
        <div class="card__filter">
          <%= link_to t("actions.not_hidden", scope: "decidim.moderations"), moderations_path( moderation_type: "downstream") %>
          |
          <%= link_to t("actions.hidden", scope: "decidim.moderations"), moderations_path(hidden: true, moderation_type: "downstream") %>
        </div>
      </h2>
    </div>
    <%= render "downstream" %>
  <% end %>
</div>
