<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
      <%if @upstream%>
        <div class="card__filter">
          <%= link_to t("actions.not_hidden", scope: "decidim.moderations"), moderations_path, moderation_type: "upstream" %>
          |
          <%= link_to t("actions.hidden", scope: "decidim.moderations"), moderations_path(hidden: true, moderation_type: "upstream") %>
        </div>
      <%else @downstream%>
        <div class="card__filter">
          <%= link_to t("actions.not_hidden", scope: "decidim.moderations"), moderations_path, moderation_type: "downstream" %>
          |
          <%= link_to t("actions.hidden", scope: "decidim.moderations"), moderations_path(hidden: true, moderation_type: "downstream") %>
        </div>
      <% end %>
    </h2>
  </div>
  <%if @upstream%>
    <%= render "upstream" %>
  <% else %>
    <%= render "downstream" %>
  <% end %>
</div>
