<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>

      <div class="card__filter">
        <%= link_to t("actions.not_hidden", scope: "decidim.moderations"), decidim_admin.participatory_process_moderations_path %>
        |
        <%= link_to t("actions.hidden", scope: "decidim.moderations"), decidim_admin.participatory_process_moderations_path(hidden: true) %>
      </div>
    </h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.moderation.fields.reportable", scope: "decidim.moderations") %></th>
            <th><%= t("models.moderation.fields.reported_content", scope: "decidim.moderations") %></th>
            <th><%= t("models.moderation.fields.reports", scope: "decidim.moderations") %></th>
            <th><%= t("models.moderation.fields.report_count", scope: "decidim.moderations") %></th>
            <% if params[:hidden] %>
              <th><%= t("models.moderation.fields.hidden_at", scope: "decidim.moderations") %></th>
            <% end %>
            <th class="actions"><%= t("actions.title", scope: "decidim.moderations") %></th>
          </tr>
        </thead>
        <tbody>
          <% moderations.each do |moderation| %>
            <tr data-id="<%= moderation.id %>">
              <td>
                <%= moderation.reportable.class.name.demodulize %>
              </td>
              <td>
                <%= moderation.reportable.reported_content %>
              </td>
              <td>
                <ul>
                  <% moderation.reports.each do |report| %>
                    <li>
                      <% if report.details.blank? %>
                        <%= report.reason %>
                      <% else %>
                        <span
                          data-tooltip
                          aria-haspopup="true"
                          class="has-tip"
                          title="<%= report.details %>">
                            <%= report.reason %>
                        </span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </td>
              <td>
                <%= moderation.report_count %>
              </td>
              <% if params[:hidden] %>
                <td>
                  <%= l moderation.hidden_at if moderation.hidden_at.present? %>
                </td>
              <% end %>
              <td class="actions">
                <% if can? :unreport, moderation %>
                  <%= link_to t("actions.unreport", scope: "decidim.moderations"), decidim_admin.unreport_participatory_process_moderation_path(id: moderation), method: :put, class: "button" %>
                <% end %>
                <% if !moderation.reportable.hidden? && can?(:hide, moderation) %>
                  | <%= link_to t("actions.hide", scope: "decidim.moderations"), decidim_admin.hide_participatory_process_moderation_path(id: moderation), method: :put, class: "button" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
