<% add_decidim_page_title(t(".title")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <div>
      <%= t(".title") %>
      <span id="js-selected-moderations-count" class="component-counter " title="<%= t("decidim.admin.moderations.index.selected") %>"></span>
    </div>

    <div class="flex items-center gap-x-4">
      <%= render partial: "bulk-actions" %>
      <div class="card__filter">
        <%= link_to t("actions.not_hidden", scope: "decidim.moderations"), moderations_path %>
        |
        <%= link_to t("actions.hidden", scope: "decidim.moderations"), moderations_path(hidden: true) %>
      </div>
    </div>
  </h1>
</div>
<%= admin_filter_selector(:moderations) %>
<div class="table-stacked">
  <table class="table-list">
    <%= render partial: "moderations-thead" %>
    <tbody>
      <%= render partial: "decidim/admin/moderations/moderation-tr", collection: moderations.select(&:reportable), as: :moderation, locals: { view: :index } %>
    </tbody>
  </table>
</div>
<%= decidim_paginate moderations %>
