<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>
    <div class="row column">
      <%= form.translated :editor, :description, toolbar: :full, lines: 30, label: t("models.components.description", scope: "decidim.surveys.admin")  %>
    </div>
    <div class="row column">
      <%= form.translated :editor, :toc, toolbar: :full, lines: 30, label: t("models.components.toc", scope: "decidim.surveys.admin")  %>
    </div>

    <div class="row column survey-questions">
      <% unless @survey.published? %>
        <button class="button add-question"><%= t('.add_question') %></button>

        <template id="survey-question-tmpl">
          <div class="survey-question">
            <div class="row column">
              <%= translated_field_tag :text_field_tag, "survey[questions][]", "body", {}, tabs_id: "${tabsId}", label: "#{icon("move")} #{t('.question')} #${questionLabelPosition}".html_safe, disabled: true, enable_tabs: false %>
            </div>
            <div class="row column">
              <%= check_box_tag "survey[questions][][mandatory]", "1", false, id: "${tabsId}_mandatory" %>
              <%= label_tag "", t('activemodel.attributes.survey_question.mandatory'), for: "${tabsId}_mandatory" %>
            </div>
            <%= hidden_field_tag "survey[questions][][position]", "${position}", disabled: true %>
            <button class="button small alert hollow remove-question"><%= t('.remove_question') %></button>
          </div>
        </template>
      <% end %>

      <div class="survey-questions-list <%= 'published' if @survey.published? %>">
        <% @form.questions.each_with_index do |question, idx| %>
          <div class="survey-question">
            <%- label = @survey.published? ? t('.question') : "#{icon("move")} #{t('.question')} ##{(question.position || idx) + 1}".html_safe
%>
            <div class="row column">
              <%= translated_field_tag :text_field_tag, "survey[questions][]", "body", question.body, tabs_id: "survey-question-#{question.id}", label: label, disabled: @survey.published? %>
            </div>

            <div class="row column">
              <%= check_box_tag "survey[questions][][mandatory]", "1", question.mandatory, id: "survey_questions_#{question.id}_mandatory", disabled: @survey.published? %>
              <%= label_tag "survey_questions_#{question.id}_mandatory", t('activemodel.attributes.survey_question.mandatory') %>
            </div>

            <%= hidden_field_tag "survey[questions][][id]", question.id %>
            <%= hidden_field_tag "survey[questions][][position]", question.position || idx %>
            <% unless @survey.published? %>
              <button class="button small alert hollow remove-question"><%= t('.remove_question') %></button>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "decidim/surveys/admin/surveys" %>