<% add_decidim_page_title(t(".title")) %>

<div class="item_show__header" style="border-bottom: none;">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
  </h1>
</div>

<%= render "decidim/surveys/admin/surveys/tabs_menu" %>

<div class="grid-cols-1 2xl:mr-80">
  <div class="item__edit-form pb-24">
    <%= decidim_form_for(@form, url: survey_path(@survey), html: { id: "survey-form", class: "form-defaults form edit_questionnaire" }) do |form| %>
      <%= render "decidim/forms/admin/questionnaires/form", form: %>
    <% end %>
  </div>

  <div class="item__edit-sticky">
    <div class="item__edit-sticky-container">
      <%= button_tag t("save", scope: "decidim.forms.admin.questionnaires.edit"), class: "button button__sm button__secondary", form: "survey-form" %>
    </div>
  </div>
</div>
