<% add_decidim_page_title(t(".title")) %>

<%= render "decidim/surveys/admin/surveys/tabs_menu" do %>
  <%= button_tag t("save", scope: "decidim.forms.admin.questionnaires.edit"), class: "main-tabs-menu__cta-button", form: "survey-form" %>
<% end %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
  </h1>
</div>

<div class="grid-cols-1">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: survey_path(@survey), html: { id: "survey-form", class: "form-defaults form edit_questionnaire" }) do |form| %>
      <%= render "decidim/forms/admin/questionnaires/form", form: %>
    <% end %>
  </div>
</div>
