<figure>
  <ul class="tags tags--proposal tags--list">
    <% if category.present? %>
      <li>
        <%= link_to resource_locator(model).index(filter: { category_id: [category.id.to_s] }), title: t("decidim.tags.filter_results_for_category", resource: translated_attribute(category.name)) do %>
          <span class="show-for-sr"><%= t "decidim.tags.filter_results_for_category", resource: translated_attribute(category.name) %></span>
          <span aria-hidden="true"><%= translated_attribute(category.name) %></span>
        <% end %>
        <% if previous_category.present? && show_previous_category? %>
          &nbsp;
          <small class="text-small">
            <%= t("changed_from", scope: "decidim.proposals.proposals.tags", previous_name: "#{previous_category.translated_name}").html_safe %>
          </small>
        <% end %>
      </li>
    <% end %>

    <% if has_visible_scopes?(model) %>
      <li>
        <%= link_to resource_locator(model).index(filter: { scope_id: [scope.id] }), title: t("decidim.tags.filter_results_for_scope", resource: translated_attribute(scope.name)) do %>
          <span class="show-for-sr"><%= t "decidim.tags.filter_results_for_scope", resource: translated_attribute(scope.name) %></span>
          <span aria-hidden="true"><%= translated_attribute(scope.name) %></span>
        <% end %>
        <% if previous_scope.present? && show_previous_scope? %>
          &nbsp;
          <small class="text-small">
            <%= t("changed_from", scope: "decidim.proposals.proposals.tags", previous_name: "#{translated_attribute(previous_scope.name)}").html_safe %>
          </small>
        <% end %>
      </li>
    <% end %>
  </ul>
</figure>
