<% if @collaborative_drafts.empty? %>
  <%= cell("decidim/announcement", params[:filter].present? ? t("empty_filters", scope: "decidim.proposals.collaborative_drafts") : t("empty", scope: "decidim.proposals.collaborative_drafts")) %>
<% else %>
  <h2 class="h5 md:h3 decorator"><%= t("count", scope: "decidim.proposals.collaborative_drafts.index", count: @collaborative_drafts.length) %></h2>

  <%= order_selector available_orders, i18n_scope: "decidim.proposals.collaborative_drafts.orders" %>

  <div class="card__list-list">
    <% @collaborative_drafts.each do |draft| %>
      <%= card_for draft %>
    <% end %>
  </div>

  <%= decidim_paginate @collaborative_drafts %>
<% end %>
