<div class="columns large-3">
  <div class="m-bottom">
    <%= link_to :back do %>
      <%= icon "chevron-left", class: "icon--small" %>
      <%= wizard_aside_back_text %>
    <% end %>
  </div>
  <div class="section">
    <p>
      <%= wizard_aside_info_text %>
    </p>
  </div>
  <div class="show-for-large">
    <%= proposal_wizard_stepper(@step) %>
  </div>
</div>
