<% add_decidim_page_title(t("name", scope: "decidim.proposals.collaborative_drafts")) %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_proposals", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_proposals" %>
<% end %>

<% content_for :aside do %>

  <h1 id="drafts-count" class="h3 md:h1 decorator">
    <%= t("name", scope: "decidim.proposals.collaborative_drafts") %>
  </h1>

  <% if current_settings.creation_enabled %>
    <%= action_authorized_link_to :create, new_collaborative_draft_path, class: "button button__sm button__transparent-secondary", data: { "redirect_url" => new_collaborative_draft_path } do %>
      <span><%= t("new_collaborative_draft", scope: "decidim.proposals.collaborative_drafts.new_collaborative_draft_button") %></span>
      <%= icon "add-line" %>
    <% end %>
  <% end %>

  <% filter_sections = [].tap do |f|
      f.append(method: :with_any_state, collection: filter_collaborative_drafts_state_values, label_scope: "decidim.proposals.collaborative_drafts.filters", id: "state")
      f.append(method: :with_any_scope, collection: filter_scopes_values, label_scope: "decidim.proposals.collaborative_drafts.filters", id: "scope") if current_component.has_subscopes?
      f.append(method: :with_any_category, collection: filter_categories_values, label_scope: "decidim.proposals.collaborative_drafts.filters", id: "category") if current_component.categories.any?
      f.append(method: :related_to, collection: linked_classes_filter_values_for(Decidim::Proposals::CollaborativeDraft), label_scope: "decidim.proposals.collaborative_drafts.filters", id: "related_to", type: :radio_buttons) if linked_classes_for(Decidim::Proposals::CollaborativeDraft).any?
    end

    search_variable = :search_text_cont %>

  <%= render layout: "decidim/shared/filters", locals: { filter_sections: , search_variable: } do %>
    <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
  <% end %>

<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>

  <%= render partial: "decidim/shared/component_announcement" %>

  <div id="collaborative_drafts">
    <%= render partial: "collaborative_drafts" %>
  </div>

<% end %>
