<% add_decidim_page_title(proposal_wizard_step_title(action_name)) %>

<div class="row">
  <%= render partial: "wizard_aside" %>

  <div class="columns large-6">
    <%= render partial: "decidim/proposals/proposals/wizard_header", locals: { callout_help_text_class: "warning" } %>
    <%= card_for @collaborative_draft, from: @collaborative_draft, preview: true %>

    <div class="p-l">
      <div class="row column flex-center">
        <%= link_to t(".modify"), edit_draft_collaborative_draft_path(@collaborative_draft) %>
        <%= button_to t(".publish"), publish_wizard_collaborative_draft_path(@collaborative_draft), method: :post, class: "button button--nomargin small" %>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>
