<% add_decidim_meta_tags({
  description: @collaborative_draft.body,
  title: @collaborative_draft.title,
  url: collaborative_draft_url(@collaborative_draft.id)
}) %>
<% if current_user.nil? || allowed_to?(:request_access, :collaborative_draft, collaborative_draft: @collaborative_draft) %>
  <div class="row">
    <div class="columns">
      <div class="callout secondary"><%= t(".info-message").html_safe %></div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">

    <% if allowed_to?(:publish, :collaborative_draft, collaborative_draft: @collaborative_draft) %>
      <div class="card text-center">
          <div class="card__content">
            <%= link_to t("publish", scope:"decidim.proposals.collaborative_drafts.show"), edit_collaborative_draft_path(@collaborative_draft), class: "button expanded button--sc" %>

            <small>
              <%= t("publish_info", scope:"decidim.proposals.collaborative_drafts.show") %>
            </small>
          </div>
        </div>
    <% end %>

    <div class="card text-center">
      <div class="card__content">
        <div>
          <strong class="text-large text-uppercase">
            <%= t("version", scope:"decidim.proposals.collaborative_drafts.show", number: "#{@collaborative_draft.versions_count}") %>
          </strong>
          <small class="text-medium">
            <%= t("of_versions", scope:"decidim.proposals.collaborative_drafts.show", number: "#{@collaborative_draft.versions_count}") %>
          </small>
        </div>

        <div>
          <span class="text-medium">
            <%= link_to t("see_other_versions", scope:"decidim.proposals.collaborative_drafts.show"), collaborative_draft_versions_path(@collaborative_draft) %>
          </span>
        </div>

        <% if allowed_to?(:edit, :collaborative_draft, collaborative_draft: @collaborative_draft) %>
          <%= link_to t("edit", scope:"decidim.proposals.collaborative_drafts.show"), edit_collaborative_draft_path(@collaborative_draft), class: "button secondary hollow expanded button--sc mt-s" %>
        <% end %>

        <% if allowed_to?(:request_access, :collaborative_draft, collaborative_draft: @collaborative_draft) %>
          <%= link_to t(".request_access"), request_access_collaborative_draft_path(@collaborative_draft), method: "POST", class: "button expanded button--sc mt-s" %>
        <% end %>

        <% if @collaborative_draft.access_requestors.include? current_user %>
          <button type="button" class="button secondary light expanded button--sc mt-s">
            <%= t("requested_access", scope:"decidim.proposals.collaborative_drafts.show") %>
          </button>
        <% end %>
      </div>

      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= with_tooltip t("decidim.proposals.models.collaborative_draft.fields.authors") do %>
              <%= icon("people", class: "icon--small") + " " + "#{@collaborative_draft.authors.count}" %>
            <% end %>
          </li>

          <li class="card-data__item">
            <%= link_to collaborative_draft_versions_path(@collaborative_draft) do %>
              <%= with_tooltip t("decidim.proposals.models.collaborative_draft.fields.contributions") do %>
                <%= icon("pencil", class: "icon--small") + " " + "#{@collaborative_draft.versions.count}" %>
              <% end %>
            <% end %>
          </li>
          <li class="card-data__item">
            <%= link_to "#comments" do %>
              <%= with_tooltip t("decidim.proposals.models.collaborative_draft.fields.comments") do %>
                <%= icon("comment-square", class: "icon--small") + " " + "#{@collaborative_draft.comments.count}" %>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <%= render partial: "collaboration_requests" %>

    <%= resource_reference(@collaborative_draft) %>

    <%= render partial: "decidim/shared/share_modal" %>
    <%# = embed_modal_for proposal_proposal_widget_url(@proposal, format: :js) %>
  </div>
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="row column view-header">
      <h2 class="heading2">
        <%= @collaborative_draft.title %>
      </h2>

      <%= cell(
            "decidim/collapsible_list",
            authors_for(@collaborative_draft),
            cell_name: "decidim/author",
            cell_options: { extra_classes: ["author-data--small"] },
            hidden_elements_count_i18n_key: "decidim.proposals.collaborative_drafts.show.hidden_authors_count",
            size: :small
          ) %>
    </div>

    <div class="section">
      <%== cell("decidim/proposals/collaborative_draft_m", @collaborative_draft, full_badge: true).badge %>

      <%= simple_format @collaborative_draft.body %>

      <% if component_settings.geocoding_enabled? %>
        <%= render partial: "decidim/shared/static_map", locals: { icon_name: "proposals", geolocalizable: @collaborative_draft } %>
      <% end %>

      <%= cell "decidim/tags", @collaborative_draft, context: {extra_classes: ["tags--proposal"]} %>
    </div>
  </div>
</div>

<%= attachments_for @collaborative_draft %>

<%= comments_for @collaborative_draft %>

<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>

<%=
  render partial: "decidim/shared/flag_modal", locals: {
    reportable: @collaborative_draft,
    form: @report_form,
    url: decidim.report_path(sgid: @collaborative_draft.to_sgid.to_s)
  }
%>
