<% add_decidim_meta_tags({
  description: @collaborative_draft.body,
  title: @collaborative_draft.title,
  # url: proposal_url(@proposal.id)
}) %>

<div class="row column view-header">
  <%# if !(current_user and @collaborative_draft.authorship?(current_user)) %>
    <div class="callout secondary"><%= t('.info-message').html_safe %></div>
  <%# end %>
  <h2 class="heading2"><%= @collaborative_draft.title %></h2>
  <%= card_for present(@collaborative_draft).author, from: @collaborative_draft %>
</div>
<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
    <% if allowed_to?(:edit, @collaborative_draft) %>
      <%= link_to t(".edit"), edit_collaborative_draft_path(@collaborative_draft), class: "button secondary hollow expanded button-sc button--icon follow-button" %>
    <% end %>
    <div class="card">
      <div class="card__content">
        <div class="text-center">
          <strong>VERSION -1</strong><br/>
          <a href=".">See other versions</a>
        </div>
        <button class="button expanded light button--sc"><%= t(".request_access") %></button>
        <div class="row collapse buttons__row">
          <div class="column collapse small-4"><a href="." class="button hollow secondary">xx 7</a></div>
          <div class="column collapse small-4"><a href="." class="button hollow secondary">xx 12</a></div>
          <div class="column collapse small-4"><a href="." class="button hollow secondary">xx 100</a></div>
        </div>
      </div>
    </div>
    <%= resource_reference(@collaborative_draft) %>
    <%= render partial: "decidim/shared/share_modal" %>
    <%#= embed_modal_for proposal_proposal_widget_url(@proposal, format: :js) %>
  </div>
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <%= simple_format @collaborative_draft.body %>
      <%# TODO = render partial: "tags", locals: { resource: @collaborative_draft } %>
    </div>
  </div>
</div>
<%= attachments_for @collaborative_draft %>

<%= comments_for @collaborative_draft %>

<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>

<%=
  render partial: "decidim/shared/flag_modal", locals: {
    reportable: @collaborative_draft,
    form: @report_form,
    url: decidim.report_path(sgid: @collaborative_draft.to_sgid.to_s)
  }
%>
