<% add_decidim_page_title(t("name", scope: "decidim.proposals.collaborative_drafts")) %>
<% add_decidim_meta_tags({
  description: present(@collaborative_draft).body,
  title: present(@collaborative_draft).title,
  url: collaborative_draft_url(@collaborative_draft.id)
}) %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_proposals", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_proposals" %>
<% end %>

<% content_for :aside do %>

  <div class="proposal__aside-container">

    <% if allowed_to?(:publish, :collaborative_draft, collaborative_draft: @collaborative_draft) %>
      <div>
        <%= cell "decidim/proposals/irreversible_action_modal", @collaborative_draft, action: :publish %>

        <div class="mt-2 text-center">
          <%= t("publish_info", scope:"decidim.proposals.collaborative_drafts.show") %>
          <%= cell "decidim/proposals/irreversible_action_modal", @collaborative_draft, action: :withdraw %>
        </div>
      </div>
    <% end %>

    <% if @collaborative_draft.published? %>
      <%= cell "decidim/proposals/collaborative_draft_link_to_proposal", @collaborative_draft %>
    <% else %>
      <div class="flex flex-col items-center">
        <%= resource_version_number(@collaborative_draft.versions_count, "h4") %>
        <span class="text-gray-2"><%= resource_version_of(@collaborative_draft.versions_count) %></span>
      </div>
    <% end %>

    <% if allowed_to?(:edit, :collaborative_draft, collaborative_draft: @collaborative_draft) %>
      <%= link_to t("edit", scope:"decidim.proposals.collaborative_drafts.show"), edit_collaborative_draft_path(@collaborative_draft), class: "button button__lg button__secondary w-full", id: "collaborative_draft_edit" %>
    <% end %>

    <%= render "request_access_form" %>

    <% if @collaborative_draft.requesters.include? current_user %>
      <button type="button" class="button button__lg button__secondary" disabled>
        <%= t("requested_access", scope:"decidim.proposals.collaborative_drafts.show") %>
      </button>
    <% end %>

    <%= render partial: "collaborator_requests" %>

    <div class="proposal__aside-actions">
      <%= follow_button_for(@collaborative_draft) %>
      <%= cell "decidim/share_button", nil %>
      <%= cell "decidim/report_button", @collaborative_draft %>
    </div>

  </div>

<% end %>

<%# REDESIGN_PENDING: define nav_paths %>
<%= render layout: "layouts/decidim/shared/layout_item", locals: { back_path: collaborative_drafts_path } do %>

  <div class="proposal__container">

    <%= cell("decidim/announcement", t("info-message", scope: "decidim.proposals.collaborative_drafts.show").html_safe) if current_user.nil? || allowed_to?(:request_access, :collaborative_draft, collaborative_draft: @collaborative_draft) %>

    <h1 class="h2 decorator"><%= present(@collaborative_draft).title(links: true, html_escape: true) %></h1>

    <% if component_settings.geocoding_enabled? %>
      <%= render partial: "decidim/shared/static_map", locals: { icon_name: "proposals", geolocalizable: @collaborative_draft } %>
    <% end %>

    <div class="proposal__author">
      <% # REDESIGN_PENDING: Logic copied from decidim-core/app/cells/decidim/coauthorships_cell.rb
          author = if @collaborative_draft.respond_to?(:official?) && @collaborative_draft.official?
                      "#{@collaborative_draft.class.module_parent}::OfficialAuthorPresenter".constantize.new
                    else
                      @collaborative_draft.identities.first&.presenter
                    end %>

      <%= cell "decidim/author", author, from: @collaborative_draft, context_actions: nil, layout: :compact %>

      <% if @collaborative_draft.state %>
        <span class="<%= collaborative_drafts_state_class(@collaborative_draft.state) %> label">
          <%= humanize_proposal_state(@collaborative_draft.state) %>
        </span>
      <% end %>
    </div>

    <div class="editor-content">
      <%= simple_format(present(@collaborative_draft).body(links: true, strip_tags: true), nil, sanitize: false) %>
    </div>

    <%= render partial: "actions" %>

    <div class="mt-8" data-component="accordion" data-multiselectable="false" data-collapsible="false">
      <ul class="tab-x-container">
        <% tabs.each_with_index do |tab, i| %>
          <li>
            <button id="trigger-<%= tab[:id] %>" class="tab-x" data-controls="panel-<%= tab[:id] %>" data-open="<%= "true" if i == 0 %>">
              <%= icon tab[:icon], class: "text-gray fill-current" %><%= tab[:text] %>
            </button>
          </li>
        <% end %>
      </ul>

      <% panels.each do |panel| %>
        <div id="panel-<%= panel[:id] %>" class="py-8">
          <%= send(panel[:method], *panel[:args]) %>
        </div>
      <% end %>
    </div>

    <% content_for :item_footer do %>
      <%= comments_for @collaborative_draft %>

      <div class="mt-8">
        <ul class="drawer-metadata__container" data-metadata-footer>
          <%= content_tag :li, resource_reference(@collaborative_draft), class: "drawer-metadata__item" %>
          <%#= content_tag :li, link_to_other_resource_versions(collaborative_draft_versions_path(@collaborative_draft)), class: "drawer-metadata__item" %>
        </ul>
      </div>
    <% end %>
<% end %>
