<% add_decidim_page_title(t("name", scope: "decidim.proposals.collaborative_drafts")) %>
<% add_decidim_meta_tags({
  description: present(@collaborative_draft).body,
  title: present(@collaborative_draft).title,
  url: collaborative_draft_url(@collaborative_draft.id)
}) %>

<%= append_stylesheet_pack_tag "decidim_proposals", media: "all" %>
<%= append_javascript_pack_tag "decidim_proposals" %>

<% content_for :aside do %>
  <%= render partial: "collaborative_draft_aside" %>
<% end %>

<%# REDESIGN_PENDING: define nav_paths %>
<%= render layout: "layouts/decidim/shared/layout_item", locals: { back_path: collaborative_drafts_path } do %>

  <div class="proposal__container">

    <%= cell("decidim/announcement", t("info-message", scope: "decidim.proposals.collaborative_drafts.show").html_safe) if current_user.nil? || allowed_to?(:request_access, :collaborative_draft, collaborative_draft: @collaborative_draft) %>

    <h1 class="h2 decorator"><%= present(@collaborative_draft).title(links: true, html_escape: true) %></h1>

    <% if component_settings.geocoding_enabled? %>
      <%= render partial: "decidim/shared/static_map", locals: { icon_name: "proposals", geolocalizable: @collaborative_draft } %>
    <% end %>

    <div class="proposal__author">
      <%= cell "decidim/coauthorships", @collaborative_draft %>

      <% if @collaborative_draft.state %>
        <span class="<%= collaborative_drafts_state_class(@collaborative_draft.state) %> label">
          <%= humanize_collaborative_draft_state(@collaborative_draft.state) %>
        </span>
      <% end %>
    </div>

    <div class="editor-content">
      <%= simple_format(present(@collaborative_draft).body(links: true, strip_tags: true), nil, sanitize: false) %>
    </div>

    <%= render partial: "actions" %>

    <%= attachments_for @collaborative_draft %>

    <% content_for :item_footer do %>
      <%= comments_for @collaborative_draft %>

      <div class="mt-8">
        <ul class="drawer-metadata__container" data-metadata-footer>
          <%= content_tag :li, resource_reference(@collaborative_draft), class: "drawer-metadata__item" %>
          <%= content_tag :li, resource_version(@collaborative_draft, versions_path: collaborative_draft_version_path(@collaborative_draft, @collaborative_draft.versions.count)), class: "drawer-metadata__item" %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
