<%= render layout:"layouts/decidim/shared/layout_center" do %>

  <div class="text-center py-12">
    <h1 class="h1 decorator inline-block text-left">
      <%= title %>
    </h1>
  </div>

  <%= cell "decidim/tos_page", :announcement %>

  <div class="editor-content">
    <%= decidim_sanitize_editor translated_attribute page.content %>
  </div>

  <%= cell "decidim/tos_page", :form %>

<% end %>
