<%= render layout:"layouts/decidim/shared/layout_center" do %>

  <div class="text-center py-12">
    <h1 class="h1 decorator inline-block text-left">
      <%= title %>
    </h1>
  </div>

  <div class="page__container">
    <%= cell "decidim/tos_page", :announcement %>

    <div class="editor-content">
      <% page_content_blocks.each do |content_block| %>
        <%= cell content_block.manifest.cell, content_block %>
      <% end %>

      <%= decidim_sanitize_editor_admin translated_attribute page.content %>
    </div>

    <%= cell "decidim/tos_page", :form %>
  </div>

<% end %>
