<%# NOTE: this page does not use a layout %>
<div class="container grid grid-cols-12 pt-12 pb-36">
  <div class="col-start-2 col-span-10 space-y-12">
    <div class="text-center">
      <h1 class="h1 decorator inline-block mb-12">
        <%= title %>
      </h1>
      <p class="text-lg text-gray-2">
        <%= description %>
      </p>
    </div>

    <%= cell "decidim/tos_page", :announcement %>

    <div class="grid grid-cols-10 gap-20">
      <div class="col-span-3">
        <ul class="bg-background rounded divide-y divide-gray-3">
          <% pages.each do |sibling| %>
            <li>
              <%= link_to translated_attribute(sibling.title), page_path(sibling.slug), class: "p-4 block w-full h-full text-secondary #{"border-l-4 border-primary font-semibold" if page == sibling}" %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col-span-7">
        <h3 class="h3"><%= translated_attribute page.title %></h3>

        <div class="prose max-w-full mt-6">
          <%= decidim_sanitize_editor translated_attribute page.content %>
        </div>
      </div>
    </div>

    <%= cell "decidim/tos_page", :form %>
  </div>
</div>
