<%# NOTE: this page does not use a layout %>
<div class="container grid grid-cols-12 pt-12 pb-36">
  <div class="col-start-2 col-span-10 space-y-12">

    <div class="text-center">
      <h1 class="h1 decorator inline-block mb-12">
        <%= title %>
      </h1>
      <p class="text-lg text-gray-2">
        <%= description %>
      </p>
    </div>

    <%= cell "decidim/tos_page", :announcement %>

    <div class="page__tabbed">
      <div>
        <ul class="page__tabbed-list">
          <% pages.each do |sibling| %>
            <li>
              <%= link_to translated_attribute(sibling.title), page_path(sibling.slug), class: "#{"is-selected" if page == sibling}" %>
            </li>
          <% end %>
        </ul>
      </div>

      <div>
        <h2 class="h2"><%= translated_attribute page.title %></h2>

        <div class="editor-content mt-6">
          <%= decidim_sanitize_editor translated_attribute page.content %>
        </div>
      </div>
    </div>

    <%= cell "decidim/tos_page", :form %>
  </div>
</div>
