<%= render layout:"layouts/decidim/shared/layout_center", locals: { columns: 10 } do %>

    <div class="text-center py-12">
      <h1 class="h3 md:h1 decorator inline-block text-left mb-12">
        <%= title %>
      </h1>
      <p class="text-lg text-gray-2">
        <%= description %>
      </p>
    </div>

    <div class="page__container">
      <%= cell "decidim/tos_page", :announcement %>

      <div class="vertical-tabs">
        <div>
          <ul class="vertical-tabs__list">
            <% pages.each do |sibling| %>
              <li class="<%= "is-active" if page == sibling %>">
                <%= link_to translated_attribute(sibling.title), page_path(sibling.slug) %>
              </li>
            <% end %>
          </ul>
        </div>

        <div>
          <h2 class="h2"><%= translated_attribute page.title %></h2>

          <div class="editor-content mt-6">
            <%= decidim_sanitize_editor_admin translated_attribute page.content %>
          </div>
        </div>
      </div>

      <%= cell "decidim/tos_page", :form %>
    </div>

<% end %>
