<% add_decidim_page_title(t("decidim.pages.index.title")) %>
<%
edit_link(
  decidim_admin.static_pages_path,
  :read,
  :static_page
)
%>

<%= render layout:"layouts/decidim/shared/layout_one_col" do %>

  <div class="text-center py-10">
    <h1 class="h1 decorator mb-10 inline-block">
      <%= t "decidim.pages.index.title" %>
    </h1>
    <p class="text-lg text-gray-2">
      <%= t("decidim.pages.index.subheading", name: current_organization.name) %>
    </p>
  </div>

  <div class="space-y-16 mb-36">
    <% if @topics.any? %>
      <div class="space-y-6">
        <h3 class="h3 decorator"><%= t "decidim.pages.index.topics" %></h3>
        <% @topics.each do |topic| %>
          <% if topic.pages.any? %>
            <details class="border-4 border-background rounded p-4 group">
              <summary class="flex justify-between items-center cursor-pointer">
                <div class="grow">
                  <h4 class="h4 text-secondary text-lg">
                    <%= link_to translated_attribute(topic.title), page_path(topic.pages.first) %>
                  </h4>
                  <p class="text-gray-2"><%= translated_attribute topic.description %></p>
                </div>
                <div class="flex-none">
                  <%= icon "arrow-down-s-line", class: "block group-open:hidden w-8 h-8 text-secondary fill-current" %>
                  <%= icon "arrow-up-s-line", class: "hidden group-open:block w-8 h-8 text-secondary fill-current" %>
                </div>
              </summary>

              <ul class="border-t border-gray-3 mt-4 pt-4 space-y-4" role="menu">
                <% topic.pages.each do |page| %>
                  <li role="presentation"><%= link_to translated_attribute(page.title), page_path(page), class: "text-secondary" %></li>
                <% end %>
              </ul>
            </details>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @orphan_pages.any? %>
      <div class="space-y-6">
        <h3 class="h3 decorator"><%= t "decidim.pages.index.standalone_pages" %></h3>
        <div class="grid grid-cols-2 gap-6">
          <% @orphan_pages.each do |page| %>
            <div class="border-4 border-background rounded p-4">
              <h4 class="h4 text-secondary text-lg">
                <%= link_to translated_attribute(page.title), page_path(page) %>
              </h4>
              <%== strip_tags html_truncate(translated_attribute(page.content), length: 140, separator: "...") %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<% end %>
