<div class="card">
  <div class="card-divider">
    <% if allowed_to? :creste, :scope_type %>
      <h2 class="card-title"><%= t "decidim.admin.titles.scope_types" %> <%= link_to t("actions.add", scope: "decidim.admin"), [:new, :scope_type], class: "button tiny button--title" %></h2>
    <% end %>
  </div>
  <div class="card-section">
    <div class="table-scroll">
        <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.scope_type.fields.name", scope: "decidim.admin") %></th>
            <th><%= t("models.scope_type.fields.plural", scope: "decidim.admin") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% scope_types.each do |scope_type| %>
            <tr>
              <td>
                <%= translated_attribute(scope_type.name) %>
              </td>
              <td>
                <%= translated_attribute(scope_type.plural) %>
              </td>
              <td class="table-list__actions">

                <% if allowed_to? :update, :scope_type, scope_type: scope_type %>
                  <%= icon_link_to "pencil", [:edit, scope_type], t("actions.edit", scope: "decidim.admin"), class: "action-icon--edit", method: :get, data: {} %>
                <% end %>

                <% if allowed_to? :destroy, :scope_type, scope_type: scope_type %>
                  <%= icon_link_to "circle-x", scope_type, t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
