<%= cell("decidim/announcement", t("decidim.initiatives.initiative_signatures.fill_personal_data.help"), callout_class: "secondary") %>

<%= decidim_form_for(@form, url: fill_personal_data_initiative_signatures_path, method: :put) do |f| %>
  <%= form_required_explanation %>
  <div>
    <div class="form__wrapper">
      <%= f.text_field :name_and_surname, autofocus: true, required: true %>
    </div>

    <div class="form__wrapper">
      <%= f.text_field :document_number, required: true %>
    </div>

    <div class="form__wrapper">
      <%= f.date_field :date_of_birth, min: 120.years.ago.to_date, max: 16.years.ago.to_date, value: 35.years.ago.to_date %>
    </div>

    <div class="form__wrapper">
      <%= f.text_field :postal_code, required: true %>
    </div>

    <div class="pb-s">
      <small>
        <%= strip_tags(translated_attribute(extra_data_legal_information)) %>
      </small>
    </div>
  </div>

  <div class="form__wrapper-block">
    <%= f.submit t(".continue"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
