<%= cell("decidim/announcement", t("decidim.initiatives.initiative_signatures.fill_personal_data.help"), callout_class: "secondary") %>

<%= decidim_form_for(@form, url: fill_personal_data_initiative_signatures_path, method: :put, builder: Decidim::AuthorizationFormBuilder) do |f| %>
  <%= form_required_explanation %>

  <% if lookup_context.exists?(@form.to_partial_path, [], true) %>
    <%= render partial: @form.to_partial_path, locals: { handler: @form, form: f } %>
  <% else %>
    <div class="form__wrapper">
      <%= f.all_fields %>
    </div>
  <% end %>

  <div>
    <small>
      <%= strip_tags(translated_attribute(extra_data_legal_information)) %>
    </small>
  </div>

  <div class="form__wrapper-block">
    <%= f.submit t(".continue"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
