<div class="callout secondary mb-sm">
  <p>
<%= t ".help" %>
  </p>
</div>
<h2 class="section-heading"><%= t(step, scope: "layouts.decidim.initiative_signature_creation_header") %></h2>

<%= render partial: "wizard_steps" %>

<div class="card">
  <div class="card__content">
    <%= decidim_form_for(@form, url: next_wizard_path, method: :put, html: { class: "form user_personal_data_signature_form" }) do |f| %>
      <%= form_required_explanation %>
      <div>
        <div class="field">
          <%= f.text_field :name_and_surname, autofocus: true, required: true %>
        </div>

        <div class="field">
          <%= f.text_field :document_number, required: true %>
        </div>

        <div class="field date">
          <%= f.date_select :date_of_birth, start_year: 1900, end_year: 16.years.ago.year, default: 35.years.ago, prompt: { day: t(".date_select.day"), month: t(".date_select.month"), year: t(".date_select.year") } %>
        </div>

        <div class="field">
          <%= f.text_field :postal_code, required: true %>
        </div>

        <div class="pb-s">
          <small class="text-small">
          <%= strip_tags(translated_attribute(extra_data_legal_information)) %>
          </small>
        </div>
      </div>

      <div class="actions">
        <%= f.submit t(".continue"), class: "button expanded" %>
      </div>
    <% end %>
  </div>
</div>
