<%= cell("decidim/announcement", t("decidim.initiatives.initiative_signatures.fill_personal_data.help"), callout_class: "secondary") %>

<%= render partial: "wizard_steps", locals: { title: "fill_personal_data" } %>

<%= decidim_form_for(@form, url: fill_personal_data_initiative_initiative_signatures_path, method: :put, html: { class: "form-defaults user_personal_data_signature_form" }) do |f| %>
  <%= form_required_explanation %>
  <div class="form__wrapper">
    <%= f.text_field :name_and_surname, autofocus: true, required: true %>
    <%= f.text_field :document_number, required: true %>
    <%= f.date_select :date_of_birth, start_year: 1900, end_year: 16.years.ago.year, default: 35.years.ago, prompt: { day: t(".date_select.day"), month: t(".date_select.month"), year: t(".date_select.year") } %>
    <%= f.text_field :postal_code, required: true %>

    <%= cell("decidim/announcement", { body: strip_tags(translated_attribute(extra_data_legal_information)) }, callout_class: "secondary") %>
  </div>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= f.submit t(".continue"), class: "button button__sm md:button__lg button__secondary", data: { disable_with: true } %>
  </div>
<% end %>
