<%
  sections = [{
    url: decidim_design.root_path,
    path: false,
    icon: "home-7-line",
    text: "Home"
  },{
    url: false,
    path: "foundations",
    icon: "ruler-line",
    text: "Foundations"
  },{
    url: false,
    path: "components",
    icon: "focus-line",
    text: "Components"
  }]
%>

<div class="grid md:grid-cols-12 container min-h-screen before:content-[''] before:absolute before:-z-10 before:w-1/2 before:h-full before:inset-0 before:bg-background">
  <aside class="col-span-2 py-12 pr-16">
    <ul class="sticky top-12 space-y-4">
      <% sections.each do |section| %>
      <li>
        <% block = capture do %>
          <%= icon section[:icon], class: "text-gray fill-current" %>
          <span class="font-semibold"><%= section[:text] %></span>
        <% end %>

        <% if section[:url].present? %>
          <%= link_to section[:url], class: "flex gap-1 items-center hover:underline" do %>
            <%= block %>
          <% end %>
        <% else %>
          <%= content_tag :span, class: "flex gap-1 items-center" do %>
            <%= block %>
          <% end %>
        <% end %>

        <% gem_path = Bundler.load.specs.find { |spec| spec.name == "decidim-design" }.full_gem_path %>
        <% @files = Dir.glob("#{gem_path}/app/views/decidim/design/#{section[:path]}/*").select { |fn| File.directory?(fn) } %>
        <% if @files.any? %>
          <ul class="pl-5 pt-4 space-y-4">
            <% @files.each do |file| %>
              <li class="text-sm text-black cursor-pointer flex items-center gap-1">
                <%= link_to File.basename(file), send("#{section[:path]}_#{File.basename(file)}_path"), class: "hover:underline first-letter:capitalize" %>
                <%= icon "arrow-right-line", class: "w-3 h-3 fill-current" %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
      <% end %>
    </ul>
  </aside>

  <main class="bg-white col-span-8 py-12 px-16 [&_section+section]:mt-10">
    <% if content_for?(:heading) %>
      <section class="pb-10 border-b border-background">
        <h1 class="text-5xl font-bold text-black">
          <%= yield :heading %>
        </h1>

        <% if content_for?(:description) %>
          <div class="mt-10 text-gray-2 text-md font-normal [&>*+*]:mt-4">
            <%= yield :description %>
          </div>
        <% end %>
      </section>
    <% end %>

    <%= yield %>
  </main>

  <aside class="bg-white col-span-2 py-12 pl-16">
    <div class="sticky top-12">
      <% if content_for?(:right_aside) %>
        <%= yield :right_aside %>
      <% else %>
        <nav class="space-y-2 text-sm [&>*]:block [&_a]:text-secondary [&_a]:underline">
          <strong class="text-md mb-4">On this page</strong>
          <%= yield :toc %>
        </nav>
      <% end %>
    </div>
  </main>
</div>
