<div class="card with-overflow" id='user-groups'>
  <div class="card-divider">
    <h2 class="card-title"><%= t "decidim.admin.titles.participants" %></h2>
  </div>
  <%= admin_filter_selector %>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t(".name") %></th>
            <th><%= t(".nickname") %></th>
            <th><%= t(".created_at") %></th>
            <th><%= t(".status") %></th>
            <th><%= t(".badge") %></th>
            <th><%= t(".actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr data-user-id="<%= user.id %>">
              <% if user.nickname.present? %>
                <td><%= link_to user.name, decidim.profile_path(user.nickname) %></td>
                <td><%= link_to user.nickname, decidim.profile_path(user.nickname) %></td>
              <% else %>
                <td><%= user.name %></td>
                <td><%= user.nickname %></td>
              <% end %>
              <td><%= l user.created_at, format: :short %></td>
              <td><%= user.officialized? ? t(".officialized") : t(".not_officialized") %></td>
              <td><%= translated_attribute(user.officialized_as) %></td>

              <td class="table-list__actions">
                <%= icon_link_to "envelope-closed", current_or_new_conversation_path_with(user), t("decidim.contact"), class:"action-icon--new" %>
                <% if user.officialized? %>
                  <%= icon "circle-check", class: "action-icon action-icon--disabled" %>
                  <%= icon_link_to "pencil", new_officialization_path(user_id: user.id), t(".reofficialize"), class: "action-icon--new" %>
                  <%= icon_link_to "circle-x", officialization_path(user.id), t(".unofficialize"), method: :delete, class: "action-icon--reject" %>
                <% else %>
                  <%= icon_link_to "circle-check", new_officialization_path(user_id: user.id), t(".officialize"), class: "action-icon--verify" %>
                  <%= icon "pencil", class: "action-icon action-icon--disabled" %>
                  <%= icon "circle-x", class: "action-icon action-icon--disabled" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users, theme: "decidim" %>
    </div>
  </div>
</div>
