<h2 class="process-title-summary">
  <%= t(".title", name: user.name) %>
</h2>

<%= decidim_form_for(@form, html: { class: "form new_officialization" }, url: officializations_path, method: :post) do |f| %>
  <div class="card">
    <div class="card-section">
      <div class="row column">
        <%= f.hidden_field :user_id %>
        <%= f.translated :text_field, :officialized_as, label: t(".badge") %>
      </div>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= f.submit t(".officialize") %>
  </div>
<% end %>
