<div class="column">
  <div class="card card--process">
    <%= link_to consultation_path(consultation), class: "card__link" do %>
      <div class="card__image-top"
           style="background-image:url('<%= consultation.attached_uploader(:banner_image).path %>')"></div>
    <% end %>
    <div class="card__content">
      <%= link_to consultation_path(consultation), class: "card__link" do %>
        <span class="card__title"><%= translated_attribute consultation.title %></span>
      <% end %>
      <p class="card__desc">
        <%= decidim_sanitize html_truncate(translated_attribute(consultation.subtitle), length: 630, separator: "...") %>
      </p>
    </div>
    <div class="card__footer">
      <div class="card__support">
        <span class="card--process__small"></span>
        <%= link_to consultation_path(consultation), class: "card__button button small" do %>
          <%= t("consultations.consultation_card.view_results", scope: "decidim") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
