<div class="filters-controls hide-for-mediumlarge">
  <button data-open="filter-box" class="filters-controls__trigger" aria-controls="filter-box" aria-haspopup="dialog">
    <%= t "consultations.filters_small_view.filter", scope: "decidim" %>
    <%= icon "caret-bottom",
             class: "icon--small float-right",
             aria_label: t("consultations.filters_small_view.unfold", scope: "decidim"),
             role: "img" %>
  </button>
</div>

<div class="reveal" id="filter-box" data-reveal role="dialog" aria-modal="true" aria-labelledby="filter-box-label">
  <div class="reveal__header">
    <h3 id="filter-box-label" class="reveal__title"><%= t "consultations.filters_small_view.filter_by", scope: "decidim" %>:</h3>
    <button class="close-button" data-close
            aria-label="<%= t("consultations.filters_small_view.close_modal", scope: "decidim") %>"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="filters">
    <%= render partial: "filters", locals: { type: :small } %>
  </div>
</div>
