<div class="card consultations-card">
  <div class="row collapse card--process__row">
    <div class="columns mediumlarge-8 large-9 card--process__column">
      <div class="card__content">
        <%= link_to decidim_consultations.question_path(question), class: "card__link" do %>
          <h2 class="heading5"><%= decidim_sanitize translated_attribute question.title %></h2>
        <% end %>
        <p><%= translated_attribute question.subtitle %></p>
      </div>
    </div>

    <div class="columns mediumlarge-8 large-3 card--process__column">
      <div class="card--full__image consultations-card__image"
           style="background-image: url('<%= question.banner_image_url %>')">
        <div class="card__content row collapse">
          <div class="columns large-10 large-push-1">
            <% if question.results_published? %>
              <%= link_to decidim_consultations.question_path(question),
                          class: "button expanded button--sc" do %>
                <%= t "consultations.question.view_results", scope: "decidim" %>
                <% if question.most_voted_response.present? %>
                  <span class="button__info"><%= translated_attribute question.most_voted_response.title %></span>
                  <span class="button__info">
                    <%= question.most_voted_response.votes_count %>
                    <%= t "consultations.question.votes_out_of", scope: "decidim", count: question.most_voted_response.votes_count %>
                    <%= question.total_votes %>
                  </span>
                <% end %>
              <% end %>
            <% else %>
              <%= display_take_part_button_for(question) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
