<%
edit_link(
  decidim_admin_consultations.consultations_path,
  :read,
  :consultation
)
%>
<% provide :meta_title, t("consultations.index.title", scope: "decidim") %>

<%= participatory_space_wrapper do %>
  <div class="row columns">
    <div class="title-action">
      <div class="row collapse">
        <h1 id="consultations-count" class="title-action__title section-heading">
          <%= render partial: "count", locals: { count: consultations.count } %>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns mediumlarge-4 large-3">
      <%= render partial: "filters_small_view" %>
      <div class="card card--secondary show-for-mediumlarge">
        <%= render partial: "filters" %>
      </div>
    </div>
    <div id="consultations" class="columns mediumlarge-8 large-9">
      <%= render partial: "consultations" %>
    </div>
  </div>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_consultations" %>
<% end %>
