<%= content_tag :div, id: dom_id(resource) do %>
  <%= content_tag title_tag, class: "h4 card__search-title" do %>
    <%= link_to resource_path, class: "card__search" do %>
      <%= title %>
    <% end %>
  <% end %>
  <% if metadata_cell.present? %>
    <div class="card__search-metadata">
     <%= cell metadata_cell, resource, links: false %>
    </div>
  <% end %>
<% end %>
