<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to t("decidim.admin.titles.consultations"), decidim_consultations.consultations_path, target: "_blank" %>
    </div>
  </div>

  <div class="callout warning">
    <%= icon "warning" %>
    <span class="callout-text"><%= t("decidim.admin.consultations.deprecation_warning") %></span>
  </div>
  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
