<% content_for :sidebar_menu_nav do %>
  <%= admin_consultation_menu.render do
    public_page_link decidim_consultations.consultation_path(current_consultation)
  end %>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to translated_attribute(current_consultation.title), decidim_consultations.consultation_path(current_consultation), target: "_blank" %>
    </div>
  </div>

  <div class="process-content">
    <div class="callout warning">
      <%= icon "warning" %>
      <span class="callout-text"><%= t("decidim.admin.consultations.deprecation_warning") %></span>
    </div>
    <%= yield %>
  </div>
<% end %>
