<% content_for :sidebar_menu_nav do %>
  <%= sidebar_menu(:admin_question_menu).render do
    public_page_link decidim_consultations.consultation_path(current_participatory_space.consultation)
  end %>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to translated_attribute(current_participatory_space.consultation.title), decidim_consultations.consultation_path(current_participatory_space.consultation), target: "_blank" %>
      &gt;
      <%= strip_tags translated_attribute(current_participatory_space.title) %>
    </div>
  </div>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
