<section id="process_admins">
  <h4><%= t(".process_admins_title", scope: "decidim.admin") %></h4>

  <%= form_for :participatory_process_user_role, url: participatory_process_user_roles_path(@participatory_process) do |f| %>
    <table class="stack">
      <thead>
        <tr>
          <th><%= t("models.participatory_process_user_role.fields.email", scope: "decidim.admin") %></th>
          <th class="actions"><%= t("actions.title", scope: "decidim.admin") %></th>
        </tr>
      </thead>
      <tbody>
        <% process_admins_roles.each do |role| %>
          <tr>
            <td>
              <%= role.user.email %><br />
            </td>
            <td class="actions">
              <%= link_to t("actions.destroy", scope: "decidim.admin"), participatory_process_user_role_path(@participatory_process, role), method: :delete, class: "small alert button", data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } if can? :destroy, role %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= f.email_field :email, label: false %>
          </td>
          <td class="actions">
            <%= f.submit t("actions.create", scope: "decidim.admin") %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</section>
