<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, aria: { label: :title }, data: { "text-copy" => true, "target" => "strong[data-label-preview]" } %>
      </div>
      <div class="row column">
        <%= form.translated :text_area, :announcement_title, aria: { label: :announcement_title } %>
      </div>

      <div class="row column">
        <div class="organization-colors">
          <%= form.color_field :text_color, data: { "label-preview" => true, "target" => "strong[data-label-preview]", "updates" => "color" } %>
          <%= form.color_field :bg_color, data: { "label-preview" => true, "target" => "strong[data-label-preview]", "updates" => "backgroundColor" } %>

          <div class="mt-8">
            <strong class="label" style="<%= "background-color: #{form.object.bg_color}; color: #{form.object.text_color};" %>" data-label-preview>
              <%= decidim_escape_translated(form.object.title).presence || t(".preview") %>
            </strong>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
