<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, aria: { label: :title }, data: { "text-copy" => true, "target" => "strong[data-label-preview]" } %>
      </div>
      <div class="row column">
        <%= form.translated :text_area, :announcement_title, aria: { label: :announcement_title }, data: {"text-copy" => true, "target" => "div[data-announcement-preview] .flash__title" } %>
      </div>

      <div class="row column">
        <% proposal_state.class.colors.each do |color_name, color_values| %>
          <%= form.radio_button :text_color, color_name,
            label: false,
            class: "!mr-4",
            style: "box-shadow: 0 0 0 6px #{color_values[:foreground]}; accent-color: #{color_values[:foreground]};",
            data: {
              "label-preview" => true,
              "target" => "strong[data-label-preview]",
              "updates" => "color:#{color_values[:foreground]}; backgroundColor:#{color_values[:background]}"
            }
          %>
        <% end %>

        <div class="mt-8">
          <strong class="label" style="<%= "background-color: #{form.object.bg_color}; color: #{form.object.text_color};" %>" data-label-preview>
            <%= decidim_escape_translated(form.object.title).presence || t(".preview") %>
          </strong>
        </div>

        <div class="flash flex-col " data-announcement-preview>
          <div class="flash__title">
            <%= decidim_escape_translated(form.object.announcement_title).presence || t(".preview") %>
          </div>
          <span class="flash__message">
            <p></p><div class="rich-text-display">Id voluptate amet optio nobis temporibus ipsam veritatis distinctio dolore.</div><p></p>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>
