<% content_for :heading do %>
  Buttons
<% end %>

<% content_for :description do %>
  Buttons are built using different combinations of CSS classes: the <code>button</code> class, a size and a color.
<% end %>

<% content_for :toc do %>
  <a href="#sizes">Sizes</a>
  <a href="#colors">Colors</a>
  <a href="#transparent">Transparent</a>
  <a href="#combinations">Text</a>
  <a href="#icons">Icons</a>
  <a href="#disabled">Disabled</a>
<% end %>

<section id="sizes">
  <h2 class="text-3xl font-semibold">Sizes</h2>

  <%
    rows = []
    rows << { class: "button button__primary button__xs" }
    rows << { class: "button button__primary button__sm" }
    rows << { class: "button button__primary button__lg" }
    rows << { class: "button button__primary button__xl" }
  %>

  <%= render partial: "decidim/design/components/buttons/table", locals: { rows: } %>
</section>

<section id="colors">
  <h2 class="text-3xl font-semibold">Colors</h2>

  <%
    rows = []
    rows << { class: "button button__lg button__primary" }
    rows << { class: "button button__lg button__secondary" }
    rows << { class: "button button__lg button__tertiary" }
  %>

  <%= render partial: "decidim/design/components/buttons/table", locals: { rows: } %>
</section>

<section id="transparent">
  <h2 class="text-3xl font-semibold">Transparent</h2>

  <%
    rows = []
    rows << { class: "button button__lg button__transparent-primary" }
    rows << { class: "button button__lg button__transparent-secondary" }
    rows << { class: "button button__lg button__transparent-tertiary" }
  %>

  <%= render partial: "decidim/design/components/buttons/table", locals: { rows: } %>

  <p class="my-4 text-gray-2">In case of a darker background:</p>

  <table class="mt-4 w-full text-center text-sm text-gray-2">
    <thead class="bg-gray-3">
      <th class="px-6 py-2 font-normal border border-background">Button</th>
      <th class="px-6 py-2 font-normal border border-background">Classes</th>
    </thead>
    <tbody>
      <tr>
        <td class="px-6 py-4 border border-background">
          <div class="bg-primary p-4 rounded">
            <button class="button button__lg button__transparent">Send</button>
          </div>
        </td>
        <td class="px-6 py-4 border border-background">
          button button__lg button__transparent
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section id="text">
  <h2 class="text-3xl font-semibold">Text</h2>

  <%
    rows = []
    rows << { class: "button button__lg button__text" }
    rows << { class: "button button__lg button__text-primary" }
    rows << { class: "button button__lg button__text-secondary" }
    rows << { class: "button button__lg button__text-tertiary" }
  %>

  <%= render partial: "decidim/design/components/buttons/table", locals: { rows: } %>
</section>

<section id="icons">
  <h2 class="text-3xl font-semibold">Icons</h2>

  <table class="mt-4 w-full text-center text-sm text-gray-2">
    <thead class="bg-gray-3">
      <th class="px-6 py-2 font-normal border border-background">Button</th>
      <th class="px-6 py-2 font-normal border border-background">Class</th>
    </thead>
    <tbody>
      <tr>
        <td class="px-6 py-4 border border-background">
          <button class="button button__lg button__secondary">
            <%= icon "question-line" %>
            <span>Send</span>
          </button>
        </td>
        <td class="px-6 py-4 border border-background">
          button button__lg button__secondary
        </td>
      </tr>
      <tr>
        <td class="px-6 py-4 border border-background">
          <button class="button button__lg button__transparent-secondary">
            <%= icon "question-line" %>
            <span>Send</span>
          </button>
        </td>
        <td class="px-6 py-4 border border-background">
          button button__lg button__transparent-secondary
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section id="disabled">
  <h2 class="text-3xl font-semibold">Disabled</h2>

  <table class="mt-4 w-full text-center text-sm text-gray-2">
    <thead class="bg-gray-3">
      <th class="px-6 py-2 font-normal border border-background">Button</th>
      <th class="px-6 py-2 font-normal border border-background">HTML</th>
    </thead>
    <tbody>
      <tr>
        <td class="px-6 py-4 border border-background">
          <button class="button button__lg" disabled>Send</button>
        </td>
        <td class="px-6 py-4 border border-background">
          <code>disabled</code> data-attribute present
        </td>
      </tr>
    </tbody>
  </table>
</section>
