<% content_for :heading do %>
  Buttons
<% end %>

<% content_for :description do %>
  Buttons are built using different combinations of CSS classes: the <code>button</code> class, a size and a color.
<% end %>

<% content_for :toc do %>
  <a href="#sizes">Sizes</a>
  <a href="#colors">Colors</a>
  <a href="#transparent">Transparent</a>
  <a href="#combinations">Text</a>
  <a href="#icons">Icons</a>
  <a href="#disabled">Disabled</a>
<% end %>

<section id="sizes" class="design__section">
  <h2 class="design__heading__3xl">Sizes</h2>

  <%
    rows = []
    rows << { class: "button button__primary button__xs" }
    rows << { class: "button button__primary button__sm" }
    rows << { class: "button button__primary button__lg" }
    rows << { class: "button button__primary button__xl" }
  %>

  <%= render partial: "decidim/design/components/buttons/table", locals: { rows: } %>
</section>

<section id="colors" class="design__section">
  <h2 class="design__heading__3xl">Colors</h2>

  <%
    rows = []
    rows << { class: "button button__lg button__primary" }
    rows << { class: "button button__lg button__secondary" }
    rows << { class: "button button__lg button__tertiary" }
  %>

  <%= render partial: "decidim/design/components/buttons/table", locals: { rows: } %>
</section>

<section id="transparent" class="design__section">
  <h2 class="design__heading__3xl">Transparent</h2>

  <%
    rows = []
    rows << { class: "button button__lg button__transparent-primary" }
    rows << { class: "button button__lg button__transparent-secondary" }
    rows << { class: "button button__lg button__transparent-tertiary" }
  %>

  <%= render partial: "decidim/design/components/buttons/table", locals: { rows: } %>

  <p class="my-4 text-gray-2">In case of a darker background:</p>

  <table class="design__table">
    <thead>
      <th>Button</th>
      <th>Classes</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="bg-primary p-4 rounded">
            <button class="button button__lg button__transparent">Send</button>
          </div>
        </td>
        <td>
          button button__lg button__transparent
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section id="text" class="design__section">
  <h2 class="design__heading__3xl">Text</h2>

  <%
    rows = []
    rows << { class: "button button__lg button__text" }
    rows << { class: "button button__lg button__text-primary" }
    rows << { class: "button button__lg button__text-secondary" }
    rows << { class: "button button__lg button__text-tertiary" }
  %>

  <%= render partial: "decidim/design/components/buttons/table", locals: { rows: } %>
</section>

<section id="icons" class="design__section">
  <h2 class="design__heading__3xl">Icons</h2>

  <table class="design__table">
    <thead>
      <th>Button</th>
      <th>Class</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <button class="button button__lg button__secondary">
            <%= icon "question-line" %>
            <span>Send</span>
          </button>
        </td>
        <td>
          button button__lg button__secondary
        </td>
      </tr>
      <tr>
        <td>
          <button class="button button__lg button__transparent-secondary">
            <%= icon "question-line" %>
            <span>Send</span>
          </button>
        </td>
        <td>
          button button__lg button__transparent-secondary
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section id="disabled" class="design__section">
  <h2 class="design__heading__3xl">Disabled</h2>

  <table class="design__table">
    <thead>
      <th>Button</th>
      <th>HTML</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <button class="button button__lg" disabled>Send</button>
        </td>
        <td>
          <code>disabled</code> data-attribute present
        </td>
      </tr>
    </tbody>
  </table>
</section>
