<%= link_to consultation_path(consultation), class: "consultations-banner" do %>
  <div class="consultations-header consultations-home-banner row column">
    <div class="row column consultations-header__main"
         style="background-image:url('<%= consultation.attached_uploader(:banner_image).path %>');">
      <div class="consultations-header__container row">
        <div class="columns mediumlarge-9 consultations-header__info">
          <div>
            <h1 class="heading2 text-highlight"><%= translated_attribute consultation.title %></h1>
            <p class="text-highlight"><%= translated_attribute consultation.subtitle %></p>
          </div>
        </div>

        <div class="columns mediumlarge-3">
          <div class="consultations-header__extra">
            <div>
              <% if consultation.active? %>
                <span class="consultations-header__extra-title"><%= t ".start_voting_date" %></span>
                <span class="consultations-header__extra-date">
                  <%= l consultation.start_voting_date %>
                </span>
              <% end %>

              <% if consultation.finished? %>
                <span class="button consultations-banner__action"><%= t ".view_results" %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
