<%# content_for :sidebar_menu_nav do %>
  <%#= sidebar_menu(:admin_initiatives_menu).render %>
<%# end %>

<% content_for :breadcrumb_nav do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to t("decidim.admin.titles.initiatives"), decidim_initiatives.initiatives_path, target: "_blank", class: "process-title-content-breadcrumb" %>
      <div class="process-title-content-breadcrumb-container-right">
        <% if allowed_to? :create, :assembly %>
          <%= link_to new_assembly_path(parent_id: parent_assembly&.id), class: "process-title-content-breadcrumb-container-right-link" do %>
            <svg viewBox="0 0 24 24" id="ri-add-line" class="w-4 h-4">
              <path fill="none" d="M0 0h24v24H0z"/>
              <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/>
            </svg>
            <span>
              <%= t("actions.new_assembly", scope: "decidim.admin") %>
            </span>
          <% end %>
        <% end %>
        <div class="inline-block relative">
          <%= button_tag id: "assemblies-dropdown-menu-trigger", data: { component: 'dropdown', target: 'assemblies-dropdown-menu-settings' }, class: 'dropdown__trigger button button__transparent' do %>
            <svg viewBox="0 0 24 24" id="ri-more-line">
              <g>
                  <path fill="none" d="M0 0h24v24H0z"/>
                  <path d="M4.5 10.5c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5S6 12.825 6 12s-.675-1.5-1.5-1.5zm15 0c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5S21 12.825 21 12s-.675-1.5-1.5-1.5zm-7.5 0c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5 1.5-.675 1.5-1.5-.675-1.5-1.5-1.5z"/>
              </g>
            </svg>
          <% end %>
          <div id="assemblies-dropdown-menu-settings">
            <ul class="dropdown dropdown__bottom">
              <li class="dropdown__item">
                <% if allowed_to?(:index, :initiative) %>
                   <%= link_to t("menu.initiatives", scope: "decidim.admin"),
                               decidim_admin_initiatives.initiatives_path,
                               class: "text-secondary" %>
                 <% end %>
              </li>
              <li class="dropdown__item">
                <% if allowed_to?(:manage, :initiative_type) %>
                  <%= link_to t("menu.initiatives_types", scope: "decidim.admin"),
                             decidim_admin_initiatives.initiatives_types_path,
                             class: "text-secondary" %>
                <% end %>
              </li>
              <li class="dropdown__item">
                <% if allowed_to?(:update, :initiatives_settings) %>
                  <%= link_to t("menu.initiatives_settings", scope: "decidim.admin"),
                             decidim_admin_initiatives.edit_initiatives_setting_path(
                                                       Decidim::InitiativesSettings.find_or_create_by!(
                                                         organization: current_organization
                                                       )
                                                     ),
                             class: "text-secondary" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render "layouts/decidim/admin/application" do %>
  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
