<% content_for :breadcrumb_context_menu do %>
  <div class="inline-block relative">
    <%= button_tag data: { component: "dropdown", target: "initiatives-dropdown-menu-settings" }, class: "dropdown__trigger button button__transparent" do %>
      <%= t("actions.manage", scope: "decidim.admin") %>
      <%= icon "arrow-down-s-line" %>
    <% end %>
    <div id="initiatives-dropdown-menu-settings" aria-hidden="true">
      <ul class="dropdown dropdown__bottom">
        <li class="dropdown__item">
          <% if allowed_to?(:index, :initiative) %>
              <%= icon "lightbulb-flash-line" %>
              <%= link_to t("menu.initiatives", scope: "decidim.admin"),
                          decidim_admin_initiatives.initiatives_path,
                          class: "text-secondary" %>
           <% end %>
        </li>
        <li class="dropdown__item">
          <% if allowed_to?(:manage, :initiative_type) %>
            <%= icon "layout-masonry-line" %>
            <%= link_to t("menu.initiatives_types", scope: "decidim.admin"),
                        decidim_admin_initiatives.initiatives_types_path,
                        class: "text-secondary" %>
          <% end %>
        </li>
        <li class="dropdown__item">
          <% if allowed_to?(:update, :initiatives_settings) %>
            <%= icon "tools-line" %>
            <%= link_to t("menu.initiatives_settings", scope: "decidim.admin"),
                        decidim_admin_initiatives.edit_initiatives_setting_path(
                                                  Decidim::InitiativesSettings.find_or_create_by!(
                                                    organization: current_organization
                                                  )
                                                ),
                        class: "text-secondary" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
