<% content_for :breadcrumb_context_menu do %>
  <div class="inline-block relative">
    <%= button_tag id: "initiative-dropdown-menu-trigger", data: { component: 'dropdown', target: 'initiative-dropdown-menu-settings' }, class: 'dropdown__trigger button button__transparent' do %>
      <%= icon "more-line" %>
    <% end %>
    <div id="initiative-dropdown-menu-settings" class="process-title-content-dropdown">
      <%= sidebar_menu(:admin_initiative_menu).render %>
    </div>
  </div>
<% end %>
<%= render "layouts/decidim/admin/application" do %>
  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
