<%# content_for :sidebar_menu_nav do %>
  <%#= sidebar_menu(:admin_initiative_menu).render do
    public_page_link decidim_initiatives.initiative_path(current_participatory_space)
  end %>
<%# end %>
<% content_for :breadcrumb_nav do %>
<div class="process-title">
  <div class="container">
    <div class="process-title-content">
      <div class="process-title-content-breadcrumb-container-left">
        <%= link_to decidim_admin.root_path, class: "process-title-content-icon-home", data: { "external-link": false } do %>
          <%= icon "home-gear-line" %>
        <% end %>
        <span class="text-white">/</span>
        <%= link_to t("decidim.admin.titles.initiatives"), decidim_admin_initiatives.initiatives_path, data: { "external-link": false }, class: "process-title-content-breadcrumb-no-active" %>
        <span class="text-white">/</span>
        <%= link_to translated_attribute(current_participatory_space.title), decidim_admin_initiatives.edit_initiative_path(current_participatory_space), data: { "external-link": false }, class: 'process-title-content-breadcrumb', class: "process-title-content-breadcrumb" %>
      </div>
      <div class="process-title-content-breadcrumb-container-right">
        <div class="inline-block relative">
          <%= button_tag id: "initiative-dropdown-menu-trigger", data: { component: 'dropdown', target: 'initiative-dropdown-menu-settings' }, class: 'dropdown__trigger button button__transparent' do %>
            <%= icon "more-line" %>
          <% end %>
          <div id="initiative-dropdown-menu-settings" class="process-title-content-dropdown">
            <%= sidebar_menu(:admin_initiative_menu).render %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= render "layouts/decidim/admin/application" do %>
  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
