<% add_secondary_root_menu(:admin_initiative_menu) %>

<% content_for :breadcrumb_context_menu do %>
  <div class="inline-block relative">
    <%= button_tag id: "initiative-menu-trigger", data: { component: "dropdown", target: "initiative-dropdown-menu-settings" }, class: "dropdown__trigger button button__transparent" do %>
      <%= t("actions.manage", scope: "decidim.admin") %>
      <%= icon "arrow-down-s-line" %>
    <% end %>
    <div id="initiative-dropdown-menu-settings" class="process-title-content-dropdown">
      <%= dropdown_menu(:admin_initiative_menu).render %>
    </div>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
