<% add_secondary_root_menu(:admin_initiative_menu) %>

<% content_for :breadcrumb_context_menu do %>
  <div class="process-title-content-breadcrumb-container-right">
    <%= link_to decidim_initiatives.initiative_path(current_participatory_space, locale: current_locale), class: "button button__sm button__transparent process-title-content-breadcrumb-container-right-link", target: "_blank", data: { "external-link": false } do %>
      <%= icon "eye-line" %>
      <span>
        <%= t("see_initiative", scope: "decidim.admin.menu.initiatives_menu") %>
      </span>
    <% end %>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
