<button class="conference__media-photo" data-conference-media-photo data-dialog-open="media-picture-<%= index %>">
  <div class="conference__media-photo__img"><%= image_thumb %></div>
  <div class="conference__media-photo__title"><%= title %></div>
  <div class="conference__media-photo__description"><%= short_description %></div>
</button>

<%= decidim_modal id: "media-picture-#{index}", class: "conference__media-modal" do %>
<div data-dialog-container>
  <%= icon "image-line" %>
  <h3 id="dialog-title-media-picture-<%= index %>" data-dialog-title><%= t("conferences.photo.show.photo", scope: "decidim") %></h3>
  <div>
    <div class="conference__media-modal__img">
      <%= image_big %>
    </div>
    <div class="conference__media-modal__title"><%= title %></div>
    <div class="conference__media-modal__description"><%= decidim_sanitize_editor description %></div>
  </div>
</div>
<% end %>
