<% add_secondary_root_menu(:admin_assembly_menu) %>

<% add_decidim_page_title(translated_attribute(current_participatory_space.title)) %>
<% content_for :breadcrumb_context_menu do %>
  <div class="process-title-content-breadcrumb-container-right">
    <%= link_to decidim_assemblies.assembly_path(current_participatory_space, locale: current_locale), class: "button button__sm button__transparent process-title-content-breadcrumb-container-right-link", target: "_blank", data: { "external-link": false } do %>
      <%= icon "eye-line" %>
      <span>
        <%= t("see_assembly", scope: "decidim.admin.menu.assemblies_submenu") %>
      </span>
    <% end %>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
