<% content_for :breadcrumb_context_menu do %>
  <div class="process-title-content-breadcrumb-container-right">
    <% if allowed_to? :create, :assembly_type %>
      <%= link_to [:new, :assemblies_type], class: "process-title-content-breadcrumb-container-right-link" do %>
        <%= icon "add-line", class: "w-4 h-4" %>
        <span>
          <%= t("actions.new_assembly_type", scope: "decidim.admin") %>
        </span>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
