<% content_for :breadcrumb_context_menu do %>
  <div class="process-title-content-breadcrumb-container-right">
    <%= link_to t("actions.new_assembly_member", scope: "decidim.admin"), new_assembly_member_path(current_assembly), class: "button button__sm button__transparent process-title-content-breadcrumb-container-right-link" %>
    <div class="inline-block relative">
      <%= button_tag id: "assembly-menu-trigger", data: { component: "dropdown", target: "assembly-dropdown-menu-settings" }, class: "dropdown__trigger button button__transparent" do %>
        <span>
          <%= t("menu.manage", scope: "decidim.admin") %>
        </span>
        <%= icon "arrow-down-s-line" %>
      <% end %>
      <div id="assembly-dropdown-menu-settings" class="process-title-content-dropdown">
        <%= dropdown_menu(:admin_assembly_menu).render %>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
