<% content_for :breadcrumb_context_menu do %>
  <div class="process-title-content-breadcrumb-container-right">
    <%= link_to t("actions.new", scope: "decidim.admin", name: t("models.assembly_member.name", scope: "decidim.admin")), new_assembly_member_path(current_assembly), class: "process-title-content-breadcrumb-container-right-link" %>
    <div class="inline-block relative">
      <%= button_tag id: "assembly-dropdown-menu-trigger", data: { component: 'dropdown', target: 'assembly-dropdown-menu-settings' }, class: 'dropdown__trigger button button__transparent' do %>
        <%= icon "more-line" %>
      <% end %>
      <div id="assembly-dropdown-menu-settings" class="process-title-content-dropdown">
        <%= sidebar_menu(:admin_assembly_menu).render %>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
