<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
      <%= render partial: "decidim/accountability/admin/shared/subnav" %>
    </h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.translated :editor, :intro, autofocus: true %>
    </div>

    <div class="row column">
      <%= form.translated :text_field, :categories_label %>
    </div>

    <div class="row column">
      <%= form.translated :text_field, :subcategories_label %>
    </div>

    <div class="row column">
      <%= form.translated :text_field, :heading_parent_level_results %>
    </div>

    <div class="row column">
      <%= form.translated :text_field, :heading_leaf_level_results %>
    </div>
  </div>
</div>
