<section id="highlighted_content_banner" class="home__section-image" style="--hero-image:url('<%= background_image %>');">
  <div class="home__section-content-banner home__section">
    <div>
      <h2 class="home__section-content-banner__title">
        <%= translated_title %>
      </h2>
      <div class="editor-content">
        <%= translated_short_description%>
      </div>
    </div>
    <%= link_to model.settings.action_button_url, class: "button button__lg button__secondary mt-4 md:mt-0 mr-auto md:mr-0 md:ml-auto" do %>
      <span>
        <%= translated_banner_action_title %>
        <span class="block font-normal text-sm">
          <%= translated_banner_action_subtitle %>
        </span>
      </span>
    <% end %>
  </div>
</section>
