<div class="table-scroll" role="table" aria-labelledby="taxonomies-title">
  <table class="table-list">
    <thead>
    <tr role="row">
      <th scope="col" role="columnheader"><span class="sr-only">Move</span></th>
      <th scope="col" role="columnheader" class="!text-left"><%= t("decidim.admin.taxonomies.name") %></th>
      <th scope="col" role="columnheader"><%= t("decidim.admin.taxonomies.amount") %></th>
      <th scope="col" role="columnheader"><%= t("decidim.admin.taxonomies.actions") %></th>
    </tr>
    </thead>
    <tbody class="draggable-list js-connect js-list-available" data-sort-url="<%= taxonomies_path %>" role="rowgroup">
    <% taxonomies.each do |taxonomy| %>
      <tr class="draggable-item" data-content-block-id="<%= taxonomy.id %>" draggable="true" role="row">
        <td role="cell"><%== icon("drag-move-2-fill") %></td>
        <td class="!text-left" role="cell"><%= translated_attribute(taxonomy.name) %></td>
        <td role="cell"><%= taxonomy.children.count %></td>
        <td class="table-list__actions" role="cell">
          <% if allowed_to? :update, :taxonomy, taxonomy: taxonomy %>
            <%= icon_link_to "pencil-line", [:edit, taxonomy], t("actions.edit", scope: "decidim.admin"), class: "action-icon--edit", method: :get, data: {} %>
          <% end %>

          <% if allowed_to? :destroy, :taxonomy, taxonomy: taxonomy %>
            <%= icon_link_to "delete-bin-line", taxonomy, t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
