<% add_decidim_page_title(t(".title", taxonomy_name: translated_attribute(taxonomy.name))) %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title", taxonomy_name: translated_attribute(taxonomy.name)) %>
  </h1>
</div>
<div class="item__edit-form">
  <%= decidim_form_for(@form, html: { class: "form-defaults form edit_taxonomy_" }) do |f| %>
    <%= render partial: "form", object: f %>
    <div class="item__edit-sticky">
      <div class="item__edit-sticky-container">
        <%= f.submit t(".update"), class: "button button__sm button__secondary" %>
      </div>
    </div>
  <% end %>

  <% if taxonomies.any? %>
    <%= render "table", collection: taxonomies %>
  <% end %>

  <div class="mt-8">
    <%= link_to t(".new_element"), new_taxonomy_element_path(taxonomy), id: "new-element", class: "js-drawer-editor button button__sm button__transparent-secondary new" %>
  </div>
</div>

<%= decidim_drawer id: "element-form" do %>
  <div data-dialog-container></div>
<% end %>

<script>

document.addEventListener("decidim:loaded", function() {
  const drawer = window.Decidim.currentDialogs["element-form"];
  const drawerButtons = document.querySelectorAll(".js-drawer-editor");
  const container = drawer.dialog.querySelector("[data-dialog-container]");

  drawerButtons.forEach(function(button) {
    button.addEventListener("click", function(evt) {
      evt.preventDefault();
      container.innerHTML = '<div class="spinner-container">&nbsp;</div>';
      const href = button.getAttribute("href");
      console.log("open drawer", evt, href);
      fetch(href)
        .then(response => response.text())
        .then(html => {
          container.innerHTML = html;
        });
      drawer.open();
    });
  });
});

</script>
