<% add_decidim_page_title(t(".title", taxonomy_name: translated_attribute(taxonomy.name))) %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title", taxonomy_name: translated_attribute(taxonomy.name)) %>
  </h1>
</div>
<div class="item__edit-form">
  <%= decidim_form_for(@form, html: { class: "form-defaults form edit_taxonomy_" }) do |f| %>
    <%= render partial: "form", object: f %>
    <div class="item__edit-sticky">
      <div class="item__edit-sticky-container">
        <%= f.submit t(".update"), class: "button button__sm button__secondary" %>
      </div>
    </div>
  <% end %>

  <% if taxonomies.any? %>
    <p class="help-text mt-8"><%= t(".description") %></p>
    <%= render "table", collection: taxonomies %>
  <% else %>
    <p class="help-text mt-8"><%= t(".no_elements") %></p>
  <% end %>

  <div class="mt-8">
    <%= link_to t(".new_element"), new_taxonomy_element_path(taxonomy), id: "new-element", class: "js-drawer-editor button button__sm button__transparent-secondary new" %>
  </div>
</div>

<%= decidim_drawer id: "element-form" do %>
  <div data-dialog-container></div>
<% end %>

<script>
  document.addEventListener("decidim:loaded", function() {
    var drawer = window.Decidim.currentDialogs["element-form"];
    var drawerButtons = document.querySelectorAll(".js-drawer-editor");
    var container = drawer.dialog.querySelector("[data-dialog-container]");

    function setDrawerContent(content) {
      container.innerHTML = content;
      window.initFoundation(container);

      var form = container.querySelector("#taxonomy-element-form");
      if(!form) {
        return location.reload();
      }

      form.addEventListener("ajax:beforeSend", function(evt) {
        form.classList.add("spinner-container");
      });

      form.addEventListener("ajax:success", function(evt) {
        var [data, _status, xhr] = event.detail;
        console.log(location.pathname, xhr.responseURL);

        if(xhr.responseURL.indexOf(location.pathname) > -1) {
          location.href = xhr.responseURL;
        } else {
          setDrawerContent(data.body.innerHTML)
        }
      });
    }

    drawerButtons.forEach(function(button) {
      button.addEventListener("click", function(evt) {
        evt.preventDefault();
        container.innerHTML = '<div class="spinner-container">&nbsp;</div>';
        fetch(button.getAttribute("href"))
          .then(function(response) { return response.text() })
          .then(function(html) { setDrawerContent(html) });
        drawer.open();
      });
    });
  });
</script>
