<% add_decidim_page_title(t("taxonomies", scope: "decidim.admin.titles")) %>
<div class="card" id="areas" role="region" aria-labelledby="taxonomies-title">
  <div class="item_show__header">
    <h1 class="item_show__header-title" id="taxonomies-title">
      <%= t "decidim.admin.titles.taxonomies" %>
      <% if allowed_to? :create, :taxonomy %>
        <%= link_to t("new.create", scope: "decidim.admin.taxonomies"), new_taxonomy_path, class: "button button__sm button__secondary new" %>
      <% end %>
    </h1>
  </div>
  <div class="my-6">
    <%= t(".description") %>
  </div>
  <% if taxonomies.any? %>
    <div class="filters__section">
      <div class="fcell search">
        <%= search_form_for(@query, url: taxonomies_path) do |form| %>
          <div class="input-group">
            <%= form.search_field(
                  :name_cont,
                  class: "input-group-field bg-secondary/5",
                  label: false,
                  placeholder: t("filters.search_placeholder", scope: "decidim.admin.taxonomies")
                ) %>
            <div class="input-group-button">
              <button type="submit" class="text-secondary" aria-label="<%= t("decidim.search.term_input_placeholder") %>">
                <%= icon "search-line", class: "fill-secondary w-4 h-4" %>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render "table", collection: taxonomies %>
  <% else %>
    <p><%= t("decidim.admin.taxonomies.no_taxonomies") %></p>
  <% end %>
</div>
