<% if proposals.any? %>
  <section class="section row collapse highlighted_proposals">
    <h4 class="section-heading">
      <%= t(".proposals") %>  <a href="<%= main_component_path(proposals.first.component) %>" class="text-small"><%= t(".see_all_proposals", count: proposals_count) %></a>
    </h4>

    <%= cell(
      "decidim/collapsible_list",
      proposals,
      cell_options: {},
      list_class: "row small-up-1 medium-up-2 card-grid",
      size: proposals.count
      ) %>

    <%= link_to t(".see_all_proposals", count: proposals_count), "#", class: "button button--sc light secondary button--right" %>
  </section>
<% end %>
