<div class="row column">
  <section class="section">
    <div class="card card--list">
      <% @user_groups.each do |user_group| %>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <h5 class="card--list__heading">
                <%= user_group.name %>
              </h5>
              <span class="text-small"><%= l(user_group.created_at, format: :long) %></span>
              <% if user_group.verified? %>
                <span class="success label"><%= t('.verified') %></span>
              <% end %>
              <% if user_group.rejected? %>
                <span class="alert label"><%= t('.rejected') %></span>
              <% end %>
              <% if user_group.pending? %>
                <span class="warning label"><%= t('.pending') %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
