<div class="author__avatar-container is-compact">
  <%= render :avatar_image %>
</div>

<div>
  <div class="author__name">
    <% if disable_tooltip %>
      <%= render :name %>
    <% else %>
      <%= with_tooltip render(:profile_minicard) do %>
        <%= render :name %>
      <% end %>
    <% end %>
  </div>
  <% context_actions.each do |action| %>
    <%= render action %>
  <% end %>
</div>
