<div class="p-xs flex--sbc">
  <div class="mr-s">
    <div class="card__header collapse">
      <%= cell("decidim/user_profile", raw_model).user_data %>
    </div>
    <div class="card__text card--picture-offset">
      <%= text_link_to_current_or_new_conversation_with(model) %>
    </div>
  </div>
  <div class="ml-s">
    <%= cell "decidim/follow_button", raw_model %>
    <div>
      <%= link_to decidim.profile_followers_path(raw_model.nickname), class: "card__link" do %>
        <strong><%= model.followers_count %></strong> <%= t("decidim.profiles.show.followers") %>
      <% end %>
    </div>
    <% if model.can_follow? %>
      <div>
        <%= link_to decidim.profile_following_path(raw_model.nickname), class: "card__link" do %>
          <strong><%= model.following_count %></strong> <%= t("decidim.profiles.show.following") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
