<% add_decidim_meta_tags(title: translated_attribute(current_participatory_space.title)) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :update,
  :voting,
  voting: current_participatory_space
)
%>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12">
      <%= t("title", scope: "decidim.votings.votings.check_census") %>
    </h1>

    <div class="text-lg text-gray-2 text-left">
      <%= t("description", scope: "decidim.votings.votings.check_census") %>
    </div>
  </div>

  <% if success %>

    <%# NOTE: announcement cell clean_body method will purge the button %>
    <div class="flash success flex-col" data-announcement>
      <div class="h4">
        <%= t("decidim.votings.votings.check_census.success.title") %>
      </div>
      <span class="flash__message">
        <%= t("decidim.votings.votings.check_census.success.info") %>
        <button type="button" class="button button__text-secondary" data-dialog-open="access-code-modal">
          <% if Decidim.sms_gateway_service.to_s.safe_constantize %>
            <%= t("decidim.votings.votings.check_census.success.access_link_with_sms") %>
          <% else %>
            <%= t("decidim.votings.votings.check_census.success.access_link") %>
          <% end %>
        </button>
      </span>
    </div>

    <% if datum.email.present? || datum.mobile_phone_number.present? %>
      <%= render partial: "access_code_modal", locals: { datum:, email: datum.email ? datum.email.gsub!(/^.+@/,"****@") : "", sms: datum.mobile_phone_number ? datum.mobile_phone_number.gsub!(/.{3}\d$/,"***") : "" } %>
    <% end %>

  <% elsif not_found %>

    <% announcement_not_found = { title: t("decidim.votings.votings.check_census.error.title"), body: t("decidim.votings.votings.check_census.error.info", census_contact_information: ) } %>

    <%= cell("decidim/announcement", announcement_not_found, callout_class: "alert" ) %>
  <% end %>

  <% if !success %>
    <%= decidim_form_for(@form, url: voting_check_census_path, html: { class: "form", autocomplete: "off" }) do |f| %>
      <%= form_required_explanation %>

      <div class="form__wrapper">
        <p class="text-gray-2"><%= t("form_title", scope: "decidim.votings.votings.check_census") %></p>

        <%= render partial: "check_fields", locals: { f:, form: @form } %>
      </div>

      <div class="form__wrapper-block">
        <%= f.submit t("check_status", scope: "decidim.votings.votings.check_census"), class: "button button__sm md:button__lg button__secondary" %>
      </div>
    <% end %>
  <% end %>
<% end %>
