<% add_decidim_meta_tags(title: t("votings.index.title", scope: "decidim.votings")) %>

<%
edit_link(
  decidim_admin_votings.votings_path,
  :read,
  :voting
)
%>

<%# NOTE: use elections pack since the styles are placed there %>
<%= append_stylesheet_pack_tag "decidim_elections" %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12">
      <%= t("title", scope: "decidim.votings.votings.elections_log") %>
    </h1>

    <div class="text-lg text-gray-2 text-left">
      <%= t("description", scope: "decidim.votings.votings.elections_log") %>
    </div>
  </div>

  <% elections.each do |election| %>
    <div class="election-log__entry" data-log-entry>
      <span class="election-log__time"><%= election.start_time %></span>

      <h2 class="h4 text-secondary">
        <%= translated_attribute(election.title) %>
        <span class="label"><%= election.bb_status.to_s.titlecase %></span>
      </h2>

      <%= translated_attribute(election.description).html_safe %>
    </div>
  <% end %>
<% end %>
