<% add_decidim_meta_tags(title: t("votings.index.title", scope: "decidim.votings")) %>

<%
edit_link(
  decidim_admin_votings.votings_path,
  :read,
  :voting
)
%>

<%= append_javascript_pack_tag "decidim_votings" %>
<%= append_stylesheet_pack_tag "decidim_votings" %>

<% content_for :aside do %>
  <h1 class="title-decorator"><%= t("decidim.menu.votings") %></h1>

  <%= render layout: "decidim/shared/filters", locals: { filter_sections: , search_variable: :search_text_cont, skip_to_id: "votings" } do %>
    <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
  <% end %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>

  <%= participatory_space_floating_help %>

  <% if promoted_votings.any? %>
    <section id="highlighted-votings" class="layout-main__section layout-main__heading">
      <h2 class="h5 md:h3 decorator"><%= t("votings.index.promoted_votings", scope: "layouts.decidim") %></h2>

      <% promoted_votings.each do |promoted_item| %>
        <%= card_for promoted_item, highlight: true, size: :g %>
      <% end %>
    </section>
  <% end %>

  <section id="votings" class="layout-main__section layout-main__heading">
    <%= render partial: "votings" %>
  </section>
<% end %>
