<% add_decidim_meta_tags(title: translated_attribute(current_participatory_space.title)) %>

<%= display_flash_messages unless request.post? && @form.invalid? %>
<div class="focus__header">
  <div class="row">
    <div class="focus__steps">
      <strong>
        <%= t("votings.login.step", scope: "decidim.votings") %>
      </strong>
    </div>
    <div class="heading5 focus__header-title">
      <%= translated_attribute(election.title) %>
    </div>
  </div>
</div>
<div class="focus__content evote">
  <div class="row">
    <h1 class="heading2">
      <%= t("votings.login.title", scope: "decidim.votings") %>
    </h1>
    <div class="evote__content">
      <div class="evote__grid">
        <%= decidim_form_for(@form, url: params[:vote_path], html: { class: "form" }) do |f| %>
          <div class="row mt-sm">
            <div class="columns medium-centered large-8">
              <p class="text-center"><strong><%= t(".form_title") %></strong></p>
              <div class="card">
                <div class="card__content">
                  <form>
                    <div>
                      <%= render partial: "check_fields", locals: { f: f, form: @form } %>
                    </div>
                    <div>
                      <%= f.text_field :access_code, label: t(".access_code"), placeholder: t(".access_code_placeholder") %>
                    </div>
                    <%= f.submit t(".start_voting"), class: "button expanded mt-s mb-none" %>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <p>
        <%= t("votings.login.dont_have_access_code", scope: "decidim.votings") %>
        <%= link_to t("votings.login.ask_for_a_new_one", scope: "decidim.votings"), voting_check_census_path %>
      </p>
    </div>
  </div>
</div>
