<% add_decidim_meta_tags(title: translated_attribute(current_participatory_space.title)) %>

<%= append_stylesheet_pack_tag "decidim_elections" %>
<%= append_javascript_pack_tag "decidim_elections" %>

<%= display_flash_messages unless request.post? && @form.invalid? %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="flex justify-center">
    <h1 class="title-decorator my-12">
      <%= t("vote_for", scope: "decidim.elections.votes.header", title: translated_attribute(election.title) ) %>
    </h1>
  </div>

  <ol id="wizard-steps" class="wizard-steps">
    <%
      # i18n-tasks-use t('decidim.elections.votes.header.register')
      # i18n-tasks-use t('decidim.elections.votes.header.election')
      # i18n-tasks-use t('decidim.elections.votes.header.confirm')
      # i18n-tasks-use t('decidim.elections.votes.header.ballot_decision')
    %>
    <% %w(register election confirm ballot_decision).each_with_index do |wizard_step, i| %>
      <li data-step="step-<%= wizard_step %>" <%= "aria-current=step" if i.zero? %>><%= t(wizard_step, scope: "decidim.elections.votes.header") %></li>
    <% end %>
  </ol>

  <div class="election-question__intro">
    <h2 class="h3">
      <%= t("votings.login.title", scope: "decidim.votings") %>
    </h2>

    <p class="election-question__description">
      <%= t("form_title", scope: "decidim.votings.votings.login") %>
    </p>
  </div>

  <%= decidim_form_for(@form, url: params[:vote_path], html: { class: "form", autocomplete: "off" }) do |f| %>
    <%= form_required_explanation %>

    <div class="form__wrapper">
      <%= render partial: "check_fields", locals: { f:, form: @form } %>

      <%= f.text_field :access_code, label: t("access_code", scope: "decidim.votings.votings.login"), placeholder: t("access_code_placeholder", scope: "decidim.votings.votings.login") %>
    </div>

    <div class="form__wrapper-block">
      <%= f.submit t("start_voting", scope: "decidim.votings.votings.login"), class: "button button__sm md:button__lg button__secondary" %>
    </div>

    <div class="text-gray-2 py-10 border-t-2 border-background">
      <%= t("votings.login.dont_have_access_code", scope: "decidim.votings") %>
      <%= link_to t("votings.login.ask_for_a_new_one", scope: "decidim.votings"), voting_check_census_path, class: "text-secondary hover:underline" %>
    </div>
  <% end %>

<% end %>
