<div class="column">
  <article class="card card--sortition">
    <div class="card__content">
      <div class="card__header">
        <%= link_to sortition do %>
          <h5 class="card__title"><%= translated_attribute sortition.title %></h5>
        <% end %>
        <div class="card__author author-data author-data--small">
          <%= render partial: "sortition_author", locals: { sortition: sortition } %>
        </div>
        <%= resource_reference(sortition, class: "reference--text-left") %>
      </div>
      <p class="card__desc">
        <%= decidim_sanitize html_truncate(translated_attribute(sortition.additional_info), length: 100, separator: "...") %>
      </p>
      <%= render partial: "tags", locals: { sortition: sortition } %>
    </div>
    <div class="card__footer">
      <div class="card__support">
        <div class="card__support__data"><%= t ".selected_proposals", count: sortition.selected_proposals.count %></div>
        <%= link_to t(".view_sortition"), sortition, class: "card__button button small secondary" %>
      </div>
    </div>
  </article>
</div>
