<% add_decidim_meta_tags(
  description: translated_attribute(current_component.participatory_space.try(:description)),
  title: t("decidim.components.pagination.page_title",
           component_name: component_name,
           current_page: @sortitions.current_page,
           total_pages: @sortitions.total_pages ),
  url: sortitions_url,
  resource: current_component) %>

<% content_for :aside do %>
  <h1 class="title-decorator"><%= component_name %></h1>

  <%= render layout: "decidim/shared/filters", locals: { filter_sections: filter_sections_sortitions, search_variable: :search_text_cont, skip_to_id: "sortitions" } do %>
    <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
  <% end %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <section id="sortitions" class="layout-main__section layout-main__heading">
    <%= render partial: "sortitions" %>
  </section>
<% end %>
