<% add_decidim_meta_tags({
  description: decidim_sanitize_editor(translated_attribute(sortition.additional_info)),
  title: decidim_html_escape(translated_attribute(sortition.title)),
  url: sortition_url(sortition.to_param)
}) %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_sortitions" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_sortitions" %>
<% end %>


<%= render layout: "layouts/decidim/shared/layout_item", locals: { back_path: :sortitions, commentable: sortition } do %>

  <div class="callout secondary">
    <h4 class="h4 font-bold mb-2">
      <%= t("sortition", scope: "decidim.sortitions.sortitions.show") %>
    </h4>
    <%= t("introduction", scope: "decidim.sortitions.sortitions.show", reference: sortition.id, target_items: sortition.target_items) %>:
  </div>
  <h1 class="h1 decorator">
    <%= decidim_html_escape(translated_attribute(sortition.title)) %>
  </h1>
  <%#= cell "decidim/author", sortition.author, skip_profile_link: true %>
  <%= render partial: "sortition_author", locals: { sortition: sortition } %>
  <div class="editor-content">
    <%= decidim_sanitize_editor translated_attribute sortition.additional_info %>
  </div>
  <% if sortition.cancelled? %>
    <%= render partial: "sortition_cancel_author", locals: { sortition: sortition } %>
    <div class="callout alert">
      <h4 class="h4 font-bold">
        <%= t("cancelled", scope: "decidim.sortitions.sortitions.show") %>
      </h4>
      <%= decidim_sanitize_editor translated_attribute sortition.cancel_reason %>
    </div>
  <% end %>
  <h2 class="h2 editor-content">
    <%= t("witnesses", scope: "decidim.sortitions.sortitions.show") %>
  </h2>
  <div class="editor-content">
    <%= decidim_sanitize_editor translated_attribute sortition.witnesses %>
  </div>

  <% if sortition&.proposals %>
    <h2 id="proposals-count" class="title-action__title section-heading">
      <%= t("proposals_selected_by_sortition", scope: "decidim.sortitions.sortitions.show") %>
    </h2>
    <div id="proposals" class="columns mediumlarge-12 large-12">
      <div class="row small-up-1 medium-up-2 large-up-3 card-grid">
        <%= render partial: "proposal", collection: sortition.proposals %>
      </div>
    </div>
  <% end %>

  <% content_for :aside do %>

    <div class="sortition__aside">
      <div class="sortition__aside-element">
        <%= render partial: "results_count", locals: { sortition: sortition } %>
      </div>
      <h4 class="text-sm text-gray-2 uppercase font-semibold mb-4 ">
        <%= t("sortition_reproducibility_details", scope: "decidim.sortitions.sortitions.show") %>
      </h4>
      <div class="sortition__aside-element bg-background p-4 rounded">
        <div class="sortition__aside-element-item">
          <span class="sortition__aside-element-item__title">
            <%= t("dice_result", scope: "decidim.sortitions.sortitions.show") %>
          </span>
          <span class="sortition__aside-element-item__text">
            <%= sortition.dice %>
          </span>
        </div>
        <div class="sortition__aside-element-item">
          <span class="sortition__aside-element-item__title">
            <%= t("time_seed", scope: "decidim.sortitions.sortitions.show") %>
          </span>
          <span class="sortition__aside-element-item__text">
            <%= sortition.request_timestamp.to_i %>
          </span>
        </div>
        <div class="sortition__aside-element-item">
          <span class="sortition__aside-element-item__title">
            <%= t("mathematical_result", scope: "decidim.sortitions.sortitions.show") %>
          </span>
          <span class="sortition__aside-element-item__text">
            <%= sortition.seed %>
          </span>
        </div>
        <div class="sortition__aside-element-item">
          <%= link_to t("algorithm", scope: "decidim.sortitions.sortitions.show"), Decidim::Sortitions.sortition_algorithm, class: "sortition__aside-element-item__title underline text-secondary" %>
        </div>
      </div>
      <h2 class="text-sm text-gray-2 uppercase font-semibold mb-4">
        <%= t("candidate_proposal_ids", scope: "decidim.sortitions.sortitions.show") %>
      </h2>
      <div class="sortition__aside-element bg-background p-4 rounded">
        <div class="sortition__aside-element-item">
          <span class="sortition__aside-element-item__title">
            <%= t("candidate_proposals_info", scope: "decidim.sortitions.sortitions.show", category_label: sortition_category_label(sortition)) %>
          </span>
          <span class="sortition__aside-element-item__text">
            <%= sortition_proposal_candidate_ids sortition %>
          </span>
        </div>
      </div>
      <%= cell "decidim/share_button", nil %>
    </div>
  <% end %>
  <% content_for :item_footer do %>
    <%= comments_for sortition %>
    <ul class="drawer-metadata__container">
      <%= content_tag :li, resource_reference(sortition), class: "drawer-metadata__item" %>
    </ul>
  <% end %>
<% end %>
