<% add_decidim_meta_tags(
  description: decidim_sanitize_editor(translated_attribute(sortition.additional_info)),
  title: decidim_escape_translated(sortition.title),
  url: sortition_url(sortition.to_param),
  resource: sortition) %>

<%
edit_link(
  resource_locator(sortition).edit,
  :update,
  :sortition,
  sortition:
)
%>

<%= append_javascript_pack_tag "decidim_sortitions" %>
<%= append_stylesheet_pack_tag "decidim_sortitions" %>

<%= render layout: "layouts/decidim/shared/layout_item", locals: { back_path: :sortitions, commentable: sortition } do %>
  <%= cell("decidim/announcement", t("introduction", scope: "decidim.sortitions.sortitions.show", reference: sortition.id, target_items: sortition.target_items), callout_class: "secondary") %>

  <section class="layout-main__section layout-main__heading">
    <h1 class="h1 decorator mb-4">
      <%= decidim_escape_translated(sortition.title) %>
    </h1>
    <div class="layout-author">
      <%= cell "decidim/author", present(sortition.author), context_actions: [:date], from: sortition, layout: :compact %>
      <% if sortition.author&.deleted? %>
        <span class="label alert">
          <%= t("deleted", scope: "decidim.sortitions.sortitions.sortition_author") %>
        </span>
      <% end %>
    </div>
  </section>
  <section class="layout-main__section">
    <div class="editor-content">
      <%= decidim_sanitize_editor_admin translated_attribute sortition.additional_info %>
    </div>
  </section>
  <section class="layout-main__section">
    <h2 class="h3">
      <%= t("witnesses", scope: "decidim.sortitions.sortitions.show") %>
    </h2>
    <div class="editor-content">
      <%= decidim_sanitize_editor translated_attribute sortition.witnesses %>
    </div>
  </section>

  <% if sortition&.proposals %>
    <section class="layout-main__section">
      <h2 id="proposals-count" class="h3 mb-4">
        <%= t("proposals_selected_by_sortition", scope: "decidim.sortitions.sortitions.show") %>
      </h2>
      <div id="proposals">
        <%= render partial: "proposal", collection: sortition.proposals %>
      </div>
    </section>
  <% end %>

  <% if sortition.cancelled? %>
    <section class="layout-main__section">
      <h2 class="h3 mt-8 mb-4">
        <%= t("cancelled", scope: "decidim.sortitions.sortitions.show") %>
      </h2>
      <div class="layout-author">
        <%= cell "decidim/author", present(sortition.cancelled_by_user), context_actions: [:cancelled_on], from: sortition, layout: :compact %>
        <% if sortition.cancelled_by_user&.deleted? %>
          <span class="label alert">
            <%= t("deleted", scope: "decidim.sortitions.sortitions.sortition_author") %>
          </span>
        <% end %>
      </div>
      <%= cell("decidim/announcement", decidim_sanitize_editor(translated_attribute(sortition.cancel_reason)), callout_class: "alert") %>
    </section>
  <% end %>

  <section class="layout-main__section layout-main__buttons" data-buttons>
    <%= cell "decidim/comments_button", nil %>

    <div class="ml-auto lg:ml-0">
      <%= cell "decidim/share_widget", sortition %>
    </div>
  </section>

  <% content_for :aside do %>
    <section class="layout-aside__section">
      <%= render partial: "results_count", locals: { sortition: } %>
    </section>
    <section class="layout-aside__section">
      <div class="text-sm text-gray-2 uppercase font-semibold mb-4 ">
        <%= t("sortition_reproducibility_details", scope: "decidim.sortitions.sortitions.show") %>
      </div>
      <div class="sortition__aside-element bg-background p-4 rounded">
        <div class="sortition__aside-element-item">
          <span class="sortition__aside-element-item__title">
            <%= t("dice_result", scope: "decidim.sortitions.sortitions.show") %>
          </span>
          <span class="sortition__aside-element-item__text">
            <%= sortition.dice %>ยบ
          </span>
        </div>
        <div class="sortition__aside-element-item">
          <span class="sortition__aside-element-item__title">
            <%= t("time_seed", scope: "decidim.sortitions.sortitions.show") %>
          </span>
          <span class="sortition__aside-element-item__text">
            <%= sortition.request_timestamp.to_i %>
          </span>
        </div>
        <div class="sortition__aside-element-item">
          <span class="sortition__aside-element-item__title">
            <%= t("mathematical_result", scope: "decidim.sortitions.sortitions.show") %>
          </span>
          <span class="sortition__aside-element-item__text">
            <%= sortition.seed %>
          </span>
        </div>
        <div class="sortition__aside-element-item">
          <%= link_to t("algorithm", scope: "decidim.sortitions.sortitions.show"), Decidim::Sortitions.sortition_algorithm, class: "text-secondary sortition__aside-element-item__title underline" %>
        </div>
      </div>
    </section>
    <section class="layout-aside__section">
      <div class="text-sm text-gray-2 uppercase font-semibold mb-4">
        <%= t("candidate_proposal_ids", scope: "decidim.sortitions.sortitions.show") %>
      </div>
      <div class="sortition__aside-element bg-background p-4 rounded">
        <div class="sortition__aside-element-item">
          <span class="sortition__aside-element-item__title">
            <%= t("candidate_proposals_info", scope: "decidim.sortitions.sortitions.show", taxonomy_labels: sortition_taxonomy_labels(sortition)) %>
          </span>
          <span class="sortition__aside-element-item__numbers">
            <%= sortition_proposal_candidate_ids sortition %>
          </span>
        </div>
      </div>
    </section>
  <% end %>
  <% content_for :item_footer do %>
    <%= comments_for sortition %>
    <ul class="metadata__container layout-main__section" data-metadata-footer>
      <%= content_tag :li, resource_reference(sortition), class: "metadata__item" %>
    </ul>
  <% end %>
<% end %>
