<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".colors_title" %></h2>
  </div>
  <div class="callout warning" data-closable>
    <svg role="img" class="icon--warning icon">
      <title></title>
      <use href="/assets/decidim/icons-12032a129d2a2668259128b86df2c8829ea6cdaa07beb8538a61c4872aa66328.svg#icon-warning">
      </use>
    </svg>
    <p><%= t "from.colors.warning_colors" %> </p>
    <a href="<%= t "from.colors.link_accesibility" %>"> WebAIM Contrast Checker</a>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-section">
    <div class="organization-colors">
      <%= form.color_field :primary_color, value: current_organization.colors["primary"] %>
      <%= form.color_field :secondary_color, value: current_organization.colors["secondary"] %>
      <%= form.color_field :success_color, value: current_organization.colors["success"] %>
      <%= form.color_field :warning_color, value: current_organization.colors["warning"] %>
      <%= form.color_field :alert_color, value: current_organization.colors["alert"] %>
      <%= form.color_field :highlight_color, value: current_organization.colors["highlight"] %>
      <%= form.color_field :highlight_alternative_color, value: current_organization.colors["highlight-alternative"] %>
    </div>

    <% if Decidim.enable_html_header_snippets %>
      <div class="row column">
        <%= form.text_area :header_snippets %>
        <p class="help-text"><%= t(".header_snippets_help") %></p>
      </div>
    <% end %>
  </div>
</div>
