<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".colors_title" %></h2>
  </div>
  <div class="card-section">
    <div class="organization-colors">
      <%= form.color_field :primary_color, value: current_organization.colors["primary"] %>
      <%= form.color_field :secondary_color, value: current_organization.colors["secondary"] %>
      <%= form.color_field :success_color, value: current_organization.colors["success"] %>
      <%= form.color_field :warning_color, value: current_organization.colors["warning"] %>
      <%= form.color_field :alert_color, value: current_organization.colors["alert"] %>
      <%= form.color_field :highlight_color, value: current_organization.colors["highlight"] %>
      <%= form.color_field :highlight_alternative_color, value: current_organization.colors["highlight-alternative"] %>
    </div>

    <% if true %>
      <div class="row column">
        <%= form.text_area :header_snippets %>
        <p class="help-text"><%= t(".header_snippets_help") %></p>
      </div>
    <% end %>

    <div class="row column">
      <%= form.check_box :group_highlight_enabled %>
    </div>

    <div class="row">
      <div class="organization-colors">
        <%= form.color_field :official_highlight_color, value: current_organization.colors["official_highlight_color"] %>
        <%= form.color_field :group_highlight_color, value: current_organization.colors["group_highlight_color"] %>
        <%= form.color_field :citizen_highlight_color, value: current_organization.colors["citizen_highlight_color"] %>
      </div>
      <p class="help-text"><%= t(".highlight_colors_help") %></p>
    </div>
  </div>
</div>
