<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".colors_title" %></h2>
  </div>
  <div class="card-section">
    <div class="callout warning">
      <p>
        <%= icon "warning" %>
        <%= t ".colors_warning_html", link: "https://webaim.org/resources/contrastchecker" %>
      </p>
    </div>
    <div class="organization-colors">
      <%= form.color_field :primary_color, value: current_organization.colors["primary"] %>
      <%= form.color_field :secondary_color, value: current_organization.colors["secondary"] %>
      <%= form.color_field :success_color, value: current_organization.colors["success"] %>
      <%= form.color_field :warning_color, value: current_organization.colors["warning"] %>
      <%= form.color_field :alert_color, value: current_organization.colors["alert"] %>
      <%= form.color_field :highlight_color, value: current_organization.colors["highlight"] %>
      <%= form.color_field :highlight_alternative_color, value: current_organization.colors["highlight-alternative"] %>
      <%= form.color_field :theme_color, value: current_organization.colors["theme"] %>
    </div>

    <% if Decidim.enable_html_header_snippets %>
      <div class="row column">
        <%= form.text_area :header_snippets %>
        <p class="help-text"><%= t(".header_snippets_help") %></p>
      </div>
    <% end %>
  </div>
</div>
