<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".layout_appearance_title" %></h2>
  </div>

  <div class="card-section">
    <svg id="minimap" width="400" height="300" background="#000">
      <% primary_color = current_organization.colors["primary"] %>

      <rect id="body" width="380" height="280" x="10" y="36" fill="#999" />
      <rect id="footer" width="380" height="36" x="10" y="264" fill="#000" />
      <rect id="tab" width="120" height="24" x="10" y="10" fill="#DDD" />
      <rect id="header" width="380" height="36" x="10" y="30" fill="#000"/>
      <rect id="subheader" width="380" height="18" x="10" y="64" fill="#333"/>

      <text fill="#000" font-size="8" font-family="Verdana" x="32" y="24"><%= current_organization.name %></text>
      
      <% if current_organization.favicon.present? %>
        <image id="favicon" width="16" height="16" x="12" y="12" xlink:href="<%= current_organization.favicon %>"/>
      <% else %>
        <rect id="favicon" width="16" height="16" x="12" y="12" fill="<%= primary_color %>"/>
        <text fill="#fff" font-size="12" font-family="Verdana" x="16" y="24">1</text>
      <% end %>
      
      <% if current_organization.logo.present? %>
        <image id="logo" width="84" height="25" x="16" y="34" xlink:href="<%= current_organization.logo %>"/>
      <% else %>
        <rect id="logo" width="84" height="25" x="16" y="34" fill="<%= primary_color %>"/>
        <text fill="#fff" font-size="12" font-family="Verdana" x="22" y="50">2</text>
      <% end %>
      
      <% if current_organization.official_img_header.present? %>
        <image id="official_img_header" width="32" height="16" x="358" y="38" xlink:href="<%= current_organization.official_img_header %>"/>
      <% else %>
        <rect id="official_img_header" width="32" height="16" x="358" y="38" fill="<%= primary_color %>"/>
        <text fill="#fff" font-size="12" font-family="Verdana" x="360" y="50">3</text>
      <% end %>
      
      <% if current_organization.official_img_footer.present? %>
        <image id="official_img_footer" width="35" height="11" x="10" y="270" xlink:href="<%= current_organization.official_img_footer %>"/>
      <% else %>
        <rect id="official_img_footer" width="35" height="11" x="10" y="270" fill="<%= primary_color %>"/>
        <text fill="#fff" font-size="12" font-family="Verdana" x="14" y="280">4</text>
      <% end %>

    </svg>

    <div class="row">
      <div class="columns xlarge-6 preview-logo">
        <%= form.upload :logo %> <%# 336*100 %>
      </div>

      <div class="columns xlarge-6 preview-favicon">
        <%= form.upload :favicon %> <%# 64*64 %>
      </div>
    </div>

    <div class="row">
      <div class="columns xlarge-6 preview-official_img_header">
        <%= form.upload :official_img_header %> <%# 128*128 %>
      </div>

      <div class="columns xlarge-6 preview-official_img_footer">
        <%= form.upload :official_img_footer %> <%# 336*100 %>
      </div>
    </div>


    <div class="row">
      <div class="columns xlarge-6 preview-official_url">
        <%= form.text_field :official_url %>
      </div>
    </div>
  </div>
</div>