<style>
  #minimap {
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-areas: "tab blank blank"
                        "header header header"
                        "subheader subheader subheader"
                        "body body body"
                        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 64px 24px 1fr 64px;
  }

  #minimap img, #minimap .placeholder {
    width: auto;
    max-height: 100%;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
  }

  #minimap #tab {
    grid-area: tab;
    background: #ccc;
    display: flex;
  }

  #tab span {
    font-size: 10px;
    margin: 4px;
  }

  #minimap #body {
    grid-area: body;
    background: #ccc;
  }

  #header, #footer {
    background: #000;
    display: flex;
    justify-content: space-between;
  }

  #header {
    grid-area: header;
  }

  #subheader {
    grid-area: subheader;
    background: #999;
  }

  #footer {
    grid-area: footer;
  }

  #favicon {
    margin: 4px;
  }

  #logo {
    margin: auto 0;
  }

  #official_img_header, #official_img_footer {
    margin: auto 0;
  }

  .placeholder {
    background:  <%= current_organization.colors["primary"] %>
  }

</style>

<% size_factor = 0.3 %>

<div id="minimap">
  <div id="tab">
    <%= content_tag current_organization.favicon.present? ? :img : :div,
      nil,
      { id: "favicon" }.merge(current_organization.favicon.present? ?
        { src: current_organization.favicon } :
        { class: "placeholder", style: "width: #{image_width(current_organization, :favicon) * size_factor }px; height: #{image_height(current_organization, :favicon) * size_factor }px;" })
    %>
    <span><%= current_organization.name %></span>
  </div>

  <div id="header">
    <%= content_tag current_organization.logo.present? ? :img : :div,
      nil,
      { id: "logo" }.merge(current_organization.logo.present? ?
        { src: current_organization.logo } :
        { class: "placeholder", style: "width: #{image_width(current_organization, :logo) * size_factor }px; height: #{image_height(current_organization, :logo) * size_factor }px;" })
    %>

    <%= content_tag current_organization.official_img_header.present? ? :img : :div,
      nil,
      { id: "official_img_header" }.merge(current_organization.official_img_header.present?  ?
        { src: current_organization.official_img_header } :
        { class: "placeholder", style: "width: #{image_width(current_organization, :official_img_header) * size_factor }px; height: #{image_height(current_organization, :official_img_header) * size_factor }px;" })
    %>
  </div>

  <div id="subheader"></div>
  <div id="body"></div>

  <div id="footer">
    <%= content_tag current_organization.official_img_footer.present? ? :img : :div,
      nil,
      { id: "official_img_footer" }.merge(current_organization.official_img_footer.present?  ?
        { src: current_organization.official_img_footer } :
        { class: "placeholder", style: "width: #{image_width(current_organization, :official_img_footer) * size_factor }px; height: #{image_height(current_organization, :official_img_footer) * size_factor }px;" })
    %>
  </div>
</div>