<% primary_color = current_organization.colors["primary"] %>
<%
  def dimensions(image)
    versions = current_organization.send(image).dimensions_info
    dimensions = %i[small medium default].map { |v| versions.dig(v, :dimensions) }.compact.first
  end

  def width(image)
    dimensions(image)[0] / 4
  end

  def height(image)
    dimensions(image)[1] / 4
  end
%>

<style>
  #minimap {
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-areas: "tab blank blank"
                        "header header header"
                        "subheader subheader subheader"
                        "body body body"
                        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 64px 24px 1fr 64px;
  }

  #minimap img {
    width: auto;
    max-height: 100%;
    box-sizing: border-box;
  }

  #minimap #tab {
    grid-area: tab;
    background: #ccc;
    font-size: 10px;
  }

  #minimap #body {
    grid-area: body;
    background: #ccc;
  }

  #header, #footer {
    background: #000;
  }

  #header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
  }

  #subheader {
    grid-area: subheader;
    background: #999;
  }

  #footer {
    grid-area: footer;
  }

  #favicon {
    margin: 4px;
  }

  #logo {
    margin: 10px;
  }

  #official_img_header, #official_img_footer {
    padding: 10px 0;
  }

</style>

<div id="minimap">
  <div id="tab">
    <%= content_tag current_organization.favicon.present? ? :img : :div,
      nil,
      { id: "favicon" }.merge(current_organization.favicon.present? ? { src: current_organization.favicon } : { style: "min-width: #{width(:favicon)}; min-height: #{height(:favicon)}" } )
    %>
    <span><%= current_organization.name %></span>
  </div>

  <div id="header">
    <%= content_tag current_organization.logo.present? ? :img : :div,
      nil,
      { id: "logo" }.merge(current_organization.logo.present? ? { src: current_organization.logo } : { style: "min-width: #{width(:logo)}; min-height: #{height(:logo)}" } )
    %>

    <%= content_tag current_organization.official_img_header.present? ? :img : :div,
      nil,
      { id: "official_img_header" }.merge(current_organization.official_img_header.present?  ? { src: current_organization.official_img_header } : { style: "min-width: #{width(:official_img_header)}; min-height: #{height(:official_img_header)}" } )
    %>
  </div>

  <div id="subheader">

  </div>

  <div id="body">
  </div>

  <div id="footer">
    <%= content_tag current_organization.official_img_footer.present? ? :img : :div,
      nil,
      { id: "official_img_footer" }.merge(current_organization.official_img_footer.present?  ? { src: current_organization.official_img_footer } : { style: "min-width: #{width(:official_img_footer)}; min-height: #{height(:official_img_footer)}" } )
    %>
  </div>
  
  
</div>