<div class="grid-container full">
  <div class="grid-x grid-margin-x card-grid">
    <div class="cell small-6">
      <div class="card">
        <div class="card-section">
          <p class="mb-m">Bloques activos</p>
          <ul class="draggable-list js-connect js-list-actives" data-sort-url="<%= decidim_admin.organization_homepage_path %>">
            <% active_blocks.each do |content_block| %>
            <li draggable="true" data-content-block-id="<%= content_block.id %>">
              <div class="draggable-content">
                <%= content_block.manifest_name %>
                <div>
                  <%= icon "menu" %>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="cell small-6">
      <div class="card">
        <div class="card-section">
          <p class="mb-m">Bloques disponibles</p>
          <ul class="draggable-list js-connect js-list-availables">
            <% inactive_blocks.each do |content_block_or_manifest| %>
            <li draggable="true">
              <div class="draggable-content">
                <%= content_block_or_manifest.try(:manifest_name) || content_block_or_manifest.name %>
                <div>
                  <%= icon "menu" %>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("dragend", function (event) {
    var activeBlocks = Array.prototype.slice.call(document.querySelectorAll(".js-list-actives li"));
    var activeBlocksIds = activeBlocks.map(block => block.dataset.contentBlockId);
    var sortUrl = document.querySelector(".js-list-actives").dataset.sortUrl;

    $.ajax({
      method: "PUT",
      url: sortUrl,
      contentType: "application/json",
      data: JSON.stringify({ ids: activeBlocksIds })
    });
  })
</script>
