<% verification = capture do %>
  <%= icon auth_icon || "login-circle-line", class: "verification__icon#{ ' is-granted' if local_assigns[:is_granted].present? }" %>
  <div class="verification__text">
    <h3 class="h5 text-secondary">
      <%= title %>
    </h3>
    <span>
      <%= explanation %>
    </span>
  </div>
  <% if local_assigns[:is_granted].present? %>
    <%= icon "refresh-line", class: "w-6 h-6 flex-none text-secondary fill-current" %>
  <% else %>
    <%= icon "arrow-right-s-line", class: "w-6 h-6 flex-none text-secondary fill-current" %>
  <% end %>
<% end %>

<% if defined?(url) %>
  <a href="<%= url %>" class="verification" title="<%= button_text %>">
    <%= verification %>
  </a>
<% else %>
  <div class="verification">
    <%= verification %>
  </div>
<% end %>
