<% add_decidim_page_title(t("authorizations", scope: "layouts.decidim.user_profile")) %>
<% content_for(:subtitle) { t("authorizations", scope: "layouts.decidim.user_profile") } %>
<% url_params = (redirect_url.present? ? { redirect_url: } : {}) %>

<%= append_javascript_pack_tag "decidim_verifications" %>
<%= append_stylesheet_pack_tag "decidim_verifications" %>

<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>
  <section class="authorizations-list">
    <%= cell(
          "decidim/announcement",
          t(
            "onboarding_message_html",
            scope: "decidim.verifications.authorizations.first_login",
            action: onboarding_manager.action,
            resource_name: onboarding_manager.model_name.human.downcase,
            resource_title: translated_attribute(onboarding_manager.model.title)
          ),
          callout_class: "success"
        ) %>

    <%
        subsections = []

        filtered_granted_authorizations = onboarding_manager.filter_authorizations(granted_authorizations)
        filtered_pending_authorizations = onboarding_manager.filter_authorizations(pending_authorizations)
        filtered_unauthorized_methods = onboarding_manager.filter_authorizations(unauthorized_methods)

        subsections << {
          title: t("authorizations.index.granted_verification", scope: "decidim.verifications"),
          items: filtered_granted_authorizations.map { |authorization| granted_authorization_display_data(authorization, redirect_url) }
        } if filtered_granted_authorizations.any?

        subsections << {
          title: t("authorizations.index.pending_verification", scope: "decidim.verifications"),
          items: filtered_pending_authorizations.map { |authorization| pending_authorization_display_data(authorization, redirect_url) }
        } if filtered_pending_authorizations.any?

        subsections << {
          title: t("authorizations.index.unauthorized_methods", scope: "decidim.verifications"),
          items: filtered_unauthorized_methods.map { |method| unauthorized_method_display_data(method, redirect_url) }
        } if filtered_unauthorized_methods.any?
    %>

    <% subsections.each do |subsection| %>
      <!--<div class="verification__container-title"><%= subsection[:title] %></div>-->
      <div class="verification__container my-4">
        <% subsection[:items].each do |locals| %>
          <%= render partial: "item", locals: %>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>
