<% add_decidim_page_title(t("authorizations", scope: "layouts.decidim.user_profile")) %>
<% content_for(:subtitle) { t("authorizations", scope: "layouts.decidim.user_profile") } %>
<% url_params = (redirect_url.present? ? { redirect_url: redirect_url } : {}) %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_verifications" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_verifications", media: "all" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>
  <section class="authorizations-list">
    <% if @granted_authorizations.any? %>
      <div class="verification__container-title"><%= t("authorizations.index.granted_verification", scope: "decidim.verifications") %></div>
      <div class="verification__container">
        <% @granted_authorizations.each do |authorization| %>
          <%= render partial: "item", locals: {
            url: authorization.renewable? ? "#" : authorization.expired? ? authorization_method(authorization).root_path(**url_params) : nil,
            auth_icon: "checkbox-circle-line",
            is_granted: true,
            title: t("#{authorization.name}.name", scope: "decidim.authorization_handlers"),
            explanation: authorization.expired? ? t("expired_at", scope: "decidim.authorization_handlers", timestamp: l(authorization.expires_at, format: :long)) : "#{t("granted_at", scope: "decidim.authorization_handlers", timestamp: l(authorization.granted_at, format: :long))} #{t("expires_at", scope: "decidim.authorization_handlers", timestamp: l(authorization.expires_at, format: :long)) if authorization.expires_at.present? }",
            button_text: authorization.renewable? ? t("authorizations.index.show_renew_info", scope: "decidim.verifications") : authorization.expired? ? t("authorizations.index.expired_verification", scope: "decidim.verifications") : nil
          } %>
        <% end %>
      </div>

      <%# REDESIGN_PENDING: missing design? %>
      <div id="renew-modal" data-reveal class="reveal" aria-labelledby="<%= t("renew_modal.title", scope: "decidim.verifications.authorizations") %>" aria-hidden="true" role="dialog"></div>
    <% end %>

    <% if @pending_authorizations.any? %>
      <div class="verification__container-title"><%= t("authorizations.index.pending_verification", scope: "decidim.verifications") %></div>
      <div class="verification__container">
        <% @pending_authorizations.each do |authorization| %>
            <%= render partial: "item", locals: {
              url: authorization_method(authorization).resume_authorization_path(**url_params),
              auth_icon: "loader-2-line",
              title: t("#{authorization.name}.name", scope: "decidim.authorization_handlers"),
              explanation: t("started_at", scope: "decidim.authorization_handlers", timestamp: l(authorization.updated_at, format: :long)),
              button_text: t("authorizations.index.introduce_code", scope: "decidim.verifications")
            } %>
        <% end %>
      </div>
    <% end %>

    <% if unauthorized_methods.any? %>
      <div class="verification__container-title"><%= t("authorizations.index.unauthorized_methods", scope: "decidim.verifications") %></div>
      <div class="verification__container">
        <% unauthorized_methods.each do |unauthorized_method| %>
          <%= render partial: "item", locals: {
              url: unauthorized_method.root_path(**url_params),
              auth_icon: unauthorized_method.icon,
              title: t("#{unauthorized_method.key}.name", scope: "decidim.authorization_handlers"),
              explanation: t("#{unauthorized_method.key}.explanation", scope: "decidim.authorization_handlers"),
              button_text: t("authorizations.index.subscribe", scope: "decidim.verifications")
            } %>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>
