<% add_decidim_page_title(t("authorizations", scope: "layouts.decidim.user_profile")) %>
<% content_for(:subtitle) { t("authorizations", scope: "layouts.decidim.user_profile") } %>
<% url_params = (redirect_url.present? ? { redirect_url: redirect_url } : {}) %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_verifications" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_verifications", media: "all" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>
  <section class="authorizations-list">
    <% if @granted_authorizations.any? %>
      <div class="verification__container">
        <% @granted_authorizations.each do |authorization| %>
          <% if authorization.renewable? %>
            <%= link_to "#", title: t(".show_renew_info"), data: { open: "renew-modal", "open-url": renew_modal_authorizations_path(handler: authorization.name) }, class: "card--list__item authorization-renewable" do %>
              <%= render partial: "granted_authorization", locals: { authorization: authorization } %>
            <% end %>
          <% elsif authorization.expired? %>
            <%= link_to authorization_method(authorization).root_path(**url_params), title: t(".expired_verification"), class: "card--list__item" do %>
              <% render partial: "granted_authorization", locals: { authorization: authorization } %>
            <% end %>
          <% else %>
            <div class="card--list__item">
              <%= render partial: "granted_authorization", locals: { authorization: authorization } %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div id="renew-modal" data-reveal class="reveal" aria-labelledby="<%= t("renew_modal.title", scope: "decidim.verifications.authorizations") %>" aria-hidden="true" role="dialog"></div>
    <% end %>

    <% if @pending_authorizations.any? %>
      <div class="verification__container">
        <% @pending_authorizations.each do |authorization| %>
            <%= render partial: "item", locals: {
              url: authorization_method(authorization).resume_authorization_path(**url_params),
              auth_icon: "loader-2-line",
              title: t("#{authorization.name}.name", scope: "decidim.authorization_handlers"),
              explanation: t("started_at", scope: "decidim.authorization_handlers", timestamp: l(authorization.updated_at, format: :long)),
              button_text: "Introducir código"
            } %>
        <% end %>
      </div>
    <% end %>

    <% if unauthorized_methods.any? %>
      <div class="verification__container">
        <% unauthorized_methods.each do |unauthorized_method| %>
          <%= render partial: "item", locals: {
              url: unauthorized_method.root_path(**url_params),
              auth_icon: unauthorized_method.icon,
              title: t("#{unauthorized_method.key}.name", scope: "decidim.authorization_handlers"),
              explanation: t("#{unauthorized_method.key}.explanation", scope: "decidim.authorization_handlers"),
              button_text: "Suscribirse"
            } %>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>
