<% if view == :deleted %>
  <% if allowed_to? :restore, :component, trashable_deleted_resource: component %>
    <%= icon_link_to "refresh-line", url_for(action: :restore, id: component, controller: "components"), t("decidim.admin.actions.restore"), method: :patch, class: "action-icon--restore" %>
  <% end %>
<% else %>
    <%= link_to "#", "data-toggle" => "actions-dropdown-#{ component.id }" do %>
      <%= icon "more-fill" %>
    <% end %>

    <div class="dropdown-pane small" id="actions-dropdown-<%= component.id %>" data-dropdown data-auto-focus="true" data-close-on-click="true">
      <ul>

        <% if component.manifest.admin_engine %>
          <%= link_to manage_component_path(component) do %>
            <li>
              <%= icon "pencil-line" %>
              <%= t("actions.manage", scope: "decidim.admin") %>
            </li>
          <% end %>
        <% end %>

        <% if component.manifest.admin_engine && allowed_to?(:share, :component, component: component) %>
          <%= link_to component_share_tokens_path(component_id: component) do %>
            <li>
              <%= icon "share-line" %>
              <%= t("actions.share_tokens", scope: "decidim.admin") %>
            </li>
          <% end %>
        <% end %>

        <% if allowed_to? :update, :component, component: component %>
          <%= link_to url_for(action: :edit, id: component, controller: "components") do %>
            <li>
              <%= icon "settings-4-line" %>
              <%= t("actions.configure", scope: "decidim.admin") %>
            </li>
          <% end %>
        <% end %>


        <% if allowed_to?(:update, :component, component: component) %>
          <% if component.published? %>
            <% if component.visible? %>
              <%= link_to url_for(action: :hide, id: component, controller: "components"), method: :put do %>
                <li>
                  <%= icon "eye-close" %>
                  <%= t("actions.menu_hidden", scope: "decidim.admin") %>
                </li>
              <% end %>
            <% else %>
              <%= link_to url_for(action: :unpublish, id: component, controller: "components"), method: :put do %>
                <li>
                  <%= icon "close-circle-line" %>
                  <%= t("actions.unpublish", scope: "decidim.admin") %>
                </li>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to url_for(action: :publish, id: component, controller: "components"), method: :put do %>
              <li>
                <%= icon "check-line" %>
                <%= t("actions.publish", scope: "decidim.admin") %>
              </li>
            <% end %>
          <% end %>
        <% end %>

        <%= link_to main_component_path(component), target: :blank, data: { "external-link": false } do %>
          <li>
            <%= icon "eye-line" %>
            <%= t("actions.preview", scope: "decidim.admin") %>
          </li>
        <% end %>

        <% if allowed_to? :update, :component, component: component %>
          <% if component.manifest.actions.empty? %>
            <li>
              <%= icon "key-2-line" %>
              <%= t("actions.permissions", scope: "decidim.admin") %>
            </li>
          <% else %>
            <%= link_to url_for(action: :edit, component_id: component, controller: "component_permissions") do %>
              <li>
                <%= icon "key-2-line" %>
                <%= t("actions.permissions", scope: "decidim.admin") %>
              </li>
            <% end %>
          <% end %>
        <% end %>

        <% if allowed_to?(:soft_delete, :component, trashable_deleted_resource: component) %>
          <% resources_count = component.primary_stat || 0 %>

          <% if component.published? %>
            <li>
              <%= icon "delete-bin-line" %>
              <%= t("actions.soft_delete", scope: "decidim.admin") %>
            </li>
          <% else %>
            <%= link_to url_for(action: :soft_delete, id: component, controller: "components"), method: :patch, data: { confirm: (t("actions.confirm_delete_component", scope: "decidim.admin", resources_count:)) } do %>
                <li>
                  <%= icon "delete-bin-line" %>
                  <%= t("actions.soft_delete", scope: "decidim.admin", resources_count:) %>
                </li>
            <% end %>
          <% end %>
        <% end %>

      </ul>
    </div>
<% end %>
