<div class="table-stacked">
  <table class="table-list">
    <thead>
    <tr>
      <th></th>
      <th class="!text-left"><%= t("index.headers.name", scope: "decidim.admin.components") %></th>
      <th><%= t("index.headers.type", scope: "decidim.admin.components") %></th>
      <th><%= t("index.headers.visibility", scope: "decidim.admin.components") %></th>
      <th><%= t("index.headers.actions", scope: "decidim.admin.components") %></th>
    </tr>
    </thead>
    <tbody class="draggable-table" data-sort-url="<%= reorder_components_path %>" data-draggable-table>
    <% components.each do |component| %>
      <%= render partial: "component_row", locals: { component:, view: } %>
    <% end %>
    </tbody>
  </table>
</div>
