<% if user_role_config.component_is_accessible?(component.manifest_name) %>
  <tr class="draggable-content component-<%= component.id %>" draggable="true" data-record-id="<%= component.id %>">
    <td class="text-center dragging-handle">
      <%= icon("draggable", class: "dragger") %>
    </td>
    <td class="!text-left">
      <% if component.manifest.admin_engine %>
        <%= link_to translated_attribute(component.name), manage_component_path(component) %><br>
      <% else %>
        <%= translated_attribute component.name %>
      <% end %>
    </td>
    <td>
      <%= t "decidim.components.#{component.manifest.name}.name" %>
    </td>
    <td>
      <%= render partial: "decidim/admin/components/visibility_label", locals: { component: } %>
    </td>
    <td class="table-list__actions">
      <% if lookup_context.find_all("decidim/#{component.manifest_name}/admin/component/_actions").any? %>
        <%= render partial: "decidim/#{component.manifest_name}/admin/component/actions", locals: { component:, view: } %>
      <% else %>
        <%= render partial: "actions", locals: { component:, view: } %>
      <% end %>
    </td>
  </tr>
<% end %>
