<% if user_role_config.component_is_accessible?(component.manifest_name) %>
  <tr class="component-<%= component.id %>">
    <td>
      <% if component.manifest.admin_engine %>
        <%= link_to translated_attribute(component.name), manage_component_path(component) %><br>
      <% else %>
        <%= translated_attribute component.name %>
      <% end %>
    </td>
    <td>
      <%= t "decidim.components.#{component.manifest.name}.name" %>
    </td>
    <%= td_resource_scope_for(component.scope) %>
    <td class="table-list__actions">
      <% if lookup_context.find_all("decidim/#{component.manifest_name}/admin/component/_actions").any? %>
        <%= render partial: "decidim/#{component.manifest_name}/admin/component/actions", locals: { component: } %>
      <% else %>
        <%= render partial: "actions", locals: { component: } %>
      <% end %>
    </td>
  </tr>
<% end %>
