<% if user_role_config.component_is_accessible?(component.manifest_name) %>
  <tr class="component-<%= component.id %>">
    <td>
      <%= link_to main_component_path(component), target: "_blank" do %>
        <%= translated_attribute component.name %>
      <% end %>
    </td>
    <td>
      <%= t "decidim.components.#{component.manifest.name}.name" %>
    </td>
    <td class="table-list__actions">
      <% if component.manifest.admin_engine %>
        <%= icon_link_to "pencil", manage_component_path(component), t("actions.manage", scope: "decidim.admin"), class: "action-icon--manage" %>
      <% end %>

      <% if allowed_to?(:update, :component, component: component) %>
        <% if component.published? %>
          <%= icon_link_to "x", current_participatory_space_admin_proxy.unpublish_component_path(component), t("actions.unpublish", scope: "decidim.admin"), class: "action-icon--unpublish", method: :put %>
        <% else %>
          <%= icon_link_to "check", current_participatory_space_admin_proxy.publish_component_path(component), t("actions.publish", scope: "decidim.admin"), class: "action-icon--publish", method: :put %>
        <% end %>
      <% end %>

      <% if allowed_to? :update, :component, component: component %>
        <%= icon_link_to "cog", current_participatory_space_admin_proxy.edit_component_path(component), t("actions.configure", scope: "decidim.admin"), class: "action-icon--configure" %>
      <% end %>

      <% if allowed_to? :update, :component, component: component %>
        <% if component.manifest.actions.empty? %>
          <%= icon "key", class: "action-icon action-icon--disabled" %>
        <% else %>
          <%= icon_link_to "key", current_participatory_space_admin_proxy.edit_component_permissions_path(component), t("actions.permissions", scope: "decidim.admin"), class: "action-icon--permissions" %>
        <% end %>
      <% end %>

      <% if allowed_to? :destroy, :component, component: component %>
        <%= icon_link_to "circle-x", current_participatory_space_admin_proxy.component_path(component), t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
