<%= decidim_form_for([current_participatory_space, @form], url: component_path(current_participatory_space, @component), method: "put", html: { class: "form edit_component" }) do |form| %>
  <%= render partial: "form", object: form, locals: { component: @component, title: t(".title", name: t("#{@component.manifest.name}.name", scope: "decidim.components"))} %>

  <div class="button--double form-general-submit">
    <%= form.submit t(".update") %>
  </div>
<% end %>
<script type="text/javascript">

function disableClick(supports, votes){
  if (supports.is(":checked")){
    votes.prop("disabled", true);
  } else if (votes.is(":checked")){
    supports.prop("disabled", true);
  }
}

function switchDisabling(check1, check2){
 check1.change(function(){
      if ($(this).is(":checked")){
      check2.prop("disabled", true);
    } else if (!check2.is(":checked") && !$(this).is(":checked")){
      $(this).prop("disabled", false);
      check2.prop("disabled", false);
    } else {
      $(this).prop("disabled", false);
      check2.prop("disabled", false);
    }
  })
}

$(document).ready(function() {

  <% if current_participatory_space.has_steps? %>

    <% current_participatory_space.steps.each do |step| %>

      var step_id = <%= step.id %>;
      var $supports = $('input[name="component[step_settings][' + step_id + '][votes_enabled]"]')
      var $votes = $('input[name="component[step_settings][' + step_id + '][votes_weight_enabled]"]')
      disableClick($supports, $votes)
      switchDisabling($supports, $votes)
      switchDisabling($votes, $supports)

    <% end %>

  <% else %>

    var participatory_space_id = <%= current_participatory_space.id %>;
    var $supports = $('input[name="component[step_settings][' + participatory_space_id + '][votes_enabled]"]')
    var $votes = $('input[name="component[step_settings][' + participatory_space_id + '][votes_weight_enabled]"]')
    disableClick($supports, $votes)
    switchDisabling($supports, $votes)
    switchDisabling($votes, $supports)
  <% end %>

});

</script>
