<section id="components">
  <h3><%= t("components.title", scope: "decidim.admin") %></h3>
  <button class="dropdown button" data-toggle="add-component-dropdown">Add component</button>
  <div class="dropdown-pane" id="add-component-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
    <ul class="vertical menu">
      <% @component_manifests.each do |manifest| %>
        <li><%= link_to t("#{manifest.config[:name]}.name", scope: "components"), new_participatory_process_component_path(type: manifest.config[:name]) %></li>
      <% end %>
    </ul>
  </div>

  <table>
    <thead>
      <th><%= t("models.component.fields.name", scope: "decidim.admin") %></th>
      <th class="actions"><%= t("actions.title", scope: "decidim.admin") %></th>
    </thead>
    <tbody>
      <% @components.each do |component| %>
        <tr>
          <td>
            <%= link_to manage_component_path(participatory_process, component) do %>
              <%= translated_attribute(component.name) %>
            <% end %>
          </td>
          <td class="actions">
            <%= link_to t(".preview"), decidim.component_path(participatory_process, component), target: "_blank" %>
            <%= link_to t("actions.destroy", scope: "decidim.admin"), url_for(action: :destroy, id: component), method: :delete, class: "small alert button", data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } if can? :destroy, component %>
          </td>
        </tr>
      <% end %>
    </tbody>
</section>
