<h3><%= t ".title", name: t("#{@component_manifest.name}.name", scope: "components") %></h3>

<%= form_for([participatory_process, @form]) do |form| %>
  <%= render partial: 'form', object: form %>
  <%= form.hidden_field :component_type %>

  <div class="actions">
    <%= form.submit t(".add") %>
  </div>
<% end %>
