<div class="form__wrapper">
  <div class="card pt-4">
    <div class="row column">
      <%= form.text_field :token, aria: { label: :token }, class: "form-input" %>
    </div>
    <div class="row column">
      <%= t("share_tokens.form.expires_at", scope: "decidim.admin") %>
    </div>
    <div class="row column -mt-4">
      <div class="ml-2">
        <div class="mr-4">
          <%= form.radio_button :no_expiration, t("share_tokens.form.never_expire", scope: "decidim.admin"), checked: form.object.no_expiration %>
        </div>

        <%= form.radio_button :no_expiration, t("share_tokens.form.custom", scope: "decidim.admin"), checked: !form.object.no_expiration %>
        
        <div id="expires_at_field_wrapper" class="<%= form.object.no_expiration ? "hidden" : "" %> mt-4 row column">
          <%= form.datetime_field :expires_at, label: t("share_tokens.form.custom_expiration", scope: "decidim.admin") %>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const radioButtons = document.querySelectorAll("input[name='share_token[no_expiration]']");
    const expiresAtFieldWrapper = document.getElementById("expires_at_field_wrapper");

    const toggleExpiresAtField = () => {
      if (radioButtons[1].checked) {
        expiresAtFieldWrapper.classList.remove("hidden");
      } else {
        expiresAtFieldWrapper.classList.add("hidden");
        expiresAtFieldWrapper.querySelector("input[name='share_token[expires_at]']").value = "";
      }
    };

    radioButtons.forEach(radioButton => {
      radioButton.addEventListener("change", toggleExpiresAtField);
    });

    toggleExpiresAtField();
  });
</script>
