<% add_decidim_page_title(t("decidim.meetings.directory.meetings.index.meetings")) %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_meetings", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_meetings" %>
<% end %>

<% year = local_assigns[:year] || Date.current.year %>
<% content_for :aside do %>
  <h1 class="h3 md:h1 decorator"><%= t("decidim.components.meetings.name") %></h1>

  <% if allowed_to?(:create, :meeting) %>
    <%= action_authorized_link_to :create, new_meeting_path, class: "button button__lg button__secondary", data: { "redirect_url" => new_meeting_path } do %>
      <span><%= t("new_meeting", scope: "decidim.meetings.meetings.index") %></span>
      <%= icon "add" %>
    <% end %>
  <% end %>

  <%= render partial: "decidim/meetings/shared/filters", locals: {
    search_variable: search_variable,
    filter_options:
  } %>

  <%= render partial: "decidim/meetings/calendar_modal", locals: {
    path: short_url(
      route_name: "calendar",
      params: { filter: params.fetch(:filter, {}).try(:to_unsafe_hash) }
    )
  } %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%# REDESIGN_PENDING: include links %>
  <div class="meeting-calendar__selector-container">
    <div class="meeting-calendar__selector">
      <%= link_to year_path.call(year: year - 1), class: "meeting-calendar__selector-arrow" do %>
        <%= icon "arrow-left-s-line", class: "w-6 h-6 text-secondary fill-current" %>
      <% end %>
      <h2 class="h2"><%= year %></h2>
      <%= link_to year_path.call(year: year + 1), class: "meeting-calendar__selector-arrow" do %>
        <%= icon "arrow-right-s-line", class: "w-6 h-6 text-secondary fill-current" %>
      <% end %>
    </div>
    <a href="<%= meetings_path %>" class="meeting-calendar__link">
      <%= t "decidim.meetings.directory.meetings.index.go_to_list" %>
      <%= icon "list-check-2", class: "w-3.5 h-3.5 text-secondary fill-current" %>
    </a>
  </div>

  <div class="meeting-calendar">
    <%
      # REDESING_PENDING: allow start week both Sunday or Monday
      # REDESING_PENDING: create a function to generate a month (~ html table). It reused in home
    %>

    <% (1..12).each do |month| %>
      <%= cell "decidim/meetings/meeting_month", meetings, start_date: Date.new(year, month) %>
    <% end %>
  </div>
<% end %>
