<% add_decidim_page_title(t("devise.unlocks.new.resend_unlock_instructions")) %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="flex justify-center">
    <h1 class="title-decorator my-12"><%= t("devise.unlocks.new.resend_unlock_instructions") %></h1>
  </div>

  <%= decidim_form_for(resource, namespace: "unlock", as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

    <div class="form__wrapper">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t("placeholder_email", scope: "decidim.devise.shared") %>
    </div>

    <div class="form__wrapper-block">
      <button type="submit" class="button button__lg button__secondary">
        <%= t("devise.unlocks.new.resend_unlock_instructions") %>
        <%= icon "arrow-right-line", class: "fill-current" %>
      </button>
    </div>

    <div class="login__links">
      <%= render "decidim/devise/shared/links" %>
    </div>
  <% end %>

<% end %>
