<% 8.times do %>
  <div class="card card--widget">
    <ul class="card-data">
      <li class="card-data__item">
        <div class="card__link text-center">
          <%= icon "profile", class: "icon--large" %>
          <span class="text-medium mt-xs"><%= Faker::Date.forward(365).strftime("%a %e") %></span>
        </div>
      </li>
      <li class="card-data__item absolutes">
        <div>
          <span class="text-small">Comment</span>
          <br />
          <span><%= Faker::Number.digit %> nous comentaris a <a href="#" class="card__link"><strong><%= Faker::ChuckNorris.fact %></strong></a></span>
        </div>
        <div class="right"><%= icon "circle-x" %></div>
      </li>
    </ul>
  </div>
<% end %>

<%= partial "pagination" %>
