<div class="card">
  <img class="card__image card__image--larger" src="<%= Faker::Fillmurray.image(true, Faker::Number.number(3), Faker::Number.number(3)) %>" alt="" />
  <div class="card__content">
    <h5>
      <div><strong><%= Faker::Name.name %></strong></div>
      <span class="text-small">@<%= Faker::Twitter.screen_name %></span>
    </h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus maxime voluptas autem doloribus, odit, doloremque architecto, neque corrupti delectus est eveniet. Sed voluptatem praesentium similique, explicabo eius deserunt. Accusamus, ad.</p>
    <a href=""><strong><%= Faker::Internet.url %></strong></a>
  </div>
  <div class="card__footer card__footer--transparent">
    <div class="card__support">
      <div><strong>Member of:</strong></div>
      <div class="card__text--separated-mid-dot js-read-more">
        <% 5.times do %>
          <a href="#"><%= Faker::Beer.name %></a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card__footer card__footer--transparent">
    <div class="flex--cc p-s text-center">
      <div class="mr-s">
        <%= link_to page_path("user/user-followers") do %>
          Followers
          <h1 class="heading1"><%= Faker::Number.number(2) %></h1>
        <% end %>
      </div>
      <div class="ml-s">
        <%= link_to page_path("user/user-following") do %>
          Following
          <h1 class="heading1"><%= Faker::Number.number(2) %></h1>
        <% end %>
      </div>
    </div>
  </div>
</div>
