<%
@title = "Decidim Barcelona"
@activeuser = "logged"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <div class="row">
    <div class="columns medium-9 medium-offset-3">
      <ul class="tabs" id="profile-tabs"
        data-deep-link="true"
        data-update-history="true"
        data-deep-link-smudge="true"
        data-deep-link-smudge-delay="500"
        data-tabs>
        <li class="tabs-title is-active">
          <!-- Provide a title attribute to the anchor with the same content as the text shown, to avoid a bold effect -->
          <a href="#timeline" aria-selected="true" title="Timeline">Timeline</a>
        </li>
        <li class="tabs-title"><a href="#notifications" title="Notifications">Notifications</a></li>
        <li class="tabs-title"><a href="#conversations" title="Conversations">Conversations</a></li>
        <li class="tabs-title"><a href="#following" title="Following">Following</a></li>
        <li class="tabs-title"><a href="#followers" title="Followers">Followers</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-3">
      <%= render partial: page_path("user") + "/user-card" %>
      <div class="text-center">
        <button class="button">Edit profile</button>
      </div>
    </div>
    <div class="columns medium-9">
      <div class="tabs-content" data-tabs-content="profile-tabs">
        <div class="tabs-panel is-active" id="timeline">
          <%= render partial: page_path("user") + "/timeline" %>
        </div>
        <div class="tabs-panel" id="notifications">
          <%= render partial: page_path("user") + "/notifications" %>
        </div>
        <div class="tabs-panel" id="conversations">
          <%= render partial: page_path("user") + "/conversations" %>
        </div>
        <div class="tabs-panel" id="conversation">
          <%= render partial: page_path("user") + "/conversation" %>
        </div>
        <div class="tabs-panel" id="following">
          <%= render partial: page_path("user") + "/following" %>
        </div>
        <div class="tabs-panel" id="followers">
          <%= render partial: page_path("user") + "/followers" %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
