<%= partial "template_top" %>

<main class="wrapper">
  <div class="row collapse">
    <div class="columns medium-9 medium-centered">
      <div class="card">
        <div class="card__content">
          <h3>Do you think more voices should be heard in Participa a Terrassa?</h3>
          <p>Let your friends know about this site</p>
          <form>
            <div class="row collapse mt-sm mb-s">
              <% 3.times do |i| %>
              <div class="row">
                <div class="columns medium-6">
                  <label for="">
                    Friend #<%= 2 * i + 1 %> email
                    <input placeholder="email@address.com" type="text">
                  </label>
                </div>
                <div class="columns medium-6">
                  <label for="">
                    Friend #<%= 2 * i + 2 %> email
                    <input placeholder="email@address.com" type="text">
                  </label>
                </div>
              </div>
              <% end %>
            </div>
            <div class="row collapse mb-sm">
              <div class="text-medium">
                <% content_for :label, flush: true do %>
                  <!-- Etiqueta del desplegable, si cal-->
                  <u>Customize invitation message</u>
                <% end %>
                <%= render layout: "public/components/toggle", locals: { open: false } do %>
                   <!-- Continguts ocultables -->
                   <div class="editor-container"></div>
                <% end %>
              </div>
            </div>
            <button type="submit" class="button expanded">Invitar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row collapse">
    <div class="columns text-center">
      <%= link_to "Visita tu perfil", page_path("user/user-profile"), class: "button secondary light" %>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
