<%= partial "template_top" %>

<main class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1 class="heading1">Registra't a Decidim</h1>
        <p class="heading5">Créate una cuenta para poder participar en los debates y apoyar las
          propuestas.</p>
        <p>
          Ja tens compte?
          <%= link_to "Entra", page_path("user/user-login") %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6 medium-10 medium-centered">
        <div class="card">
          <div class="card__content">
            <form class="register-form">
              <fieldset class="text-center">
                <legend class="text-center heading5">Registra't com:</legend>
                <input type="radio" name="userType" value="Particular"
                  id="particular" checked>
                <label for="particular">Particular</label>
                <input type="radio" name="userType" value="Organització"
                  id="organitzacio">
                <label for="organitzacio">Organització/Col·lectiu</label>
              </fieldset>
              <div class="user-person">
                <div>
                  <label>Nom d'usuari
                    <input type="text" placeholder="Usuari"
                    aria-describedby="userHelp">
                  </label>
                  <p class="help-text" id="userHelp">Nom públic que apareixerà
                    en les teves publicacions. Amb l'objectiu de garantitzar
                    l'anonimat pot ser qualsevol nom.</p>
                </div>
              </div>
              <div class="user-org" style="display:none">
                <div>
                  <label>Nom de l'organització/col·lectiu
                    <input type="text" placeholder="Organització">
                  </label>
                </div>
                <div>
                  <label>NIF
                    <input type="text" placeholder="12345678-X">
                  </label>
                </div>
                <div>
                  <label>Persona responsable de l'organització
                    <input type="text" placeholder="Nom i cognoms"
                    aria-describedby="userOrg">
                  </label>
                  <p class="help-text" id="userOrg">Nom de la persona que
                    representa l'associació o col·lectiu, en nom de la qual es
                    presentaran les propostes</p>
                </div>
                <div>
                  <label>Telèfon
                    <input type="tel" placeholder="Telèfon de contacte">
                  </label>
                </div>
              </div>
                <div>
                  <label>Adreça electrònica
                    <input type="email" placeholder="exemple@domini.com">
                  </label>
                </div>
                <div>
                  <label>Contrasenya
                    <input type="password" placeholder="Contrasenya">
                  </label>
                </div>
              <fieldset>
                <label>
                  <input type="checkbox">
                  En registrar-te acceptes <a href="#">les condicions d'ús</a>
                </label>
              </fieldset>
              <button type="submit" class="button expanded">Registra't</button>
            </form>
            <p class="text-center">
              Ja tens compte?
              <%= link_to "Entra", page_path("user/user-login") %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns large-4 mediumlarge-6 medium-8 medium-centered">
        <span class="register__separator">
          <span class="register__separator__text">o bé</span>
        </span>
        <div class="social-register">
          <a class="button button--social button--twitter"
             href="/users/auth/twitter">
            <span class="button--social__icon">
              <%= icon "twitter" %>
            </span>
            Registre amb Twitter
          </a>
          <a class="button button--social button--facebook"
             href="/users/auth/facebook">
            <span class="button--social__icon">
              <%= icon "facebook" %>
            </span>
            Registre amb Facebook
          </a>
          <a class="button button--social button--google"
             href="/users/auth/google_oauth2">
            <span class="button--social__icon">
              <%= icon "google" %>
            </span>
            Registre amb Google
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
