<%= partial "template_top" %>

<main class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1 class="heading1">Entra a Decidim</h1>
        <p>
          Ets nou a la plataforma?
          <%= link_to "Crea't un compte", page_path("user/user-register") %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6 medium-centered">
        <div class="card">
          <div class="card__content">
            <form class="register-form">
              <div>
                <div>
                  <label>Adreça electrònica
                    <input type="email" placeholder="exemple@domini.com">
                  </label>
                </div>
                <div>
                  <label>Contrasenya
                    <input type="password" placeholder="Contrasenya">
                  </label>
                </div>
              </div>
              <fieldset>
                <label>
                  <input type="checkbox">
                  Recorda'm
                </label>
              </fieldset>
              <button type="submit" class="button expanded">Registra't</button>
            </form>
            <p class="text-center">
              <a href="#">Has oblidat la contrasenya?</a>
            </p>
            <p class="text-center">
              <a href="#">No has rebut instruccions per confirmar el compte?</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns large-4 mediumlarge-6 medium-8 medium-centered">
        <span class="register__separator">
          <span class="register__separator__text">o bé</span>
        </span>
        <div class="social-register">
          <a class="button button--social button--twitter"
             href="/users/auth/twitter">
            <span class="button--social__icon">
              <%= icon "twitter" %>
            </span>
            Entra amb Twitter
          </a>
          <a class="button button--social button--facebook"
             href="/users/auth/facebook">
            <span class="button--social__icon">
              <%= icon "facebook" %>
            </span>
            Entra amb Facebook
          </a>
          <a class="button button--social button--google"
             href="/users/auth/google_oauth2">
            <span class="button--social__icon">
              <%= icon "google" %>
            </span>
            Entra amb Google
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
