<% add_decidim_meta_tags({
                           description: translated_attribute(@commentable.body),
                           title: translated_attribute(@commentable.title),
                           url: dummy_resource_url(@commentable)
                         }) %>

<%= render layout: "layouts/decidim/shared/layout_item", locals: { commentable: @commentable } do %>
  <h2 class="h2 decorator mb-8">
    <%= translated_attribute(@commentable.title) %>
  </h2>

  <% content_for :aside do %>
    <%= action_authorized_link_to :foo, foo_dummy_resource_path(@commentable) do %>
      Foo
    <% end %>

    <section class="layout-main__section layout-main__buttons" data-buttons>
      <%= cell "decidim/comments_button", nil %>
      <div class="ml-auto">
        <%= cell "decidim/share_button", nil %>
      </div>
    </section>
  <% end %>
  <%= comments_for(@commentable) %>
<% end %>
