<section class="wrapper-home home-section">
  <div class="row" id="highlighted-conferences">
    <h3 class="section-heading"><%= t("active_conferences", scope: i18n_scope) %></h3>
    <div class="row collapse">
      <div class="row small-up-1 smallmedium-up-2 mediumlarge-up-3
        large-up-4 card-grid">
        <% highlighted_conferences.each do |conference| %>
          <div class="column">
            <%= link_to decidim_conferences.conference_path(conference), class: "card card--conference card--mini" do %>
              <div aria-hidden="true" class="card__image-top"
                style="background-image:url('<%= conference.attached_uploader(:hero_image).path %>')"></div>
              <div class="card__content">
                <span class="card__title card__link"><%= translated_attribute conference.title %></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" id="see-all-conferences">
    <div class="columns small-centered small-12
      smallmedium-8 medium-6 large-4">
      <%= link_to t("see_all_conferences", scope: i18n_scope),
                  decidim_conferences.conferences_path,
                  class: "button expanded hollow button--sc home-section__cta",
                  title: t("conferences_button_title", scope: i18n_scope) %>
    </div>
  </div>
</section>
