<section id="highlighted_conferences" class="home__section">
  <div id="highlighted-conferences">
    <div class="home__section-header">
      <h2 class="home__section-title">
        <%= t("see_all_conferences", scope: "decidim.conferences.pages.home.highlighted_conferences") %>
        <%= t("active_conferences", scope: i18n_scope) %>
      </h2>
      <%= link_to decidim_conferences.conferences_path, class: "button button__sm button__text-secondary" do %>
          <%= t("see_all_conferences", scope: "decidim.conferences.pages.home.highlighted_conferences") %>
          <%= icon "arrow-right-line", class: "fill-current" %>
        <% end %>
    </div>
    <div class="card__grid-home">
      <% highlighted_conferences.each do |conference| %>
        <%= card_for conference, size: :g %>
      <% end %>
    </div>
  </div>
</section>
