<%= decidim_modal id: "external-domain-warning" do %>
  <div data-dialog-container>
    <%= icon "external-link-line" %>
    <h2 id="dialog-title-external-domain-warning" tabindex="-1" data-dialog-title><%= t("decidim.links.warning.title") %></h2>
    <div>

      <code class="mt-5 block break-all text-alert">
        <%= flash[:alert] %>
      </code>
    </div>
  </div>
  <div data-dialog-actions>
    <button class="button button__lg button__transparent-secondary" data-dialog-close="external-domain-warning">
      <%= t("decidim.links.warning.cancel") %>
    </button>
  </div>
<% end %>
