<%= decidim_modal id: "external-domain-warning" do %>
<div data-dialog-container>
  <%= icon "external-link-line" %>
  <h3 id="dialog-title-external-domain-warning" data-dialog-title><%= t("decidim.links.warning.title") %></h3>
  <div>
    <%= render partial: "warning" %>
    <code class="mt-5 block"><%= highlight_domain %></code>
  </div>
</div>
<div data-dialog-actions>
  <button class="button button__lg button__transparent-secondary" data-dialog-close="external-domain-warning">
    <%= t("decidim.links.warning.cancel") %>
  </button>
  <%= link_to t("decidim.links.warning.proceed"), params[:external_url], target: "_blank", data: { close: "" }, class: "button button__lg button__secondary" %>
</div>
<% end %>
