<%= decidim_modal id: "external-domain-warning" do %>
<div data-dialog-container>
  <%= icon "external-link-line" %>
  <h2 id="dialog-title-external-domain-warning" tabindex="-1" data-dialog-title><%= t("decidim.links.warning.title") %></h2>
  <div>
    <%= render partial: "warning" %>
    <code class="mt-5 block break-all">
      <span><%= @url_parts[:protocol].to_s + "//" %></span>
      <span class="text-alert"><%= @url_parts[:domain] + @url_parts[:port] %></span>
      <span><%= @url_parts[:path] %></span>
    </code>
  </div>
</div>
<div data-dialog-actions>
  <button class="button button__lg button__transparent-secondary" data-dialog-close="external-domain-warning">
    <%= t("decidim.links.warning.cancel") %>
  </button>
  <%= link_to t("decidim.links.warning.proceed"), target_url , target: "_blank", data: { close: "" }, class: "button button__lg button__secondary" %>
</div>
<% end %>
