<div class="wrapper external-link-page-content">
  <h1 class="text-center"><%= t(".title") %></h1>
  <div class="row columns large-centered large-8">
    <div class="card">
      <div>
        <div class="card-section">
          <%= t(".body") %>
        </div>
        <div class="card-section">
          <div class="row">
            <div class="columns large-centered large-12">
              <p class="heading4"><%= t(".external_link") %></p>
              <div class="text-center external-link">
                <%= highlight_domain(params[:external_link]) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columns large-12 text-center">
              <%= link_to t(".proceed"), params[:external_link], class: "button expanded primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns large-12 text-center external-link-cancel">
        <%= t(".cancel") %>
      </div>
    </div>
  </div>
</div>
