<%
@title = "Collaborative Draft -- Decidim Barcelona"
@activesection = "collaborative-drafts"
@activepage = "collaborative-drafts"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row column view-header">
      <h2 class="heading2">Cobriment de la Ronda de Dalt al seu pas per la Vall d'Hebrón</h2>
      <!-- locals.text: the number has to match with the hidden ones -->
      <!-- locals.size: classname. small shows only 3 items -->
      <!-- locals.classText: classname. default text-small. append to span -->
      <%= render layout: "public/components/collapsible-list", locals: { text: raw("y <strong>6</strong> personas más"), size: 3, classText: "" } do %>
      <% 9.times do %>
      <%= partial "author_data", { nick: false } %>
      <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
        <div class="card text-center">
          <div class="card__content">
            <div>
              <strong class="text-large text-uppercase">version <%= Faker::Number.between(1, 50) %></strong>
            </div>
            <div>
              <a href="" class="text-medium"><u>see other versions</u></a>
            </div>
            <button class="button secondary light expanded button--sc mt-s"><%= icon "check", class: "icon--small" %>&nbsp;Acceso solicitado</button>
          </div>
          <div class="card__status">
            <ul class="card-data">
              <li class="card-data__item">
                <a href="">
                  <%= icon "people", class: "icon--small" %>
                  <%= Faker::Number.between(0, 100) %>
                </a>
              </li>
              <li class="card-data__item">
                <a href="">
                  <%= icon "pencil", class: "icon--small" %>
                  <%= Faker::Number.between(0, 100) %>
                </a>
              </li>
              <li class="card-data__item">
                <a href="" title="Comentarios">
                  <%= icon "comment-square", class: "icon--small" %>
                  <%= Faker::Number.between(0, 100) %>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <small>Referencia: BCN-2016-01-173</small>
        </div>
        <%= partial "share" %>
      </div>
      <div class="columns mediumlarge-8 mediumlarge-pull-4">
        <div class="section">
          <span class="success label light proposal-status">Abierto</span>
          <p>
            Millores en un conjunt de carrers dels barris del districte que
            incorporin la renovació integral de les seves infraestructures
            (voreres, accessibilitat, asfaltat, enllumenat, clavegueram,
            arbrat, mobiliari urbà...), Interiors de Canyelles, Guineueta
            i Aiguablava-Portlligat i Amilcar-Cartellà-Av. de Borbó-Maragall,
            connexió del carrer Pedraforca amb Agudes, accessibilitat i
            enllumenat a Renfe Meridiana, urbanització de Nou Pins, Mina de la
            ciutat, Canfranc, Oristà i Almansa, pèrgola del Campillo de la
            virgen i del parc de Serra Martí, redacció del projecte del
            passeig de la Peira, reforma de les escales de Matagalls, millores
            a l'Av. de Borbó i projecte d'intervenció a la Font Pla de
            Fornells. Millores en el Parc de la Guineueta incloent un espai
            d'aparells per a la gent gran. Estudi de la viabilitat tècnica
            d'instal·lar escales mecàniques entre Ciutat Meridiana i Torre
            Baró per millorar la connectivitat entre els dos barris o millora
            de l'escala actual. Millores d'accessibilitat, arranjaments i
            enllumenat en l'àmbit de Renfe Meridiana. Millores en la
            urbanització per a l'accessibilitat d'acord amb les
            particularitats orogràfiques al barri de Roquetes.
          </p>
          <figure>
            <figcaption class="text-uppercase"><strong>Arxivat a</strong></figcaption>
            <ul>
              <li><a href="">Transició ecológica</a>&nbsp;<small class="text-small">(ha canviat de <u>Justícia Climàtica</u> per un administrador)</small></li>
              <li><a href="">Mobilitat sostenible</a></li>
              <li><a href="">Barri de Sarrià</a></li>
            </ul>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="expanded">
    <div class="wrapper wrapper--inner">
      <div class="row">
        <div class="columns large-9" id="comments">
          <%= partial "comments" %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
