<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t(".title") %>
  </h2>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@import, url: import_participatory_texts_path, html: { class: "form form-defaults grid-container" }) do |form| %>
      <div class="form__wrapper">
        <div class="card pt-4">
          <div class="card-section">
            <div id="import-title" class="row column">
              <%= form.translated :text_field, :title, autofocus: true, aria: { label: :title } %>
            </div>

            <div id="import-desc" class="row column">
              <%= form.translated :text_area, :description, aria: { label: :description } %>
            </div>

            <div class="row column">
              <%= form.upload :document, label: t(".document_legend", valid_mime_types: mime_types_with_document_examples).html_safe, button_class: "button button__sm button__transparent-secondary" %>
            </div>
          </div>
        </div>
        <div class="item__edit-sticky">
          <div class="item__edit-sticky-container">
            <div class="flex-col-reverse md:flex-row justify-between text-white">
              <%= t(".bottom_hint") %>
              <%= form.submit t(".upload_document"), class: "button button__sm button__secondary" %>
            </div>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>
