<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t ".title" %>
      <%= link_to t("actions.new", scope: "decidim.admin", name: t("models.newsletter.name", scope: "decidim.admin").downcase), ['new', 'newsletter'], class: 'button tiny button--title new' %>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.newsletter.fields.subject", scope: "decidim.admin") %></th>
            <th><%= t("models.newsletter.fields.created_at", scope: "decidim.admin") %></th>
            <th><%= t("models.newsletter.fields.sent_at", scope: "decidim.admin") %></th>
            <th><%= t("models.newsletter.fields.progress", scope: "decidim.admin") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @newsletters.each do |newsletter| %>
            <tr data-newsletter-id="<%= newsletter.id %>">
              <td><%= translated_attribute newsletter.subject %></td>
              <td><%= l newsletter.created_at, format: :long if newsletter.created_at %></td>
              <td><%= l newsletter.sent_at, format: :long if newsletter.sent_at %></td>
              <td>
                <% if newsletter.sent? %>
                  <%= "#{newsletter.total_deliveries} / #{newsletter.total_recipients}" %>
                <% end %>
              </td>
              <td class="table-list__actions">
                <% if can?(:update, newsletter) && !newsletter.sent? %>
                  <%= icon_link_to "pencil", decidim_admin.edit_newsletter_path(newsletter), t("actions.edit", scope: "decidim.admin"), class: "edit" %>
                <% end %>

                <%= icon_link_to "eye", decidim_admin.newsletter_path(newsletter), t("actions.preview", scope: "decidim.admin"), class: "preview" %>

                <% if can?(:destroy, newsletter) && !newsletter.sent? %>
                  <%= icon_link_to "circle-x", decidim_admin.newsletter_path(newsletter), t("actions.destroy", scope: "decidim.admin"), method: :delete, data: { confirm: t(".confirm_delete") }, class: "action-icon--remove" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
