<%= decidim_modal id: "confirm-modal" do %>
  <div data-dialog-container>
  <% if @title_key == "group_admins" %>
    <h2 class="h2" data-dialog-title id="dialog-title-confirm-modal"><%= t("title_remove", scope: "decidim.group_members.actions.confirm_modal") %></h2>
  <% else %>
    <h2 class="h2" data-dialog-title id="dialog-title-confirm-modal"><%= t("title_add", scope: "decidim.group_members.actions.confirm_modal") %></h2>
  <% end %>
    <div data-confirm-modal-content></div>
  </div>

  <div data-dialog-actions>
    <button class="button button__lg button__transparent-secondary" data-confirm-cancel data-dialog-close="confirm-modal">
      <span><%= t("cancel", scope: "decidim.shared.confirm_modal") %></span>
    </button>
    <button class="button button__lg button__secondary" data-confirm-ok>
    <% if @title_key == "group_admins" %>
      <span><%= t("ok_remove", scope: "decidim.group_members.actions.confirm_modal") %></span>
    <% else %>
      <span><%= t("ok_add", scope: "decidim.group_members.actions.confirm_modal") %></span>
    <% end %>
    </button>
  </div>
<% end %>
