<div id="floating-helper-tip" data-floating-help>
  <button class="button button__xs button__text-secondary py-1" data-dialog-open="floating-helper-block">
    <%= icon "question-line" %>
    <span><%= t("help", scope: "decidim.shared.floating_help") %></span>
  </button>
</div>

<%= decidim_modal id: "floating-helper-block" do %>
  <div data-dialog-container>
    <%= icon "question-line" %>
    <h3 id="dialog-title-floating-helper-block" data-dialog-title><%= t("help", scope: "decidim.shared.floating_help") %></h3>
    <div class="editor-content">
      <%= content %>
    </div>
  </div>
<% end %>
