<button class="order-by__button <%= b_css_class if defined?(b_css_class) %>" id="dropdown-trigger-order" data-component="dropdown" data-target="dropdown-menu-order" data-open-md="true">
  <%= icon "arrow-down-s-line" %>
  <%= icon "arrow-up-s-line" %>
  <span><%= t("#{i18n_scope}.label") %></span>
</button>
<div id="dropdown-menu-order" class="order-by <%= css_class if defined?(css_class) %>">
  <% orders.each do |order_name| %>
    <%= order_link order_name,
                   i18n_scope:,
                   title: t("#{i18n_scope}.label"),
                   role: :menuitem,
                   class: "button button__sm button__text-secondary #{order_name == order ? "underline font-bold" : "font-normal"}" %>
  <% end %>
</div>
