<%= decidim_modal id: "socialShare", class: "share-modal" do %>
<div data-dialog-container>
  <%= icon "share-line" %>
  <h2 id="dialog-title-socialShare" tabindex="-1" data-dialog-title><%= t("share", scope: "decidim.shared.share_modal") %></h2>
  <div>
    <%= social_share_button_tag(decidim_page_title,
                                url: decidim_meta_url,
                                image: decidim_meta_image_url,
                                desc: h(decidim_meta_description),
                                via: decidim_meta_twitter_handler) %>

    <% resource_name =  @decidim_meta_resource.class.name.demodulize.underscore
       resource_name = "budget_project" if resource_name == "project" %>
    <div class="share-modal__input">
      <input id="urlShareLink" type="text" title="<%= t("share_link" , scope: "decidim.shared.share_modal") %>" value="<%= resource_name ? short_url(route_name: resource_name, params:) : decidim_meta_url%>" readonly>
      <button type="button"
        class="button button__sm button__text-secondary"
        data-clipboard-copy="#urlShareLink"
        data-clipboard-copy-label="<%= t("copy_share_link_copied", scope: "decidim.shared.share_modal") %>"
        data-clipboard-copy-message="<%= t("copy_share_link_message", scope: "decidim.shared.share_modal") %>"
        title="<%= t("copy_share_link_clarification", scope: "decidim.shared.share_modal") %>">
        <span><%= t("copy_share_link", scope: "decidim.shared.share_modal") %></span>
        <%= icon "file-copy-line" %>
      </button>
    </div>
  </div>
</div>
<% end %>
