<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= title %>
      <div class="button--title">
        <%= export_dropdown if allowed_to? :export_answers, :questionnaire %>
      </div>
    </h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>
    <div class="row column">
      <%= form.translated :editor, :description, toolbar: :full, lines: 30, label: t("models.components.description", scope: "decidim.forms.admin") %>
    </div>
    <div class="row column">
      <%= form.translated :editor, :tos, toolbar: :full, lines: 10, label: t("models.components.tos", scope: "decidim.forms.admin") %>
    </div>
  </div>
</div>

<div class="questionnaire-questions">
  <div class="row column text-center">
    <button type="button" class="button collapse-all"><%= t(".collapse") %></button>
    <button type="button" class="button expand-all"><%= t(".expand") %></button>
  </div>

  <% if questionnaire.questions_editable? %>
    <%= fields_for "questionnaire[questions][#{blank_question.to_param}]", blank_question do |question_form| %>
      <script type="text/template" class="decidim-question-template decidim-template" id="question-template">
        <%= render "decidim/forms/admin/questionnaires/question",
              form: question_form,
              id: tabs_id_for_question(blank_question),
              editable: questionnaire.questions_editable?,
              answer_option_template_selector: "#answer-option-template-dummy",
              matrix_row_template_selector: "#matrix-row-template-dummy" %>
      </script>
      <script type="text/template" class="decidim-separator-template decidim-template" id="separator-template">
        <%= render "decidim/forms/admin/questionnaires/separator",
              form: question_form,
              id: tabs_id_for_question(blank_question),
              editable: questionnaire.questions_editable? %>
      </script>
      <%= render "decidim/forms/admin/questionnaires/answer_option_template", form: question_form, editable: questionnaire.questions_editable?, template_id: "answer-option-template-dummy" %>
      <%= render "decidim/forms/admin/questionnaires/matrix_row_template", form: question_form, editable: questionnaire.questions_editable?, template_id: "matrix-row-template-dummy" %>
    <% end %>
  <% else %>
    <div class="callout warning">
      <%= t(".already_answered_warning") %>
    </div>
  <% end %>

  <div class="questionnaire-questions-list">
    <% @form.questions.each_with_index do |question, index| %>
      <%= fields_for "questionnaire[questions][]", question do |question_form| %>
        <% if question.separator? %>
          <%= render "decidim/forms/admin/questionnaires/separator",
                form: question_form,
                id: tabs_id_for_question(question),
                editable: questionnaire.questions_editable? %>
        <% else %>
          <%= render "decidim/forms/admin/questionnaires/question",
                form: question_form,
                id: tabs_id_for_question(question),
                editable: questionnaire.questions_editable?,
                answer_option_template_selector: "#answer-option-template-#{index}",
                matrix_row_template_selector: "#matrix-row-template-#{index}" %>
          <%= render "decidim/forms/admin/questionnaires/answer_option_template", form: question_form, editable: questionnaire.questions_editable?, template_id: "answer-option-template-#{index}" %>
          <%= render "decidim/forms/admin/questionnaires/matrix_row_template", form: question_form, editable: questionnaire.questions_editable?, template_id: "matrix-row-template-#{index}" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if questionnaire.questions_editable? %>
    <button class="button add-question"><%= t(".add_question") %></button>
    <button class="button add-separator"><%= t(".add_separator") %></button>
  <% end %>
</div>

<% if questionnaire.questions_editable? %>
  <%= javascript_include_tag "decidim/forms/admin/forms" %>
<% end %>

<%= javascript_include_tag "decidim/forms/admin/collapsible_questions" %>
