<% matrix_row = form.object %>

<div class="card questionnaire-question-matrix-row mt-4">
  <div class="card-divider">
    <h2 class="card-title">
    <span><%= t(".matrix_row") %></span>
    <% if editable %>
      <button class="button button__xs button__transparent-secondary small alert remove-matrix-row button--title mb-2">
        <%= icon("delete-bin-line") %>
        <%= t(".remove") %>
      </button>
    <% end %>
    </h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%=
        form.translated(
          :text_field,
          :body,
          tabs_id: tabs_id_for_question_matrix_row(question, matrix_row),
          label: t(".statement"),
          disabled: !editable
        )
      %>
    </div>
  </div>

  <% if matrix_row.persisted? %>
    <%= form.hidden_field :id, disabled: !editable %>
    <%= form.hidden_field :position, disabled: !editable %>
  <% end %>

  <%= form.hidden_field :deleted, disabled: !editable %>
</div>
