<% response_option = form.object %>

<div class="card questionnaire-question-response-option m-4">
  <div class="card-divider">
    <h2 class="card-title">
    <span><%= t(".response_option") %></span>
    <% if editable %>
      <button class="button button__xs button__transparent-secondary small alert remove-response-option button--title mb-2">
        <%= icon("delete-bin-line") %>
        <span class="hidden md:block"><%= t(".remove") %></span>
      </button>
    <% end %>
    </h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%=
        form.translated(
          :text_field,
          :body,
          tabs_id: tabs_id_for_question_response_option(question, response_option),
          label: t(".statement"),
          disabled: !editable
        )
      %>
    </div>

    <div class="row column">
      <%=
        form.check_box(
          :free_text,
          label: t(".free_text"),
          disabled: !questionnaire.questions_editable?
        )
      %>
    </div>
  </div>

  <% if response_option.persisted? %>
    <%= form.hidden_field :id, disabled: !editable %>
  <% end %>

  <%= form.hidden_field :deleted, disabled: !editable %>
</div>
