<button data-dialog-open="process-steps-modal"><%= active_step_name %></button>

<%= decidim_modal id: "process-steps-modal", class: "participatory-space__metadata-modal" do %>
  <div data-dialog-container>
    <%= icon "flag-line" %>
    <h3 id="dialog-title-process-steps-modal" data-dialog-title><%= t("participatory_process_steps.index.process_steps", scope: "decidim") %></h3>
    <div>
      <div class="participatory-space__metadata-modal__list-container" data-component="accordion" data-multiselectable="false" data-collapsible="false">
        <ol class="participatory-space__metadata-modal__list">
          <% steps.each_with_index do |step, i| %>
            <% active = step == active_step %>
            <li class="participatory-space__metadata-modal__step<%= " is-active" if active %>" data-controls="panel-process-steps-<%= i %>" data-open="<%= "true" if active %>">
              <div><%= step.position + 1 %></div>
              <div>
                <span class="participatory-space__metadata-modal__step-title">
                  <span class="participatory-space__metadata-modal__step-current">Fase Actual</span>
                  <%= translated_attribute(step.title) %>
                </span>
                <span class="participatory-space__metadata-modal__step-dates"><%= step_dates(step) %></span>
              </div>
            </li>
          <% end %>
        </ol>
        <div>
          <% steps.each_with_index do |step, i| %>
            <div id="panel-process-steps-<%= i %>" class="participatory-space__metadata-modal__content">
              <%= decidim_sanitize_editor_admin(translated_attribute(step.description)) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
