<% if budgets.where.not(id: voted.map(&:id)).exists? %>
  <div class="section" id="budgets-to-vote">
    <h2 class="h5 md:h3 decorator my-8">
      <%= t(:my_budgets, scope: i18n_scope) %>
    </h2>

    <%#= order_selector available_orders, i18n_scope: "decidim.budgets.projects.orders" %>
    <%= render :card_list %>
  </div>
<% end %>

<%= decidim_paginate budget_paginate %>

<% if !voting_finished? && voted? %>
  <div class="section">
    <h2 class="h5 md:h3 decorator mb-8">
      <%= t("voted_budgets", scope: "decidim.budgets.budgets_list") %>
    </h2>

    <%= render :voted %>
    <% end %>
  </div>
</div>
