<% if voted? %>
  <div id="voted-budgets">
    <p class="lead">
      <%= t(:voted_on, scope: i18n_scope, links: budgets_link_list(voted)) %>
    </p>

    <% if finished? %>
      <p class="lead">
        <%= t(:finished_message, scope: i18n_scope) %>
      </p>
    <% end %>

    <% if voting_open? %>
      <div>
        <p>
          <%= t(:if_change_opinion, scope: i18n_scope) %>
          <%= link_to(
          t("cancel_order.only_one", scope: i18n_scope),
          budget_order_path(voted.first),
          method: :delete,
          data: { confirm: t("projects.budget_summary.are_you_sure", scope: "decidim.budgets") }) if voted.one? %>
        </p>

        <% if !voted.one? && voted.any? %>
          <ul>
            <% voted.each do |budget| %>
              <li>
                <%= link_to(
                            t("cancel_order.more_than_one", scope: i18n_scope, name: translated_attribute(budget.title)),
                            budget_order_path(budget),
                            method: :delete,
                            class: "cancel-order",
                            data: {
                              confirm: t("projects.budget_summary.are_you_sure", scope: "decidim.budgets")
                            }) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
