<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_budgets" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_budgets", media: "all" %>
<% end %>

<% content_for :aside do %>
  <h1 class="h1 decorator">
    <%= t("name", scope: "decidim.components.budgets") %>
  </h1>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "decidim/shared/component_announcement_with_truncate" %>
  <%= cell("decidim/budgets/budgets_header", current_workflow) %>
  <%= cell("decidim/budgets/budgets_list", current_workflow) %>

<% end %>
