<%= append_javascript_pack_tag "decidim_budgets" %>
<%= append_stylesheet_pack_tag "decidim_budgets", media: "all" %>

<% content_for :aside do %>
  <h1 class="h1 decorator">
    <%= t("name", scope: "decidim.components.budgets") %>
  </h1>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= cell("decidim/announcement", announcement_body, truncate: true) %>
  <%= cell("decidim/budgets/budgets_header", current_workflow) %>
  <%= cell("decidim/budgets/budgets_list", current_workflow) %>
<% end %>
