<% add_decidim_meta_tags(
  description: translated_attribute(current_component.participatory_space.try(:description)),
  title: component_name,
  url: budgets_url,
  resource: current_component) %>

<%= append_javascript_pack_tag "decidim_budgets" %>
<%= append_stylesheet_pack_tag "decidim_budgets", media: "all" %>

<% content_for :aside do %>
  <h1 class="title-decorator"><%= component_name %></h1>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "decidim/shared/component_announcement" %>

  <% if current_workflow.budgets.empty? %>
    <%= cell("decidim/announcement", t("empty", scope: "decidim.budgets.budgets_list")) %>
  <% end %>

  <section class="layout-main__section">
    <%= cell("decidim/budgets/budgets_header", current_workflow) %>
  </section>

  <section class="layout-main__section layout-main__heading flex flex-col items-start">
    <%= cell("decidim/budgets/budgets_list", current_workflow) %>
  </section>
<% end %>
