<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_elections", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_elections" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>

  <%= cell("decidim/announcement", {
             title: t("not_supported_browser_title", scope: "decidim.elections.trustee_zone.trustees.show"),
             body: t("not_supported_browser_description", scope: "decidim.elections.trustee_zone.trustees.show")
           }, callout_class: "alert", id: "not_supported_browser", hidden: true ) %>

  <%= cell("decidim/announcement", t("trustee_role_description", scope: "decidim.elections.trustee_zone.trustees.show"), callout_class: "success" ) %>

  <div id="trustee_zone" class="election-trustee__container">
    <% if trustee.public_key.blank? %>
      <%= render partial: "no_public_keys" %>
    <% else %>
      <%= render partial: "public_keys" %>
    <% end %>
  </div>

<% end %>
