<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <%= form.text_field :code, autofocus: true %>
    </div>
    <div class="row column">
      <%= form.text_field :title %>
    </div>

    <%= form.label_for :question_ids %>
    <% voting_elections.each do |election| %>
      <div class="card-section">
        <%= "#{translated_attribute(election.component.name)}: #{translated_attribute(election.title)}" %>
        
        <% election.questions.each do |question| %>
          <%= form.check_box :question_ids, { multiple: true, label: translated_attribute(question.title) }, question.id, nil %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
