<% unread_data ||= current_user_unread_data %>
<li class="dropdown__item">
  <%= link_to decidim.account_path, class: "dropdown__button" do %>
    <%= icon "user-smile-line" %>
    <span><%= t("layouts.decidim.user_menu.profile") %></span>
  <% end %>
</li>
<li class="dropdown__item">
  <%= link_to decidim.profile_path(current_user.nickname), class: "dropdown__button" do %>
    <%= icon "account-circle-line" %>
    <span><%= t("layouts.decidim.user_menu.public_profile") %></span>
  <% end %>
</li>
<li class="dropdown__item">
  <%= link_to decidim.notifications_path, class: "dropdown__button" do %>
    <%= icon "notification-3-line" %>
    <span><%= t("layouts.decidim.user_menu.notifications") %></span>
    <% if unread_data[:unread_notifications] %>
      <%= content_tag :span, "", class: "main-bar__dropdown-notification", data: unread_data %>
    <% end %>
  <% end %>
</li>
<li class="dropdown__item">
  <%= link_to decidim.conversations_path, class: "dropdown__button" do %>
    <%= icon "mail-send-line" %>
    <span><%= t("layouts.decidim.user_menu.conversations") %></span>
    <% if unread_data[:unread_conversations] %>
      <%= content_tag :span, "", class: "main-bar__dropdown-notification", data: unread_data %>
    <% end %>
  <% end %>
</li>
<% if allowed_to? :read, :admin_dashboard %>
  <li class="dropdown__item">
    <%= link_to decidim_admin.root_path, class: "dropdown__button" do %>
      <%= icon "dashboard-line" %>
      <span><%= t("layouts.decidim.user_menu.admin_dashboard") %></span>
    <% end %>
  </li>
<% end %>
<li class="dropdown__item">
  <%= link_to decidim.destroy_user_session_path, method: :delete, class: "dropdown__button" do %>
    <%= icon "logout-box-r-line" %>
    <span><%= t("layouts.decidim.user_menu.log_out") %></span>
  <% end %>
</li>
