<div id="<%= id %>" class="menu-bar__main-dropdown">
  <div class="menu-bar__main-dropdown__left">
    <div class="menu-bar__main-dropdown__left-top">
      <%= render partial: "layouts/decidim/header/menu_breadcrumb_main_dropdown_top_left" %>
    </div>
    <%= cell("decidim/highlighted_participatory_process", menu_highlighted_participatory_process) %>
    <%= cell "decidim/content_blocks/menu_breadcrumb_last_activity", current_organization %>
  </div>
  <%= breadcrumb_root_menu.render %>
</div>
