<div id="<%= id %>" class="menu-bar__main-dropdown">
  <div class="menu-bar__main-dropdown__top">
    <div class="menu-bar__main-dropdown__top-left">
      <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_main_dropdown_top_left" %>
    </div>
    <%= breadcrumb_root_menu.render %>
  </div>
  <div class="menu-bar__main-dropdown__bottom">
  <%# REDESIGN_PENDING - This element should use a cell and define a criteria to select a single featured element %>
    <div class="menu-bar__main-dropdown__bottom-left">
      <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_main_dropdown_bottom_left" %>
    </div>
    <div class="menu-bar__main-dropdown__bottom-right">
      <%= cell "decidim/content_blocks/menu_breadcrumb_last_activity", nil %>
    </div>
  </div>
</div>
