<li>
  <%= link_to decidim.account_path do %>
    <%= icon "user-smile-line" %>
    <span><%= t("layouts.decidim.user_menu.profile") %></span>
  <% end %>
</li>
<li>
  <%= link_to decidim.profile_path(current_user.nickname) do %>
    <%= icon "account-circle-line" %>
    <span><%= t("layouts.decidim.user_menu.public_profile") %></span>
  <% end %>
</li>
<li>
  <%= link_to decidim.notifications_path do %>
    <%= icon "notification-3-line" %>
    <span><%= t("layouts.decidim.user_menu.notifications") %></span>
    <% if current_user.notifications.any? %>
      <span class="main-bar__dropdown-notification"></span>
    <% end %>
  <% end %>
</li>
<li>
  <%= link_to decidim.conversations_path do %>
    <%= icon "mail-send-line" %>
    <span><%= t("layouts.decidim.user_menu.conversations") %></span>
    <% if current_user.unread_conversations.any? %>
      <span class="main-bar__dropdown-notification"></span>
    <% end %>
  <% end %>
</li>
<% if allowed_to? :read, :admin_dashboard %>
  <li>
    <%= link_to decidim_admin.root_path do %>
      <%= icon "dashboard-line" %>
      <span><%= t("layouts.decidim.user_menu.admin_dashboard") %></span>
    <% end %>
  </li>
<% end %>
<li>
  <%= link_to decidim.destroy_user_session_path, method: :delete do %>
    <%= icon "logout-box-r-line" %>
    <span><%= t("layouts.decidim.user_menu.sign_out") %></span>
  <% end %>
</li>
