<%= form_tag(decidim.search_path, method: :get, id: "form-search_topbar") do %>
  <label class="block relative rounded text-md bg-background">
    <span class="sr-only"><%= t("decidim.search.term_input_placeholder") %></span>
    <input type="text" class="block bg-transparent w-full px-4 py-1.5" placeholder="<%= t("decidim.search.term_input_placeholder") %>">
    <button type="submit" class="absolute right-2 inset-y-2 text-secondary" aria-label="<%= t("decidim.search.term_input_placeholder") %>">
      <%= icon "search-line" %>
    </button>
  </label>
<% end %>
