<%= link_to decidim.pages_path, "aria-label": t("decidim.menu.help") do %>
  <%= icon "question-line" %><span><%= t("decidim.menu.help") %></span>
<% end %>
<div class="flex gap-x-8">
  <%= link_to Decidim::Meetings::DirectoryEngine.routes.url_helpers.root_path, "aria-label": t("decidim.pages.home.extended.meetings") do %>
    <%= icon "road-map-line" %><span><%= t("decidim.pages.home.extended.meetings") %></span>
  <% end %>
  <%= link_to decidim.last_activities_path, "aria-label": t("decidim.profiles.show.activity") do %>
    <%= icon "bubble-chart-line" %><span><%= t("decidim.profiles.show.activity") %></span>
  <% end %>
</div>

<% if !current_user %>
  <%= link_to decidim.new_user_session_path, "aria-label": t("layouts.decidim.header.sign_in") do %>
    <%= icon "login-box-line" %><span><%= t("layouts.decidim.header.sign_in") %></span>
  <% end %>
<% else %>
  <details class="main-bar__dropdown-container">
    <summary id="dropdown-summary-account" class="main-bar__dropdown-trigger" aria-controls="dropdown-account">
      <% if current_user.notifications.any? || current_user.unread_conversations.any? %>
        <span class="main-bar__dropdown-trigger__notification" data-unread-items></span>
      <% end %>
      <% if current_user.avatar.attached? %>
        <span class="main-bar__dropdown-trigger__avatar">
          <span>
            <%= image_tag(
                  current_user.attached_uploader(:avatar).path(variant: :thumb),
                  alt: t("decidim.author.avatar", name: decidim_sanitize(current_user.avatar.name))
                ) %>
          </span>
        </span>
      <% else %>
        <%= icon "user-smile-line" %>
        <span><%= t("layouts.decidim.user_profile.account") %></span>
      <% end %>
    </summary>
    <ul id="dropdown-account" class="dropdown dropdown__bottom main-bar__dropdown" aria-labelledby="dropdown-summary-account">
      <%= render partial: "layouts/decidim/header/redesigned_main_links_dropdown" %>
    </ul>
  </details>
<% end %>
