<div id="main-bar" class="main-bar__container">
  <div class="main-bar">
    <div class="main-bar__logo">
      <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
    </div>
    <div class="main-bar__search">
      <%= render partial: "layouts/decidim/header/redesigned_main_search" %>
    </div>
    <div class="main-bar__links-desktop">
      <%= render partial: "layouts/decidim/header/redesigned_main_links_desktop" %>
    </div>

    <div class="lg:hidden">
      <%# Sticky menu mobile %>
      <div class="main-bar__links-mobile">
        <%= render partial: "layouts/decidim/header/redesigned_main_links_mobile" %>
      </div>

      <%# Main dropdown mobile %>
      <details>
        <summary id="main-dropdown-summary-mobile" class="main-bar__links-mobile__trigger"
          aria-controls="main-dropdown-mobile">
          <%= icon "menu-line" %><span><%= "menu" %></span>
        </summary>

        <div id="main-dropdown-mobile" aria-labelledby="main-dropdown-summary-mobile" class="main-bar__links-mobile__dropdown">
          <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_main_dropdown" %>
        </div>
      </details>
    </div>
  </div>
</div>
