<div class="flex items-center">
  <%= link_to decidim.root_url, class: "menu-bar__breadcrumb-desktop__dropdown-trigger" do %>
    <%= icon "home-2-line" %><span class="sr-only"><%= t("decidim.menu.home") %></span>
  <% end %>
  <button id="main-dropdown-summary" class="menu-bar__breadcrumb-desktop__dropdown-trigger" data-component="dropdown" data-hover="true" data-target="main-dropdown-menu">
    <%= icon "arrow-drop-down-line" %><span class="sr-only"><%= t("layouts.decidim.header.main_menu") %></span>
  </button>
</div>

<div id="main-dropdown-menu" class="menu-bar__breadcrumb-desktop__dropdown-content" aria-hidden="true"
  ontransitionend="this.allowReopen = false; this.style.pointerEvents = 'none'"
  ontransitionstart="this.allowReopen = true; this.style.pointerEvents = 'auto'"
  onmouseenter="this.allowReopen && this.getAttribute('aria-hidden') === 'true' && document.querySelector('#main-dropdown-summary').click()">
  <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_main_dropdown", locals: { id: "breadcrumb-main-dropdown-desktop" } %>
</div>

<%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_items" %>
