<!-- TODO: fulfill the url hrefs -->
<%= link_to "", class: "flex flex-col items-center text-secondary px-8", "aria-label": t("decidim.menu.help") do %>
  <%= icon "question-line", class: "w-5 h-5 fill-current" %><span class="text-sm first-letter:uppercase"><%= t("decidim.menu.help") %></span>
<% end %>
<div class="flex px-8 gap-x-8">
  <%= link_to "", class: "flex flex-col items-center text-secondary", "aria-label": t("decidim.pages.home.extended.meetings") do %>
    <%= icon "road-map-line", class: "w-5 h-5 fill-current" %><span class="text-sm first-letter:uppercase"><%= t("decidim.pages.home.extended.meetings") %></span>
  <% end %>
  <%= link_to "", class: "flex flex-col items-center text-secondary", "aria-label": t("decidim.profiles.show.activity") do %>
    <%= icon "bubble-chart-line", class: "w-5 h-5 fill-current" %><span class="text-sm first-letter:uppercase"><%= t("decidim.profiles.show.activity") %></span>
  <% end %>
</div>
<% if !current_user %>
  <%= link_to decidim.new_user_session_path, class: "flex flex-col items-center text-secondary px-8", "aria-label": t("layouts.decidim.header.sign_in") do %>
    <%= icon "login-box-line", class: "w-5 h-5 fill-current" %><span class="text-sm first-letter:uppercase"><%= t("layouts.decidim.header.sign_in") %></span>
  <% end %>
<% else %>
  <a href="" class="px-8" aria-label="<%= t("layouts.decidim.user_profile.account") %>">
    <div class="flex flex-col items-center text-secondary relative">
      <% if current_user.notifications.any? %>
        <span class="w-2.5 h-2.5 rounded-full block absolute -top-0.5 right-0 bg-primary"></span>
      <% end %>
      <% if current_user.avatar.any? %>
        <div class="w-8 h-8 rounded-full border border-secondary">
          <div class="w-full h-full rounded-full overflow-hidden">
            <%= image_tag "https://www.fillmurray.com/640/360", class: "object-cover w-full h-full", alt: "avatar #{current_user.avatar.name}" %>
          </div>
        </div>
      <% else %>
        <%= icon "user-smile-line", class: "w-5 h-5 fill-current" %>
        <span class="text-sm first-letter:uppercase"><%= t("layouts.decidim.user_profile.account") %></span>
      <% end %>
      <!-- TODO: dropdown -->
    </div>
  </a>
<% end %>
