<%= link_to decidim.root_url do %>
  <%= icon "home-2-line" %><span><%= t("decidim.menu.home") %></span>
<% end %>

<%= link_to decidim.search_path do %>
  <%= icon "search-line" %><span><%= t("decidim.search.term_input_placeholder") %></span>
<% end %>

<%= link_to decidim.last_activities_path do %>
  <%= icon "bubble-chart-line" %><span><%= t("decidim.profiles.show.activity") %></span>
<% end %>

<% if current_user %>
  <%= link_to decidim.profile_path(current_user.nickname) do %>
    <% if current_user.notifications.any? %>
      <span class="main-bar__notification"></span>
    <% end %>

    <% if current_user.avatar.attached? %>
      <div class="main-bar__avatar">
        <%= image_tag(
                current_user.attached_uploader(:avatar).path(variant: :thumb),
                alt: t("decidim.author.avatar", name: decidim_sanitize(current_user.avatar.name))
              ) %>
      </div>
    <% else %>
      <%= icon "user-smile-line" %>
    <% end %>

    <span><%= t("layouts.decidim.user_profile.account") %></span>
  <% end %>
<% else %>
  <%= link_to decidim.new_user_session_path do %>
    <%= icon "login-box-line" %><span><%= t("layouts.decidim.header.sign_in") %></span>
  <% end %>
<% end %>
