<tr class="feature-<%= feature.id %>">
  <td>
    <%= link_to main_feature_path(feature), target: "_blank" do %>
      <%= translated_attribute feature.name %>
    <% end %>
  </td>
  <td>
    <%= t "decidim.features.#{feature.manifest.name}.name" %>
  </td>
  <td class="table-list__actions">
    <% if feature.manifest.admin_engine %>
      <%= icon_link_to "pencil", manage_feature_path(feature), t("actions.manage", scope: "decidim.admin"), class: "action-icon--manage" %>
    <% end %>

    <% if can?(:update, feature) %>
      <% if feature.published? %>
        <%= icon_link_to "x", url_for(action: :unpublish, id: feature, controller: "features"), t("actions.unpublish", scope: "decidim.admin"), class: "action-icon--unpublish", method: :put %>
      <% else %>
        <%= icon_link_to "check", url_for(action: :publish, id: feature, controller: "features"), t("actions.publish", scope: "decidim.admin"), class: "action-icon--publish", method: :put %>
      <% end %>
    <% end %>

    <% if can? :update, feature %>
      <%= icon_link_to "cog", url_for(action: :edit, id: feature, controller: "features"), t("actions.configure", scope: "decidim.admin"), class: "action-icon--configure" %>
    <% end %>

    <% if can? :update, feature %>
      <% if feature.manifest.actions.empty? %>
        <%= icon "key", class: "action-icon action-icon--disabled" %>
      <% else %>
        <%= icon_link_to "key", url_for(action: :edit, feature_id: feature, controller: "feature_permissions"), t("actions.permissions", scope: "decidim.admin"), class: "action-icon--permissions" %>
      <% end %>
    <% end %>

    <%= icon_link_to "circle-x", url_for(action: :destroy, id: feature, controller: "features"), t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete %>
  </td>
</tr>
