<tr class="feature-<%= feature.id %>">
  <td>
    <%= link_to decidim.feature_path(participatory_process, feature), target: "_blank" do %>
      <%= translated_attribute feature.name %>
    <% end %>
  </td>
  <td>
    <%= t "decidim.features.#{feature.manifest.name}.name" %>
  </td>
  <td class="table-list__actions">
    <% if feature.manifest.admin_engine %>
      <%= icon_link_to "pencil", manage_feature_path(participatory_process, feature), t("actions.manage", scope: "decidim.admin"), "action-icon--manage", :get %>
    <% end %>

    <% if can?(:update, feature) %>
      <% if feature.published? %>
        <%= icon_link_to "cloud-download", url_for(action: :unpublish, id: feature, controller: "features"), t("actions.unpublish", scope: "decidim.admin"), "action-icon--unpublish", :put %>
      <% else %>
        <%= icon_link_to "cloud-upload", url_for(action: :publish, id: feature, controller: "features"), t("actions.publish", scope: "decidim.admin"), "action-icon--publish", :put %>
      <% end %>
    <% end %>

    <% if can? :update, feature %>
      <%= icon_link_to "cog", url_for(action: :edit, id: feature, controller: "features"), t("actions.configure", scope: "decidim.admin"), "action-icon--configure", :get %>
    <% end %>

    <% if can? :update, feature %>
      <%= icon_link_to "key", edit_participatory_process_feature_permissions_path(feature_id: feature), t("actions.permissions", scope: "decidim.admin"), "action-icon--permissions", :get %>
    <% end %>

    <%= icon_link_to "circle-x", url_for(action: :destroy, id: feature, controller: "features"), t("actions.destroy", scope: "decidim.admin"), "action-icon--remove", :delete %>
  </td>
</tr>
