<div class="row column">
  <%= form.translated :text_field, :name, autofocus: true %>
</div>

<div class="row column">
  <%= form.number_field :weight %>
</div>

<% if form.object.settings? %>
  <div class="row column">
    <fieldset class="form-group global-settings">
      <h3 class="legend"><%= t ".global_settings" %></h3>
      <%= form.fields_for :settings, form.object.settings do |settings_fields| %>
        <%= render partial: "decidim/admin/features/settings_fields",
                    locals: {
                      form: settings_fields,
                      feature: @feature,
                      settings_name: "global"
                    } %>
      <% end %>
    </fieldset>
  </div>
<% end %>

<% if form.object.step_settings? %>
  <% participatory_process.steps.each do |step| %>
    <div class="row column">
      <fieldset class="form-group step-settings-<%= step.id %>">
        <h3 class="legend"><%= step.position + 1 %>. <%= translated_attribute step.title %></h3>
        <% step_settings = form.object.step_settings[step.id.to_s] %>

        <%= form.fields_for "step_settings", nil do |settings_fields| %>
          <%= settings_fields.fields_for step.id.to_s, step_settings do |settings_fields| %>
            <%= render partial: "decidim/admin/features/settings_fields",
            locals: {
              form: settings_fields,
              feature: feature,
              settings_name: "step"
            } %>
          <% end %>
        <% end %>
      </fieldset>
    </div>
  <% end %>
<% end %>