<p><%= @event_instance.email_greeting %></p>

<p><%= @event_instance.email_intro %></p>

<% if @event_instance.try(:safe_resource_text).present? %>
  <blockquote>
    <p>
      <%= @event_instance.safe_resource_text %>
    </p>
  </blockquote>
<% end %>

<% if @event_instance.resource_path.present? && @event_instance.resource_title.present? %>
  <p>
    <%= link_to @event_instance.resource_title, @event_instance.resource_url %>
  </p>
<% end %>

<p><%= @event_instance.email_outro %></p>
