<%= cell("decidim/announcement", t(".census_present"), callout_class: "success") %>

<div class="form__wrapper">
  <p class="text-gray-2"><%= t(".title") %></p>

  <p>
    <%= t(".name") %>: <%= voter_name %>
  </p>
</div>

<div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
  <%= link_to polling_officers_path, class: "button button__sm md:button__lg button__text-secondary" do %>
    <%= icon "arrow-left-line" %>
    <span><%= t("back", scope: "decidim.votings.polling_officer_zone.in_person_votes.new") %></span>
  <% end %>

  <button id="js-verify-document" class="button button__sm md:button__lg button__secondary">
    <%= t(".verify_document") %>
  </button>
</div>
