<%= append_javascript_pack_tag "decidim_votings" %>
<%= append_stylesheet_pack_tag "decidim_votings" %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left">
      <%= t("title", scope: "decidim.votings.polling_officer_zone.in_person_votes.new") %>
    </h1>
  </div>

  <% if has_voter? %>
    <div id="verify-document">
      <%= render partial: "verify_document" %>
    </div>
    <div id="complete-voting" hidden>
      <%= render partial: "complete_voting" %>
    </div>
  <% else %>
    <%= render partial: "in_person_form" %>
  <% end %>

<% end %>

<%= render "decidim/elections/shared/broken_promises_modal" %>
