<div class="card card--widget">
  <ul class="card-data">
    <li class="card-data__item">
      <div class="card__link text-center">
        <div class="user-header__avatar">
          <% if conversation.interlocutors(current_user).count == 1 %>
            <%= image_tag conversation.interlocutors(current_user).first.avatar_url, alt: t("decidim.author.avatar") %>
          <% else %>
            <%= image_tag current_user.avatar.default_multiuser_url, alt: t("decidim.author.avatar") %>
          <% end %>
        </div>
        <span class="text-medium mt-xs"><%= Date::ABBR_DAYNAMES[conversation.created_at.wday] %> <%= conversation.created_at.wday %></span>
      </div>
    </li>
    <li class="card-data__item card--list__item card-data__item--expand absolutes">
      <div class="mr-s">
        <% if conversation.interlocutors(current_user).count == 1 %>
          <%= t("from", scope: "decidim.messaging.conversations.index") %>: <strong><%= conversation.interlocutors(current_user).first.name %> <span class="muted">@<%= conversation.interlocutors(current_user).first.nickname %></span></strong>
        <% else %>
          <%= t("from", scope: "decidim.messaging.conversations.index") %>: <strong><%= username_list(conversation.interlocutors(current_user), shorten: true) %></strong>
        <% end %>
        <br>
        <span class="muted">
          <%= truncate conversation.last_message.body, length: 150 %>
        </span>
        <br>
        <span class="text-small">
          <%= t("last_message", scope: "decidim.messaging.conversations.index") %>:
          <strong>
            <% if I18n.locale != :en %>
              <%= t("ago", scope: "decidim.messaging.conversations.index") %> <%= time_ago_in_words(Time.parse(conversation.last_message.created_at.to_s)) %>
            <% else %>
              <%= time_ago_in_words(Time.parse(conversation.last_message.created_at.to_s)) %> <%= t("ago", scope: "decidim.messaging.conversations.index") %>
            <% end %>
          </strong>
        </span>
      </div>
      <% if conversation.unread_count(current_user) > 0 %>
        <span class="unread_message__counter">
          <span><%= conversation.unread_count(current_user) %></span>
        </span>
      <% end %>
      <div class="right center mr-s">
        <%= link_to decidim.conversation_path(conversation), id: "conversation-#{conversation.id}", class: "user-header__avatar", "data-tabs-target": "conversation" do %>
          <% if conversation.interlocutors(current_user).count == 1 %>
            <%= icon "chevron-right", class: "card__link icon--big", role: "img", aria_label: t(".show", sender: conversation.interlocutors(current_user).first.name) %>
          <% else %>
            <%= icon "chevron-right", class: "card__link icon--big", role: "img", aria_label: t(".show", sender: username_list(conversation.interlocutors(current_user))) %>
          <% end %>
        <% end %>
      </div>
    </li>
  </ul>
</div>
