<%= link_to decidim.conversation_path(conversation), id: "conversation-#{conversation.id}" do %>
  <div class="conversation__item">
    <div class="conversation__item-avatar">
      <% if conversation.interlocutors(current_user).count == 1 %>
        <%= cell "decidim/author", present(conversation.interlocutors(current_user)[0]), layout: :avatar %>
      <% else %>
        <%= icon "group-line", class: "w-4 h-4 text-gray fill-current" %>
      <% end %>
    </div>

    <div class="conversation__item-snippet">
      <div class="conversation__item-snippet-title">
        <h5 class="h5 text-secondary">
          <% if conversation.messages.last.decidim_sender_id == current_user.id %>
            <%= t("to", scope: "decidim.messaging.conversations.index") %>:
          <% else %>
            <%= t("from", scope: "decidim.messaging.conversations.index") %>:
          <% end %>

          <%= username_list(conversation.interlocutors(current_user), shorten: true).html_safe %>
        </h5>

      </div>

      <p class="conversation__item-snippet-description"><%= truncate conversation.last_message.body, length: 150 %></p>
    </div>

    <div class="conversation__item-snippet-time">
      <% if I18n.locale != :en %>
        <%= t("ago", scope: "decidim.messaging.conversations.index") %> <%= time_ago_in_words(Time.parse(conversation.last_message.created_at.to_s)) %>
      <% else %>
        <%= time_ago_in_words(Time.parse(conversation.last_message.created_at.to_s)) %>
      <% end %>
    </div>
  </div>
<% end %>
