<div class="conversation__message<%= " flex-row-reverse ml-auto" if sender_is_user?(sender) %>">

  <%# REDESIGN_PENDING: show alternative user view, only avatar. This will work after feature/redesign-blogs merge %>
  <div class="flex-none">
    <%= cell "decidim/author", present(sender), context_actions: [] %>
  </div>

  <div class="conversation__message-text">
    <% messages.each do |message| %>
      <%= simple_format(message.body_with_links) %>
    <% end %>
    <span class="text-xs" title="<%= messages.last.created_at.strftime("%d-%m-%Y %H:%M:%S%z") %>">
      <%= messages.last.friendly_created_at %>
    </span>
  </div>
</div>
