<div class="conversation-chat<%= " conversation-chat--offset" if (current_user.id == message.sender.id) %>">
  <%= link_to message.sender.personal_url do %>
    <%= image_tag message.sender.avatar_url, alt: t("decidim.author.avatar") %>
  <% end %>
  <div>
    <article class="card">
      <div class="p-s">
        <%= simple_format(message.body_with_links) %>
      </div>
    </article>
    <span class="text-small<%= " pull-right" if (current_user.id == message.sender.id) %>"><%= message.created_at.strftime("%-m %b") %></span>
  </div>
</div>
