<article class="message">
  <div class="message__header">
    <div class="author-data">
      <div class="author author--inline">
        <span class="author__avatar">
          <%= image_tag message.sender.avatar.url %>
        </span>
        <span class="author__name">
          <%= message.sender.name %>
        </span>
        <time datetime="<%= message.created_at.utc %>">
          <%= simple_date(message.created_at) %>
        </time>
      </div>
    </div>
  </div>
  <div class="message__content">
    <%= simple_format(message.body) %>
  </div>
</article>
