<div class="flex items-start gap-4 w-3/4<%= " flex-row-reverse ml-auto" if sender_is_user?(sender) %>">

  <%# TODO: show alternative user view, only avatar %>
  <div class="flex-none">
    <%= cell "decidim/author", present(sender) %>
  </div>

  <div class="grow bg-background rounded p-4 text-gray-2">
    <% messages.each do |message| %>
      <%= simple_format(message.body_with_links) %>
    <% end %>
    <span class="text-xs" title="<%= messages.last.created_at.strftime("%d-%m-%Y %H:%M:%S%z") %>">
      <%= messages.last.friendly_created_at %>
    </span>
  </div>
</div>
