<% add_decidim_page_title(t("conversations", scope: "layouts.decidim.user_menu")) %>

<% content_for :aside do %>
  <h1 class="h1 decorator">
    <%= t("decidim.messaging.conversations.index.title") %>
  </h1>
  <%= render partial: "new_conversation_button" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <div class="conversation">
    <h4 class="conversation__title">
      <%= t("decidim.messaging.conversations.show.chat_with") %>
    </h4>

    <div class="conversation__participants">
      <% participants.each do |participant| %>
        <%= cell "decidim/author", present(participant) %>
      <% end %>
    </div>

    <%= yield %>
  </div>
<% end %>
