<% if participants.count == 1 %>
  <% conversation_label = t(".chat_with") + " #{participants.first.name} (@#{participants.first.nickname})" %>
<% else %>
  <% conversation_label = t(".title", usernames: username_list(participants)) %>
<% end %>

<div class="wrapper">
  <div class="row">
    <div class="columns medium-9 medium-centered tabs-panel is-active" id="conversations" role="tabpanel" aria-label="<%= conversation_label %>">
      <div class="conversation">

        <div class="conversation-header flex--cc absolutes">
          <div class="left center mr-s">
            <%= link_to decidim.conversations_path, class: "card--list__data__icon card--list__data__icon--back" do %>
              <%= icon "chevron-left", role: "img", aria_label: t(".back") %>
            <% end %>
          </div>
          <% if participants.count == 1 %>
            <%= link_to profile_path(participants.first.nickname) do %>
              <%= image_tag participants.first.avatar_url, alt: t("decidim.author.avatar") %>
            <% end %>
          <% else %>
            <%= image_tag current_user.avatar.default_multiuser_url, alt: t("decidim.author.avatar") %>
          <% end %>

          <div class="ml-s">
            <% if participants.count == 1 %>
              <%= t(".chat_with") %> <strong><%= participants.first.name %></strong><br><span class="muted">@<%= participants.first.nickname %></span>
            <% else %>
              <%= t(".title", usernames: username_list(participants)) %>
            <% end %>
          </div>
        </div>

        <%= yield %>

      </div>
    </div>
  </div>
</div>
