<div data-add-message>
  <%= decidim_form_for form, url: decidim.conversations_path, remote: true do |f| %>
    <div class="conversation__reply">
      <% form.recipient.each do |recipient| %>
        <%= f.hidden_field :recipient_id, id: nil, name: "conversation[recipient_id][]", value: recipient.id %>
      <% end %>
      <%= f.label :body, nil, class: "sr-only" %>
      <%= f.text_area :body, label: false, rows: 4, required: true, placeholder: t(".placeholder"), data: { "input-emoji": true }, aria: { label: t(".placeholder") } %>
      <%= f.submit "#{t(".send")} #{icon "arrow-right-line", class: "fill-current"}".html_safe, class: "button button__sm button__secondary self-end mt-4" %>
    </div>
  <% end %>
</div>
