<% add_decidim_page_title(t(".title")) %>

<div class="add-message">
  <h2 class="section-heading">
    <%= t(".title") %>
  </h2>

  <%= form_for form, url: decidim.conversations_path, remote: true do |f| %>

    <% @form.recipient.each do |recipient| %>
      <%= f.hidden_field :recipient_id, id: nil, name: "conversation[recipient_id][]", value: recipient.id %>
    <% end %>
    <%= f.label :body, nil, class: "show-for-sr" %>
    <%= f.text_area :body, label: false, rows: 4, required: true, data: { input_emoji: true } %>

    <%= f.submit t(".send") %>
  <% end %>
</div>
