<% add_decidim_page_title(t(".title")) %>

<div class="add-message">
  <h5 class="section-heading">
    <%= t(".title") %>
  </h5>

  <%= form_for form, url: decidim.conversations_path, remote: true do |f| %>
    <%= form_required_explanation %>

    <% @form.recipient.each do |recipient| %>
      <%= f.hidden_field :recipient_id, id: nil, name: "conversation[recipient_id][]", value: recipient.id %>
    <% end %>
    <%= f.text_area :body, label: false, rows: 4, required: true %>

    <%= f.submit t(".send") %>
  <% end %>
</div>
