<main class="wrapper">
  <div class="row">
    <div class="columns">
      <div class="title-action">
        <h1 class="heading1 title-action__title">
          <%= t(".title") %>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="columns large-8">
      <div class="float-right">
        <button id="start-conversation-dialog-button" type="button" name="button" class="button small">
          <%= t(".new_conversation") %>
        </button>
      </div>
      <div class="reveal collapse"
           id="user-conversations-add-modal"
           data-reveal>
            <div class="wrapper--inner">
              <button class="close-button" aria-label="<%= t(".close") %>" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= decidim_form_for(@form, url: conversations_check_multiple_url, html: { class: "form new_attachment" }) do |f| %>
              <div class="container wrapper--inner">
                <div class="row">
                  <div class="columns large-12">
                    <%= render "add_conversation_users", object: f, locals: { title: "new title" } %>
                  </div>
                </div>
                <div class="wrapper wrapper--inner">
                  <div class="row">
                    <div class="large-12">
                      <div class="button--double form-general-submit float-right">
                        <%= f.submit t(".next") %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
      </div>
      <%= javascript_include_tag "decidim/start_conversation_dialog" %>
    </div>

  </div>
  <div class="row">
    <div class="columns large-8">
      <% if @conversations.empty? %>
        <div class="callout secondary">
          <p><%= t(".no_conversations") %></p>
        </div>
      <% else %>
        <div class="tabs-panel is-active conversations" id="conversations" role="tabpanel" aria-labelledby="conversations-label">
          <% @conversations.each do |conversation| %>
            <div class="card card--widget">
              <ul class="card-data">
                <li class="card-data__item">
                  <div class="card__link text-center">
                    <div class="user-header__avatar">
                      <% if conversation.interlocutors(current_user).count == 1 %>
                        <%= image_tag conversation.interlocutors(current_user).first.avatar_url, alt: t("decidim.author.avatar") %>
                      <% else %>
                        <%= image_tag current_user.avatar.default_multiuser_url, alt: t("decidim.author.avatar") %>
                      <% end %>
                    </div>
                    <span class="text-medium mt-xs"><%= Date::ABBR_DAYNAMES[conversation.created_at.wday] %> <%= conversation.created_at.wday %></span>
                  </div>
                </li>
                <li class="card-data__item card--list__item card-data__item--expand absolutes">
                  <div class="mr-s">
                    <% if conversation.interlocutors(current_user).count == 1 %>
                      <%= t(".from") %>: <strong><%= conversation.interlocutors(current_user).first.name %> <span class="muted">@<%= conversation.interlocutors(current_user).first.nickname %></span></strong>
                    <% else %>
                      <%= t(".from") %>: <strong><%= username_list(conversation.interlocutors(current_user), true) %></strong>
                    <% end %>
                    <br>
                    <span class="muted">
                      <%= truncate conversation.last_message.body, length: 150 %>
                    </span>
                    <br>
                    <span class="text-small">
                      <%= t(".last_message") %>:
                      <strong>
                        <% if I18n.locale != :en %>
                          <%= t(".ago") %> <%= time_ago_in_words(Time.parse(conversation.last_message.created_at.to_s)) %>
                        <% else %>
                          <%= time_ago_in_words(Time.parse(conversation.last_message.created_at.to_s)) %> <%= t(".ago") %>
                        <% end %>
                      </strong>
                    </span>
                  </div>
                  <% if conversation.unread_count(current_user) > 0 %>
                    <span class="unread_message__counter">
                      <span><%= conversation.unread_count(current_user) %></span>
                    </span>
                  <% end %>
                  <div class="right center mr-s">
                    <%= link_to decidim.conversation_path(conversation), id: "chevron", class: "user-header__avatar", "data-tabs-target": "conversation" do %>
                      <%= icon "chevron-right", class: "card__link icon--big" %>
                    <% end %>
                  </div>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</main>
