<% add_decidim_page_title(t("conversations", scope: "layouts.decidim.user_menu")) %>

<% content_for :aside do %>
  <h1 class="h1 decorator">
    <%= t("decidim.messaging.conversations.index.title") %>
  </h1>
  <%= render partial: "new_conversation_button" %>
<% end %>

<%= render layout:"layouts/decidim/shared/layout_two_col" do %>
  <div class="p-12 space-y-10">
    <% if validation_messsages.present? %>
      <% validation_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% else %>
      <%= render partial: "conversation", collection: @conversations %>
    <% end %>
  </div>
<% end %>
