<%= render layout: "show", locals: { participants: conversation.interlocutors(current_user) } do %>
  <div id="messages" class="space-y-6" data-scroll-last-child>
    <% user_grouped_messages.each do |sender, messages| %>
      <%= render "messages", sender: sender, messages: messages %>
    <% end %>
  </div>

  <div class="border-t-2 border-background mt-6 py-12">
    <% if conversation.with_deleted_users?(current_user) %>
      <%= cell("decidim/announcement", t("decidim.messaging.conversations.show.deleted_accounts"), callout_class: "warning") %>
    <% elsif conversation.accept_user?(current_user) %>
      <%= render "reply", form: @form, conversation: conversation %>
    <% else %>
      <%= cell("decidim/announcement", t("decidim.messaging.conversations.show.not_allowed"), callout_class: "warning") %>
    <% end %>
  </div>
<% end %>
