<%= render partial: "decidim/comments/comments/delete", locals: { comment: model } %>

<div class="comment__footer" data-component="accordion" id="accordion-<%= model.id %>">
  <div id="comment-<%= model.id %>-replies" class="<%= "comment-reply" if has_replies_in_children? %>">
    <% if has_replies_in_children? %>
      <%= render :replies %>
    <% end %>
  </div>
</div>
