<%= content_tag :div, id: "comment_#{model.id}", class: "comment", data: { comment_id: model.id } do %>
  <% if model.hidden? %>
    <%= render :moderation_data %>
  <% elsif model.deleted? %>
    <%= render :deletion_data %>
  <% else %>
    <div class="comment__header">
      <span class="font-bold">
        <%== cell("decidim/redesigned_author", author_presenter).profile %>
      </span>
      <span class="text-gray-2 text-sm">
        <%= time_tag created_at, time_ago_in_words(created_at) %>
      </span>
      <% if edited? %>
        <span>
          <%= t("decidim.components.comment.edited") %>
        </span>
      <% end %>
      <%= render :utilities %>
    </div>
    <div class="comment__content">
      <%= alignment_badge %>
      <%= comment_body %>
    </div>
    <div class="comment__footer" data-component="accordion">
      <div class="comment__footer-grid">
        <%= render :actions %>
        <%= votes %>
      </div>
      <% if can_reply? %>
        <div id="panel-<%= reply_id %>" class="add-comment">
          <%== cell("decidim/comments/comment_form", model, root_depth: root_depth, order: order) %>
        </div>
      <% end %>
    </div>
    <div id="comment-<%= model.id %>-replies" class="<%= "comment-reply" if has_replies_in_children? %>">
      <% if has_replies_in_children? %>
        <%= render :replies %>
      <% end %>
    </div>
  <% end %>
<% end %>
