<%= content_tag :div, id: "comment_#{model.id}", class: comment_classes do %>
  <div class="comment__header">
    <div class="author-data">
      <div class="author-data__main">
        <%= render :author %>
        <span>
          <%= time_tag created_at, l(created_at, format: :decidim_short) %>
        </span>
      </div>
      <div class="author-data__extra">
        <%= render :utilities %>
      </div>
    </div>
  </div>
  <div class="comment__content">
    <%= simple_format(translated_body) %>
  </div>
  <div class="comment__footer">
    <%= render :actions %>
    <%= render :votes %>
  </div>
  <% if has_replies? %>
    <div id="comment-<%= model.id %>-replies">
      <% replies.each do |reply| %>
        <%= cell("decidim/comments/comment", reply) %>
      <% end %>
    </div>
    <div class="comment__additionalreply">
      <button class="comment__reply muted-link" aria-controls="<%= reply_id %>" data-toggle="<%= reply_id %>">
        <%= icon "pencil", class: "icon--small", role: "none presentation" %>&nbsp;<%= t("decidim.components.comment.reply") %>
      </button>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="add-comment hide" id="<%= reply_id %>" data-toggler=".hide">
      <%== cell("decidim/comments/comment_form", model) %>
    </div>
  <% end %>
<% end %>
