<%= content_tag :div, id: "comment_#{model.id}", class: comment_classes, data: { comment_id: model.id } do %>
  <div class="comment__header">
    <div class="author-data">
      <div class="author-data__main">
        <%= render :author %>
        <span>
          <%= time_tag created_at, l(created_at, format: :decidim_short) %>
        </span>
      </div>
      <div class="author-data__extra">
        <%= render :utilities %>
      </div>
    </div>
  </div>
  <div class="comment__content">
    <%= alignment_badge %>
    <%= comment_body %>
  </div>
  <div class="comment__footer">
    <%= render :actions %>
    <%= votes %>
  </div>
  <div id="comment-<%= model.id %>-replies">
    <% if has_replies? %>
      <% replies.each do |reply| %>
        <%= cell("decidim/comments/comment", reply, root_depth: root_depth, order: order) %>
      <% end %>
    <% end %>
  </div>
  <% if can_reply? %>
    <div class="comment__additionalreply<%= " hide" unless has_replies? %>">
      <button class="comment__reply muted-link" aria-controls="<%= reply_id %>" data-toggle="<%= reply_id %>">
        <%= icon "pencil", class: "icon--small", role: "none presentation" %>&nbsp;<%= t("decidim.components.comment.reply") %>
      </button>
    </div>
    <div class="add-comment hide" id="<%= reply_id %>" data-toggler=".hide">
      <%== cell("decidim/comments/comment_form", model, root_depth: root_depth, order: order) %>
    </div>
  <% end %>
<% end %>
