<%= content_tag :div, id: "comment_#{model.id}", class: "comment", data: { comment_id: model.id } do %>
  <% if model.hidden? %>
    <%= render :moderation_data %>
  <% elsif model.deleted? %>
    <%= render :deletion_data %>
  <% else %>
    <div class="comment__header">
      <span class="font-bold">
        <%== cell("decidim/redesigned_author", author_presenter).profile %>
      </span>
      <span class="text-gray-2 text-sm">
        <%= time_tag created_at, time_ago_in_words(created_at) %>
      </span>
      <% if edited? %>
        <span>
          <%= t("decidim.components.comment.edited") %>
        </span>
      <% end %>
      <%= render :utilities %>
    </div>
    <div class="comment__content">
      <%= alignment_badge %>
      <%= comment_body %>
    </div>
    <div class="comment__footer" data-component="accordion">
      <div class="comment__footer-grid">
        <%= render :actions %>
        <%= votes %>
      </div>
      <% if can_reply? %>
        <div id="panel-<%= reply_id %>">
          <%== cell("decidim/comments/comment_form", model, root_depth: root_depth, order: order) %>
        </div>
      <% end %>
    </div>
    <% if has_replies_in_children? %>
      <% if depth.zero? %>
        <div data-component="accordion">
          <div class="block text-center relative top-4 z-[1] -mt-8">
            <button id="panel-trigger-<%= model.id %>-replies" class="button button__sm button__text-secondary bg-background px-2" data-controls="panel-<%= model.id %>-replies">
              <span class="font-normal"><%= t("replies", scope: "decidim.components.comment", count: replies_count) %></span>
              <%= icon "arrow-down-s-line" %>
              <%= icon "arrow-up-s-line" %>
            </button>
          </div>
          <%= render :replies %>
        </div>
      <% else %>
        <%= render :replies %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
