<%= content_tag :div, id: "comment_#{model.id}", data: { comment_id: model.id } do %>
  <% if model.hidden? %>
    <%= render :moderation_data %>
  <% elsif model.deleted? %>
    <%= render :deletion_data %>
  <% else %>
    <div class="comment">
      <div class="comment__header">
        <%== cell("decidim/redesigned_author", author_presenter).profile %>
        <span>
          <%= time_tag created_at, l(created_at, format: :decidim_short) %>
        </span>
        <% if edited? %>
          <span>
            <%= t("decidim.components.comment.edited") %>
          </span>
        <% end %>
        <%= render :utilities %>
      </div>
      <div class="comment__content">
        <%= alignment_badge %>
        <%= comment_body %>
      </div>
      <div class="comment__footer" data-component="accordion">
        <div class="comment__footer-grid">
          <%= render :actions %>
          <%= votes %>
        </div>
        <% if can_reply? %>
          <div id="panel-<%= reply_id %>">
            <%== cell("decidim/comments/comment_form", model, root_depth: root_depth, order: order) %>
          </div>
        <% end %>
      </div>
    </div>
    <%# REDESIGN_PENDING: add Turbo and refactor erb to count the size of replies %>
    <% if has_replies_in_children? %>
      <% if replies.length >= 1 %>
        <div data-component="accordion">
          <div class="block text-center relative top-4 z-[1] -mt-10">
            <button id="panel-trigger-<%= model.id %>-replies" class="button button__sm button__text-secondary bg-background-2" data-controls="panel-<%= model.id %>-replies">
              <span><%= replies.length %> respostes</span>
              <%= icon "arrow-down-s-line" %>
            </button>
          </div>
          <div class="comment-reply" id="panel-<%= model.id %>-replies">
            <% replies.each do |reply| %>
              <%= cell("decidim/comments/comment", reply, root_depth: root_depth, order: order, reloaded: reloaded?) %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
