<%= content_tag :div, id: "comment_#{model.id}", data: { comment_id: model.id } do %>
  <% if model.hidden? %>
    <%= render :moderation_data %>
  <% elsif model.deleted? %>
    <%= render :deletion_data %>
  <% else %>
    <div class="comment">
      <div class="comment__header">
        <%== cell("decidim/redesigned_author", author_presenter).profile %>
        <span>
          <%= time_tag created_at, l(created_at, format: :decidim_short) %>
        </span>
        <% if edited? %>
          <span>
            <%= t("decidim.components.comment.edited") %>
          </span>
        <% end %>
        <%#= render :utilities %>
      </div>
      <div class="comment__content">
        <%= alignment_badge %>
        <%= comment_body %>
      </div>
      <div class="comment__footer">
        <div class="comment__footer-grid">
          <%= render :actions %>
          <%= votes %>
        </div>
        <% if can_reply? %>
          <div class="add-comment hidden" id="<%= reply_id %>" data-toggler=".hidden">
            <%== cell("decidim/comments/comment_form", model, root_depth: root_depth, order: order) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="comment-reply empty:hidden" id="comment-<%= model.id %>-replies">
      <% if has_replies_in_children? %>
        <% replies.each do |reply| %>
          <%= cell("decidim/comments/comment", reply, root_depth: root_depth, order: order, reloaded: reloaded?) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
