<button type="button" class="link-alt" title="<%= t("decidim.components.comment.report.title") %>" data-open="<%= user_signed_in? ? "flagModalComment#{model.id}" : "loginModal" %>">
  <span class="show-for-sr"><%= t("decidim.components.comment.report.title") %></span>
  <%= icon "flag", class: "icon--small", role: "none presentation" %>
</button>

<%= link_to commentable_path("commentId" => model.id), title: t("decidim.components.comment.single_comment_link_title") do %>
  <span class="show-for-sr"><%= t("decidim.components.comment.single_comment_link_title") %></span>
  <%= icon "link-intact", class: "icon--small", role: "none presentation" %>
<% end %>
