<details class="ml-auto">
  <summary class="button button__sm button__text-secondary" aria-controls="<%= context_menu_id %>">
    <%= icon "more-line" %>
  </summary>

  <ul id="<%= context_menu_id %>" class="dropdown dropdown__bottom divide-y divide-gray-3 px-4">
    <% unless reloaded? %>
      <% if current_user.present? %>
        <li class="dropdown__item">
          <%= cell("decidim/flag_modal", model, modal_id: "flagModalComment#{model.id}") %>
        </li>
      <% end %>
    <% end %>
    <li>
      <%= link_to "#{commentable_path("commentId" => model.id)}#comment_#{model.id}", target: "_blank", data: { "external-link": "false" }, class: "dropdown__item", title: t("decidim.components.comment.single_comment_link_title") do %>
        <%= icon "share-line" %>
        <span><%= t("decidim.components.comment.single_comment_link_title") %></span>
      <% end %>
    </li>
    <% unless reloaded? %>
      <% if model.authored_by?(current_user) %>
        <%# REDESIGN_PENDING: implement the new design when a comment is edited %>
        <li class="dropdown__item">
          <%= cell("decidim/comments/edit_comment_modal_form", model, modal_id: "editCommentModal#{model.id}") %>
        </li>
      <% end %>
    <% end %>
    <li>
      <%= link_to comment_path, remote: true, method: :delete, class: "dropdown__item", data: { confirm: t("decidim.components.comment.confirm_destroy") } do %>
        <%= icon "delete-bin-line" %>
        <span><%= t("decidim.components.comment.delete") %></span>
      <% end %>
    </li>
  </ul>
</details>
