<div class="profile__badge-banner">
  <%= icon "information-line" %>
  <div>
    <h2 class="h4"><%= t "decidim.gamification.title" %></h2>
    <p>
      <%= t "decidim.gamification.description" %>
      <%= link_to t("decidim.gamification.all_badges_link"), gamification_badges_path, class: "text-secondary underline" %>
    </p>
  </div>
</div>

<div class="profile__badge-grid">
  <% available_badges.each do |badge| %>
    <%= cell "decidim/badge", model, badge: %>
  <% end %>
</div>
