<div id="proposal-<%= proposal.id %>-adhesions-count" class="card__support__data">
    <span class="<%= adhesions_count_classes(from_proposals_list)[:number] %>">
      <%= proposal.proposal_adhesions_count %>
    </span>
    <span class="<%= adhesions_count_classes(from_proposals_list)[:label]  %>">
      <%= t('.count', count: proposal.proposal_adhesions_count) %>
    </span>
</div>
