<% present(proposal) do |proposal| %>
  <div class="author-data__main">
    <div class="author author--inline">
      <span class="author__avatar author__avatar--small">
        <%= image_tag proposal.author.avatar_url %>
      </span>
      <span class="author__name">
        <% if proposal.author.deleted? %>
          <span class="label label--small label--basic">
            <%= t('.deleted') %>
          </span>
        <% else %>
          <strong><%= proposal.author.name %></strong>
          <%= proposal.author.nickname %>
        <% end %>
      </span>
      <% if proposal.author.badge.present? %>
        &nbsp;
        <span class="label label--highlight label--small">
          <%= proposal.author.badge %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
