<% proposal.present_author do |author| %>
  <div class="author-data__main">
    <div class="author author--inline">
      <span class="author__avatar author__avatar--small">
        <%= image_tag author.avatar_url %>
      </span>
      <span class="author__name">
        <% if author.deleted? %>
          <span class="label label--small label--basic">
            <%= t('.deleted') %>
          </span>
        <% else %>
          <strong><%= author.name %></strong>
          <%= author.nickname %>
        <% end %>
      </span>
      <% if proposal.user_group && proposal.user_group.verified? %>
        &nbsp;
        <span class="label label--highlight label--small">
          <%= t ".verified_user_group" %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
