<div class="display-style">
  <div class="display-style__all">
    <span class="display-style__text"><%= t(".label") %></span>
    <%= link_to proposals_path(display_type: 'column') do %>
      <%= icon 'grid-two-up', class: "icon external-icon" %>
    <% end %>

    <%= link_to proposals_path(display_type: 'list')  do %>
      <%= icon 'list', class: "icon external-icon" %>
    <% end %>
  </div>
</div>
