<% 
# @params (mandatory): proposal, from_proposals_list
# @params (optional) : user_group, btn_label
# avoid "undefined local variable" error
user_group= local_assigns[:user_group]
current_endorsement_url= proposal_proposal_endorsement_path(
  proposal_id: proposal,
  from_proposals_list: from_proposals_list,
  user_group_id: user_group&.id
  )
# to override the translation for both buttons: endorse and unendorse (use to be the name of the user/user_group)
endorse_label= local_assigns[:btn_label] || t('.endorse')
unendorse_label= local_assigns[:btn_label] || t('.already_endorsed')
%>
<div id="proposal-<%= proposal.id %>-endorsement-button<%= user_group&.id ? "-#{user_group.id}" : '' %>">
  <% if !current_user %>
      <%= action_authorized_button_to :endorse, endorse_label, current_endorsement_url, class: "card__button button #{endorsement_button_classes(from_proposals_list)}" %>
  <% else %>
    <% if proposal.endorsed_by?(current_user, user_group) %>
      <%= action_authorized_button_to :endorse, unendorse_label, current_endorsement_url, method: :delete, remote: true, data: { original: t('.already_endorsed'), replace: t('.already_endorsed_hover') }, class: "card__button button #{endorsement_button_classes(from_proposals_list)} success", id: "endorsement_button" %>
    <% else %>
      <%= action_authorized_button_to :endorse, endorse_label, current_endorsement_url, remote: true, data: {  }, class: "card__button button #{endorsement_button_classes(from_proposals_list)}" %>
    <% end %>
  <% end %>
</div>