<div id="proposal-<%= proposal.id %>-endorsements-count" class="card__support__data">
  <span class="<%= endorsements_count_classes(from_proposals_list)[:number] %>">
    <%= proposal.proposal_endorsements_count %>
  </span>
  <span class="<%= endorsements_count_classes(from_proposals_list)[:label]  %>">
    <%= t('.count', count: proposal.proposal_endorsements_count) %>
  </span>
</div>
