<% fully_endorsed= fully_endorsed?(@proposal, current_user) %>
<div class="row collapse buttons__row">
  <% if endorsements_enabled? %>
    <div class="column small-9 collapse">
      <%= cell("decidim/endorsement_buttons", @proposal, {
        refresh_url: raise('Oliver')
      }) %>
    </div>
  <% end %>
  <div class="column collapse <%= endorsements_enabled? && "small-3" %>">
    <%= link_to "#comments", class: "button small compact hollow secondary button--nomargin expanded" do %>
        <%= icon "comment-square", class: "icon--small", aria_label: t(".comments"), role: "img" %> <%= @proposal.comments.count %>
    <% end %>
  </div>
</div>
