<% fully_endorsed= fully_endorsed?(@proposal, current_user) %>
<div class="row collapse buttons__row">
  <% if endorsements_enabled? %>
    <div class="column small-9 collapse">
      <div class="button-group button-group--collapse button--nomargin small">
        <%= render_endorsements_count_card_part(@proposal, fully_endorsed) %>
        <%= render_endorsements_button_card_part(@proposal, fully_endorsed) %>
      </div>
    </div>
  <% end %>
  <div class="column collapse <%= endorsements_enabled? ? "small-3" : "" %>">
    <%= link_to "#comments", class: "button small compact hollow secondary button--nomargin expanded" do %>
        <%= icon "comment-square", class: "icon--small", aria_label: t(".comments"), role: "img" %> <%= @proposal.comments.count %>
    <% end %>
  </div>
</div>
