<%= render partial: "decidim/shared/filter_form_help", locals: { skip_to_id: "proposals" } %>

<%= filter_form_for filter do |form| %>
  <div class="filters__section">
    <div class="filters__search">
      <div class="input-group">
        <%= form.search_field :search_text, label: false, class: "input-group-field", placeholder: t(".search"), title: t(".search"), data: { disable_dynamic_change: true } %>
        <div class="input-group-button">
          <button type="submit" class="button" aria-controls="proposals">
            <%= icon "magnifying-glass", aria_label: t(".search"), role: "img" %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <% if component_settings.proposal_answering_enabled && current_settings.proposal_answering_enabled %>
    <%= form.check_boxes_tree :state, filter_proposals_state_values, legend_title: t(".state"), "aria-controls": "proposals" %>
  <% end %>

  <% if current_component.has_subscopes? %>
    <%= form.check_boxes_tree :scope_id, filter_scopes_values, legend_title: t(".scope"), "aria-controls": "proposals" %>
  <% end %>

  <% if current_component.categories.any? %>
    <%= form.check_boxes_tree :category_id, filter_categories_values, legend_title: t(".category"), "aria-controls": "proposals" %>
  <% end %>

  <% if component_settings.official_proposals_enabled %>
    <%= form.check_boxes_tree :origin, filter_origin_values, legend_title: t(".origin"), "aria-controls": "proposals" %>
  <% end %>

  <% if current_user %>
    <%= form.collection_radio_buttons :activity, activity_filter_values, :first, :last, { legend_title: t(".activity") }, "aria-controls": "proposals" %>
  <% end %>

  <% if @proposals.only_emendations.any? %>
    <%= form.collection_radio_buttons :type, filter_type_values, :first, :last, { legend_title: t(".amendment_type") }, "aria-controls": "proposals" %>
  <% end %>

  <% if linked_classes_for(Decidim::Proposals::Proposal).any? %>
    <%= form.collection_radio_buttons :related_to, linked_classes_filter_values_for(Decidim::Proposals::Proposal), :first, :last, { legend_title: t(".related_to") }, "aria-controls": "proposals" %>
  <% end %>

  <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
<% end %>
