<%
count = identities.count
if count > 0
%>
  <div class="row">
    <div class="columns large-12">
      <h4 class="section-heading"><%= t(".title") %></h4>
    </div>

    <div class="columns large-12">
      <%= identities_xxs(identities.limit(5)) %>
      <% if count > 5 %><span id="ellipsys" data-toggler=".hide">+<%= count - 5 %></span><% end -%>
    </div>
  </div>
  <% if count > 5 %>
    <div class="row">
      <div id="see-all-identities" class="columns large-12" data-toggler=".hide">
        <a data-toggle="remaining-identities see-all-identities ellipsys"><%= t(".see_all") %></a>
      </div>
      <div id="remaining-identities" class="hide" data-toggler=".hide">
        <div class="columns large-12">
          <%= identities_xxs(identities.offset(5)) %>
        </div>
        <div class="columns large-12">
          <a data-toggle="remaining-identities see-all-identities ellipsys"><%= t(".see_less") %></a>
        </div>
      </div>
    </div>
  <% end -%>
<% end %>
