<%
count = identities.count
if count > 0
%>
  <div class="row">
    <div class="columns large-12">
      <h4 class="section-heading"><%= t(".title") %></h4>
    </div>

    <div class="columns large-12">
      <%= identities_xxs(identities.limit(5)) %>
      <% if count > 5 %><span id="<%= widget_ids[:ellipsis] %>" data-toggler=".hide">+<%= count - 5 %></span><% end -%>
    </div>
  </div>
  <% if count > 5 %>
    <div class="row">
      <div id="<%= widget_ids[:see_all_identities] %>" class="columns large-12" data-toggler=".hide">
        <a data-toggle="<%= widget_ids.values_at(:remaining_identities, :see_all_identities, :ellipsis).join(" ") %>"><%= t(".see_all") %></a>
      </div>
      <div id="<%= widget_ids[:remaining_identities] %>" class="hide" data-toggler=".hide">
        <div class="columns large-12">
          <%= identities_xxs(identities.offset(5)) %>
        </div>
        <div class="columns large-12">
          <a data-toggle="<%= widget_ids.values_at(:remaining_identities, :see_all_identities, :ellipsis).join(" ") %>"><%= t(".see_less") %></a>
        </div>
      </div>
    </div>
  <% end -%>
<% end %>
