<div class="card card--action card--list">
  <% resources.each do |proposal| %>
    <div class="card--list__item">
      <div class="card--list__text">
        <%= link_to resource_locator(proposal).path do %>
          <%= icon "proposals", class: "card--list__icon", remove_icon_class: true %>
        <% end %>
        <div>
          <%= link_to resource_locator(proposal).path, class: "card__link" do %>
            <h5 class="card--list__heading"><%= proposal.title %></h5>
          <% end %>
          <div class="author">
            <span class="author__avatar">
              <%= image_tag proposal.author_avatar_url %>
            </span>
            <span class="author__name">
              <%= proposal.author_name %>
            </span>
          </div>
        </div>
      </div>
      <div class="card--list__data">
        <span class="card--list__data__number">
          <%= proposal.votes.size %>
        </span> <%= t(".proposal_votes", count: proposal.votes.size) %>
      </div>
    </div>
  <% end %>
</div>
