<div class="card card--action card--list">
  <% resources.each do |proposal| %>
    <div class="card--list__item">
      <div class="card--list__text">
        <%= link_to resource_locator(proposal).path do %>
          <%= icon "proposals", class: "card--list__icon", remove_icon_class: true %>
        <% end %>
        <div>
          <%= link_to resource_locator(proposal).path, class: "card__link" do %>
            <h5 class="card--list__heading"><%= present(proposal).title %></h5>
          <% end %>
          <% present(proposal) do |proposal| %>
            <div class="author">
              <span class="author__avatar">
                <%= image_tag proposal.author.avatar_url %>
              </span>
              <span class="author__name">
                <strong><%= proposal.author.name %></strong>
                <%= proposal.author.nickname %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
      <% if !current_settings.try(:votes_hidden?) && !proposal.component.current_settings.votes_hidden? %>
        <div class="card--list__data">
          <span class="card--list__data__number">
            <%= proposal.votes.size %>
          </span> <%= t(".proposal_votes", count: proposal.votes.size) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
