<div class="row collapse order-by">
  <div class="order-by__dropdown">
    <span class="order-by__text"><%= t('.label') %></span>
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <%= order_link order %>
        <ul class="menu">
          <li><%= order_link "random" %></li>
          <li><%= order_link "most_voted" %></li>
          <li><%= order_link "recent" %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
