<div class="column">
  <article class="card card--proposal">
    <div class="card__content">
      <div class="card__header">
        <%= link_to proposal, target: "_blank" do %>
          <h5 class="card__title"><%= proposal.title %></h5>
        <% end %>
        <div class="card__author author-data author-data--small">
          <%= render partial: "decidim/shared/author_reference", locals: { author: present(proposal).author } %>
        </div>
        <div class="tech-info tech-info--text-left">
          <%= t("decidim.proposals.proposals.proposal.creation_date", date: l(proposal.created_at, format: :decidim_short)) %>
        </div>
        <%= feature_reference(proposal, class: "tech-info--text-left") %>
      </div>
      <%= render partial: "decidim/proposals/proposals/proposal_badge", locals: { proposal: proposal } %>
      <p><%= truncate(proposal.body, length: 100) %></p>
      <%= render partial: "decidim/shared/tags", locals: { resource: proposal, tags_class_extra: "tags--proposal" } %>
    </div>
  </article>
</div>
