<% if @proposal.amendable? && allowed_to?(:edit, :proposal, proposal: @proposal) %>
  <%= link_to t("edit_proposal", scope: "decidim.proposals.proposals.show"), edit_proposal_path(@proposal), class: "button hollow expanded button--sc" %>
<% else %>
  <%= amend_button_for @proposal %>
<% end %>

<%= emendation_actions_for @proposal %>

<% if current_settings.votes_enabled? || show_endorsements_card? || current_user %>
  <% if @proposal.withdrawn? %>
    <div class="card">
      <div class="card__content">
        <% if current_settings.votes_enabled? %>
          <%= render partial: "votes_count", locals: { proposal: @proposal, from_proposals_list: false } %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="card">
      <div class="card__content">
        <% if current_settings.votes_enabled? %>
          <%= render partial: "votes_count", locals: { proposal: @proposal, from_proposals_list: false } %>
          <%= render partial: "vote_button", locals: { proposal: @proposal, from_proposals_list: false } %>
        <% end %>
        <div class="row collapse buttons__row">
          <% if endorsements_enabled? %>
            <div class="column small-9 collapse">
              <%= endorsement_buttons_cell(@proposal) %>
            </div>
          <% end %>
          <div class="column collapse <%= endorsements_enabled? ? "small-3" : "" %>">
            <%= link_to "#comments", class: "button small compact hollow secondary button--nomargin expanded" do %>
                <span class="show-for-sr"><%= present(@proposal).title(html_escape: true) %></span>
                <%= icon "comment-square", class: "icon--small", aria_label: t("comments", scope: "decidim.proposals.proposals.show"), role: "img" %> <%= @proposal.comments_count %>
            <% end %>
          </div>
        </div>
        <br>
        <%= follow_button_for(@proposal) %>
      </div>
    </div>
  <% end %>
<% end %>

<%= amenders_list_for(@proposal) %>

<%= resource_reference(@proposal) %>
<%= resource_version(proposal_presenter, versions_path: proposal_versions_path(@proposal)) %>
<%= cell("decidim/fingerprint", @proposal) %>
<%= render partial: "decidim/shared/share_modal", locals: { resource: @proposal } %>
<%= embed_modal_for proposal_widget_url(@proposal, format: :js) %>
<%= cell "decidim/proposals/proposal_link_to_collaborative_draft", @proposal %>
<%= cell "decidim/proposals/proposal_link_to_rejected_emendation", @proposal %>
