<% if current_settings.votes_enabled? && (show_likes_card? || current_user) %>
  <section class="layout-aside__section">
    <div class="proposal__aside-vote layout-aside__ctas-buttons" data-sticky-buttons>
      <%= render partial: "vote_button", locals: { proposal: @proposal, from_proposals_list: false } unless @proposal.withdrawn? %>
      <%= render partial: "votes_count", locals: { proposal: @proposal, from_proposals_list: false } %>
    </div>
  </section>
<% end %>

<% if ( amendments_enabled? && can_react_to_emendation?(@proposal) ) %>
  <section class="layout-aside__section layout-aside__buttons">
    <%= emendation_actions_for @proposal %>
  </section>
<% end %>

<section class="layout-aside__section">
  <%= cell "decidim/proposals/proposal_link_to_collaborative_draft", @proposal %>
  <%= cell "decidim/proposals/proposal_link_to_rejected_emendation", @proposal %>
</section>
