<article class="card card--proposal">
  <div class="card__content">
    <div class="card__header">
      <%= link_to proposal, class: "card__link" do %>
        <h5 class="card__title"><%= proposal.title %></h5>
      <% end %>
      <div class="card__author author-data author-data--small">
        <%= card_for present(proposal).author, context: {extra_classes: ["author-data--small"]} %>
      </div>
    </div>
    <p><%= truncate(proposal.body, length: 100) %></p>
    <%= cell "decidim/tags", proposal, context: {extra_classes: ["tags--proposal"]} %>
  </div>
  <div class="card__status">
    <ul class="card-data">
      <li class="card-data__item">
        <%= cell("decidim/proposals/proposal_m", proposal).badge %>
      </li>
      <li class="card-data__item">
        <%= l(proposal.created_at, format: :decidim_short) %>
      </li>
      <li class="card-data__item">
        <a href="#comments">
          <%= icon "bullhorn", class: "icon--small", role: "img" %>
          0
        </a>
      </li>
      <li class="card-data__item">
        <a href="#comments">
          <%= icon "comment-square", class: "icon--small", role: "img" %>
            0
        </a>
      </li>
    </ul>
  </div>
</article>
