<% if current_settings.votes_enabled? && (show_endorsements_card? || current_user) %>
<section class="layout-aside__section">
  <div class="proposal__aside-vote">
    <%= render partial: "vote_button", locals: { proposal: @proposal, from_proposals_list: false } unless @proposal.withdrawn? %>
    <%= render partial: "votes_count", locals: { proposal: @proposal, from_proposals_list: false } %>
  </div>
</section>
<% end %>

<% if (@proposal.amendable? && allowed_to?(:edit, :proposal, proposal: @proposal)) || (amendments_enabled? && @proposal.amendable? && current_component.current_settings.amendment_creation_enabled && can_participate_in_private_space?) || amendments_enabled? && can_react_to_emendation?(@proposal) || @proposal.withdrawable_by?(current_user) %>
<section class="layout-aside__section layout-aside__buttons">
  <% if @proposal.amendable? && allowed_to?(:edit, :proposal, proposal: @proposal) %>
    <%= link_to t("edit_proposal", scope: "decidim.proposals.proposals.show"), edit_proposal_path(@proposal), class: "button button__sm button__transparent-secondary w-full" %>
  <% else %>
    <%= amend_button_for @proposal %>
  <% end %>

  <% if amendments_enabled? && can_react_to_emendation?(@proposal) %>
    <%= emendation_actions_for @proposal %>
  <% end %>

  <% if @proposal.withdrawable_by?(current_user) %>
    <%= action_authorized_link_to :withdraw, withdraw_proposal_path(@proposal), method: :put, class: "button button__sm button__transparent-secondary w-full", title: t("withdraw_btn_hint", scope: "decidim.proposals.proposals.show" ), data: { confirm: t("withdraw_confirmation_html", scope: "decidim.proposals.proposals.show" ) } do %>
      <span><%= t("withdraw_proposal", scope: "decidim.proposals.proposals.show") %></span>
      <%= icon "pencil-line" %>
    <% end %>
  <% end %>
</section>
<% end %>

<section class="layout-aside__section">
  <%= cell "decidim/proposals/proposal_link_to_collaborative_draft", @proposal %>
  <%= cell "decidim/proposals/proposal_link_to_rejected_emendation", @proposal %>
</section>

<section class="layout-aside__section actions__secondary">
  <%= follow_button_for(@proposal) %>
  <%= cell "decidim/share_button", nil %>
  <%= cell "decidim/report_button", @proposal %>
</section>
