<div class="column">
  <article class="card card--proposal">
    <div class="card__content">
      <div class="card__header">
        <%= link_to proposal, target: "_blank" do %>
          <h5 class="card__title"><%= present(proposal).title %></h5>
        <% end %>
        <%= cell("decidim/coauthorships", proposal, has_actions: false) %>

        <div class="tech-info tech-info--text-left">
          <%= t("decidim.proposals.proposals.proposal.creation_date", date: l(proposal.created_at, format: :decidim_short)) %>
        </div>
        <%= resource_reference(proposal, class: "tech-info--text-left") %>
      </div>

      <%== cell("decidim/proposals/proposal_m", proposal).badge %>

      <p><%= truncate(present(proposal).html_body, length: 100) %></p>
      <%= cell "decidim/tags", proposal, context: {extra_classes: ["tags--proposal"]} %>
    </div>
  </article>
</div>
