<article class="card card--proposal">
  <div class="card__content">
    <div class="card__header">
      <%= link_to proposal, class: "card__link" do %>
        <h5 class="card__title"><%= proposal.title %></h5>
      <% end %>
      <div class="card__author author-data author-data--small">
        <%= render partial: "decidim/shared/author_reference", locals: { author: present(proposal).author } %>
      </div>
    </div>
    <p><%= truncate(proposal.body, length: 100) %></p>
    <%= render partial: "decidim/shared/tags", locals: { resource: proposal, tags_class_extra: "tags--proposal" } %>
  </div>
  <div class="card__status">
    <ul class="card-data">
      <li class="card-data__item">
        <%= render partial: "proposal_badge", locals: { proposal: proposal } %>
      </li>
      <li class="card-data__item">
        <%= l(proposal.created_at, format: :decidim_short) %>
      </li>
      <li class="card-data__item">
        <a href="#comments" title="Respaldos">
          <%= icon "bullhorn", class: "icon--small", aria_label: "Respaldos", role: "img" %>
          0
        </a>
      </li>
      <li class="card-data__item">
        <a href="#comments" title="Comentarios">
          <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
            0
        </a>
      </li>
    </ul>
  </div>
</article>
