<div class="column">
  <article class="card card--proposal">
    <div class="card__content">
      <div class="card__header">
        <%= link_to proposal do%>
          <h5 class="card__title"><%= proposal.title %></h5>
        <% end %>
        <div class="card__author author-data author-data--small">
          <%= render partial: "author", locals: { proposal: proposal } %>
        </div>
        <%= feature_reference(proposal, class: "reference--text-left") %>
      </div>
      <%= render partial: "proposal_badge", locals: { proposal: proposal } %>
      <p><%= truncate(proposal.body, length: 100) %></p>
      <%= render partial: "decidim/shared/tags", locals: { resource: proposal, tags_class_extra: "tags--proposal" } %>
    </div>
    <div class="card__footer">
      <div class="card__support">
        <% if current_settings.votes_enabled? %>
          <%= render partial: "votes_count", locals: { proposal: proposal, from_proposals_list: true } %>
          <%= render partial: "vote_button", locals: { proposal: proposal, from_proposals_list: true } %>
        <% else %>
          <div class="card__support__data"></div>
          <%= link_to t(".view_proposal"), proposal, class: "card__button button small secondary" %>
        <% end %>
      </div>
    </div>
  </article>
</div>
