<div class="column">
  <article class="card card--proposal">
    <div class="card__content">
      <%= link_to proposal_proposal_widget_path(proposal), class: "share__icon" do %>
        <%= icon "code" %>
      <% end %>
      <div class="card__header">
        <%= link_to proposal do%>
          <h5 class="card__title"><%= proposal.title %></h5>
        <% end %>
        <div class="card__author author-data author-data--small">
          <div class="author-data__main">
            <div class="author author--inline">
              <span class="author__avatar author__avatar--small">
                <%= image_tag proposal.author_avatar_url %>
              </span>
              <span class="author__name"><%= proposal.author_name %></span>
              <%= l proposal.created_at, format: "%d/%m/%Y" %>
            </div>
          </div>
        </div>
      </div>
      <%= render partial: "proposal_badge", locals: { proposal: proposal } %>
      <p><%= truncate(proposal.body, length: 100) %></p>
      <%= render partial: "tags", locals: { proposal: proposal } %>
    </div>
    <div class="card__footer">
      <div class="card__support">
        <% if current_settings.votes_enabled? %>
          <%= render partial: "votes_count", locals: { proposal: proposal, from_proposals_list: true } %>
          <%= render partial: "vote_button", locals: { proposal: proposal, from_proposals_list: true } %>
        <% elsif !current_settings.votes_enabled? || current_settings.votes_enabled? && current_settings.votes_blocked? %>
          <div class="card__support__data"></div>
          <%= link_to t(".view_proposal"), proposal, class: "card__button button small secondary" %>
        <% end %>
      </div>
    </div>
  </article>
</div>
