<div class="column">
  <div class="card card--proposal">
    <div class="card__content">
      <div class="card__header">
        <%= link_to proposal, target: "_blank" do %>
          <h5 class="card__title"><%= decidim_html_escape(present(proposal).title).html_safe %></h5>
        <% end %>
        <%= cell("decidim/coauthorships", proposal, has_actions: false, context: { current_user: current_user }) %>

        <div class="tech-info tech-info--text-left">
          <%= t("decidim.proposals.proposals.proposal.creation_date", date: l(proposal.created_at, format: :decidim_short)) %>
        </div>
        <%= resource_reference(proposal, class: "tech-info--text-left") %>
      </div>

      <%== cell("decidim/proposals/proposal_m", proposal).badge %>

      <p><%= strip_tags(render_proposal_body(proposal)).truncate(100) %></p>
      <%= cell "decidim/tags", proposal, context: { extra_classes: ["tags--proposal"] } %>
    </div>
  </div>
</div>
