<% if show_voting_rules? %>
  <div id="voting-rules" class="flash flex-col gap-0" data-announcement>
    <div class="flash__title">
      <%= t(".title") %>
    </div>
    <div class="flash__message">
      <div class="text-base editor-content">
        <ul class="my-0">
          <% if vote_limit_enabled? %>
            <li><%= t(".vote_limit.description", limit: component_settings.vote_limit) %></li>
          <% end %>

          <% if proposal_limit_enabled? %>
            <li><%= t(".proposal_limit.description", limit: proposal_limit) %></li>
          <% end %>

          <% if threshold_per_proposal_enabled? %>
            <li><%= t(".threshold_per_proposal.description", limit: threshold_per_proposal) %></li>
          <% end %>

          <% if can_accumulate_votes_beyond_threshold? %>
            <li><%= t(".can_accumulate_votes_beyond_threshold.description", limit: threshold_per_proposal) %></li>
          <% end %>

          <% if minimum_votes_per_user_enabled? %>
            <li>
              <%= t(".minimum_votes_per_user.description", votes: minimum_votes_per_user) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
