<% if votes_enabled? && (vote_limit_enabled? || maximum_votes_per_proposal_enabled? || proposal_limit_enabled?) %>
  <div class="row column">
    <div class="callout secondary voting-rules">
      <div class="row">
        <div class="columns medium-8 large-9">
          <h3 class="heading3"><%= t('.title') %></h3>
          <ul>
            <% if vote_limit_enabled? %>
              <li><%= t('.vote_limit.description', limit: feature_settings.vote_limit) %></li>
            <% end %>

            <% if proposal_limit_enabled? %>
              <li><%= t('.proposal_limit.description', limit: proposal_limit) %></li>
            <% end %>

            <% if maximum_votes_per_proposal_enabled? %>
              <li><%= t('.maximum_votes_per_proposal.description', limit: maximum_votes_per_proposal) %></li>
            <% end %>
          </ul>
        </div>
        <% if current_user_can_vote? %>
          <div class="columns medium-4 large-3">
            <div class="card card--nomargin text-center remaining-votes-counter">
              <div class="card__content">
                <span class="definition-data__title"><%= t('.vote_limit.left', limit: feature_settings.vote_limit) %></span>
                <%= render partial: "remaining_votes_count" %>
                <span class="extra__suport-text"><%= t('.vote_limit.votes') %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
