<div class="columns large-3">
  <div class="m-bottom">
    <% unless @step == :step_2 %>
      <%= link_to proposal_wizard_aside_link_to_back(@step) do %>
        <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
        <%= wizard_aside_back_text(@step) %>
      <% end %>
    <% end %>
  </div>
  <div class="section">
    <p>
      <%= wizard_aside_info_text %>
    </p>
  </div>
  <div class="show-for-large">
    <div><%= proposal_wizard_steps_title %></div>
    <div><%= proposal_wizard_current_step_of(@step) %></div>
    <%= proposal_wizard_stepper(@step) %>
  </div>
</div>
