<% add_decidim_page_title(proposal_wizard_step_title(action_name)) %>

<% append_stylesheet_pack_tag "decidim_proposals", media: "all" %>
<% append_javascript_pack_tag "decidim_proposals" %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <%= render partial: "wizard_header", locals: { callout_step_help_text_class: "warning" } %>

  <% if @similar_proposals.present? %>
    <div class="proposal__container my-10">
      <% @similar_proposals.each do |proposal| %>
        <%= card_for @proposal %>
      <% end %>
    </div>
  <% end %>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= link_to complete_proposal_path(@proposal), class: "button button__sm md:button__lg button__secondary ml-auto" do %>
      <span><%= t("continue", scope: "decidim.proposals.proposals.compare") %></span>
      <%= icon "arrow-right-line" %>
    <% end %>
  </div>
<% end %>
