<% add_decidim_page_title(proposal_wizard_step_title(action_name)) %>

<div class="row">
  <%= render partial: "wizard_aside" %>

  <div class="columns large-6">
    <%= render partial: "wizard_header" %>

    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@form, url: update_draft_proposal_path(@proposal), method: :patch) do |form| %>
          <%= render partial: "edit_form_fields", locals: { form: form } %>

          <div class="actions">
            <%= form.submit t(".send"), class: "button expanded mt-s mb-none", data: { disable: true } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_proposals" %>
<% end %>
