<div class="row columns">
  <%= link_to :back, class: "muted-link" do %>
    <%= icon "chevron-left", class: "icon--small" %>
    <%= t(".back") %>
  <% end %>
  <h2 class="section-heading"><%= t(".title") %></h2>
</div>

<div class="row">
  <div class="columns large-6 medium-centered">
    <div class="card">
      <% if translated_attribute(component_settings.new_proposal_help_text).present? %>
        <%= render partial: "decidim/shared/announcement", locals: { announcement: component_settings.new_proposal_help_text } %>
      <% end %>

      <div class="card__content">
        <%= decidim_form_for(@form) do |form| %>
          <%= render partial: "edit_form_fields", locals: { form: form } %>

          <div class="actions">
            <%= form.submit t(".send"), class: "button expanded", data: { disable: true } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "decidim/proposals/add_proposal" %>
