<% add_decidim_page_title(proposal_wizard_step_title(action_name)) %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_proposals", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_proposals" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <%= render partial: "wizard_header" %>

  <%= decidim_form_for(@form, url: update_draft_proposal_path(@proposal), method: :patch) do |form| %>
    <%= render partial: "edit_form_fields", locals: { form: form } %>

    <div class="row column flex-center">
      <%= link_to t("discard", scope: "decidim.proposals.proposals.edit_draft"), destroy_draft_proposal_path(@proposal), method: :delete, data: { confirm: t("discard_confirmation", scope: "decidim.proposals.proposals.edit_draft") } %>

      <%= form.submit t("send", scope: "decidim.proposals.proposals.edit_draft"), class: "button  button--nomargin small", data: { disable: true } %>
    </div>
  <% end %>

<% end %>
