<%= render partial: "decidim/shared/feature_announcement" %>

<% if feature_settings.geocoding_enabled? %>
  <%= dynamic_map_for proposals_data_for_map(geocoded_proposals) do %>
    <template id="marker-popup">
      <div class="map-info__content">
        <h3>${title}</h3>
        <div id="bodyContent">
          <p>{{html body}}</p>
          <div class="map__date-adress">
            <div class="address card__extra">
              <div class="address__icon">{{html icon}}</div>
              <div class="address__details">
                <span>${address}</span><br />
              </div>
            </div>
          </div>
          <div class="map-info__button">
            <a href="${link}" class="button button--sc">
              <%= t('.view_proposal') %>
            </a>
          </div>
        </div>
      </div>
    </template>
    <%= stylesheet_link_tag "decidim/map" %>
    <%= javascript_include_tag "decidim/map" %>
  <% end %>
<% end %>
<%= render partial: "voting_rules" %>
<div class="row columns">
  <div class="title-action">
    <h2 id="proposals-count" class="title-action__title section-heading">
      <%= render partial: "count" %>
    </h2>
    <% if current_settings.creation_enabled %>
      <%= action_authorized_link_to :create, new_proposal_path, class: "title-action__action button small hollow" do %>
        <%= t(".new_proposal") %>
        <%= icon "plus" %>
      <% end %>
    <% else %>
      <span class="title-action__action button small hollow disabled">
        <%= t(".new_proposal") %>
        <%= icon "plus" %>
      </span>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="columns mediumlarge-4 large-3">
    <%= render partial: "filters_small_view" %>
    <div class="card card--secondary show-for-mediumlarge" >
      <%= render partial: "filters" %>
    </div>
  </div>
  <div id="proposals" class="columns mediumlarge-8 large-9">
    <%= render partial: "proposals" %>
  </div>
</div>

<%= javascript_include_tag("decidim/filters") %>
<%= javascript_include_tag "decidim/orders" %>
