<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_proposals", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_proposals" %>
<% end %>

<% content_for :aside do %>
  <h2 id="proposals-count" class="title-action__title section-heading">
    <%= render partial: "count" %>
  </h2>

  <% if current_settings.creation_enabled && current_component.participatory_space.can_participate?(current_user) %>
    <%= action_authorized_link_to :create, new_proposal_path, class: "title-action__action button small", data: { "redirect_url" => new_proposal_path } do %>
      <%= t(".new_proposal") %>
      <%= icon "plus", role: "img", "aria-hidden": true %>
    <% end %>
  <% end %>

  <% if component_settings.collaborative_drafts_enabled? %>
    <%= link_to t(".collaborative_drafts_list"), collaborative_drafts_path, class: "title-action__action button small hollow ml-s" %>
  <% end %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "decidim/shared/component_announcement" %>

  <% if component_settings.geocoding_enabled? %>
    <%= dynamic_map_for proposals_data_for_map(@all_geocoded_proposals) do %>
      <template id="marker-popup">
        <div class="map-info__content">
          <h3>${title}</h3>
          <div id="bodyContent">
            <p>{{html body}}</p>
            <div class="map__date-address">
              <div class="address card__extra">
                <div class="address__icon">{{html icon}}</div>
                <div class="address__details">
                  <span>${address}</span><br>
                </div>
              </div>
            </div>
            <div class="map-info__button">
              <a href="${link}" class="button button--sc">
                <%= t(".view_proposal") %>
              </a>
            </div>
          </div>
        </div>
      </template>
    <% end %>
  <% end %>

  <%= render partial: "voting_rules" %>

  <div id="proposals">
    <%= render partial: "proposals" %>
  </div>
<% end %>
