<% content_for :meta_title, t(".meta_title", organization: current_organization.name) %>

<%= render partial: "votes_limit" %>
<div class="row columns">
  <div class="title-action">
    <h2 id="proposals-count" class="title-action__title section-heading">
      <%= render partial: "count" %>
    </h2>
    <% if can? :create, Decidim::Proposals::Proposal %>
      <%= link_to new_proposal_path, class: "title-action__action button small hollow" do %>
        <%= t(".new_proposal") %>
        <%= icon "plus" %>
      <% end %>
    <% else %>
      <span class="title-action__action button small hollow disabled">
        <%= t(".new_proposal") %>
        <%= icon "plus" %>
      </span>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="columns mediumlarge-4 large-3">
    <%= render partial: "filters_small_view" %>
    <div class="card card--secondary show-for-mediumlarge" >
      <%= render partial: "filters" %>
    </div>
  </div>
  <div id="proposals" class="columns mediumlarge-8 large-9">
    <%= render partial: "proposals" %>
  </div>
</div>

<%= javascript_include_tag("decidim/filters") %>
<%= javascript_include_tag "decidim/orders" %>
<%= render partial: "decidim/shared/login_modal" %>
