<div class="row columns">
  <div class="title-action">
    <h2 class="title-action__title section-heading"><%= t(".proposals_count", count: @proposals.length) %></h2>
    <%= link_to new_proposal_path, class: "title-action__action button small hollow" do %>
      <%= t(".new_proposal") %>
      <%= icon "plus" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="columns mediumlarge-12 large-12">
    <div class="row small-up-1 medium-up-3 card-grid">
      <% @proposals.each do |proposal| %>
      <div class="column">
        <article class="card card--proposal">
          <div class="card__content">
            <div class="card__header">
              <%= link_to proposal do%>
                <h5 class="card__title"><%= proposal.title %></h5>
              <% end %>
              <div class="card__author author-data author-data--small">
                <div class="author-data__main">
                  <div class="author author--inline">
                    <span class="author__avatar author__avatar--small">
                      <%= image_tag current_user.avatar.url %>
                    </span>
                    <span class="author__name"><%= proposal.author.name %></span>
                    <%= l proposal.created_at, format: "%d/%m/%Y" %>
                  </div>
                </div>
              </div>
            </div>
            <p><%= truncate(proposal.body, length: 100) %></p>
            <% if proposal.category %>
              <ul class="tags tags--proposal">
                <li><a href=""><%= translated_attribute(proposal.category.name) %></a></li>
              </ul>
            <% end %>
          </div>
          <div class="card__footer">
            <div class="card__support">
              <div class="card__support__data"></div>
              <%= link_to t(".view_proposal"), proposal, class: "card__button button small secondary" %>
            </div>
          </div>
        </article>
      </div>
      <% end %>
    </div>
  </div>
</div>
