<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_proposals", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_proposals" %>
<% end %>

<% content_for :aside do %>
  <h1 id="proposals-count" class="h3 md:h1 decorator">
    <%= t("name", scope: "decidim.components.proposals") %>
  </h1>

  <div class="proposal__aside__button-container">
    <% if current_settings.creation_enabled && current_component.participatory_space.can_participate?(current_user) %>
      <%= action_authorized_link_to :create, new_proposal_path, class: "button button__sm md:button__lg button__secondary", data: { "redirect_url" => new_proposal_path } do %>
        <span><%= t("new_proposal", scope: "decidim.proposals.proposals.index") %></span>
        <%= icon "add-line" %>
      <% end %>
    <% end %>

    <% if component_settings.collaborative_drafts_enabled? %>
      <%= link_to collaborative_drafts_path, class: "button button__sm button__transparent-secondary" do %>
        <span><%= t("collaborative_drafts_list", scope: "decidim.proposals.proposals.index") %></span>
        <%= icon "edit-2-line" %>
      <% end %>
    <% end %>
  </div>

  <%= render partial: "decidim/shared/filters" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "decidim/shared/component_announcement" %>

  <% if component_settings.geocoding_enabled? %>
    <div class="proposal__map">
      <%= dynamic_map_for proposals_data_for_map(@all_geocoded_proposals) do %>
        <%# REDESIGN_PENDING: edit template map %>
        <template id="marker-popup">
          <div class="map-info__content">
            <h3>${title}</h3>
            <div id="bodyContent">
              <p>{{html body}}</p>
              <div class="map__date-address">
                <div class="address card__extra">
                  <div class="address__icon">{{html icon}}</div>
                  <div class="address__details">
                    <span>${address}</span><br>
                  </div>
                </div>
              </div>
              <div class="map-info__button">
                <a href="${link}" class="button button--sc">
                  <%#= t(".view_proposal") %>
                </a>
              </div>
            </div>
          </div>
        </template>
      <% end %>
    </div>
  <% end %>

  <%= render partial: "voting_rules" %>

  <div id="proposals">
    <%= render partial: "proposals" %>
  </div>
<% end %>
