<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_proposals", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_proposals" %>
<% end %>

<% content_for :aside do %>
  <h1 id="proposals-count" class="h3 md:h1 decorator">
    <%= t("name", scope: "decidim.components.proposals") %>
  </h1>

  <div class="proposal-list__aside__button-container">
    <% if current_settings.creation_enabled && current_component.participatory_space.can_participate?(current_user) %>
      <%= action_authorized_link_to :create, new_proposal_path, class: "button button__sm md:button__lg button__secondary", data: { "redirect_url" => new_proposal_path } do %>
        <span><%= t("new_proposal", scope: "decidim.proposals.proposals.index") %></span>
        <%= icon "add-line" %>
      <% end %>
    <% end %>

    <% if component_settings.collaborative_drafts_enabled? %>
      <%= link_to collaborative_drafts_path, class: "button button__sm button__transparent-secondary" do %>
        <span><%= t("collaborative_drafts_list", scope: "decidim.proposals.proposals.index") %></span>
        <%= icon "edit-2-line" %>
      <% end %>
    <% end %>
  </div>

  <% filter_sections = [].tap do |f|
      f.append(method: :with_any_state, collection: filter_proposals_state_values, label_scope: "decidim.proposals.proposals.filters", id: "state") if component_settings.proposal_answering_enabled && current_settings.proposal_answering_enabled
      f.append(method: :with_any_scope, collection: filter_scopes_values, label_scope: "decidim.proposals.proposals.filters", id: "scope") if current_component.has_subscopes?
      f.append(method: :with_any_category, collection: filter_categories_values, label_scope: "decidim.proposals.proposals.filters", id: "category") if current_component.categories.any?
      f.append(method: :with_any_origin, collection: filter_origin_values, label_scope: "decidim.proposals.proposals.filters", id: "origin") if component_settings.official_proposals_enabled
      f.append(method: :activity, collection: activity_filter_values, label_scope: "decidim.proposals.proposals.filters", id: "activity", type: :radio_buttons) if current_user
      f.append(method: :type, collection: filter_type_values, label_scope: "decidim.proposals.proposals.filters", id: "amendment_type", type: :radio_buttons) if @proposals.only_emendations.any?
      f.append(method: :related_to, collection: linked_classes_filter_values_for(Decidim::Proposals::Proposal), label_scope: "decidim.proposals.proposals.filters", id: "related_to", type: :radio_buttons) if linked_classes_for(Decidim::Proposals::Proposal).any?
    end

    search_variable = :search_text_cont
    %>

  <%= render partial: "decidim/shared/filters", locals: { filter_sections:, search_variable: } %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>

  <div class="space-y-6">

    <% if component_settings.geocoding_enabled? %>
      <div class="proposal-list__map">
        <%= dynamic_map_for proposals_data_for_map(@all_geocoded_proposals) do %>
          <template id="marker-popup">
            <div class="space-y-6">
              <a href="${link}" class="card__list">
                <div class="card__list-content">
                  <h3 class="h4 card__list-title">${title}</h3>
                  <div class="card__list-metadata">
                    {{each JSON.parse(items)}}
                      <span>{{html icon}}{{html text}}</span>
                    {{/each}}
                  </div>
                </div>
              </a>
            </div>
          </template>
        <% end %>
      </div>
    <% end %>

    <%= render partial: "decidim/shared/component_announcement" %>

    <%= render partial: "voting_rules" %>

    <div id="proposals">
      <%= render partial: "proposals" %>
    </div>

  </div>

<% end %>
