<div class="row columns">
  <%= link_to :back, class: "muted-link" do %>
    <%= icon "chevron-left", class: "icon--small" %>
    <%= t(".back") %>
  <% end %>
  <h2 class="section-heading"><%= t(".title") %></h2>
</div>
<div class="row">
  <div class="columns large-6 medium-centered">
    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@form) do |form| %>
          <div class="field">
            <%= form.text_field :title %>
          </div>

          <div class="field">
            <%= form.text_area :body, rows: 10 %>
          </div>

          <% if @form.categories&.any? %>
            <div class="field">
              <%= form.categories_select :category_id, @form.categories, prompt: t(".select_a_category") %>
            </div>
          <% end %>

          <% if @form.process_scopes&.empty? %>
            <div class="field">
              <%= form.collection_select :scope_id, @form.available_scopes, :id, :name %>
            </div>
          <% end %>

          <% if current_user.user_groups.verified.any? %>
            <div class="field">
              <%= form.select :user_group_id, current_user.user_groups.verified.map{|g| [g.name, g.id]}, prompt: current_user.name %>
            </div>
          <% end %>

          <div class="actions">
            <%= form.submit t(".send"), class: "button expanded" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
