<div class="row">
  <%= render partial: "wizard_aside" %>

  <div class="columns large-6">
    <%= render partial: "wizard_header", locals: { callout_help_text_class: "warning" } %>
    <div class="card">
      <div class="p-l">
        <%= render partial: "proposal_preview", locals: { proposal: @proposal } %>

        <% if component_settings.geocoding_enabled? %>
          <% if has_position?(@proposal) %>
            <%= dynamic_map_for proposal_preview_data_for_map(@proposal), "column" do %>
              <%= stylesheet_link_tag "decidim/map" %>
              <%= javascript_include_tag "decidim/map" %>
            <% end %>
            <div class="card flex-center">
              <span data-type="latitude"><%= @proposal.latitude %></span>
              /
              <span data-type="longitude"><%= @proposal.longitude %></span>
            </div>
          <% else %>
            <div class="column text-center">
              <p><%= t(".not_geocoded") %></p>
              <p><%= t(".address", address: @proposal.address) %></p>
            </div>
          <% end %>
        <% end %>
        <div class="row column flex-center">
          <%= link_to t(".modify"), edit_draft_proposal_path(@proposal) %>

          <%= button_to t(".publish"), publish_proposal_path(@proposal), method: :post, class: "button button--nomargin small" %>
        </div>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>
