<div class="row">
  <%= render partial: "wizard_aside" %>

  <div class="columns large-6">
    <%= render partial: "wizard_header", locals: { callout_help_text_class: "warning" } %>
    <%= render partial: "proposal_preview", locals: { proposal: @proposal } %>
    <div class="p-l">
      <div class="row column flex-center">
        <%= link_to t(".modify"), edit_draft_proposal_path(@proposal) %>
        <%= button_to t(".publish"), publish_proposal_path(@proposal), method: :post, class: "button button--nomargin small" %>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>
