<% add_decidim_page_title(proposal_wizard_step_title(action_name)) %>

<div class="row">
  <%= render partial: "wizard_aside" %>

  <div class="columns large-9">
    <%= render partial: "wizard_header", locals: { callout_help_text_class: "warning" } %>
    <div class="card card__content">
      <div class="row column view-header">
        <h3 class="heading3"><%= present(@proposal).title(links: true, html_escape: true) %></h3>
        <% unless component_settings.participatory_texts_enabled? %>
          <%= cell("decidim/coauthorships", @proposal, has_actions: false, size: 3, context: { current_user: current_user }) %>
        <% end %>

        <%= render_proposal_body(@proposal) %>

      </div>
      <div class="row column">
        <%= cell "decidim/proposals/proposal_tags", @proposal %>
      </div>
    </div>
    <div class="row column">
      <%= attachments_for @proposal %>
    </div>

    <% if component_settings.geocoding_enabled? %>
      <% if has_position?(@proposal) %>
        <%= render partial: "dynamic_map_instructions" %>
        <%= dynamic_map_for proposal_preview_data_for_map(@proposal) do %>
          <%= stylesheet_link_tag "decidim/map" %>
          <%= javascript_include_tag "decidim/map" %>
        <% end %>
        <%= decidim_form_for(@form, url: update_draft_proposal_path(@form), html: { method: :patch }) do |form| %>
          <%= form.hidden_field :title, value: form_presenter.title %>
          <%= form.hidden_field :body, value: form_presenter.body %>
          <%= form.hidden_field :has_address, value: true %>
          <%= form.hidden_field :address, value: form_presenter.address %>
          <%= form.hidden_field :latitude, data: { type: "latitude" } %>
          <%= form.hidden_field :longitude, data: { type: "longitude" } %>
          <div class="preview--form__hidden">
            <% if @form.categories&.any? %>
              <%= form.categories_select :category_id, @form.categories %>
            <% end %>
            <% if current_participatory_space.has_subscopes? %>
              <%= scopes_picker_field form, :scope_id %>
            <% end %>
            <% if current_user.user_groups.verified.any? %>
              <%= form.select :user_group_id, current_user.user_groups.verified.map { |g| [g.name, g.id] }, prompt: current_user.name %>
            <% end %>
          </div>
          <div class="actions">
            <%= form.submit t(".update_position"), class: "button expanded", data: { disable: true } %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="p-l">
      <div class="row column flex-center">
        <%= link_to t(".modify"), edit_draft_proposal_path(@proposal) %>
        <%= button_to t(".publish"), publish_proposal_path(@proposal), method: :post, class: "button button--nomargin small" %>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>
