<% add_decidim_page_title(proposal_wizard_step_title(action_name)) %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_proposals", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_proposals" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <%= render partial: "wizard_header", locals: { callout_help_text_class: "warning" } %>

  <div class="proposal__container mt-10">
    <h2 class="h3 text-secondary"><%= present(@proposal).title(links: true, html_escape: true) %></h2>

    <% unless component_settings.participatory_texts_enabled? %>
      <%#= cell("decidim/coauthorships", @proposal, has_actions: false, size: 3, context: { current_user: current_user }) %>
      <% # REDESIGN_PENDING: Logic copied from decidim-core/app/cells/decidim/coauthorships_cell.rb
      author = if @proposal.respond_to?(:official?) && @proposal.official?
                  "#{@proposal.class.module_parent}::OfficialAuthorPresenter".constantize.new
                else
                  @proposal.identities.first&.presenter
                end
      %>
      <%= cell "decidim/author", author, from: @proposal, context_actions: nil %>
    <% end %>

    <%= render_proposal_body(@proposal) %>

    <%= cell "decidim/tags", @proposal %>

    <% if component_settings.geocoding_enabled? && has_position?(@proposal) %>
      <%= render partial: "decidim/shared/static_map", locals: { icon_name: "proposals", geolocalizable: @proposal } %>
    <% end %>

    <div class="mt-8" data-component="accordion" data-multiselectable="false" data-collapsible="false">
      <ul class="tab-x-container">
        <% tabs.each_with_index do |tab, i| %>
          <li>
            <button id="trigger-<%= tab[:id] %>" class="tab-x" data-controls="panel-<%= tab[:id] %>" data-open="<%= "true" if i == 0 %>">
              <%= icon tab[:icon], class: "text-gray fill-current" %><%= tab[:text] %>
            </button>
          </li>
        <% end %>
      </ul>

      <% panels.each do |panel| %>
        <div id="panel-<%= panel[:id] %>" class="py-8">
          <%= send(panel[:method], *panel[:args]) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= link_to destroy_draft_proposal_path(@proposal), method: :delete, class: "button button__sm md:button__lg button__text-secondary", data: { confirm: t("discard_confirmation", scope: "decidim.proposals.proposals.edit_draft") } do %>
      <%= icon "arrow-left-line" %>
      <span><%= t("discard", scope: "decidim.proposals.proposals.edit_draft") %></span>
    <% end %>

    <%= link_to t("modify", scope: "decidim.proposals.proposals.preview"), edit_draft_proposal_path(@proposal), class: "button button__sm md:button__lg button__transparent-secondary md:ml-auto" %>

    <%= button_to publish_proposal_path(@proposal), method: :post, class: "button button__sm md:button__lg button__secondary w-full md:w-fit" do %>
      <span><%= t("publish", scope: "decidim.proposals.proposals.preview") %></span>
      <%= icon "arrow-right-line" %>
    <% end %>
  </div>
<% end %>
