<% add_decidim_meta_tags({
  description: present(@proposal).body,
  title: present(@proposal).title,
  url: proposal_url(@proposal.id)
}) %>

<%= render partial: "voting_rules" %>
<div class="row column view-header">
  <h2 class="heading2"><%= present(@proposal).html_title %></h2>
  <%= cell("decidim/coauthorships", @proposal, has_actions: true, size: 3) %>
</div>
<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
    <% if allowed_to?(:edit, :proposal, proposal: @proposal) %>
      <%= link_to t(".edit_proposal"), edit_proposal_path(@proposal), class: "button secondary hollow expanded button-sc button--icon follow-button" %>
    <% end %>
    <% if current_settings.votes_enabled? || show_endorsements_card? || current_user %>
      <div class="card">
        <div class="card__content">
          <% if current_settings.votes_enabled? %>
            <%= render partial: "votes_count", locals: { proposal: @proposal, from_proposals_list: false } %>
            <%= render partial: "vote_button", locals: { proposal: @proposal, from_proposals_list: false } %>
          <% end %>
          <%= render partial: "endorsements_card_row", locals: { proposal: @proposal } %>
          <br />
          <%= follow_button_for(@proposal) %>
        </div>
      </div>
    <% end %>
    <%= resource_reference(@proposal) %>
    <%= cell("decidim/fingerprint", @proposal) %>
    <%= render partial: "decidim/shared/share_modal" %>
    <%= embed_modal_for proposal_proposal_widget_url(@proposal, format: :js) %>
    <%= cell "decidim/proposals/proposal_link_to_collaborative_draft", @proposal %>
  </div>
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <%== cell("decidim/proposals/proposal_m", @proposal, full_badge: true).badge %>
      <%= simple_format present(@proposal).html_body %>
      <% if component_settings.geocoding_enabled? %>
        <%= render partial: "decidim/shared/static_map", locals: { icon_name: "proposals", geolocalizable: @proposal } %>
      <% end %>
      <%= cell "decidim/proposals/proposal_tags", @proposal %>
    </div>
    <% if @proposal.answered? && translated_attribute(@proposal.answer).present? %>
      <% if @proposal.accepted? %>
        <div class="section">
          <div class="callout success">
            <h5><%= t(".proposal_accepted_reason") %></h5>
            <p><%= decidim_sanitize translated_attribute @proposal.answer %></p>
          </div>
        </div>
      <% elsif @proposal.rejected? %>
        <div class="section">
          <div class="callout warning">
            <h5><%= t(".proposal_rejected_reason") %></h5>
            <p><%= decidim_sanitize translated_attribute @proposal.answer %></p>
          </div>
        </div>
      <% else %>
        <div class="section">
          <div class="callout secondary">
            <h5><%= t(".proposal_in_evaluation_reason") %></h5>
            <p><%= decidim_sanitize translated_attribute @proposal.answer %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= linked_resources_for @proposal, :results, "included_proposals" %>
    <%= linked_resources_for @proposal, :projects, "included_proposals" %>
    <%= linked_resources_for @proposal, :meetings, "proposals_from_meeting" %>
    <%= linked_resources_for @proposal, :proposals, "copied_from_component" %>

    <%= cell "decidim/proposals/endorsers_list", @proposal %>
  </div>
</div>
<%= attachments_for @proposal %>

<%= comments_for @proposal %>

<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>

<%=
  render partial: "decidim/shared/flag_modal", locals: {
    reportable: @proposal,
    form: @report_form,
    url: decidim.report_path(sgid: @proposal.to_sgid.to_s)
  }
%>
