<% add_decidim_meta_tags({
  description: @proposal.body,
  title: @proposal.title,
  url: proposal_url(@proposal.id)
}) %>

<%= render partial: "votes_limit" %>
<div class="row column view-header">
  <h2 class="heading2"><%= @proposal.title %></h2>
  <div class="author-data">
    <div class="author-data__main">
      <div class="author author--inline">
        <span class="author__avatar">
          <%= image_tag @proposal.author_avatar_url %>
        </span>
        <%= l @proposal.created_at, format: :long %>
        <span class="author__name">
          <%= @proposal.author_name %>
        </span>
      </div>
    </div>
    <div class="author-data__extra">
      <button type="button" data-open="<%= current_user.present? ? 'flagModal' : 'loginModal' %>" title="<%= t('.report') %>" aria-controls="<%= current_user.present? ? 'flagModal' : 'loginModal' %>" aria-haspopup="true" tabindex="0">
        <%= icon "flag", aria_label: t('.report'), class: 'icon--small' %>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
    <% if current_settings.votes_enabled? %>
      <div class="card extra">
        <div class="card__content">
            <div id="proposal-<%= @proposal.id %>-votes-count">
              <%= render partial: "votes_count", locals: { proposal: @proposal, from_proposals_list: false } %>
            </div>
            <div id="proposal-<%= @proposal.id %>-vote-button">
              <%= render partial: "vote_button", locals: { proposal: @proposal, from_proposals_list: false } %>
            </div>
        </div>
      </div>
    <% end %>
    <%= feature_reference(@proposal) %>
    <%= render partial: "decidim/shared/share_modal" %>
    <%= embedded_code_for(proposal_proposal_widget_path(@proposal)) %>
  </div>
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <%= render partial: "proposal_badge", locals: { proposal: @proposal } %>
      <p><%= @proposal.body %></p>
      <% if feature_settings.geocoding_enabled? %>
        <%= render partial: "decidim/shared/static_map", locals: { icon_name: "proposals", geolocalizable: @proposal } %>
      <% end %>
      <%= render partial: "tags", locals: { proposal: @proposal } %>
    </div>
    <% if @proposal.answered? && translated_attribute(@proposal.answer).present? %>
      <% if @proposal.accepted? %>
        <div class="section">
          <div class="callout success">
            <h5><%= t(".proposal_accepted_reason") %></h5>
            <p><%== translated_attribute @proposal.answer %></p>
          </div>
        </div>
      <% else %>
        <div class="section">
          <div class="callout warning">
            <h5><%= t(".proposal_rejected_reason") %></h5>
            <p><%= translated_attribute @proposal.answer %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= linked_resources_for @proposal, :results, "included_proposals" %>
    <%= linked_resources_for @proposal, :projects, "included_proposals" %>
    <%= linked_resources_for @proposal, :meetings, "proposals_from_meeting" %>
  </div>
</div>

<%= comments_for @proposal %>

<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>

<%=
  render partial: "decidim/shared/flag_modal", locals: {
    reportable: @proposal,
    form: @report_form,
    url: decidim.report_path(sgid: @proposal.to_sgid.to_s)
  }
%>
