<div class="row column view-header">
  <h2 class="heading2"><%= @proposal.title %></h2>
  <div class="author-data">
    <div class="author-data__main">
      <div class="author author--inline">
        <span class="author__avatar">
          <%= image_tag @proposal.author.avatar.url %>
        </span>
        <%= l @proposal.created_at, format: :long %>
        <span class="author__name">
          <%= @proposal.author.name %>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
  </div>
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <p><%= @proposal.body %></p>
      <% if @proposal.category %>
        <ul class="tags tags--proposal">
          <li><a href=""><%= translated_attribute(@proposal.category.name) %></a></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
