<% content_for :proposal_description do %>
  <% @proposal.body %>
<% end %>
<% content_for :proposal_title do %>
  <% @proposal.title %>
<% end %>
<% content_for :proposal_url do %>
  <% proposal_url(@proposal.id) %>
<% end %>
<% content_for :twitter_handler do %>
  <% current_organization.twitter_handler %>
<% end %>

<div class="row column view-header">
  <h2 class="heading2"><%= @proposal.title %></h2>
  <div class="author-data">
    <div class="author-data__main">
      <div class="author author--inline">
        <span class="author__avatar">
          <%= image_tag @proposal.author_avatar_url %>
        </span>
        <%= l @proposal.created_at, format: :long %>
        <span class="author__name">
          <%= @proposal.author_name %>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
    <%= render partial: "share", locals: { proposal: @proposal } %>
  </div>
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <p><%= @proposal.body %></p>
      <% if @proposal.category || @proposal.scope %>
        <ul class="tags tags--proposal">
          <% if @proposal.category %>
            <li><a href=""><%= translated_attribute(@proposal.category.name) %></a></li>
          <% end %>
          <% if @proposal.scope %>
            <li><a href=""><%= @proposal.scope.name %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :expanded do %>
  <% if @proposal.commentable? %>
    <%= comments_for @proposal, arguable: true, votable: true %>
  <% end %>
<% end %>

<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>
