<% add_decidim_meta_tags({
  description: @proposal.body,
  title: @proposal.title,
  url: proposal_url(@proposal.id)
}) %>

<%= render partial: "voting_rules" %>
<div class="row column view-header">
  <h2 class="heading2"><%= @proposal.title %></h2>
  <div class="author-data">
    <%= render partial: "author", locals: { proposal: @proposal } %>
    <div class="author-data__extra">
      <button type="button" data-open="<%= current_user.present? ? 'flagModal' : 'loginModal' %>" title="<%= t('.report') %>" aria-controls="<%= current_user.present? ? 'flagModal' : 'loginModal' %>" aria-haspopup="true" tabindex="0">
        <%= icon "flag", aria_label: t('.report'), class: 'icon--small' %>
      </button>
      <% unless @proposal.official? %>
        <%= link_to link_to_current_or_new_conversation_with(@proposal.author), title: t('.contact') do %>
          <%= icon "envelope-closed", aria_label: t('.contact'), class: 'icon--small' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
    <% if can?(:edit, @proposal) %>
      <%= link_to t(".edit_proposal"), edit_proposal_path(@proposal), class: "button secondary hollow expanded button-sc button--icon follow-button" %>
    <% end %>
    <% if current_settings.votes_enabled? || current_user %>
      <div class="card extra">
        <div class="card__content">
          <% if current_settings.votes_enabled? %>
            <%= render partial: "votes_count", locals: { proposal: @proposal, from_proposals_list: false } %>
            <%= render partial: "vote_button", locals: { proposal: @proposal, from_proposals_list: false } %>
          <% end %>
          <% if current_user %>
            <%= render partial: "decidim/shared/follow_button", locals: { followable: @proposal } %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= feature_reference(@proposal) %>
    <%= render partial: "decidim/shared/share_modal" %>
    <%= embed_modal_for proposal_proposal_widget_url(@proposal, format: :js) %>
  </div>
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <%= render partial: "proposal_badge", locals: { proposal: @proposal } %>
      <%= simple_format @proposal.body %>
      <% if feature_settings.geocoding_enabled? %>
        <%= render partial: "decidim/shared/static_map", locals: { icon_name: "proposals", geolocalizable: @proposal } %>
      <% end %>
      <%= render partial: "decidim/shared/tags", locals: { resource: @proposal, tags_class_extra: "tags--proposal" } %>
    </div>
    <% if @proposal.answered? && translated_attribute(@proposal.answer).present? %>
      <% if @proposal.accepted? %>
        <div class="section">
          <div class="callout success">
            <h5><%= t(".proposal_accepted_reason") %></h5>
            <p><%= decidim_sanitize translated_attribute @proposal.answer %></p>
          </div>
        </div>
      <% elsif @proposal.rejected? %>
        <div class="section">
          <div class="callout warning">
            <h5><%= t(".proposal_rejected_reason") %></h5>
            <p><%= decidim_sanitize translated_attribute @proposal.answer %></p>
          </div>
        </div>
      <% else %>
        <div class="section">
          <div class="callout secondary">
            <h5><%= t(".proposal_in_evaluation_reason") %></h5>
            <p><%= decidim_sanitize translated_attribute @proposal.answer %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= linked_resources_for @proposal, :results, "included_proposals" %>
    <%= linked_resources_for @proposal, :projects, "included_proposals" %>
    <%= linked_resources_for @proposal, :meetings, "proposals_from_meeting" %>
  </div>
</div>
<%= attachments_for @proposal %>

<%= comments_for @proposal %>

<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>

<%=
  render partial: "decidim/shared/flag_modal", locals: {
    reportable: @proposal,
    form: @report_form,
    url: decidim.report_path(sgid: @proposal.to_sgid.to_s)
  }
%>
