<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :name, aria: { label: :name } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :description, rows: 3, aria: { label: :description } %>
        <%= t(".hint_html") %>
        <ul>
          <li><%= t(".hint1_html") %></li>
          <li><%= t(".hint2_html") %></li>
          <li><%= t(".hint3_html") %></li>
        </ul>
      </div>

      <div class="row column">
        <%= form.label :internal_state %>
        <div class="flex items-center gap-x-4 my-2">
          <%= form.collection_radio_buttons :internal_state,
                                            Decidim::Proposals::Proposal::STATES.keys - [:withdrawn],
                                            :to_s,
                                            ->(mode) { t(mode, scope: "decidim.proposals.admin.proposal_answers.form") },
                                            prompt: true do |builder|
            builder.label { builder.radio_button + builder.text }
          end %>
        </div>
      </div>

      <div class="row column">
        <%= form.select :scope_for_availability, availability_options_for_select, help_text: t(".scope_for_availability_help") %>
      </div>
    </div>
  </div>
</div>
