<h3 class="h4"><%= t("decidim.system.models.organization.fields.content_security_policy") %></h3>

<%= f.fields_for :content_security_policy do %>
  <%= f.text_field "default-src".to_sym, label: t(".default_src"), help_text: t(".default_src_hint") %>
  <%= f.text_field "img-src".to_sym, label: t(".img_src"), help_text: t(".img_src_hint") %>
  <%= f.text_field "media-src".to_sym, label: t(".media_src"), help_text: t(".media_src_hint") %>
  <%= f.text_field "script-src".to_sym, label: t(".script_src"), help_text: t(".script_src_hint") %>
  <%= f.text_field "style-src".to_sym, label: t(".style_src"), help_text: t(".style_src_hint") %>
  <%= f.text_field "frame-src".to_sym, label: t(".frame_src"), help_text: t(".frame_src_hint") %>
  <%= f.text_field "font-src".to_sym, label: t(".font_src"), help_text: t(".font_src_hint") %>
  <%= f.text_field "connect-src".to_sym, label: t(".connect_src"), help_text: t(".connect_src_hint") %>
<% end %>
