<%= decidim_form_for(@form) do |f| %>
  <div class="form__wrapper">
    <%= f.text_field :name, autofocus: true %>

    <%= f.text_field :host %>

    <%= f.text_area :secondary_hosts, help_text: t(".secondary_hosts_hint") %>

    <%= field_set_tag f.label(:force_authentication, nil, for: nil) do %>
      <%= f.check_box :force_users_to_authenticate_before_access_organization, label_options: { class: "form__wrapper-checkbox-label" } %>
    <% end %>

    <%= field_set_tag f.label(:users_registration_mode, nil, for: nil) do %>
      <%= f.collection_radio_buttons :users_registration_mode,
                                     Decidim::Organization.users_registration_modes,
                                     :first,
                                     ->(mode) { t("decidim.system.organizations.users_registration_mode.#{mode.first}") } do |builder|
                                      builder.label(for: nil, class: "form__wrapper-checkbox-label") { builder.radio_button(id: nil) + builder.text }
                                    end %>
    <% end %>

    <%= field_set_tag f.label(:available_authorizations, nil, for: nil) do %>
      <%= f.collection_check_boxes :available_authorizations, Decidim.authorization_workflows, :name, :description do |builder|
        builder.label(for: nil, class: "form__wrapper-checkbox-label") { builder.check_box(id: nil) + builder.text }
      end %>
    <% end %>

    <%= render partial: "advanced_settings", locals: { f: } %>
  </div>

  <div class="form__wrapper-block">
    <%= f.submit t("decidim.system.actions.save"), class: "button button__sm md:button__lg button__primary" %>
  </div>
<% end %>
