<% content_for :title do %>
  <h2><%= t ".title" %></h2>
<% end %>

<div class="actions title">
  <%= link_to st("actions.new", name: t("models.organization.name", scope: "decidim.system")), ['new', 'organization'], class: 'new' %>
</div>

<table class="stack">
  <thead>
    <tr>
      <th><%= t("models.organization.fields.name", scope: "decidim.system") %></th>
      <th><%= t("models.organization.fields.created_at", scope: "decidim.system") %></th>
      <th class="actions"><%= st "actions.title" %></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td>
          <%= link_to organization.name, organization %><br />
          <%= organization.host %>
        </td>
        <td>
          <%= l organization.created_at, format: :short %>
        </td>
        <td class="actions">
          <%= link_to st("actions.edit"), ['edit', organization] %>
          <%= link_to st("actions.destroy"), organization, method: :delete, class: "small alert button", data: { confirm: st("actions.confirm_destroy") } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
