<% provide :title do %>
  <h2><%= t ".title" %></h2>
<% end %>

<%= decidim_form_for(@form) do |f| %>
  <div class="field">
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :reference_prefix %>
    <p class="help-text"><%= t(".reference_prefix_hint") %></p>
  </div>

  <div class="field">
    <%= f.text_field :host %>
  </div>

  <div class="field">
    <%= f.text_area :secondary_hosts %>
    <p class="help-text"><%= t(".secondary_hosts_hint") %></p>
  </div>

  <div class="field">
    <%= f.text_field :organization_admin_name %>
  </div>

  <div class="field">
    <%= f.email_field :organization_admin_email %>
  </div>

  <%= f.fields_for :locales do |fields| %>
    <div class="field">
      <%= f.label :organization_locales, '', class: @form.respond_to?(:errors) && @form.errors[:default_locale].present? ? "is-invalid-label" : "" %>
      <table>
        <thead>
          <tr>
            <td>Locale</td>
            <td>Enabled <%= f.error_for(:available_locales) %></td>
            <td>Default? <%= f.error_for(:default_locale) %></td>
          </tr>
        </thead>
        <tbody>
          <% localized_locales.each do |locale| %>
            <tr>
              <td><%= locale.name %></td>
              <td><%= check_box_tag "organization[available_locales][#{locale.id}]", locale.id, @form.available_locales.include?(locale.id) %></td>
              <td><%= radio_button_tag "organization[default_locale]", locale.id, @form.default_locale == locale.id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :available_authorizations %>
    <%= f.collection_check_boxes :available_authorizations, Decidim.authorization_workflows, :name, :description %>
  </div>

  <div class="actions">
    <%= f.submit t("decidim.system.models.organization.actions.save_and_invite") %>
  </div>
<% end %>
