<tr data-assembly-id="<%= assembly.id %>" data-parent-id="<%= assembly.parent_id %>" data-level="<%= assembly.ancestors.count %>">
  <td class="whitespace-nowrap">
    <% if parent_assembly_id %>
      <% [assembly.ancestors.count - 1, 0].max.times do |index| %>
        <span class="px-3"></span>
      <% end %>
      <span class="px-3 text-xl text-secondary opacity-10">|</span>
    <% end %>

    <% if assembly.promoted? %>
      <%= icon_with_tooltip "star-s-fill", t("models.assembly.fields.promoted", scope: "decidim.admin") %>
    <% end %>

    <span class="table-list__title-ellipsis">
      <% if allowed_to? :update, :assembly, assembly: assembly %>
        <%= link_to translated_attribute(assembly.title), edit_assembly_path(assembly) %>
      <% elsif allowed_to? :read, :component, assembly: assembly %>
        <%= link_to translated_attribute(assembly.title), components_path(assembly) %><br>
      <% else %>
        <%= translated_attribute(assembly.title) %>
      <% end %>
    </span>

    <% if assembly.children.count.positive? %>
      <%= link_to url_for(query_params_with(parent_id_eq: assembly.id)), remote: true, data: { arrow_down: true } do %>
        <%= icon "arrow-down-s-line", class: "w-4 h-4 ml-2" %>
      <% end %>
      <%= link_to "#", class: "hidden", data: { arrow_up: true } do %>
        <%= icon "arrow-up-s-line", class: "w-4 h-4 ml-2" %>
      <% end %>
    <% end %>
  </td>
  <td class="table-list__date">
    <%= l(assembly.created_at, format: :short) %>
  </td>
  <td class="table-list__state">
    <% if assembly.private_space? %>
      <span><%= t("assemblies.index.private", scope: "decidim.admin") %></span>
    <% else %>
      <span><%= t("assemblies.index.public", scope: "decidim.admin") %></span>
    <% end %>
  </td>
  <td class="table-list__state">
    <% if assembly.published? %>
      <span class="label success !text-sm"><%= t("assemblies.index.published", scope: "decidim.admin") %></span>
    <% else %>
      <span class="label alert !text-sm"><%= t("assemblies.index.unpublished", scope: "decidim.admin") %></span>
    <% end %>
  </td>
  <td class="table-list__actions">
    <% if view == :deleted %>
      <% if allowed_to? :restore, :assembly, trashable_deleted_resource: assembly %>
        <%= icon_link_to "refresh-line", restore_assembly_path(assembly), t("actions.restore", scope: "decidim.admin"), method: :patch, class: "action-icon--restore" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>
    <% else %>
      <% if allowed_to? :read, :share_tokens, current_participatory_space: assembly %>
        <%= icon_link_to "share-line", decidim_admin_assemblies.assembly_share_tokens_path(assembly), t("actions.share_tokens", scope: "decidim.admin"), class: "action-icon--new" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>
      <% if allowed_to? :update, :assembly, assembly: assembly %>
        <%= icon_link_to "pencil-line", edit_assembly_path(assembly), t("actions.configure", scope: "decidim.admin"), class: "action-icon--new" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>
      <% if allowed_to? :copy, :assembly, assembly: assembly, assembly: parent_assembly %>
        <%= icon_link_to "file-copy-line", new_assembly_copy_path(assembly), t("actions.duplicate", scope: "decidim.admin"), class: "action-icon--copy" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>

      <% if allowed_to? :export, :assembly, assembly: assembly %>
        <%= icon_link_to "download-line", assembly_export_path(assembly), t("actions.export", scope: "decidim.admin"), method: :post, class: "action-icon--export" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>

      <% if allowed_to? :preview, :assembly, assembly: assembly %>
        <%= icon_link_to "eye-line", decidim_assemblies.assembly_path(assembly, locale: current_locale), t("actions.preview", scope: "decidim.admin"), class: "action-icon--preview", target: "_blank", data: { "external-link": false } %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>

      <% if allowed_to? :read, :moderation, assembly: assembly %>
        <%= icon_link_to "flag-line", moderations_path(assembly), t("actions.moderate", scope: "decidim.admin"), class: "action-icon--moderate" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>

      <% if allowed_to? :soft_delete, :assembly, trashable_deleted_resource: assembly %>
        <% if assembly.published? %>
          <%= icon "delete-bin-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.soft_delete", scope: "decidim.admin") %>
        <% else %>
          <%= icon_link_to "delete-bin-line", soft_delete_assembly_path(assembly), t("actions.soft_delete", scope: "decidim.admin"), method: :patch, class: "action-icon--delete", data: { confirm: t("actions.confirm_delete_assembly", scope: "decidim.admin") } %>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
