<div class="form__wrapper">
  <div class="card" data-component="accordion" id="accordion-title">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-title" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="title">
          <%= t("title", scope: "decidim.assemblies.admin.assemblies.form") %>
        </h2>
      </button>
    </div>

    <div id="panel-title" class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true, aria: { label: :title } %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :subtitle, aria: { label: :subtitle } %>
      </div>

      <div class="row column">
        <%= form.number_field :weight %>
      </div>

    <div class="row">
      <div class="columns slug">
        <%= form.text_field :slug, help_text: t(".slug_help_html", url: decidim_form_slug_url(:assemblies, form.object.slug)) %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :short_description, aria: { label: :short_description } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :description, aria: { label: :description } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :purpose_of_action, aria: { label: :purpose_of_action } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :composition, aria: { label: :composition } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :internal_organisation, aria: { label: :internal_organisation } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :announcement, help_text: t(".announcement_help") %>
      </div>
    </div>
  </div>
  <div class="card" data-component="accordion" id="accordion-duration">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-duration" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="duration">
          <%= t("duration", scope: "decidim.assemblies.admin.assemblies.form") %>
        </h2>
      </button>
    </div>

    <div id="panel-duration" class="card-section">
      <div class="row column">
        <%= form.date_field :creation_date %>
      </div>

    <div class="row column">
      <%= form.date_field :included_at, help_text: t(".included_at_help") %>
    </div>

    <div class="row column">
      <%= form.date_field :duration, help_text: t(".duration_help") %>
    </div>

      <div class="row column" id="closing_date_div">
        <%= form.date_field :closing_date %>
      </div>

      <div class="row column" id="closing_date_reason_div">
        <%= form.translated :editor, :closing_date_reason, toolbar: :content, aria: { label: :closing_date_reason } %>
      </div>
    </div>
  </div>

  <div class="card" data-component="accordion" id="accordion-images">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-images" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="images">
          <%= t("images", scope: "decidim.assemblies.admin.assemblies.form") %>
        </h2>
      </button>
    </div>

    <div id="panel-images" class="card-section">
      <div class="row">
        <div class="columns">
          <%= form.upload :hero_image, button_class: "button button__sm button__transparent-secondary" %>
        </div>

        <div class="columns">
          <%= form.upload :banner_image, button_class: "button button__sm button__transparent-secondary" %>
        </div>
      </div>
    </div>
  </div>

  <div class="card" data-component="accordion" id="accordion-metadata">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-metadata" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="metadata">
          <%= t("metadata", scope: "decidim.assemblies.admin.assemblies.form") %>
        </h2>
      </button>
    </div>

    <div id="panel-metadata" class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :participatory_scope, aria: { label: :participatory_scope } %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :participatory_structure, aria: { label: :participatory_structure } %>
      </div>
      <div class="row">
        <div class="columns">
          <%= form.translated :text_field, :meta_scope, aria: { label: :meta_scope } %>
        </div>
      </div>

      <div class="row">
        <div class="columns">
          <%= form.translated :text_field, :developer_group, aria: { label: :developer_group } %>
        </div>

        <div class="columns">
          <%= form.translated :text_field, :local_area, aria: { label: :local_area } %>
        </div>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :target, aria: { label: :target } %>
      </div>
    </div>
  </div>

  <div class="card" data-component="accordion" id="accordion-taxonomies">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-taxonomies" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="taxonomies">
          <%= t("taxonomies", scope: "decidim.assemblies.admin.assemblies.form") %>
        </h2>
      </button>
    </div>
    <div id="panel-taxonomies" class="card-section">
      <% if @form.taxonomy_filters.blank? %>
        <div class="row column">
          <p class="text-gray mr-2 mt-4">
            <%= t("no_taxonomy_filters_found", scope: "decidim.assemblies.admin.assemblies.form") %>
            <%= link_to(t("define_taxonomy_filters", scope: "decidim.assemblies.admin.assemblies.form"), decidim_admin.taxonomies_path, class: "button button__text-secondary") %>
          </p>
      </div>
      <% else %>
        <% @form.taxonomy_filters.each do |filter| %>
          <div class="row column">
            <%= filter_taxonomy_items_select_field form, :taxonomies, filter %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card" data-component="accordion" id="accordion-visibility">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-visibility" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="visibility">
          <%= t("visibility", scope: "decidim.assemblies.admin.assemblies.form") %>
        </h2>
      </button>
    </div>

    <div id="panel-visibility" class="card-section">
      <% if params[:parent_id].present? %>
        <%= form.hidden_field :parent_id, value: @form.parent_id %>
      <% else %>
        <div class="row column">
          <%= form.select :parent_id,
                          parent_assemblies_options,
                          include_blank: t(".select_parent_assembly") %>
        </div>
      <% end %>

      <div class="row column">
        <%= form.check_box :promoted %>
      </div>

      <div class="row column" id="private_space">
        <%= form.check_box :private_space %>
        <p class="help-text"><%= t(".private_notice") %></p>
      </div>

      <div class="row column" id="is_transparent">
        <%= form.check_box :is_transparent %>
      </div>
    </div>
  </div>

  <div class="card" data-component="accordion" id="accordion-other">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-other" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="other">
          <%= t("other", scope: "decidim.assemblies.admin.assemblies.form") %>
        </h2>
      </button>
    </div>

    <div id="panel-other" class="card-section">
      <div class="row column">
        <%= form.select :created_by,
                        @form.created_by_for_select,
                        { include_blank: t(".select_a_created_by") },
                        { multiple: false } %>
      </div>

      <div class="row column" id="created_by_other">
        <%= form.translated :text_field, :created_by_other, aria: { label: :created_by_other } %>
      </div>

      <div class="row column">
        <% if @form.processes_for_select %>
          <%= form.select :participatory_processes_ids,
                          options_for_select(
                              @form.processes_for_select,
                              selected: processes_selected
                            ),
                          { include_blank: false },
                          { multiple: true, class: "chosen-select" } %>
        <% end %>
      </div>

      <div class="row column" id="special_features">
        <%= form.translated :editor, :special_features, aria: { label: :special_features } %>
      </div>

      <div class="row column">
        <%= form.social_field :text_field,
                              :social_handlers,
                              Decidim::Organization::SOCIAL_HANDLERS,
                              label: t("social_handlers",
                                       scope: "decidim.assemblies.admin.assemblies.form") %>
      </div>
    </div>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_assemblies_admin" %>
