<% add_decidim_page_title(t("assemblies_deleted", scope: "decidim.admin.titles")) %>

<%= admin_filter_selector %>

<div class="table-scroll">
  <table class="table-list">
    <thead>
    <tr>
      <th>
        <%= sort_link(query, :title, t("models.assembly.fields.title", scope: "decidim.admin")) %>
      </th>
      <th>
        <%= sort_link(query, :created_at, t("models.assembly.fields.created_at", scope: "decidim.admin"), default_order: :desc) %>
      </th>
      <th>
        <%= sort_link(query, :private_space, t("models.assembly.fields.private", scope: "decidim.admin")) %>
      </th>
      <th class="table-list__actions">
        <%= sort_link(query, :published_at, t("models.assembly.fields.published", scope: "decidim.admin")) %>
      </th>
      <th>
        <%= t("models.assembly.fields.actions", scope: "decidim.admin") %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% deleted_collection.each do |assembly| %>
      <% next unless allowed_to? :list, :assembly, assembly: %>
      <%= render partial: "assembly_row", locals: { assembly:, view: :deleted } %>
    <% end %>
    </tbody>
  </table>
</div>
