<%= decidim_form_for(@form, html: { class: "form edit_assembly" }) do |f| %>
  <%= render partial: 'form', object: f %>
  <div class="button--double form-general-submit">
    <%= f.submit t("assemblies.edit.update", scope: "decidim.admin"), class: "button"  %>

    <% if can? :publish, current_assembly %>
      <% if current_assembly.published? %>
        <%= link_to t("actions.unpublish", scope: "decidim.admin"), assembly_publish_path(current_assembly), method: :delete, class: "button muted" %>
      <% else %>
        <%= link_to t("actions.publish", scope: "decidim.admin"), assembly_publish_path(current_assembly), method: :post, class: "button hollow" %>
      <% end %>
    <% end %>

    <% if can? :destroy, current_assembly %>
      <%= link_to t("decidim.admin.actions.destroy"), current_assembly, method: :delete, class: "alert button", data: { confirm: t("decidim.admin.actions.confirm_destroy") } %>
    <% end %>
  </div>
<% end %>

