<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t("info", scope: "decidim.admin.menu.participatory_processes_submenu") %>
  </h2>
</div>
<div class="item__edit">
  <div class="item__edit-menu">
    <p class="text-black font-semibold mb-3">Secciones</p>
    <%= link_to t("title", scope: "decidim.assemblies.admin.assemblies.form"), decidim_admin_participatory_processes.edit_participatory_process_path(current_participatory_space, anchor: t("title", scope: "decidim.assemblies.admin.assemblies.form")), class: "item__edit-menu-anchor" %>
    <%= link_to t("duration", scope: "decidim.assemblies.admin.assemblies.form"), decidim_admin_participatory_processes.edit_participatory_process_path(current_participatory_space, anchor: t("duration", scope: "decidim.assemblies.admin.assemblies.form")), class: "item__edit-menu-anchor" %>
    <%= link_to t("images", scope: "decidim.assemblies.admin.assemblies.form"), decidim_admin_participatory_processes.edit_participatory_process_path(current_participatory_space, anchor: t("images", scope: "decidim.assemblies.admin.assemblies.form")), class: "item__edit-menu-anchor" %>
    <%= link_to t("metadata", scope: "decidim.assemblies.admin.assemblies.form"), decidim_admin_participatory_processes.edit_participatory_process_path(current_participatory_space, anchor: t("metadata", scope: "decidim.assemblies.admin.assemblies.form")), class: "item__edit-menu-anchor" %>
    <%= link_to t("filters", scope: "decidim.assemblies.admin.assemblies.form"), decidim_admin_participatory_processes.edit_participatory_process_path(current_participatory_space, anchor: t("filters", scope: "decidim.assemblies.admin.assemblies.form")), class: "item__edit-menu-anchor" %>
    <%= link_to t("visbility", scope: "decidim.assemblies.admin.assemblies.form"), decidim_admin_participatory_processes.edit_participatory_process_path(current_participatory_space, anchor: t("visbility", scope: "decidim.assemblies.admin.assemblies.form")), class: "item__edit-menu-anchor" %>
    <%= link_to t("other", scope: "decidim.assemblies.admin.assemblies.form"), decidim_admin_participatory_processes.edit_participatory_process_path(current_participatory_space, anchor: t("other", scope: "decidim.assemblies.admin.assemblies.form")), class: "item__edit-menu-anchor" %>
  </div>

  <div class="item__edit-form">
    <%= decidim_form_for(@form, html: { class: "form edit_assembly assembly_form_admin" }) do |f| %>
      <%= render partial: "form", object: f %>
      <div class="button--double form-general-submit">
        <%= f.submit t("assemblies.edit.update", scope: "decidim.admin"), class: "button button__sm md:button__lg button__secondary" %>

        <% if allowed_to? :publish, :assembly, assembly: current_assembly %>
          <% if current_assembly.published? %>
            <%= link_to t("actions.unpublish", scope: "decidim.admin"), assembly_publish_path(current_assembly), method: :delete, class: "button button__sm md:button__lg button__secondary" %>
          <% else %>
            <%= link_to t("actions.publish", scope: "decidim.admin"), assembly_publish_path(current_assembly), method: :post, class: "button button__sm md:button__lg button__secondary" %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
