<% add_decidim_page_title(t("assemblies", scope: "decidim.admin.titles")) %>
<div class="card" id="assemblies">

  <% if parent_assembly && parent_assembly.self_and_ancestors.length %>
    <div class="item_show__header">
      <h1 class="item_show__header-title">
        <% parent_assembly.self_and_ancestors.each_with_index do |assembly, ix| %>
          <%= translated_attribute(assembly.title) %>
          <% unless ix == parent_assembly.self_and_ancestors.length - 1 %>
            &gt;
          <% end %>
        <% end if parent_assembly %>
      </h1>
    </div>
  <% end %>

  <%= admin_filter_selector %>

  <%= render partial: "assemblies_table", locals: { assemblies: @assemblies, view: :index } %>

  <div class="mt-4">
    <%= link_to deleted_assemblies_path, class: "button button__sm button__transparent-secondary" do %>
      <%= icon "delete-bin-line", class: "mr-2 fill-current text-secondary", role: "img" %>
      <%= t("actions.view_deleted_assemblies", scope: "decidim.admin") %>
      <span class="ml-2">
      <%= icon_with_tooltip("information-line", t("tooltips.deleted_assemblies_info", scope: "decidim.admin")) %>
    </span>
    <% end %>
  </div>

  <%= decidim_paginate @assemblies %>
</div>
