<% add_decidim_page_title(t("assemblies", scope: "decidim.admin.titles")) %>
<div class="card" id="assemblies">

  <% if parent_assembly && parent_assembly.self_and_ancestors.length %>
    <div class="item_show__header">
      <h1 class="item_show__header-title">
        <% parent_assembly.self_and_ancestors.each_with_index do |assembly, ix| %>
          <%= translated_attribute(assembly.title) %>
          <% unless ix == parent_assembly.self_and_ancestors.length - 1 %>
            &gt;
          <% end %>
        <% end if parent_assembly %>
      </h1>
    </div>
  <% end %>

  <%= admin_filter_selector %>

  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th>
            <%= sort_link(query, :title, t("models.assembly.fields.title", scope: "decidim.admin")) %>
          </th>
          <th>
            <%= sort_link(query, :created_at, t("models.assembly.fields.created_at", scope: "decidim.admin"), default_order: :desc) %>
          </th>
          <th>
            <%= sort_link(query, :private_space, t("models.assembly.fields.private", scope: "decidim.admin")) %>
          </th>
          <th class="table-list__actions">
            <%= sort_link(query, :published_at, t("models.assembly.fields.published", scope: "decidim.admin")) %>
          </th>
          <th>
            <%= t("models.assembly.fields.actions", scope: "decidim.admin") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @assemblies.each do |assembly| %>
          <% next unless allowed_to? :list, :assembly, assembly: assembly %>
          <tr>
            <td>
              <% if assembly.promoted? %>
                <%= icon_with_tooltip "star-s-fill", t("models.assembly.fields.promoted", scope: "decidim.admin") %>
              <% end %>

              <% if allowed_to? :update, :assembly, assembly: assembly %>
                <%= link_to translated_attribute(assembly.title), edit_assembly_path(assembly) %>
              <% elsif allowed_to? :read, :component, assembly: assembly %>
                <%= link_to translated_attribute(assembly.title), components_path(assembly) %><br>
              <% else %>
                <%= translated_attribute(assembly.title) %>
              <% end %>
            </td>
            <td class="table-list__date">
              <%= l(assembly.created_at, format: :short) %>
            </td>
            <td class="table-list__state">
              <% if assembly.private_space? %>
                <span><%= t("assemblies.index.private", scope: "decidim.admin") %></span>
              <% else %>
                <span><%= t("assemblies.index.public", scope: "decidim.admin") %></span>
              <% end %>
            </td>
            <td class="table-list__state">

              <% if assembly.published? %>
                <span class="label success !text-sm"><%= t("assemblies.index.published", scope: "decidim.admin") %></span>
              <% else %>
                <span class="label alert !text-sm"><%= t("assemblies.index.unpublished", scope: "decidim.admin") %></span>
              <% end %>
            </td>
            <td class="table-list__actions">
              <% if allowed_to? :read, :share_tokens, current_participatory_space: assembly %>
                <%= icon_link_to "share-line", decidim_admin_assemblies.assembly_share_tokens_path(assembly), t("actions.share_tokens", scope: "decidim.admin"), class: "action-icon--new" %>
              <% else %>
                <span class="action-space icon"></span>
              <% end %>

              <% if allowed_to? :update, :assembly, assembly: assembly %>
                 <%= icon_link_to "pencil-line", edit_assembly_path(assembly), t("actions.configure", scope: "decidim.admin"), class: "action-icon--new" %>
               <% else %>
                 <span class="action-space icon"></span>
               <% end %>
               <% if assembly.children.count.positive? || allowed_to?(:read, :assembly, assembly:) %>
                 <%= icon_link_to "government-line",
                                  url_for(query_params_with(parent_id_eq: assembly.id)),
                                  t("decidim.admin.titles.assemblies"),
                                  class: "action-icon--dial #{"highlighted" if assembly.children.count.positive?}" %>
               <% else %>
                 <span class="action-space icon"></span>
               <% end %>
               <% if allowed_to? :copy, :assembly, assembly: assembly, assembly: parent_assembly %>
                <%= icon_link_to "file-copy-line", new_assembly_copy_path(assembly), t("actions.duplicate", scope: "decidim.admin"), class: "action-icon--copy" %>
              <% else %>
                <span class="action-space icon"></span>
              <% end %>

              <% if allowed_to? :export, :assembly, assembly: assembly %>
                <%= icon_link_to "download-line", assembly_export_path(assembly), t("actions.export", scope: "decidim.admin"), method: :post, class: "action-icon--export" %>
              <% else %>
                <span class="action-space icon"></span>
              <% end %>

              <% if allowed_to? :preview, :assembly, assembly: assembly %>
                <%= icon_link_to "eye-line", decidim_assemblies.assembly_path(assembly), t("actions.preview", scope: "decidim.admin"), class: "action-icon--preview", target: "_blank", data: { "external-link": false } %>
              <% else %>
                <span class="action-space icon"></span>
              <% end %>

              <% if allowed_to? :read, :moderation, assembly: assembly %>
                <%= icon_link_to "flag-line", moderations_path(assembly), t("actions.moderate", scope: "decidim.admin"), class: "action-icon--moderate" %>
              <% else %>
                <span class="action-space icon"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= decidim_paginate @assemblies %>
</div>
