<div data-badge="<%= badge.name %>">
  <div class="profile__badge">
    <div class="profile__badge-outline" style="--value:<%= status.level.to_f / 5 %>;<%= "--color:var(--primary)" if status.level.to_f / 5 == 1 %>">
      <div class="profile__badge-circle">
        <%= image_tag badge.image, alt: badge_name %>
      </div>
    </div>
    <div class="profile__badge-title">
      <%= level_title %>
    </div>
  </div>
  <div class="profile__badge-name"><%= badge_name %></div>
  <div class="profile__badge-description"><%= description %></div>
</div>
