<%= form_required_explanation %>

<div class="user-group-fields">
  <div class="field">
    <%= f.text_field :name, help_text: t(".name_help") %>
  </div>
  <div class="field">
    <%= f.text_field :nickname, help_text: t(".nickname_help") %>
  </div>
  <div class="field">
    <%= f.text_field :email, help_text: t(".email_help") %>
  </div>
  <div class="field">
    <%= f.upload :avatar %>
  </div>
  <div class="field">
    <%= f.text_area :about, rows: 5 %>
  </div>
  <strong><%= t(".fill_in_for_verification") %></strong>
  <div class="field">
    <%= f.text_field :document_number, help_text: t(".document_number_help") %>
  </div>
  <div class="field">
    <%= f.text_field :phone, help_text: t(".phone_help") %>
  </div>
</div>
