<div class="user-group-fields">
  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.text_field :email %>
  </div>
    <div class="field">
    <%= f.text_field :document_number %>
  </div>
  <div class="field">
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.upload :avatar %>
  </div>
  <div class="field">
    <%= f.text_area :about, rows: 5 %>
  </div>
</div>
