<% add_decidim_page_title(t(".edit_user_group")) %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12">
      <%= t("edit_user_group", scope: "decidim.groups.edit") %>
    </h1>
  </div>

  <%= decidim_form_for(@form, url: group_path(@user_group.nickname), method: :patch, html: { id: "edit-group" }) do |f| %>
    <div class="form__wrapper">
      <%= render partial: "form", locals: { f: } %>
    </div>

    <div class="form__wrapper-block">
      <%= f.submit t("update_user_group", scope: "decidim.groups.edit"), class: "button button__sm md:button__lg button__secondary" %>
    </div>
  <% end %>
<% end %>
