<% add_decidim_page_title(t(".new_user_group")) %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12">
      <%= t("new_user_group", scope: "decidim.groups.new") %>
    </h1>

    <div class="text-lg text-gray-2 text-left">
      <%= t("subtitle", scope: "decidim.groups.new") %>
    </div>
  </div>

  <%= decidim_form_for(@form) do |f| %>
    <div class="form__wrapper">
      <%= render partial: "form", locals: { f: } %>
    </div>

    <div class="form__wrapper-block">
      <%= f.submit t("create_user_group", scope: "decidim.groups.new"), class: "button button__sm md:button__lg button__secondary" %>
    </div>
  <% end %>
<% end %>
