<div class="wrapper">
<div class="row collapse">
  <div class="row collapse">
    <div class="columns large-8 large-centered text-center page-title">
      <h1><%= t(".new_user_group") %></h1>
      <p>
        <%= t(".subtitle") %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 medium-10 medium-centered">

      <%= decidim_form_for(@form) do |f| %>
        <div class="card">
          <div class="card__content">
            <%= render partial: "form", locals: { f: f } %>

            <div class="actions">
              <%= f.submit t(".create_user_group"), class: "button expanded" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
