<h2 class="h4">
  <%= t("manage_members", scope: "decidim.group_members.index") %>
</h2>

<%= cell "decidim/user_group_pending_requests_list", model %>

<p class="profile__group__description"><%= t("current_members_without_admins", scope: "decidim.group_members.index") %></p>

<%= link_to profile_members_path, class: "profile__group__back" do %>
  <%= icon "arrow-left-s-line" %>
  <span class="sr-only"><%= t("cancel", scope: "decidim.shared.confirm_modal") %></span>
<% end %>

<% if validation_messages.present? %>
  <% validation_messages.each do |validation| %>
    <%= cell("decidim/announcement", validation) %>
  <% end %>
<% else %>
  <% memberships.each do |membership| %>
    <div class="profile__group__list">
      <%= card_for membership %>

      <%= link_to(
        t("decidim.group_members.actions.promote_to_admin"),
        decidim.promote_group_manage_user_path(model.nickname, membership),
        method: :post,
        data: { confirm: t("decidim.group_members.actions.confirm_promote_to_admin"),
                confirm_title: t("decidim.group_admins.actions.confirm_modal.title_add"),
                confirm_button: t("decidim.group_admins.actions.confirm_modal.ok_add") },
        class: "button button__sm button__transparent-secondary"
      ) %>

      <%= link_to(
        decidim.group_manage_user_path(model.nickname, membership),
        method: :delete,
        data: { confirm: t("decidim.group_members.actions.confirm_remove_from_group"),
                confirm_title: t("decidim.group_members.actions.confirm_modal.title_remove"),
                confirm_button: t("decidim.group_members.actions.confirm_modal.ok_remove") },
        class: "button button__sm button__transparent-secondary"
      ) do %>
        <span><%= t("decidim.group_members.actions.remove_from_group") %></span>
        <%= icon "delete-bin-line" %>
      <% end %>
    </div>
  <% end %>
<% end %>
