<section class="extended hero" style="background-image:url('<%= current_participatory_space.attached_uploader(:banner_image).path %>');">
  <div class="hero__container">
    <div class="row">
      <div class="columns large-10 text-left">
        <h1 class="text-highlight hero-heading mb-none">
          <%= translated_attribute(current_participatory_space.title) %>
        </h1>

        <p class="text-highlight heading3">
          <%= voting_dates %>
        </p>
      </div>
    </div>

    <% if !translated_button_text.blank? && !translated_button_url.blank? %>
      <div class="row">
        <div class="row column medium-8 mt-m">
          <div class="column medium-3">
            <%= cta_button %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section>
  <%= extended_navigation_bar(navigation_items) %>
</section>
