<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".title") %>
      <%= export_dropdown if allowed_to? :export, :comments %>
      <%= link_to t("actions.new", scope: "decidim.debates"), new_debate_path, class: "button button__sm button__secondary" if allowed_to? :create, :debate %>
      <%= render partial: "decidim/admin/components/resource_action" %>
    </h1>
  </div>
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t("models.debate.fields.title", scope: "decidim.debates") %></th>
          <th><%= t("models.debate.fields.start_time", scope: "decidim.debates") %></th>
          <th><%= t("models.debate.fields.end_time", scope: "decidim.debates") %></th>
          <%= th_resource_scope_label %>
          <th><%= t("actions.title", scope: "decidim.debates") %></th>
        </tr>
      </thead>
      <tbody>
        <% debates.each do |debate| %>
          <%= render partial: "decidim/debates/admin/debates/debate-tr", locals: { debate:, view: :index } %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card mt-4">
    <%= link_to deleted_debates_path, class: "button button__sm button__transparent-secondary" do %>
      <%= icon "delete-bin-line", class: "mr-2 fill-current text-secondary", role: "img" %>
      <%= t("actions.view_deleted_debates", scope: "decidim.debates") %>
      <span class="ml-2">
        <%= icon_with_tooltip("information-line", t("actions.deleted_debate_info", scope: "decidim.debates")) %>
      </span>
    <% end %>
  </div>
</div>
