<div id="vote-stats" data-refresh-url="<%= election_step_stats_path(election, current_step) %>">
  <%= render(partial: "vote_stats") %>
</div>

<div class="card">
  <div class="item_show__header">
    <h2 class="item_show__header-title"><%= t(".title") %></h2>
  </div>

  <div class="card-section">
    <% form.messages.each do |key, value| %>
      <% if form.errors.include?(key) %>
        <p><%= form.errors.messages[key][0].html_safe %></p>
      <% else %>
        <p><%= value.html_safe %></p>
      <% end %>
    <% end %>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_elections_admin" %>
