<% add_decidim_page_title(t("title", scope: "decidim.elections.trustee_zone.elections.key_ceremony_steps", election: translated_attribute(election.title))) %>
<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t("title", scope: "decidim.elections.trustee_zone.elections.key_ceremony_steps", election: translated_attribute(election.title)) %>
  </h2>
</div>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <div class="card mb-4">
      <div class="p-4">
        <% steps(current_step).each_with_index do |step, i| %>
          <% if i > 0 %>&nbsp;&gt;&nbsp;<% end %>
          <span class="<%= step.last %>"><%= t("steps.#{step.first}.title", scope: "decidim.elections.admin") %></span>
        <% end %>
      </div>
    </div>
    <% if @form %>

      <%= decidim_form_for(@form, url: election_step_path(election, current_step), method: :patch, html: { class: "form form-defaults step #{current_step}" }) do |f| %>
        <div class="form__wrapper">
          <%= render partial: current_step.to_s, locals: { form: @form, f: } %>
        </div>

        <%= f.hidden_field :current_step %>

        <% if @form.main_button? %>
          <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
            <%= f.button type: :submit, class: "button button__sm button__secondary", disabled: @form.invalid? do %>
              <% if @form.pending_action %>
                <span class='loading-spinner'></span> <%= t("steps.processing", scope: "decidim.elections.admin") %>
              <% else %>
                <%= t("steps.#{current_step}.submit", scope: "decidim.elections.admin") %>
              <% end %>
            <% end %>
          </div>
          <% if @form.pending_action %>
            <div id="pending_action"
                data-api-endpoint-url="<%= bulletin_board_server %>"
                data-message-id="<%= @form.pending_action.message_id %>"></div>

            <%= append_javascript_pack_tag "decidim_elections_admin" %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <div class="content <%= current_step %>">
        <%= render partial: current_step.to_s %>
      </div>
    <% end %>

    <%= render "decidim/elections/shared/broken_promises_modal" %>
  </div>
</div>
