<%= link_to resource_path, class: "card__grid" do %>
  <% if resource_image_path.present? %>
    <div class="card__grid-img">
      <%= image_tag resource_image_path, alt: title %>
    </div>
  <% end %>

  <div class="card__grid-text">
    <h3 class="h4 text-secondary">
      <%= title %>
    </h3>
    <%# REDESIGN_PENDING: replace static fields %>
    <div class="card__grid-metadata">
      <div>
        <%
          # REDESIGN_PENDING: Decimal number between 0-1. Higher when closer to date
          value = rand(1..100).to_f / 100
        %>
        <div class="card__grid-loader" style="--value:<%= value %>;"></div>
        queda un mes
      </div>
      <div>
        <%= icon "bubble-chart-line" %>
        2345 interacciones
      </div>
    </div>
  </div>
<% end %>
