<div class="card">
  <div class="card-section">
    <div class="row column">
      <strong><%= t ".title_proposal" %>: </strong><%= proposal.title %>
    </div>
    <div class="row column">
      <strong><%= t ".body" %>: </strong><%= proposal.body %>
    </div>
    <div class="row column">
      <strong><%= t ".created_at" %>: </strong> <%= l proposal.created_at, format: :decidim_short  %>
    </div>
    <div class="row column">
      <strong><%= t ".proposal_votes_count" %>: </strong> <%= proposal.proposal_votes_count %>
    </div>
  </div>
</div>
