<div class="text-center">
  <button class="share-link link text-center" data-open="calendarShare">
    <%= t("add_to_calendar", scope: "decidim.meetings.meetings.calendar_modal" ) %>
    <%= icon "calendar", class: "icon--after", role: "img", "aria-hidden": true %>
  </button>
</div>

<div class="reveal" id="calendarShare" data-reveal>
  <div class="reveal__header">
    <h2 class="reveal__title"><%= t("add_to_calendar", scope: "decidim.meetings.meetings.calendar_modal") %></h2>
    <button class="close-button" data-close aria-label="<%= t("close_window", scope: "decidim.meetings.meetings.calendar_modal") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ul>
    <li>
      <%= link_to t("outlook", scope: "decidim.meetings.meetings.calendar_modal"), ics_url %>
    </li>
    <li>
      <%= link_to t("apple", scope: "decidim.meetings.meetings.calendar_modal"), ics_url %>
    </li>
    <li>
      <%= link_to t("google", scope: "decidim.meetings.meetings.calendar_modal"), google_url, target: "_blank" %>
    </li>
  </ul>
</div>
