<div class="filters">
  <%= form_for filter, url: url_for, as: :filter, method: :get, remote: true do |form| %>
    <div class="filters__section">
      <fieldset>
        <legend>
          <h6 class="heading6">
            <%= t('.date') %>
          </h6>
        </legend>
        <label>
          <input value="asc" type="radio" name="order_start_time" <%= search_params[:order_start_time] == "asc" ? "checked" : nil %>><%= t('.ascendent') %>
        </label>
        <label>
          <input value="desc" type="radio" name="order_start_time" <%= search_params[:order_start_time] == "desc" ? "checked" : nil %>><%= t('.descendent') %>
        </label>
      </fieldset>
    </div>

    <% if current_organization.scopes.any? %>
      <div class="filters__section">
        <fieldset>
          <legend><h6 class="heading6"><%= t('.scopes') %></h6></legend>
          <% current_organization.scopes.each do |scope| %>
            <label>
              <input value="<%= scope.id %>" type="checkbox"  name="scope_id[]" <%= "checked" if (filter.scope_id || []).include?(scope.id.to_s) %>><%= scope.name %>
            </label>
          <% end %>
        </fieldset>
      </div>
    <% end %>

    <% if current_feature.categories.any? %>
      <div class="filters__section">
        <fieldset>
          <legend><h6 class="heading6"><%= t('.category') %></h6></legend>
          <%= form.categories_select :category_id, current_feature.categories, disable_parents: false, label: false, include_blank: true %>
        </fieldset>
      </div>
    <% end %>
  <% end %>
</div>

<%= javascript_include_tag "decidim/meetings/meetings_filters" %>
