<div class="field hashtags__container">
  <%= form.text_field :title, autofocus: true, class: "js-hashtags", hashtaggable: true %>
</div>

<div class="field hashtags__container">
  <%= text_editor_for(form, :description, hashtaggable: true) %>
</div>

<div class="field">
  <%= form.select :type_of_meeting,
                  @form.type_of_meeting_select,
                  { include_blank: t(".select_a_meeting_type") },
                  { multiple: false } %>
</div>

<div class="field" data-meeting-type="in_person">
  <%= form.geocoding_field :address, input_html: { required: false } %>
  <p class="help-text"><%= t(".address_help") %></p>
</div>

<div class="field" data-meeting-type="in_person">
  <%= form.text_area :location %>
  <p class="help-text"><%= t(".location_help") %></p>
</div>

<div class="field">
  <%= form.text_area :location_hints %>
  <p class="help-text"><%= t(".location_hints_help") %></p>
</div>

<div class="field" data-meeting-type="online">
  <%= form.text_field :online_meeting_url %>
  <p class="help-text"><%= t(".online_meeting_url_help") %></p>
</div>

<div class="iframe-fields">
  <div class="field" data-meeting-type="online">
    <%= form.select :iframe_embed_type,
      @form.iframe_embed_type_select,
      { multiple: false } %>
    <p class="help-text"><%= t(".show_embedded_iframe_help", domains: Decidim::Meetings.embeddable_services&.join(" ")) %></p>
  </div>

  <div class="field iframe-fields--access-level" id="meeting_iframe_embed_type" data-meeting-type="online-access-level">
    <%= form.select :iframe_access_level,
      @form.iframe_access_level_select,
      { include_blank: t(".select_an_iframe_access_level") },
      { multiple: false } %>
  </div>
</div>

<div class="field">
  <%= form.datetime_field :start_time %>
</div>

<div class="field">
  <%= form.datetime_field :end_time %>
</div>

<% if current_participatory_space.has_subscopes? %>
  <div class="field">
    <%= scopes_picker_field form, :decidim_scope_id %>
  </div>
<% end %>

<div class="field">
  <%= form.categories_select :decidim_category_id, current_participatory_space.categories, prompt: t(".select_a_category"), disable_parents: false %>
</div>

<div class="row column">
  <%= form.select :registration_type,
    @form.registration_type_select,
    { include_blank: t(".select_a_registration_type") },
    { multiple: false } %>
</div>

<div class="row column" id="meeting_available_slots">
  <%= form.number_field :available_slots %>
  <p class="help-text"><%= t(".available_slots_help") %></p>
</div>

<div class="field" id="meeting_registration_terms">
  <%= text_editor_for(form, :registration_terms) %>
</div>

<div class="field" id="meeting_registration_url">
  <%= form.text_field :registration_url %>
  <p class="help-text"><%= t(".registration_url_help") %></p>
  <label><%= t(".disclaimer", organization: current_component.organization.name) %></label><br>
</div>

<div class="field">
  <%= form.select(
    :user_group_id,
    Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.map{|g| [g.name, g.id]},
    prompt: current_user.name,
    label: t(".create_as")
  ) %>
</div>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_meetings" %>
<% end %>
