<div class="row small-up-1 medium-up-2 card-grid">
  <% resources.each do |meeting| %>
    <div class="column">
      <article class="card card--meeting">
        <div class="card__content">
          <%= link_to resource_locator(meeting).path, class: "card__link" do %>
            <h5 class="card__title"><%= Decidim::Meetings::MeetingPresenter.new(meeting).title %></h5>
          <% end %>
          <div class="card__datetime">
            <div class="card__datetime__date">
              <%= l meeting.start_time, format: "%d" %> <span class="card__datetime__month"><%= l meeting.start_time, format: "%B %Y" %></span>
            </div>
            <div class="card__datetime__time">
              <%= meeting.start_time.strftime("%H:%M") %> - <%= meeting.end_time.strftime("%H:%M") %>
            </div>
          </div>
          <%= decidim_sanitizen( Decidim::Meetings::MeetingPresenter.new(meeting).description ) %>
        </div>
      </article>
    </div>
  <% end %>
</div>
