<% if @forced_past_meetings %>
  <div class="callout warning">
    <%= t ".upcoming_meetings_warning" %>
  </div>
<% elsif meetings.length == 0 %>
  <div class="callout warning">
    <%= t ".no_meetings_warning" %>
  </div>
<% end %>

<div class="row small-up-1 medium-up-2 card-grid">
  <% meetings.each do |meeting| %>
    <div class="column">
      <article class="card card--meeting">
        <div class="card__content">
          <%= link_to meeting, class: "card__link" do %>
            <h5 class="card__title"><%= translated_attribute meeting.title %></h5>
          <% end %>
          <%= render partial: "datetime", locals: { meeting: meeting } %>
          <%== translated_attribute meeting.description %>
          <%= render partial: "tags", locals: { meeting: meeting } %>
          <div class="address card__extra">
            <div class="address__icon">
              <%= icon "meetings", remove_icon_class: true, width: 40, height: 70 %>
            </div>
            <%= render partial: "address_details", locals: { meeting: meeting } %>
          </div>
        </div>
      </article>
    </div>
  <% end %>
</div>
<%= decidim_paginate meetings, order_start_time: params[:order_start_time], scope_id: params[:scope_id] %>
