<% if meeting.live? %>
<div class="card card--secondary">
  <div class="card__content text-center">
    <div class="heading1 text-primary">
      <%= icon "audio", class: "heading4" %>
    </div>
    <div>
      <strong class="heading5"><%= t(".live_event") %></strong>
    </div>
    <div class="margin-top-3">
      <%= link_to t(".join"), meeting_live_event_path(meeting), target: "_blank", class: "button button--sc" %>
    </div>
  </div>
</div>
<% else %>
<div class="card card--secondary">
  <div class="card__content address">
    <div class="address__info">
      <% if meeting.online_meeting_url.present? %>
        <%= icon "video", role: "img", "aria-hidden": true, remove_icon_class: true, width: 40, height: 70 %>
        <div class="address__details">
          <span><%= link_to(meeting.online_meeting_url, meeting.online_meeting_url, target: "_blank") %></span><br>
          <span><%= translated_attribute meeting.location_hints %></span>
        </div>
      <% else %>
        <%= icon "timer", role: "img", "aria-hidden": true, remove_icon_class: true, width: 40, height: 70 %>
        <div class="address__details">
          <span><%= t(".link_available_soon") %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
