<div class="row">
  <div class="columns large-3">
    <%= link_to :back do %>
      <%= icon "chevron-left", class: "icon--small", role: "img" %>
      <%= t(".back") %>
    <% end %>
  </div>

  <div class="columns large-6">
    <h2 class="section-heading"><%= t(".title") %></h2>
    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@form) do |f| %>
          <%= render partial: "form", object: f %>

          <div class="actions">
            <%= f.submit t(".update"), class: "button expanded", data: { disable: true } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="columns large-3"></div>
</div>
