<% provide(:title, translated_attribute(meeting.title)) %>

<% content_for :meta_description, translated_attribute(meeting.description) %>
<% content_for :meta_title, translated_attribute(meeting.title) %>
<% content_for :meta_url, meeting_url(meeting.id) %>

<div class="row column view-header">
  <h2 class="heading2"><%= translated_attribute meeting.title %></h2>
</div>
<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8
              large-3 large-push-9">
    <div class="card extra">
      <div class="card__content">
        <div class="extra__date">
          <%= l meeting.start_time, format: "%d" %> <span class="extra__month"><%= l meeting.start_time, format: "%B" %></span>
        </div>
        <div class="extra__time">
          <%= meeting.start_time.strftime("%H:%M") %> - <%= meeting.end_time.strftime("%H:%M") %>
        </div>
      </div>
      </div>
      <% if meeting.closed? %>
        <div class="card card--secondary extra definition-data">
          <div class="definition-data__item definition-data__item--double">
            <span class="definition-data__title"><%= t(".attendees") %></span>
            <span class="definition-data__number"><%= meeting.attendees_count %></span>
          </div>
          <div class="definition-data__item definition-data__item--double">
            <span class="definition-data__title"><%= t(".contributions") %></span>
            <span class="definition-data__number"><%= meeting.contributions_count %></span>
          </div>
          <div class="definition-data__item">
            <span class="definition-data__title"><%= t(".organizations") %></span>
            <span class="definition-data__text"><%= meeting.attending_organizations %></span>
          </div>
        </div>
      <% end %>
    <%= render partial: "decidim/shared/share_modal" %>
  </div>
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <p><%== translated_attribute meeting.description %></p>
      <div class="card card--secondary">
        <div class="card__content address">
          <div class="address__info">
            <div class="address__icon">
              <%= icon "meetings", width: 40, height: 70 %>
            </div>
            <%= render partial: "address_details", locals: { meeting: meeting } %>
          </div>
          <% if Decidim.geocoder.present? %>
            <div class="address__map">
              <%= static_map_link(meeting) %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render partial: "tags", locals: { meeting: meeting } %>
    </div>
    <% if meeting.closed? %>
      <div class="section">
        <h3 class="section-heading"><%= t(".meeting_report") %></h3>
        <%== translated_attribute meeting.closing_report %>
      </div>
    <% end %>
    <%= linked_resources_for meeting, :proposals, "proposals_from_meeting" %>
    <%= linked_resources_for meeting, :results, "meetings_through_proposals" %>
  </div>
</div>
<%= attachments_for meeting %>

<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>
