<div data-date-container>
  <% if same_day? %>
    <div data-date>
      <%= l start_time, format: "%d" %>
      <span data-month><%= l start_time, format: "%B#{" %Y" if show_year?}" %></span>
    </div>
    <div data-time>
      <%= l start_time, format: "%H:%M" %> - <%= l end_time, format: "%H:%M" %>
    </div>
  <% else %>
    <div>
      <div data-date>
        <%= l start_time, format: "%d" %>
        <span data-month><%= l start_time, format: "%B#{" %Y" if show_year?}" %></span>
      </div>
      <div data-time>
        <%= l start_time, format: "%H:%M" %>
      </div>
    </div>
    <%= icon "arrow-right-line" %>
    <div>
      <div data-date>
        <%= l end_time, format: "%d" %>
        <span data-month><%= l end_time, format: "%B#{" %Y" if show_year?}" %></span>
      </div>
      <div data-time>
        <%= l end_time, format: "%H:%M" %>
      </div>
    </div>
  <% end %>
</div>
