<div class="field">
  <%= form.collection_select(
          :gender,
          Decidim::Demographics::Demographic::AVAILABLE_GENDERS,
          :to_s,
          ->(gender) { t(".genders.#{gender}") },
          prompt: t(".gender_prompt")
      ) %>
  <p class="help-text"><%= t ".gender_help" %></p>
</div>

<div class="field">
  <%= form.select(
          :age,
          Decidim::Demographics::Demographic::AGE_GROUPS,
          prompt: t(".age_prompt")
      ) %>
  <p class="help-text"><%= t ".age_help" %></p>
</div>

<div class="field">
  <%= form.select(
          :nationalities,
          Decidim::Demographics::Demographic::MEMBER_STATES.map { |t| t(".nationalities.#{t}") },
          {},
          { multiple: true, size: 28, prompt: t(".nationality_prompt") }
      ) %>
  <p class="help-text"><%= t ".nationalities_help" %></p>
</div>

<div class="field">
  <%= form.text_field :postal_code %>
</div>

<div class="field">
  <%= form.collection_select(
          :background,
          Decidim::Demographics::Demographic::PROFESSIONAL_CATEGORIES,
          :to_s,
          ->(gender) { t(".professional_categories.#{gender}") }
      ) %>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var last_valid_selection = null;
        $('#demographic_nationalities').change(function (event) {
            if ($(this).val().length > 3) {
                $(this).val(last_valid_selection);
            } else {
                last_valid_selection = $(this).val();
            }
        });
    });
</script>
