<div class="field">
  <%= form.collection_select(
          :gender,
          Decidim::Demographics::Demographic::AVAILABLE_GENDERS,
          :to_s,
          ->(gender) { t(".genders.#{gender}") },
          prompt: t(".gender_prompt")
      ) %>
  <p class="help-text"><%= t ".gender_help" %></p>
</div>

<div class="field">
  <%= form.select(
          :age,
          Decidim::Demographics::Demographic::AGE_GROUPS,
          prompt: t(".age_prompt")
      ) %>
  <p class="help-text"><%= t ".age_help" %></p>
</div>

<div class="field">
  <%= label_tag t(".nationality_prompt") %>
  <%= form.collection_check_boxes(
          :nationalities,
          Decidim::Demographics::Demographic::MEMBER_CITIZENSHIPS,
          :to_s,
          ->(nationality) { t(".nationalities.#{nationality}") },
      ) do |cb| %>
        <%= cb.check_box class: "nationality-checkbox" %>
        <%= cb.text %>
        <br>
      <% end %>
</div>

<div class="field hide" id="other_nationalitys">
    <%= form.text_field :other_nationalities %>
</div>

<div class="field">
<%= label_tag t(".residence_prompt") %>
  <%= form.collection_check_boxes(
          :residences,
          Decidim::Demographics::Demographic::MEMBER_COUNTRIES,
          :to_s,
          ->(country) { t(".countries.#{country}") },
      ) do |cb| %>
        <%= cb.check_box class: "residence-checkbox" %>
        <%= cb.text %>
        <br>
      <% end %>
</div>

<div class="field hide" id="other_residences">
    <%= form.text_field :other_residences %>
</div>

<div class="field">
    <%= form.collection_select(
          :living_condition,
          Decidim::Demographics::Demographic::LIVING_CONDITIONS,
          :to_s,
          ->(living_condition) { t(".living_conditions.#{living_condition}") }
      ) %>
</div>

<div class="field">
<%= label_tag t(".current_occupation_prompt") %>
  <%= form.collection_check_boxes(
          :current_occupations,
          Decidim::Demographics::Demographic::PROFESSIONAL_CATEGORIES,
          :to_s,
          ->(current_occupations) { t(".current_occupations.#{current_occupations}") }
      ) do |cb| %>
        <%= cb.check_box class: "occupation-checkbox" %>
        <%= cb.text %>
        <br>
      <% end %>
</div>
<div class="field hide" id="other_occupations">
    <%= form.text_field :other_ocupations %>
</div>

<div class="field">
  <%= form.collection_select(
          :education_age_stop,
          Decidim::Demographics::Demographic::EDUCATION_OPTIONS,
          :to_s,
          ->(edu) { t(".education_age_stops.#{edu}") }
      ) %>
</div>

<div class="field">
  <%= form.collection_select(
          :attended_before,
          Decidim::Demographics::Demographic::ATTENDED_BEFORE,
          :to_s,
          ->(atb) { t(".attended_before.#{atb}") }
      ) %>
</div>

<div class="field">
    <%= form.check_box :newsletter_sign_in %>
    <p class="help-text"><%= t ".subscribe_help" %></p>
</div>

<% unless @tos_page.nil? %>
  <%= t(".tos_page_link") %>
  <%= link_to translated_attribute(@tos_page.title), decidim.page_path(@tos_page) %>
<% end %>
<script type="text/javascript">
      const toggleCheckboxesAndLimit = ($target, $limit) => {
        $(` .${$target}-checkbox`).change(function () {
          var a = $(`input.${$target}-checkbox:checked`).length;
          if (a > $limit) { this.checked= false; }
          if (this.value=="other") {
            $(` #other_${$target}s`).toggleClass("hide");
          }
        });
      };

    $(document).ready(function () {
      toggleCheckboxesAndLimit("residence", "2");
      toggleCheckboxesAndLimit("occupation", "2");
      toggleCheckboxesAndLimit("nationality", "3");
    });
</script>
