<div class="field">
  <%= form.translated :text_field, :title, autofocus: true %>
</div>

<div class="field">
  <%= form.translated :editor, :short_description %>
</div>

<div class="field">
  <%= form.translated :editor, :description, toolbar: :full, lines: 20 %>
</div>

<div class="field">
  <%= form.date_field :start_date %>
</div>

<div class="field">
  <%= form.date_field :end_date %>
</div>
