<div class="field">
  <%= form.translated :text_field, :title, autofocus: true %>
</div>

<div class="field">
  <%= form.translated :text_area, :short_description %>
</div>

<div class="field">
  <%= form.translated :text_area, :description %>
</div>

<div class="field">
  <%= form.date_field :start_date %>
</div>

<div class="field">
  <%= form.date_field :end_date %>
</div>
