<ul class="no-bullet-indented">
  <% scopes.each do |scope| %>
    <li>
      <div class="switch tiny switch-with-label">
        <%= f.fields_for "scopes[]", scope do |form| %>
          <%= form.label "checked" do %>
            <%= form.check_box "checked", label: false, class: "switch-input" %>
            <span class="switch-paddle"></span>
            <span class="switch-label"><%= translated_attribute scope.name %></span>
          <% end %>
          <%= form.hidden_field "id", value: scope.id %>
        <% end %>
      </div>
      <%= render partial: "scopes", locals: { scopes: scope.children, f: f } %>
    </li>
  <% end %>
</ul>
