  <% scopes.each do |scope| %>
  <div class="toggle__switch-trigger mb-4">
    <%= f.fields_for "scopes[]", scope do |form| %>
      <%= form.hidden_field "id", value: scope.id %>
      <%= form.label("checked", nil, class: "toggle__switch-toggle") do %>
        <span>
          <%= form.check_box "checked", label: false %>
          <span class="toggle__switch-toggle-content">
          </span>
          <%= icon "check-line", class: "toggle__switch-toggle-icon" %>
          <%= icon "close-line", class: "toggle__switch-toggle-icon" %>
        </span>
        <span class="toggle__switch-trigger-text">
          <%= translated_attribute scope.name %>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="ml-4 mb-2">
    <%= render partial: "scopes", locals: { scopes: scope.children, f: } %>
  </div>
<% end %>
