<div class="row">
  <p><%= t(".select_your_interests") %></p>
  <%= form_for(@user_interests, url: user_interests_path, method: :put, class: "user-form") do |f| %>
    <p><strong><%= t(".my_interests") %></strong></p>
    <% if @user_interests.scopes.any? %>
      <%= render partial: "scopes", locals: { scopes: @user_interests.scopes, f: f } %>
      <%= f.submit t(".update_my_interests"), disable_with: true %>
    <% else %>
      <p><%= t(".no_scopes") %></p>
    <% end %>
  <% end %>
</div>
