<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>
  <% add_decidim_page_title(t("my_interests", scope: "layouts.decidim.user_profile")) %>
  <% content_for(:subtitle) { t("my_interests", scope: "layouts.decidim.user_profile") } %>
  <span class="uppercase font-semibold text-gray-2 mb-4 block">
    <%= t("my_interests", scope: "decidim.user_interests.show") %>
  </span>
  <p class="help-text mb-4">
    <%= t("select_your_interests", scope: "decidim.user_interests.show") %>
  </p>
  <%= form_for(@user_interests, url: user_interests_path, method: :put) do |f| %>
    <% if @user_interests.scopes.any? %>
      <%= render partial: "scopes", locals: { scopes: @user_interests.scopes, f: } %>
      <div class="form__wrapper-block">
        <%= f.submit t("update_my_interests", scope:"decidim.user_interests.show"), class: "button button__sm md:button__lg button__secondary mr-auto !ml-0" %>
      </div>
    <% else %>
      <p>
        <%= t("no_scopes", scope: "decidim.user_interests.show") %>
      </p>
    <% end %>
  <% end %>
<% end %>
