<h2 class="h2 decorator"><%= i18n_changes_title %></h2>
<div class="version__author">
  <%= render_resource_editor(current_version) %>
</div>

<%= cell("decidim/diff", current_version, path:) %>

<%= link_to resource_path, class: "button button__sm button__text-secondary", **html_options do %>
  <%= icon "arrow-left-line", class: "fill-current" %>
  <span><%= i18n_back_to_resource %></span>
<% end %>
