<% add_decidim_meta_tags({
                             image_url: current_initiative.type.attached_uploader(:banner_image).path,
                             description: translated_attribute(current_initiative.description),
                             title: translated_attribute(current_initiative.title),
                             url: initiative_url(current_initiative.id),
                             twitter_handler: current_organization.twitter_handler
                         }) %>

<% add_decidim_page_title(translated_attribute(current_initiative.title)) %>
<% provide :meta_image_url, current_initiative.type.attached_uploader(:banner_image).path %>

<main class="layout-1col">
  <div class="cols-8">
    <div class="text-center py-10">
      <h2 class="h3 md:h1 decorator inline-block text-left"><%= translated_attribute(current_initiative.title) %></h2>
    </div>
    <%= render partial: "decidim/initiatives/initiatives/author", locals: { initiative: current_initiative } %>

    <div class="form__wrapper">
      <div class="editor-content">
        <%= decidim_sanitize_editor translated_attribute(current_initiative.description) %>
      </div>
      <p><%= t ".help_text" %></p>
      <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
        <%= logged_link_to t(".continue"), spawn_initiative_committee_requests_path(current_initiative), class: "button button__sm md:button__lg button__secondary" %>
      </div>
    </div>
  </div>
</main>
