<div>
  <div class="flex items-center justify-between gap-2">
    <div class="flex justify-between grow bg-gray" role="progressbar" tabindex="0" aria-labelledby="total-answers-<%= id %>" aria-valuenow="<%= results_percentage %>" aria-valuemin="0" aria-valuetext="<%= results_percentage %> %" aria-valuemax="100">
      <div class="h-2 bg-success" style="width: <%= results_percentage %>%"></div>
    </div>

    <div class="w-1/6 md:w-1/12 font-bold text-right">
      <%= t("decidim.elections.elections.results.percentage", count: results_percentage) %>
    </div>
  </div>

  <div id="total-answers-<%= id %>" class="text-sm font-semibold">
    <%= t("decidim.elections.elections.results.votes", count: results_total) %>
  </div>
</div>
