<div class="progress__bar">
  <div class="evote__preview-bar">
    <div class="progress progress__bar__bar" role="progressbar" tabindex="0" aria-valuenow="<%= results_percentage %>%" aria-valuemin="0" aria-valuetext="<%= results_percentage %>% percent" aria-valuemax="100">
      <div class="progress-meter progress__bar__bar--complete" style="width: <%= results_percentage %>%"></div>
      <div class="progress__bar__bar--incomplete" style="width:calc(100% - <%= results_percentage %>%);"></div>
    </div>

    <div class="evote__preview-perc">
      <%= t("decidim.elections.elections.results.percentage", count: results_percentage) %>
    </div>
  </div>

  <div class="evote__preview-label">
    <%= t("decidim.elections.elections.results.votes", count: results_total) %>
  </div>
</div>
