<%= decidim_modal id:"modal-closure-count-error" do %>
  <div data-dialog-container>
    <%= icon "error-warning-line" %>
    <h3 class="h3" id="dialog-title-modal-closure-count-error" tabindex="-1" data-dialog-title>
      <%= t("title", scope: "decidim.votings.polling_officer_zone.closures.new.modal_ballots_count_error") %>
    </h3>
    <div class="form__wrapper">
      <%= content_tag :p,
                      t("info_text", scope: "decidim.votings.polling_officer_zone.closures.new.modal_ballots_count_error"),
                      id: "dialog-desc-modal-closure-count-error" %>

      <div class="space-y-4">
        <p>
          <%= content_tag :strong,
                          t("total_people", scope: "decidim.votings.polling_officer_zone.closures.new.modal_ballots_count_error") %>
          <%= @form.election_votes_count %>
        </p>
        <p>
          <%= content_tag :strong,
                          t("total_ballots", scope: "decidim.votings.polling_officer_zone.closures.new.modal_ballots_count_error") %>
          <%= content_tag :span,
                          "--",
                          id: "modal-total-ballots-value" %>
        </p>
      </div>

      <%= content_tag :p,
                      t("info_explanation_text", scope: "decidim.votings.polling_officer_zone.closures.new.modal_ballots_count_error") %>

      <%= form.text_area(
                        :polling_officer_notes,
                        id: "modal-polling-officer-notes",
                        rows: 5,
                        label: t("message_for_monitoring_committee", scope: "decidim.votings.polling_officer_zone.closures.new.modal_ballots_count_error"),
                        placeholder: t("text_area_placeholder", scope: "decidim.votings.polling_officer_zone.closures.new.modal_ballots_count_error")
                      ) %>
    </div>
  </div>
  <div data-dialog-actions>
    <button class="button button__sm md:button__lg button__transparent-secondary" data-dialog-close="modal-closure-count-error">
      <%= t("review_recount", scope: "decidim.votings.polling_officer_zone.closures.new.modal_ballots_count_error") %>
    </button>

    <button form="new_envelopes_result_" id="btn-submit-from-modal" class="button button__sm md:button__lg button__secondary" disabled>
      <%= t("btn_validate_total", scope: "decidim.votings.polling_officer_zone.closures.new.modal_ballots_count_error") %>
    </button>
  </div>
<% end %>
