<%= decidim_modal id:"modal-closure-results-count-error" do %>
  <div data-dialog-container>
    <%= icon "error-warning-line" %>
    <h3 class="h3" id="dialog-title-modal-closure-results-count-error" tabindex="-1" data-dialog-title>
      <%= t("title", scope: "decidim.votings.polling_officer_zone.closures.new.modal_ballots_count_error") %>
    </h3>

    <div>
      <p id="dialog-desc-modal-closure-results-count-error">
        <%= t("info_text", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error") %>
      </p>
      <p id="dialog-total-modal-closure-results-count-error" class="mt-4">
        <%= t("total", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error",
                       expected: closure.results.total_ballots&.first&.value,
                       current: '<span class="current">0</span>').html_safe %>
      </p>
      <p id="dialog-valid-modal-closure-results-count-error" class="mt-4">
        <%= t("valid", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error",
                       expected: '<span class="expected">0</span>',
                       current: '<span class="current">0</span>').html_safe %>
      </p>
      <p id="dialog-blank-modal-closure-results-count-error" class="mt-4">
        <%= t("blank", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error",
                       expected: '<span class="expected">0</span>',
                       current: '<span class="current">0</span>').html_safe %>
      </p>
    </div>
  </div>
  <div data-dialog-actions>
    <%= content_tag :button,
                    t("close_modal", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error"),
                    data: { "dialog-close": "modal-closure-results-count-error" },
                    class: "button button__sm md:button__lg button__transparent-secondary" %>
  </div>
<% end %>
