<%= decidim_modal id:"modal-closure-results-count-error" do %>
  <div data-dialog-container>
    <%= icon "error-warning-line" %>
    <h3 class="h3" id="dialog-title-modal-closure-results-count-error" tabindex="-1" data-dialog-title>
      <%= t("title", scope: "decidim.votings.polling_officer_zone.closures.new.modal_ballots_count_error") %>
    </h3>

    <div>
      <%= content_tag :p,
                      t("info_text", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error"),
                      id: "dialog-desc-modal-closure-results-count-error" %>
    </div>
  </div>
  <div data-dialog-actions>
    <%= content_tag :button,
                    t("close_modal", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error"),
                    data: { "dialog-close": "modal-closure-results-count-error" },
                    class: "button button__sm md:button__lg button__transparent-secondary" %>
  </div>
<% end %>
