<%= decidim_form_for(@form,
                     url: sign_polling_officer_election_closure_path(polling_officer, election),
                     html: { class: "form sign_closure" }) do |form| %>

  <div class="form__wrapper">
    <%= form.check_box :signed, label: t("check_box", scope: "decidim.votings.polling_officer_zone.closures.sign"), label_options: { class: "form__wrapper-checkbox-label" } %>
  </div>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= link_to polling_officers_path, class: "button button__sm md:button__lg button__text-secondary" do %>
      <%= icon "arrow-left-line" %>
      <%= t("back_to_polling_stations", scope: "decidim.votings.polling_officer_zone.closures") %>
    <% end %>

    <%= content_tag :button,
                    t("submit", scope: "decidim.votings.polling_officer_zone.closures.sign"),
                    id: "btn-modal-closure-sign",
                    class: "button button__sm md:button__lg button__secondary",
                    data: { "dialog-open": "modal-closure-sign" },
                    disabled: true,
                    tabindex: "0" %>
  </div>

  <%= decidim_modal id:"modal-closure-sign" do %>
    <div data-dialog-container>
      <%= icon "article-line" %>
      <h3 data-dialog-title id="dialog-title-modal-closure-sign">
        <%= t("title", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error") %>
      </h3>

      <p id="dialog-desc-modal-closure-sign"><%= t("info_text", scope: "decidim.votings.polling_officer_zone.closures.sign") %></p>
    </div>
    <div data-dialog-actions>
      <button class="button button__sm md:button__lg button__transparent-secondary" data-dialog-close="modal-closure-sign">
        <%= t("cancel", scope: "decidim.votings.polling_officer_zone.closures.sign") %>
      </button>

      <button form="new_closure_sign_" id="btn-submit-from-modal" class="button button__sm md:button__lg button__secondary">
        <%= t("confirm", scope: "decidim.votings.polling_officer_zone.closures.sign") %>
      </button>
    </div>
  <% end %>
<% end %>
