<div class="m-bottom">
  <%= link_to polling_officers_path, class: "small hollow" do %>
    <%= icon "chevron-left", class: "icon--small", role: "presentation", "aria-hidden": true %>
    <%= t("back_to_polling_stations", scope: "decidim.votings.polling_officer_zone.closures") %>
  <% end %>
</div>

<%= content_tag :h2, t(".heading") %>

<p>
  <%= content_tag :span,
                  present(election).title,
                  title: t("polling_station.election", scope: "decidim.votings.polling_officer_zone.polling_officers.index") %>

  <%= content_tag :small,
                  present(election.participatory_space).title,
                  title: t("polling_station.voting", scope: "decidim.votings.polling_officer_zone.polling_officers.index") %>
</p>

<%= content_tag :p, t(".info_text") %>

<%= decidim_form_for(@form, url: polling_officer_election_closure_path(polling_officer, election),
                     html: { class: "form edit_closure" }) do |form| %>

  <%= form.hidden_field :election_id %>
  <%= form.hidden_field :polling_station_id %>

  <%= render partial: "ballot_results_form_fields", locals: { form: form } %>

  <%= render partial: "question_results_form_fields", locals: { form: form } %>

  <%= form.submit t(".save_recount"), id: "submit-ballot-recount", class: "button button--sc mt-sm" %>

  <%= content_tag :button,
                  t(".save_recount"),
                  type: "button",
                  id: "btn-modal-closure-results-count-error",
                  class: "button button--sc mt-sm hide",
                  data: { open: "modal-closure-results-count-error" },
                  aria: {
                          controls:"modal-closure-results-count-error",
                          haspopup: "dialog"
                        } %>
<% end %>

<%= render "modal_ballots_results_count_error" %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_votings_voting_polling_officer_zone_edit_closure" %>
<% end %>
