<%= append_javascript_pack_tag "decidim_votings" %>
<%= append_stylesheet_pack_tag "decidim_votings" %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left">
      <%= t("heading", scope: "decidim.votings.polling_officer_zone.closures.edit") %>
    </h1>
  </div>

  <div class="space-y-4 mb-8">
    <h2 class="h3">
      <%= content_tag :span,
                      present(election).title,
                      title: t("polling_station.election", scope: "decidim.votings.polling_officer_zone.polling_officers.index") %>

      <%= content_tag :span,
                      present(election.participatory_space).title,
                      class: "text-gray",
                      title: t("polling_station.voting", scope: "decidim.votings.polling_officer_zone.polling_officers.index") %>
    </h2>

    <p class="text-gray-2">
      <%= t("info_text", scope: "decidim.votings.polling_officer_zone.closures.edit", total: "<strong>#{closure.results.total_ballots&.first&.value}</strong>").html_safe %>
    </p>
    <p class="text-warning">
      <%= link_to(t("start_over", scope: "decidim.votings.polling_officer_zone.closures.edit"), polling_officer_election_closure_path(polling_officer, election), method: :delete, data: { confirm: t("confirm_start_over", scope: "decidim.votings.polling_officer_zone.closures.edit") }) %>
    </p>
  </div>

  <%= decidim_form_for(@form, method: :patch, url: polling_officer_election_closure_path(polling_officer, election),
                              html: { class: "form edit_closure" }) do |form| %>

    <%= form_required_explanation %>

    <%= form.hidden_field :election_id %>
    <%= form.hidden_field :polling_station_id %>

    <div class="form__wrapper">
      <%= render partial: "ballot_results_form_fields", locals: { form: } %>

      <%= render partial: "question_results_form_fields", locals: { form: } %>
    </div>

    <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
      <%= link_to polling_officers_path, class: "button button__sm md:button__lg button__text-secondary" do %>
        <%= icon "arrow-left-line" %>
        <%= t("back_to_polling_stations", scope: "decidim.votings.polling_officer_zone.closures") %>
      <% end %>

      <div id="submit-ballot-recount">
        <%= form.submit t("save_recount", scope: "decidim.votings.polling_officer_zone.closures.edit"), class: "button button__sm md:button__lg button__secondary" %>
      </div>

      <div id="btn-modal-closure-results-count-error" hidden>
        <%= content_tag :button,
                        t("save_recount", scope: "decidim.votings.polling_officer_zone.closures.edit"),
                        class: "button button__sm md:button__lg button__secondary",
                        data: { "dialog-open": "modal-closure-results-count-error" } %>
      </div>
    </div>

  <% end %>

  <%= render "modal_ballots_results_count_error" %>

<% end %>
