<%= append_javascript_pack_tag "decidim_votings" %>
<%= append_stylesheet_pack_tag "decidim_votings" %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left">
      <%= t("heading", scope: "decidim.votings.polling_officer_zone.closures.new") %>
    </h1>
  </div>

  <div class="space-y-4 mb-8">
    <p>
      <%= content_tag :strong, t("polling_station", scope: "decidim.votings.polling_officer_zone.closures.new") %>
      <br>
      <span class="text-gray-2"><%= present(polling_officer.polling_station).title %></span>
      <br>
      <span class="text-gray-2"><%= present(polling_officer.polling_station).address %></span>
    </p>

    <p>
      <%= content_tag :strong, t("election", scope: "decidim.votings.polling_officer_zone.closures.new") %>
      <span class="text-gray-2"><%= present(election).title %></span>
    </p>

    <p class="text-gray-2">
      <%= t("info_text", scope: "decidim.votings.polling_officer_zone.closures.new") %>
    </p>
  </div>

  <%= decidim_form_for(@form, url: polling_officer_election_closure_path(polling_officer, election),
                              html: { class: "form new_closure" }) do |form| %>

    <%= form_required_explanation %>

    <%= form.hidden_field :election_id %>
    <%= form.hidden_field :polling_station_id %>
    <%= form.hidden_field :election_votes_count %>
    <%= form.hidden_field :polling_officer_notes %>

    <div class="form__wrapper">
      <%= form.number_field(
                        :total_ballots_count,
                        label: t("total_ballots_count", scope: "decidim.votings.polling_officer_zone.closures.new"),
                        min: 0
                      ) %>
    </div>

    <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
      <%= link_to polling_officers_path, class: "button button__sm md:button__lg button__text-secondary" do %>
        <%= icon "arrow-left-line" %>
        <%= t("back_to_polling_stations", scope: "decidim.votings.polling_officer_zone.closures") %>
      <% end %>

      <div id="btn-modal-closure-count-error" hidden>
        <button class="button button__sm md:button__lg button__secondary" data-dialog-open="modal-closure-count-error">
          <%= t("submit", scope: "decidim.votings.polling_officer_zone.closures.new") %>
        </button>
      </div>

      <div id="submit-verify-votes">
        <%= form.submit t("submit", scope: "decidim.votings.polling_officer_zone.closures.new"),
                        disabled: true,
                        class: "button button__sm md:button__lg button__secondary" %>
      </div>
    </div>

    <%= render "modal_ballots_count_error", form: %>
  <% end %>

<% end %>
