<div class="m-bottom">
  <%= link_to polling_officers_path, class: "small hollow" do %>
    <%= icon "chevron-left", class: "icon--small", role: "presentation", "aria-hidden": true %>
    <%= t("back_to_polling_stations", scope: "decidim.votings.polling_officer_zone.closures") %>
  <% end %>
</div>
<% heading = if closure.sign_phase?
               t("heading", scope: "decidim.votings.polling_officer_zone.closures.sign")
             else
               t("heading", scope: "decidim.votings.polling_officer_zone.closures.show")
             end %>
<%= content_tag :h2, heading %>

<div class="row mt-sm">
  <div class="columns">
    <%= cell("decidim/votings/polling_station_closure_recount", closure) %>

    <%= render "sign_form" if closure.sign_phase? && !closure.signed? %>
  </div>
</div>
