<button id="start-conversation-dialog-button" type="button" class="button button__sm button__secondary" data-dialog-open="conversation">
  <span class="sr-only md:not-sr-only"><%= t("new_conversation", scope: "decidim.messaging.conversations.index") %></span>
  <%= icon "question-answer-line", class: "fill-current" %>
</button>

<%= decidim_modal id: "conversation", class: "conversation__modal" do %>
  <%= decidim_form_for(form_ob, url: conversations_check_multiple_url(nickname:), html: { class: "form", id: nil }) do |f| %>
    <%= render partial: "decidim/messaging/conversations/add_conversation_users", formats: [:html] %>

    <div data-dialog-actions>
      <button type="button" class="button button__sm md:button__lg button__transparent-secondary" data-dialog-close="conversation">
        <%= t("decidim.shared.confirm_modal.cancel") %>
      </button>
      <button type="submit" class="button button__sm md:button__lg button__secondary">
        <%= t("next", scope: "decidim.messaging.conversations.index") %>
        <%= icon "arrow-right-line", class: "fill-current" %>
      </button>
    </div>
  <% end %>
<% end %>
