<div class="user-activity space-y-8">
  <%= cell("decidim/announcement", t("decidim.user_conversations.index.conversations_info")) %>
  <%= render :new_conversation_button %>
  <% if conversations.empty? %>
    <%= cell("decidim/announcement", t("decidim.user_conversations.index.no_conversations_warning")) %>
  <% else %>
    <% conversations.each do |conversation| %>
      <%= render partial: "decidim/messaging/conversations/conversation.html", locals: { conversation:, nickname: } %>
    <% end %>

    <%= decidim_paginate conversations %>
  <% end %>
</div>
