<div class="column">
  <article class="card card--initiative">
    <div class="card__content">
      <div class="card__header">
        <%= link_to initiative do %>
          <h5 class="card__title"><%= translated_attribute initiative.title %></h5>
        <% end %>
        <%= render partial: "decidim/initiatives/initiatives/author", locals: { initiative: initiative } %>
      </div>
      <%= render partial: "decidim/initiatives/initiatives/initiative_badge", locals: { initiative: initiative } %>
      <%= simple_format Truncato.truncate(translated_attribute(initiative.description), max_length: 100, separator: "...") %>
      <%= render partial: "decidim/initiatives/initiatives/tags", locals: { resource: initiative } %>
    </div>

    <div class="card__footer">
      <div class="card__support">
        <% if initiative.published? %>
          <%= render partial: "decidim/initiatives/initiatives/supports_count", locals: { initiative: initiative } %>
        <% else %>
          <div class="card__support__data"></div>
        <% end %>

        <% if initiative.closed? || initiative.offline? %>
          <%= link_to t("initiatives.initiative.check", scope: "layouts.decidim"),
                      initiative,
                      class: "card__button button small secondary" %>
        <% else %>
          <%= link_to t("initiatives.initiative.check_and_support", scope: "layouts.decidim"),
                      initiative,
                      class: "card__button button small secondary" %>
        <% end %>
      </div>
    </div>
  </article>
</div>
