<section id="hero-<%= resource&.id %>" <%= "style=\"background-image:url('#{image_path}');\"" if image_path.present? %> data-process-hero>
  <div class="participatory-space__hero">
    <div class="participatory-space__hero-text">
      <h1 class="h1 text-5xl">
        <%= title_text %>
      </h1>
      <p class="participatory-space__hero-slogan">
        <%= subtitle_text %>
      </p>
      <% if has_cta? %>
        <%= link_to cta_text, cta_path, class: "button button__lg button__secondary", data: { cta: "" } %>
      <% end %>
    </div>
  </div>
</section>
