<div class="card flex flex-col justify-between h-full">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t("decidim.elections.admin.dashboard.calendar.title") %>
      <%= election_action_button(@election) %>
    </h2>
  </div>

  <div class="pb-4">
    <div class="row column">
      <div>
        <span><%= t("decidim.elections.admin.dashboard.calendar.start_at") %></span>
        <span><%= @election.manual_start? ? t("decidim.elections.admin.dashboard.calendar.manual_start") : l(@election.start_at, format: :short_with_time) %></span>
      </div>
      <div>
        <span><%= t("decidim.elections.admin.dashboard.calendar.end_at") %></span>
        <span><%= l(@election.end_at, format: :short_with_time) %></span>
      </div>
    </div>
  </div>
</div>
