<div class="card pb-4">
  <div class="card-divider">
    <h2 class="card-title flex items-center justify-between my-4">
      <%= t("decidim.elections.admin.dashboard.census.title") %>
      <%= link_to census_election_path(election), class: "flex items-end justify-between gap-x-3" do %>
        <span class="border-b-2"><%= icon "pencil-line", class: "!w-4 !h-4" %></span>
        <span class="border-b-2 text-sm"><%= t("actions.edit", scope: "decidim.admin") %></span>
      <% end %>
    </h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= render partial: "decidim/elections/admin/census/preview", locals: { election: } %>
      <p class="mt-4 text-gray-2"><%= t("decidim.elections.censuses.token_csv.census_size_html", count: census_count(election)) %></p>
    </div>
  </div>
</div>
