<div class="card pb-4">
  <div class="card-divider">
    <h2 class="card-title justify-between">
        <span class="text-black font-bold"><%= t("decidim.elections.admin.dashboard.census.title") %></span>
      <%= link_to census_election_path(election), class: "flex items-end justify-between gap-x-3 text-sm" do %>
        <%= icon "pencil-line", class: "!w-4 !h-4" %>
        <%= t("actions.edit", scope: "decidim.admin") %>
      <% end %>
    </h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= render partial: "decidim/elections/admin/census/preview", locals: { election: } %>
    </div>
  </div>
</div>
