<% election_questions.each_with_index do |question, index| %>
  <div class="card mb-6" id="question_<%= question.id %>">
    <div class="card-divider">
      <h3 class="flex items-center justify-between">
        <%= "#{index + 1}. #{translated_attribute(question.body)}" %>
        <% if election.results_availability == "per_question" && !question.published_results? %>
          <div class="flex gap-4 items-center justify-between">
            <%= enable_voting_button(election, question) %>
            <%= publish_button_for(election, question) %>
          </div>
        <% elsif election.results_availability == "per_question" && question.published_results? %>
          <div class="status-label">
            <span class="label success">
              <%= t("decidim.elections.status.results_published") %>
            </span>
          </div>
        <% end %>
      </h3>
    </div>
    <div class="row column">
      <div class="table-scroll mb-4">
        <table class="table-list">
          <thead>
          <tr>
            <th class="w-1/2"><%= t("decidim.elections.admin.dashboard.questions_table.answer") %></th>
            <th><%= t("decidim.elections.admin.dashboard.questions_table.results") %></th>
            <th><%= t("decidim.elections.admin.dashboard.questions_table.percentage") %></th>
          </tr>
          </thead>
          <tbody>
          <% total = question.response_options.sum(&:votes_count) %>
          <% question.response_options.each do |option| %>
            <% percent = total.positive? ? (option.votes_count.to_f / total * 100).round(1) : 0 %>
            <tr>
              <td class="w-2/3"><%= translated_attribute option.body %></td>
              <td><%= t("votes_count", scope: "decidim.elections.admin.dashboard.questions_table", count: option.votes_count) %></td>
              <td><%= number_to_percentage(percent, precision: 1) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
