<% election_questions.each_with_index do |question, index| %>
  <div class="card mb-6" id="question_<%= question.id %>">
    <div class="card-divider">
      <h3 class="flex items-center justify-between">
        <%= "#{index + 1}. #{translated_attribute(question.body)}" %>
        <% if election.per_question? %>
          <div class="flex gap-4 items-center justify-between">
            <%= enable_question_voting_button(question) %>
            <%= publish_question_button(question) %>
          </div>
        <% end %>
      </h3>
    </div>
    <div class="row column">
      <div class="table-scroll mb-4">
        <table class="table-list">
          <thead>
          <tr>
            <th class="w-1/2"><%= t("decidim.elections.admin.dashboard.questions_table.answer") %></th>
            <th><%= t("decidim.elections.admin.dashboard.questions_table.results") %></th>
            <th><%= t("decidim.elections.admin.dashboard.questions_table.percentage") %></th>
          </tr>
          </thead>
          <tbody>
          <% question.response_options.each do |option| %>
            <tr>
              <td class="w-2/3"><%= translated_attribute option.body %></td>
              <td>votes_count</td> <!-- Placeholder for votes count -->
              <td>0.0%</td> <!-- Placeholder for percentage -->
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
