<div class="card">
  <div class="card-divider mb-2">
    <h2 class="card-title flex items-center justify-between">
      <%= t("decidim.elections.admin.dashboard.results.title") %>
      <% if election.results_availability == "after_end" %>
        <%= publish_button_for(election, nil) %>
      <% end %>
    </h2>
  </div>
  <div class="pb-4">
    <div class="row column">
      <% if election.scheduled? %>
        <%= cell "decidim/announcement", t("decidim.elections.admin.dashboard.results.no_results") %>
      <% else %>
        <%= cell "decidim/announcement", t("decidim.elections.admin.dashboard.results.results_availability.#{election.results_availability}") unless election.results_published? %>
        <%= render partial: "decidim/elections/admin/dashboard/questions_with_results", locals: { election_questions: election_questions } %>
      <% end %>
    </div>
  </div>
</div>
