<main class="conference-diploma">
  <div class="diploma__border">
    <div class="diploma__content">
      <div class="small-11 small-centered">
        <div class="diploma__logo small-4 small-centered">
          <%= wicked_pdf_image_tag @conference.main_logo.thumb.url %>
        </div>
        <div class="diploma__name small-10 small-centered">
          <h2><strong><%= translated_attribute(@conference.title) %></strong></h2>
          <h3><%= t("decidim.conferences.admin.send_conference_diploma_mailer.diploma_user.certificate_of_attendance") %></h3>
          <p><%= t("decidim.conferences.admin.send_conference_diploma_mailer.diploma_user.certificate_of_attendance_description", user: @user.name, title: translated_attribute(@conference.title), location: @conference.location, start: l(@conference.start_date, format: :decidim_short), end: l(@conference.end_date, format: :decidim_short)  ).html_safe %></p>
        </div>
        <hr class="reset mt-m mb-m">
        <div class="diploma__attendance">
          <strong><%= t("decidim.conferences.admin.send_conference_diploma_mailer.diploma_user.attendance_verified_by") %></strong>
          <div>
            <%= wicked_pdf_image_tag @conference.signature.thumb.url %>
          </div>
          <%= l(@conference.sign_date, format: :decidim_short) %>, <%= @conference.signature_name %>
        </div>
      </div>
    </div>
  </div>
</main>
