<li class="conference__media-link">
  <%= link_to decidim_html_escape(translated_attribute(model.title)), model.link, target: "_blank" %>
  <div class="item-list__metadata">
    <span><%= icon "calendar-line" %><%= l(model.date, format: :decidim_short_with_month_name_short) %></span>
    <span><%= icon "link-m" %><%= model.link %></span>
  </div>
</li>
