<li>
  <%= icon "external-link", role: "img" %>
  <div>
    <%= link_to model.link, target: "_blank" do %>
      <strong><%= translated_attribute(model.title) %> </strong>
    <% end %>
    <div class="text-small"><%= l(model.date, format: :decidim_short_with_month_name_short) %> · <%= model.link %></small>
  </div>
</li>
