<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true, aria: { label: :title } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :description, aria: { label: :description } %>
      </div>

      <div class="row">
        <% announcement_message = t(".organization_time_zone", time_zone: current_organization.time_zone, time: Time.zone.now) %>
        <%= cell("decidim/announcement", announcement_message, callout_class: "warning" ) %>

        <div class="column">
          <%= form.datetime_field :start_time %>
        </div>
        <div class="column">
          <%= form.datetime_field :end_time %>
        </div>
      </div>

      <%= render partial: "decidim/admin/shared/gallery", locals: { form: } %>
    </div>
  </div>
</div>
