<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h2 class="item_show__header-title">
      <%= t(".title") %>

      <%= link_to t("actions.new_election", scope: "decidim.elections"), new_election_path, class: "button button__sm button__secondary" if allowed_to? :create, :election %>
    </h2>
  </div>
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t("models.election.fields.title", scope: "decidim.elections") %></th>
          <th><%= t("models.election.fields.start_time", scope: "decidim.elections") %></th>
          <th><%= t("models.election.fields.end_time", scope: "decidim.elections") %></th>
          <th><%= t("models.election.fields.bb_status", scope: "decidim.elections") %></th>
          <th class="actions"><%= t("actions.title", scope: "decidim.elections") %></th>
        </tr>
      </thead>
      <tbody>
        <% elections.each do |election| %>
          <tr data-id="<%= election.id %>">
            <td>
              <% if allowed_to? :update, :election, election: election %>
                <%= link_to translated_attribute(election.title), edit_election_path(election) %>
              <% else %>
                <%= translated_attribute(election.title) %>
              <% end %>
            </td>
            <td>
              <% if election.start_time %>
                <%= l election.start_time, format: :long %>
              <% end %>
            </td>
            <td>
              <% if election.end_time %>
                <%= l election.end_time, format: :long %>
              <% end %>
            </td>
            <td><%= t("steps.#{election.bb_status || "create_election"}.title", scope: "decidim.elections.admin") %></td>
            <td class="table-list__actions">
              <% if allowed_to? :update, :election, election: election %>
                <%= icon_link_to "pencil-line", edit_election_path(election), t("actions.edit", scope: "decidim.elections"), class: "action-icon--edit" %>
              <% else %>
                <%= icon "pencil-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.edit", scope: "decidim.elections") %>
              <% end %>

              <%= icon_link_to "list-check", election_questions_path(election), t("actions.manage_questions", scope: "decidim.elections"), class: "action-icon--manage-questions" %>

              <% if allowed_to? :read, :steps, election: election %>
                <%= icon_link_to "guide-line", election_steps_path(election), t("actions.manage_steps", scope: "decidim.elections"), class: "action-icon--manage-steps" %>
              <% end %>

              <% if allowed_to? :update, :questionnaire, questionnaire: election.questionnaire %>
                <%= icon_link_to "group-line", edit_feedback_form_path(election), t("actions.feedback", scope: "decidim.elections"), class: "action-icon--survey" %>
              <% else %>
                <%= icon "group-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.feedback", scope: "decidim.elections") %>
              <% end %>

              <% if election.published? %>
                <% if allowed_to?(:unpublish, :election, election: election) %>
                  <%= icon_link_to "close-circle-line", url_for(action: :unpublish, id: election, controller: "elections"), t("actions.unpublish", scope: "decidim.elections"), class: "action-icon--unpublish", method: :put %>
                <% else %>
                  <%= icon "close-circle-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.unpublish", scope: "decidim.elections") %>
                <% end %>
              <% else %>
                <% if allowed_to?(:publish, :election, election: election) %>
                  <%= icon_link_to "check-line", url_for(action: :publish, id: election, controller: "elections"), t("actions.publish", scope: "decidim.elections"), class: "action-icon--publish", method: :put %>
                <% else %>
                  <%= icon "check-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.publish", scope: "decidim.elections") %>
                <% end %>
              <% end %>

              <%= icon_link_to "eye-line", resource_locator(election).path, t("actions.preview", scope: "decidim.elections"), class: "action-icon--preview", target: :blank, data: { "external-link": false } %>

              <%= resource_permissions_link(election) %>

              <% if allowed_to? :delete, :election, election: election %>
                <%= icon_link_to "delete-bin-line", election_path(election), t("actions.destroy", scope: "decidim.elections"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.elections") } %>
              <% else %>
                <%= icon "delete-bin-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.destroy", scope: "decidim.elections") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
