<div class="grid-x">
  <div class="cell auto">
    <%= form.translated :text_field, :title, tabs_id: tabs_id %>
  </div>
  <div class="cell small-2">
    <%= form.number_field :duration, tabs_id: tabs_id, min: 0 %>
  </div>
</div>

<div class="grid-x">
  <div class="cell auto">
    <%= form.translated :editor, :description, tabs_id: tabs_id, rows: 6 %>
  </div>
</div>

<%= form.hidden_field :id %>
<%= form.hidden_field :parent_id %>
<%= form.hidden_field :position, value: agenda_item.position || 0 %>
<%= form.hidden_field :deleted %>
