<div class="process-header">
  <div class="process-header__inner">
    <div class="row column process-header__main"
        style="background-image:url('<%= current_participatory_space.type.attached_uploader(:banner_image).path %>');">
    </div>
    <div class="process-header__container row collapse column">
      <div class="columns mediumlarge-8 process-header__info">
        <div>
          <h1>
            <%= participatory_space_helpers.translated_attribute(current_participatory_space.title) %>
          </h1>
        </div>
        <div>
          <p>
            <% if current_participatory_space.hashtag.present? %>
              <span class="process-header__hashtag">
                <%= link_to "##{current_participatory_space.hashtag}", twitter_hashtag_url(current_participatory_space.hashtag), target: "_blank" %>
              </span>
            <% end %>
            <%= strip_tags participatory_space_helpers.translated_attribute(current_participatory_space.type.title) %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <%= extended_navigation_bar(initiative_nav_items(current_participatory_space)) %>
</div>
