<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_initiatives" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_initiatives", media: "all" %>
<% end %>

<%= render "layouts/decidim/redesigned_application" do %>
  <%= render layout: "layouts/decidim/shared/layout_center" do %>
    <main>
      <%= yield %>
    </main>
    <% if content_for? :expanded %>
      <div class="expanded">
        <div class="wrapper wrapper--inner">
          <div class="row">
            <%= yield :expanded %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
