<%= render "layouts/decidim/application" do %>
  <% if wizard_steps.first == step %>
    <div class="wrapper">
      <%= yield %>
    </div>
  <% else %>
    <div class="wrapper">
      <div class="row">
        <%= render partial: "layouts/decidim/initiative_creation_header" %>
        <div class="columns large-6">
          <%= yield %>
        </div>
        <div class="columns large-3"></div>
      </div>
    </div>
  <% end %>

  <% content_for :js_content do %>
    <%= javascript_pack_tag "decidim_initiatives" %>
  <% end %>
<% end %>
