<%= render "layouts/decidim/application" do %>
  <% if action_name == "select_initiative_type" %>
    <div class="wrapper">
      <%= yield %>
    </div>
  <% else %>
    <div class="wrapper">
      <div class="row">
        <%= render partial: "layouts/decidim/initiative_creation_header" %>
        <div class="columns large-6">
          <%= yield %>
        </div>
        <div class="columns large-3"></div>
      </div>
    </div>
  <% end %>

  <%= append_javascript_pack_tag "decidim_initiatives" %>
<% end %>
