<section id="components">
  <div class="row">
    <div class="columns">
      <h3><%= t(".title") %></h3>
    </div>
  </div>

  <%= form_for @permissions_form, url: url_for(action: :update), method: "put" do |permissions_form| %>
    <%= permissions_form.fields_for :permissions, permissions_form.object do |action_permission_form| %>
      <% action_permission_form.object.permissions.each do |action, permission| %>
        <%= action_permission_form.fields_for(action, permission) do |permission_form| %>
          <fieldset class="card <%=action %>-permission">
            <div class="card-divider"><%= t("#{component.manifest.name}.actions.#{action}", scope: "decidim.components") %></div>
            <div class="card-section">
              <%= permission_form.select :authorization_handler_name,
                authorizations.map { |authorization|
                  [authorization.description, authorization.key]
                }, include_blank: t(".everyone") %>

              <% options_schema = permission_form.object.options_schema %>
              <% options_attributes = permission_form.object.options_attributes %>

              <%= permission_form.fields_for(:options, options_schema) do |options_form| %>
                <% options_attributes.each do |name, attribute| %>
                  <%= options_form.send(form_method_for_attribute(attribute), name, label: name.to_s) %>
                <% end %>
              <% end %>
            </div>
          </fieldset>
        <% end %>
      <% end %>
    <% end %>
    <%= permissions_form.submit t(".submit") %>
  <% end %>
</section>
