<div class="field" >
  <%= form.translated :text_field, :title, autofocus: true %>
</div>

<div class="field" >
  <%= form.translated :editor, :short_description %>
</div>

<div class="field" >
  <%= form.translated :editor, :description %>
</div>

<div class="field" >
  <%= form.translated :editor, :location %>
</div>

<div class="field" >
  <%= form.translated :editor, :location_hints %>
</div>

<div class="field" >
  <%= form.text_field :address %>
</div>

<div class="field" >
  <%= form.datetime_field :start_date %>
</div>

<div class="field" >
  <%= form.datetime_field :end_date %>
</div>

