<div class="field" >
  <%= form.translated :text_field, :title, autofocus: true %>
</div>

<div class="field" >
  <%= form.translated :editor, :short_description %>
</div>

<div class="field" >
  <%= form.translated :editor, :description %>
</div>

<div class="field" >
  <%= form.text_field :address %>
</div>

<div class="field" >
  <%= form.translated :text_area, :location %>
</div>

<div class="field" >
  <%= form.translated :text_area, :location_hints %>
</div>

<div class="field" >
  <%= form.datetime_field :start_time %>
</div>

<div class="field" >
  <%= form.datetime_field :end_time %>
</div>

<div class="field" >
  <%= form.collection_select :decidim_scope_id, current_organization.scopes, :id, :name, include_blank: true %>
</div>

<div class="field" >
  <%= form.categories_select :decidim_category_id, current_participatory_process.categories, prompt: "", disable_parents: false %>
</div>
