<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>
  <div class="card-section">
    <div class="row column hashtags__container">
      <%= form.translated :text_field, :title, autofocus: true, class: "js-hashtags", hashtaggable: true %>
    </div>

    <div class="row column hashtags__container">
      <%= form.translated :editor, :description, hashtaggable: true %>
    </div>

    <div class="row column">
      <%= form.select :type_of_meeting,
        @form.type_of_meeting_select,
        { include_blank: t(".select_a_meeting_type") },
        { multiple: false } %>
    </div>

    <div class="field" data-meeting-type="in_person">
      <%= form.geocoding_field :address %>
      <p class="help-text"><%= t(".address_help") %></p>
    </div>

    <div class="field" data-meeting-type="in_person">
      <%= form.translated :text_area, :location %>
      <p class="help-text"><%= t(".location_help") %></p>
    </div>

    <div class="row column">
      <%= form.translated :text_area, :location_hints %>
      <p class="help-text"><%= t(".location_hints_help") %></p>
    </div>

    <div class="field" data-meeting-type="online">
      <%= form.text_field :online_meeting_url %>
      <p class="help-text"><%= t(".online_meeting_url_help") %></p>
    </div>

    <div class="iframe-fields">
      <div class="row column field iframe-fields--embed-type" id="meeting_iframe_embed_type" data-meeting-type="online">
        <%= form.select :iframe_embed_type,
          @form.iframe_embed_type_select,
          { multiple: false } %>
        <p class="help-text"><%= t(".show_embedded_iframe_help", domains: Decidim::Meetings.embeddable_services&.join(" ")) %></p>
      </div>

      <div class="row column field iframe-fields--access-level" data-meeting-type="online-access-level">
        <%= form.select :iframe_access_level,
          @form.iframe_access_level_select,
          { include_blank: t(".select_an_iframe_access_level") },
          { multiple: false } %>
      </div>
    </div>

    <div class="row">
      <div class="columns xlarge-6">
        <%= form.datetime_field :start_time %>
      </div>

      <div class="columns xlarge-6">
        <%= form.datetime_field :end_time %>
      </div>
    </div>
    <div class="row">
      <% if current_component.has_subscopes? %>
        <div class="columns xlarge-6">
          <%= scopes_picker_field form, :decidim_scope_id, root: current_component.scope %>
        </div>
      <% end %>

      <div class="columns xlarge-6">
        <%= form.categories_select :decidim_category_id, current_participatory_space.categories, include_blank: "", disable_parents: false %>
      </div>
    </div>

    <div class="row column">
      <%= form.select :registration_type,
        @form.registration_type_select,
        { include_blank: t(".select_a_registration_type") },
        { multiple: false } %>
    </div>

    <div class="field" id="meeting_registration_url">
      <%= form.text_field :registration_url %>
      <p class="help-text"><%= t(".registration_url_help") %></p>
      <div class="callout alert">
        <%= t(".disclaimer", organization: current_component.organization.name) %>
      </div>
    </div>

    <div class="row column" id="private_meeting">
      <%= form.check_box :private_meeting %>
    </div>

    <div class="row column" id="transparent">
      <%= form.check_box :transparent %>
    </div>

    <%= render partial: "decidim/comments/admin/shared/availability_fields", locals: { form: form } %>
  </div>
</div>

<%= render "services", form: form, id: tabs_id_for_service(blank_service) %>

<%= javascript_pack_tag "decidim_meetings_admin" %>
