<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".title") %>
      <div class="flex align-middle gap-x-4 ml-auto">
        <%= export_dropdowns(query) %>
        <%= link_to t("actions.new_meeting", scope: "decidim.meetings"), new_meeting_path, class: "button button__sm button__secondary" if allowed_to? :create, :meeting %>
        <%= render partial: "decidim/admin/components/resource_action" %>
      </div>
    </h1>
  </div>

  <%= admin_filter_selector(:meetings) %>
  <div class="table-scroll">
    <table class="table-list">
      <%= render partial: "meetings-thead" %>
      <tbody>
        <%= render partial: "decidim/meetings/admin/meetings/meeting-tr",
                   collection: meetings,
                   as: :meeting,
                   locals: { view: :index } %>
      </tbody>
    </table>
  </div>
  <% if allowed_to? :manage_trash, :meeting, participatory_space: current_participatory_space %>
    <div class="card mt-4">
      <%= link_to manage_trash_meetings_path, class: "flex items-center underline text-secondary" do %>
        <%= icon "delete-bin-2-line", class: "mr-2 fill-current text-secondary", role: "img" %>
        <%= t("actions.view_deleted_meetings", scope: "decidim.meetings") %>
        <span class="ml-2">
          <%= icon_with_tooltip("information-line", t("actions.deleted_meetings_info", scope: "decidim.meetings")) %>
        </span>
      <% end %>
    </div>
  <% end %>
</div>

<%= decidim_paginate meetings %>
<%= append_javascript_pack_tag "decidim_meetings_admin" %>
