<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <%= cell("decidim/announcement", t("decidim.admin.manage_trash.deleted_items_warning"), callout_class: "warning") %>
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".title") %>
    </h1>
  </div>

  <%= admin_filter_selector(:meetings) %>
  <div class="table-scroll">
    <table class="table-list">
      <%= render partial: "meetings-thead" %>
      <tbody>
      <% deleted_meetings.each do |meeting| %>
        <%= render partial: "meeting-tr", locals: { meeting:, view: :deleted } %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= decidim_paginate deleted_meetings %>
