<div class="initiatives-votes-table-row">
  <div class="initiatives-votes-table-cell w11">
    <%= initiative_id %>
  </div>
  <div class="initiatives-votes-table-cell w11">
    <%= initiative_title %>
  </div>
  <div class="initiatives-votes-table-cell w11">
    <%= name_and_surname %>
  </div>
  <div class="initiatives-votes-table-cell w11">
    <%= document_number %>
  </div>
  <div class="initiatives-votes-table-cell w11">
    <%= date_of_birth %>
  </div>
  <div class="initiatives-votes-table-cell w11">
    <%= postal_code %>
  </div>
  <div class="initiatives-votes-table-cell w11">
    <%= time_and_date %>
  </div>
  <div class="initiatives-votes-table-cell w11">
    <%= timestamp %>
  </div>
  <div class="initiatives-votes-table-cell w11">
    <%= hash_id %>
  </div>
</div>
