<%
@title = "Create amendments -- Decidim Barcelona"
@activeuser = "logged"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <div class="row">
    <div class="columns large-3">
      <div class="m-bottom">
        <%= link_to page_path("") do %>
          <%= icon "chevron-left", class: "icon--small" %> Volver
        <% end %>
      </div>
      <div class="section">
        <p>
          Estás modificando la propuesta <strong>Fer del Prat un... prat.</strong>
        </p>
      </div>
    </div>
    <div class="columns large-6">
      <h2 class="section-heading">Crea tu enmienda</h2>
      <div class="card">
        <div class="card__content">
          <form>
            <div>
              <div>
                <label>Título *
                  <input type="text" placeholder="Nueva propuesta en decidim.barcelona">
                </label>
              </div>
              <div>
                <label>Descripción de la propuesta
                  <textarea placeholder="¿Qué propones?" rows="10"></textarea>
                </label>
              </div>
              <div>
                <label>Tipo de firma *
                  <select>
                    <option disabled selected hidden>Seleciona el tipo de firma</option>
                    <option>Categoría 1</option>
                    <option>Categoría 2</option>
                  </select>
                </label>
              </div>
              <div>
                <label>Crear la propuesta como.. *
                  <select>
                    <option disabled selected hidden>Selecciona</option>
                    <option>Subcategoría 1</option>
                    <option>Subcategoría 2</option>
                  </select>
                </label>
              </div>
            </div>
            <%= link_to page_path("initiatives/initiatives-support-step-3") do %>
              <button type="button" class="button expanded mt-s mb-none">Continuar</button>
            <% end %>
          </form>
        </div>
      </div>
    </div>
    <div class="columns large-3"></div>
  </div>
</main>

<%= partial "template_bottom" %>
