<%
@title = "Propuesta -- Decidim Barcelona"
@activesection = "processes"
@activepage = "proposals"
%>

<%= partial "template_top" %>

<main>
  <div class="wrapper">
    <%= partial "process_header" %>

    <div class="row column">
      <div class="callout alert mb-sm">
        <p>This amendment for the proposal <a><strong>Donec facilisis tortor ut augue</strong></a> was rejected on <strong>11/10/2018</strong>. <br /> You can publish this ammendment as an independent proposal.</p>
      </div>
    </div>
    <div class="row column view-header">
      <h2 class="heading2">Cobriment de la Ronda de Dalt al seu pas per la Vall d'Hebrón</h2>
      <%= partial "author_data", { extra: true } %>
    </div>
    <div class="row">
      <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
        <div class="card">
          <div class="card__content">
            <%= partial "progress_bar", { vertical: true } %>
            <button class="button expanded light button--sc">Apoyar</button>
            <%= partial "adhesion_buttons", { status: "secondary" } %>
          </div>
        </div>
        <%= partial "followme" %>
        <%= partial "share" %>
        <div class="text-center">
          <small>Referencia: BCN-2016-01-173</small>
        </div>
      </div>
      <div class="columns mediumlarge-8 mediumlarge-pull-4">
        <div class="section">
          <span class="success label proposal-status">Acceptada</span>
          <p>
            Millores en un conjunt de carrers dels barris del districte que
            incorporin la renovació integral de les seves infraestructures
            (voreres, accessibilitat, asfaltat, enllumenat, clavegueram,
            arbrat, mobiliari urbà...), Interiors de Canyelles, Guineueta
            i Aiguablava-Portlligat i Amilcar-Cartellà-Av. de Borbó-Maragall,
            connexió del carrer Pedraforca amb Agudes, accessibilitat i
            enllumenat a Renfe Meridiana, urbanització de Nou Pins, Mina de la
            ciutat, Canfranc, Oristà i Almansa, pèrgola del Campillo de la
            virgen i del parc de Serra Martí, redacció del projecte del
            passeig de la Peira, reforma de les escales de Matagalls, millores
            a l'Av. de Borbó i projecte d'intervenció a la Font Pla de
            Fornells. Millores en el Parc de la Guineueta incloent un espai
            d'aparells per a la gent gran. Estudi de la viabilitat tècnica
            d'instal·lar escales mecàniques entre Ciutat Meridiana i Torre
            Baró per millorar la connectivitat entre els dos barris o millora
            de l'escala actual. Millores d'accessibilitat, arranjaments i
            enllumenat en l'àmbit de Renfe Meridiana. Millores en la
            urbanització per a l'accessibilitat d'acord amb les
            particularitats orogràfiques al barri de Roquetes.
          </p>
        </div>
        <div class="section">
          <% amends = Faker::Number.between(8, 20) %>
          <h2 class="section-heading">Enmiendas (<%= amends %>)</h2>
          <%= render layout: "public/components/collapsible-list", locals: { text: raw("<u>Muestra #{amends - 4} otras enmiendas</u>"), size: 4, classText: "" } do %>
            <div class="row small-up-1 medium-up-2 card-grid">
              <% amends.times do %>
              <!-- If you append .collapse, you'll hide those as well -->
              <div class="column collapse">
                <article class="card card--proposal warning">
                  <div class="card__top">
                    <div class="card__content text-small">
                      <span class="muted">Proceso:</span>&nbsp;<%= link_to Faker::Hipster.sentence, page_path("info"), class: "card__link text-ellipsis" %>
                    </div>
                  </div>
                  <div class="card__content">
                    <div class="card__header">
                      <%= link_to page_path("proposal-view"), class: "card__link" do %>
                      <h5 class="card__title">
                        <%= Faker::StarWars.quote[0..75] %>
                      </h5>
                      <% end %>
                      <div class="card__author">
                        <%= partial "author_data" %>
                      </div>
                    </div>
                    <div class="card__text">
                      <div class="card__text--paragraph">
                        <span class="card__text--status warning">Evaluando</span><%= Faker::Hipster.paragraph[0..140] %>
                      </div>
                      <a class="card__text--category"><%= Faker::Lovecraft.tome %></a>
                    </div>
                  </div>
                  <div class="card__status">
                    <ul class="card-data">
                      <li class="card-data__item">
                        <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
                      </li>
                      <li class="card-data__item">
                        <a href="">
                          <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
                        </a>
                      </li>
                      <li class="card-data__item">
                        <a href="">
                          <%= icon "bullhorn", class: "icon--small", aria_label: "Respaldos", role: "img" %>
                          <%= Faker::Number.between(0, 100) %>
                        </a>
                      </li>
                      <li class="card-data__item">
                        <a href="" title="Comentarios">
                          <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
                          <%= Faker::Number.between(0, 100) %>
                        </a>
                      </li>
                    </ul>
                  </div>
                </article>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="expanded">
    <div class="wrapper wrapper--inner">
      <div class="row">
        <div class="columns large-9" id="comments">
          <%= partial "comments" %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
