<div class="column">
  <article class="card card--proposal">
    <div class="card__content">
      <%= render :header %>

      <div class="card__text">
        <div class="card__text--paragraph">
          <%= render :badge %>
          <%= body %>
        </div>
      </div>

      <%= cell "decidim/tags", model, context: {extra_classes: ["tags--proposal"]} %>
    </div>

    <%= render :footer %>
  </article>
</div>
