<div class="column">
  <article class="card card--proposal">
    <div class="card__content">
      <%= cell("decidim/proposals/proposal_m", model).header %>

        <div class="card__author">
          <%= cell "decidim/author_box", present(model).author, context: {extra_classes: ["author-data--small"]} %>
        </div>

        <div class="tech-info tech-info--text-left">
          <%= t("decidim.participatory_spaces.proposal.creation_date", date: l(model.created_at, format: :decidim_short)) %>
        </div>
        <%= resource_reference(model, class: "tech-info--text-left") %>
      </div>

      <%= render partial: "decidim/proposals/proposals/proposal_badge.html", locals: { proposal: model } %>

      <p>
        <%= body %>
      </p>

      <%= cell "decidim/tags", model, context: {extra_classes: ["tags--proposal"]} %>
    </div>

    <%= cell("decidim/proposals/proposal_m", model).footer %>
  </article>
</div>
