<div class="column">
  <article class="card card--proposal">
    <div class="card__content">
      <%= render :header %>

      <%= render :badge %>

      <p>
        <%= body %>
      </p>

      <%= cell "decidim/tags", model, context: {extra_classes: ["tags--proposal"]} %>
    </div>

    <%= render :footer %>
  </article>
</div>
