<% add_secondary_root_menu(:admin_participatory_process_menu) %>

<% content_for :breadcrumb_context_menu do %>
  <div class="process-title-content-breadcrumb-container-right">
    <%= link_to decidim_participatory_processes.participatory_process_path(current_participatory_space, locale: current_locale), class: "button button__sm button__transparent process-title-content-breadcrumb-container-right-link", target: "_blank", data: { "external-link": false } do %>
      <%= icon "eye-line" %>
      <span>
        <%= t("see_process", scope: "decidim.admin.actions") %>
      </span>
    <% end %>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
