<% content_for :secondary_nav do %>
  <div class="secondary-nav secondary-nav--subnav">
    <ul>
      <% if can? :update, current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_participatory_processes.edit_participatory_process_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("info", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin_participatory_processes.edit_participatory_process_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if can? :read, Decidim::ParticipatoryProcessStep %>
        <li <% if is_active_link?(decidim_admin_participatory_processes.participatory_process_steps_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("steps", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin_participatory_processes.participatory_process_steps_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if can? :read, Decidim::Component %>
        <li <% if is_active_link?(decidim_admin_participatory_processes.components_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("components", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin_participatory_processes.components_path(current_participatory_space) %>
          <ul>
            <% current_participatory_space.components.each do |component| %>
              <% if component.manifest.admin_engine %>
                <li <% if is_active_link?(manage_component_path(component)) || is_active_link?(decidim_admin_participatory_processes.edit_component_path(current_participatory_space, component)) || is_active_link?(decidim_admin_participatory_processes.edit_component_permissions_path(current_participatory_space, component)) %> class="is-active" <% end %>>
                  <%= link_to manage_component_path(component) do %>
                    <%= translated_attribute component.name %>
                    <% if component.primary_stat.present? %>
                      <span class="component-counter <%= "component-counter--off" if component.primary_stat.zero? %>"><%= component.primary_stat %></span>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if can? :read, Decidim::Category %>
        <li <% if is_active_link?(decidim_admin_participatory_processes.categories_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("categories", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin_participatory_processes.categories_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if can?(:read, Decidim::AttachmentCollection) || can?(:read, Decidim::Attachment) %>
        <li>
          <span class="secondary-nav__subtitle"><%= t("attachments", scope: "decidim.admin.menu.participatory_processes_submenu") %></span>
          <ul>
            <% if can? :read, Decidim::AttachmentCollection %>
              <li <% if is_active_link?(decidim_admin_participatory_processes.participatory_process_attachment_collections_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("attachment_collections", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin_participatory_processes.participatory_process_attachment_collections_path(current_participatory_space) %>
              </li>
            <% end %>
            <% if can? :read, Decidim::Attachment %>
              <li <% if is_active_link?(decidim_admin_participatory_processes.participatory_process_attachments_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("attachment_files", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin_participatory_processes.participatory_process_attachments_path(current_participatory_space) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if can? :read, Decidim::ParticipatoryProcessUserRole %>
        <li <% if is_active_link?(decidim_admin_participatory_processes.participatory_process_user_roles_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("process_admins", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin_participatory_processes.participatory_process_user_roles_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if can? :read, Decidim::ParticipatorySpacePrivateUser %>
        <li <% if is_active_link?(decidim_admin_participatory_processes.participatory_space_private_users_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("private_users", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin_participatory_processes.participatory_space_private_users_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if can? :read, Decidim::Moderation %>
        <li <% if is_active_link?(decidim_admin_participatory_processes.moderations_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("moderations", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin_participatory_processes.moderations_path(current_participatory_space) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= translated_attribute(current_participatory_space.title) %>
    </div>
  </div>
  <%= yield %>
<% end %>