<% content_for :secondary_nav do %>
  <div class="secondary-nav secondary-nav--subnav">
    <ul>
      <%= public_page_link decidim_participatory_processes.participatory_process_group_path(participatory_process_group) %>
      <% if allowed_to? :update, :process_group, process_group: participatory_process_group %>
        <li <% if is_active_link?(decidim_admin_participatory_processes.edit_participatory_process_group_path(participatory_process_group)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("info", scope: "decidim.admin.menu.participatory_process_groups_submenu"), decidim_admin_participatory_processes.edit_participatory_process_group_path(participatory_process_group) %>
        </li>
      <% end %>
      <% if allowed_to? :update, :process_group, process_group: participatory_process_group %>
        <li <% if is_active_link?(decidim_admin_participatory_processes.participatory_process_group_landing_page_path(participatory_process_group)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("landing_page", scope: "decidim.admin.menu.participatory_process_groups_submenu"), decidim_admin_participatory_processes.edit_participatory_process_group_landing_page_path(participatory_process_group) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to translated_attribute(participatory_process_group.title), decidim_participatory_processes.participatory_process_group_path(participatory_process_group), target: "_blank" %>
    </div>
  </div>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
