<% add_decidim_page_title(translated_attribute(current_participatory_space.title)) %>

<%# content_for :sidebar_menu_nav do %>
  <%#= sidebar_menu(:admin_participatory_process_menu).render do
    public_page_link decidim_participatory_processes.participatory_process_path(current_participatory_space)
  end %>
<%# end %>
<% content_for :breadcrumb_nav do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to translated_attribute(current_participatory_space.title), decidim_participatory_processes.participatory_process_path(current_participatory_space), target: "_blank", class: "process-title-content-breadcrumb" %>
      <div class="process-title-content-breadcrumb-container-right">
        <%= link_to decidim_participatory_processes.participatory_process_path(current_participatory_space), class: "process-title-content-breadcrumb-container-right-link" do %>
          <%= icon "eye-line" %>
          <span>
            <%= t("see_processes", scope: "decidim.admin.menu") %>
          </span>
        <% end %>
        <div class="inline-block relative">
          <%= button_tag id: "processes-dropdown-menu-trigger", data: { component: 'dropdown', target: 'processes-dropdown-menu-settings' }, class: 'dropdown__trigger button button__transparent' do %>
            <%= icon "more-line" %>
          <% end %>
          <div id="processes-dropdown-menu-settings" class="process-title-content-dropdown">
            <%= sidebar_menu(:admin_participatory_process_menu).render %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
