<% content_for :breadcrumb_context_menu do %>
  <div class="process-title-content-breadcrumb-container-right">
    <% if allowed_to? :create, :process %>
      <%= link_to [:new, :participatory_process], class: "button button__sm button__transparent process-title-content-breadcrumb-container-right-link" do %>
        <%= icon "add-line" %>
        <span>
          <%= t("actions.new_process", scope: "decidim.admin") %>
        </span>
      <% end %>
    <% end %>
    <%= render partial: "layouts/decidim/admin/manage_processes" %>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
