<% content_for :breadcrumb_nav do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to t("decidim.admin.titles.participatory_processes"), decidim_participatory_processes.participatory_processes_path, target: "_blank", class: "process-title-content-breadcrumb" %>
      <div class="ml-auto flex items-center gap-x-4">
        <% if allowed_to? :create, :process %>
          <%= link_to [:new, :participatory_process], class: "button button__transparent !py-1.5" do %>
            <svg viewBox="0 0 24 24" id="ri-add-line" class="w-4 h-4">
                <g>
                    <path fill="none" d="M0 0h24v24H0z"/>
                    <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/>
                </g>
            </svg>
            <%= t("actions.new_process", scope: "decidim.admin") %>
          <% end %>
        <% end %>
        <div class="inline-block relative">
          <%= button_tag id: "processes-dropdown-menu-trigger", data: { component: 'dropdown', target: 'processes-dropdown-menu-settings' }, class: 'dropdown__trigger button button__transparent' do %>
            <svg viewBox="0 0 24 24" id="ri-more-line">
              <g>
                  <path fill="none" d="M0 0h24v24H0z"/>
                  <path d="M4.5 10.5c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5S6 12.825 6 12s-.675-1.5-1.5-1.5zm15 0c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5S21 12.825 21 12s-.675-1.5-1.5-1.5zm-7.5 0c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5 1.5-.675 1.5-1.5-.675-1.5-1.5-1.5z"/>
              </g>
            </svg>
          <% end %>
          <div id="processes-dropdown-menu-settings">
            <ul class="dropdown dropdown__bottom">
              <li class="dropdown__item">
                <% if allowed_to? :import, :process %>
                  <%= link_to t("actions.import_process", scope: "decidim.admin"),
                              new_import_path,
                              class: "text-secondary" %>
                <% end %>
              </li>
              <li class="dropdown__item">
                <% if allowed_to? :manage, :participatory_process_type %>
                  <%= link_to t("menu.participatory_process_types", scope: "decidim.admin"),
                             decidim_admin_participatory_processes.participatory_process_types_path,
                             class: "text-secondary" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
