<%= form_required_explanation %>

<div class="form__wrapper">
  <%= form.select :document_type, @form.document_types_for_select, prompt: true %>

  <%= form.text_field :document_number %>

  <% if using_online? %>
    <%= form.upload :verification_attachment, button_class: "button button__lg button__transparent-secondary verification__upload-button" %>
  <% end %>

  <%= form.hidden_field :verification_type, value: verification_type %>
</div>
