<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_verifications" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_verifications", media: "all" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="my-12">
    <%= cell("decidim/announcement", announcement_title(authorization), callout_class: authorization.rejected? ? "alert" : "secondary" ) %>
  </div>

  <%= translated_attribute(current_organization.id_documents_explanation_text).html_safe unless using_online? %>

  <div class="mb-24">
    <%= decidim_form_for(@form, url: authorization_path, method: :put) do |form| %>
      <%= render partial: "form", locals: { form: form } %>

      <div class="form__wrapper-block flex-row justify-between">
        <%# REDESIGN_PENDING: link to main index %>
        <a href="" class="button button__lg button__text-secondary">
          <%= icon "arrow-left-line", class: "fill-current" %>
          <%= t("decidim.wizard_step_form.wizard_aside.back") %>
        </a>
        <button type="submit" class="button button__lg button__secondary">
          <%= t("decidim.verifications.id_documents.authorizations.edit.send") %>
          <%= icon "arrow-right-line", class: "fill-current" %>
        </button>
        <% if available_methods.count > 1 %>
        <%= link_to t("decidim.verifications.id_documents.authorizations.edit.offline"), { action: :edit, using: :offline }, class: "button expanded hollow" if using_online? %>
        <%= link_to t("decidim.verifications.id_documents.authorizations.edit.online"), { action: :edit, using: :online }, class: "button expanded hollow" if using_offline? %>
      <% end %>
      </div>
    <% end %>
  </div>

<% end %>
