<div class="category-wrapper margin-vertical-1" data-id="<%= category[:slug] %>">
  <div class="category-row flex-center">
    <button class="cc-title padding-left-3">
      <span class="h5 cc-category-title">
        <strong><%= category[:title] %></strong>
      </span>
    </button>

    <div class="cc-switch">
      <input
        class="switch-input"
        <%= %(checked="checked") if category[:mandatory] %>
        id="cc-<%= category[:slug] %>"
        type="checkbox"
        name="<%= category[:slug] %>"
        <%= "disabled" if category[:mandatory] %>>

      <label class="switch-paddle" for="cc-<%= category[:slug] %>">
        <span class="show-for-sr"><%= t("layouts.decidim.cookie_consent.modal.toggle", consent_category: category[:title]) %></span>
      </label>
    </div>
  </div>
  <div class="cc-description hide">
    <div class="description-text">
      <p><%= category[:description] %></p>
    </div>

    <% if category[:cookies].present? %>
      <div class="cookie-details-wrapper">
        <div class="row detail-titles">
          <div class="columns small-2">
            <%= t("layouts.decidim.cookie_consent.cookie_details.columns.type") %>
          </div>
          <div class="columns small-2">
            <%= t("layouts.decidim.cookie_consent.cookie_details.columns.name") %>
          </div>
          <div class="columns small-2">
            <%= t("layouts.decidim.cookie_consent.cookie_details.columns.service") %>
          </div>
          <div class="columns small-6">
            <%= t("layouts.decidim.cookie_consent.cookie_details.columns.description") %>
          </div>
        </div>

        <% category[:cookies].each do |cookie| %>
          <div class="row cookie-detail-row">
            <div class="columns small-2">
              <%= t("layouts.decidim.cookie_consent.cookie_details.types.#{cookie[:type]}") %>
            </div>
            <div class="columns small-2">
              <%= cookie[:name] %>
            </div>
            <div class="columns small-2">
              <%= t("layouts.decidim.cookie_consent.cookie_details.cookies.#{cookie[:name]}.service") %>
            </div>
            <div class="columns small-6">
              <%= t("layouts.decidim.cookie_consent.cookie_details.cookies.#{cookie[:name]}.description") %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
