<div id="dc-dialog-wrapper" class="flex-center hide robots-noindex robots-nocontent noindex" data-nosnippet role="region">
  <div class="dc-dialog padding-vertical-1">
    <div class="row expanded">
      <div class="columns medium-12 large-8">
        <div class="dc-content">
          <div class="h5">
            <%= t("layouts.decidim.data_consent.dialog.title") %>
          </div>
          <div>
            <%= t("layouts.decidim.data_consent.dialog.description") %>
          </div>
        </div>
      </div>
      <div class="columns medium-12 large-4">
        <div class="dc-button-wrapper flex-center">
          <button id="dc-dialog-accept" class="button">
            <%= t("layouts.decidim.data_consent.dialog.accept_all") %>
          </button>
          <button id="dc-dialog-reject" class="button hollow">
            <%= t("layouts.decidim.data_consent.dialog.accept_only_essential") %>
          </button>
          <button id="dc-dialog-settings" class="button clear" data-open="dc-modal">
            <%= t("layouts.decidim.data_consent.dialog.settings") %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
