<div id="cc-dialog-wrapper" class="flex-center hide robots-noindex robots-nocontent noindex" data-nosnippet role="region">
  <div class="cc-dialog padding-vertical-1">
    <div class="row expanded">
      <div class="columns medium-12 large-8">
        <div class="cc-content">
          <div class="h5">
            <%= t("layouts.decidim.data_consent.dialog.title") %>
          </div>
          <div>
            <%= t("layouts.decidim.data_consent.dialog.description") %>
          </div>
        </div>
      </div>
      <div class="columns medium-12 large-4">
        <div class="cc-button-wrapper flex-center">
          <button id="cc-dialog-accept" class="button">
            <%= t("layouts.decidim.data_consent.dialog.accept_all") %>
          </button>
          <button id="cc-dialog-reject" class="button hollow">
            <%= t("layouts.decidim.data_consent.dialog.accept_only_essential") %>
          </button>
          <button id="cc-dialog-settings" class="button clear" data-open="cc-modal">
            <%= t("layouts.decidim.data_consent.dialog.settings") %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
