<div class="card__list" id="<%= dom_id(model) %>">
  <div class="card__list-content <%= card_classes %>">
    <%= render :label if has_label? %>
    <%= render :top if render_top? %>

    <%= render :header if has_header? %>

    <div class="card__text">
      <div class="card__text--paragraph">
        <%= render :badge if has_badge? %>
        <%= Decidim::ContentProcessor.render(description, "div") %>
      </div>
    </div>

    <%= render :status %>
  </div>
</div>
