<div class="column" id="<%= dom_id(model) %>">
  <article class="card card--<%= dom_class(model) %>">
    <div class="card__content">
      <%= render :header %>

      <div class="card__text">
        <div class="card__text--paragraph">
          <%= description %>
          <%= render :tags %>
        </div>
      </div>
    </div>

    <%= render :data %>
    <%= render :status %>
    <%= render :footer if shows_footer? %>
  </article>
</div>
