<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row">
        <div class="columns">
          <%= form.translated :text_field, :title, autofocus: true, aria: { label: :title } %>
        </div>

        <div class="columns">
          <%= form.select :decidim_proposals_component_id,
                          components_options(proposal_components),
                          prompt: t(".select_proposal_component") %>
        </div>
      </div>
    </div>
  </div>

  <% if @form.taxonomy_filters&.any? %>
    <div class="card pt-4">
      <div class="card-section">
        <div class="row">
          <h3 class="pb-4"><%= t(".select_taxonomies") %></h3>
          <% @form.taxonomy_filters.each do |filter| %>
            <div class="columns">
              <%= filter_taxonomy_items_select_field form, :taxonomies, filter, internal: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="card pt-4">
    <div class="card-section">
      <div class="row">
        <div class="columns">
          <%= form.number_field :target_items, min: 1, step: 1 %>
        </div>

        <div class="columns">
          <%= form.translated :editor, :witnesses, lines: 10, toolbar: :content, aria: { label: :witnesses } %>
        </div>

        <div class="columns">
          <%= form.translated :editor, :additional_info, lines: 10, aria: { label: :additional_info } %>
        </div>

        <div class="columns">
          <%= form.number_field :dice, min: 1, max: 6, step: 1 %>
        </div>
      </div>
    </div>
  </div>
</div>
