<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row">
        <div class="columns">
          <%= form.translated :text_field, :title, autofocus: true, aria: { label: :title } %>
        </div>

        <div class="columns">
          <%= form.select :decidim_proposals_component_id,
                          components_options(proposal_components),
                          prompt: t(".select_proposal_component") %>
        </div>

        <div class="columns">
          <%= form.categories_select :decidim_category_id,
                                     @form.categories,
                                     include_blank: t(".all_categories") %>
        </div>

        <div class="columns">
          <%= form.number_field :target_items, min: 1, step: 1 %>
        </div>

        <div class="columns">
          <%= form.translated :editor, :witnesses, lines: 10, toolbar: :content, aria: { label: :witnesses } %>
        </div>

        <div class="columns">
          <%= form.translated :editor, :additional_info, lines: 10, aria: { label: :additional_info } %>
        </div>

        <div class="columns">
          <%= form.number_field :dice, min: 1, max: 6, step: 1 %>
        </div>
      </div>
    </div>
  </div>
</div>
