<div class="card__list-metadata">
  <span>
    <%= icon "calendar-line" %>
    20 oct - 22 oct
  </span>
  <span>
    <%= icon "price-tag-3-line" %>
    Ipsam reprehenderit vero voluptatum illum.
  </span>
  <span>
    <%= icon "time-line" %>
    10 oct
  </span>
  <span>
    <%= icon "heart-add-line" %>
    11
  </span>
  <span>
    <%= icon "wechat-line" %>
    23
  </span>
</div>
