<%= stylesheet_pack_tag "decidim_elections_trustee_zone", media: "all" %>

<% if current_step %>
  <div class="trustee-step"
    data-election-id="<%= election.id %>"
    data-trustee-public-key="<%= trustee.public_key %>"
    data-trustee-slug="<%= trustee.slug %>"
    data-api-endpoint-url="<%= bulletin_board_server %>"
    data-authority-slug="<%= authority_slug %>"
    data-authority-public-key="<%= authority_public_key %>"
    data-update-election-status-url="<%= trustee_election_elections_path(election) %>"
    data-scheme-name="<%= scheme_name %>"
    data-backup="false">

    <div class="js-step-result">
    </div>

    <%= render("#{current_step}_steps") %>
  </div>

  <%= render "decidim/elections/shared/broken_promises_modal" %>

  <% content_for :js_content do %>
    <%= javascript_pack_tag "decidim_elections_trustee_#{current_step}" %>
  <% end %>
<% end %>
