<div class="card profile--sidebar">
  <%= image_tag profile_user.avatar_url(:profile), class: "card__image card__image--larger" %>
  <div class="card__content">
    <h5>
      <div><strong><%= profile_user.name %></strong></div>
      <span class="text-small"><%= profile_user.nickname %></span>
      <% if can_contact_user? %>
        <span class="user-contact_link">
          <%= link_to_current_or_new_conversation_with(profile_holder) %>
        </span>
      <% end %>
    </h5>
    <p><%= profile_user.about %></p>
    <% if profile_user.personal_url.present? %>
      <%= link_to html_truncate(profile_user.personal_url.gsub(%r{https?\:\/\/}, ""), length: 30), profile_user.personal_url %>
    <% end %>
  </div>
  <% if profile_user.badge.present? %>
    <div class="badge-card__content">
      <span>
        <%= icon profile_user.badge, class: "author__verified" %>
      </span>
      <span>
        <%= officialization_text %>
      </span>
    </div>
  <% end %>
  <%= render_hook(:user_profile_bottom) %>
  <div class="card__footer card__footer--transparent">
    <div class="flex--cc p-s text-center">
      <div class="mr-s">
        <%= link_to profile_followers_path(nickname: profile_holder.nickname) do %>
          <%= t("decidim.profiles.show.followers") %>
          <h1 class="heading1"><%= profile_user.followers_count %></h1>
        <% end %>
      </div>
      <div class="ml-s">
        <%= link_to profile_following_path(nickname: profile_holder.nickname) do %>
          <%= t("decidim.profiles.show.following") %>
          <h1 class="heading1"><%= profile_user.following_count %></h1>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_organization.badges_enabled? %>
    <div class="card__footer card__footer--transparent">
      <div class="card__support">
        <div class="row column mb-s">
          <strong class="muted"><%= t("decidim.profiles.sidebar.badges.title") %></strong>
          <div class="badge-tip badge-tip--inline">
            <div data-tooltip data-position="top" title="<%= t("decidim.profiles.sidebar.badges.info") %>" aria-describedby="badges-tooltip" data-yeti-box="badges-tooltip" data-toggle="badges-tooltip" data-resize="badges-tooltip" class="has-tip" data-events="resize">
              <%= icon "info", class: "icon--small" %>
            </div>
          </div>
        </div>
        <div class="collapsible-list is-filtered row small-up-2 medium-up-4 collapse">
          <% Decidim::Gamification.badges.sort_by(&:name).each do |badge| %>
            <% status = Decidim::Gamification.status_for(profile_holder, badge.name) %>
            <% if status.level > 0 %>
              <div class="column">
                <div class="badge-container pr-xs">
                  <%= cell("decidim/badge", profile_holder, badge: badge, status: status).(:small) %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if own_profile? %>
  <div class="text-center">
    <%= link_to decidim.account_path, class: "button" do %>
      <span>
        <%= t("decidim.profiles.user.edit_profile") %>
      </span>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to decidim.new_group_path, class: "button secondary light" do %>
      <span>
        <%= t("decidim.profiles.user.create_user_group") %>
      </span>
    <% end %>
  </div>
<% elsif logged_in? %>
  <%= cell "decidim/follow_button", profile_holder, inline: false, context: { current_user: current_user } %>
<% end %>
