<% i18n_scope ||= "decidim.elections.connection.failed" %>

<%= decidim_modal id: "server-failure" do %>
  <div data-dialog-container>
    <%= icon "error-warning-line" %>
    <h2 id="dialog-title-server-failure" tabindex="-1" data-dialog-title><%= t("modal.title", scope: i18n_scope) %></h2>
    <div class="space-y-8">
      <p id="communication_error">
        <%= t("modal.communication_lost", scope: i18n_scope).html_safe %>
      </p>
      <p id="generic_error" hidden>
        <%= t("modal.generic_error", scope: i18n_scope).html_safe %>
      </p>

      <code id="tech-info" class="block"></code>
    </div>
  </div>

  <div data-dialog-actions>
    <button class="button button__sm md:button__lg button__transparent-secondary" data-dialog-close="server-failure">
      <%= t("modal.close", scope: i18n_scope) %>
    </button>
  </div>
<% end %>
