<%= decidim_form_for(@form, html: { class: "form edit_initiative_type" }) do |f| %>
  <%= render partial: "form", object: f %>
  <div class="button--double form-general-submit">
    <%= f.submit t(".update"), class: "button" %>

    <% if allowed_to? :destroy, :initiative_type, initiative_type: current_initiative_type %>
      <%= link_to t(".destroy"), current_initiative_type,
                  method: :delete,
                  class: "alert button",
                  data: { confirm: t(".confirm_destroy") } %>
    <% end %>
  </div>
  <br>
  <%= render partial: "initiative_type_scopes", locals: { initiative_type: current_initiative_type } %>
<% end %>
