<div class="card" id="initiative-types">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.admin.titles.initiatives_types" %>
      <%= link_to t("actions.new", scope: "decidim.admin", name: t("models.initiatives_types.name", scope: "decidim.admin")),
                  ["new", "initiatives_type"],
                  class: "button tiny button--title" if can? :create, Decidim::InitiativesType %>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.initiatives_types.fields.title", scope: "decidim.admin") %></th>
            <th><%= t("models.initiatives_types.fields.created_at", scope: "decidim.admin") %></th>
          </tr>
        </thead>
        <tbody>
          <% @initiatives_types.each do |initiative_type| %>
          <tr>
            <td>
              <% if can? :update, initiative_type %>
                <%= link_to translated_attribute(initiative_type.title), edit_initiatives_type_path(initiative_type) %>
              <% else %>
                <%= translated_attribute initiative_type.title %></td>
              <% end %>
            <td><%= l initiative_type.created_at, format: :short %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
