<% level ||= SecureRandom.random_number(5) %>
<article class="card card--badge absolutes">
  <div class="right badge-tip">
    <div data-tooltip data-position="top" title="<%= Faker::Movies::Lebowski.quote %>">
      <%= icon "info", class: "icon--small" %>
    </div>
  </div>
  <% if @activeuser == "logged" %>
    <div class="card__content absolutes">
      <div class="card__header" <%= "style=opacity:.2" if level == 0 %>>
        <div class="badge-container">
          <%= external_icon "badges/" + template + ".svg", class: "badge__logo", remove_icon_class: true %>
        </div>
      </div>
      <div class="card__text text-center">
        <strong><%= template.capitalize %></strong>
      </div>
      <% if level == 0 %>
        <div class="left right center m-s">
          <%= link_to page_path("user/user-badges-info") do %>
            <button class="button light">How do I get this badge?</button>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="card__content">
      <div class="card__header" <%= "style=opacity:.2" if level == 0 %>>
        <div class="badge-container">
          <%= external_icon "badges/" + template + ".svg", class: "badge__logo", remove_icon_class: true %>
        </div>
      </div>
      <div class="card__text text-center">
        <strong><%= template.capitalize %></strong>
      </div>
    </div>
  <% end %>
  <div class="card__footer card__footer--transparent">
    <div class="p-xs">
      <%= render partial: page_path("profile") + "/badge-level", locals: { level: level } %>
    </div>
  </div>
</article>
