<div class="conversation">
  <div class="conversation-header flex--cc absolutes">
    <div class="left center mr-s">
      <a href="#conversations" data-tabs-target="conversations">
        <%= icon "chevron-left", class: "card__link icon--big" %>
      </a>
    </div>
    <%= image_tag "avatar-multiuser.png" %>
    <div class="ml-s">
      Conversación con
      <%= link_to page_path("user-profile") do %><strong><%= Faker::Name.name %></strong><% end %>,
      <%= link_to page_path("user-profile") do %><strong><%= Faker::Name.name %></strong><% end %>,
      <%= link_to page_path("user-profile") do %><strong><%= Faker::Name.name %></strong><% end %>,
      <%= link_to page_path("user-profile") do %><strong><%= Faker::Name.name %></strong><% end %>,
      <%= link_to page_path("user-profile") do %><strong><%= Faker::Name.name %></strong><% end %>,
      <%= link_to page_path("user-profile") do %><strong><%= Faker::Name.name %></strong><% end %>,
      <%= link_to page_path("user-profile") do %><strong><%= Faker::Name.name %></strong><% end %>
    </div>
  </div>

  <% chats = Faker::Number.between(from: 2, to: 5) %>
  <% chats.times do |i| %>
  <div class="conversation-chat<%= " conversation-chat--offset" if i.odd? %>">
    <%= link_to page_path("user-profile") do %>
      <% if i.odd? %>
        <img src="<%= Faker::LoremFlickr.image %>" alt="">
      <% else %>
        <img src="<%= Faker::Placeholdit.image %>" alt="">
      <% end %>
    <% end %>
    <div>
      <% Faker::Number.between(from: 1, to: 3).times do |u| %>
      <article class="card">
        <div class="p-s">
          <% if i.even? && u===0 %>
            <strong><%= Faker::Name.name %></strong><br>
          <% end %>
          <%= Faker::Lorem.sentence(Faker::Number.between(from: 5, to: 20)) %>
        </div>
      </article>
      <% end %>
      <span class="text-small<%= " pull-right" if i.odd? %>"><%= Faker::Date.between(from: 10.days.ago, to: Date.today).strftime("%-m %b") %></span>
    </div>
  </div>
  <% end %>

  <div class="conversation-reply<%= " conversation-reply--offset" if chats.even? %>">
    <h2 class="section-heading">Respuesta</h2>
    <textarea placeholder="Tu respuesta..." rows="4" cols="80"></textarea>
    <button class="button secondary light pull-right" type="button" name="button"><strong>Responder</strong></button>
  </div>

</div>
