<div class="text-right">
<a href="#" class="button small">
  New conversation
</a>
</div>
<% 12.times do |i| %>
  <div class="card card--widget">
    <ul class="card-data">
      <li class="card-data__item">
        <div class="card__link text-center">
          <%= link_to page_path("user-profile"), class: "user-header__avatar" do %>
            <% if i == 0 %>
              <%= image_pack_tag "media/images/avatar-multiuser.png" %>
            <% elsif i == 1 %>
              <%= image_pack_tag "media/images/demo-avatar-group.jpg" %>
            <% else %>
              <%= image_pack_tag "media/images/demo-avatar.jpg" %>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="card-data__item card-data__item--expand absolutes">
        <div class="mr-s">
          <% if i == 0 %>
            Con: <strong>Jana S.</strong>, <strong>Joan M.</strong> and 3 others
          <% elsif i == 1 %>
            Con: <strong>Participació Horta Guinardó<span class="muted">&nbsp;@Participacio_HortaG</span></strong>
          <% else %>
            Con: <strong><%= Faker::Name.name %><span class="muted">&nbsp;@<%= Faker::Twitter.screen_name %></span></strong>
          <% end %>
          <br>
          <span class="muted"><%= Faker::TvShows::FamilyGuy.quote %></span>
          <br>
          <span class="text-small">Último mensaje: <strong>hace <%= Faker::Number.between(from: 1, to: 59) %> minutos</strong></span>
        </div>
        <div class="right center mr-s">
          <a href="#conversation" class="user-header__avatar" data-tabs-target="conversation">
            <%= icon "chevron-right", class: "card__link icon--big" %>
          </a>
        </div>
      </li>
    </ul>
  </div>
<% end %>

<%= partial "pagination" %>
