<div class="mb-s text-right">
  <%= partial "inline_filters", { order: false, sort_text: "All notifications" } %>
</div>
<% 12.times do %>
  <div class="card card--widget">
    <ul class="card-data">
      <li class="card-data__item">
        <div class="card__link text-center">
          <%= icon "debates", class: "icon--large" %>
          <span class="text-medium mt-xs"><%= Faker::Date.forward(365).strftime("%a %e") %></span>
        </div>
      </li>
      <li class="card-data__item card-data__item--expand absolutes">
        <div class="mr-s">
          <span class="text-small">Comment</span>
          <br>
          <span><%= Faker::Number.digit %> nous comentaris a <a href="#" class="card__link"><strong><%= Faker::ChuckNorris.fact %></strong></a></span>
        </div>
        <div class="right center mr-s"><%= icon "circle-x", class: "card__link" %></div>
      </li>
    </ul>
  </div>
<% end %>

<%= partial "pagination" %>
