<div class="m-bottom">
  <div class="process-nav__link">
    <%= icon "information" %>
    <span>Pàgina</span>
  </div>
</div>
<div class="m-bottom">
  <div class="process-nav__link">
    <%= icon "process" %>
    <span>Procés</span>
  </div>
</div>
<div class="m-bottom">
  <div class="process-nav__link">
    <%= icon "meetings" %>
    <span>Trobades</span>
  </div>
</div>
<div class="m-bottom">
  <div class="process-nav__link">
    <%= icon "proposals" %>
    <span>Propostes</span>
  </div>
</div>
<div class="m-bottom">
  <div class="process-nav__link">
    <%= icon "debates" %>
    <span>Debats</span>
  </div>
</div>
<div class="m-bottom">
  <div class="process-nav__link">
    <%= icon "actions" %>
    <span>Resultats</span>
  </div>
</div>
<div class="m-bottom">
  <div class="process-nav__link">
    <%= icon "polls" %>
    <span>Enquestes</span>
  </div>
</div>
<div class="m-bottom">
  <div class="process-nav__link">
    <%= icon "budgets" %>
    <span>Pressupostos</span>
  </div>
</div>
