<p><%= t(".email_intro") %></p>

<p><%= t(".email_budgets") %></p>

<ul>
  <% @orders.each do |order| %>
  <li>
    <%= link_to(
      translated_attribute(order.budget.title),
      routes.budget_url(order.budget)
    ) %>
  </li>
  <% end %>
</ul>

<p><%= t(".email_outro") %></p>

<%= link_to(
  t(".email_link"),
  routes.root_url
) %>
