<p class="accountability__status-title"><%= title %></p>

<% if component_settings.display_progress_enabled? && progress.present? %>
  <div class="accountability__status-progress" role="progressbar" aria-label="<%= t("decidim.shared.progress") %>" aria-valuenow="<%= number_with_precision(progress, separator: ".", precision: 1) %>" aria-valuemin="0" aria-valuemax="100" aria-valuetext="<%= number_to_percentage(progress, precision: 1) %>">
    <div style="width:<%= progress %>%"></div>
  </div>
<% end %>

<div class="accountability__status-value">
  <% if progress.present? %>
    <span><%= display_percentage progress %></span>
  <% end %>
  <% if count %>
    <span><%= count %></span>
  <% end %>
</div>
