<div id="diff-for-<%= data[:label].parameterize %>" class="version__diff">
  <h3 class="h4">
    <%= data[:label] %>
  </h3>

  <%# REDESIGN_PENDING: Provide the respective url params in order to display the right view %>

  <% if params[:mode] == "unified" && params[:html] == "unescaped" %>
    <%= diff_unified(data, :unescaped_html) %>
  <% elsif params[:mode] == "unified" && params[:html] == "escaped" %>
    <%= diff_unified(data, :html) %>
  <% elsif params[:mode] == "split" && params[:html] == "unescaped" %>
    <div class="version__diff-split">
      <div>
        <%= diff_split(data, "left", :unescaped_html) %>
      </div>
      <div>
        <%= diff_split(data, "right", :unescaped_html) %>
      </div>
    </div>
  <% elsif params[:mode] == "split" && params[:html] == "escaped" %>
    <div class="version__diff-split">
      <div>
        <%= diff_split(data, "left", :html) %>
      </div>
      <div>
        <%= diff_split(data, "right", :html) %>
      </div>
    </div>
  <% end %>
</div>
