<%
menu_id = attribute_diff_id("diffmode-chooser-menu")
selected_id = attribute_diff_id("diff-view-selected")
button_unified_id = attribute_diff_id("diff-view-unified")
button_split_id = attribute_diff_id("diff-view-unified")
%>

<div class="diff-view-by show-for-mediumlarge">
  <div class="diff-view-by__dropdown">
    <span class="diff-view-by__text">
      <%= t("versions.dropdown.choose_diff_view_mode") %>
    </span>

    <ul class="dropdown menu" data-dropdown-menu
      data-autoclose="false"
      data-disable-hover="true"
      data-click-open="true"
      data-close-on-click="true"
      tabindex="-1">
      <li class="is-dropdown-submenu-parent" tabindex="-1">
        <a href="#<%= menu_id %>" id="<%= selected_id %>" aria-controls="<%= menu_id %>" aria-haspopup="true" aria-label="<%= t("versions.dropdown.choose_diff_view_mode_menu") %>">
          <span aria-hidden="true"><%= t("versions.dropdown.option_unified") %></span>
        </a>

        <ul class="menu is-dropdown-submenu" id="<%= menu_id %>" role="menu" aria-labelledby="<%= selected_id %>" tabindex="-1">
          <li>
            <%= link_to "##{button_unified_id}", class: "diff-view-mode", id: button_unified_id do %>
              <%= t("versions.dropdown.option_unified") %>
            <% end %>
          </li>

          <li>
            <%= link_to "##{button_split_id}", class: "diff-view-mode", id: button_split_id do %>
              <%= t("versions.dropdown.option_split") %>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
