<div class="diff-view-by show-for-mediumlarge">
  <div class="diff-view-by__dropdown">
    <span class="diff-view-by__text">
      <%= t("versions.dropdown.choose_diff_view_mode") %>
    </span>

    <ul class="dropdown menu" data-dropdown-menu
      data-autoclose="false"
      data-disable-hover="true"
      data-click-open="true"
      data-close-on-click="true"
      role="menubar">
      <li class="is-dropdown-submenu-parent" role="presentation">
        <a href="#diffmode-chooser-menu" id="diff-view-selected" aria-controls="diffmode-chooser-menu" aria-haspopup="true" aria-label="<%= t("versions.dropdown.choose_diff_view_mode_menu") %>" role="menuitem">
          <%= t("versions.dropdown.option_unified") %>
        </a>

        <ul class="menu is-dropdown-submenu" id="diffmode-chooser-menu" role="menu" aria-labelledby="diff-view-selected">
          <li role="presentation">
            <%= link_to "#diff-view-unified", class: "diff-view-mode diff-view-unified", id:"diff-view-unified", role: "menuitem" do %>
              <%= t("versions.dropdown.option_unified") %>
            <% end %>
          </li>

          <li role="presentation">
            <%= link_to "#diff-view-split", class: "diff-view-mode diff-view-split", id:"diff-view-split", role: "menuitem" do %>
              <%= t("versions.dropdown.option_split") %>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
