<% if show_html_view_dropdown? %>
  <div class="diff-view-by diff-view-html" style="margin-left: 0;">
    <div class="diff-view-by__dropdown">
      <span class="diff-view-by__text">
        <%= t("versions.dropdown.choose_diff_view_html") %>
      </span>

      <ul class="dropdown menu" data-dropdown-menu>
        <li class="is-dropdown-submenu-parent">
          <a id="diff-view-selected">
            <%= t("versions.dropdown.option_unescaped") %>
          </a>

          <ul class="menu">
            <li>
              <%= link_to "#unescaped-html", class: "diff-view-html", id:"unescaped-html" do %>
                <%= t("versions.dropdown.option_unescaped") %>
              <% end %>
            </li>

            <li>
              <%= link_to "#escaped-html", class: "diff-view-html", id:"escaped-html" do %>
                <%= t("versions.dropdown.option_escaped") %>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
<% end %>
