<section id="highlighted_assemblies" class="wrapper-home home-section" xmlns="http://www.w3.org/1999/xhtml">
  <div class="row" id="highlighted-assemblies">
    <h3 class="section-heading"><%= t("active_assemblies", scope: i18n_scope) %></h3>
    <div class="row collapse">
      <div class="row small-up-1 smallmedium-up-2 mediumlarge-up-3
        large-up-4 card-grid">
        <% highlighted_assemblies.each do |assembly| %>
          <div class="column">
            <%= link_to decidim_assemblies.assembly_path(assembly), class: "card card--assembly card--mini" do %>
              <div aria-hidden="true" class="card__image-top"
                style="background-image:url('<%= assembly.attached_uploader(:hero_image).path %>')"></div>
              <div class="card__content">
                <span class="card__title card__link"><%= translated_attribute assembly.title %></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" id="see-all-assemblies">
    <div class="columns small-centered small-12
      smallmedium-8 medium-6 large-4">
      <%= link_to t("see_all_assemblies", scope: i18n_scope),
                  decidim_assemblies.assemblies_path,
                  class: "button expanded hollow button--sc home-section__cta",
                  title: t("assemblies_button_title", scope: i18n_scope) %>
    </div>
  </div>
</section>
