<section id="highlighted_assemblies" class="home__section">
  <div id="highlighted-assemblies">
    <div class="home__section-header">
      <h2 class="home__section-title">
        <%= t("active_assemblies", scope: i18n_scope) %>
      </h2>
      <%= link_to decidim_assemblies.assemblies_path, class: "button button__sm button__text-secondary" do %>
        <%= t("see_all_assemblies", scope: "decidim.assemblies.pages.home.highlighted_assemblies") %>
        <%= icon "arrow-right-line", class: "fill-current" %>
      <% end %>
    </div>
    <div class="card__grid-home">
      <% highlighted_assemblies.each do |assembly| %>
        <%= card_for assembly, size: :g %>
      <% end %>
    </div>
  </div>
</section>
