<div id="js-bulk-actions-wrapper">
  <button
    id="js-bulk-actions-button"
    class="button button__sm button__secondary"
    type="button"
    data-toggle="js-bulk-actions-dropdown">
    <%= t("decidim.admin.moderated_users.index.actions.bulk_actions.actions_dropdown") %>
    <%= icon "arrow-down-s-line", class: "dropdown-filter-icon" %>
  </button>

  <div
    id="js-bulk-actions-dropdown"
    class="dropdown-pane"
    data-position="bottom"
    data-alignment="right"
    data-dropdown="dropdown"
    data-auto-focus="false"
    data-events="resize">
    <ul>
      <% if params[:blocked] %>
        <li>
          <button type="button" data-action="unblock-moderated_users">
            <%= t("decidim.admin.moderated_users.index.actions.bulk_actions.unblock.title") %>
          </button>
        </li>
      <% else %>
        <li>
          <button type="button" data-action="block-moderated_users">
            <%= t("decidim.admin.moderated_users.index.actions.bulk_actions.block.title") %>
          </button>
        </li>
        <li>
          <button type="button" data-action="unreport-moderated_users">
            <%= t("decidim.admin.moderated_users.index.actions.bulk_actions.unreport.title") %>
          </button>
        </li>
      <% end %>
    </ul>
  </div>
</div>
