<%
@title = "Asamblea -- Decidim Barcelona"
@activesection = "assemblies"
@activepage = "assemblies"
%>

  <%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row">
      <div class="columns view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
        <div class="section">
          <%= partial "followme" %>
        </div>
        <div class="section">
          <div class="flex--sbe">
            <h2 class="section-heading">Trobades</h2>
            <a class="mb-s" href=""><u>See all</u></a>
          </div>
          <article class="card card--widget card--meeting">
            <ul class="card-data">
              <li class="card-data__item alert">
                <%= icon "meetings", class: "icon--big" %>
              </li>
              <li class="card-data__item">
                <div>
                  <strong class="text-uppercase"><%= Faker::Date.forward(365).strftime("%e %B %Y") %></strong><br />
                  <span class="text-medium"><%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %></span>
                </div>
                <br />
                <div>
                  <strong class="text-uppercase"><%= Faker::Address.community %></strong><br />
                  <span class="text-medium"><%= Faker::Address.street_address %>&nbsp;<%= Faker::Address.zip %>&nbsp;<%= Faker::Address.city %></span>
                </div>
              </li>
            </ul>
          </article>
          <article class="card card--widget card--meeting">
            <ul class="card-data">
              <li class="card-data__item alert">
                <%= icon "meetings", class: "icon--big" %>
              </li>
              <li class="card-data__item">
                <div>
                  <strong class="text-uppercase"><%= Faker::Date.forward(365).strftime("%e %B %Y") %></strong>
                  <span class="text-medium"><%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %></span>
                </div>
              </li>
            </ul>
          </article>
        </div>
        <div class="section">
          <h2 class="section-heading">Acerca de</h2>
          <div class="card extra definition-data">
            <div class="definition-data__item">
              <span class="definition-data__title">Duració</span>
              Indefinida
            </div>
            <div class="definition-data__item">
              <span class="definition-data__title">Finalizació</span>
              18 septiembre 2016
            </div>
            <div class="definition-data__item">
              <span class="definition-data__title">Xarxes socials</span>
              <div><a href=""><strong>Twitter</strong></a></div>
              <div><a href=""><strong>Facebook</strong></a></div>
              <div><a href=""><strong>Instagram</strong></a></div>
            </div>
          </div>
        </div>
        <div class="section">
          <%= partial "share" %>
        </div>
      </div>
      <div class="columns mediumlarge-8 mediumlarge-pull-4">
        <div class="section">
          <p>
            Millores en un conjunt de carrers dels barris del districte que incorporin la renovació integral de les seves infraestructures (voreres, accessibilitat, asfaltat, enllumenat, clavegueram, arbrat, mobiliari urbà...), Interiors de Canyelles, Guineueta
            i Aiguablava-Portlligat i Amilcar-Cartellà-Av. de Borbó-Maragall, connexió del carrer Pedraforca amb Agudes, accessibilitat i enllumenat a Renfe Meridiana, urbanització de Nou Pins, Mina de la ciutat, Canfranc, Oristà i Almansa, pèrgola del Campillo
            de la virgen i del parc de Serra Martí, redacció del projecte del passeig de la Peira, reforma de les escales de Matagalls, millores a l'Av. de Borbó i projecte d'intervenció a la Font Pla de Fornells. Millores en el Parc de la Guineueta incloent un
            espai d'aparells per a la gent gran. Estudi de la viabilitat tècnica d'instal·lar escales mecàniques entre Ciutat Meridiana i Torre Baró per millorar la connectivitat entre els dos barris o millora de l'escala actual. Millores d'accessibilitat,
            arranjaments i enllumenat en l'àmbit de Renfe Meridiana. Millores en la urbanització per a l'accessibilitat d'acord amb les particularitats orogràfiques al barri de Roquetes.
          </p>
          <p>
            <strong>Consell de Districte</strong> is: open, public and “restricted to members of XXXX”.
          </p>
        </div>
        <div class="section">
          <h2 class="section-heading">Organització interna</h2>
          <p>El Consell del Districte de Sant Martí està format per:</p>
          <ul>
            <li>La presidència del Consell</li>
            <li>Vint-i-un consellers i conselleres</li>
            <li>El/la regidor/a del Districte</li>
            <li>Els regidors i regidores adscrits</li>
          </ul>
        </div>
        <div class="section">
          <h2 class="section-heading">Grups de treball intern</h2>
          <p><%= Faker::Lovecraft.paragraph %></p>
        </div>
        <div class="section">
          <h2 class="section-heading">Composició</h2>
          <p><%= Faker::Lovecraft.paragraph %></p>
          <article id="orgchart-<%= SecureRandom.hex(5) %>" class="card orgchart js-orgchart absolutes">
            <button class="medium-1 m-s top left button small hollow invisible js-reset-orgchart">Inicio</button>
            <select class="medium-2 m-s top right">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </article>
        </div>
        <div class="section">
          <div class="flex--sbe">
            <h2 class="section-heading">Membres <span class="text-muted">(<%= Faker::Number.between(10, 200) %>)</span></h2>
            <a class="mb-s" href=""><u>See full list of members</u></a>
          </div>
          <div class="row small-up-1 medium-up-2 card-grid">
            <% 6.times do %>
              <div class="column">
                <article class="card card--member">
                  <div class="card__content">
                    <div class="card__header collapse">
                      <%= partial "author_data", { big: true, verified: false, nick: Faker::Boolean.boolean } %>
                    </div>
                    <div class="card__text card--picture-offset">
                      <div><small><strong><%= Faker::Company.profession.capitalize %></strong></small></div>
                      <div><small><%= Faker::StarWars.vehicle %></small></div>
                      <div class="text-small">Designated on <strong><%= Faker::Date.backward(365).strftime("%D") %></strong></div>
                      <div class="text-small mt-s"><%= Faker::Demographic.sex %> / <%= Faker::Number.number(2) %> / <%= Faker::Address.city %></div>
                    </div>
                  </div>
                </article>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
