<% add_decidim_meta_tags({
  title: translated_attribute(survey.title),
  description: translated_attribute(survey.description),
}) %>

<div class="row column view-header">
  <h2 class="heading2"><%= translated_attribute survey.title %></h2>
</div>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <%== translated_attribute survey.description %>
      </div>

      <% unless survey.published? %>
        <div class="section">
          <div class="callout warning">
            <h5><%= t('.survey_not_published.title') %></h5>
            <p><%= t('.survey_not_published.body') %></p>
          </div>
        </div>
      <% else %>
        <% if current_user %>
          <% if survey.answered_by?(current_user) %>
            <div class="section">
              <div class="callout success">
                <h5><%= t('.survey_answered.title') %></h5>
                <p><%= t('.survey_answered.body') %></p>
              </div>
            </div>
          <% else %>
            <div class="answer-survey">
              <h5 class="section-heading"><%= t('.answer_survey.title') %></h5>
              <%= decidim_form_for(@form, url: answer_survey_path(survey), method: :post, html: { class: "form answer-survey" }) do |form| %>
                <% @form.answers.each_with_index do |answer, idx| %>
                  <div class="field">
                    <% field_id = "survey_#{survey.id}_question_#{answer.question.id}_answer_body" %>
                    <%= label_tag field_id , "#{idx + 1}. #{translated_attribute(answer.question.body)} #{'*' if answer.question.mandatory?}" %>

                    <% case answer.question.question_type %>
                      <% when "short_answer" %>
                        <%= text_field_tag "survey[answers][][body]", answer.body, id: field_id, class: "#{'is-invalid-input' unless answer.errors.empty?}" %>
                      <% when "long_answer" %>
                        <%= text_area_tag "survey[answers][][body]", answer.body, id: field_id, class: "#{'is-invalid-input' unless answer.errors.empty?}" %>
                      <% when "single_option" %>
                        <div id="<%= field_id %>_answer_options">
                          <% answer.question.answer_options.each_with_index do |answer_option, idx| %>
                            <div class="field">
                              <%= radio_button_tag "survey[answers][][body]", "1", false, id: "#{field_id}_option_#{idx}" %>
                              <%= label_tag "#{field_id}_option_#{idx}", translated_attribute(answer_option["body"]) %>
                            </div>
                          <% end %>
                        </div>
                      <% when "multiple_option" %>
                        <div id="<%= field_id %>_answer_options">
                          <% answer.question.answer_options.each_with_index do |answer_option, idx| %>
                            <div class="field">
                              <%= check_box_tag "survey[answers][][body][]", "1", false, id: "#{field_id}_option_#{idx}" %>
                              <%= label_tag "#{field_id}_option_#{idx}", translated_attribute(answer_option["body"]) %>
                            </div>
                          <% end %>
                        </div>
                    <% end %>

                    <%= hidden_field_tag "survey[answers][][question_id]", answer.question.id %>
                    <% answer.errors.full_messages.each do |msg| %>
                      <%= content_tag :small, msg, class: "form-error is-visible" %>
                    <% end %>
                  </div>
                <% end %>

                <div class="button--double form-general-submit">
                  <%= form.submit t(".submit"), class: "button", data: { confirm: t('.are_you_sure') } %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="answer-survey">
            <h5 class="section-heading"><%= t('.answer_survey.title') %></h5>
            <p>
              <%= t('.answer_survey.anonymous_user_message', sign_in_link: decidim.new_user_session_path, sign_up_link: decidim.new_user_registration_path).html_safe %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
