<h2 class="section-heading">Listado de todos los tipos de tarjetas tamaño medio</h2>
<ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--proposal</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card de propuesta</h2>
      <%= render partial: page_path("cards") + "/m/proposal" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--initiative</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card de iniciativa</h2>
      <%= render partial: page_path("cards") + "/m/initiative" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--debate</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card de debate</h2>
      <%= render partial: page_path("cards") + "/m/debate" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--blog</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card de blog</h2>
      <%= render partial: page_path("cards") + "/m/blog" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--meeting</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card de encuentro</h2>
      <%= render partial: page_path("cards") + "/m/meeting" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--project</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card de proyecto</h2>
      <%= render partial: page_path("cards") + "/m/project" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--sortition</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card de sorteo</h2>
      <%= render partial: page_path("cards") + "/m/sortition" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--result</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card de resultados</h2>
      <%= render partial: page_path("cards") + "/m/result" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--identifier</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card con identificador</h2>
      <%= render partial: page_path("cards") + "/m/identifier" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--profile</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card de perfil</h2>
      <%= render partial: page_path("cards") + "/m/profile" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--survey</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card de encuesta</h2>
      <%= render partial: page_path("cards") + "/m/survey" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--consultation</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Card de consulta</h2>
      <%= render partial: page_path("cards") + "/m/consultation" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><pre>.card--XXXXX success|alert|warning|muted</pre></a>

    <div class="accordion-content" data-tab-content>
      <h2 class="section-heading">Cards con diversos estados</h2>
      <%= render partial: page_path("cards") + "/m/status" %>
    </div>
  </li>
</ul>
