<ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de propuesta</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/proposal" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de iniciativa</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/initiative" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de debate</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/debate" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de blog</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/blog" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de encuentro</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/meeting" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de proyecto</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/project" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de sorteo</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/sortition" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de resultados</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/result" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de perfil</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/profile" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de encuesta</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/survey" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de consulta</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/consultation" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de asamblea</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/assembly" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de proceso</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/process" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card de procesos apilados</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/stack" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card con identificador</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/identifier" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Card común de resultados de una búsqueda</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/search-results" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Cards con diversos estados</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/status" %>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title"><h2 class="section-heading">Cards de miembro</h2></a>

    <div class="accordion-content" data-tab-content>
      <%= render partial: page_path("cards") + "/m/member" %>
    </div>
  </li>
</ul>
