<% add_decidim_page_title(t("info", scope: "decidim.admin.menu.conferences_submenu")) %>
<% add_decidim_page_title(translated_attribute(current_participatory_space.title)) %>

<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t("info", scope: "decidim.admin.menu.conferences_submenu") %>
  </h2>
</div>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, html: { class: "form form-defaults edit_conference conference_form_admin" }) do |f| %>
      <%= render partial: "form", object: f %>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t("conferences.edit.update", scope: "decidim.admin"), class: "button button__sm button__secondary" %>

          <% if allowed_to? :publish, :conference, conference: current_conference %>
            <% if current_conference.published? %>
              <%= link_to t("actions.unpublish", scope: "decidim.admin"), conference_publish_path(current_conference), method: :delete, class: "button button__sm button__secondary" %>
            <% else %>
              <%= link_to t("actions.publish", scope: "decidim.admin"), conference_publish_path(current_conference), method: :post, class: "button button__sm button__secondary" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
