<% add_decidim_page_title(t("decidim.admin.titles.conferences")) %>
<div class="card" id="conferences">
  <%= admin_filter_selector %>
  <%= render partial: "conferences_table", locals: { collection: @conferences, view: :index } %>
  <div class="card mt-4">
    <%= link_to deleted_conferences_path, class: "button button__sm button__transparent-secondary" do %>
      <%= icon "delete-bin-line", class: "mr-2 fill-current text-secondary", role: "img" %>
      <%= t("decidim.admin.actions.view_deleted_conferences") %>
      <span class="ml-2">
        <%= icon_with_tooltip("information-line", t("decidim.admin.tooltips.deleted_conferences_info")) %>
      </span>
    <% end %>
  </div>
  <%= decidim_paginate @conferences %>
</div>
