<% add_decidim_page_title(t("decidim.admin.titles.conferences")) %>
<div class="card" id="conferences">
  <%= admin_filter_selector %>
  <div class="table-scroll">
    <table class="table-list">
      <%= render partial: "conferences_thead" %>
      <tbody>
        <%= render partial: "decidim/conferences/admin/conferences/conference_row",
                   collection: @conferences,
                   as: :conference,
                   locals: { view: :index } %>
      </tbody>
    </table>
  </div>
  <% if allowed_to? :read, :conference, trashable_deleted_resource: @conferences, user: :collaborator %>
    <div class="card mt-4">
      <%= link_to manage_trash_conferences_path, class: "flex items-center underline text-secondary" do %>
        <%= icon "delete-bin-2-line", class: "mr-2 fill-current text-secondary", role: "img" %>
        <%= t("decidim.admin.actions.view_deleted_conferences") %>
        <span class="ml-2">
          <%= icon_with_tooltip("information-line", t("decidim.admin.tooltips.deleted_conferences_info")) %>
        </span>
      <% end %>
    </div>
  <% end %>
  <%= decidim_paginate @conferences %>
</div>
