<% add_decidim_page_title(t("conferences_deleted", scope: "decidim.admin.titles")) %>
<%= cell("decidim/announcement", t("decidim.admin.manage_trash.deleted_items_warning"), callout_class: "warning") %>
<%= admin_tabs(:admin_participatory_processes_menu).render %>
<div class="mb-6">
  <h1 class="item_show__header-title">
    <%= t "conferences.manage_trash.title", scope: "decidim.admin" %>
  </h1>
</div>
<div class="card" id="conferences">
  <%= admin_filter_selector %>
</div>
<%= render partial: "conferences_table", locals: { collection: deleted_collection, view: :deleted } %>
