<% add_decidim_meta_tags({
  description: strip_tags(translated_attribute(current_organization.description)),
  title: current_organization.name,
  url: request.original_url,
  twitter_handler: current_organization.twitter_handler,
  image_url: current_organization.homepage_image.url
}) %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="no-js">
  <head>
    <title><%= decidim_page_title %></title>
    <%= render partial: 'layouts/decidim/head' %>
  </head>

  <body>
    <%= render partial: 'layouts/decidim/impersonation_warning' %>
    <%= render partial: 'layouts/decidim/cookie_warning' %>

    <%= render 'layouts/decidim/wrapper' do %>
      <%= yield %>
    <% end %>

    <%= render partial: "decidim/shared/login_modal" %>
  </body>
</html>
