<!DOCTYPE html>
<html class="no-js">
  <head>
    <title><%= decidim_page_title %></title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', async: true %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= render partial: 'layouts/decidim/meta' %>
    <%= render partial: 'layouts/decidim/social_meta' %>
  </head>

  <body>
    <%= render partial: 'layouts/decidim/header' %>
    <%= yield %>
    <%= render partial: 'layouts/decidim/footer' %>
  </body>
</html>
