        </main>
      </div><!-- /.footer-separator -->
      <div class="main-footer">
        <div class="row">
          <div class="medium-8 large-6 large-offset-3 column main__footer__nav">
            <ul class="footer-nav">
              <li><%= link_to t('.about'), decidim.page_path("faq") %></a></li>
              <li><%= link_to t('.terms_of_use'), decidim.page_path("terms-and-conditions") %></a></li>
              <li><%= link_to t('.accessibility'), decidim.page_path("accessibility") %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mini-footer">
        <div class="row">
          <div class="columns">
            <a rel="license" class="cc-badge"
              href="http://creativecommons.org/licenses/by-sa/4.0/"
              target="_blank">
              <%= image_tag("decidim/cc-badge.png", alt: "Creative Commons License" ) %>
            </a>
            <%= t('.made_with_open_source').html_safe %>
          </div>
        </div>
      </div>
    </div><!--/.off-canvas-content-->
  </div><!--/.off-canvas-wrapper-inner-->
</div><!--/.off-canvas-wrapper-->
