<!-- REDESIGN_PENDING: Remove when redesigned is finished -->
<% if available_locales.length > 1 %>
  <div class="topbar__dropmenu language-choose">
    <ul class="dropdown menu" data-dropdown-menu
      data-autoclose="false"
      data-disable-hover="true"
      data-click-open="true"
      data-close-on-click="true"
      role="menubar">
      <li class="is-dropdown-submenu-parent" role="presentation">
        <%= link_to "#language-chooser-menu", id: "language-chooser-control", "aria-controls": "language-chooser-menu", "aria-haspopup": "menu", role: "menuitem" do %>
          <span aria-hidden="true"><%= t("name", scope: "locale") %></span>
          <span class="show-for-sr">
            <% available_locales.each do |locale| %>
              <span lang="<%= locale %>"><%= I18n.with_locale(locale) { t("layouts.decidim.language_chooser.choose_language") } %></span>
            <% end %>
          </span>
        <% end %>
        <ul class="menu is-dropdown-submenu" id="language-chooser-menu" role="menu" aria-labelledby="language-chooser-control">
          <% (available_locales - [I18n.locale.to_s]).each do |locale| %>
            <li role="presentation"><%= link_to locale_name(locale), decidim.locale_path(locale: locale), method: :post, role: "menuitem", lang: locale %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
<% end %>
