<div class="main-footer">
  <% if current_organization.official_img_footer.attached? %>
    <%= link_to current_organization.official_url, class: "main-footer__badge" do %>
      <%= image_tag current_organization.attached_uploader(:official_img_footer).path, alt: current_organization.name %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="medium-8 large-6 large-offset-3 column">
      <nav class="main__footer__nav">
        <ul class="footer-nav">
          <% organization_pages = current_organization.static_pages_accessible_for(current_user) %>
          <% if organization_pages.any? %>
            <% current_organization.static_page_topics.where(show_in_footer: true).each do |page_topic| %>
              <% topic_pages = page_topic.accessible_pages_for(current_user) %>
              <% if topic_pages.any? %>
                <li><%= link_to translated_attribute(page_topic.title), decidim.page_path(topic_pages.first) %></li>
              <% end %>
            <% end %>

            <% organization_pages.where(show_in_footer: true).each do |page| %>
              <li><%= link_to translated_attribute(page.title), decidim.page_path(page) %></li>
            <% end %>
          <% end %>
          <li><%= link_to t("layouts.decidim.footer.download_open_data"), decidim.open_data_download_path %></li>
          <li><a href="#" data-open="cc-modal"><%= t("layouts.decidim.footer.cookie_settings") %></a></li>
        </ul>
      </nav>
    </div>
    <%= render partial: "layouts/decidim/social_media_links" %>
  </div>
</div>
