<%= render partial: "layouts/decidim/meta_tags_config" %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="no-js">
  <head>
    <title><%= decidim_page_title %></title>
    <%= render partial: "layouts/decidim/redesigned_head" %>
  </head>

  <body class="text-black text-md form-defaults">
    <%= render partial: "layouts/decidim/impersonation_warning" %>
    <%= render partial: "layouts/decidim/data_consent_warning" %>
    <%= render partial: "layouts/decidim/omnipresent_banner" %>
    <%= render partial: "layouts/decidim/timeout_modal" %>
    <%= render partial: "layouts/decidim/offline_banner" %>

    <%= render "layouts/decidim/redesigned_wrapper" do %>
      <%= yield %>
    <% end %>

    <%= render partial: "decidim/shared/confirm_modal" %>
    <%= render partial: "decidim/shared/redesigned_login_modal" unless current_user %>
    <%= render partial: "decidim/shared/redesigned_authorization_modal" %>
    <%= render partial: "decidim/shared/redesigned_share_modal" %>
    <%= render partial: "layouts/decidim/redesigned_decidim_javascript" %>
  </body>
</html>
