<div class="layout-container">
  <header>
    <%= render partial: "layouts/decidim/admin_links" if current_user&.admin %>
    <%= render partial: "layouts/decidim/header/redesigned_main" %>
    <%= render partial: "layouts/decidim/header/redesigned_menu" %>
  </header>

  <div class="container">
    <%= display_flash_messages %>
  </div>

  <div data-content>
    <%= yield %>
  </div>

  <footer>
    <%= render partial: "layouts/decidim/footer/redesigned_main" %>
    <%= render partial: "layouts/decidim/footer/redesigned_mini" %>
  </footer>
</div>
