<nav>
  <h5 id="ea" class="h5 mb-4">Decidim</h5>
  <ul class="space-y-4 break-inside-avoid">
     <li class="font-semibold"><%= link_to "Processos" %></li>
     <li class="font-semibold"><%= link_to "Assemblees" %></li>
     <li class="font-semibold"><%= link_to "Iniciativas" %></li>
     <li class="font-semibold"><%= link_to "Votacions" %></li>
     <li class="font-semibold"><%= link_to "Consultes" %></li>
     <li class="font-semibold"><%= link_to "Jornades" %></li>
  </ul>
</nav>
<nav>
  <h5 class="h5 mb-4">Recursos</h5>
  <ul class="space-y-4 break-inside-avoid">
     <li class="font-semibold"><%= link_to "Activitat" %></li>
     <li class="font-semibold"><%= link_to "Trobades" %></li>
  </ul>
</nav>
<nav>
  <h5 class="h5 mb-4">Interaccions</h5>
  <ul class="space-y-4 break-inside-avoid">
     <li class="font-semibold"><%= link_to "Ajuda general" %></li>
     <li class="font-semibold"><%= link_to "Preguntes freqüents" %></li>
     <li class="font-semibold"><%= link_to "Tutorials de participació" %></li>
     <li class="font-semibold"><%= link_to "Accesibilitat" %></li>
     <li class="font-semibold"><%= link_to "Dades obertes" %></li>
  </ul>
</nav>
<nav>
  <h5 class="h5 mb-4">El meu compte</h5>
  <ul class="space-y-4 break-inside-avoid">
     <li class="font-semibold"><%= link_to "Configuració" %></li>
     <li class="font-semibold"><%= link_to "Perfil públic" %></li>
     <li class="font-semibold"><%= link_to "Notificacions" %></li>
     <li class="font-semibold"><%= link_to "Converses" %></li>
  </ul>
</nav>
