<%= render partial: "layouts/decidim/meta_tags_config" %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="no-js">
  <head>
    <title><%= decidim_page_title %></title>
    <%= render partial: "layouts/decidim/redesigned_head" %>
  </head>

  <body class="text-black text-md form-defaults">
    <%= render partial: "layouts/decidim/impersonation_warning" %>
    <%= render partial: "layouts/decidim/cookie_warning" %>
    <%= render partial: "layouts/decidim/omnipresent_banner" %>
    <%= render partial: "layouts/decidim/timeout_modal" %>
    <%= render partial: "layouts/decidim/offline_banner" %>

    <!-- DEBUG HELPER -->
    <script>function toggleCSS() {
      const node = document.querySelector("[rel=stylesheet][href*='/decidim_core']")
      node.getAttribute('disabled') === "true" ? node.removeAttribute('disabled') : node.setAttribute('disabled', "true")
    }</script>
    <div class="fixed inline-block top-4 z-10 bg-white border-2 p-2 my-2 -ml-2">
      <label class="cursor-pointer" for="tcss"><input type="checkbox" name="tcss" id="tcss" onclick="toggleCSS()">Hide legacy CSS stylesheet</label>
    </div>

    <%= render "layouts/decidim/redesigned_wrapper" do %>
      <%= yield %>
    <% end %>

    <%= render partial: "decidim/shared/confirm_modal" %>
    <%= render partial: "decidim/shared/login_modal" unless current_user %>
    <%= render partial: "decidim/shared/authorization_modal" %>
    <%= render partial: "layouts/decidim/redesigned_decidim_javascript" %>
  </body>
</html>
