<div class="reveal" id="timeoutModal" data-session-timeout="<%= Devise.timeout_in.to_i %>" data-reveal>
</div>
<div>
  <h2><%= t(".title") %></h2>
  <p><%= t(".body") %></p>

  <div class="reveal__buttons">
    <%= link_to t(".sign_out"), decidim.destroy_user_session_path, method: :delete, class: "button warning" %>
    <button id="continueSession" class="button primary" data-close aria-label="Keep session open" type="button">
      <%= t(".keep_session_open") %>
    </button>
  </div>
</div>
