<% if current_user && !current_user.remember_created_at %>
  <% timeout_time_seconds = Decidim.config.expire_session_after.to_i %>
  <% prevent_timeout_for = defined?(prevent_timeout_seconds) ? prevent_timeout_seconds : 0 %>
  <div class="reveal" id="timeoutModal" data-close-on-click="false" data-close-on-esc="false"
    data-seconds-until-timeout-path="<%= decidim.seconds_until_timeout_path %>"
    data-heartbeat-path="<%= decidim.heartbeat_path %>"
    data-session-timeout="<%= timeout_time_seconds %>"
    data-prevent-timeout-seconds="<%= prevent_timeout_for %>"
    data-session-timeout-interval="<%= Decidim.config.session_timeout_interval.to_i * 1000 %>" data-reveal>
    <h2><%= t(".title") %></h2>
    <p><%= t(".body", minutes: (timeout_time_seconds / 60) - 2) %></p>

    <div class="reveal__buttons">
      <%= link_to t(".sign_out"), decidim.destroy_user_session_path, method: :delete, class: "button warning" %>
      <%= link_to "", decidim.destroy_user_session_path(translation_suffix: :timed_out), method: :delete, id: "reveal-hidden-sign-out", class: "hide" %>
      <%= button_to t(".continue_session"),
        decidim.heartbeat_path,
        id: "continueSession",
        class: "button primary",
        remote: true,
        method: :post %>
    </div>
  </div>
<% end %>
