<% if current_user %>
  <div class="reveal" id="timeoutModal" data-reveal data-multiple-opened data-session-timeout="<%= Devise.timeout_in.to_i %>">
    <h2><%= t(".title") %></h2>
    <p><%= t(".body") %></p>

    <div class="reveal__buttons">
      <%= link_to t(".sign_out"), decidim.destroy_user_session_path, method: :delete, id: "reveal-sign-out", class: "button warning" %>
      <%= button_to t(".keep_session_open"),
        decidim.session_heartbeat_path,
        id: "continueSession",
        class: "button primary",
        remote: true,
        method: :post
      %>
    </div>
  </div>

  <%= javascript_include_tag "decidim/session_timeouter" %>
<% end %>
