<!-- TODO: Remove when redesigned is finished -->
<div class="show-for-medium" data-set="nav-search-holder">
  <div class="topbar__search js-append">
    <%= form_tag(decidim.search_path, method: :get, id: "form-search_topbar") do %>
      <div class="input-group">
        <%= label_tag :term do %>
          <span class="show-for-sr"><%= t("decidim.search.term_input_placeholder") %></span>
          <%= text_field_tag :term, nil, class: "input-group-field m-none", placeholder: t("decidim.search.term_input_placeholder"), title: t("decidim.search.term_input_placeholder") %>
        <% end %>
        <div class="input-group-button">
          <!-- The button wrapper is important for Safari and Firefox -->
          <div class="button-wrapper">
            <%= submit_tag icon("magnifying-glass", aria_label: t("decidim.search.term_input_placeholder"), role: "img"), title: t("decidim.search.term_input_placeholder"), id: :submit, class: "button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
