<%
if respond_to?(:current_component) && current_component && can_be_managed?(current_component)
  edit_link(
    manage_component_path(current_component),
    :read,
    :component,
    component: current_component,
    current_participatory_space:
  )
end
%>

<div class="layout-container">
  <header>
    <%= render partial: "layouts/decidim/admin_links" if current_user&.admin %>
    <%= render partial: "layouts/decidim/header/main" %>
    <% if display_flash_messages.present? %>
      <div class="container">
        <%= display_flash_messages %>
      </div>
    <% end %>
    <%= render partial: "layouts/decidim/header/menu" unless controller_name == "homepage" %>
  </header>

  <div id="content" data-content>
    <%= yield %>
  </div>

  <footer>
    <%= render partial: "layouts/decidim/footer/main" %>
    <%= render partial: "layouts/decidim/footer/mini" %>
  </footer>
</div>
