<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= tag :meta, "http-equiv": "Content-Type", content: "text/html; charset=utf-8" %>
    <%= tag :meta, name: "viewport", content: "width=device-width" %>
    <%= stylesheet_pack_tag "decidim_email" %>
  </head>

  <body <%= @preview ? "class=preview" : nil %>>
    <!-- <style> -->
    <table class="body">
      <% if content_for?(:see_on_website) %>
        <table class="container">
          <th class="small-12 first columns headnote float-right">
            <%= yield(:see_on_website) %>
          </th>
        </table>
      <% end %>
      <tr>
        <td class="float-center" align="center" valign="top">
          <center>
            <%= yield %>

            <% if content_for?(:note) or content_for?(:unsubscribe) %>
              <table class="container">
                <tr>
                  <td>
                    <table class="row">
                      <th class="expander"></th>
                      <th class="small-12 first last columns footnote">
                        <center>
                          <%= yield(:note) if content_for?(:note) %>
                          <%= yield(:unsubscribe) if content_for?(:unsubscribe) %>
                        </center>
                      </th>
                    </table>
                  </td>
                </tr>
              </table>
            <% end %>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
