<%= render "layouts/decidim/application" do %>
<main class="wrapper">
  <div class="process-header process-header--home row column">
    <div class="row column process-header__main"
      style="background-image:url(<%= current_participatory_process.banner_image.url %>);">
      <div class="process-header__container row">
        <div class="columns mediumlarge-9 process-header__info">
          <h1 class="text-highlight heading1">
            <%= translated_attribute(current_participatory_process.title) %>
          </h1>
          <h2 class="text-highlight heading4">
            <span class="process-header__hashtag">
              <%= current_participatory_process.hashtag %>
            </span>
            <%= translated_attribute(current_participatory_process.subtitle) %>
          </h2>
        </div>
      </div>
    </div>
    <% if current_participatory_process.features.any? %>
      <div class="row column">
        <div class="process-nav">
          <div class="row column process-nav__content">
            <ul>
              <% current_participatory_process.features.each do |feature| %>
                <li>
                  <%= link_to translated_attribute(feature.name), decidim.feature_path(current_participatory_process, feature), class: "process-nav__link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row column">
    <div class="row">
      <div class="columns medium-7 mediumlarge-8">
        <div class="section">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</main>
<% end %>
