<%= render "layouts/decidim/application" do %>
  <div class="wrapper">
    <%= render partial: "layouts/decidim/process_header" %>
    <%= yield %>
  </div>
  <% if content_for? :expanded %>
    <div class="expanded">
      <div class="wrapper wrapper--inner">
        <div class="row">
          <%= yield :expanded %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if try(:current_feature) %>
  <%= current_feature.manifest.actions.each do |action| %>
    <%= action_authorization_modal(action) %>
  <% end %>
<% end %>

<% provide :meta_image_url, current_participatory_process.banner_image.url %>
