<!DOCTYPE html>
<html class="no-js">
  <head>
    <title><%= decidim_page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag "decidim_core" %>
  </head>

  <body class="widget">
    <% if content_for(:header) == "false" %>
    <% elsif content_for?(:header) %>
      <%= content_for(:header) %>
    <% else %>
      <div class="participatory-process">
        <%= link_to translated_attribute(current_participatory_space.title), resource_locator(current_participatory_space).path, target: "_blank" %>
      </div>
    <% end %>
    <div class="row collapse">
      <div class="column">

        <%= yield %>

      </div>
    </div>
    <div class="organization">
      <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
    </div>

    <%= javascript_pack_tag "decidim_core", defer: false %>
    <%= render partial: "layouts/decidim/js_configuration" %>
    <%= javascript_pack_tag "decidim_widget" %>
    <%= render partial: "layouts/decidim/cors" if Decidim.cors_enabled %>
  </body>
</html>
