<div class="budget-list__text card__text">
  <div>
    <%= link_to resource_path, class: "card__link" do %>
      <h5 class="card__title budget-list__title">
        <%= cell("decidim/budgets/project_selected_status", model) %>

        <%= resource_title %>
      </h5>
    <% end %>

    <div class="show-for-medium">
      <%= cell "decidim/budgets/project_tags", model, context: { extra_classes: ["tags--project"] } %>
    </div>

    <div class="budget-list__data__number budget-list__number hide-for-medium">
      <%= cell("decidim/budgets/project_votes_count",
      model,
      layout: :one_line) %>

      <%= cell("decidim/budgets/project_voted_hint", model, class: "margin-left-1") if current_order_checked_out? && resource_added? %>
    </div>
  </div>
</div>
