<div class="budget-list__data <%= data_class %>">
  <% if voting_finished? %>
    <%= project_data_final %>
  <% else %>
    <%= project_data_voted_check if current_order_checked_out? && resource_added? %>
    <%= project_data_numbers %>
    <%= project_data_vote_button unless current_order_checked_out? %>
  <% end %>
</div>
