<div class="budget-list__data <%= data_class %>">
  <% if voting_finished? %>
    <%= project_data_voted if current_order_checked_out? && resource_added? %>
  <% else %>
    <%= project_data_number %>
    <%= project_data_vote_button %>
  <% end %>
  <%= project_data_votes %>
 </div>
