<div class="budget-list__text">
  <div>
    <%= link_to resource_path, class: "card__link" do %>
      <h5 class="card__title budget-list__title">
        <%= resource_title %>
      </h5>
    <% end %>

    <div class="show-for-medium">
      <%= cell "decidim/budgets/project_tags", model, context: { extra_classes: ["tags--project"] } %>
    </div>

    <% if voting_finished? %>
      <%= project_text_votes %>
    <% else %>
      <%= project_text_number %>
    <% end %>
  </div>
</div>
