<div class="card__list-text">
  <h3 class="card__list-title">
    <%= cell("decidim/budgets/project_selected_status", model) %>
    <%= resource_title %>
  </h3>

  <div class="card__list-metadata">
    <% if current_order_checked_out? && resource_added? %>
      <span>
        <%= icon "check-double-line" %>
        <%= cell("decidim/budgets/project_votes_count", model, layout: :one_line) %>
      </span>
    <% end %>
    <%#= cell "decidim/budgets/project_tags", model, context: { extra_classes: ["tags--project"] } %>
  </div>
  <%= cell("decidim/budgets/project_voted_hint", model, class: "margin-left-1") if current_order_checked_out? && resource_added? %>
</div>
