<%= content_tag :div, id: "comment_#{comment.id}", class: "comment relative", data: { comment_id: comment.id } do %>
  <% if comment.hidden? %>
    <%= render partial: "decidim/comments/comments/moderated", formats: [:html], locals: { comment: } %>
  <% elsif comment.deleted? %>
    <%= render DeletedCommentComponent.new(comment) %>
  <% else %>
    <div class="comment__header">
      <span class="font-bold">
        <%== cell("decidim/author", author_presenter) %>
      </span>
      <span class="text-gray-2 text-sm">
        <%= time_tag created_at, time_ago_in_words(created_at) %>
      </span>
      <% if edited? %>
        <span class="label">
          <%= t("decidim.components.comment.edited") %>
        </span>
      <% end %>

      <div class="relative ml-auto">
        <button id="dropdown-trigger-<%= context_menu_id %>" data-component="dropdown" data-target="dropdown-menu-<%= context_menu_id %>">
          &#8230;
        </button>

        <div id="dropdown-menu-<%= context_menu_id %>" aria-hidden="true">
          <ul class="dropdown dropdown__bottom divide-y divide-gray-3 px-4">
            <% unless reloaded? %>
              <li>
                <%= cell("decidim/report_button", comment, only_button: true, button_classes: "dropdown__item flex-row-reverse", modal_id: "flagModalComment#{comment.id}") %>
              </li>
            <% end %>
            <li>
              <%= link_to "#{commentable_path("commentId" => comment.id)}#comment_#{comment.id}", target: "_blank", data: { "external-link": "false" }, class: "dropdown__item", title: t("decidim.components.comment.single_comment_link_title") do %>
                <%= icon "share-line" %>
                <span><%= t("decidim.components.comment.single_comment_link_title") %></span>
              <% end %>
            </li>
            <% if comment.authored_by?(current_user) %>
              <li>
                <button type="button" class="dropdown__item" data-dialog-open="<%= "editCommentModal#{comment.id}" %>" title="<%= t("decidim.components.comment.edit") %>" aria-controls="<%= "editCommentModal#{comment.id}" %>" aria-haspopup="dialog" tabindex="2">
                  <%= icon "edit-line" %>
                  <span><%= t("decidim.components.comment.edit") %></span>
                </button>
              </li>
              <li>
                <%= link_to comment_path, remote: true, method: :delete, class: "dropdown__item", data: { confirm: t("decidim.components.comment.confirm_destroy") }, tabindex: 3 do %>
                  <%= icon "delete-bin-line" %>
                  <span><%= t("decidim.components.comment.delete") %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="comment__content">
      <%= render AlignmentBadgeComponent.new(alignment) %>
      <div class="editor-content">
        <%= formatted_body %>
      </div>
    </div>

    <div class="comment__footer" data-component="accordion" id="accordion-<%= comment.id %>">
      <div class="comment__footer-grid">
        <%= render ActionsComponent.new(comment) %>
        <%= render VotesComponent.new(comment) %>
      </div>
      <% if can_reply? %>
        <div id="panel-<%= reply_id %>" class="add-comment comment__additionalreply">
          <%== cell("decidim/comments/comment_form", comment, root_depth:, order:) %>
        </div>
      <% end %>
      <div id="comment-<%= comment.id %>-replies" class="<%= "comment-reply" if has_replies_in_children? %>">
        <%= render Decidim::Comments::SingleComment::Component.with_collection(replies, root_depth: , order: , reloaded: reloaded?) if has_replies_in_children? %>
      </div>
    </div>
  <% end %>
  <% if current_user.present? %>
    <%= cell("decidim/report_button", comment, modal_id: "flagModalComment#{comment.id}").flag_modal.html_safe %>
  <% end %>

  <% if comment.authored_by?(current_user) %>
    <%= cell("decidim/comments/edit_comment_modal_form", comment) %>
  <% end %>
<% end %>
