<div class="add-comment">
  <h4 class="section-heading"><%= t("decidim.components.add_comment_form.title") %></h4>

  <% if user_signed_in? %>
    <div class="opinion-toggle button-group">
      <button class="button tiny button--muted opinion-toggle--ok">
        <%= icon "thumb-up", role: "none presentation" %>
      </button>
      <button class="button tiny button--muted opinion-toggle--meh is-active">
        <%= t("decidim.components.add_comment_form.opinion.neutral") %>
      </button>
      <button class="button tiny button--muted opinion-toggle--ko">
        <%= icon "thumb-down", role: "none presentation" %>
      </button>
    </div>
    <%= form_for(comment_form, url: decidim_comments.comments_path, method: :post) do |form| %>
      <div class="field">
        <label class="show-for-sr" for="<%= add_comment_id %>">
          <%= t("decidim.components.add_comment_form.form.body.label") %>
        </label>
        <div class="hashtags__container">
          <%= form.text_area(
            :body,
            id: add_comment_id,
            rows: 4,
            maxlength: comments_max_length,
            required: true,
            placeholder: t("decidim.components.add_comment_form.form.body.placeholder"),
            data: {
              tribute: "true",
              remaining_characters: "##{add_comment_id}-remaining-characters"
            }
          ) %>
        </div>
        <button type="submit" class="button button--sc" disabled="disabled"><%= t("decidim.components.add_comment_form.form.submit") %></button>
        <span id="<%= add_comment_id %>-remaining-characters" class="remaining-character-count"></span>
      </div>
    <% end %>
  <% else %>
    <p>
      <span>
        <%== t(
          "decidim.components.add_comment_form.account_message",
          sign_in_url: decidim.new_user_session_path,
          sign_up_url: decidim.new_user_registration_path
        ) %>
      </span>
    </p>
  <% end %>
</div>
