<div class="comment-order-by">
  <%= form_with url: decidim_comments.comments_path(commentable_gid: model.to_signed_global_id.to_s), method: :get, local: true do %>
    <label for="order-select" class="hidden">Order comments by</label>
    <select name="order" id="order-select" class="comment-order-by__dropdown" onchange="this.form.submit()">
      <% available_orders.each do |order_value| %>
        <option value="<%= order_value %>" <%= "selected" if order_value == order %>>
          <%= t("decidim.components.comment_order_selector.order.#{order_value}") %>
        </option>
      <% end %>
    </select>
    <input type="hidden" name="commentable_gid" value="<%= model.to_signed_global_id.to_s %>">
    <noscript>
      <%= submit_tag "Update Order" %>
    </noscript>
  <% end %>
</div>
