<div class="comment-order-by">
  <%= form_with url: "#" do %>
    <select id="order" aria-label="Order" data-order-comment-select="true">
      <option value="" <%= "disabled selected hidden" %>> <%= t("decidim.components.comment.sort_by") %> </option>
       <% available_orders.each do |order_value| %>
        <option
           value="<%= order_value %>"
           <%= "selected" if order_value == order %>
           <% if order == nil && order_value == "older" %>
             <%="style='font-weight: bold;'"%>
           <% else %>
              <%="style=''"%>
            <% end %>
           data-order-comment-url="<%= decidim_comments.comments_path(commentable_gid: model.to_signed_global_id.to_s, order: order_value, reload: 1) %>">
           <%= t("decidim.components.comment_order_selector.order.#{order_value}") %>
        </option>
       <% end %>
    </select>
  <% end %>
</div>
