<%= content_tag :div, id: node_id, data: { decidim_comments: comments_data } do %>
  <div class="columns large-9" id="comments">
    <div class="comments">
      <div class="row collapse order-by">
        <h2 class="order-by__text section-heading"><%= t("decidim.components.comments.title", count: comments.count) %></h2>
        <%= render :order_control %>
      </div>
      <%= single_comment_warning %>
      <%= blocked_comments_warning %>
      <% comments.each do |comment| %>
        <%= cell("decidim/comments/comment_thread", comment) %>
      <% end %>
      <%= render :add_comment %>
      <%= user_comments_blocked_warning %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag("decidim/comments/comments") %>
