<div class="card" id="answers">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t ".title", total: @total %>
      <div class="button--title">
        <%= link_to t("actions.back", scope: "decidim.forms.admin.questionnaires"), questionnaire_url, class: "button tiny button--title new" %>
      </div>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th>#</th>
            <th><%= first_table_th(@participants.first) %></th>
            <th><%= t("user_status",   scope: "decidim.forms.user_answers_serializer") %></th>
            <th><%= t("ip_hash",       scope: "decidim.forms.user_answers_serializer") %></th>
            <th><%= t("completion",    scope: "decidim.forms.user_answers_serializer") %></th>
            <th><%= t("created_at",    scope: "decidim.forms.user_answers_serializer") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @participants.each_with_index do |participant, idx| %>
            <tr>
              <td><%= idx + 1 + page_offset %></td>
              <td>
                <% if allowed_to? :show, :questionnaire_answers %>
                  <%= link_to first_table_td(participant), questionnaire_participant_answers_url(participant.session_token) %>
                <% else %>
                  <%= first_table_td(participant) %></td>
                <% end %>
              <td><%= participant.status %></td>
              <td><%= participant.ip_hash %></td>
              <td><%= display_percentage(participant.completion) %></td>
              <td><%= l participant.answered_at, format: :short %></td>
              <td class="table-list__actions">
                <% if allowed_to? :show, :questionnaire_answers %>
                  <%= icon_link_to "eye", questionnaire_participant_answers_url(participant.session_token), t("actions.show", scope: "decidim.forms.admin.questionnaires.answers"), class: "action-icon--eye" %>
                <% end %>
                <% if allowed_to? :export_response, :questionnaire_answers %>
                  <%= icon_link_to "data-transfer-download", questionnaire_export_response_url(participant.session_token), t("actions.export", scope: "decidim.forms.admin.questionnaires.answers"), class: "action-icon--data-transfer-download" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @query, theme: "decidim" %>
    </div>
  </div>
</div>
