<div class="card">
  <div class="card-divider">
    <% if allowed_to? :create, :static_page %>
      <h2 class="card-title">
        <% if topic %>
          <%= translated_attribute(topic.title) %>
          <%= link_to t(".destroy"), [topic], class: "button tiny button--title destroy", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
          <%= link_to t(".edit"), [:edit, topic], class: "button tiny button--title new" %>
        <% else %>
          <%= t(".without_topic") %>
        <% end %>
      </h2>
    <% end %>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <% if pages.any? %>
        <table class="table-list">
          <thead>
            <tr>
              <th><%= t("models.static_page.fields.title", scope: "decidim.admin") %></th>
              <th><%= t("models.static_page.fields.created_at", scope: "decidim.admin") %></th>
              <th><%= t("last_notable_change", scope: "decidim.admin.static_pages.index") %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% pages.each do |page| %>
              <tr>
                <td>
                  <%= translated_attribute(page.title) %>
                </td>
                <td>
                  <%= l page.created_at, format: :short %>
                </td>
                <td>
                  <% if allowed_to? :update_notable_changes, :static_page, static_page: page %>
                    <%= @tos_version_formatted %>
                  <% end %>
                </td>
                <td class="table-list__actions">
                  <% if allowed_to? :update, :static_page, static_page: page %>
                    <%= icon_link_to "pencil", [:edit, page], t("actions.edit", scope: "decidim.admin"), class: "action-icon--edit" %>
                  <% end %>

                  <%= icon_link_to "eye", decidim.page_path(page), t("actions.view", scope: "decidim.admin.static_pages"), class: "action-icon--preview" %>

                  <% if allowed_to? :destroy, :static_page, static_page: page %>
                    <%= icon_link_to "circle-x", page, t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p><em><%= t(".empty") %></em></p>
      <% end %>
    </div>
  </div>
</div>
