<% add_decidim_page_title(t("pages", scope: "decidim.admin.titles")) %>
<div class="flex items-center gap-x-4 mb-4">
  <%= link_to t("static_page_topics.new.create", scope: "decidim.admin"), [:new, :static_page_topic], class: "button button__sm md:button__lg button__secondary expanded small new" %>
  <%= link_to t("static_pages.new.create", scope: "decidim.admin"), [:new, :static_page], class: "button button__sm md:button__lg button__secondary expanded small new" %>
  <% @topics.each do |topic| %>
    <div class="ml-auto">
      <% if allowed_to? :create, :static_page %>
        <%= link_to t("static_pages.topic.destroy", scope: "decidim.admin"), [topic], class: "button button__sm button__secondary destroy", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
        <%= link_to t("static_pages.topic.edit", scope: "decidim.admin"), [:edit, topic], class: "button button__sm button__secondary new" %>
      <% end %>
    </div>
  <% end %>
</div>

<% @topics.each do |topic| %>
  <%= render partial: "topic", locals: { pages: topic.pages, topic: } %>
<% end %>

<% if @orphan_pages.any? %>
  <%= render partial: "topic", locals: { pages: @orphan_pages, topic: nil } %>
<% end %>
