<% add_decidim_page_title(t("participatory_process_steps.index.title", scope: "decidim")) %>

<div class="steps">
  <div class="row column">
    <div class="row">
      <div class="columns mediumlarge-9 large-7">
        <div class="section">
          <%= link_to participatory_process_path(current_participatory_space), class: "small hollow" do %>
            <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
            <%= t(".back_to_process") %>
          <% end %>

          <h3 class="section-heading"><%= t("participatory_process_steps.index.process_steps", scope: "decidim") %></h3>
          <%= render partial: "timeline" %>
        </div>
      </div>
    </div>
  </div>
</div>
