<div class="category-wrapper" data-id="<%= category[:id] %>">
  <div class="category-row">
    <button class="cc-title">
      <span class="h5 cc-category-title">
        <strong><%= category[:title] %></strong>
      </span>
    </button>

    <div class="cc-switch">
      <input
        class="switch-input"
        <%= %(checked="checked") if category[:mandatory] %>
        id="cc-<%= category[:id] %>"
        type="checkbox"
        name="<%= category[:id] %>"
        <%= "disabled" if category[:mandatory] %>>
      <label class="switch-paddle" for="cc-<%= category[:id] %>">
        <span class="show-for-sr"><%= t("layouts.decidim.cookie_consent.modal.toggle", cookie_category: category[:title]) %></span>
      </label>
    </div>
  </div>
  <div class="cc-description hide">
    <p><%= category[:description] %></p>
  </div>
</div>
