<div id="cc-dialog-wrapper" class="hide" role="region">
  <div class="cc-dialog">
    <div class="cc-content">
      <div class="h5">
        <%= t("layouts.decidim.cookie_consent.dialog.title") %>
      </div>
      <div>
        <%= t("layouts.decidim.cookie_consent.dialog.description") %>
      </div>
    </div>
    <div class="cc-button-wrapper">
      <button id="cc-dialog-accept" class="button">
        <%= t("layouts.decidim.cookie_consent.dialog.accept_all") %>
      </button>
      <button id="cc-dialog-reject" class="button hollow">
        <%= t("layouts.decidim.cookie_consent.dialog.essential_only") %>
      </button>
      <button id="cc-dialog-settings" class="button clear" data-open="cc-modal">
        <%= t("layouts.decidim.cookie_consent.dialog.cookie_settings") %>
      </button>
    </div>
  </div>
</div>
