<div class="cc-dialog-wrapper">
  <div class="cc-dialog">
    <div class="cc-content">
      <div class="h2">
        <%= t("layouts.decidim.cookie_consent.dialog.title") %>
      </div>
      <div>
        <%= t("layouts.decidim.cookie_consent.dialog.description") %>
      </div>
    </div>
    <div class="cc-button-wrapper">
      <button class="button large">
        <%= t("layouts.decidim.cookie_consent.dialog.accept_all") %>
      </button>
      <button class="button large">
        <%= t("layouts.decidim.cookie_consent.dialog.necessary_only") %>
      </button>
      <button class="button large">
        <%= t("layouts.decidim.cookie_consent.dialog.cookie_settings") %>
      </button>
    </div>
  </div>
</div>
