<% if activities.length == 0 %>
  <p><%= t "decidim.user_activity.index.no_activities_warning" %></p>
<% else %>
  <div class="grid grid-cols-8 gap-12">
    <div class="col-span-2 space-y-4">
      <%
      buttons = [
        ["apps-2-line", t("decidim.components.component_order_selector.order.all_types")],
        ["chat-new-line", t("decidim.components.component_order_selector.order.proposal")],
        ["discuss-line", t("decidim.components.component_order_selector.order.debate")],
        ["chat-1-line", t("decidim.components.component_order_selector.order.comment")],
        ["heart-line", "like it"]
      ]

      buttons.each do |btn| %>
        <a href="" class="flex gap-2 p-1.5 group rounded hover:bg-background-5">
          <%= icon btn[0], class: "w-4 h-4 text-gray group-hover:text-secondary fill-current" %>
          <span class="text-sm text-gray-2 first-letter:uppercase group-hover:text-secondary group-hover:font-semibold"><%= btn[1] %></span>
        </a>
      <% end %>
    </div>

    <div class="col-span-6 divide-y divide-border-3 -mt-4">
      <%= cell "decidim/activities", activities %>
    </div>
  </div>

  <div class="flex justify-between py-16">
    <%= render partial: "decidim/shared/results_per_page.html" %>

    <%= decidim_paginate activities %>
  </div>
<% end %>
