<div class="profile__activity">
    <%= redesigned_filter_form_for context[:filter], url_for, class: "new_filter profile__activity__filter-container" do |form| %>
      <%# REDESIGN_PENDING: allow passing a default element checked %>
      <%= form.collection_radio_buttons(
            :resource_type,
            filter_items_for_radiobuttons,
            :name,
            :text
          ) do |builder|
              builder.label { builder.radio_button(class: "reset-defaults", hidden: true) + content_tag(:div, builder.text, class: "profile__activity__filter") }
        end %>
    <% end %>
  <% if activities.length == 0 %>
    <p><%= t "decidim.user_activity.index.no_activities_warning" %></p>
  <% else %>
    <div class="profile__activity__container" id="activities-container">
      <%= cell "decidim/activities", activities %>
    </div>
  <% end %>
</div>

<div id="decidim-paginate-container">
  <%= decidim_paginate activities %>
</div>
