<div class="user-activity">
  <div id="activities" class="columns small-12">
    <% if activities.length == 0 %>
      <div class="callout warning">
        <%= t "decidim.user_activity.index.no_activities_warning" %>
      </div>
    <% else %>
      <div class="row">
        <%#= cell "decidim/filters" %>

        <%= filter_form_for context[:filter] do |form| %>
          <div class="columns mediumlarge-6 large-5">
            <%= form.custom_select :resources,
                                   :resource_type,
                                   Decidim::ActionLog.all,
                                   legend_title: "Show:",
                                   label: false,
                                   selected: context[:filter].resource_type,
                                   include_blank: "All types" %>
          </div>
        <% end %>
      </div>
      <div class="row" id="activities-container">
        <%= cell "decidim/activities", activities %>
      </div>

      <div class="row" id="decidim-paginate-container">
        <%= decidim_paginate activities %>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "decidim/filters" %>
