<div class="profile__activity">

  <%# REDESIGN_PENDING: Integrate form %>
  <form action="#" method="get" data-remote="true" class="profile__activity__filter-container">
    <% filter_items_for_radiobuttons.each_with_index do |filter, ix| %>
      <label for="profile_filter-<%= ix %>">
        <input type="radio" name="profile_filter" id="profile_filter-<%= ix %>" value="<%= filter.name %>" class="reset-defaults" hidden>
        <%# REDESIGN_PENDING: Replace the random with the current match %>
        <div class="profile__activity__filter">
          <%= filter.text %>
        </div>
      </label>
    <% end %>
  </form>

  <% if activities.length == 0 %>
    <p><%= t "decidim.user_activity.index.no_activities_warning" %></p>
  <% else %>
    <div class="profile__activity__container" id="activities-container">
      <%= cell "decidim/activities", activities %>
    </div>
  <% end %>
</div>

<div id="decidim-paginate-container">
  <%= decidim_paginate activities %>
</div>
