<%= link_to back_path, class: "button button__text-secondary mb-8" do %>
  <%= icon "arrow-left-line" %>
  <span><%= t("back", scope: "devise.shared.links") %></span>
<% end %>

<h2 class="h4 conversation__title">
  <%= t("decidim.messaging.conversations.show.chat_with") %>
</h2>

<div class="conversation__participants">
  <% interlocutors.each do |participant| %>
    <%= cell "decidim/author", present(participant) %>
  <% end %>
</div>
