<div class="conversation">
  <%= render :conversation_header %>

  <div id="messages" class="space-y-6" data-scroll-last-child>
    <% user_grouped_messages.each do |sender, messages| %>
      <%= render view: "messages", locals: { sender:, messages: } %>
    <% end %>
  </div>

  <div class="conversation__reply-container">
    <% if conversation.with_deleted_users?(user) %>
      <%= cell("decidim/announcement", t("decidim.messaging.conversations.show.deleted_accounts"), callout_class: "warning") %>
    <% elsif conversation.accept_user?(user) %>
      <%= render :reply %>
    <% else %>
      <%= cell("decidim/announcement", t("decidim.messaging.conversations.show.not_allowed"), callout_class: "warning") %>
    <% end %>
  </div>
</div>
