<section id="last_activity" class="home__section">
  <div class="home__section-header">
    <h2 class="home__section-title">
      <%= t("decidim.content_blocks.last_activity.title") %>
    </h2>
    <%= link_to last_activities_path, class: "button button__sm button__text-secondary" do %>
        <%= t("view_all", scope: "decidim.content_blocks.last_activity") %>
        <%= icon "arrow-right-line", class: "fill-current" %>
      <% end %>
  </div>
  <% valid_activities.each_slice(4) do |column_activities| %>
    <%= cell "decidim/activities", column_activities %>
  <% end %>
</section>
