<div class="title-action">
  <h2 id="results-count" class="title-action__title section-heading">
    <%= heading_leaf_level_results(total_count) %>
  </h2>
</div>

<div class="row">
  <div id="results" class="columns">
    <div class="card card--action card--list">
      <% results.each do |result| %>
        <div class="card--list__item">
          <%= icon "actions", class: "card--list__icon", role: "img", "aria-hidden": true, remove_icon_class: true %>

          <%= link_to result_path(result), class: "card--list__text card__link card__link--block" do %>
            <h4 class="card--list__heading">
              <%= translated_attribute(result.title) %>
            </h4>

            <div class="text-small card--meta">
              <% if result.start_date %>
                <strong><%= t("models.result.fields.start_date", scope: "decidim.accountability") %></strong>
                <span><%= l result.start_date, format: :decidim_short %></span>
              <% end %>

              <% if result.end_date %>
                <strong><%= t("models.result.fields.end_date", scope: "decidim.accountability") %></strong>
                <span><%= l result.end_date, format: :decidim_short %></span>
              <% end %>

              <% if result.status %>
                <strong><%= t("models.result.fields.status", scope: "decidim.accountability") %></strong>
                <span><%= translated_attribute(result.status.name) %></span>
              <% end %>
            </div>
          <% end %>

          <% if component_settings.display_progress_enabled? && result.progress.present? %>
            <div class="card--list__data">
              <span class="card--list__data__number"><%= display_percentage result.progress %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= decidim_paginate results, order_start_time: params[:order_start_time], with_scope: params.dig(:filter, :with_scope) %>
  </div>
</div>
