<div class="intro section">
  <div class="row">
    <div class="small-12 medium-7 columns">
      <%== translated_attribute feature_settings.intro %>
    </div>

    <div class="small-12 medium-5 columns">
      <div class="progress-level">
        <p><%= t(".global_status") %></p>

        <% if progress_calculator(current_scope, nil).present? %>
          <div class="progress">
            <div class="progress-meter" style="width:<%= progress_calculator(current_scope, nil) %>%"></div>
          </div>

          <div class="progress-figure">
            <%= display_percentage progress_calculator(current_scope, nil) %>
          </div>
        <% end %>

        <%= render partial: "decidim/accountability/shared/extra" %>
      </div>
    </div>
  </div>
</div>
