<%= render layout: "layouts/decidim/shared/layout_item", locals: nav_paths do %>
  <%= cell("decidim/accountability/project", result) %>

  <div class="mt-8 accountability__project-actions">
    <%# REDESIGN_PENDING: integrate button %>
    <button class="button button__sm button__transparent-secondary">
      <%= t(:comment, scope: "decidim.components.accountability.actions") %>
      <%= icon "chat-1-line", class: "fill-current flex-none" %>
    </button>
    <%= cell "decidim/tags", result %>
  </div>

  <%# REDESIGN_PENDING: Both comments and attachments sections are pending %>
  <%= comments_for result %>
  <%= attachments_for result %>

  <% content_for :aside do %>
    <div class="accountability__project-aside">
      <% if component_settings.display_progress_enabled? %>
        <%= cell(
          "decidim/accountability/status",
          result,
          title: t("models.result.fields.progress", scope: "decidim.accountability"),
          extra_classes: "accountability__status__project"
        ) %>
      <% end %>

    <%= cell("decidim/accountability/result_metadata", result, template: :project_aside) %>
    </div>
  <% end %>
  <% content_for :item_footer do %>
    <%= comments_for result %>
    <%= cell "decidim/accountability/result_metadata", result, template: :show_footer %>
  <% end %>
<% end %>
