<%
  tabs = []

  tabs << ["project_timeline", t("decidim.accountability.results.timeline.title"), "route-line"] if result.timeline_entries.any?
  tabs << ["project_proposals", t("activemodel.attributes.result.proposals"), "chat-new-line"]

  panels = []

  panels << ["project_timeline", { result: result }] if result.timeline_entries.any?
  panels << ["project_proposals", {}]
%>

<%# REDESIGN_PENDING: Remove the mock content once integrated in the index view %>
<!-- MOCK CONTENT -->
<div class="container">
  <button class="button button__lg button__primary" data-drawer-open>Trigger</button>
</div>
<!-- end MOCK CONTENT -->

<% content_for :aside do %>

  <div class="accountability__project-aside">
    <%= render partial: "project_aside", locals: { result: result } %>
  </div>

<% end %>

<%= render layout: "layouts/decidim/shared/drawer" , locals: { next: "https://www.." , prev: "https://www.." } do %>

  <h2 class="h2 decorator"><%= translated_attribute result.title %></h2>

  <div class="editor-content mt-8">
    <%== translated_attribute result.description %>
  </div>

  <div class="mt-8" data-component="accordion" data-multiselectable="false" data-collapsible="false">
    <ul class="tab-x-container">
      <% tabs.each_with_index do |tab, i| %>
        <li class="tab-x" data-controls="panel-<%= tab[0] %>" data-open="<%= "true" if i == 0 %>"><%= icon tab[2], class: "text-gray fill-current" %><%= tab[1] %></li>
      <% end %>
    </ul>

    <% panels.each do |panel| %>
      <div id="panel-<%= panel[0] %>" class="py-8">
        <%= render partial: panel[0], locals: panel[1] %>
      </div>
    <% end %>
  </div>

  <div class="mt-8">
    <%= cell "decidim/tags", result %>
  </div>

  <%= comments_for result %>

<% end %>
