<% items = filter_items_for(participatory_space: current_participatory_space, category:) %>
<div class="accountability__filters">
  <%= render partial: "search" %>

  <% if current_component.has_subscopes? %>
    <div class="filter-container">
      <button id="dropdown-trigger-accountability" data-component="dropdown" data-target="dropdown-menu-accountability" data-auto-close="true" data-disabled-md="true">
        <% items.each do |item| %>
          <%= content_tag :span, class: "#{"is-active" if item[:active]}" do %>
            <span class="sr-only"><%= item[:sr_text] %></span>
            <%= icon item[:icon] %>
            <span><%= item[:text] %></span>
          <% end %>
        <% end %>
        <%= icon "arrow-down-s-line", class: "w-8 h-8 flex-none text-secondary fill-current" %>
        <%= icon "arrow-up-s-line", class: "w-8 h-8 flex-none text-secondary fill-current" %>
      </button>
      <ul id="dropdown-menu-accountability" data-scope-filters>
        <% items.each do |item| %>
          <li>
            <%= link_to item[:url], class: "filter#{" is-active" if item[:active]}" do %>
              <span class="sr-only"><%= item[:sr_text] %></span>
              <%= icon item[:icon] %>
              <span><%= item[:text] %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
