<style>
  /* TODO: delete this style block */
  aside{ flex-direction: column;}
</style>

<div class="w-full">
  <div class="filter-container">
    <button data-component="dropdown" data-target="dropdown-menu">
      <%= icon "arrow-up-s-line", class: "w-4 h-4 flex-none text-gray fill-current" %>
      <%= icon "arrow-down-s-line", class: "w-4 h-4 flex-none text-gray fill-current" %>
      <span><%= t("decidim.searches.filters_small_view.filter") %></span>
    </button>
    <ul id="dropdown-menu" data-scope-filters>
      <%
        # REDESIGN_PENDING: Move this logic to the controller

        items = []

        items << [
          url_for(filter: { with_category: category.try(:id) }),
          t("results.filters.all", scope: "decidim.accountability"),
          "apps-2-line",
          nil == current_scope,
          Decidim::Scope.model_name.human(count: 2)
        ];
        items << [
          url_for(filter: { with_scope: current_participatory_space.scope.id, with_category: category.try(:id) }),
          translated_attribute(current_participatory_space.scope.name),
          "price-tag-3-line",
          current_participatory_space.scope.id.to_s == current_scope.to_s,
          Decidim::Scope.model_name.human(count: 1)
        ] if current_participatory_space.scope;

        current_participatory_space.subscopes.map do |scope|
          item = [
            url_for(filter: { with_scope: scope.id, with_category: category.try(:id) }),
            translated_attribute(scope.name),
            "price-tag-3-line",
            scope.id.to_s == current_scope.to_s,
            Decidim::Scope.model_name.human(count: 1)
          ]
          items << item
        end

        items.each do |item| %>

        <li>
          <%= link_to item[0], class: "filter#{ ' is-active' if item[3]}" do %>
            <span class="sr-only"><%= item[4] %></span>
            <%= icon item[2] %>
            <span><%= item[1] %></span>
          <% end %>
        </li>

      <% end %>
    </ul>
  </div>
</div>
