<div class="scope-filters section">
  <% if current_component.has_subscopes? %>
    <div><%= t("results.filters.scopes", scope: "decidim.accountability") %></div>

    <ul class="tags tags--action">
      <li <%= active_class_if_current(nil) %>>
          <%= link_to url_for(filter: { category_id: category.try(:id) }) do %>
            <span class="show-for-sr"><%= Decidim::Scope.model_name.human(count: 2) %></span>
            <%= t("results.filters.all", scope: "decidim.accountability") %>
          <% end %>
      </li>

      <% if current_participatory_space.scope %>
        <li <%= active_class_if_current(current_participatory_space.scope.id) %>>
          <%= link_to url_for(filter: { scope_id: current_participatory_space.scope.id, category_id: category.try(:id) }) do %>
            <span class="show-for-sr"><%= Decidim::Scope.model_name.human(count: 1) %></span>
            <%= translated_attribute(current_participatory_space.scope.name) %>
          <% end %>
        </li>
      <% end %>
      <% current_participatory_space.subscopes.each do |scope| %>
        <li <%= active_class_if_current(scope.id) %>>
          <%= link_to url_for(filter: { scope_id: scope.id, category_id: category.try(:id) }) do %>
            <span class="show-for-sr"><%= Decidim::Scope.model_name.human(count: 1) %></span>
            <%= translated_attribute(scope.name) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
