<%= form_tag results_path, method: :get do %>
  <div class="filter-search">
    <label>
      <span class="sr-only"><%= t("search", scope: "decidim.accountability.results.search") %></span>
      <%= search_field_tag(
            "filter[search_text_cont]",
            nil,
            class: "input-group-field",
            placeholder: t("search", scope: "decidim.accountability.results.search"),
            value: "",
            title: t("search", scope: "decidim.accountability.results.search")
          ) %>
      <button type="submit" aria-label="<%= t("search", scope: "decidim.accountability.results.search") %>">
        <%= icon "search-line" %>
      </button>
    </label>
  </div>
<% end %>
