<%
  url ||= nil
  extra_classes ||= ""
  title ||= ""
  progress ||= 0
  count ||= nil
%>

<% status = capture do %>
  <p class="accountability__status-title"><%= title %></p>

  <% if component_settings.display_progress_enabled? %>
    <div class="accountability__status-progress">
      <div style="width:<%= progress %>%"></div>
    </div>
  <% end %>

  <div class="accountability__status-value">
    <span><%= display_percentage progress %></span>
    <% if count %>
      <span><%= count %></span>
    <% end %>
  </div>
<% end %>

<% if url %>
  <a href="<%= url %>" class="accountability__status <%= extra_classes %>">
    <%= status %>
  </a>
<% else %>
  <div class="accountability__status <%= extra_classes %>">
    <%= status %>
  </div>
<% end %>
