<div class="columns section view-side mediumlarge-4 large-3 end">
  <% if result.linked_resources(:proposals, "included_proposals").any? %>
    <div class="card extra line-stats">
      <div class="definition-data">
        <div class="definition-data__item definition-data__item--double">
          <span class="definition-data__title"><%= t("results.show.stats.proposals", scope: "decidim.accountability") %></span>
          <span class="definition-data__number"><%= stats_calculator.proposals_count %></span>
        </div>
        <div class="definition-data__item definition-data__item--double">
          <span class="definition-data__title"><%= t("results.show.stats.meetings", scope: "decidim.accountability") %></span>
          <span class="definition-data__number"><%= stats_calculator.meetings_count %></span>
        </div>
        <div class="definition-data__item definition-data__item--double">
          <span class="definition-data__title"><%= t("results.show.stats.comments", scope: "decidim.accountability") %></span>
          <span class="definition-data__number"><%= stats_calculator.comments_count %></span>
        </div>
        <div class="definition-data__item definition-data__item--double">
          <span class="definition-data__title"><%= t("results.show.stats.attendees", scope: "decidim.accountability") %></span>
          <span class="definition-data__number"><%= stats_calculator.attendees_count %></span>
        </div>
        <div class="definition-data__item definition-data__item--double">
          <span class="definition-data__title"><%= t("results.show.stats.votes", scope: "decidim.accountability") %></span>
          <span class="definition-data__number"><%= stats_calculator.votes_count %></span>
        </div>
        <div class="definition-data__item definition-data__item--double">
          <span class="definition-data__title"><%= t("results.show.stats.contributions", scope: "decidim.accountability") %></span>
          <span class="definition-data__number"><%= stats_calculator.contributions_count %></span>
        </div>
      </div>
    </div>
  <% end %>

  <%= feature_reference(result) %>
  <%= render partial: "decidim/shared/share_modal" %>
  <%= embed_modal_for result_result_widget_url(result, format: :js) %>
</div>