<div class="columns large-3">

  <% if result.children.any? && component_settings.display_progress_enabled? && result.progress.present? %>
    <div>
      <div>
        <span><%= t("models.result.fields.progress", scope: "decidim.accountability") %>:</span>
        <span>
          <%= display_percentage result.progress %>
        </span>
      </div>

      <div>
        <div style="width:<%= result.progress %>%"></div>
      </div>
    </div>
  <% end %>

  <% if result.versions.any? || result.linked_resources(:proposals, "included_proposals").any? %>
    <div class="card line-stats">
      <div>
        <% if result.versions.any? %>
          <div class=" versions_count">
            <div>
              <%= resource_version_number(result.versions_count) %>
              <small>
                <%= resource_version_of(result.versions_count) %>
              </small>
            </div>

            <div>
              <span>
                <%= link_to_other_resource_versions(result_versions_path(result)) %>
              </span>
            </div>
          </div>
          <% if result.last_editor.present? %>
            <div class=" last_revision_by">
              <span><%= t("results.show.stats.last_edited_by", scope: "decidim.accountability") %></span>
              <%= render_resource_last_editor(result) %>
            </div>
          <% end %>
          <div class=" last_updated_at">
            <span><%= t("results.show.stats.last_updated_at", scope: "decidim.accountability") %></span>
            <%= l result.versions.last.created_at, format: :decidim_short %>
          </div>
        <% end %>
        <% if result.linked_resources(:proposals, "included_proposals").any? %>
          <div>
            <span><%= t("results.show.stats.proposals", scope: "decidim.accountability") %></span>
            <span><%= stats_calculator.proposals_count %></span>
          </div>
          <div>
            <span><%= t("results.show.stats.meetings", scope: "decidim.accountability") %></span>
            <span><%= stats_calculator.meetings_count %></span>
          </div>
          <div>
            <span><%= t("results.show.stats.comments", scope: "decidim.accountability") %></span>
            <span><%= stats_calculator.comments_count %></span>
          </div>
          <div>
            <span><%= t("results.show.stats.attendees", scope: "decidim.accountability") %></span>
            <span><%= stats_calculator.attendees_count %></span>
          </div>
          <div>
            <span><%= t("results.show.stats.votes", scope: "decidim.accountability") %></span>
            <span><%= stats_calculator.votes_count %></span>
          </div>
          <div>
            <span><%= t("results.show.stats.contributions", scope: "decidim.accountability") %></span>
            <span><%= stats_calculator.contributions_count %></span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= resource_reference(result) %>
  <%= render partial: "decidim/shared/share_modal" %>
</div>
