<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_accountability" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_accountability", media: "all" %>
<% end %>

<% content_for :aside do %>
  <h1 class="h1 decorator"><%= t("decidim.components.accountability.name") %></h1>

  <%# REDESIGN_PENDING: Perhaps a cell will fit better %>
  <%= render partial: "status", locals: {
    title: t("decidim.accountability.results.home_header.global_status"),
    progress: progress_calculator(current_scope, nil).present? && progress_calculator(current_scope, nil),
    extra_classes: "accountability__status__lg"
  } %>

  <% if current_component.has_subscopes? %>
    <%= render partial: "scope_filters" %>
  <% end %>

<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>

  <div class="editor-content"><%== translated_attribute component_settings.intro %></div>

  <%= render partial: "home_categories" %>

<% end %>
