<%= append_javascript_pack_tag "decidim_accountability" %>
<%= append_stylesheet_pack_tag "decidim_accountability" %>

<% content_for :aside do %>
  <%= render partial: "projects_aside", locals: { main_action: true } %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <section class="layout-main__section">
    <h2 class="h4"><%= category.present? ? translated_attribute(category.name) : t("decidim.accountability.results.home_header.global_status") %></h2>
  </section>

  <section id="results" class="layout-main__section">
    <%= cell "decidim/accountability/results", results %>
    <%= decidim_paginate results, order_start_time: params[:order_start_time], with_scope: params.dig(:filter, :with_scope) %>
  </section>
<% end %>
