<%= append_javascript_pack_tag "decidim_accountability" %>
<%= append_stylesheet_pack_tag "decidim_accountability" %>

<% content_for :aside do %>
  <h1 class="h1 decorator"><%= component_name %></h1>

  <div class="accountability__status-container">
    <%= cell(
          "decidim/accountability/status",
          nil,
          url: root_path,
          title: t("decidim.accountability.results.home_header.global_status"),
          extra_classes: "accountability__status__parent",
          render_blank: true
        ) %>
    <% categories_hierarchy.each do |category| %>
      <%= cell(
            "decidim/accountability/status",
            category,
            url: results_path(filter: { with_category: category, with_scope: current_scope }),
            extra_classes: "accountability__status__parent",
            render_count: false,
            render_blank: true
          ) %>
    <% end %>
    <% if category.present? %>
      <div>
        <%= external_icon "media/images/breadcrumb_arrow.svg" %>
        <%= cell(
              "decidim/accountability/status",
              category,
              extra_classes: "accountability__status__child",
              url: results_path(filter: { with_category: category, with_scope: current_scope }),
              render_blank: true
            ) %>
      </div>
    <% end %>
  </div>

  <%= render partial: "scope_filters" if current_component.has_subscopes? %>

<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <% if category.present? %>
    <h2 class="h4"><%= translated_attribute category.name %></h2>
  <% else %>
    <h2 class="h4"><%= t("decidim.accountability.results.home_header.global_status") %></h2>
  <% end %>

  <div id="results" class="my-20">
    <%= cell "decidim/accountability/results", results %>
    <%= decidim_paginate results, order_start_time: params[:order_start_time], with_scope: params.dig(:filter, :with_scope) %>
  </div>
<% end %>
