<% add_decidim_page_title(t("decidim.admin.titles.scopes")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <% if parent_scope %>
        <%= scope_breadcrumbs(parent_scope).join(" - ").html_safe %> <%= link_to t("actions.add", scope: "decidim.admin"), new_scope_scope_path(parent_scope), class: "button button__sm button__secondary" if allowed_to? :create, :scope %><%= link_to t("actions.edit", scope: "decidim.admin"), edit_scope_path(parent_scope), class: "button button__sm button__secondary" if allowed_to? :edit, :scope, scope: parent_scope %>
      <% else %>
        <%= t "decidim.admin.titles.scopes" %> <%= link_to t("actions.add", scope: "decidim.admin"), new_scope_path, class: "button button__sm button__secondary" if allowed_to? :create, :scope %>
      <% end %>
    </h1>
  </div>

  <div class="callout warning"><%= t("scopes.deprecated", scope: "decidim.admin") %></div>

  <% if @scopes.any? %>
    <div class="table-scroll">
      <table class="table-list">
      <thead>
        <tr>
          <th><%= t("models.scope.fields.name", scope: "decidim.admin") %></th>
          <th><%= t("models.scope.fields.scope_type", scope: "decidim.admin") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @scopes.each do |scope| %>
          <tr>
            <td>
              <%= link_to translated_attribute(scope.name), scope_scopes_path(scope) %>
            </td>
            <td>
              <%= scope.scope_type ? translated_attribute(scope.scope_type.name) : "-" %>
            </td>
            <td class="table-list__actions">
              <%= icon_link_to "zoom-in-line", scope_scopes_path(scope), t("actions.browse", scope: "decidim.admin"), class: "action-icon--browse", method: :get, data: {} %>

              <% if allowed_to? :update, :scope, scope: scope %>
                <%= icon_link_to "pencil-line", [:edit, scope], t("actions.edit", scope: "decidim.admin"), class: "action-icon--edit", method: :get, data: {} %>
              <% end %>

              <% if allowed_to? :destroy, :scope, scope: scope %>
                <%= icon_link_to "delete-bin-line", scope, t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  <% else %>
    <p><%= t("decidim.admin.scopes.no_scopes") %></p>
  <% end %>
</div>
