<% content_for :breadcrumb_nav_item do %>
  <span class="text-white">/</span>
  <%= link_to t("menu.scopes", scope: "decidim.admin"), decidim_admin.scopes_path, class: "process-title-content-breadcrumb" %>
  <span class="text-white">/</span>
  <span class="process-title-content-breadcrumb">
    <%= t(".title") %>
  </span>
<% end %>
<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t ".title" %>
  </h2>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: current_scopes_path, html: { class: " form form-defaults new_scope" }) do |f| %>
      <div class="card">
        <div class="card-section">
          <%= render partial: "form", object: f %>
        </div>
      </div>
      <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
        <%= f.submit t(".create"), class: "button button__sm md:button__lg button__secondary" %>
      </div>
    <% end %>
  </div>
</div>


