<section class="wrapper-home home-section">
  <div class="row" id="highlighted-consultations">
    <h3 class="section-heading"><%= t("active_consultations", scope: i18n_scope) %></h3>
    <div class="row collapse">
      <div class="row small-up-1 smallmedium-up-2 mediumlarge-up-3
        large-up-4 card-grid">
        <% highlighted_consultations.each do |consultation| %>
          <div class="column">
            <%= link_to decidim_consultations.consultation_path(consultation), class: "card card--consultation card--mini" do %>
              <div class="card__image-top" style="background-image:url('<%= consultation.attached_uploader(:banner_image).path %>')"></div>
              <div class="card__content">
                <span class="card__title card__link"><%= translated_attribute consultation.title %></span>
                <span class="card--process__small"><%= voting_ends_text_for(consultation) %></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" id="see-all-consultations">
    <div class="columns small-centered small-12
      smallmedium-8 medium-6 large-4">
      <%= link_to t("see_all_consultations", scope: i18n_scope), decidim_consultations.consultations_path, class: "button expanded hollow button--sc home-section__cta" %>
    </div>
  </div>
</section>
