<section id="highlighted_consultations" class="wrapper-home home__section">
  <div id="highlighted-consultations">
    <div class="home__section-header">
      <h2 class="home__section-title">
        <%= t("active_consultations", scope: i18n_scope) %>
      </h2>
      <%= link_to decidim_consultations.consultations_path, class: "button button__sm button__text-secondary" do %>
        <%= t("see_all_consultations", scope: "decidim.consultations.pages.home.highlighted_consultations") %>
        <%= icon "arrow-right-line", class: "fill-current" %>
      <% end %>
    </div>
    <% highlighted_consultations.each do |consultation| %>
      <%= link_to decidim_consultations.consultation_path(consultation), class: "card card--consultation card--mini" do %>
        <div class="card__image-top" style="background-image:url('<%= consultation.attached_uploader(:banner_image).path %>')"></div>
        <div class="card__content">
          <span class="card__title card__link"><%= translated_attribute consultation.title %></span>
          <span class="card--process__small"><%= voting_ends_text_for(consultation) %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
