<div class="statistic <%= stat_dom_class %>" data-statistic>
  <div class="statistic__header">
    <div class="statistic__metric">
      <div class="statistic__title" title="<%= stat_title %>">
        <%= stat_title %>
      </div>
      <div class="statistic__tooltip">
        <%= information_tooltip %>
      </div>
    </div>
    <div class="statistic__icon">
      <%= stat_icon %>
    </div>
  </div>
  <% if second_stat_number %>
    <div class="statistic__second-number">
      <%= stat_sub_title %>
      <span class="font-semibold"><%= second_stat_number %></span>
    </div>
  <% else %>
    <p class="h-[21px]"></p>
  <% end %>
  <div class="statistic__number">
    <%= stat_number %>
  </div>
</div>
