<div class="statistic <%= stat_dom_class %>" data-statistic>
  <div class="statistic__header">
    <span class="statistic__title" title="<%= stat_title %>">
      <%= stat_title %>
    </span>
    <span class="statistic__tooltip"  >
      <%= information_tooltip %>
    </span>
  </div>
  <span class="statistic__number">
    <%= stat_number %>
  </span>
</div>
