<% if collapsible? %>
  <div id="collapsible-list-<%= seed %>" class="collapsible-list is-filtered <%= list_size_class %> <%= list_class %>" data-toggler=".is-filtered">
    <% list.each do |element| %>
      <% if cell_name %>
        <%= cell cell_name, element, cell_options %>
      <% else %>
        <%= card_for element, cell_options %>
      <% end %>
    <% end %>
    <span class="card__text--paragraph collapsible-list__see-more">
      <%= t(hidden_elements_count_i18n_key, count: hidden_elements_count) %>
    </span>
    <span class="text-small">
      <span class="collapsible-list__see-more" data-toggle="collapsible-list-<%= seed %>"><%= t("decidim.collapsible_list.see_more") %></span>
      <span class="collapsible-list__see-less" data-toggle="collapsible-list-<%= seed %>"><%= t("decidim.collapsible_list.see_less") %></span>
    </span>
  </div>
<% else %>
  <div class="collapsible-list <%= list_class %>">
    <% list.each do |element| %>
      <% if cell_name %>
        <%= cell cell_name, element, cell_options %>
      <% else %>
        <%= card_for element, cell_options %>
      <% end %>
    <% end %>
  </div>
<% end %>
