<p class="email-greeting"><%= t ".hello" %></p>

<p class="email-instructions"><%= t ".body_1", organization_name: h(@organization.name) %></p>

<p class="email-instructions"><%= t ".body_2" %></p>

<table class="button radius" style="margin: 16px auto;">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <%= link_to t(".button"), decidim.newsletters_opt_in_url(token: @token, host: @organization.host), method: "PUT", class: "button email-button email-button__cta", target: "_blank" %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p class="email-instructions"><%= t ".body_3" %></p>

<p class="email-closing"><%= t(".greetings", organization_name: h(@organization.name), organization_url: decidim.root_url(host: @organization.host)).html_safe %></p>
