<% status ||= "secondary" %>
<% closed ||= false %>
<div class="row collapse buttons__row">
  <% if !closed %>
  <div class="column small-9 collapse">
    <div class="button-group button-group--collapse button--nomargin small">
      <button type="button" name="button" class="button small compact light <%= status %> button--sc button--shadow">
        <%= icon "bullhorn", class: "icon--small", aria_label: "Endorsements", role: "img" %> 332
      </button>
      <button type="button" name="button" class="button small compact light <%= status %> button--sc">
        <%= (status == "secondary")? "Reivindicar" : "Reivindicada" %>
      </button>
    </div>
  </div>
  <% end %>
  <div class="column collapse <%= closed ? "" : "small-3" %>">
    <button type="button" name="button" class="button small compact hollow secondary button--nomargin expanded">
      <a href="#comments" title="Comentarios">
        <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %> 108 <% if closed %>Comentarios<% end %>
      </a>
    </button>
  </div>
</div>
