<div class="p-xs flex--sbc">
  <div class="mr-s">
    <div class="card__header collapse">
      <%= partial "author_data", { big: true, nick: true, tooltip: false } %>
    </div>
    <div class="card__text card--picture-offset">
      <%= link_to "view full profile", page_path("profile/user-profile-public") %>
    </div>
  </div>
  <div class="ml-s">
    <% following = Faker::Boolean.boolean %>
    <button class="button small secondary hollow button--icon button--sc<%= " success" if following %>">
      <%= icon "bell" %>
      <span><%= following ? "Siguiendo" : "Seguir" %></span>
    </button>
    <div>
      <%= link_to page_path("profile/user-profile-public") + "#followers", class: "card__link" do %>
        <strong><%= Faker::Number.between(from: 1, to: 100) %></strong> Followers
      <% end %>
    </div>
    <div>
      <%= link_to page_path("profile/user-profile-public") + "#following", class: "card__link" do %>
        <strong><%= Faker::Number.between(from: 1, to: 100) %></strong> Following
      <% end %>
    </div>
  </div>
</div>
