<% extra ||= false %>
<% timestamp ||= false %>
<% nick = true unless local_assigns.has_key?(:nick) %>
<% tooltip = true unless local_assigns.has_key?(:tooltip) %>
<% big ||= false %>
<% verified = Faker::Boolean.boolean unless local_assigns.has_key?(:verified) %>
<div class="author-data<%= " author-data--big" if big %>">

  <div class="author-data__main">
    <% if big %>
      <div class="author author--flex">
        <%= partial "author_data--avatar" %>
        <div>
          <div class="author__name--container">
            <%= partial "author_data--name", { tooltip: tooltip } %>

            <% if verified %>
              <%= icon "verified-badge", class: "author__verified" %>
            <% end %>
          </div>

          <% if nick %>
            <a href="user-profile" class="author__nickname">
              @<%= Faker::Twitter.screen_name %>
            </a>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="author author--inline">
        <%= partial "author_data--avatar" %>
        <%= partial "author_data--name", { tooltip: tooltip } %>

        <% if nick %>
          <a href="user-profile" class="author__nickname">
            @<%= Faker::Twitter.screen_name %>
          </a>
        <% end %>

        <% if verified %>
          <%= icon "verified-badge", class: "author__verified" %>
        <% end %>
    </div>
    <% end %>
  </div>

  <% if extra %>
    <div class="author-data__extra">
      <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>&nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="#comments" title="Comentarios">
        <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
        <%= Faker::Number.between(from: 1, to: 100) %> comentarios
      </a>
    </div>
  <% end %>
  <% if timestamp %>
    <div class="author-data__extra">
      <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>&nbsp;&nbsp;·&nbsp;&nbsp;12:54
    </div>
  <% end %>

</div>
