<article class="comment">
  <div class="comment__header">
    <div class="author-data">
      <div class="author-data__main">
        <div class="author author--inline">
          <a href="#" class="author__avatar">
            <%= image_pack_tag "media/images/demo-avatar.jpg" %>
          </a>
          <a href="#" class="author__name">
            Marc Serres
          </a>
          <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
        </div>
      </div>
    </div>
    <%= partial "comment_context_menu" %>
  </div>
  <div class="comment__content">
    <p>
      <span class="success label">A favor</span>
      Quan sento parlar de contaminació acústica, penso que no hi ha veïns
      en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
      de la Vall d'Hebron des del 198 al 208. Per no parlar de la
      contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
      s'evacuarien directament al nostre menjador si no fos que mantenim les
      finestres i terrasses tencades de manera permanent.</p>
  </div>
  <div class="comment__footer">
    <button class="comment__reply muted-link" data-toggle="comment1-reply">
      <%= icon "pencil", class: "icon--small", aria_label: "Responder", role: "img" %>
      Responder
    </button>
    <div class="comment__votes">
      <a href="" class="comment__votes--up is-vote-notselected">
        <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
        257
      </a>
      <a href="" class="comment__votes--down is-vote-selected">
        <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
        257
      </a>
    </div>
  </div>
  <div class="add-comment add-comment--reply" id="comment1-reply"
       data-toggler=".is-active">
    <form>
      <label class="show-for-sr" for="add-comment-1">Resposta</label>
      <textarea id="add-comment-1"
        placeholder="Respon a aquest comentari"></textarea>
      <input type="submit" class="button small hollow" value="Enviar">
    </form>
  </div>
</article>
