<section class="comments">
  <h4 class="section-heading">Comentario destacado</h4>
  <div class="comment-thread comment--pinned">
    <article class="comment">
      <div class="comment__header">
        <div class="author-data">
          <div class="author-data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar">
                <%= image_pack_tag "media/images/demo-avatar.jpg" %>
              </a>
              <a href="#" class="author__name">
                Marc Serres
              </a>
              <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
            </div>
          </div>
          <div class="author-data__extra">
            <%= partial "flag_empty" %>
            <a href="<%= page_path("proposals/comment-view") + "#single-comment" %>" title="Enlace permamente">
              <%= icon "link-intact", class: "icon--small", aria_label: "Enlace permanente" %>
            </a>
          </div>
        </div>
        <%= partial "comment_context_menu" %>
      </div>
      <div class="comment__content">
        <p>
          <span class="success label">A favor</span>
          Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
      </div>
      <div class="comment__footer">
        <a href="" class="comment__reply muted-link">
          Ver comentario</a>
        <div class="comment__votes">
          <a href="" class="comment__votes--up is-vote-selected">
            <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
            257
          </a>
          <a href="" class="comment__votes--down is-vote-notselected">
            <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
            257
          </a>
        </div>
      </div>

    </article>
  </div>
</section>
<section class="comments">
  <%= partial "order_by_comments" %>
  <div class="comment-thread">
    <%= partial "comment" %>
  </div>

  <h6 class="comment-thread__title">
    Conversación con <a href="">Maria Garcia</a></h6>
  <div class="comment-thread">
    <article class="comment">
      <div class="comment__header">
        <div class="author-data">
          <div class="author-data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar">
                <%= image_pack_tag "media/images/demo-avatar.jpg" %>
              </a>
              <a href="#" class="author__name">
                Maria Garcia
              </a>
              <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
            </div>
          </div>
          <div class="author-data__extra">
            <%= partial "flag_empty" %>
            <a href="<%= page_path("proposals/comment-view") + "#single-comment" %>" title="Enlace permamente">
              <%= icon "link-intact", class: "icon--small", aria_label: "Enlace permanente" %>
            </a>
          </div>
        </div>
      </div>
      <div class="comment__content">
        <p>
          <span class="alert label">En contra</span>
          Treure l'àrea per a gossos de la platja de llevant i posar-la a una
          platja més centrica amb millor comunicació amb el transport públic i
          amb més espai.</p>
      </div>
      <div class="comment__footer">
        <div class="comment__actions">
          <button id="comments-level-1-trigger" class="comment__reply muted-link" data-toggler=".comment__is-open" data-toggle="comments-level-1 comments-level-1-trigger comments-level-1-reply">
            <%= icon "comment-square", class: "icon--small" %>
            <span class="comment__text-is-closed">Mostrar 15 respuestas</span>
            <span class="comment__text-is-open">Ocultar respuestas</span>
          </button>
          <button class="comment__reply muted-link" data-toggle="comment2-reply">
            <%= icon "pencil", class: "icon--small", aria_label: "Responder", role: "img" %>
            Responder
          </button>
        </div>

        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
            257
          </a>
          <a href="" class="comment__votes--down">
            <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
            257
          </a>
        </div>
      </div>
      <div class="add-comment add-comment--reply" id="comment2-reply"
           data-toggler=".is-active">
        <form>
          <label class="show-for-sr" for="add-comment-2">Resposta</label>
          <textarea id="add-comment-2"
            placeholder="Respon a aquest comentari"></textarea>
          <input type="submit" class="button small hollow" value="Enviar">
        </form>
      </div>
      <div class="hide" id="comments-level-1" data-toggler=".hide">
        <article class="comment comment--highlight comment--nested">
          <div class="comment__header">
            <div class="author-data">
              <div class="author-data__main">
                <div class="author author--inline">
                  <a href="#" class="author__avatar">
                    <%= image_pack_tag "media/images/demo-avatar.jpg" %>
                  </a>
                  <a href="#" class="author__name">
                    Ajuntament de Barcelona
                  </a>
                  <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
                </div>
              </div>
              <div class="author-data__extra">
                <%= partial "flag_empty" %>
                <a href="<%= page_path("proposals/comment-view") + "#single-comment" %>" title="Enlace permamente">
                  <%= icon "link-intact", class: "icon--small", aria_label: "Enlace permanente" %>
                </a>
              </div>
            </div>
          </div>
          <div class="comment__content">
            <blockquote class="comment__quote">
              <p>
                Treure l'àrea per a gossos de la platja de llevant i posar-la a una platja més centrica amb millor comunicació amb el transport públic i amb més espai.
              </p>
            </blockquote>
            <p>Quan sento parlar de contaminació acústica, penso que no hi ha
              veïns en tota la ciutat més perjudicats que nosaltres, els que vivim
              al Pg de la Vall d'Hebron des del 198 al 208. Per no parlar de la
              contaminació atmosfèrica, els tubs d'escapament dels vehicles
              gairabé s'evacuarien directament al nostre menjador si no fos que
              mantenim les finestres i terrasses tencades de manera permanent.</p>
          </div>
          <div class="comment__footer">
            <button class="comment__reply muted-link">
              <%= icon "pencil", class: "icon--small", aria_label: "Responder", role: "img" %>
              Responder
            </button>
            <div class="comment__votes">
              <a href="" class="comment__votes--up">
                <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
                257
              </a>
              <a href="" class="comment__votes--down">
                <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
                257
              </a>
            </div>
          </div>
        </article>
        <article class="comment comment--nested">
          <div class="comment__header">
            <div class="author-data">
              <div class="author-data__main">
                <div class="author author--inline">
                  <a href="#" class="author__avatar">
                    <%= image_pack_tag "media/images/demo-avatar.jpg" %>
                  </a>
                  <a href="#" class="author__name">
                    Joan Pèrez
                  </a>
                  <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
                </div>
              </div>
              <div class="author-data__extra">
                <%= partial "flag_empty" %>
                <a href="<%= page_path("proposals/comment-view") + "#single-comment" %>" title="Enlace permamente">
                  <%= icon "link-intact", class: "icon--small", aria_label: "Enlace permanente" %>
                </a>
              </div>
            </div>
          </div>
          <div class="comment__content">
            <p>Al meu entendre, en l'actualitat es requereix un ús provisional per
              al solar d'Avinguda Piferrer (Gràcia). Per aquest motiu, considero
              que provisionalment es podria oferir l'espai als memebres del Banc
              Expropiat. Hem d'aturar aquest conflicte. L'institut Vallcarca es
              absolutament necessàri, pero aquesta resposta immediata podria tenir
              un fort impacte en la pau social del barri, sense representar una
              demóra sustancial en la construcció de l'institut.</p>
          </div>
          <div class="comment__footer">
            <button class="comment__reply muted-link">
              <%= icon "pencil", class: "icon--small", aria_label: "Responder", role: "img" %>
              Responder
            </button>
            <div class="comment__votes">
              <a href="" class="comment__votes--up">
                <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
                257
              </a>
              <a href="" class="comment__votes--down">
                <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
                257
              </a>
            </div>
          </div>
          <article class="comment comment--nested comment--nested--alt">
            <div class="comment__header">
              <div class="author-data">
                <div class="author-data__main">
                  <div class="author author--inline">
                    <a href="#" class="author__avatar">
                      <%= image_pack_tag "media/images/demo-avatar.jpg" %>
                    </a>
                    <a href="#" class="author__name">
                      Maria Garcia
                    </a>
                    <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
                  </div>
                </div>
                <div class="author-data__extra">
                  <%= partial "flag_empty" %>
                  <a href="<%= page_path("proposals/comment-view") + "#single-comment" %>" title="Enlace permamente">
                    <%= icon "link-intact", class: "icon--small", aria_label: "Enlace permanente" %>
                  </a>
                </div>
              </div>
          </div>
          <div class="comment__content">
            <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
            en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
            de la Vall d'Hebron des del 198 al 208. Per no parlar de la
            contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
            s'evacuarien directament al nostre menjador si no fos que mantenim les
            finestres i terrasses tencades de manera permanent.</p>
          </div>
          <div class="comment__footer">
            <button class="comment__reply muted-link">
              <%= icon "pencil", class: "icon--small", aria_label: "Responder", role: "img" %>
              Responder
            </button>
            <div class="comment__votes">
              <a href="" class="comment__votes--up">
                <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
                257
              </a>
              <a href="" class="comment__votes--down">
                <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
                257
              </a>
            </div>
          </div>
        </article>
        <article class="comment comment--nested comment--nested--alt">
          <div class="comment__header">
            <div class="author-data">
              <div class="author-data__main">
                <div class="author author--inline">
                  <a href="#" class="author__avatar">
                    <%= image_pack_tag "media/images/demo-avatar.jpg" %>
                  </a>
                  <a href="#" class="author__name">
                    Judith Asensi
                  </a>
                  <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
                </div>
              </div>
              <div class="author-data__extra">
                <%= partial "flag_empty" %>
                <a href="<%= page_path("proposals/comment-view") + "#single-comment" %>" title="Enlace permamente">
                  <%= icon "link-intact", class: "icon--small", aria_label: "Enlace permanente" %>
                </a>
              </div>
            </div>
          </div>
          <div class="comment__content">
            <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
            en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
            de la Vall d'Hebron des del 198 al 208. Per no parlar de la
            contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
            s'evacuarien directament al nostre menjador si no fos que mantenim les
            finestres i terrasses tencades de manera permanent.</p>
          </div>
          <div class="comment__footer">
            <button class="comment__reply muted-link">
              <%= icon "pencil", class: "icon--small", aria_label: "Responder", role: "img" %>
              Responder
            </button>
            <div class="comment__votes">
              <a href="" class="comment__votes--up">
                <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
                257
              </a>
              <a href="" class="comment__votes--down">
                <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
                257
              </a>
            </div>
          </div>
          <article class="comment comment--nested">
            <div class="comment__header">
              <div class="author-data">
                <div class="author-data__main">
                  <div class="author author--inline">
                    <a href="#" class="author__avatar">
                      <%= image_pack_tag "media/images/demo-avatar.jpg" %>
                    </a>
                    <a href="#" class="author__name">
                      Maria Garcia
                    </a>
                    <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
                  </div>
                </div>
                <div class="author-data__extra">
                  <%= partial "flag_empty" %>
                  <a href="<%= page_path("proposals/comment-view") + "#single-comment" %>" title="Enlace permamente">
                    <%= icon "link-intact", class: "icon--small", aria_label: "Enlace permanente" %>
                  </a>
                </div>
              </div>
            </div>
            <div class="comment__content">
              <p>Quan sento parlar de contaminació acústica, penso que no hi ha
                veïns tota la ciutat més perjudicats que nosaltres, els que vivim
                al Pg la Vall d'Hebron des del 198 al 208. Per no parlar de la
                contaminació atmosfèrica, els tubs d'escapament dels vehicles
                gairabé s'evacuarien directament al nostre menjador si no fos que
                mantenim les finestres i terrasses tencades de manera permanent.</p>
            </div>
            <div class="comment__footer">
              <button class="comment__reply muted-link">
                <%= icon "pencil", class: "icon--small", aria_label: "Responder", role: "img" %>
                Responder
              </button>
              <div class="comment__votes">
                <a href="" class="comment__votes--up">
                  <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
                  257
                </a>
                <a href="" class="comment__votes--down">
                  <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
                  257
                </a>
              </div>
            </div>
          </article>
          <div class="show-more">
            <button class="muted-link">
              Ver más comentarios
            </button>
          </div>
        </article>
      </article>
    </div>
    <div id="comments-level-1-reply" data-toggler=".hide" class="comment__additionalreply hide">
      <button class="comment__reply muted-link">
        <%= icon "pencil", class: "icon--small", aria_label: "Responder", role: "img" %>
        Responder
      </button>
    </div>
    </article>
  </div>
  <div class="show-more show-more--comment-thread">
    <button class="button button--muted small">
      Ver más comentarios
    </button>
  </div>
  <div class="add-comment">
    <h5 class="section-heading">Deixa el teu comentari</h5>
    <% if @logoutcomments == true %>
      <p>
        <%= link_to "Entra en tu cuenta", page_path("user/user-login") %> o <%= link_to "regístrate", page_path("user/user-register") %> para poder dejar un comentario.
      </p>
    <% else %>

      <div class="opinion-toggle button-group">
        <!--Add is-active class to the button to show the selected option, add is-inactive class to the rest-->
        <button class="button tiny button--muted opinion-toggle--ok" title="Comentari a favor">
          <%= icon "thumb-up", aria_label: "A favor" %>
        </button>
        <button class="button tiny button--muted opinion-toggle--meh" title="Comentari neutral">
          Neutral
        </button>
        <button class="button tiny button--muted opinion-toggle--ko" title="Comentari en contra">
          <%= icon "thumb-down", aria_label: "En contra" %>
        </button>
      </div>

      <form>
        <label class="show-for-sr" for="add-comment">Comentari</label>
        <textarea id="add-comment" rows="4"
          placeholder="Què opines d'aquesta proposta?"></textarea>
        <input type="submit" class="button button--sc" value="Enviar">
      </form>
    <% end %>
  </div>
</section>
