<div class="row column">
  <!-- uncategorized -->
  <div class="card card--list">
    <div class="card--list__item">
      <div class="card--list__text">
        <div>
          <a href="#" class="card__link">
            <h6 class="card--list__heading heading6">
              Acta Paral·lel <small>PDF 57Kb</small>
            </h6>
            <span class="text-small">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Suspendisse ut semper mi, et ullamcorper
              elit.</span>
          </a>
        </div>
      </div>
      <div class="card--list__data">
        <a href="" class="card--list__data__icon">
          <%= icon "cloud-download" %>
        </a>
      </div>
    </div>
    <div class="card--list__item">
      <div class="card--list__text">
        <div>
          <a href="#" class="card__link">
            <h6 class="card--list__heading heading6">
                Informe reunió 18-04-2016 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore dolore ex dolorum soluta? Eius voluptates ipsa, quos amet pariatur illo vero asperiores esse deleniti laboriosam assumenda, possimus ratione officiis temporibus.<small>PDF 57Kb</small>
              </h6>
            <span class="text-small">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Suspendisse ut semper mi, et ullamcorper
                elit.</span>
          </a>
        </div>
      </div>
      <div class="card--list__data">
        <a href="" class="card--list__data__icon">
          <%= icon "cloud-download" %>
        </a>
      </div>
    </div>
  </div>
  <!-- categorized -->
  <div class="docs__container">
    <h6 data-toggle="docs docs-icon-bottom docs-icon-right">
      <!-- caret-bottom: expanded, caret-right: collapsed -->
      <span id="docs-icon-bottom" class="" data-toggler="hide"><%= icon "caret-bottom", class: "icon--small" %></span>
      <span id="docs-icon-right" class="hide" data-toggler="hide"><%= icon "caret-right", class: "icon--small" %></span>
      &nbsp;<strong>Documentos</strong> <small>(3 archivos)</small></h6>
    <div id="docs" class="docs__content" data-toggler=".hide">
      <p>Descripción de la colección</p>
      <div class="card card--list">
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link">
                <h6 class="card--list__heading heading6">
                  Acta Paral·lel
                  <small>PDF 57Kb</small>
                </h6>
                <span class="text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut semper mi, et ullamcorper elit.</span>
              </a>
            </div>
          </div>
          <div class="card--list__data">
            <a href="" class="card--list__data__icon">
              <%= icon "cloud-download" %>
            </a>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link">
                <h6 class="card--list__heading heading6">
                  Acta Paral·lel
                  <small>PDF 57Kb</small>
                </h6>
                <span class="text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut semper mi, et ullamcorper elit.</span>
              </a>
            </div>
          </div>
          <div class="card--list__data">
            <a href="" class="card--list__data__icon">
              <%= icon "cloud-download" %>
            </a>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link">
                <h6 class="card--list__heading heading6">
                  Informe reunió 18-04-2016 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore dolore ex dolorum soluta? Eius voluptates ipsa, quos amet pariatur illo vero asperiores esse deleniti laboriosam assumenda, possimus ratione officiis
                  temporibus.<small>PDF 57Kb</small>
                </h6>
                <span class="text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut semper mi, et ullamcorper elit.</span>
              </a>
            </div>
          </div>
          <div class="card--list__data">
            <a href="" class="card--list__data__icon">
              <%= icon "cloud-download" %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="docs__container">
    <h6 data-toggle="images images-icon-bottom images-icon-right">
      <!-- caret-bottom: expanded, caret-right: collapsed -->
      <span id="images-icon-bottom" class="hide" data-toggler="hide"><%= icon "caret-bottom", class: "icon--small" %></span>
      <span id="images-icon-right" class="" data-toggler="hide"><%= icon "caret-right", class: "icon--small" %></span>
      &nbsp;<strong>Imágenes</strong> <small>(6 archivos)</small></h6>
    <div id="images" class="docs__content hide" data-toggler=".hide">
      <p>Descripción de la colección</p>
      <div class="card card--list">
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link">
                <h6 class="card--list__heading heading6">
                  Acta Paral·lel <small>PDF 57Kb</small>
                </h6>
                <span class="text-small">Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Suspendisse ut semper mi, et ullamcorper
                  elit.</span>
                </a>
              </div>
            </div>
            <div class="card--list__data">
              <a href="" class="card--list__data__icon">
                <%= icon "cloud-download" %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <div>
                <a href="#" class="card__link">
                  <h6 class="card--list__heading heading6">
                    Informe reunió 18-04-2016 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore dolore ex dolorum soluta? Eius voluptates ipsa, quos amet pariatur illo vero asperiores esse deleniti laboriosam assumenda, possimus ratione officiis temporibus.<small>PDF 57Kb</small>
                  </h6>
                  <span class="text-small">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Suspendisse ut semper mi, et ullamcorper
                    elit.</span>
                  </a>
                </div>
              </div>
              <div class="card--list__data">
                <a href="" class="card--list__data__icon">
                  <%= icon "cloud-download" %>
                </a>
              </div>
            </div>
          </div>
    </div>
  </div>
  <div class="docs__container">
    <h6 data-toggle="audio audio-icon-bottom audio-icon-right">
      <!-- caret-bottom: expanded, caret-right: collapsed -->
      <span id="audio-icon-bottom" class="hide" data-toggler="hide"><%= icon "caret-bottom", class: "icon--small" %></span>
      <span id="audio-icon-right" class="" data-toggler="hide"><%= icon "caret-right", class: "icon--small" %></span>
      &nbsp;<strong>Audio</strong> <small>(1 archivos)</small></h6>
    <div id="audio" class="docs__content hide" data-toggler=".hide">
      <p>Descripción de la colección</p>
      <div class="card card--list">
      <div class="card--list__item">
        <div class="card--list__text">
          <div>
            <a href="#" class="card__link">
              <h6 class="card--list__heading heading6">
                Acta Paral·lel <small>PDF 57Kb</small>
              </h6>
              <span class="text-small">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Suspendisse ut semper mi, et ullamcorper
                elit.</span>
            </a>
          </div>
        </div>
        <div class="card--list__data">
          <a href="" class="card--list__data__icon">
            <%= icon "cloud-download" %>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
