<div class="process-nav">
  <div class="row">
    <button class="process-nav__trigger hide-for-medium" data-toggle="process-nav-content">
      <%= icon "caret-bottom", class: "icon--small process-nav__trigger__icon", aria_label: "Desplegar", role: "img" %>
      <% if @activepage == "phases" %>
      <div class="process-nav__link">
        <%= icon "information" %>
        <span>Continguts</span>
      </div>
      <% end %>
      <% if @activepage == "info" %>
      <div class="process-nav__link">
        <span>About</span>
      </div>
      <% end %>
      <% if @activepage == "how-to" %>
      <div class="process-nav__link">
        <span>How to vote</span>
      </div>
      <% end %>
      <% if @activepage == "questions" %>
      <div class="process-nav__link">
        <span>Questions</span>
      </div>
      <% end %>
      <% if @activepage == "participate" %>
      <div class="process-nav__link">
        <span>Participate</span>
      </div>
      <% end %>
      <% if @activepage == "faqs" %>
      <div class="process-nav__link">
        <span>Faqs</span>
      </div>
      <% end %>
      <% if @activepage == "log" %>
      <div class="process-nav__link">
        <span>Log</span>
      </div>
      <% end %>
    </button>
    <div class="row column process-nav__content" id="process-nav-content" data-toggler=".is-active">
      <ul>
        <li class="<% if @activepage == "info" %>is-active<% end %>">
          <%= link_to page_path("evote-consultation-landing"), class: "process-nav__link #{'is-active' if @activepage == 'info'}" do %>
          <span>About</span>
          <% end %>
        </li>
        <li class="<% if @activepage == "how-to" %>is-active<% end %>">
          <%= link_to page_path("evote-how-to-participate"), class: "process-nav__link #{'is-active' if @activepage == 'meetings'}" do %>
          <span>How to vote</span>
          <% end %>
        </li>
        <li class="<% if @activepage == "questions" %>is-active<% end %>">
          <%= link_to page_path("evote-consultation-landing"), class: "process-nav__link #{'is-active' if @activepage == 'proposals'}" do %>
          <span>Questions</span>
          <% end %>
        </li>
        <li class="<% if @activepage == "participate" %>is-active<% end %>">
          <%= link_to page_path("evote-consultation-landing"), class: "process-nav__link #{'is-active' if @activepage == 'initiatives'}" do %>
          <span>Participate</span>
          <% end %>
        </li>
        <li class="<% if @activepage == "faqs" %>is-active<% end %>">
          <%= link_to page_path("evote-consultation-landing"), class: "process-nav__link #{'is-active' if @activepage == 'debates'}" do %>
          <span>FAQS</span>
          <% end %>
        </li>
        <li class="<% if @activepage == "log" %>is-active<% end %>">
          <%= link_to page_path("evote-consultation-landing"), class: "process-nav__link #{'is-active' if @activepage == 'debates'}" do %>
          <span>Log</span>
          <% end %>
        </li>
      </ul>
      <%# <button class="button tiny process-nav__more show-for-medium" data-toggle="process-nav__hide-content">
        More <i></i><i></i><i></i>
      </button>
      <div class="dropdown-pane process-nav__hidden-content" id="process-nav__hide-content"
        data-dropdown
        data-hover="true"
        data-hover-pane="true"
        data-v-offset="-25"
        data-position="bottom"
        data-alignment="right">
        <div class="process-nav__hidden-content__more">
          Más <i></i><i></i><i></i>
        </div>
        <ul>
          <li><a href="#" class="process-nav__link">About</a></li>
          <li><a href="#" class="process-nav__link">How to vote</a></li>
          <li><a href="#" class="process-nav__link">Questions</a></li>
          <li><a href="#" class="process-nav__link">Participate</a></li>
          <li><a href="#" class="process-nav__link">FAQS</a></li>
        </ul>
      </div> %>
    </div>
  </div>
</div>
