<div class="row section">
  <div class="columns">
    <h2 class="section-heading">Timeline</h2>

    <% @timelineData = [{ title: "Phase Lorem Ipsum", startDay: "01", startMonth: "Feb", endDay: "18", endMonth: "Feb", past: true }, { title: "Phase Lorem Ipsum Dolor", startDay: "19", startMonth: "Feb", endDay: "02", endMonth: "Mar", current: true }, { title: "Phase Lorem Ipsum Dolor Sit Amet", startDay: "03", startMonth: "Mar", endDay: "12", endMonth: "Mar" }, { title: "Phase Lorem Ipsum", startDay: "13", startMonth: "Mar", endDay: "18", endMonth: "Mar" }, { title: "Phase Lorem Ipsum", startDay: "19", startMonth: "Mar", endDay: "01", endMonth: "Apr" },  ] %>

    <div class="evote-timeline">
      <% @timelineData.each do |card| %>
      <div class="evote-timeline__card <% if card[:past] %>is-past<% end %> <% if card[:current] %>is-current<% end %>">
        <div class="evote-timeline__dates">
          <div class="evote-timeline__dates-item">
            <div class="evote-timeline__day"><%= card[:startDay] %></div>
            <div class="evote-timeline__month"><%= card[:startMonth] %></div>
          </div>
          <span class="evote-timeline__dates-separator">-</span>
          <div class="evote-timeline__dates-item">
            <div class="evote-timeline__day"><%= card[:endDay] %></div>
            <div class="evote-timeline__month"><%= card[:endMonth] %></div>
          </div>
        </div>
        <div class="evote-timeline__title">
          <%= card[:title] %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
