<%
  @sections = [
    "Proposals", "Meetings", "Members", "Processes", "Assemblies", "Initiatives"
  ]
%>
<label class="text-medium mb-s">Jump to:</label>
<div class="card card--secondary">
  <div class="filters">
    <% @sections.each do |i| %>
    <% noresults = Faker::Boolean.boolean %>
    <div class="filters__section--general<%= " no-results" if noresults %>">
      <%= link_to page_path(i.downcase + "/" + i.downcase), class: "flex--sbc" do %>
        <strong class="section-title"><%= i %></strong>
        <span class="muted">&nbsp;<%= noresults ? 0 : Faker::Number.between(from: 0, to: 100) %></span>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div class="card card--secondary">
  <div class="filters">
    <div class="filters__section">
      <%= partial "scope" %>
    </div>
  </div>
</div>
<% actives = 12; pasts = 12; futures = 12; %>
<div class="row collapse order-by">
  <div class="text-uppercase text-right">
    <span class="order-by__tabs">
      <%= link_to raw("<strong>pasados</strong>&nbsp;<span>(" + pasts.to_s + ")</span>"), page_path("#"), class: "order-by__tab is-active" %>
      <%= link_to raw("<strong>siguiente</strong>&nbsp;<span>(" + futures.to_s + ")</span>"), page_path("#"), class: "order-by__tab" %>
      <%= link_to raw("<strong>todos</strong>&nbsp;<span>(" + (actives + pasts + futures).to_s + ")</span>"), page_path("#"), class: "order-by__tab" %>
    </span>
  </div>
</div>
