<div class="focus__content evote">
  <div class="row">
    <% if locals[:step] == 1 %>
      <%= partial "focus_content_content_1" %>
    <% elsif locals[:step] == 2 %>
      <%= partial "focus_content_content_2" %>
    <% elsif locals[:step] == 3 %>
      <%= partial "focus_content_content_3" %>
    <% elsif locals[:step] == 4 %>
      <%= partial "focus_content_content_4" %>
    <% elsif locals[:step] == 'confirm' %>
      <%= partial "focus_content_content_confirm" %>
    <% elsif locals[:step] == 'encrypting' %>
      <%= partial "focus_content_content_encrypting" %>
    <% elsif locals[:step] == 'confirmed' %>
      <%= partial "focus_content_content_confirmed" %>
    <% elsif locals[:step] == 'verify' %>
      <%= partial "focus_content_content_verify" %>
    <% end %>
  </div>
</div>