<div class="row">
  <div class="columns mediumlarge-4 large-3">
    <h2 class="section-heading">
      <%= Faker::Number.between(from: 0, to: 100) %><span>&nbsp;resultados para:&nbsp;</span>"<%= Faker::Movies::StarWars.character %>"
    </h2>
  </div>
  <div class="columns mediumlarge-8 large-9">
    <div>
      <%= partial "search_input" %>
      <div class="pull-right">
        <%= partial "order_by" %>
        <%= partial "page_by" %>
      </div>
    </div>
  </div>
</div>
