<div class="main-footer">
  <a class="main-footer__badge" href="https://ajuntament.barcelona.cat">
    <%= image_tag "badge-ajuntament-footer.png", alt: "ajuntament.barcelona.cat" %>
  </a>
  <div class="row">
    <div class="medium-8 large-6 large-offset-3 column main__footer__nav">
      <ul class="footer-nav">
        <li><a href="#">Informació</a></li>
        <li><a href="#">Condicions d'ús</a></li>
        <li>
          <a target="_blank" href="http://accessibilitat.bcn.cat/ca">Accessibilitat</a>
        </li>
      </ul>
    </div>
    <div class="medium-4 large-3 column main__footer__social">
      <ul class="footer-social">
        <li>
          <a class="footer-social__icon" target="_blank" title="Twitter"
             href="https://twitter.com/bcn_ajuntament">
            <%= icon "twitter", aria_label: "Twitter", role: "img" %>
          </a>
        </li>
        <li>
          <a class="footer-social__icon" target="_blank" title="Facebook"
             href="https://www.facebook.com/bcn.cat/">
            <%= icon "facebook", aria_label: "Facebook", role: "img" %>
          </a>
        </li>
        <li>
          <a class="footer-social__icon" target="_blank" title="Instagram"
             href="https://www.instagram.com/barcelona_cat/?hl=ca">
            <%= icon "instagram", aria_label: "Instagram", role: "img" %>
          </a>
        </li>
        <li>
          <a class="footer-social__icon" target="_blank" title="YouTube"
             href="https://www.youtube.com/bcnajuntament">
            <%= icon "youtube", aria_label: "Youtube", role: "img" %>
          </a>
        </li>
        <li>
          <a class="footer-social__icon" target="_blank" title="GitHub"
             href="https://www.github.com/AjuntamentdeBarcelona/decidim.barcelona">
            <%= icon "github", aria_label: "Github", role: "img" %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
