<div class="row small-up-1 medium-up-2 card-grid">
  <div class="column">
    <article class="card card--meeting">
      <span class="card__type">
        <svg class="icon">
          <%= icon "meetings" %>
        </svg>
        Trobada
      </span>
      <div class="card__content">
        <%= link_to page_path("meeting-view"), class: "card__link" do %>
          <h5 class="card__title">Foment valors naturals i preservació espais
            verds de la ciutat: Collserola</h5>
        <% end %>
        <div class="card__datetime">
          <div class="card__datetime__date">
            20 <span class="card__datetime__month">Agosto</span>
          </div>
          <div class="card__datetime__time">
            16:00 - 18:00
          </div>
        </div>
        <div class="address card__extra">
          <div class="address__icon">
            <%= icon "meetings", removeIconClass: true, width: 40, height: 70 %>
          </div>
          <div class="address__details">
            <strong>Seu del Districte Sants-Montjuïc</strong><br>
            <span>Carrer de la Creu Coberta, 104</span><br>
            <span>Barcelona</span>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="card card--meeting">
      <span class="card__type">
        <%= icon "meetings" %>
        Trobada
      </span>
      <div class="card__content">
        <%= link_to page_path("meeting-view"), class: "card__link" do %>
          <h5 class="card__title">Foment valors naturals i preservació espais
            verds de la ciutat: Collserola</h5>
        <% end %>
        <div class="card__datetime">
          <div class="card__datetime__date">
            20 <span class="card__datetime__month">Agosto</span>
          </div>
          <div class="card__datetime__time">
            16:00 - 18:00
          </div>
        </div>
        <div class="address card__extra">
          <div class="address__icon">
            <%= icon "meetings", removeIconClass: true, width: 40, height: 70 %>
          </div>
          <div class="address__details">
            <strong>Seu del Districte Sants-Montjuïc</strong><br>
            <span>Carrer de la Creu Coberta, 104</span><br>
            <span>Barcelona</span>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
