<% locals ||= {} %>
<div class="polling_officer_zone">

  <h2>Identify and verify a participant</h2>
  <div class="row section">
    <div class="columns">
      <% if locals[:success] %>
        <div class="callout success mt-s">
          <p>This participant has not yet voted.</p>
        </div>
      <% end %>
      <% if locals[:warning] %>
        <div class="callout warning mt-s">
          <p>This participant has already voted online. If they continue the process, they will override their previous vote.</p>
        </div>
      <% end %>
      <% if locals[:error] %>
        <div class="callout alert mt-s">
          <p>This participant has already voted in person and is not entitled to vote.</p>
        </div>
      <% end %>
      <% if locals[:success] || locals[:warning] %>
        <p class="mt-sm"><strong>They are entitled to vote on the following questions:</strong></p>
        <ul class="accordion js-sortable evote__preview"
          data-accordion
          data-multi-expand="true"
          data-allow-all-closed="true">
          <li class="accordion-item evote__preview-question" data-accordion-item>
            <a href="#" class="accordion-title flex--sbc"><%= Faker::Hipster.paragraph[0..60] %></a>
            <div class="accordion-content" data-tab-content>
              <strong>Available answers:</strong>
              <ul>
                <li>Yes</li>
                <li>No</li>
                <li>Blank</li>
              </ul>
            </div>
          </li>
          <li class="accordion-item evote__preview-question" data-accordion-item>
            <a href="#" class="accordion-title flex--sbc"><%= Faker::Hipster.paragraph[0..80] %></a>
            <div class="accordion-content" data-tab-content>
              <strong>Available answers:</strong>
              <ul>
                <li><%= Faker::Hipster.paragraph[0..60] %></li>
                <li><%= Faker::Hipster.paragraph[0..60] %></li>
                <li><%= Faker::Hipster.paragraph[0..60] %></li>
                <li>Blank/None of the above</li>
              </ul>
            </div>
          </li>
        </ul>

        <form class="mt-sm">
          <label>
            <input type="checkbox">
              The participant has voted
          </label>
          <div class="mt-s">
            <button type="submit" class="button disabled">Complete voting</button>
          </div>
        </form>

        <button type="button" class="link" data-open="cancelVoting">Cancel voting</button>

        <div class="reveal" id="cancelVoting" data-reveal>
          <div class="reveal__header">
            <h3 class="reveal__title">Cancel in person voting</h3>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <p class="text-center">
            This person hasn't voted yet, but you are about to cancel the process. Their vote will not be counted. Are you sure?
          </p>
          <div class="row">
            <div class="columns medium-8 medium-offset-2">
              <button class="button expanded mt-sm">Yes, cancel the voting</button>
              <div class="text-center">
                <button class="link">Go back</button>
              </div>
            </div>
          </div>
        </div>

      <% end %>

  </div>
</div>

</div>
