<div class="polling_officer_zone">
  <div>
    <a href="evote-polling-station-officer">
      <svg role="img" class="icon--caret-left icon icon--small"><title></title><use href="/assets/decidim/icons-12032a129d2a2668259128b86df2c8829ea6cdaa07beb8538a61c4872aa66328.svg#icon-caret-left"></use></svg>&nbsp;Back to polling stations
    </a>
  </div>
  <h2>Vote recount - Answers recount</h2>
  <p>Please introduce the total number of answers for each question.</p>
  <div class="row section">
    <div class="columns">
      <% if locals[:error] %>
        <%= partial "polling_officer_count_answers_error_modal" %>
        <script>
          /* Inline script for demo purposes */
          window.addEventListener("load", function(event) {
            $('#polling-officer-count-answers-error-modal').foundation('open');
          });
        </script>
      <% end %>
      <div class="row mt-sm">
        <div class="columns">
          <form action="">
            <h3 class="heading5">Total ballots</h3>
            <div class="card--secondary">
              <div class="card__content">
                <div class="row">
                  <div class="columns medium-4">
                    <label>
                      Total valid ballots
                      <input type="text">
                    </label>
                  </div>
                  <div class="columns medium-4">
                    <label>
                      Total blank ballots
                      <input type="text">
                    </label>
                  </div>
                  <div class="columns medium-4">
                    <label>
                      Total invalid ballots
                      <input type="text">
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="heading5 mt-sm">Question one <%= Faker::Hipster.paragraph[0..60] %></h3>
            <div class="card--secondary">
              <div class="card__content">
                <div class="row column">
                  <label for="recount_q1_a1"> <%= Faker::Hipster.paragraph[0..60] %></label>
                  <input type="text" class="medium-3" id="recount_q1_a1" placeholder="Total answers">
                </div>
                <div class="row column">
                  <label for="recount_q1_a2"> <%= Faker::Hipster.paragraph[0..60] %></label>
                  <input type="text" class="medium-3" id="recount_q1_a2" placeholder="Total answers">
                </div>
                <div class="row column">
                  <label for="recount_q1_a3"> <%= Faker::Hipster.paragraph[0..60] %></label>
                  <input type="text" class="medium-3" id="recount_q1_a3" placeholder="Total answers">
                </div>
                <div class="row column">
                  <label for="recount_q1_a4">Blank</label>
                  <input type="text" class="medium-3" id="recount_q1_a4" placeholder="Total answers">
                </div>
              </div>
            </div>
            <h3 class="heading5 mt-sm">Question two <%= Faker::Hipster.paragraph[0..60] %></h3>
            <div class="card--secondary">
              <div class="card__content">
                <div class="row column">
                  <label for="recount_q2_a1">Yes</label>
                  <input type="text" class="medium-3" id="recount_q2_a1" placeholder="Total answers">
                </div>
                <div class="row column">
                  <label for="recount_q2_a2">No</label>
                  <input type="text" class="medium-3" id="recount_q2_a2" placeholder="Total answers">
                </div>
                <div class="row column">
                  <label for="recount_q2_a3">Blank</label>
                  <input type="text" class="medium-3" id="recount_q2_a3" placeholder="Total answers">
                </div>
              </div>
            </div>
            <button type="submit" class="button button--sc mt-sm">Save recount</button>
          </form>
        </div>
      </div>
  </div>
</div>

</div>
