<% total ||= 25 * Faker::Number.between(from: 1, to: 10) %>
<% progress ||= Faker::Number.between(from: 0, to: total) %>
<% percent = number_to_percentage((progress.to_f/total) * 100, precision: 0) %>
<% vertical ||= false %>
<% text ||= "Apoyos" %>
<% display ||= "slash" %>
<div class="progress__bar<%= (vertical) ? " progress__bar--vertical" : "" %>">
  <div class="progress__bar__title">
    <% if (display == 'slash') %>
      <span class="progress__bar__number"><%= progress %></span>/<%= total %>
    <% elsif (display == 'percent') %>
      <span class="progress__bar__number"><%= percent %></span>
    <% end %>
    <span class="progress__bar__text"><%= text %></span>
  </div>
  <div class="progress progress__bar__bar" role="progressbar" tabindex="0" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuetext="<%= percent %> percent" aria-valuemax="100">
    <div class="progress-meter progress__bar__bar--complete" style="width: <%= percent %>"></div>
    <div class="progress__bar__bar--incomplete" style="width:calc(100% - <%= percent %>);"></div>
  </div>
  <div class="progress__bar__subtitle">
    Proposta <%= (percent.to_f > 66) ? "molt" : (percent.to_f < 33) ? "poc" : "" %> popular <%= partial "help" %>
  </div>
</div>
