<form>
  <fieldset>
    <legend><h6 class="heading6">Àmbit</h6></legend>
    <label data-global-checkbox><input data-checkboxes-tree="filters-all" type="checkbox" checked>Tota la Ciutat</label>
    <div id="filters-all" class="filters__subfilters">
      <div class="filters__has-subfilters">
        <label data-children-checkbox><input data-checkboxes-tree="filters-area-1" id="" type="checkbox" checked>Ciutat Vella</label>
        <button type="button" aria-label="Mostrar/ocultar barris" data-toggle="filters-area-1 filters-area-1-trigger">
          <span id="filters-area-1-trigger" data-toggler=".filters__is-open">
            <span class="filters__icon-is-closed" aria-hidden="true"><%= icon "chevron-bottom" %></span>
            <span class="filters__icon-is-open" aria-hidden="true"><%= icon "chevron-top" %></span>
          </span>
        </button>
      </div>
      <div id="filters-area-1" class="filters__subfilters hide" data-toggler=".hide">
        <label data-children-checkbox><input id="" type="checkbox" checked>el Barri Gòtic</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>el Raval</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>la Barceloneta</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Sant Pere, Santa Caterina i la Ribera</label>
      </div>
      <div class="filters__has-subfilters">
        <label data-children-checkbox><input data-checkboxes-tree="filters-area-2" id="" type="checkbox" checked>Eixample</label>
        <button type="button" aria-label="Mostrar/ocultar barris" data-toggle="filters-area-2 filters-area-2-trigger">
          <span id="filters-area-2-trigger" data-toggler=".filters__is-open">
            <span class="filters__icon-is-closed" aria-hidden="true"><%= icon "chevron-bottom" %></span>
            <span class="filters__icon-is-open" aria-hidden="true"><%= icon "chevron-top" %></span>
          </span>
        </button>
      </div>
      <div id="filters-area-2" class="filters__subfilters hide" data-toggler=".hide">
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
      </div>
      <div class="filters__has-subfilters">
        <label data-children-checkbox><input data-checkboxes-tree="filters-area-3" id="" type="checkbox" checked>Gràcia</label>
        <button type="button" aria-label="Mostrar/ocultar barris" data-toggle="filters-area-3 filters-area-3-trigger">
          <span id="filters-area-3-trigger" data-toggler=".filters__is-open">
            <span class="filters__icon-is-closed" aria-hidden="true"><%= icon "chevron-bottom" %></span>
            <span class="filters__icon-is-open" aria-hidden="true"><%= icon "chevron-top" %></span>
          </span>
        </button>
      </div>
      <div id="filters-area-3" class="filters__subfilters hide" data-toggler=".hide">
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
      </div>
      <div class="filters__has-subfilters">
        <label data-children-checkbox><input data-checkboxes-tree="filters-area-4" id="" type="checkbox" checked>Horta-Guinardó</label>
        <button type="button" aria-label="Mostrar/ocultar barris" data-toggle="filters-area-4 filters-area-4-trigger">
          <span id="filters-area-4-trigger" data-toggler=".filters__is-open">
            <span class="filters__icon-is-closed" aria-hidden="true"><%= icon "chevron-bottom" %></span>
            <span class="filters__icon-is-open" aria-hidden="true"><%= icon "chevron-top" %></span>
          </span>
        </button>
      </div>
      <div id="filters-area-4" class="filters__subfilters hide" data-toggler=".hide">
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
      </div>
      <div class="filters__has-subfilters">
        <label data-children-checkbox><input data-checkboxes-tree="filters-area-5" id="" type="checkbox" checked>Les Corts</label>
        <button type="button" aria-label="Mostrar/ocultar barris" data-toggle="filters-area-5 filters-area-5-trigger">
          <span id="filters-area-5-trigger" data-toggler=".filters__is-open">
            <span class="filters__icon-is-closed" aria-hidden="true"><%= icon "chevron-bottom" %></span>
            <span class="filters__icon-is-open" aria-hidden="true"><%= icon "chevron-top" %></span>
          </span>
        </button>
      </div>
      <div id="filters-area-5" class="filters__subfilters hide" data-toggler=".hide">
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
      </div>
      <div class="filters__has-subfilters">
        <label data-children-checkbox><input data-checkboxes-tree="filters-area-6" id="" type="checkbox" checked>Nou Barris</label>
        <button type="button" aria-label="Mostrar/ocultar barris" data-toggle="filters-area-6 filters-area-6-trigger">
          <span id="filters-area-6-trigger" data-toggler=".filters__is-open">
            <span class="filters__icon-is-closed" aria-hidden="true"><%= icon "chevron-bottom" %></span>
            <span class="filters__icon-is-open" aria-hidden="true"><%= icon "chevron-top" %></span>
          </span>
        </button>
      </div>
      <div id="filters-area-6" class="filters__subfilters hide" data-toggler=".hide">
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
      </div>
      <div class="filters__has-subfilters">
        <label data-children-checkbox><input data-checkboxes-tree="filters-area-7" id="" type="checkbox" checked>Sant Andreu</label>
        <button type="button" aria-label="Mostrar/ocultar barris" data-toggle="filters-area-7 filters-area-7-trigger">
          <span id="filters-area-7-trigger" data-toggler=".filters__is-open">
            <span class="filters__icon-is-closed" aria-hidden="true"><%= icon "chevron-bottom" %></span>
            <span class="filters__icon-is-open" aria-hidden="true"><%= icon "chevron-top" %></span>
          </span>
        </button>
      </div>
      <div id="filters-area-7" class="filters__subfilters hide" data-toggler=".hide">
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
      </div>
      <div class="filters__has-subfilters">
        <label data-children-checkbox><input data-checkboxes-tree="filters-area-8" id="" type="checkbox" checked>Sant Martí</label>
        <button type="button" aria-label="Mostrar/ocultar barris" data-toggle="filters-area-8 filters-area-8-trigger">
          <span id="filters-area-8-trigger" data-toggler=".filters__is-open">
            <span class="filters__icon-is-closed" aria-hidden="true"><%= icon "chevron-bottom" %></span>
            <span class="filters__icon-is-open" aria-hidden="true"><%= icon "chevron-top" %></span>
          </span>
        </button>
      </div>
      <div id="filters-area-8" class="filters__subfilters hide" data-toggler=".hide">
        <label data-children-checkbox><input data-children-checkbox id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input data-children-checkbox id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input data-children-checkbox id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input data-children-checkbox id="" type="checkbox" checked>Lorem ipsum</label>
      </div>
      <div class="filters__has-subfilters">
        <label data-children-checkbox><input data-checkboxes-tree="filters-area-9" id="" type="checkbox" checked>Sants-Montjuïc</label>
        <button type="button" aria-label="Mostrar/ocultar barris" data-toggle="filters-area-9 filters-area-9-trigger">
          <span id="filters-area-9-trigger" data-toggler=".filters__is-open">
            <span class="filters__icon-is-closed" aria-hidden="true"><%= icon "chevron-bottom" %></span>
            <span class="filters__icon-is-open" aria-hidden="true"><%= icon "chevron-top" %></span>
          </span>
        </button>
      </div>
      <div id="filters-area-9" class="filters__subfilters hide" data-toggler=".hide">
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
      </div>
      <div class="filters__has-subfilters">
        <label data-children-checkbox><input data-checkboxes-tree="filters-area-10" id="" type="checkbox" checked>Sarrià - Sant Gervasi</label>
        <button type="button" aria-label="Mostrar/ocultar barris" data-toggle="filters-area-10 filters-area-10-trigger">
          <span id="filters-area-10-trigger" data-toggler=".filters__is-open">
            <span class="filters__icon-is-closed" aria-hidden="true"><%= icon "chevron-bottom" %></span>
            <span class="filters__icon-is-open" aria-hidden="true"><%= icon "chevron-top" %></span>
          </span>
        </button>
      </div>
      <div id="filters-area-10" class="filters__subfilters hide" data-toggler=".hide">
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>Lorem ipsum</label>
      </div>
    </div>
  </fieldset>
</form>
