<!-- Sidebar -->
<div class="section">
  <article class="card">
    <div class="card__content card__content--center">
      <button class="button button--sc success"><%= icon "check", class: "icon--small" %> Siguiendo</button>
      <div class="">
        Recibe una notificación cuando se publiquen nuevos artículos.
      </div>
    </div>
  </article>
</div>
<div class="section">
  <div class="section-heading">
    Artículos con más actividad
  </div>
  <div class="m-bottom">
    <strong>Lorem ipsum dolor sit amet, consectetur.</strong>
    <div class="author-data author-data--nopadding">
      01/08/2018&nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="#comments" title="Comentarios">
        <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %> 18 comentarios
      </a>
    </div>
  </div>
  <div class="m-bottom">
    <strong>Lorem amet, consectetur adipisicing elit.</strong>
    <div class="author-data author-data--nopadding">
      01/08/2018&nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="#comments" title="Comentarios">
        <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %> 18 comentarios
      </a>
    </div>
  </div>
  <div class="m-bottom">
    <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>
    <div class="author-data author-data--nopadding">
      01/08/2018&nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="#comments" title="Comentarios">
        <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %> 18 comentarios
      </a>
    </div>
  </div>
  <div class="m-bottom">
    <strong>Lorem ipsum dolor adipisicing elit.</strong>
    <div class="author-data author-data--nopadding">
      01/08/2018&nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="#comments" title="Comentarios">
        <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %> 18 comentarios
      </a>
    </div>
  </div>
</div>
<div class="section">
  <div class="section-heading">
    Categorías
  </div>
  <div class="m-bottom">
    <strong>Medio Ambiente</strong>
    <div class="author-data author-data--nopadding">12 artículos</div>
  </div>
</div>
<div class="section">
  <div class="section-heading">
    Archivo
  </div>
  <div class="m-bottom">
    <%= link_to page_path("blog/blog-archives"), class: "card__link" do %>
    <span class="author-data author-data--nopadding">Ver archivo de artículos</span>
    <% end %>
  </div>
</div>
