<ol class="timeline">
  <li class="timeline__item">
    <div class="timeline__phase">
      <span class="timeline__phase__number">1</span>
    </div>
    <div class="timeline__info">
      <div class="timeline__header">
        <span class="timeline__date text-small">02/06/2016 - 01/07/2016</span>
        <h6 class="timeline__title heading6">Informació</h6>
      </div>
      <div class="timeline__content">
        <p>
          Es duran a terme dues sessions, en què s’informarà la ciutadania sobre
          el procés, la seva voluntat, l'abast i el funcionament, així com dels
          criteris de selecció dels àmbits i les línies estratègiques sobre les
          quals es podrà fer proposta d’actuació, priorització i tria a partir
          de decidim.barcelona i les trobades presencials.
        </p>
        <p>
          Del 27 d’octubre de 2016 al 28 de febrer de 2017 podreu trobar a
          diferents espais del districte un punt d’informació i de participació
          en el procés.
        </p>
      </div>
      <ul class="timeline__footer">
        <li class="timeline__footer-item">
          <a href="#" class="timeline__footer-inner">
            <%= icon "meetings", class: "timeline__item-icon" %>
            <span class="timeline__item-text">
              23 trobades
            </span>
          </a>
        </li>
        <li class="timeline__footer-item">
          <a href="#" class="timeline__footer-inner">
            <%= icon "proposals", class: "timeline__item-icon" %>
            <span class="timeline__item-text">
              2500 propostes
            </span>
          </a>
        </li>
        <li class="timeline__footer-item">
          <a href="#" class="timeline__footer-inner">
            <%= icon "debates", class: "timeline__item-icon" %>
            <span class="timeline__item-text">
              20 debates
            </span>
          </a>
        </li>
      </ul>
    </div>
  </li>

  <li class="timeline__item">
    <div class="timeline__phase">
      <span class="timeline__phase__number">2</span>
    </div>
    <div class="timeline__info">
      <div class="timeline__header">
        <span class="timeline__date text-small">02/06/2016 - 01/07/2016</span>
        <h6 class="timeline__title heading6">Reflexió</h6>
      </div>
      <div class="timeline__content">
        <p>
          Es duran a terme dues sessions, en què s’informarà la ciutadania sobre
          el procés, la seva voluntat, l'abast i el funcionament, així com dels
          criteris de selecció dels àmbits i les línies estratègiques sobre les
          quals es podrà fer proposta d’actuació, priorització i tria a partir
          de decidim.barcelona i les trobades presencials.
        </p>
        <p>
          Del 27 d’octubre de 2016 al 28 de febrer de 2017 podreu trobar a
          diferents espais del districte un punt d’informació i de participació
          en el procés.
        </p>
      </div>
      <ul class="timeline__footer">
        <li class="timeline__footer-item">
          <a href="#" class="timeline__footer-inner">
            <%= icon "meetings", class: "timeline__item-icon" %>
            <span class="timeline__item-text">
              23 trobades
            </span>
          </a>
        </li>
        <li class="timeline__footer-item">
          <a href="#" class="timeline__footer-inner">
            <%= icon "proposals", class: "timeline__item-icon" %>
            <span class="timeline__item-text">
              2500 propostes
            </span>
          </a>
        </li>
      </ul>
    </div>
  </li>

  <li class="timeline__item timeline__item--current">
    <div class="timeline__phase">
      <span class="timeline__phase__number">3</span>
    </div>
    <div class="timeline__info">
      <div class="timeline__header">
        <span class="timeline__date text-small">02/06/2016 - 01/07/2016</span>
        <h6 class="timeline__title heading6">Propostes</h6>
      </div>
      <div class="timeline__content">
        <p>
          Es duran a terme dues sessions, en què s’informarà la ciutadania sobre
          el procés, la seva voluntat, l'abast i el funcionament, així com dels
          criteris de selecció dels àmbits i les línies estratègiques sobre les
          quals es podrà fer proposta d’actuació, priorització i tria a partir
          de decidim.barcelona i les trobades presencials.
        </p>
        <p>
          Del 27 d’octubre de 2016 al 28 de febrer de 2017 podreu trobar a
          diferents espais del districte un punt d’informació i de participació
          en el procés.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline__item timeline__item--inactive">
    <div class="timeline__phase">
      <span class="timeline__phase__number">4</span>
    </div>
    <div class="timeline__info">
      <div class="timeline__header">
        <span class="timeline__date text-small">02/06/2016 - 01/07/2016</span>
        <h6 class="timeline__title heading6">Concreción</h6>
      </div>
      <div class="timeline__content">
        <p>
          Es duran a terme dues sessions, en què s’informarà la ciutadania sobre
          el procés, la seva voluntat, l'abast i el funcionament, així com dels
          criteris de selecció dels àmbits i les línies estratègiques sobre les
          quals es podrà fer proposta d’actuació, priorització i tria a partir
          de decidim.barcelona i les trobades presencials.
        </p>
        <p>
          Del 27 d’octubre de 2016 al 28 de febrer de 2017 podreu trobar a
          diferents espais del districte un punt d’informació i de participació
          en el procés.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline__item timeline__item--inactive">
    <div class="timeline__phase">
      <span class="timeline__phase__number">5</span>
    </div>
    <div class="timeline__info">
      <div class="timeline__header">
        <span class="timeline__date text-small">02/06/2016 - 01/07/2016</span>
        <h6 class="timeline__title heading6">Retorno</h6>
      </div>
      <div class="timeline__content">
        <p>
          Es duran a terme dues sessions, en què s’informarà la ciutadania sobre
          el procés, la seva voluntat, l'abast i el funcionament, així com dels
          criteris de selecció dels àmbits i les línies estratègiques sobre les
          quals es podrà fer proposta d’actuació, priorització i tria a partir
          de decidim.barcelona i les trobades presencials.
        </p>
        <p>
          Del 27 d’octubre de 2016 al 28 de febrer de 2017 podreu trobar a
          diferents espais del districte un punt d’informació i de participació
          en el procés.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline__item timeline__item--inactive">
    <div class="timeline__phase">
      <span class="timeline__phase__number">6</span>
    </div>
    <div class="timeline__info">
      <div class="timeline__header">
        <span class="timeline__date text-small">02/06/2016 - 01/07/2016</span>
        <h6 class="timeline__title heading6">Seguimiento</h6>
      </div>
      <div class="timeline__content">
        <p>
          Es duran a terme dues sessions, en què s’informarà la ciutadania sobre
          el procés, la seva voluntat, l'abast i el funcionament, així com dels
          criteris de selecció dels àmbits i les línies estratègiques sobre les
          quals es podrà fer proposta d’actuació, priorització i tria a partir
          de decidim.barcelona i les trobades presencials.
        </p>
        <p>
          Del 27 d’octubre de 2016 al 28 de febrer de 2017 podreu trobar a
          diferents espais del districte un punt d’informació i de participació
          en el procés.
        </p>
      </div>
    </div>
  </li>
</ol>
