<!-- Topbar -->
<div class="title-bar">
  <a target="_blank" href="http://ajuntament.barcelona.cat/"
     class="logo-cityhall">
     <%= image_pack_tag "media/images/badge-ajuntament-header.svg", alt: "Ajuntament de Barcelona" %>
  </a>
  <div class="row column topbar">
    <div class="logo-wrapper">
      <a href="/">
        <%= image_pack_tag "media/images/decidim-logo.svg", alt: "Decidim Barcelona" %>
      </a>
    </div>
    <div class="show-for-medium" data-set="nav-search-holder">
      <div class="topbar__search js-append">
        <form id="form-search_topbar" action="/search?locale=en" accept-charset="UTF-8" method="get">
          <input name="utf8" type="hidden" value="✓">
            <div class="input-group">
              <label for="term">
                <span class="show-for-sr">Search</span>
                <input type="text" name="term" id="term" class="input-group-field m-none" placeholder="Search" title="Search">
              </label>
              <div class="input-group-button">
                <!-- The button wrapper is important for Safari and Firefox -->
                <div class="button-wrapper">
                  <button type="submit" name="commit" title="Search" id="submit" class="button">
                    <%= icon "magnifying-glass", aria_label: "Buscar", role: "img" %>
                  </button>
                </div>
              </div>
            </div>
        </form>
      </div>

    </div>
    <div class="topbar__dropmenu language-choose">
      <ul id="topbar__language-choose" class="dropdown menu" data-dropdown-menu>
        <li class="is-dropdown-submenu-parent">
          <a href="#">Català</a>
          <ul class="menu is-dropdown-submenu">
            <li><a href="#">Castellano</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="hide-for-medium topbar__menu">
      <button type="button" data-toggle="offCanvas">
        <%= icon "menu", aria_label: "Navegación", role: "img" %>
      </button>
    </div>
    <% if @activeuser == "logged" %>
      <div class="topbar__dropmenu topbar__user__logged">
        <ul id="topbar__user-notifications" class="dropdown menu" data-dropdown-menu>
          <li class="is-dropdown-submenu-parent show-for-medium">
            <!-- No new notifications? Remove is-active class -->
            <a href="#" class="topbar__notifications" title="Notificaciones">
              <%= icon "bell" %>
            </a>
            <ul class="menu is-dropdown-submenu js-append usermenu-off-canvas">
              <% 3.times do %>
                <li>
                  <div class="topbar__notifications__item">
                    <div><%= icon "profile", class: "icon--large" %></div>
                    <div>
                      <small class="text-small">Accepted proposal</small>
                      <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>
                    </div>
                  </div>
                </li>
              <% end %>

              <li class="topbar__notifications__item--more">Ver más notificaciones</li>
            </ul>
          </li>
        </ul>
        <ul id="topbar__user-profile" class="dropdown menu" data-dropdown-menu>
          <li class="is-dropdown-submenu-parent show-for-medium">
            <%= link_to page_path("user/user-profile") do %>
              <%= image_pack_tag "media/images/demo-avatar.jpg", class: "topbar__user__logged__picture" %>
            <% end %>
            <ul class="menu is-dropdown-submenu js-append usermenu-off-canvas">
              <li>
                <div class="topbar__user__logged__name">
                  <strong><%= Faker::Name.name %></strong>
                  <small>@<%= Faker::Twitter.screen_name %></small>
                </div>
              </li>
              <li><a href="#" class="">Tu cuenta</a></li>
              <li><a href="#" class="">Salir</a></li>
            </ul>
            <span data-set="nav-login-holder" class="show-for-medium">
              <!-- Repeated due to dropdown limitations -->
              <ul class="menu is-dropdown-submenu js-append usermenu-off-canvas">
                <li class="show-for-medium">
                  <div class="topbar__user__logged__name">
                    <strong><%= Faker::Name.name %></strong>
                    <small>@<%= Faker::Twitter.screen_name %></small>
                  </div>
                </li>
                <li><a href="#">Tu cuenta</a></li>
                <li><a href="#">Salir</a></li>
              </ul>
            </span>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="topbar__user show-for-medium" data-set="nav-login-holder">
          <div class="topbar__user__login js-append">
            <%= link_to "Regístrate", page_path("user/user-register") %>
            <%= link_to "Entra", page_path("user/user-login") %>
          </div>
      </div>
    <% end %>
  </div>
</div>
