<p><%== t(".email_greeting", username: @user.nickname.html_safe) %></p>

<p><%== t(".email_intro", organization_name: @organization.name.html_safe) %></p>

<% if see_more? %>
  <p><%== t(".email_see_more",
            organization_path: decidim.root_url(host: @organization.host),
            organization_name: @organization.name.html_safe,
            notifications_path: decidim.notifications_path) %>
  </p>
<% end %>

<% @events.each do |event| %>
  <%
    event_instance = event[:event_class].constantize.new(
      resource: event[:resource],
      event_name: event[:event_name],
      user: event[:user],
      extra: event[:extra],
      user_role: event[:user_role]
    )
  %>

  <blockquote>
    <p>
      <%= resource_icon event[:resource], class: "notification-icon icon icon--small" %>
      <%= event_instance.notification_title %>
    </p>
    <span class="notification-time_ago"><%= t(".sent_ago", sent_ago: event[:created_at]) %></span>
  </blockquote>
<% end %>

<p><%== t(".email_outro", profile_path: decidim.profile_path(@user.nickname)) %></p>
