<div class="space-y-4">
  <div class="flex justify-between items-center gap-4 [&>*]:grow">
    <%= action_authorized_link_to :amend, review_amend_path, resource: model, data: { "redirect_url" => review_amend_path }, class: "button button__sm button__secondary" do %>
      <%= icon "thumb-up-line" %>
      <span><%= t(:button_accept, scope: "decidim.amendments.emendation.actions") %></span>
    <% end %>

    <%= action_authorized_link_to :amend, reject_amend_path, method: :patch, resource: model, data: { "redirect_url" => reject_amend_path }, class: "button button__sm button__transparent-secondary" do %>
      <%= icon "thumb-down-line" %>
      <span><%= t(:button_reject, scope: "decidim.amendments.emendation.actions") %></span>
    <% end %>
  </div>

  <span class="block text-gray-2 text-xs"><%= t(:help_text, scope: "decidim.amendments.emendation.actions") %></span>
</div>
