<% add_decidim_page_title(t(".sign_up")) %>

<% content_for :devise_links do %>
  <%= render "decidim/devise/shared/links" %>
<% end %>

<main class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <span <%= form_step_attributes(step: 1) %>>
          <h1><%= t(".sign_up") %></h1>
          <p>
            <%= t(".sign_up_subtitle") %>
          </p>
          <p>
            <%= t(".already_have_an_account?") %>
            <%= link_to t(".sign_in"), new_user_session_path %>
          </p>
        </span>

        <% if @form.errors.empty? %>
          <span <%= form_step_attributes(step: 2) %>>
            <h1><%= t(".complete_sign_up") %></h1>
            <p>
              <%= t(".complete_sign_up_subtitle") %>
            </p>
          </span>
        <% end %>
      </div>
    </div>

    <span <%= form_step_attributes(step: 1) %>>
      <%= render "decidim/devise/shared/omniauth_buttons" %>
    </span>

    <div class="row">
      <div class="columns large-6 medium-10 medium-centered">

        <%= decidim_form_for(@form, as: resource_name, url: registration_path(resource_name), html: { class: "register-form new_user", id: "register-form" }) do |f| %>
          <%= invisible_captcha %>
          <div class="card">
            <div class="card__content">
              <div class="user-person" <%= form_step_attributes(step: 2, field: true) %>>
                <div class="field">
                  <%= f.text_field :name, help_text: t(".username_help") %>
                </div>
              </div>

              <div class="user-nickname" <%= form_step_attributes(step: 2, field: true) %>>
                <div class="field">
                  <%= f.text_field :nickname, help_text: t(".nickname_help", organization: current_organization.name), prefix: { value: "@", small: 1, large: 1 } %>
                </div>
              </div>

              <div class="field" <%= form_step_attributes(step: 1, field: true) %>>
                <%= f.email_field :email %>
              </div>

              <div class="field" <%= form_step_attributes(step: 1, field: true) %>>
                <%= f.password_field :password, help_text: t(".password_help", minimun_characters: NOBSPW.configuration.min_password_length), autocomplete: "off" %>
              </div>

              <div class="field" <%= form_step_attributes(step: 1, field: true) %>>
                <%= f.password_field :password_confirmation %>
              </div>
            </div>
          </div>

          <div class="card" id="card__tos" <%= form_step_attributes(step: 1, field: true) %>>
            <div class="card__content">
              <legend><%= t(".tos_title") %></legend>

              <p class="tos-text">
                <%= strip_tags(translated_attribute(terms_and_conditions_page.content)) %>
              </p>

              <div class="field">
                <%= f.check_box :tos_agreement, label: t(".tos_agreement", link: link_to(t(".terms"), page_path("terms-and-conditions"))) %>
              </div>
            </div>
          </div>

          <div class="card" id="card__newsletter" <%= form_step_attributes(step: 2, field: true) %>>
            <div class="card__content">
              <legend><%= t(".newsletter_title") %></legend>

              <fieldset>
                <div class="field">
                  <%= f.check_box :newsletter, label: t(".newsletter"), checked: @form.newsletter %>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="card">
            <div class="card__content">
              <div class="actions">
                <%= button_tag(
                      t(".continue"),
                      class: "button expanded form-step-button",
                      style: form_step_style(step: 1),
                      type: nil,
                      "form-step": 1
                    ) %>

                <button class="button expanded hollow form-step-button" <%= form_step_attributes(step: 2) %>>
                  <%= t(".back") %>
                </button>

                <%= f.submit(
                      t("devise.registrations.new.sign_up"),
                      class: "button expanded",
                      style: form_step_style(step: 2),
                      "form-step-field": "",
                      "form-step": 2
                    ) %>
              </div>
              <%= yield :devise_links %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
<%= render "decidim/devise/shared/newsletter_modal" %>
