<% add_decidim_page_title(t(".sign_up")) %>

<% content_for :devise_links do %>
  <%= render "decidim/devise/shared/links" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="flex justify-center">
    <h1 class="title-decorator my-12"><%= t("decidim.devise.registrations.new.sign_up") %></h1>
  </div>

  <div class="login__info">
    <p>
      <%= t("decidim.devise.registrations.new.subtitle") %>
    </p>
    <p class="font-semibold">
      <%= t("decidim.devise.registrations.new.already_have_an_account?") %>
      <%= link_to t("decidim.devise.registrations.new.log_in"), new_user_session_path %>
    </p>
  </div>

  <div class="login__info-required">
    <%= form_required_explanation %>
  </div>

  <span class="login__info-separator"></span>

  <% cache current_organization do %>
    <%= render "decidim/devise/shared/omniauth_buttons" %>
  <% end %>

  <%= decidim_form_for(@form, namespace: "registration", as: resource_name, url: registration_path(resource_name), html: { id: "register-form" }) do |f| %>
    <%= invisible_captcha %>

    <div class="form__wrapper">
      <%= f.text_field :name, help_text: t("decidim.devise.registrations.new.username_help"), autocomplete: "name", placeholder: "John Doe" %>

      <%= f.email_field :email, autocomplete: "email", placeholder: t("placeholder_email", scope: "decidim.devise.shared") %>

      <%= render partial: "decidim/account/password_fields", locals: { form: f, user: :user } %>
    </div>

    <div id="card__tos" class="form__wrapper-block">
      <h4 class="h4"><%= t("decidim.devise.registrations.new.tos_title") %></h4>

      <div class="tos-text">
        <% terms_of_service_summary_content_blocks.each do |content_block| %>
          <%= cell content_block.manifest.cell, content_block %>
        <% end %>
      </div>

      <%= f.check_box :tos_agreement, label: t("decidim.devise.registrations.new.tos_agreement", link: link_to(t("decidim.devise.registrations.new.terms"), page_path("terms-of-service"))), label_options: { class: "form__wrapper-checkbox-label" } %>
    </div>

    <div id="card__newsletter" class="form__wrapper-block">
      <h4 class="h4"><%= t("decidim.devise.registrations.new.newsletter_title") %></h4>
      <%= f.check_box :newsletter, label: t("decidim.devise.registrations.new.newsletter"), checked: @form.newsletter, label_options: { class: "form__wrapper-checkbox-label" } %>
    </div>

    <div class="form__wrapper-block">
      <button type="submit" class="button button__lg button__secondary">
        <%= t("decidim.devise.registrations.new.sign_up") %>
        <%= icon "arrow-right-line", class: "fill-current" %>
      </button>
    </div>

    <div class="login__links">
      <%= render "decidim/devise/shared/links" %>
    </div>
  <% end %>
<% end %>

<%= render "decidim/devise/shared/newsletter_modal" %>
