<% add_decidim_page_title(t(".sign_up")) %>

<main class="wrapper">
<div class="row collapse">
  <div class="row collapse">
    <div class="columns large-8 large-centered text-center page-title">
      <h1><%= t(".sign_up") %></h1>
      <p>
        <%= t(".subtitle") %>
      </p>
      <p>
        <%= t(".already_have_an_account?") %>
        <%= link_to t(".sign_in"), new_user_session_path %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 medium-10 medium-centered">
      <div class="card">
        <div class="card__content">
          <%= decidim_form_for(@form, as: resource_name, url: registration_path(resource_name), html: { class: "register-form new_user" }) do |f| %>
            <%= invisible_captcha %>

            <fieldset class="text-center">
              <legend class="text-center heading5"><%= t(".sign_up_as.legend") %></legend>
              <%= f.collection_radio_buttons :sign_up_as, [["user", t(".sign_up_as.user")], ["user_group", t(".sign_up_as.user_group") ]], :first, :last %>
            </fieldset>

            <div class="user-person">
              <div class="field">
                <%= f.text_field :name, help_text: t(".username_help") %>
              </div>
            </div>

            <div class="field">
              <%= f.email_field :email %>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.password_field :password_confirmation %>
            </div>

            <div class="user-group-fields">
              <div class="field">
                <%= f.text_field :user_group_name %>
              </div>

              <div class="field">
                <%= f.text_field :user_group_document_number %>
              </div>

              <div class="field">
                <%= f.text_field :user_group_phone %>
              </div>
            </div>

            <p class="lopd-text">
              <%= strip_tags(translated_attribute(terms_and_conditions_page.content)) %>
            </p>

            <fieldset>
              <div class="field">
                <%= f.check_box :newsletter_notifications, label: t(".newsletter_notifications") %>
              </div>

              <div class="field">
                <%= f.check_box :tos_agreement, label: t(".tos_agreement", link: link_to(t(".terms"), page_path("terms-and-conditions"))) %>
              </div>
            </fieldset>

            <div class="actions">
              <%= f.submit t("devise.registrations.new.sign_up"), class: "button expanded" %>
            </div>
          <% end %>
          <%= render "decidim/devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
  <%= render "decidim/devise/shared/omniauth_buttons" %>
</div>
</main>
