<% scope = "decidim.open_data.index.#{i18n_scope}" %>

<div class="card" data-component="accordion">
  <div class="card-divider">
    <button class="card-divider-button" data-open="false" data-controls="panel-title--<%= i18n_scope %>" type="button">
      <h2 class="card-title" id="title">
        <%= t("title", scope:) %>
      </h2>
      <%= icon "arrow-down-s-line", class: "mb-4" %>
    </button>
  </div>

  <div id="panel-title--<%= i18n_scope %>" class="card-section" aria-hidden="true">
    <%= yield %>
  </div>
</div>
