<div class="old-user-password"
  data-show-password="<%= t "show_password", scope: "decidim.devise.shared.password_fields" %>"
  data-hide-password="<%= t "hide_password", scope: "decidim.devise.shared.password_fields" %>"
  data-hidden-password="<%= t "hidden_password", scope: "decidim.devise.shared.password_fields" %>"
  data-shown-password="<%= t "shown_password", scope: "decidim.devise.shared.password_fields" %>">
  <div class="!ml-0 old-password__wrapper">
    <%= form.send(:custom_label, :old_password, t("activemodel.attributes.user.old_password"), { required: true }) %>

    <% if local_assigns.has_key?(:show_help_text) %>
      <%= form.password_field :old_password, old_password_options %>
    <% else %>
      <%= form.password_field :old_password, autocomplete: "current-password", required: true, label: false %>
    <% end %>
  </div>
</div>
