<span class="user-password"
  data-show-password="<%= t "show_password", scope: "decidim.devise.shared.password_fields" %>"
  data-hide-password="<%= t "hide_password", scope: "decidim.devise.shared.password_fields" %>"
  data-hidden-password="<%= t "hidden_password", scope: "decidim.devise.shared.password_fields" %>"
  data-shown-password="<%= t "shown_password", scope: "decidim.devise.shared.password_fields" %>">
  <%= form.password_field :password, password_field_options_for(current_user).merge(value: form.object.password) %>
</span>

<span class="user-password-confirmation">
  <%= form.password_field :password_confirmation, password_field_options_for(current_user).except(:help_text).merge(value: form.object.password_confirmation) %>
</span>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_registrations" %>
<% end %>
