<% add_decidim_page_title(t("delete_my_account", scope: "layouts.decidim.user_profile")) %>
<% content_for(:subtitle) { t("delete_my_account", scope: "layouts.decidim.user_profile") } %>

<div class="row">
  <div class="columns large-8 end">
    <div class="callout alert">
      <p><%= t(".alert") %></p>
      <% if has_authorizations? %>
        <p><strong><%= t(".leaving_authorizations_behind") %></strong></p>
      <% end %>
    </div>
    <p><%= t(".explanation") %></p>
    <%= decidim_form_for(@form, url: account_path, method: :delete, namespace: "delete_user", html: { class: "user-form delete-account" }) do |f| %>
      <div>
        <label>
          <span class="user-form__label"><%= t("activemodel.attributes.account.delete_reason") %></span>
          <%= f.text_area :delete_reason, rows: 2, label: false %>
        </label>
      </div>
      <button class="button open-modal-button"><%= t(".confirm.title") %></button>
    <% end %>
    <div class="tiny reveal" id="deleteConfirm" data-reveal>
      <%= decidim_form_for(@form, url: account_path, method: :delete, namespace: "delete_user_confirm", html: { class: "user-form delete-account-modal" }) do |f| %>
        <%= f.hidden_field :delete_reason %>

        <p><%= t(".confirm.question") %></p>

        <input type="submit" class="button expanded" value="<%= t(".confirm.ok") %>">

        <button class="close-button" data-close aria-label="<%= t(".confirm.close") %>" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      <% end %>
    </div>
  </div>
</div>
