<div class="row">
  <%= decidim_form_for(@account, url: account_path, method: :put, class: "user-form") do |f| %>
    <div class="columns large-4">
      <%= f.upload :avatar %>
    </div>

    <div class="columns large-8 end">
      <%= f.text_field :name %>
      <%= f.email_field :email %>

      <% if @account.errors[:password].any? || @account.errors[:password_confirmation].any? %>
        <%= render partial: "password_fields", locals: { form: f } %>
      <% else %>
        <p>
          <a data-toggle="passwordChange" class="change-password"><%= t ".change_password" %></a>
        </p>
        <div id="passwordChange" class="toggle-show" data-toggler=".is-expanded">
          <%= render partial: "password_fields", locals: { form: f } %>
        </div>
      <% end %>

      <%= f.submit t(".update_account"), disable_with: true %>
    <% end %>
  </div>
</div>
