<%= alert_box("", "account-notification hide", true) %>
<% add_decidim_page_title(t("profile", scope: "layouts.decidim.user_menu")) %>
<% content_for(:subtitle) { t("profile", scope: "layouts.decidim.user_menu") } %>

<div class="row">
  <%= decidim_form_for(@account, url: account_path, method: :put, html: { autocomplete: "on" }) do |f| %>
    <div class="columns large-4">
      <%= f.upload :avatar %>
    </div>

    <div class="columns large-8 end">
      <% if current_user.unconfirmed_email.present? %>
        <div id="email-change-pending" class="callout secondary">
          <p><strong><%= t("decidim.account.email_change.title") %></strong></p>
          <p><%= t("decidim.account.email_change.body1", unconfirmed_email: current_user.unconfirmed_email) %></p>
          <p>
            <%== t(
              "decidim.account.email_change.body2",
              resend_link: link_to(t("decidim.account.email_change.send_again"), resend_confirmation_instructions_account_path, role: :button, method: :post, remote: true),
              cancel_link: link_to(t("decidim.account.email_change.cancel"), cancel_email_change_account_path, role: :button, method: :post, remote: true)) %>
          </p>
        </div>
      <% end %>

      <%= form_required_explanation %>

      <%= f.text_field :name, autocomplete: "name" %>
      <%= f.text_field :nickname, autocomplete: "nickname" %>
      <%= f.email_field :email, disabled: current_user.unconfirmed_email.present?, autocomplete: "email" %>
      <%= f.url_field :personal_url, autocomplete: "url" %>
      <%= f.text_area :about, rows: 5 %>

      <%= f.collection_select(
            :locale,
            @account.organization.available_locales,
            :to_s,
            ->(locale) {locale_name(locale) }
          ) %>
      <p class="help-text"><%= t(".available_locales_helper") %></p>

      <% if @account.errors[:password].any? || @account.errors[:password_confirmation].any? %>
        <%= render partial: "password_fields", locals: { form: f } %>
      <% else %>
        <% if current_organization.sign_in_enabled? %>
          <p>
            <button type="button" data-toggle="passwordChange" class="link change-password"><%= t ".change_password" %></button>
          </p>
          <div id="passwordChange" class="toggle-show" data-toggler=".is-expanded">
            <%= render partial: "password_fields", locals: { form: f } %>
          </div>
        <% end %>
      <% end %>

      <%= f.submit t(".update_account") %>
    </div>
  <% end %>
</div>
