<%
@title = "Propuesta -- Decidim Barcelona"
@activesection = "processes"
@activepage = "meetings"
%>

<%= partial "template_top" %>

<main>
  <div class="wrapper">
    <%= partial "process_header" %>
    <div class="row">
      <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
        <div class="section">
          <%= partial "followme" %>
        </div>
        <div class="card extra">
          <div class="card__content">
            <div class="extra__date">
              20 <span class="extra__month">Agosto</span>
            </div>
            <div class="extra__time">
              16:00 - 18:00
            </div>
            <button class="button expanded button--sc" data-open="debate-info">
              Voy a ir</button>
          </div>
        </div>
        <div class="card card--secondary extra definition-data">
          <div class="definition-data__item definition-data__item--double">
            <span class="definition-data__title">Assistents</span>
            <span class="definition-data__number">8</span>
          </div>
          <div class="definition-data__item definition-data__item--double">
            <span class="definition-data__title">Intervencions</span>
            <span class="definition-data__number">25</span>
          </div>
          <div class="definition-data__item">
            <span class="definition-data__title">Organitzacions participants</span>
            <span class="definition-data__text">Arcàdia, La Col, Impuls,
              Comissionat d'Economia cooperativa, social i solidària.</span>
          </div>
        </div>
        <%= partial "share" %>
      </div>
      <div class="columns mediumlarge-8 mediumlarge-pull-4">
        <div class="row column">
          <div class="callout warning mb-sm">
            <p><%= Faker::StarWars.quote %></p>
          </div>
        </div>
        <div class="row column view-header">
          <h2 class="heading2">Cooperatives i economia solidària</h2>
          <%= partial "author_data", { extra: true } %>
        </div>
        <div class="section">
          <p>
            Aquesta sessió s’emmarca en la fase de debats propositius on s'inclouen sessions per col·lectius socials diferenciats (adolescent, joves, dones, gent gran, diversitat funcional) i agents socials, culturals i econòmics del territori (veïnat, comerç, cultura, empreses 22@ i de l'economia solidària) amb l’objectiu d’incorporar les necessitats i inquietuds de la diversitat de la societat. Es tracta d'un taller de debat des del que plantejar propostes que donin resposta a les necessitats i problemàtiques del pla 22@ identificades pel veïnat en l'anterior fase del procés participatiu "Diagnosi ciutadana".
          </p>
        </div>
        <div class="section">
          <div class="flex--sbe">
            <h2 class="section-heading">Meeting minutes</h2>
            <a class="mb-s" href=""><u>open in a new tab</u></a>
          </div>
          <div class="card">
            <div class="card__content scroll">
              <h5 class="heading5"><strong class="text-uppercase">WILLKOMMEN</strong>&nbsp;<span class="text-small">[<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>]</span></h5>
              <hr class="reset m-none mb-s">
              <p><%= Faker::Lovecraft.paragraph %></p>
              <h5 class="heading5"><strong class="text-uppercase">Hauptdiskussionen</strong>&nbsp;<span class="text-small">[<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>]</span></h5>
              <hr class="reset m-none mb-s">
              <p><%= Faker::Lovecraft.paragraph %></p>
              <h6 class="heading6"><strong class="text-uppercase">Überprüfung der Ziele</strong>&nbsp;<span class="text-small">[<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>]</span></h6>
              <p><%= Faker::Lovecraft.paragraph %></p>
              <p><%= Faker::Lovecraft.paragraph %></p>
              <h5 class="heading5"><strong class="text-uppercase">Hauptdiskussionen: Zweiter Teil</strong>&nbsp;<span class="text-small">[<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>]</span></h5>
              <hr class="reset m-none mb-s">
              <p><%= Faker::Lovecraft.paragraph %></p>
              <h6 class="heading6"><strong class="text-uppercase">Überprüfung der Ziele: Zweiter Teil</strong>&nbsp;<span class="text-small">[<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>]</span></h6>
              <p><%= Faker::Lovecraft.paragraph %></p>
              <p><%= Faker::Lovecraft.paragraph %></p>
              <p><%= Faker::Lovecraft.paragraph %></p>
              <p><%= Faker::Lovecraft.paragraph %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="expanded">
    <div class="wrapper wrapper--inner">
      <div class="row">
        <div class="columns large-9" id="comments">
          <%= partial "comments" %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
