<%
@title = "Meetings -- Decidim Barcelona"
@activesection = "processes"
@activepage = "meetings"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row column view-header">
      <h2 class="heading2">Cooperatives i economia solidària</h2>
      <%= partial "author_data", { extra: true } %>
    </div>
    <div class="row">
      <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
        <div class="card text-center">
          <div class="card__content">
            <div class="extra__date">20 <span class="extra__month text-small">Agosto</span></div>
            <div class="extra__time text-small"><%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %></div>
          </div>
          <div class="card__footer">
            <div class="card--widget card--widget__list">
              <div class="card--list__item p-s">
                <%= icon "meetings", class: "icon--large alert" %>
                <div class="text-left text-compact ml-s">
                  <strong><%= Faker::Address.community %></strong><br>
                  <span class="text-small"><%= Faker::Address.street_address %>&nbsp;(<a href=""><u>map</u></a>)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card--widget card--widget__list">
          <% 3.times do %>
            <div class="card--list__item p-s">
              <%= icon "actions", class: "icon--large success" %>
              <div class="text-left text-compact ml-s">
                <strong class="text-uppercase"><%= Faker::Company.buzzword %></strong><br>
                <span class="text-small"><%= Faker::Company.catch_phrase %></span>
              </div>
            </div>
          <% end %>
        </div>
        <%= partial "followme" %>
        <%= partial "share" %>
      </div>
      <div class="columns mediumlarge-8 mediumlarge-pull-4">
        <div class="section">
          <div class="card card--secondary">
            <div class="card__content text-center">
              <div class="heading1 text-primary">
                <%= icon "audio", class: "heading4" %>
              </div>
              <div>
                <strong class="heading5">Esté evento está sucediendo ahora</strong>
              </div>
              <div class="margin-top-3">
                <%= link_to page_path("meetings/meeting-polls-initial"), class: "button button--sc" do %>
                Entra al encuentro
                <% end %>
              </div>
            </div>
          </div>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, earum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem modi necessitatibus consequatur repudiandae ea cum magni minus culpa repellat! Laboriosam blanditiis facere, rerum qui ut quos odio. Facere tempora neque aperiam delectus magni minima nemo quas voluptatum possimus, eligendi animi optio, incidunt assumenda provident? Sint laborum iste soluta. Adipisci, necessitatibus?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, minus aspernatur velit veniam temporibus delectus sit suscipit. Voluptatibus numquam accusamus alias eum nam animi ratione impedit deleniti consequuntur aspernatur esse rerum tempora, quasi officiis ullam nostrum. Placeat est ad odit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="expanded">
    <div class="wrapper wrapper--inner">
      <div class="row">
        <div class="columns large-9" id="comments">
          <%= partial "comments" %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
