<%
@title = "Propuesta -- Decidim Barcelona"
@activesection = "processes"
@activepage = "meetings"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row column view-header">
      <h2 class="heading2">Cooperatives i economia solidària</h2>
      <%= partial "author_data", { extra: true } %>
    </div>
    <div class="row">
      <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
        <div class="card text-center">
          <div class="card__content">
            <div class="extra__date">20 <span class="extra__month text-small">Agosto</span></div>
            <div class="extra__time text-small"><%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %></div>
          </div>
          <div class="card__footer">
            <div class="card--widget card--widget__list">
              <div class="card--list__item p-s">
                <%= icon "meetings", class: "icon--large alert" %>
                <div class="text-left text-compact ml-s">
                  <strong><%= Faker::Address.community %></strong><br>
                  <span class="text-small"><%= Faker::Address.street_address %>&nbsp;(<a href=""><u>map</u></a>)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card--widget card--widget__list">
          <% 3.times do %>
            <div class="card--list__item p-s">
              <%= icon "actions", class: "icon--large success" %>
              <div class="text-left text-compact ml-s">
                <strong class="text-uppercase"><%= Faker::Company.buzzword %></strong><br>
                <span class="text-small"><%= Faker::Company.catch_phrase %></span>
              </div>
            </div>
          <% end %>
        </div>
        <%= partial "followme" %>
        <%= partial "share" %>
      </div>
      <div class="columns mediumlarge-8 mediumlarge-pull-4">
        <div class="section">
          <span class="alert label light proposal-status">Tancat</span>
          <p>
            Aquesta sessió s’emmarca en la fase de debats propositius on s'inclouen sessions per col·lectius socials diferenciats (adolescent, joves, dones, gent gran, diversitat funcional) i agents socials, culturals i econòmics del territori (veïnat, comerç, cultura, empreses 22@ i de l'economia solidària) amb l’objectiu d’incorporar les necessitats i inquietuds de la diversitat de la societat. Es tracta d'un taller de debat des del que plantejar propostes que donin resposta a les necessitats i problemàtiques del pla 22@ identificades pel veïnat en l'anterior fase del procés participatiu "Diagnosi ciutadana".
          </p>
        </div>
        <div class="section">
          <div class="flex--sbe">
            <h2 class="section-heading">Meeting minutes</h2>
            <a class="mb-s" href=""><u>open in a new tab</u></a>
          </div>
          <div class="card">
            <div class="card__content scroll">
              <h5 class="heading5"><strong class="text-uppercase">WILLKOMMEN</strong>&nbsp;<span class="text-small">[<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>]</span></h5>
              <hr class="reset m-none mb-s">
              <p><%= Faker::Books::Lovecraft.paragraph %></p>
              <h5 class="heading5"><strong class="text-uppercase">Hauptdiskussionen</strong>&nbsp;<span class="text-small">[<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>]</span></h5>
              <hr class="reset m-none mb-s">
              <p><%= Faker::Books::Lovecraft.paragraph %></p>
              <h6 class="heading6"><strong class="text-uppercase">Überprüfung der Ziele</strong>&nbsp;<span class="text-small">[<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>]</span></h6>
              <p><%= Faker::Books::Lovecraft.paragraph %></p>
              <p><%= Faker::Books::Lovecraft.paragraph %></p>
              <h5 class="heading5"><strong class="text-uppercase">Hauptdiskussionen: Zweiter Teil</strong>&nbsp;<span class="text-small">[<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>]</span></h5>
              <hr class="reset m-none mb-s">
              <p><%= Faker::Books::Lovecraft.paragraph %></p>
              <h6 class="heading6"><strong class="text-uppercase">Überprüfung der Ziele: Zweiter Teil</strong>&nbsp;<span class="text-small">[<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>]</span></h6>
              <p><%= Faker::Books::Lovecraft.paragraph %></p>
              <p><%= Faker::Books::Lovecraft.paragraph %></p>
              <p><%= Faker::Books::Lovecraft.paragraph %></p>
              <p><%= Faker::Books::Lovecraft.paragraph %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="expanded">
    <div class="wrapper wrapper--inner">
      <div class="row">
        <div class="columns large-9" id="comments">
          <%= partial "comments" %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
