<div id="js-assign-proposals-to-valuator-actions" class="hide js-bulk-action-form">
  <%= form_tag(valuation_assignment_path, method: :post, id: "js-form-assign-proposals-to-valuator", class: "flex--cc flex-gap--1") do %>
    <div class="checkboxes hide">
      <% proposals.each do |proposal| %>
        <%= check_box_tag "proposal_ids[]", proposal.id, false, class: "js-check-all-resources js-resource-id-#{proposal.id}" %>
      <% end %>
    </div>

    <%= bulk_valuators_select(current_participatory_space, t("decidim.proposals.admin.proposals.index.assign_to_valuator")) %>

    <%= submit_tag(t("decidim.proposals.admin.proposals.index.assign_to_valuator_button"), id: "js-submit-assign-proposals-to-valuator", class: "button small button--simple float-left") %>

    <button id="js-cancel-assign-proposals-to-valuator" class="button tiny clear compact js-cancel-bulk-action" type="button"><%= t("decidim.proposals.admin.proposals.index.cancel") %></button>
  <% end %>
</div>
