<%= append_stylesheet_pack_tag "decidim_proposals", media: "all" %>

<select
  id="<%= select_id %>"
  name="evaluator_role_ids[]"
  placeholder="<%= t("decidim.proposals.admin.proposals.index.select_evaluators") %>"
  class="w-full mt-2 js-evaluator-multiselect"
  multiple>
  <%= find_evaluators_for_select(participatory_space, current_user).map do |option| %>
    <option value="<%= option[1] %>"><%= option[0] %></option>
  <% end %>
</select>
