<div id="js-split-proposals-actions" class="hide js-bulk-action-form">
  <%= form_tag(proposals_split_path, method: :post, id: "js-form-split-proposals", class: "flex--cc flex-gap--1") do %>
    <div class="checkboxes hide">
      <% proposals.each do |proposal| %>
        <%= check_box_tag "proposal_ids[]", proposal.id, false, class: "js-check-all-proposal js-proposal-id-#{proposal.id}" %>
      <% end %>
    </div>

    <%= bulk_components_select((current_component.siblings + [current_component])) %>

    <%= submit_tag(t("decidim.proposals.admin.proposals.index.split_button"), id: "js-submit-split-proposals", class: "button small button--simple float-left") %>

    <button id="js-cancel-split-proposals" class="button tiny clear compact js-cancel-bulk-action" type="button"><%= t("decidim.proposals.admin.proposals.index.cancel") %></button>
  <% end %>
</div>
