<div id="js-unassign-proposals-from-evaluator-actions" class="item_show__header__action-options js-bulk-action-form hide">
  <%= form_tag(evaluation_assignment_path, method: :delete, id: "js-form-unassign-proposals-from-evaluator", class: "form form-defaults w-full") do %>
    <div class="hide">
      <% proposals.each do |proposal| %>
        <%= check_box_tag "proposal_ids[]", proposal.id, false, class: "js-check-all-proposal js-proposal-id-#{proposal.id}" %>
      <% end %>
    </div>

    <label class="w-full font-semibold" for="unassign_evaluator_role_ids">
      <%= t("decidim.proposals.admin.proposals.index.unassign_from_evaluator") %>
      <%= render partial: "decidim/proposals/admin/proposals/bulk_actions/evaluators_picker", locals: { participatory_space: current_participatory_space, select_id: "unassign_evaluator_role_ids" } %>
    </label>

    <div class="flex justify-end gap-x-4 mt-2">
      <%= submit_tag(t("decidim.proposals.admin.proposals.index.unassign_from_evaluator_button"), id: "js-submit-unassign-proposals-from-evaluator", class: "button button__sm button__secondary small button--simple float-left") %>
      <button class="button button__sm button__secondary js-cancel-bulk-action" type="button"><%= t("decidim.proposals.admin.proposals.index.cancel") %></button>
    </div>
  <% end %>
</div>
