<div class="author-data initiative-authors">
  <div class="author-data__main ">
    <div class="author author--inline">
      <span class="author__avatar author__avatar--small">
        <%= image_tag present(initiative.author).avatar_url, alt: t("decidim.author.avatar", name: decidim_sanitize(initiative.author_name)) %>
      </span>
      <span class="author__name">
        <% if initiative.author.deleted? %>
          <span class="label label--small label--basic">
            <%= t(".deleted") %>
          </span>
        <% else %>
          <%= decidim_sanitize(initiative.author_name) %>
        <% end %>
      </span>
    </div>

    <% initiative.committee_members.excluding_author.approved.each do |m| %>
      <% unless m.user.deleted? %>
        <div class="author author--inline">
          <span class="author__avatar author__avatar--small">
            <%= image_tag present(m.user).avatar_url %>
          </span>
          <span class="author__name">
            <%= decidim_sanitize(m.user.name) %>
          </span>
        </div>
      <% end %>
    <% end %>

    <div class="publish-date">
      <%= l initiative.published_at || initiative.created_at, format: "%d/%m/%Y" %>
    </div>
  </div>
</div>
