<span class="font-semibold text-xl block"><%= t ".title" %></span>

<div class="card-section">
  <div class="row column">
    <%= t ".invite_to_committee_help" %>
  </div>

  <div class="row column">
    <div class="card card--list">
      <div class="card--list__item">
        <div class="card--list__text">
          <div>
            <h6 class="card--list__heading heading6 lowercase" id="committee_link">
              <%= decidim_initiatives.new_initiative_committee_request_url(current_initiative) %>
            </h6>
          </div>
        </div>
        <div class="card--list__data">
          <%= icon_link_to "clipboard", "#", t(".invite_to_committee_help"), class: "card--list__data__icon invite-users-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-section">
  <span class="font-semibold text-xl block"><%= t ".title" %></span>
  <% if current_initiative.committee_members.empty? %>
    <%= t ".no_members_yet" %>
  <% end %>
  <% current_initiative.committee_members.each do |request| %>
    <div class="author" data-id="<%= request.id %>">
      <div class="profile__group__list">
        <%= card_for request.user %>
        <% if allowed_to? :approve, :initiative_committee_member, initiative: current_initiative, request: request %>
          <%= icon_link_to "forbid-line",
                          approve_initiative_committee_request_path(current_initiative, request),
                          t(".approve"),
                          class: "action-icon--check" %>
        <% end %>
        <% if allowed_to? :revoke, :initiative_committee_member, initiative: current_initiative, request: request %>
          <%= link_to(
                  revoke_initiative_committee_request_path(current_initiative, request),
                  method: :delete,
                  data: { confirm: t(".confirm_revoke") },
                  class: "button button__sm button__transparent-secondary"
                ) do %>
                  <span><%= t("decidim.group_admins.actions.demote_admin") %></span>
                  <%= icon "forbid-line" %>
                <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag "decidim_initiatives_admin" %>
