<%= initiatives_filter_form_for filter do |form| %>
  <div class="filters__section">
    <div class="filters__search">
      <div class="input-group">
        <%= form.search_field :search_text, label: false, class: "input-group-field", placeholder: t(".search") %>
        <div class="input-group-button">
          <button type="submit" class="button button--muted">
            <%= icon "magnifying-glass", aria_label: t(".search") %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <%= form.collection_radio_buttons :state,
                                    [["open", t(".open")], ["closed", t(".closed")]],
                                    :first,
                                    :last,
                                    legend_title: t(".state") %>

  <% if current_user %>
    <%= form.collection_radio_buttons :author,
                                    [["any", t(".any")], ["myself", t(".myself")]],
                                    :first,
                                    :last,
                                    legend_title: t(".author") %>
  <% end %>

  <div class="filters__section">
    <fieldset>
      <legend><h6 class="heading6"><%= t ".type" %></h6></legend>
      <%= form.initiative_types_select :type,
                                       Decidim::InitiativesType.where(organization: current_organization),
                                       legend_title: t(".type"),
                                       label: false,
                                       prompt: t(".type_prompt"),
                                       remote_path: initiative_types_search_path,
                                       multiple: true %>
    </fieldset>
  </div>

  <%= scopes_picker_field form, :scope_id, root: true %>

  <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
<% end %>
