
<h2 class="card-title"><%= t("title", scope: "decidim.initiatives.form") %></h2>

<div class="card-section">
  <div class="field">
    <%= form.text_field :title, autofocus: true, disabled: !allowed_to?(:update, :initiative, initiative: current_initiative), value: translated_attribute(@form.title) %>
  </div>

  <div class="field">
    <%= form.editor :description, toolbar: :full, lines: 8, disabled: !allowed_to?(:update, :initiative, initiative: current_initiative), value: translated_attribute(@form.description) %>
  </div>

  <div class="field">
    <%= form.text_field :hashtag, disabled: !allowed_to?(:update, :initiative, initiative: current_initiative) %>
  </div>

  <div class="field">
    <%= form.select :state,
                    Decidim::Initiative.states.keys.map { |state| [I18n.t(state, scope: "decidim.initiatives.admin_states"), state] },
                    {},
                    { disabled: !@form.state_updatable? } %>
  </div>

  <div class="field">
    <%= form.select :state,
                    Decidim::Initiative.states.keys.map { |state| [I18n.t(state, scope: "decidim.initiatives.admin_states"), state] },
                    {},
                    { disabled: !@form.state_updatable? } %>
  </div>

  <div class="field">
    <%= form.select :scope_id,
                  @form.available_scopes.map { |scope| [translated_attribute(scope.scope_name), scope&.scope&.id] },
                  { disabled: !@form.state_updatable? } %>
  </div>
</div>
<%= javascript_include_tag "decidim/initiatives/scoped_type" %>
