<div class="row collapse">
  <h1 id="initiatives-count" class="title-action__title section-heading">
    <%= render partial: "count" %>
  </h1>
  <% if Decidim::Initiatives.creation_enabled %>
    <% if current_user && available_initiative_types.size > 1 %>
      <%= link_to create_initiative_path(:select_initiative_type), class: "title-action__action button small" do %>
        <%= t(".new_initiative") %>
        <%= icon "plus", role: "img", "aria-hidden": true %>
      <% end %>
    <% elsif current_user %>
      <% if allowed_to?(:create, :initiative, { initiative_type: available_initiative_types.first }) %>
        <%= link_to create_initiative_path(:select_initiative_type), class: "title-action__action button small" do %>
          <%= t(".new_initiative") %>
          <%= icon "plus", role: "img", "aria-hidden": true %>
        <% end %>
      <% else %>
        <%= authorized_create_modal_button(available_initiative_types.first, remote: true, class: "title-action__action button small") do %>
          <%= icon "plus", role: "img", "aria-hidden": true %>
          <%= t(".new_initiative") %>
        <% end %>
      <% end %>
    <% else %>
      <% content_for(:redirect_after_login) { create_initiative_url(:select_initiative_type) } %>
      <button type="button" class="title-action__action button small" data-open="loginModal" aria-controls="loginModal" aria-haspopup="dialog" tabindex="0">
        <%= t(".new_initiative") %>
        <%= icon "plus", role: "img", "aria-hidden": true %>
      </button>
    <% end %>
  <% end %>
</div>

<%= render partial: "decidim/initiatives/modal" %>
