<% if @forced_closed_initiatives %>
  <div class="callout warning">
    <%= t ".closed_initiatives_warning" %>
  </div>
<% elsif initiatives.blank? %>
  <div class="callout warning">
    <%= t ".no_initiatives_warning" %>
  </div>
<% end %>

<div class="collection-sort-controls ">
  <%= order_selector available_orders, i18n_scope: "decidim.initiatives.initiatives.orders" %>
</div>

<div class="row">
  <%= render initiatives %>
</div>

<%= decidim_paginate initiatives %>
<%= render partial: "decidim/shared/results_per_page" %>
