<% if initiative.answered? && translated_attribute(initiative.answer).present? %>
  <br>
  <div class="row column">
    <div class="callout success">
      <h5><%= t("decidim.initiatives.initiatives.result.answer_title") %>:</h5>
      <p>
        <% if initiative.answer_url.present? %>
          <a href="<%= initiative.answer_url %>" target="_blank">
            <%= decidim_sanitize_editor translated_attribute initiative.answer %>
          </a>
        <% else %>
          <%= decidim_sanitize_editor translated_attribute initiative.answer %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

<% if initiative.rejected? %>
  <br>
  <div class="row column">
    <div class="callout warning">
      <h5><%= t(".initiative_rejected_reason") %></h5>
    </div>
  </div>
<% end %>
