<div class="card extra definition-data initiative-statistics">
  <div class="definition-data__item">
    <span class="definition-data__title"><%= t ".supports_count_title" %></span>
    <%= stats.supports_count %>
  </div>

  <div class="definition-data__item">
    <span class="definition-data__title"><%= t ".comments_count_title" %></span>
    <%= stats.comments_count %>
  </div>

  <div class="definition-data__item">
    <span class="definition-data__title"><%= t ".meetings_count_title" %></span>
    <%= stats.meetings_count %>
  </div>

  <div class="definition-data__item">
    <span class="definition-data__title"><%= t ".assistants_count_title" %></span>
    <%= stats.assistants_count %>
  </div>
</div>
