<% if current_user && allowed_to?(:vote, :initiative, initiative: initiative) %>
  <button id="select-identity-button"
          class="button expanded light button--sc">
    <%= t(".vote") %>
  </button>

  <div class="reveal"
       id="user-identities"
       data-reveal data-refresh-url="<%= signature_identities_initiative_url(slug: initiative.slug) %>">
  </div>
<% elsif initiative.accepts_online_votes? %>
    <%= render partial: "decidim/initiatives/initiatives/vote_button",
               locals: {
                   initiative: initiative,
                   vote_label: t(".vote"),
                   unvote_label: t(".already_voted"),
                   verification_label: t(".verification_required"),
                   steps: signature_has_steps?
               } %>
<% else %>
  <button class='button expanded light button--sc disabled' disabled>
    <%= t(".votes_blocked") %>
  </button>
<% end %>

<%= javascript_include_tag "decidim/initiatives/identity_selector_dialog" %>
