<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_initiatives" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_initiatives", media: "all" %>
<% end %>

<%
edit_link(
  decidim_admin_initiatives.initiatives_path,
  :read,
  :initiative
)
%>

<% content_for :aside do %>
  <h1 class="h1 decorator">
    <%= t("title", scope: "decidim.admin.models.initiatives.fields") %>
  </h1>
  <%= render partial: "new_initiative_button" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= participatory_space_wrapper do %>
    <div id="initiatives">
      <%= render partial: "initiatives" %>
    </div>
  <% end %>
<% end %>
