<% add_decidim_meta_tags({
  image_url: current_initiative.type.attached_uploader(:banner_image).path,
  description: translated_attribute(current_initiative.description),
  title: translated_attribute(current_initiative.title),
  url: initiative_url(current_initiative.id),
  twitter_handler: current_organization.twitter_handler
}) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :read,
  :initiative
)
%>

<%= participatory_space_floating_help %>

<% add_decidim_page_title(translated_attribute(current_initiative.title)) %>

<% unless current_initiative.online_signature_type? %>
  <div class="column">
    <div class="callout secondary">
      <p>
        <%= t("any_vote_method", scope: "decidim.initiatives.initiatives.show") if current_initiative.any_signature_type? %>
        <%= t("offline_method", scope: "decidim.initiatives.initiatives.show") if current_initiative.any_signature_type? %>
      </p>
    </div>
  </div>
<% end %>

<%= content_for :aside do %>
  <div class="p-6 w-full">
    <% if current_initiative.published? || current_initiative.rejected? || current_initiative.accepted? %>
      <% if current_initiative.votes_enabled? %>
        <div class="mb-4" id="initiative-<%= current_initiative.id %>-vote-cabin">
          <%= render partial: "vote_cabin", locals: { initiative: current_initiative } %>
        </div>
      <% end %>
      <%= render partial: "progress_bar" %>
    <% else %>
      <%= link_to t(".edit"),
          edit_initiative_path(current_initiative),
          class: "button button__lg button__secondary" %>
      <%= render partial: "send_to_technical_validation", locals: { title: t(".send_to_technical_validation"), confirm: t(".confirm")} %>
    <% end %>

    <%= render partial: "initiative_badge", locals: { initiative: current_initiative } %>

  </div>
<% end %>

<h2 class="h2 decorator mb-4">
  <%= translated_attribute(current_initiative.title) %>
</h2>
<%= render partial: "author", locals: { initiative: current_initiative } %>

<%= decidim_sanitize_editor translated_attribute(current_initiative.description) %>

<%= attachments_for current_initiative %>
<%= render partial: "result", locals: { initiative: current_initiative } %>

<div class="my-4 flex gap-x-1 items-center">
  <%= cell "decidim/comments_button", nil %>
  <div class="ml-auto">
    <%= render partial: "tags", locals: { resource: current_initiative } %>
  </div>
</div>

<%= cell "decidim/share_button", nil %>
<% if current_user %>
  <%= render partial: "decidim/shared/follow_button", class: "text-center", locals: { followable: current_participatory_space, large: true } %>
<% end %>

<%= comments_for current_initiative if current_initiative.commentable? && current_initiative.published? %>

<%= resource_reference(current_initiative) %>
<%= resource_version(current_initiative, versions_path: initiative_versions_path(current_initiative)) %>
