<% add_decidim_meta_tags({
  image_url: current_initiative.type.attached_uploader(:banner_image).path,
  description: translated_attribute(current_initiative.description),
  title: translated_attribute(current_initiative.title),
  url: initiative_url(current_initiative.id),
  twitter_handler: current_organization.twitter_handler
}) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :read,
  :initiative
)
%>

<%= participatory_space_floating_help %>

<% add_decidim_page_title(translated_attribute(current_initiative.title)) %>

<% unless current_initiative.online_signature_type? %>
  <div class="column">
    <div class="callout secondary">
      <p>
        <%= t("any_vote_method", scope: "decidim.initiatives.initiatives.show") if current_initiative.any_signature_type? %>
        <%= t("offline_method", scope: "decidim.initiatives.initiatives.show") if current_initiative.any_signature_type? %>
      </p>
    </div>
  </div>
<% end %>

<%= content_for :aside do %>
  <div class="p-6 w-full">
    <% if current_initiative.published? || current_initiative.rejected? || current_initiative.accepted? %>
      <% if current_initiative.votes_enabled? %>
        <div class="mb-4" id="initiative-<%= current_initiative.id %>-vote-cabin">
          <%= render partial: "vote_cabin", locals: { initiative: current_initiative } %>
        </div>
      <% end %>
    <% else %>
      <%= link_to t(".edit"),
          edit_initiative_path(current_initiative),
          class: "button button__xl w-full button__secondary" %>
      <%= render partial: "send_to_technical_validation", locals: { title: t(".send_to_technical_validation"), confirm: t(".confirm")} %>
    <% end %>

    <div class="my-20">
      <%= render partial: "progress_bar" %>
    </div>

    <div class="my-20 bg-white rounded py-4 px-8">
      <span class="text-sm text-gray-2 font-semibold mb-4 block">RECOLLIDA DE SIGNATURES</span>
      <div class="mb-2">
        <%= icon "community-line", class: "fill-gray inline-block" %>
        <span class="text-md font-normal text-gray-2 inline-block align-middle ml–2">Presencial</span>
      </div>
      <div class="mb-2">
        <%= icon "device-line", class: "fill-gray inline-block" %>
        <span class="text-md font-normal text-gray-2 inline-block align-middle ml–2">Digital</span>
      </div>
    </div>

    <div class="my-20">
      <div class="mb-4">
        <%= icon "apps-line", class: "fill-gray inline-block" %>
        <span class="inline-block text-gray-2 font-bold text-md align-middle">Datos de la iniciativa</span>
      </div>

      <div class="ml-2 mb-4 pb-4 border-b border-gray-3">
        <p class="text-gray-2 font-semibold text-sm mb-2">ESTADO</p>
        <span class="text-sm font-normal text-gray-2 block"><%= render partial: "initiative_badge", locals: { initiative: current_initiative } %></span>
      </div>

      <div class="ml-2 mb-4 pb-4 border-b border-gray-3">
        <p class="text-gray-2 font-semibold text-sm mb-2">AMBITO</p>
        <span class="text-sm font-normal text-gray-2 block"><%= render partial: "tags", locals: { resource: current_initiative } %></span>
      </div>

      <div class="ml-2 mb-4 pb-4 border-b border-gray-3">
        <p class="text-gray-2 font-semibold text-sm mb-2">TIPO</p>
        <%= render partial: "initiative_badge", locals: { initiative: current_initiative } %>
      </div>
    </div>

    <div class="my-20">
      <div class="mb-4 flex items-center">
        <%= icon "account-circle-line", class: "fill-gray inline-block" %>
        <span class="ml-2 inline-block text-gray-2 font-bold text-md align-middle">Comissió Promotora</span>
        <%= icon "file-copy-line", class: "ml-auto fill-secondary inline-block" %>
      </div>
      <% if current_initiative.type.promoting_committee_enabled? %>
        <% if current_initiative.committee_members.empty? %>
          <span class="text-md font-normal text-gray-2 inline-block align-middle ml–2">
            <%= t("no_members_yet", scope: "decidim.initiatives.admin.committee_requests.index") %>
          </span>
        <% end %>
        <% current_initiative.committee_members.each do |request| %>
          <div class="author" data-id="<%= request.id %>">
            <div class="profile__group__list">
              <%= card_for request.user %>
              <% if allowed_to? :approve, :initiative_committee_member, initiative: current_initiative, request: request %>
                <%= icon_link_to "forbid-line",
                                approve_initiative_committee_request_path(current_initiative, request),
                                t("approve", scope: "decidim.initiatives.admin.committee_requests.index"),
                                class: "action-icon--check" %>
              <% end %>
              <% if allowed_to? :revoke, :initiative_committee_member, initiative: current_initiative, request: request %>
                <%= link_to(
                        revoke_initiative_committee_request_path(current_initiative, request),
                        method: :delete,
                        data: { confirm: t("confirm_revoke", scope: "decidim.initiatives.admin.committee_requests.index"), },
                        class: "button button__sm button__transparent-secondary"
                      ) do %>
                        <span><%= t("decidim.group_admins.actions.demote_admin") %></span>
                        <%= icon "forbid-line" %>
                      <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<h2 class="h2 decorator mb-4">
  <%= translated_attribute(current_initiative.title) %>
</h2>

<div class="editor-content">
  <%= decidim_sanitize_editor translated_attribute(current_initiative.description) %>
</div>

<%= attachments_for current_initiative %>
<%= render partial: "result", locals: { initiative: current_initiative } %>

<div class="my-4 flex gap-x-1 items-center">
  <%= cell "decidim/comments_button", nil %>
  <div class="ml-auto">
    <%= cell "decidim/share_button", nil %>
    <% if current_user %>
      <%= render partial: "decidim/shared/follow_button", class: "text-center", locals: { followable: current_participatory_space, large: true } %>
    <% end %>
  </div>
</div>

<%= comments_for current_initiative if current_initiative.commentable? && current_initiative.published? %>

<ul class="drawer-metadata__container" data-metadata-footer>
  <%= content_tag :li, resource_reference(current_initiative), class: "drawer-metadata__item" %>
  <%= content_tag :li, resource_version(current_initiative, versions_path: initiative_versions_path(current_initiative)), class: "drawer-metadata__item" %>
</ul>
