<div class="reveal__header">
  <h1 class="reveal__title"><%= t ".select_identity" %></h1>
</div>

<%= render partial: "decidim/initiatives/initiatives/vote_button",
           locals: {
               initiative: current_initiative,
               vote_label: current_user.name,
               unvote_label: current_user.name,
               verification_label: current_user.name,
               steps: signature_has_steps?
           } unless current_initiative.offline? %>

<% Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.each do |g| %>
  <br />
  <% if @voted_groups.include? g.id %>
    <%= button_to(
      g.name,
      initiative_initiative_vote_path(initiative_slug: current_initiative.slug, group_id: g.id),
      method: :delete,
      remote: true,
      data: { disable: true },
      class: "card__button button expanded button--sc success"
    ) %>
  <% else %>
    <% if signature_has_steps? %>
      <%= link_to(
        g.name,
        initiative_initiative_signatures_path(initiative_slug: current_initiative.slug, group_id: g.id),
        class: "card__button button expanded button--sc"
      ) %>
    <% else %>
      <%= button_to(
        g.name,
        initiative_initiative_signatures_path(initiative_slug: current_initiative.slug, group_id: g.id),
        remote: true,
        data: { disable: true },
        class: "card__button button expanded button--sc"
      ) %>
    <% end %>
  <% end %>
<% end %>
