<div class="card" id="monitoring_committee_polling_station_closures">
  <div class="item_show__header">
    <h2 class="item_show__header-title">
      <%= t(".title") %>
    </h2>
  </div>
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t("title", scope: "decidim.elections.admin.elections.index") %></th>
          <th class="actions"><%= t("actions.title", scope: "decidim.votings.admin.monitoring_committee_polling_station_closures") %></th>
        </tr>
      </thead>
      <tbody>
        <% elections.finished.each do |election| %>
          <tr data-id="<%= election.id %>">
            <td>
              <%= link_to translated_attribute(election.title), voting_monitoring_committee_polling_station_closures_path(current_voting, election_id: election.id) %>
            </td>
            <td class="table-list__actions">
              <%= icon_link_to "eye-line", voting_monitoring_committee_polling_station_closures_path(current_voting, election_id: election.id), t("actions.view", scope: "decidim.votings.admin.monitoring_committee_polling_station_closures"), class: "action-icon--edit", target: "_blank", data: { "external-link": false } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
