<div class="card-section">
  <%= cell("decidim/announcement", t("info_message", scope: "decidim.votings.census.admin.census.new"), callout_class: "warning") %>
  <%= cell("decidim/announcement", ballot_style_callout_text, callout_class: ballot_style_callout_level) %>

  <div class="card">
    <div class="card-section">
      <h4><%= t("title", scope: "decidim.votings.census.admin.census.new") %></h4>

      <%= render "upload_info", ballot_style_code_header: ballot_style_code_header %>

      <%= decidim_form_for(@form, url: admin_voting_census_path,
                            method: :post,
                            html: { class: "form new_census" }) do |form| %>
        <div class="field">
          <%= form.as_upload :file, optional: false, help_i18n_scope: "decidim.votings.census.admin.census.new.file_help" %>
        </div>

        <%= submit_tag t("submit", scope: "decidim.votings.census.admin.census.new"), class: "button" %>
      <% end %>
    </div>
  </div>
</div>
