<div class="card-section">
  <%= cell("decidim/announcement", t("new.info_message", scope: "decidim.votings.census.admin.census"), callout_class: "warning") %>

  <div class="card">
    <div class="card-section">
      <h4><%= t("new.title", scope: "decidim.votings.census.admin.census") %></h4>

      <%= render "upload_info" %>

      <%= decidim_form_for(@form, url: admin_voting_census_path,
                            method: :post,
                            html: { class: "form" }) do |form| %>
        <div class="field">
          <%= form.upload :file, optional: false, help_i18n_scope: "decidim.votings.census.admin.census.new.file_help" %>

        </div>

        <%= submit_tag t("new.submit", scope: "decidim.votings.census.admin.census"), class: "button" %>
      <% end %>
    </div>
  </div>
</div>
