<div class="card-section p-4">
  <%= cell("decidim/announcement", t("info_message", scope: "decidim.votings.census.admin.census.new"), callout_class: "warning") %>
  <%= cell("decidim/announcement", ballot_style_callout_text, callout_class: ballot_style_callout_level) %>

  <div class="card">
    <div class="card-section">
      <h4><%= t("title", scope: "decidim.votings.census.admin.census.new") %></h4>

      <%= render "upload_info", ballot_style_code_header: %>

      <%= decidim_form_for(@form, url: admin_voting_census_path,
                                  method: :post,
                                  html: { class: "form form-defaults new_census" }) do |form| %>
        <div class="field">
          <%= form.upload :file, help_i18n_scope: "decidim.votings.census.admin.census.new.file_help", button_class: "button button__sm button__transparent-secondary" %>
        </div>
        <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
          <%= submit_tag t("submit", scope: "decidim.votings.census.admin.census.new"), class: "button button__sm button__secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
