<div class="card-section">
  <% if election.internal_census && election.census_ready? %>
    <div class="row column">
      <%= cell "decidim/announcement",
               t("decidim.elections.admin.census.internal_census_fields.uploaded_data_html",
                 authorization_info: election.verification_types.any? ?
                                       "#{t("decidim.elections.admin.census.internal_census_fields.additional_authorizations")}: #{formatted_verification_types}" :
                                       t("decidim.elections.admin.census.internal_census_fields.no_additional_authorizations")),
               callout_class: "success" %>

    </div>
  <% end %>
  <% if status.count.zero? %>
    <div class="row column font-semibold pb-4"><%= t(".internal_type_title") %></div>
    <div class="row column">
      <p class="mb-2"><%= t(".info_html") %></p>
    </div>
    <div class="row column mt-4">
      <%= decidim_form_for form, url: election_census_path(election), method: :patch, html: { id: "internal-census-form", class: "form edit_election form-defaults" } do |form| %>
        <%= form.hidden_field :census_permissions_form, value: true %>
        <% current_organization.available_authorizations.each do |authorization| %>
          <div class="mt-2">
            <%= form.check_box :verification_types, { label: t("decidim.authorization_handlers.#{authorization}.name"), multiple: true, include_hidden: false, checked: election.verification_types.include?(authorization) }, authorization, nil %>
          </div>
        <% end %>
        <div class="mt-4">
          <%= form.submit t("decidim.elections.admin.census.internal_census_fields.save"), class: "button button__sm button__secondary" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% unless election.census_ready? %>
    <%= cell "decidim/announcement", t("decidim.elections.admin.census.internal_census_fields.not_ready"), callout_class: "alert" %>
  <% end %>
</div>
