<div class="table-scroll mt-8">
  <table class="table-list">
    <thead>
    <tr>
      <th><%= t("edit.email", scope: "decidim.elections.admin.census") %></th>
      <th><%= t("edit.created_at", scope: "decidim.elections.admin.census") %></th>
    </tr>
    </thead>
    <tbody>
    <% election.voters.order(created_at: :desc).limit(5).each do |voter| %>
      <tr>
        <td><%= voter.email %></td>
        <td><%= l(voter.created_at, format: :short) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p class="mt-6"><%= t("decidim.elections.admin.census.preview.info_html", count: election.voters.count) %></p>
</div>
