<%= append_javascript_pack_tag "decidim_elections_admin" %>

<%= render "decidim/elections/admin/elections/tabs_menu" do %>
  <%= link_to t("continue", scope: "decidim.elections.admin.census.edit"),
              dashboard_page_election_path(election),
              class: "main-tabs-menu__cta-button #{'hide' unless (election.census_ready?)}",
              data: { census_ready: election.census_ready? } %>
<% end %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
  </h1>
</div>

<div class="card-section census-form">
  <%= render partial: "form", locals: { election:, verification_types: formatted_verification_types } %>

  <% if status.count > 0 %>
    <p class="mb-4"><%= t(".voters_count", count: election.voters.count, due_date: l(status.last_import_at, format: :long)) %></p>
    <%= link_to destroy_all_census_election_path(election),
                method: :delete,
                class: "button button__sm button__primary",
                data: { confirm: t("decidim.elections.admin.census.destroy.confirm") } do %>
      <%= icon "delete-bin-line", role: "img", "aria-hidden": true %>
      <%= t("decidim.elections.admin.census.destroy.title") %>
    <% end %>

    <div class="card-section">
      <%= render partial: "decidim/elections/admin/census/preview", locals: { election: } %>
    </div>
  <% end %>
</div>
