<%= append_javascript_pack_tag "decidim_elections_admin" %>

<%= render "decidim/elections/admin/elections/tabs_menu" do %>
  <%= button_tag t("save", scope: "decidim.elections.admin.elections.form"), class: "main-tabs-menu__cta-button #{"hide" unless election.census}", form: "census-election-form" %>
<% end %>

<div class="item_show__header form-defaults">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
  </h1>
  <%= select_tag "census_manifest",
                 options_for_select(census_manifests.to_h { |manifest| [manifest.label, manifest.name] }, selected: election.census&.name),
                 include_blank: t(".choose_census"),
                 id: "census-manifest-selector" %>

</div>
  <% if election.census_ready? %>
   <% announcement = t("decidim.elections.censuses.token_csv.uploaded_data_html", election_title: decidim_sanitize_translated(election.title), count: census_count) %>
    <%= cell "decidim/announcement", announcement, callout_class: "success" %>
   <% end %>
<div class="card-section census-form form-defaults">
  <% if @form && election.census&.admin_form_partial %>
    <%= decidim_form_for(@form, url: election_census_path(election, manifest: election.census&.name),
                         method: :patch,
                         multipart: true,
                         html: { id: "census-election-form" }) do |f| %>
      <%= render partial: election.census.admin_form_partial, locals: { form: f } %>
    <% end %>
  <% end %>
  <div class="border-t border-gray-3 my-4">
    <%= render partial: "decidim/elections/admin/census/preview", locals: { election: } if preview_users(election).present? %>
  </div>
</div>
