<div class="reveal flag-modal" id="flagUserModal" data-reveal role="dialog" aria-modal="true" aria-labelledby="flagUserModal-label">
  <div class="reveal__header">
    <h3 id="flagUserModal-label" class="reveal__title"><%= t("decidim.shared.flag_user_modal.title") %></h3>
    <button class="close-button" data-close aria-label="<%= t("decidim.shared.flag_user_modal.close") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% if model.reported_by? current_user %>
    <p><%= t("decidim.shared.flag_user_modal.already_reported") %></p>
  <% else %>
    <p><%= t("decidim.shared.flag_user_modal.description") %></p>
    <%= decidim_form_for user_report_form, url: decidim.report_user_path(sgid: model.to_sgid.to_s), method: :post do |f| %>
      <%= f.collection_radio_buttons :reason, [
          [:spam, t("decidim.shared.flag_user_modal.spam")],
          [:offensive, t("decidim.shared.flag_user_modal.offensive")],
          [:does_not_belong, t("decidim.shared.flag_user_modal.does_not_belong", organization_name: current_organization.name)]
      ], :first, :last do |builder| %>
        <%= builder.label { builder.radio_button + builder.text } %>
      <% end %>
      <%= f.text_area :details, rows: 4 %>
      <%= f.submit t("decidim.shared.flag_user_modal.report") %>
    <% end %>
  <% end %>
</div>
