<%= decidim_modal id: modal_id do %>
  <%= decidim_form_for report_form, url: decidim.report_path(sgid: model.to_sgid.to_s), method: :post, html: { id: nil, class: "modal__report form-defaults" } do |f| %>
    <div data-dialog-container>
      <%= icon "flag-line", class: "inline-block align-middle" %>
      <h3 data-dialog-title id="dialog-title-<%= modal_id %>">
        <%= t("decidim.shared.flag_modal.title") %>
      </h3>

      <% if model.reported_by? current_user %>
        <div>
          <p class="modal__report-text">
            <%= t("decidim.shared.flag_modal.already_reported") %>
          </p>
        </div>
      <% else %>
        <div>
          <p class="modal__report-text">
            <%= t("decidim.shared.flag_modal.description") %>
          </p>
          <fieldset>
            <legend><%= t("decidim.shared.flag_modal.reason") %></legend>
            <%= f.collection_radio_buttons :reason, [
              [:spam, t("decidim.shared.flag_modal.spam")],
              [:offensive, t("decidim.shared.flag_modal.offensive")],
              [:does_not_belong, t("decidim.shared.flag_modal.does_not_belong", organization_name: current_organization.name)]
            ], :first, :last do |builder| %>
              <div class="modal__report-container__radio">
                <%= builder.radio_button(id: builder.value) %>
                <label for="<%= builder.value %>">
                  <%= builder.text %>
                </label>
              </div>
            <% end %>
          </fieldset>
          <% unless model.reported_by? current_user %>
            <%= f.text_area :details, class: "w-full rounded border min-h-[160px] border-text-gray-2 mt-2", id: "#{modal_id}_details", label_options: { for: "#{modal_id}_details", class: "text-gray-2" } %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div data-dialog-actions>
      <% unless model.reported_by? current_user %>
        <button type="submit" class="button button__lg button__secondary">
          <span>
            <%= t("decidim.shared.flag_modal.report") %>
          </span>
          <%= icon "arrow-right-line" %>
        </button>
      <% end %>
    </div>
  <% end %>
<% end %>
