<%
  # REDESIGN_PENDING: This should be a cell better

  base_code = authorizations.global_code || :missing
  title = current_user && !current_user.verifiable? ? t(".unconfirmed.title") : t(".#{base_code}.title")

  verifications = []

  if current_user && !current_user.verifiable?
    messages = []
    messages << t(".unconfirmed.explanation_html", email: current_user.email) if current_user && !current_user.verifiable?
    messages << t(".unconfirmed.confirmation_instructions") if current_user && !current_user.verifiable?

    cta = { type: :a, text: t(".unconfirmed.request_confirmation_instructions"), url: new_confirmation_path(Decidim::User) }

    verifications << [messages, cta, []]
  else
    authorizations.statuses.each do |status|
      next if status.ok? || authorizations.global_code && status.code != base_code

      messages = []
      messages << t(".#{status.code}.explanation", authorization: t("#{status.handler_name}.name", scope: "decidim.authorization_handlers"));

      [status.data[:extra_explanation]].flatten.compact.each do |extra_explanation|
        messages << t(extra_explanation[:key], **extra_explanation[:params]);
      end

      fields = []
      status.data[:fields]&.each do |field, value|
        fields << t(".#{status.code}.invalid_field", field: t("#{status.handler_name}.fields.#{field}", scope: "decidim.authorization_handlers"), value: value ? "(#{value})" : "")
      end

      if status.data[:action].present?
        cta = { type: :a, text: t(".#{status.code}.#{status.data[:action]}", authorization: t("#{status.handler_name}.name", scope: "decidim.authorization_handlers")), url: authorize_action_path(status.handler_name) }
      else
        cta = { type: :button, text: t(".#{status.code}.ok"), data: { "dialog-close": "authorizationModal"} }
      end

      verifications << [messages, cta, fields]
    end
  end
%>
<div data-dialog-container>
  <%= icon "lock-line" %>
  <div>
    <h3 id="dialog-title-authorizationModal" data-dialog-title><%= title %></h3>

    <div class="authorization-modal__verification-container">
      <% verifications.each do |(messages, cta, fields)| %>
        <div class="authorization-modal__verification">
          <% messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>

          <% if fields.any? %>
            <ul>
              <% fields.each do |field| %>
                <li><%= value %></li>
              <% end %>
            </ul>
          <% end %>

          <%= content_tag cta[:type], class: "button button__lg button__secondary", href: cta[:url], data: cta[:data] do %>
            <span><%= cta[:text] %></span>
            <%= icon "arrow-right-line" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
