<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".title") %></h1>
      </div>
    </div>

    <div class="row">
      <div class="columns large-6 medium-centered">
        <div class="card">
          <div class="card__content">
            <%= decidim_form_for(@form, url: authorization_path(redirect_url: redirect_url), method: :put) do |form| %>
              <%= form_required_explanation %>

              <div class="field">
                <%= form.text_field :verification_code %>
              </div>

              <div class="actions">
                <%= form.submit t(".send"), class: "button expanded", "data-disable-with" => "#{t('.send')}..." %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="card">
          <div class="card__content">
            <div class="field">
              <p><%= t(".resend") %></p>
              <%= link_to t(".destroy"), decidim_sms.authorization_path, method: :delete, data: { confirm: t(".confirm_destroy") } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
