<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_verifications" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_verifications", media: "all" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="text-center py-10">
    <h1 class="h1 decorator inline-block text-left">
      <%= t("decidim.verifications.sms.authorizations.edit.title") %>
    </h1>
  </div>

  <div class="mb-24">
    <%= decidim_form_for(@form, url: authorization_path(redirect_url: redirect_url), method: :put) do |form| %>
      <%= form_required_explanation %>

      <div class="form__wrapper">
        <%= form.text_field :verification_code, placeholder: "XXXXXX" %>
      </div>

      <div class="form__wrapper-block flex-row justify-between">
        <%# REDESIGN_PENDING: link to main index %>
        <a href="" class="button button__lg button__text-secondary">
          <%= icon "arrow-left-line", class: "fill-current" %>
          <%= t("decidim.wizard_step_form.wizard_aside.back") %>
        </a>
        <button type="submit" class="button button__lg button__secondary">
          <%= t("decidim.verifications.sms.authorizations.edit.send") %>
          <%= icon "arrow-right-line", class: "fill-current" %>
        </button>
      </div>

    <% end %>

    <p>
      <%= t("decidim.verifications.sms.authorizations.edit.resend") %>
      <%= link_to t("decidim.verifications.sms.authorizations.edit.destroy"), decidim_sms.authorization_path, method: :delete, data: { confirm: t("decidim.verifications.sms.authorizations.edit.confirm_destroy") }, class: "underline text-secondary" %>
    </p>
  </div>
<% end %>
