<div id="resource-<%= resource.id %>-endorsement-button<%= user_group&.id ? "-#{user_group.id}" : "" %>">
  <% if !current_user %>
      <%= action_authorized_button_to :endorse, endorse_label, current_endorsement_url, resource: resource, class: "button #{endorsement_button_classes} secondary" %>
  <% else %>
    <% if resource.endorsed_by?(current_user, user_group) %>
      <%= action_authorized_button_to :endorse, unendorse_label, current_endorsement_url, resource: resource, method: :delete, remote: true, class: "button #{endorsement_button_classes} success", id: "endorsement_button" %>
    <% else %>
      <%= action_authorized_button_to :endorse, endorse_label, current_endorsement_url, resource: resource, remote: true, data: {}, class: "button #{endorsement_button_classes} secondary" %>
    <% end %>
  <% end %>
</div>
