<div data-dialog-container>
  <%= icon "account-circle-line" %>
  <h2 id="dialog-title-user-identities" tabindex="-1" data-dialog-title><%= t ".select_identity" %></h2>
  <div>
    <div class="identities-modal__list">
      <%= render_endorsement_identity(resource, current_user) %>
      <% @user_verified_groups.each do |user_group| %>
        <%= render_endorsement_identity(resource, current_user, user_group) %>
      <% end %>
    </div>
  </div>
</div>
<div data-dialog-actions>
  <button type="button" class="button button__sm md:button__lg button__secondary" data-dialog-close="user-identities">
    <%= t ".done" %>
    <%= icon "arrow-right-line" %>
  </button>
</div>
