<%
@title = "Propuesta -- Decidim Barcelona"
@activesection = "processes"
@activepage = "debates"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row">
      <div class="column medium-6">
        <h3 class="heading3 text-uppercase text-muted">Participantes nabo</h3>
        <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed, unde molestiae, iusto blanditiis cumque, asperiores consectetur corrupti facilis adipisci modi suscipit. Ipsum ut exercitationem iste iusto cumque. Et, repudiandae.</p>
        <%= partial "areachart", axis: true %>
        <p class="pull-right mt-s"><a href="#"><small class="text-small"><u>Descargar datos (csv)</u></small></a></p>
      </div>
      <div class="column medium-6">
        <h3 class="heading3 text-uppercase text-muted">Propuestas</h3>
        <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed, unde molestiae, iusto blanditiis cumque, asperiores consectetur corrupti facilis adipisci modi suscipit. Ipsum ut exercitationem iste iusto cumque. Et, repudiandae.</p>
        <%= partial "areachart", axis: true %>
        <p class="pull-right mt-s"><a href="#"><small class="text-small"><u>Descargar datos (csv)</u></small></a></p>
      </div>
    </div>
    <div class="row">
      <div class="column medium-6">
        <h3 class="heading3 text-uppercase text-muted">Apoyos</h3>
        <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed, unde molestiae, iusto blanditiis cumque, asperiores consectetur corrupti facilis adipisci modi suscipit. Ipsum ut exercitationem iste iusto cumque. Et, repudiandae.</p>
        <%= partial "areachart", axis: true, ratio: "16:9" %>
        <p class="pull-right mt-s"><a href="#"><small class="text-small"><u>Descargar datos (csv)</u></small></a></p>
      </div>
      <div class="column medium-6">
        <h3 class="heading3 text-uppercase text-muted">Propuesta aceptadas</h3>
        <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed, unde molestiae, iusto blanditiis cumque, asperiores consectetur corrupti facilis adipisci modi suscipit. Ipsum ut exercitationem iste iusto cumque. Et, repudiandae.</p>
        <%= partial "areachart", axis: true, ratio: "16:9" %>
        <p class="pull-right mt-s"><a href="#"><small class="text-small"><u>Descargar datos (csv)</u></small></a></p>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h3 class="heading3 text-uppercase text-muted">Participantes</h3>
        <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed, unde molestiae, iusto blanditiis cumque, asperiores consectetur corrupti facilis adipisci modi suscipit. Ipsum ut exercitationem iste iusto cumque. Et, repudiandae.</p>
        <%= partial "areachart", axis: true, ratio: "11:4" %>
        <p class="pull-right mt-s"><a href="#"><small class="text-small"><u>Descargar datos (csv)</u></small></a></p>
      </div>
    </div>
    <div class="row">
      <div class="column medium-4">
        <h3 class="heading3 text-uppercase text-muted">Areachart Secondary</h3>
        <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed, unde molestiae, iusto blanditiis cumque, asperiores consectetur corrupti facilis adipisci modi suscipit. Ipsum ut exercitationem iste iusto cumque. Et, repudiandae.</p>
        <%= partial "areachart", classes: "secondary", axis: true, ratio: "11:4" %>
        <p class="pull-right mt-s"><a href="#"><small class="text-small"><u>Descargar datos (csv)</u></small></a></p>
      </div>
      <div class="column medium-4">
        <h3 class="heading3 text-uppercase text-muted">Areachart Warning</h3>
        <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed, unde molestiae, iusto blanditiis cumque, asperiores consectetur corrupti facilis adipisci modi suscipit. Ipsum ut exercitationem iste iusto cumque. Et, repudiandae.</p>
        <%= partial "areachart", classes: "warning", axis: true, ratio: "11:4" %>
        <p class="pull-right mt-s"><a href="#"><small class="text-small"><u>Descargar datos (csv)</u></small></a></p>
      </div>
      <div class="column medium-4">
        <h3 class="heading3 text-uppercase text-muted">Areachart Success</h3>
        <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed, unde molestiae, iusto blanditiis cumque, asperiores consectetur corrupti facilis adipisci modi suscipit. Ipsum ut exercitationem iste iusto cumque. Et, repudiandae.</p>
        <%= partial "areachart", classes: "success", axis: true, ratio: "11:4" %>
        <p class="pull-right mt-s"><a href="#"><small class="text-small"><u>Descargar datos (csv)</u></small></a></p>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
