<div class="form__wrapper">
  <div class="card" data-component="accordion" id="accordion-<%= title %>">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-<%= title %>" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="<%= title %>">
          <%= title %>
        </h2>
      </button>
    </div>

    <div id="panel-<%= title %>" class="card-section">
      <div class="row">
        <div class="columns xlarge-4">
          <%= form.text_field :name, readonly: @form.persisted? %>
        </div>
        <div class="columns xlarge-4">
          <%= form.email_field :email, readonly: @form.persisted? %>
        </div>
      </div>
    </div>
  </div>
</div>
