<div id="js-global-moderations-bulk-actions-wrapper">
  <button
    id="js-global-moderations-bulk-actions-button"
    class="button button__sm button__secondary"
    type="button"
    data-toggle="js-global-moderations-bulk-actions-dropdown">
    <%= t("decidim.moderations.index.actions.actions_dropdown") %>
    <%= icon "arrow-down-s-line", class: "dropdown-filter-icon" %>
  </button>

  <div
    id="js-global-moderations-bulk-actions-dropdown"
    class="dropdown-pane"
    data-position="bottom"
    data-alignment="right"
    data-dropdown="dropdown"
    data-auto-focus="false"
    data-events="resize">
    <ul>
        <li>
          <button type="button" data-action="hide-global-moderations">
            <%= t("decidim.moderations.index.actions.hide") %>
          </button>
        </li>
        <li>
          <button type="button" data-action="unreport-global-moderations">
            <%= t("decidim.moderations.index.actions.unreport") %>
          </button>
        </li>
        <li>
          <button type="button" data-action="unhide-global-moderations">
            <%= t("decidim.moderations.index.actions.unhide") %>
          </button>
        </li>
    </ul>
  </div>
</div>
