<%
@title = "Propuesta -- Decidim Barcelona"
@activesection = "processes"
@activepage = "meetings"
%>

<%= partial 'partials/template_top' %>

<main>
  <div class="wrapper">
    <%= partial 'partials/process_header' %>
    <div class="row column view-header">
      <h2 class="heading2">Cooperatives i economia solidària</h2>
      <div class="author-data">
        <div class="author-data__main">
          <div class="author author--inline">
            <a href="#" class="author__avatar">
              <%= image_tag "demo-avatar.jpg" %>
            </a>
            1 de agosto de 2016 por
            <a href="#" class="author__name">
              Ajuntament de Barcelona
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns section view-side mediumlarge-4 mediumlarge-push-8
        large-3 large-push-9">
        <div class="card extra">
          <div class="card__content">
            <div class="extra__date">
              20 <span class="extra__month">Agosto</span>
            </div>
            <div class="extra__time">
              16:00 - 18:00
            </div>
            <button class="button expanded button--sc" data-open="debate-info">
              Voy a ir</button>
          </div>
        </div>
        <div class="card card--secondary extra definition-data">
          <div class="definition-data__item definition-data__item--double">
            <span class="definition-data__title">Assistents</span>
						<span class="definition-data__number">8</span>
          </div>
          <div class="definition-data__item definition-data__item--double">
            <span class="definition-data__title">Intervencions</span>
						<span class="definition-data__number">25</span>
          </div>
          <div class="definition-data__item">
            <span class="definition-data__title">Organitzacions participants</span>
            <span class="definition-data__text">Arcàdia, La Col, Impuls,
              Comissionat d'Economia cooperativa, social i solidària.</span>
          </div>
        </div>
        <%= partial 'partials/share' %>
      </div>
      <div class="columns mediumlarge-8 mediumlarge-pull-4">
        <div class="section">
          <p>
            Mesures i accions a emprendre per preservar pressió ús Collserola.
            Generar espai de debat i de construcció de propostes per a valorar
            i preservar la serralada de Collserola. Reflexionar sobre els
            límits de la pressió humana a la serra.
          </p>
          <div class="card card--secondary">
            <div class="card__content address">
              <div class="address__info">
                <div class="address__icon">
                  <%= icon "meetings", removeIconClass: true, width: 40, height: 70 %>
                </div>
                <div class="address__details">
                  <strong>Seu del Districte Sants-Montjuïc</strong><br>
                  <span>Carrer de la Creu Coberta, 104</span><br>
                  <span>Barcelona</span>
                </div>
              </div>
              <div class="address__map">
                <a href="#"><%= image_tag "meeting-map.jpg", alt: "" %></a>
              </div>
            </div>
          </div>
          <ul class="tags tags--meeting">
            <li><a href="">transició ecológica</a></li>
            <li><a href="">mobilitat sostenible</a></li>
            <li><a href="">barri de Sarrià</a></li>
          </ul>
        </div>
        <div class="section">
          <h3 class="section-heading">Fotografías de la cita</h3>
          <%= partial 'partials/gallery' %>
        </div>
        <div class="section">
          <h3 class="section-heading">Resumen de la cita</h3>
            <p>El debat s’inicia amb un anàlisi de les necessitats del Parc de
              manera individual a través d’escriure 3 o 4 idees (les més
              rellevants). D’aquestes necessitats se n’ha fet un esquema a un
              papelògraf penjant tots els post-its (exposats en veu alta un
              per un cada participant) i s’han agrupat en grups en relació al
              que s’exposava. Les necessitats que han sorgit són les següents:</p>
            <ul>
              <li>Coordinació de les actuacions dels diferents agents que
                intervenen en el territori.</li>
              <li>Coordinació i transmissió de la informació entre totes les
                administracions que intervenen en els entorns naturals.</li>
              <li>Necessitat de gestió forestal. Més conscienciació de la gent
                que en fa ús.</li>
              <li>Coordinació de les actuacions dels diferents agents que
                intervenen en el territori.</li>
              <li>Coordinació i transmissió de la informació entre totes les
                administracions que intervenen en els entorns naturals.</li>
              <li>Necessitat de gestió forestal. Més conscienciació de la gent
                que en fa ús.</li>
              <li>Coordinació de les actuacions dels diferents agents que
                intervenen en el territori.</li>
              <li>Coordinació i transmissió de la informació entre totes les
                administracions que intervenen en els entorns naturals.</li>
              <li>Necessitat de gestió forestal. Més conscienciació de la gent
                que en fa ús.</li>
            </ul>
        </div>
        <div class="section">
          <%= partial 'partials/related_proposals' %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>

