<%
@title = "Propuesta -- Decidim Barcelona"
@activesection = "processes"
@activepage = "proposals2"
%>

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <%= partial 'partials/process_header' %>
  <div class="row column">
    <div class="callout secondary">
      <div class="row">
        <div class="columns medium-8 large-9">
          <h3 class="heading3">Tienes 10 votos para repartir</h3>
          <p>En este proceso solo se pueden repartir 10 votos porque lorem ipsum
          dolor sit amet , consectetur adipiscing elit. Praesent ullamcorper
            ipsum malesuada tempor ultrices. Duis eu scelerisque enim. Mauris
            varius risus id tellus imperdiet porttitor.</p>
        </div>
        <div class="columns medium-4 large-3">
          <div class="card card--nomargin text-center">
            <div class="card__content">
              <span class="definition-data__title">Te quedan</span>
              <span class="extra__suport-number">10</span>
              <span class="extra__suport-text">Votos</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row columns">
    <h2 class="section-heading">168 propuestas abiertas</h2>
  </div>
  <div class="row">
    <div class="columns mediumlarge-4 large-3">
      <%= partial 'partials/filters_small_view' %>
      <div class="card card--secondary show-for-mediumlarge">
        <%= partial 'partials/filters' %>
      </div>
    </div>
    <div class="columns mediumlarge-8 large-9">
      <%= partial 'partials/order_by' %>
      <div class="row small-up-1 medium-up-2 card-grid">
        <div class="column">
          <article class="card card--proposal">
            <div class="card__content">
              <div class="card__header">
                <a href="/proposal-view" class="card__link">
                  <h5 class="card__title">
                    Creació d'aules ambientals al Parc del Clot
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Ajuntament de Barcelona
                      </a>
                      01/08/2016
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <ul class="tags tags--proposal">
                <li><a href="">transició ecológica</a></li>
                <li><a href="">mobilitat sostenible</a></li>
              </ul>
            </div>
            <div class="card__footer">
              <div class="card__support">
                <div class="card__support__data">
                  <span class="card__support__number">27</span>suports
                  <div class="popularity popularity--level5">
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                  </div>
                </div>
                <button class="card__button button small">
                  Donar suport
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__content">
              <div class="card__header">
                <a href="/proposal-view-rejected" class="card__link">
                  <h5 class="card__title">
                    Creació d'aules ambientals i d'estudi al Parc del Clot
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Ajuntament de Barcelona
                      </a>
                      01/08/2016
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos i descàrrega
                per garantir uns fluxos de mobilitat sostenibles i
                respectuosos.</p>
              <ul class="tags tags--proposal">
                <li><a href="">transició ecológica</a></li>
                <li><a href="">mobilitat sostenible</a></li>
              </ul>
            </div>
            <div class="card__footer">
              <div class="card__support">
                <div class="card__support__data">
                  <span class="card__support__number">27</span>suports
                  <div class="popularity popularity--level3">
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                  </div>
                </div>
                <button class="card__button button small success">
                  Donant suport
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__content">
              <div class="card__header">
                <a href="/proposal-view" class="card__link">
                  <h5 class="card__title">
                    Creació d'aules ambientals al Parc del Clot
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Ajuntament de Barcelona
                      </a>
                      01/08/2016
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <ul class="tags tags--proposal">
                <li><a href="">transició ecológica</a></li>
                <li><a href="">mobilitat sostenible</a></li>
              </ul>
            </div>
            <div class="card__footer">
              <div class="card__support">
                <div class="card__support__data">
                  <span class="card__support__number">27</span>suports
                  <div class="popularity popularity--level1">
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                  </div>
                </div>
                <button class="card__button button small">
                  Donar suport
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__content">
              <div class="card__header">
                <a href="/proposal-view" class="card__link">
                  <h5 class="card__title">
                    Creació d'aules ambientals al Parc del Clot
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Ajuntament de Barcelona
                      </a>
                      01/08/2016
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <ul class="tags tags--proposal">
                <li><a href="">transició ecológica</a></li>
                <li><a href="">mobilitat sostenible</a></li>
              </ul>
            </div>
            <div class="card__footer">
              <div class="card__support">
                <div class="card__support__data">
                  <span class="card__support__number">27</span>suports
                  <div class="popularity popularity--level4">
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                  </div>
                </div>
                <button class="card__button button small">
                  Donar suport
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__content">
              <div class="card__header">
                <a href="/proposal-view" class="card__link">
                  <h5 class="card__title">
                    Creació d'aules ambientals al Parc del Clot
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Ajuntament de Barcelona
                      </a>
                      01/08/2016
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <ul class="tags tags--proposal">
                <li><a href="">transició ecológica</a></li>
                <li><a href="">mobilitat sostenible</a></li>
              </ul>
            </div>
            <div class="card__footer">
              <div class="card__support">
                <div class="card__support__data">
                  <span class="card__support__number">0</span>suports
                  <div class="popularity">
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                  </div>
                </div>
                <button class="card__button button small">
                  Donar suport
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__content">
              <div class="card__header">
                <a href="/proposal-view" class="card__link">
                  <h5 class="card__title">
                    Creació d'aules ambientals i d'estudi al Parc del Clot
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Ajuntament de Barcelona
                      </a>
                      01/08/2016
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <ul class="tags tags--proposal">
                <li><a href="">transició ecológica</a></li>
                <li><a href="">mobilitat sostenible</a></li>
              </ul>
            </div>
            <div class="card__footer">
              <div class="card__support">
                <div class="card__support__data">
                  <span class="card__support__number">27</span>suports
                  <div class="popularity popularity--level2">
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                  </div>
                </div>
                <button class="card__button button small">
                  Donar suport
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__content">
              <div class="card__header">
                <a href="/proposal-view" class="card__link">
                  <h5 class="card__title">
                    Creació d'aules ambientals al Parc del Clot
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Ajuntament de Barcelona
                      </a>
                      01/08/2016
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <ul class="tags tags--proposal">
                <li><a href="">transició ecológica</a></li>
                <li><a href="">mobilitat sostenible</a></li>
              </ul>
            </div>
            <div class="card__footer">
              <div class="card__support">
                <div class="card__support__data">
                  <span class="card__support__number">27</span>suports
                  <div class="popularity popularity--level5">
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                  </div>
                </div>
                <button class="card__button button small">
                  Donar suport
                </button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>

