<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_verifications" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_verifications", media: "all" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <% if authorization.letter_sent? %>
    <div class="text-center py-10">
      <h1 class="h1 decorator inline-block text-left">
        <%= t("decidim.verifications.postal_letter.authorizations.edit.title") %>
      </h1>
    </div>

    <div class="mb-24">
      <%= decidim_form_for(@form, url: authorization_path, method: :put) do |form| %>
        <%= form_required_explanation %>

        <div class="form__wrapper">
          <%= form.text_field :verification_code, placeholder: "XXXXXX" %>
        </div>

        <div class="form__wrapper-block">
          <button type="submit" class="button button__lg button__secondary">
            <%= t("decidim.verifications.postal_letter.authorizations.edit.send") %>
            <%= icon "arrow-right-line", class: "fill-current" %>
          </button>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="my-12">
      <%= cell("decidim/announcement", t("decidim.verifications.postal_letter.authorizations.edit.waiting_for_letter")) %>
    </div>
  <% end %>
<% end %>
