<div class="wrapper">
  <div class="row collapse">
    <% if authorization.letter_sent? %>
      <div class="row collapse">
        <div class="columns large-8 large-centered text-center page-title">
          <h1><%= t(".title") %></h1>
        </div>
      </div>

      <div class="row">
        <div class="columns large-6 medium-centered">
          <div class="card">
            <div class="card__content">
              <%= decidim_form_for(@form, url: authorization_path, method: :put) do |form| %>
                <div class="field">
                  <%= form.text_field :verification_code %>
                </div>

                <div class="actions">
                  <%= form.submit t(".send"), class: "button expanded", "data-disable-with" => "#{t('.send')}..." %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row collapse">
        <div class="columns large-8 large-centered text-center page-title">
          <h1><%= t(".waiting_for_letter") %></h1>
        </div>
      </div>
    <% end %>
  </div>
</div>
