<div class="text-center py-10">
  <h1 class="title-decorator inline-block text-left">
    <%= t("decidim.verifications.postal_letter.authorizations.new.title") %>
  </h1>
</div>

<%= decidim_form_for(@form, url: authorization_path) do |form| %>
  <%= form_required_explanation %>

  <div class="form__wrapper">
    <%= form.text_field :full_address %>
  </div>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= link_to authorizations_back_path(current_user, redirect_url:), class: "button button__sm md:button__lg button__text-secondary" do %>
      <%= icon "arrow-left-line", class: "fill-current" %>
      <%= t("decidim.wizard_step_form.wizard_aside.back") %>
    <% end %>
    <button type="submit" class="button button__sm md:button__lg button__secondary">
      <%= t("decidim.verifications.postal_letter.authorizations.new.send") %>
      <%= icon "arrow-right-line", class: "fill-current" %>
    </button>
  </div>
<% end %>
