<div class="wrapper">
  <div class="row column">
    <h1><%= t ".title" %></h1>
    <p>
      <%= t ".page_description" %>
    </p>
  </div>
  <% @badges.each do |badge| %>
    <div class="row column">
      <div class="column">
        <div class="card card--badge">
          <div>
            <div>
              <%= image_tag badge.image %>
            </div>
            <div class="text-center">
              <strong><%= badge.translated_name %></strong>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <h6>
          <strong><%= t ".badge_title", name: badge.translated_name %></strong>
        </h6>
        <p><%= badge.description(current_organization_name) %></p>
        <h6>
          <strong><%= t ".how" %></strong>
        </h6>
        <ol>
          <% badge.conditions.each do |condition| %>
            <li><%= condition %></li>
          <% end %>
        </ol>
      </div>
    </div>
  <% end %>
</div>
