<div class="card-divider">
  <h2 class="card-title">
    <%= t("admin.import.title", scope: "decidim.verifications.csv_census") %>
  </h2>
</div>
<div class="card-section">
  <div class="row column">
    <p><%= t("decidim.verifications.csv_census.admin.import.info") %></p>
    <pre class="code-block"><%= t("decidim.verifications.csv_census.admin.import.example") %></pre>
  </div>

  <div class="row column">
    <%= decidim_form_for @form, url: create_import_census_path, multipart: true do |form| %>
      <%= label_tag :file, t("admin.import.file", scope: "decidim.verifications.csv_census") %>
      <%= form.file_field :file %>

      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= submit_tag t("admin.import.submit", scope: "decidim.verifications.csv_census"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
