<section id="highlighted_votings" class="home__section">
  <div id="highlighted-votings">
    <div class="home__section-header">
      <h2 class="home__section-title">
        <%= t("active_votings", scope: i18n_scope) %>
      </h2>
      <%= link_to decidim_votings.votings_path, class: "button button__sm button__text-secondary" do %>
        <%= t("see_all_votings", scope: "decidim.votings.pages.home.highlighted_votings") %>
        <%= icon "arrow-right-line", class: "fill-current" %>
      <% end %>
    </div>
    <% highlighted_votings.each do |voting| %>
      <div class="column">
        <%= link_to decidim_votings.voting_path(voting), class: "card card--voting card--mini" do %>
          <div aria-hidden="true" class="card__image-top"
            style="background-image:url('<%= voting.attached_uploader(:banner_image).path %>')"></div>
          <div class="card__content">
            <span class="card__title card__link"><%= translated_attribute voting.title %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
