<div class="row">
  <div class="columns large-8">
    <h3 class="section-heading"><%= t("decidim.elections.elections.preview.title") %></h3>

    <p><%= t("decidim.elections.elections.preview.description") %></p>

    <ul class="accordion mb-m evote__preview"
      data-accordion
      data-multi-expand="true"
      data-allow-all-closed="true">
      <% model.questions.each do |question| %>
        <li class="accordion-item evote__preview-question <%= " is-active" if model.questions.one? %>" data-accordion-item>
          <a href="#" class="accordion-title flex--sbc"><%= translated_attribute(question.title) %></a>

          <div class="accordion-content" data-tab-content>
            <strong><%= t("decidim.elections.elections.preview.available_answers") %></strong>

            <ul>
              <% question.answers.each do |answer| %>
                <li><%= translated_attribute(answer.title) %></li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
