<div class="login__box-container">
  <button type="button" class="login__box" data-dialog-open="loginModal">
    <%= icon "login-box-line", class: "login__box-icon" %>
    <p class="login__box-title">
      <%= t("decidim.forms.questionnaires.show.answer_questionnaire.already_have_an_account?") %>
    </p>
    <p class="login__box-description">
      <%= t("decidim.forms.questionnaires.show.answer_questionnaire.sign_in_description") %>
    </p>
    <div class="login__box-link">
      <%= t("decidim.devise.registrations.new.sign_in") %>
      <%= icon "arrow-right-line", class: "fill-current" %>
    </div>
  </button>
  <%= link_to(decidim.new_user_registration_path, class: "login__box") do %>
    <%= icon "user-add-line", class: "login__box-icon" %>
    <p class="login__box-title">
      <%= t("decidim.forms.questionnaires.show.answer_questionnaire.are_you_new?") %>
    </p>
    <p class="login__box-description">
      <%= t("decidim.forms.questionnaires.show.answer_questionnaire.sign_up_description") %>
    </p>
    <div class="login__box-link">
      <%= t("decidim.devise.registrations.new.sign_up") %>
      <%= icon "arrow-right-line", class: "fill-current" %>
    </div>
  <% end %>
</div>
