<%= decidim_modal id: "sign-up-newsletter-modal" do %>
  <div data-dialog-container>
    <%= icon "newspaper-line" %>
    <h2 id="dialog-title-sign-up-newsletter-modal" data-dialog-title><%= t(".title") %></h2>
    <div id="dialog-desc-sign-up-newsletter-modal" class="space-y-4">
      <%= t(".notice").html_safe %>
    </div>
  </div>
  <div data-dialog-actions>
    <button class="button button__sm md:button__lg button__transparent-secondary" data-check="false">
      <%= t(".buttons.uncheck") %>
    </button>
    <button class="button button__sm md:button__lg button__secondary" data-check="true">
      <%= t(".buttons.check") %>
    </button>
  </div>
<% end %>
