<div class="user-password"
    data-show-password="<%= t ".show_password" %>"
    data-hide-password="<%= t ".hide_password" %>"
    data-hidden-password="<%= t ".hidden_password" %>"
    data-shown-password="<%= t ".shown_password" %>">
    <div class="field">
    <%= form.password_field :password, options %>
    </div>
</div>

<div class="user-password-confirmation">
    <div class="field">
    <%= form.password_field :password_confirmation, options.except(:help_text, :autocomplete) %>
    </div>
</div>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_registrations" %>
<% end %>
