<% if model.ongoing? && already_voted? %>
  <%= cell("decidim/announcement", callout_text) %>
<% end %>

<% if model.ongoing? %>
  <% if vote_flow.login_path(new_election_vote_path) %>
    <%= link_to vote_flow.login_path(new_election_vote_path), class: "button button__lg button__secondary w-full" do %>
      <%= vote_action_button_text %>
    <% end %>
  <% else %>
    <%= action_authorized_link_to :vote, new_election_vote_path, resource: model, class: "button button__lg button__secondary w-full" do %>
      <%= vote_action_button_text %>
    <% end %>
  <% end %>
<% elsif !model.finished? %>
  <button class="button button__lg button__secondary w-full" disabled><%= t("action_button.vote", scope: "decidim.elections.elections.show") %></button>
<% end %>

<% if preview_mode? && can_preview? %>
  <%= link_to new_election_vote_path, class: "button button__lg button__secondary w-full mt-4" do %>
    <%= t("preview", scope: "decidim.elections.elections.show") %>
  <% end %>
<% end %>
