<% if model.ongoing? && already_voted? %>
  <%= cell("decidim/announcement", callout_text) %>
<% end %>

<div>
  <% if model.ongoing? %>
    <%= action_authorized_link_to :vote, new_election_vote_path, resource: model, class: "button" do %>
      <%= vote_action_button_text %>
    <% end %>
  <% elsif !model.finished? %>
    <span class="button disabled"><%= t("action_button.vote", scope: i18n_scope) %></span>
  <% end %>

  <% if allowed_to? :preview, :election, election: model %>
    <%= link_to new_election_vote_path, class: "button" do %>
      <%= t("preview", scope: i18n_scope) %>
    <% end %>
  <% end %>
</div>

<div class="text-sm">
<% if model.started? %>
  <%= t("verify.already_voted", scope: i18n_scope) %>

  <%= link_to t("verify.verify_here", scope: i18n_scope), verify_election_vote_path %>
<% else %>
  <span class="disabled"><%= t("verify.will_verify", scope: i18n_scope) %></span>
<% end %>
</div>
