<% if model.ongoing? && already_voted? %>
  <%= cell("decidim/announcement", callout_text) %>
<% end %>

<div>
  <% if model.ongoing? %>
    <%= action_authorized_link_to :vote, new_election_vote_path(model), resource: model, class: "button" do %>
      <%= vote_action_button %>
    <% end %>
  <% else %>
    <span class="button disabled"><%= t("action_button.vote", scope: i18n_scope) %></span>
  <% end %>

  <% if allowed_to? :preview, :election, election: model %>
    <%= link_to new_election_vote_path(model), class: "button" do %>
      <%= t("preview", scope: i18n_scope) %>
    <% end %>
  <% end %>
</div>

<% if model.started? %>
  <p class="text-sm">
    <%= t("verify.already_voted", scope: i18n_scope) %>

    <%= link_to verify_election_vote_path(model) do %>
      <%= t("verify.verify_here", scope: i18n_scope) %>
    <% end %>
  </p>
<% else %>
  <span class="disabled text-sm"><%= t("verify.will_verify", scope: i18n_scope) %></span>
<% end %>
