<div class="row">
  <div class="small-12 columns">
    <h2 class="heading2">
      <%= t("changes_at_title", scope: "decidim.proposals.versions", title: item.title) %>
    </h2>

    <div class="row">
      <div class="mediumlarge-8 columns">
        <div class="section">
          <% diff_renderer.diff.each_value do |data| %>
            <h3 class="section-heading"><%= data[:label] %></h3>
            <%= render_diff_data(data) %>
          <% end %>
        </div>
      </div>

      <div class="columns section mediumlarge-4 large-3">
        <div class="card extra definition-data">
          <div class="definition-data__item versions_count">
            <span class="definition-data__title"><%= t("versions.stats.version_number", scope: "decidim.proposals") %></span>
            <%= t("versions.stats.version_number_out_of_total", scope: "decidim.proposals", current_version: params[:id], total_count: item.versions_count) %>
            <%= link_to t("versions.stats.show_all_versions", scope: "decidim.proposals"), collaborative_draft_versions_path(item), class: "button button--sc hollow secondary small expanded" %>
            <%= link_to t("versions.stats.back_to_collaborative_draft", scope: "decidim.proposals"), collaborative_draft_path(item), class: "button button--sc hollow secondary small expanded" %>
          </div>
          <% if current_version.whodunnit.present? %>
            <div class="definition-data__item last_revision_by">
              <span class="definition-data__title"><%= t("versions.stats.version_author", scope: "decidim.proposals") %></span>
              <%= render_resource_editor(current_version) %>
            </div>
          <% end %>
          <div class="definition-data__item versions_count">
            <span class="definition-data__title"><%= t("versions.stats.version_created_at", scope: "decidim.proposals") %></span>
            <%= l current_version.created_at, format: :decidim_short %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
