<section class="content-block" id="metrics">
  <div class="content-block__title">
    <h2 class="h2 decorator"><%= t("decidim.pages.participatory_space.metrics.headline", name: translated_attribute(current_participatory_space.title)) %></h2>

    <%= link_to all_metrics_participatory_process_path(current_participatory_space), class: "button button__sm button__text-secondary" do %>
      <span><%= t("decidim.pages.participatory_space.metrics.link") %></span>
      <%= icon "arrow-right-line" %>
    <% end %>
  </div>

  <%= metrics.params %>
  <%= metrics.highlighted %>
</section>
