<section class="content-block" id="metrics">
  <div class="content-block__title">
    <h2 class="h2 decorator"><%= t("decidim.pages.participatory_space.metrics.headline", name: translated_attribute(current_participatory_space.title)) %></h2>
    <div class="label text-lg"><%= Decidim.metrics_registry.filtered(scope: "participatory_process", sort: true).length %></div>

    <%= link_to all_metrics_participatory_process_path(current_participatory_space), class: "button button__sm button__text-secondary" do %>
      <span><%= t("decidim.pages.participatory_space.metrics.link") %></span>
      <%= icon "arrow-right-line" %>
    <% end %>
  </div>

  <%# REDESIGN_PENDING: could "metrics.params" be no longer necessary??? %>
  <div class="process__block-grid">
    <%= metrics.params %>
    <%= metrics.redesigned_charts Decidim.metrics_registry.filtered(highlight: true, scope: "participatory_process") %>
  </div>
</section>
