<%= link_to participatory_process_path(promoted_process), class: "card__highlight" do %>
  <div class="card__highlight-img">
    <%= image_tag promoted_process.attached_uploader(:hero_image).path %>
  </div>
  <div class="card__highlight-text">
    <h3 class="h3 text-secondary"><%= decidim_html_escape(translated_attribute(promoted_process.title)).html_safe %></h3>
    <%= decidim_sanitize html_truncate(translated_attribute(promoted_process.short_description), length: 630, separator: "...") %>

    <%# REDESIGN_PENDING: replace static fields %>
    <div class="card__highlight-metadata">
      <div>
        <%
          # REDESIGN_PENDING: Decimal number between 0-1. Higher when closer to date
          value = rand(1..100).to_f / 100 %>
        <div class="card__highlight-loader" style="--value:<%= value %>;"></div>
        queda un mes
      </div>
      <div>
        <%= icon "bubble-chart-line" %>
        2345 interacciones
      </div>
    </div>
  </div>
<% end %>
