<% if current_participatory_space.private_space? %>
  <%= cell("decidim/announcement", t("participatory_processes.show.private_space", scope: "decidim"), callout_class: "alert") %>
<% end %>

<div class="section" id="metrics">
  <%= metrics.params %>
  <%= metrics.medium_stats %>
  <%= metrics.big_stats %>
  <%= metrics.small_stats %>
</div>
