<% if current_participatory_space.private_space? %>
  <%= render partial: "decidim/shared/private_participatory_space", locals: { text: t("participatory_processes.show.private_space", scope: "decidim") } %>
<% end %>
<div class="section" id="metrics">
  <%= metrics.params %>
  <%= metrics.medium_stats %>
  <%= metrics.big_stats %>
  <%= metrics.small_stats %>
</div>
