<% add_decidim_meta_tags({
  image_url: current_participatory_space.hero_image.url,
  description: translated_attribute(current_participatory_space.short_description),
  url: participatory_process_url(current_participatory_space),
  twitter_handler: current_organization.twitter_handler
}) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :update,
  :process,
  process: current_participatory_space
)
%>

<% if current_participatory_space.private_space? %>
  <%= render partial: "decidim/shared/private_participatory_space", locals: { text: t("participatory_processes.show.private_space", scope: "decidim") } %>
<% end %>

<% if translated_attribute(current_participatory_space.announcement).present? %>
  <%= render partial: "decidim/shared/announcement", locals: { announcement: current_participatory_space.announcement } %>
<% end %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <div class="lead">
          <%= decidim_sanitize translated_attribute(current_participatory_space.short_description) %>
        </div>
        <%= decidim_sanitize translated_attribute(current_participatory_space.description) %>
      </div>
      <%= attachments_for current_participatory_space %>
      <%= render_hook(:participatory_space_highlighted_elements) %>
    </div>
    <div class="section columns medium-5 mediumlarge-4 large-3">
      <div class="card extra">
        <div class="card__content">
          <%= render partial: "decidim/shared/follow_button", locals: { followable: current_participatory_space } %>
        </div>
      </div>
      <div class="card extra definition-data">
        <% if translated_attribute(current_participatory_space.participatory_scope).present? %>
          <div class="definition-data__item participatory_scope">
            <span class="definition-data__title"><%= t("participatory_processes.show.participatory_scope", scope: "decidim") %></span>
            <%= translated_attribute(current_participatory_space.participatory_scope) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_space.target).present? %>
          <div class="definition-data__item target">
            <span class="definition-data__title"><%= t("participatory_processes.show.target", scope: "decidim") %></span>
            <%= translated_attribute(current_participatory_space.target) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_space.participatory_structure).present? %>
          <div class="definition-data__item participatory_structure">
            <span class="definition-data__title"><%= t("participatory_processes.show.participatory_structure", scope: "decidim") %></span>
            <%= translated_attribute(current_participatory_space.participatory_structure) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_space.meta_scope).present? %>
          <div class="definition-data__item scope">
            <span class="definition-data__title"><%= t("participatory_processes.show.scope", scope: "decidim") %></span>
              <%= translated_attribute(current_participatory_space.meta_scope) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_space.local_area).present? %>
          <div class="definition-data__item local_area">
            <span class="definition-data__title"><%= t("participatory_processes.show.local_area", scope: "decidim") %></span>
            <%= translated_attribute(current_participatory_space.local_area) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_space.developer_group).present? %>
          <div class="definition-data__item developer-group">
            <span class="definition-data__title"><%= t("participatory_processes.show.developer_group", scope: "decidim") %></span>
            <%= translated_attribute(current_participatory_space.developer_group) %>
          </div>
        <% end %>

        <% if current_participatory_space.start_date.present? %>
          <div class="definition-data__item start-date">
            <span class="definition-data__title"><%= t("participatory_processes.show.start_date", scope: "decidim") %></span>
              <%== l(current_participatory_space.start_date, format: :long) %>
          </div>
        <% end %>

        <% if current_participatory_space.end_date.present? %>
          <div class="definition-data__item end-date">
            <span class="definition-data__title"><%= t("participatory_processes.show.end_date", scope: "decidim") %></span>
              <%== l(current_participatory_space.end_date, format: :long) %>
          </div>
        <% end %>
      </div>
      <%= resource_reference(current_participatory_space) %>
      <%= render partial: "decidim/shared/share_modal" %>
      <%= embed_modal_for participatory_process_participatory_process_widget_url(current_participatory_space, format: :js) %>
    </div>
  </div>
  <% if current_participatory_space.show_statistics? %>
    <%= render partial: "statistics" %>
  <% end %>
</div>

<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>
