<% add_decidim_meta_tags(
  title: translated_attribute(current_participatory_space.title),
  image_url: resolve_meta_image_url(current_participatory_space),
  description: translated_attribute(current_participatory_space.short_description),
  url: participatory_process_url(current_participatory_space, locale: current_locale),
  resource: current_participatory_space) %>

<%
  edit_link(
    resource_locator(current_participatory_space).edit,
    :update,
    :process,
    process: current_participatory_space
  )
%>

<%= render partial: "layouts/decidim/header/follow_space_menu_bar_button", locals: { participatory_space: current_participatory_space } %>

<main>
  <%# NOTE: this elements goes outside of the .participatory-space__container block %>
  <% if current_participatory_space.private_space? %>
    <section class="participatory-space__block-reference alert">
      <%= t("private_space", scope: "decidim.participatory_processes.show") %>
    </section>
  <% end %>

  <div class="participatory-space__container">

    <%= participatory_space_floating_help %>
    <%= cell "decidim/participatory_processes/process_step", current_participatory_space, display_steps: params[:display_steps] %>

    <% active_content_blocks.each do |content_block| %>
      <% next unless content_block.manifest %>

      <%= cell content_block.manifest.cell, content_block %>
    <% end %>

  </div>

  <section class="participatory-space__block-reference">
    <%= resource_reference(current_participatory_space) %>
  </section>
</main>
