<% add_decidim_page_title(t("census_section.index.title", scope: "decidim.verifications.csv_census.admin")) %>
<div class="card">
  <div class="item_show__header item_show__header--with-action-options">
    <h1 class="item_show__header-title">
      <%= t("census_section.index.title", scope: "decidim.verifications.csv_census.admin") %>
      <%= link_to t("census_section.index.add_new_record_button", scope: "decidim.verifications.csv_census.admin"), "#", method: :post, class: "button button__sm button__secondary" %>
    </h1>
  </div>
  <div class="table-scroll mt-8">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t("census_section.index.fields.email", scope: "decidim.verifications.csv_census.admin") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td></td>
            <td class="table-list__actions">
                <%= icon_link_to "pencil-line", "#", t("actions.edit", scope: "decidim.verifications.csv_census.admin"), class: "action-icon--edit" %>
                <%= icon_link_to "delete-bin-line", "#", t("actions.destroy", scope: "decidim.verifications.csv_census.admin"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.verifications.csv_census.admin") } %>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
