<%= form.hidden_field :root_taxonomy_id %>

<%= render "decidim/admin/taxonomy_filters/callout" %>

<div class="form__wrapper">
  <div class="item__edit-form">
    <div class="card-section p-4">
      <div class="card-divider">
        <% if @form.root_taxonomy.children.any? %>
          <h2 class="js-filter-children-items"><%= t(".items", count: "<strong class=\"js-filter-children-count\">#{@form.root_taxonomy.all_children.flatten.count}</strong>").html_safe %></h2>
        <% else %>
          <h2 class="js-filter-children-no_items"><%= t(".no_items") %></h2>
        <% end %>
      </div>

      <div class="row column pb-4">
        <div class="table-scroll">
          <label><%= check_box_tag "selectAll" %> <%= t(".all") %></label>
          <%= render "decidim/admin/taxonomy_filters/check_boxes", form:, collection: @form.items_collection %>
        </div>
      </div>
    </div>
    <div class="card-section pt-4">
      <div class="row column pb-4">
        <%= form.translated :text_field, :internal_name, aria: { label: :internal_name }, placeholder: translated_attribute(@form.root_taxonomy.name) %>
      </div>
      <div class="row column pb-4">
        <%= form.translated :text_field, :name, aria: { label: :name }, placeholder: translated_attribute(@form.root_taxonomy.name), help_text: t(".name_help") %>
      </div>
    </div>
    <div class="card-section pt-4">
      <div class="row column pb-8">
        <%= form.check_box :space_filter, aria: { label: :space_filter }, label: t(".space_filter", manifest_name: t("decidim.admin.titles.#{participatory_space_manifest}", default: participatory_space_manifest), default: t("activemodel.attributes.taxonomy_filter.space_filter") ) %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var selectAll = document.querySelector("[name='selectAll']");
    var checkBoxes = document.querySelectorAll("[type='checkbox'][name='taxonomy_filter[taxonomy_items][]']");
    var notChecked = document.querySelectorAll("[type='checkbox'][name='taxonomy_filter[taxonomy_items][]']:not([checked])");
    var items = document.querySelector(".js-filter-children-items");
    var noItems = document.querySelector(".js-filter-children-no_items");
    var count = document.querySelector(".js-filter-children-count");

    var updateCounter = function() {
      var checked = Array.from(checkBoxes).filter(function(checkbox) {
        return checkbox.checked;
      });
      count.innerHTML = checked.length;
    };

    selectAll.checked = notChecked.length === 0;
    selectAll.addEventListener("change", function() {
      checkBoxes.forEach(function(checkbox) {
        checkbox.checked = selectAll.checked;
      });
      updateCounter();
    });

    checkBoxes.forEach(function(checkbox) {
      checkbox.addEventListener("change", function() {
        updateCounter();
      });
    });

    <% if params[:action] == "new" %>
      var rootTaxonomySelect = document.querySelector("#taxonomy_filter_root_taxonomy_id");

      // reload the page if the select exists
      rootTaxonomySelect.addEventListener("change", function() {
        form.submit();
      });

      // check all checkboxes on load
      checkBoxes.forEach(function(checkbox) {
        checkbox.checked = true;
      });
      selectAll.checked = true;
    <% end %>

    updateCounter();
  });
</script>
