<% add_decidim_page_title(t(".title")) %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
    <%= link_to :back, class: "button button__transparent-secondary button__sm" do %>
      <%= t(".back") %>
    <% end %>
  </h1>
</div>

<div class="card">
  <%= decidim_form_for(@form, url: url_for(controller: params[:controller], action: :update, id: current_taxonomy_filter.id), html: { class: "form-defaults form new_taxonomy_filter_" }) do |f| %>
    <div class="card-section p-4">
      <div class="item__edit-form">
        <div class="form-defaults">
          <%= f.text_field :root_taxonomy_id, value: translated_attribute(current_taxonomy_filter.name), disabled: true, class: "w-full" %>
        </div>
      </div>
    </div>

    <%= render partial: "decidim/admin/taxonomy_filters/form", object: f %>

    <div class="item__edit-sticky">
      <div class="item__edit-sticky-container">
        <%= f.submit t(".update"), class: "button button__sm button__secondary" %>
      </div>
    </div>
  <% end %>
</div>
