<% add_decidim_page_title(t(".title")) %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
    <%= link_to :back, class: "button button__transparent-secondary button__sm" do %>
      <%= t(".back") %>
    <% end %>
  </h1>
</div>

<div class="item__edit-form">
  <%= decidim_form_for(@form, url: taxonomy_filters_path(root_taxonomy), html: { class: "form form-defaults new_taxonomy_filter_" }) do |f| %>
    <%= render partial: "decidim/admin/taxonomy_filters/form", object: f %>

    <div class="item__edit-sticky">
      <div class="item__edit-sticky-container">
        <%= f.submit t(".create"), class: "button button__sm button__secondary" %>
      </div>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var selectAll = document.querySelector("[name='selectAll']");

    // check all checkboxes on load
    selectAll.checked = true;
    selectAll.dispatchEvent(new Event("change"));
  });
</script>
