<% add_decidim_page_title(t(".title")) %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
    <%= link_to :back, class: "button button__transparent-secondary button__sm" do %>
      <%= t(".back") %>
    <% end %>
  </h1>
</div>

<div class="card">
  <div class="card-section p-4">
    <div class="item__edit-form">
      <%= decidim_form_for(@form, url: url_for(controller: params[:controller], action: :new), method: :get, html: { class: "form-defaults form new_taxonomy_filter_" }) do |f| %>
        <%= render partial: "decidim/admin/taxonomy_filters/form", object: f %>
      <% end %>
    </div>
  </div>

  <% if @form.root_taxonomy %>
    <div class="card-section my-4 p-4">
      <div class="card-divider">
        <h2>
          <%= t(".items", count: @form.root_taxonomy.all_children.flatten.count) %>
        </h2>
      </div>

      <div class="table-scroll">
        <%= decidim_form_for(@form, url: url_for(controller: params[:controller], action: :create), html: { class: "form-defaults form new_taxonomy_filter_" }) do |f| %>
          <%= f.hidden_field :root_taxonomy_id %>
          <div class="form__wrapper">
            <div class="pt-4">
              <%= render "decidim/admin/taxonomy_filters/check_boxes", form: f, collection: @form.items_collection %>
            </div>
          </div>

          <div class="item__edit-sticky">
            <div class="item__edit-sticky-container">
              <%= f.submit t(".create"), class: "button button__sm button__secondary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "decidim/admin/taxonomy_filters/callout" %>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var form = document.querySelector(".new_taxonomy_filter_");
    var rootTaxonomySelect = document.querySelector("#taxonomy_filter_root_taxonomy_id");
    var checkBoxes = document.querySelectorAll("[name='taxonomy_filter[taxonomy_items][]']");

    // reload the page if the select exists
    rootTaxonomySelect.addEventListener("change", function() {
      form.submit();
    });

    // check all checkboxes on load
    checkBoxes.forEach(function(checkbox) {
      checkbox.checked = true;
    });
  });
</script>
