<div class="blog__actions">
  <div class="blog__actions-left">
    <% if endorsements_enabled? %>
      <%= endorsement_buttons_cell(post) %>
    <% end %>

    <%= cell "decidim/comments_button", nil %>
  </div>

  <div class="blog__actions-right">
    <%= follow_button_for(post, false, button_classes: "button button__sm button__text-secondary") %>

    <%= cell "decidim/share_button", nil %>
    <%= cell "decidim/report_button", post %>
  </div>
</div>

<%= cell "decidim/endorsers_list", post, layout: :full %>
