<div class="blog__actions">
  <div class="blog__actions-left">
    <% if endorsements_enabled? %>
      <%# REDESIGN_PENDING: replace toggler %>
      <button id="endorsers_list-trigger" class="cursor-pointer" data-toggler=".is-active" data-toggle="endorsers_list-trigger endorsers_list" role="button">
        <%= cell "decidim/endorsers_list", post %>
      </button>
      <%= endorsement_buttons_cell(post) %>
    <% end %>

    <%= link_to "#comments", class: "button button__sm button__transparent-secondary" do %>
      <%= t("decidim.blogs.posts.show.comments") %>
      <%= icon "chat-1-line", class: "fill-current flex-none" %>
    <% end %>
  </div>

  <div class="blog__actions-right">
    <%= follow_button_for(post, false, button_classes: "button button__sm button__text-secondary", text_classes: "") %>

    <%# REDESIGN_PENDING: implement the share button %>
    <button class="button button__sm button__text-secondary">
      Compartir
      <%= icon "share-line", class: "fill-current flex-none" %>
    </button>

    <%# REDESIGN_PENDING: implement the flag button %>
    <button class="button button__sm button__text-secondary">
      Denunciar
      <%= icon "flag-line", class: "fill-current flex-none" %>
    </button>
  </div>
</div>

<%= cell "decidim/endorsers_list", post, layout: :full %>
