<% extra ||= false %>
<div class="author-data author-data--small">
  <%#= render partial: "decidim/shared/author_reference", locals: { author: present(meeting.organizer) } %>
  <%= render partial: "decidim/shared/author_reference", locals: { author: present(post.author) } %>

  <% if extra %>
    <div class="author-data__extra">
      <%= render partial: "datetime", locals: { post: post } %> &nbsp;&nbsp;·&nbsp;&nbsp;
      <%= link_to "#{post_path(post)}#comments", title: t('.comments') do %>
        <%= icon "comment-square", class: "icon--small", aria_label: "#{t('.comments')}", role: "img" %>
        <%= post.comments.count %> <%= t('.comments') %>
      <% end %>
    </div>
  <% end %>

</div>
