<div>
  <%= fo_post_author_select_field form, :decidim_author_id, label: t(".author_id") %>
</div>

<div>
  <%= form.text_field :title, label: t(".title"), autofocus: true %>
</div>

<div>
  <%= text_editor_for(form, :body, label: t(".body"), value: translated_attribute(form.object.body)) %>
</div>

<% if component_settings.attachments_allowed? %>
  <div>
    <%= form.attachment :documents,
                        multiple: true,
                        label: t("decidim.blogs.posts.edit.add_attachments"),
                        button_label: t("decidim.blogs.posts.edit.add_attachments"),
                        button_edit_label: t("decidim.blogs.posts.edit.edit_attachments"),
                        button_class: "button button__lg button__transparent-secondary w-full",
                        help_i18n_scope: "decidim.forms.file_help.file",
                        help_text: t("attachment_legend", scope: "decidim.blogs.posts.edit") %>
  </div>
<% end %>

<% if @form.taxonomy_filters&.any? %>
  <% @form.taxonomy_filters.each do |filter| %>
    <div class="row column">
      <%= filter_taxonomy_items_select_field form, :taxonomies, filter %>
    </div>
  <% end %>
<% end %>
