<div class="row small-12">
  <% paginate_posts.each do |post| %>
    <div class="card card--post">
      <% if post.photo.present? %>
        <%= image_tag post.photo.url, class: "card__image" %>
      <% end %>
      <div class="card__content">
        <div class="card__header">
          <%= link_to post, class: "card__link" do %>
          <h2 class="card__title">
            <%= translated_attribute post.title %>
          </h2>
          <% end %>
          <div class="card__author">
            <% post_presenter = Decidim::Blogs::PostPresenter.new(post) %>
            <%= cell "decidim/author", post_presenter.author, from: post, has_actions: true %>
          </div>
        </div>
        <%= decidim_sanitize_editor post_description(post) %>
      </div>
    </div>
  <% end %>
</div>
<%= decidim_paginate paginate_posts %>
