<% paginate_posts.each do |post| %>
  <div class="flex gap-4">
    <% if post.photo.present? %>
      <%= image_tag post.photo.url %>
    <% else %>
      <div class="w-1/4 flex-none rounded overflow-hidden">
        <img src="https://www.fillmurray.com/640/360" alt="" class="aspect-video">
      </div>
    <% end %>

    <div class="flex flex-col">
      <%= link_to post do %>
        <h4 class="h4 text-secondary">
          <%= translated_attribute post.title %>
        </h4>
      <% end %>
      <div class="card__content">
        <div class="card__header">
          <%= link_to post, class: "card__link" do %>
          <h2 class="card__title">
            <%= translated_attribute post.title %>
          </h2>
          <% end %>
          <div class="card__author">
            <% post_presenter = Decidim::Blogs::PostPresenter.new(post) %>
            <%= cell "decidim/author", post_presenter.author, from: post, has_actions: true %>
          </div>
        </div>
        <%= decidim_sanitize_editor post_description(post) %>
      </div>

      <div class="mt-auto">
        <%= cell "decidim/author", present(post.author), from: post, has_actions: true %>
      </div>
    </div>
  </div>
<% end %>

<%= decidim_paginate paginate_posts %>
