<% paginate_posts.each do |post| %>
  <div class="blogs__list-item" data-post>
    <% if post.photo.present? %>
      <div class="blogs__list-item__image">
        <%= image_tag post.photo.url, class: "w-full h-full object-cover" %>
      </div>
    <% end %>

    <div class="blogs__list-item__content">
      <h4 class="blogs__list-item__title">
        <%= link_to translated_attribute(post.title), post %>
      </h4>

      <div class="blogs__list-item__text">
        <%= decidim_sanitize_editor post_description(post) %>
      </div>

      <div class="blogs__list-item__author">
        <% post_presenter = Decidim::Blogs::PostPresenter.new(post) %>
        <%= cell "decidim/author", post_presenter.author, from: post, has_actions: true %>
      </div>
    </div>
  </div>
<% end %>

<%= decidim_paginate paginate_posts %>
