<%= render partial: "decidim/shared/component_announcement" %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_blogs", media: "all" %>
<% end %>

<% content_for :aside do %>
  <h1 class="h1 decorator"><%= t("decidim.components.blogs.name") %></h1>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>

  <div id="blogs" class="space-y-12">
    <% paginate_posts.each do |post| %>
      <%= card_for post, size: :l %>
    <% end %>

    <%= decidim_paginate paginate_posts %>
  </div>

<% end %>
