<% provide(:title, translated_attribute(post.title)) %>

<% add_decidim_meta_tags({
  title: translated_attribute(post.title),
  description: translated_attribute(post.body),
  url: post_url(post.id)
}) %>

<%
  edit_link(
    resource_locator(post).edit,
    :update,
    :blogpost,
    blogpost: post
  )
%>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <h1 class="h1 decorator my-12"><%= translated_attribute post.title %></h1>

  <% if !post.photo.present? %>
    <div class="grow rounded-xl overflow-hidden mb-8 aspect-[3]">
      <%= image_tag "https://picsum.photos/640/360", class: "w-full h-full object-cover" %>
      <%#= image_tag post.photo.url, class: "w-full h-full object-cover" %>
    </div>
  <% end %>

  <div class="mb-24">
    <%# REDESIGN_PENDING: this cell should show only profile + date %>
    <% post_presenter = Decidim::Blogs::PostPresenter.new(post) %>
    <%= cell "decidim/author", post_presenter.author, from: post %>

    <div class="prose max-w-full">
      <%= decidim_sanitize_editor translated_attribute post.body %>
    </div>

    <div class="flex justify-between">
      <div class="flex items-center gap-2">
        <% if endorsements_enabled? %>
          <%= cell "decidim/endorsers_list", post %>
          <%= endorsement_buttons_cell(post) %>
        <% end %>

        <%= link_to "#comments", class: "button text-secondary white sm border" do %>
          <%= t("decidim.blogs.posts.show.comments") %>
          <%= icon "chat-1-line", class: "fill-current flex-none" %>
        <% end %>
      </div>

      <div class="flex items-center">
        <%= follow_button_for(post) %>

        <%# REDESIGN_PENDING: implement the share button %>
        <button class="button text-secondary white sm">
          Compartir
          <%= icon "share-line", class: "fill-current flex-none" %>
        </button>

        <%# REDESIGN_PENDING: implement the flag button %>
        <button class="button text-secondary white sm">
          Denunciar
          <%= icon "flag-line", class: "fill-current flex-none" %>
        </button>
      </div>
    </div>
  </div>

  <%= attachments_for post %>
  <%= comments_for post %>

<% end %>
