<% provide(:title, translated_attribute(post.title)) %>

<% add_decidim_meta_tags({
  title: translated_attribute(post.title),
  description: translated_attribute(post.body),
  url: post_url(post.id)
}) %>

<%
  edit_link(
    resource_locator(post).edit,
    :update,
    :blogpost,
    blogpost: post
  )
%>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_blogs", media: "all" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_center", locals: { columns: 8 } do %>

  <h1 class="h1 decorator my-12"><%= translated_attribute post.title %></h1>

  <% if post.photos.present? %>
    <div class="blog__image grow">
      <%= image_tag post.photos[0].big_url, alt: post.photos[0].description || post.photos[0].title || t("alt", scope: "decidim.application.photo") %>
    </div>
  <% end %>

  <div class="blog__container">
    <% post_presenter = Decidim::Blogs::PostPresenter.new(post) %>
    <%= cell "decidim/author", post_presenter.author, from: post, context_actions: [:date], layout: :compact %>

    <div class="blog__text">
      <%= decidim_sanitize_editor translated_attribute post.body %>
    </div>

    <%= render partial: "actions" %>

    <% if post.photos.present? %>
      <section class="blog__section">
        <h2 class="h4 md:h3 decorator"><%= t("decidim.application.photos.related_photos") %></h2>

        <%= cell("decidim/photos_list", post.photos) %>
      </section>
    <% end %>

    <% if post.attachments.any? %>
      <section class="blog__section">
        <h2 class="h4 md:h3 decorator"><%= t("decidim.application.documents.related_documents") %></h2>

        <%= render partial: "decidim/application/documents", locals: { documents: post.documents } %>
      </section>
    <% end %>
  </div>

  <%= comments_for post %>

<% end %>
