<% provide(:title, translated_attribute(post.title)) %>

<% add_decidim_meta_tags({
  title: translated_attribute(post.title),
  description: translated_attribute(post.body),
  url: post_url(post.id)
}) %>

<%
  edit_link(
    resource_locator(post).edit,
    :update,
    :blogpost,
    blogpost: post
  )
%>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_blogs", media: "all" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <h1 class="h1 decorator my-12"><%= translated_attribute post.title %></h1>

  <% if post.photo.present? %>
    <div class="blog__image grow">
      <%# REDESIGN_PENDING: currently post.photo has no url attribute. Uncomment next line then %>
      <%#= image_tag post.photo.url %>
    </div>
  <% end %>

  <div class="blog__container">
    <% post_presenter = Decidim::Blogs::PostPresenter.new(post) %>
    <%= cell "decidim/author", post_presenter.author, from: post, context_actions: [:date], layout: :compact %>

    <div class="blog__text">
      <%= decidim_sanitize_editor translated_attribute post.body %>
    </div>

    <div class="blog__actions">
      <div class="blog__actions-left">
        <% if endorsements_enabled? %>
          <%= cell "decidim/endorsers_list", post %>
          <%= endorsement_buttons_cell(post) %>
        <% end %>

        <%= link_to "#comments", class: "button text-secondary white sm border" do %>
          <%= t("decidim.blogs.posts.show.comments") %>
          <%= icon "chat-1-line", class: "fill-current flex-none" %>
        <% end %>
      </div>

      <div class="blog__actions-right">
        <%= follow_button_for(post) %>

        <%# REDESIGN_PENDING: implement the share button %>
        <button class="button text-secondary white sm">
          Compartir
          <%= icon "share-line", class: "fill-current flex-none" %>
        </button>

        <%# REDESIGN_PENDING: implement the flag button %>
        <button class="button text-secondary white sm">
          Denunciar
          <%= icon "flag-line", class: "fill-current flex-none" %>
        </button>
      </div>
    </div>
  </div>

  <%= attachments_for post %>
  <%= comments_for post %>

<% end %>
