<%= decidim_modal id: "close-debate", class:"close-debate-modal" do %>
  <%= decidim_form_for form, url: close_debate_path(debate), method: :post do |f| %>
    <div data-dialog-container>
      <%= icon "information-line" %>
      <h3 class="h3" id="dialog-title-close-debate" data-dialog-title>
        <%= t("close_debate", scope: "decidim.debates.debates.show") %>
      </h3>
      <div class="my-8" id="dialog-desc-close-debate">
        <p><%= t("description", scope: "decidim.debates.debates.close_debate_modal") %></p>
        <div class="form__wrapper">
          <%= f.text_area :conclusions, rows: 10 %>
        </div>
      </div>
    </div>
    <div data-dialog-actions>
      <button type="button" data-dialog-close="close-debate" class="button button__sm md:button__lg button__transparent-secondary">
        <%= t("cancel", scope: "decidim.debates.debates.close_debate_modal") %>
      </button>
      <button type="submit" class="button button__sm md:button__lg button__secondary">
        <%= t("send", scope: "decidim.debates.debates.close_debate_modal") %>
      </button>
    </div>
  <% end %>
<% end %>
