<% filters = [].tap do |f|
    f.append(method: :with_any_state, collection: filter_debates_state_values, label_scope: "decidim.meetings.meetings.filters", id: "date", type: :radio_buttons)
    f.append(method: :with_any_scope, collection: filter_scopes_values, label_scope: "decidim.meetings.meetings.filters", id: "scope") if current_component.has_subscopes?
    f.append(method: :with_any_category, collection: filter_categories_values, label_scope: "decidim.meetings.meetings.filters", id: "category") if current_participatory_space.categories.any?
    f.append(method: :with_any_origin, collection: filter_origin_values, label_scope: "decidim.meetings.meetings.filters", id: "origin")
    f.append(method: :activity, collection: activity_filter_values, label_scope: "decidim.meetings.meetings.filters", id: "activity") if current_user
  end %>
<%= redesigned_filter_form_for filter, url_for, class: "new_filter meeting__filter-container", data: { filters: "", component: "accordion" } do |form| %>
  <div class="filter-search filter-container">
    <%= form.search_field :search_text_cont,
      label: false,
      placeholder: t("decidim.meetings.meetings.filters.search"),
      title: t("decidim.meetings.meetings.filters.search"),
      "aria-label": t("decidim.meetings.meetings.filters.search"),
      data: { disable_dynamic_change: true } %>
    <button type="submit" aria-controls="meetings" aria_label="<%= t("decidim.meetings.meetings.filters.search") %>">
      <%= icon "search-line" %>
    </button>
  </div>

  <% filters.each do |f| %>
    <%= form.collection_filter(**f) %>
  <% end %>
<% end %>
