<div class="form__wrapper">
  <%= form.text_field :title %>
  <%= text_editor_for_debate_description(form) %>

  <% if current_component.has_subscopes? %>
    <%= scopes_select_field form, :scope_id, root: current_component.scope %>
  <% end %>

  <% if current_participatory_space.categories&.any? %>
    <%= form.categories_select :category_id, current_participatory_space.categories, include_blank: t(".select_a_category"), disable_parents: false %>
  <% end %>

  <% if @form.id.blank? && Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.any? %>
    <%= form.select :user_group_id, Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.map { |g| [g.name, g.id] }, prompt: current_user.name %>
  <% end %>

  <% if component_settings.attachments_allowed? %>
    <div class="row column">
      <%= form.attachment :documents,
                          multiple: true,
                          label: t("decidim.debates.admin.debates.form.add_documents"),
                          button_label: t("decidim.debates.admin.debates.form.add_documents"),
                          button_edit_label: t("decidim.debates.admin.debates.form.edit_documents"),
                          button_class: "button button__sm button__transparent-secondary",
                          help_i18n_scope: "decidim.forms.file_help.file",
                          help_text: t("decidim.debates.admin.debates.form.attachment_legend") %>
    </div>
  <% end %>
</div>
