<div class="row columns">
  <div class="m-bottom">
    <%= link_to :back, class: "muted-link" do %>
      <%= icon "chevron-left", class: "icon--small", role: "img" %>
      <%= t(".back") %>
    <% end %>
  </div>
  <h2 class="section-heading"><%= t(".title") %></h2>
</div>

<div class="row">
  <div class="columns large-6 medium-centered">
    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@form) do |form| %>
          <%= render partial: "form", locals: { form: form } %>
          <div class="actions">
            <%= form.submit t(".save"), class: "button expanded", data: { disable: true } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
