<% add_decidim_meta_tags({
  description: translated_attribute(debate.description),
  title: present(debate).title,
  url: debate_url(debate.id)
}) %>

<%
edit_link(
  resource_locator(debate).edit,
  :update,
  :debate,
  debate: debate
)
%>

<%= render layout: "layouts/decidim/shared/layout_item", locals: { back_path: debates_path } do %>
  <h2 class="h2 decorator mb-8">
    <%== present(debate).title(links: true, html_escape: true) %>
  </h2>

  <% debate_presenter = Decidim::Debates::DebatePresenter.new(debate) %>
  <div class="flex flex-nowrap gap-4">
    <%= cell "decidim/author", debate_presenter.author, skip_profile_link: true %>
    <% if debate.closed? %>
      <span class="success label proposal-status">
        <%= t("debate_closed", scope: "decidim.debates.debates.show") %>
      </span>
    <% end %>
  </div>

  <div class="editor-content">
    <%= render_debate_description(debate) %>
    <% if debate.closed? %>
      <%= cell("decidim/announcement", { title: t("debate_conclusions_are", scope: "decidim.debates.debates.show", date: l(debate.closed_at, format: :decidim_short)), body: simple_format(translated_attribute(debate.conclusions)) }, callout_class: "success") %>
    <% end %>
    <% if translated_attribute(debate.instructions).present? %>
      <div class="callout secondary">
        <%= decidim_sanitize_editor(simple_format(translated_attribute(debate.instructions), {}, sanitize: false)) %>
      </div>
    <% end %>
    <% if translated_attribute(debate.information_updates).present? %>
      <div class="callout success">
        <%= decidim_sanitize_editor(simple_format(translated_attribute(debate.information_updates), {}, sanitize: false)) %>
      </div>
    <% end %>
  </div>

  <div class="my-4 flex gap-x-1">
    <% if endorsements_enabled? && allowed_to?(:endorse, :debate, debate: debate) %>
      <%= endorsement_buttons_cell(debate) %>
    <% end %>
    <%= cell "decidim/comments_button", nil %>

    <div class="ml-auto">
      <%= render partial: "decidim/shared/tags", locals: { resource: debate } %>
    </div>
  </div>
  <%= cell "decidim/endorsers_list", debate, layout: :full %>

  <div class="my-4">
    <%= comments_for debate %>
  </div>

  <% content_for :aside do %>

    <% if allowed_to?(:edit, :debate, debate: debate) %>
      <%= link_to t("edit_debate", scope: "decidim.debates.debates.show"), edit_debate_path(debate), class: "button button__secondary button__xl w-full mb-4" %>
    <% elsif admin_allowed_to?(:update, :debate, debate: debate) %>
      <%= link_to t("edit_debate", scope: "decidim.debates.debates.show"), resource_locator(debate).edit, class: "button button__secondary button__xl w-full mb-4" %>
    <% end %>
    <% close_debate_action_text = (debate.closed? ? "decidim.debates.debates.show.edit_conclusions" : "decidim.debates.debates.show.close_debate" ) %>
    <% if allowed_to?(:close, :debate, debate: debate) %>
      <button type="button" data-open="closeDebateModal" title="<%= t(close_debate_action_text) %>" aria-controls="closeDebateModal" aria-haspopup="dialog" tabindex="0" class="button button__secondary button__xl w-full mb-4">
        <%= t(close_debate_action_text) %>
      </button>
    <% elsif admin_allowed_to?(:close, :debate, debate: debate) %>
      <%= link_to t(close_debate_action_text), Decidim::EngineRouter.admin_proxy(debate.component).edit_debate_debate_close_path(debate_id: debate.id, id: debate.id), class: "button button__secondary button__xl w-full mb-4" %>
    <% end %>

    <div class="rounded p-4 bg-background mb-4 divide-y divide-gray-3 [&>*]:py-4 first:[&>*]:pt-0 last:[&>*]:pb-0">
      <div class="text-gray-2 space-y-1.5">
        <div class="text-sm flex items-center gap-1">
          <%= icon "calendar-line", class: "inline-block" %>
          <span class="text-gray-2 space-y-1.5">Start date / End date</span>
        </div>
        <div class="text-md font-semibold">25 Oct 2022 / 28 Oct 2022</div>
      </div>
      <div class="text-gray-2 space-y-1.5">
        <div class="text-sm grid grid-cols-2 gap-1">
          <div>
            <span class="block text-center mb-2">
              <%= t("participants_count", scope: "decidim.debates.debates.show") %>
            </span>
            <span class="text-4xl font-bold block text-center"><%= debate_presenter.participants_count %></span>
          </div>
          <div>
            <span class="block text-center mb-2">
              <%= t("groups_count", scope: "decidim.debates.debates.show") %>
            </span>
            <span class="text-4xl font-bold block text-center"><%= debate_presenter.groups_count %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="card__list extra">
      <div class="card__list-content">
        <%#= cell("decidim/date_range", { start: debate.start_time, end: debate.end_time }) %>
      </div>
    </div>

    <div class="flex flex-wrap justify-center gap-x-1 ">
      <%= follow_button_for(debate) %>
      <%= cell "decidim/share_button", nil %>
      <%= cell "decidim/report_button", debate %>
    </div>

  <% end %>

<% end %>
