<% if elections.none? %>
  <%= cell("decidim/announcement", t("decidim.elections.warnings.no_elections_warning"), callout_class: "warning") %>
<% elsif scheduled_elections.none? %>
  <%= cell("decidim/announcement", t("decidim.elections.warnings.no_scheduled_elections_warning"), callout_class: "warning") %>
<% end %>

<div class="my-8">
  <%= order_selector available_orders, i18n_scope: "decidim.elections.orders" %>
</div>

<div class="mt-6 space-y-10">
  <%= render paginated_elections %>
</div>

<%= decidim_paginate paginated_elections %>
