<%= append_javascript_pack_tag "decidim_elections" %>
<%= append_stylesheet_pack_tag "decidim_elections" %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12">
      <%= t("decidim.elections.elections.election_log.title") %>
    </h1>

    <div class="text-lg text-gray-2 text-left">
      <%= t("decidim.elections.elections.election_log.description") %>
    </div>
  </div>

  <div id="election-log"
    data-election-id="<%= election.id %>"
    data-api-endpoint-url="<%= bulletin_board_server %>"
    data-authority-slug="<%= authority_slug %>"
    data-authority-public-key="<%= authority_public_key %>">

    <!-- CREATE ELECTION STEP -->
    <div id="create-election-step" class="election-log__entry">
      <span class="election-log__time" data-time></span>

      <h2 class="h4 text-secondary">
        <%= t("decidim.elections.elections.election_log.creation_title") %>
        <span data-no-election-created><span class="label"><%= t("decidim.elections.elections.election_log.not_created") %></span></span>
        <span data-election-created hidden><span class="label success"><%= t("decidim.elections.elections.election_log.complete") %></span></span>
      </h2>

      <span data-no-election-created>
        <%= t("decidim.elections.elections.election_log.creation_description.not_created") %>
      </span>
      <span data-election-created hidden>
        <%= t("decidim.elections.elections.election_log.creation_description.complete") %>
      </span>

      <span class="election-log__hash" hidden><strong><%= t("decidim.elections.elections.election_log.chained_hash") %></strong> <span data-chained-hash></span></span>
    </div>

    <!-- KEY CEREMONY STEP -->
    <div id="key-ceremony-step" class="election-log__entry">
      <span class="election-log__time" data-time></span>

      <h2 class="h4 text-secondary">
        <%= t("decidim.elections.elections.election_log.key_ceremony_title") %>
        <span data-key-ceremony-not-started><span class="label"><%= t("decidim.elections.elections.election_log.not_started") %></span></span>
        <span data-key-ceremony-started hidden><span class="label warning"><%= t("decidim.elections.elections.election_log.started") %></span></span>
        <span data-key-ceremony-completed hidden><span class="label success"><%= t("decidim.elections.elections.election_log.complete") %></span></span>
      </h2>

      <span data-key-ceremony-not-started>
        <%= t("decidim.elections.elections.election_log.key_ceremony_description.not_started") %>
      </span>
      <span data-key-ceremony-started hidden>
        <%= t("decidim.elections.elections.election_log.key_ceremony_description.started") %>
      </span>
      <span data-key-ceremony-completed hidden>
        <%= t("decidim.elections.elections.election_log.key_ceremony_description.complete") %>
      </span>

      <span class="election-log__hash" hidden><strong><%= t("decidim.elections.elections.election_log.chained_hash") %></strong> <span data-chained-hash></span></span>
    </div>

    <!-- VOTE STEP -->
    <div id="vote-step" class="election-log__entry">
      <span class="election-log__time" data-time></span>

      <h2 class="h4 text-secondary">
        <%= t("decidim.elections.elections.election_log.vote_title") %>
        <span data-vote-not-started><span class="label"><%= t("decidim.elections.elections.election_log.not_started") %></span></span>
        <span data-vote-started hidden><span class="label success"><%= t("decidim.elections.elections.election_log.started") %></span></span>
        <span data-vote-completed hidden><span class="label success"><%= t("decidim.elections.elections.election_log.complete") %></span></span>
      </h2>

      <span data-vote-not-started>
        <%= t("decidim.elections.elections.election_log.vote_description.not_started") %>
      </span>
      <span data-vote-started hidden>
        <%= t("decidim.elections.elections.election_log.vote_description.started") %>
      </span>
      <span data-vote-completed hidden>
        <%= t("decidim.elections.elections.election_log.vote_description.finished") %>
      </span>

      <span class="election-log__hash" hidden><strong><%= t("decidim.elections.elections.election_log.chained_hash") %></strong> <span data-chained-hash></span></span>
    </div>

    <!-- TALLY STEP -->
    <div id="tally-step" class="election-log__entry">
      <span class="election-log__time" data-time></span>

      <h2 class="h4 text-secondary">
        <%= t("decidim.elections.elections.election_log.tally_title") %>
        <span data-tally-not-started><span class="label"><%= t("decidim.elections.elections.election_log.not_started") %></span></span>
        <span data-tally-started hidden><span class="label success"><%= t("decidim.elections.elections.election_log.started") %></span></span>
        <span data-tally-completed hidden><span class="label success"><%= t("decidim.elections.elections.election_log.complete") %></span></span>
      </h2>

      <span data-tally-not-started>
        <%= t("decidim.elections.elections.election_log.tally_description.not_started") %>
      </span>
      <span data-tally-started hidden>
        <%= t("decidim.elections.elections.election_log.tally_description.started") %>
      </span>
      <span data-tally-completed hidden>
        <%= t("decidim.elections.elections.election_log.tally_description.finished") %>
      </span>

      <span class="election-log__hash" hidden><strong><%= t("decidim.elections.elections.election_log.chained_hash") %></strong> <span data-chained-hash></span></span>
    </div>

    <!-- PUBLISHED RESULTS STEP -->
    <div id="results-step" class="election-log__entry">
      <span class="election-log__time" data-time></span>

      <h2 class="h4 text-secondary">
        <%= t("decidim.elections.elections.election_log.results_title") %>
        <span data-results-not-published><span class="label"><%= t("decidim.elections.elections.election_log.unpublished") %></span></span>
        <span data-results-published hidden><span class="label success"><%= t("decidim.elections.elections.election_log.published") %></span></span>
      </h2>

      <span data-results-not-published>
        <%= t("decidim.elections.elections.election_log.results_description.not_published") %>
      </span>
      <span data-results-published hidden>
        <%= t("decidim.elections.elections.election_log.results_description.published") %>
      </span>

      <span class="election-log__hash" hidden><strong><%= t("decidim.elections.elections.election_log.chained_hash") %></strong> <span data-chained-hash></span></span>
    </div>

    <!-- VERIFIABLE RESULTS STEP -->
    <div id="verifiable-results-step" class="election-log__entry">
      <h2 class="h4 text-secondary">
        <%= t("decidim.elections.elections.election_log.verifiable_results.title") %>
        <% if election.results_published? %>
          <span class="label success"><%= t("decidim.elections.elections.election_log.verify") %></span>
        <% else %>
          <span class="label"><%= t("decidim.elections.elections.election_log.not_ready") %></span>
        <% end %>
      </h2>

      <% if election.results_published? %>
        <%= content_tag :p, sanitize(t("decidim.elections.elections.election_log.verifiable_results.description.ready")) %>
        <pre class="election-log__pre">sha256sum &lt;verifiable_election_file_path&gt;</pre>
        <%= content_tag :p, sanitize(t("decidim.elections.elections.election_log.verifiable_results.how_to_verify")) %>
        <pre class="election-log__pre">bin/verify &lt;verifiable_election_file_path&gt;</pre>
      <% else %>
        <span><%= t("decidim.elections.elections.election_log.verifiable_results.description.not_ready") %></span>
      <% end %>

      <% if election.results_published? %>
        <span class="election-log__hash">
          <strong><%= t("decidim.elections.elections.election_log.verifiable_results.verifiable_file") %></strong>
          <% if election.verifiable_results_file_url.present? %>
            <%= link_to t("decidim.elections.elections.election_log.download"), election.verifiable_results_file_url, class: "button button__sm button__transparent-secondary" %>
          <% else %>
            <span><%= t("decidim.elections.elections.election_log.not_available") %></span>
          <% end %>
        </span>

        <span class="election-log__hash">
          <strong><%= t("decidim.elections.elections.election_log.verifiable_results.checksum") %></strong>
          <% if election.verifiable_results_file_hash.present? %>
            <%= election.verifiable_results_file_hash %>
          <% else %>
            <span><%= t("decidim.elections.elections.election_log.not_available") %></span>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>

<% end %>
