<% add_decidim_page_title(t("decidim.components.elections.name")) %>

<%= append_javascript_pack_tag "decidim_elections" %>
<%= append_stylesheet_pack_tag "decidim_elections" %>

<% content_for :aside do %>
  <h1 class="title-decorator"><%= component_name %></h1>

  <%= render layout: "decidim/shared/filters", locals: { filter_sections: , search_variable: :search_text_cont, skip_to_id: "elections" } do %>
    <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
  <% end %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "decidim/shared/component_announcement" %>

  <section id="elections" class="layout-main__section layout-main__heading">
    <%= render partial: "elections" %>
  </section>
<% end %>
