<% add_decidim_page_title(t("decidim.components.elections.name")) %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_elections", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_elections" %>
<% end %>

<% content_for :aside do %>
  <h1 class="h3 md:h1 decorator"><%= t("decidim.components.elections.name") %></h1>

  <% filter_sections = [].tap do |f|
      f.append(method: :with_any_date, collection: date_filter_values, label_scope: "decidim.elections.elections.filters", id: "date")
    end

    search_variable = :search_text_cont %>

  <%= render layout: "decidim/shared/filters", locals: { filter_sections: , search_variable: } do %>
    <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
  <% end %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "decidim/shared/component_announcement" %>

  <div id="elections">
    <%= render partial: "elections" %>
  </div>
<% end %>
