<% add_decidim_meta_tags(
  title: translated_attribute(election.title),
  description: translated_attribute(election.description)
) %>

<%
edit_link(
  resource_locator(election).edit,
  :update,
  :election,
  election: election
)
%>

<div class="row">
  <div class="columns">

    <%= link_to :elections, class: "small hollow" do %>
      <%= icon "caret-left", class: "icon--small" %>
      <%= t(".back") %>
    <% end %>

    <h1 class="heading2">
      <%== present(election).title %>
    </h1>
    <p>
      <%= t(".voting_period_status.#{election.voting_period_status}",
            start_time: "<strong>#{l election.start_time, format: :long}</strong>",
            end_time: "<strong>#{l election.end_time, format: :long}</strong>").html_safe %>
    </p>
  </div>
</div>
<div class="row section">
  <div class="columns medium-4 mediumlarge-5">
    <img src="<%= image_path "decidim/elections/superilles.jpg" %>" alt="">
  </div>
  <div class="columns medium-8 mediumlarge-7">
    <div class="section">
      <%= decidim_sanitize(simple_format(translated_attribute(election.description))) %>

      <% if election.published? && election.ongoing? %>
        <%= action_authorized_link_to :vote, new_election_vote_path(election.id), resource: election, class: "title-action__action button small" do %>
          <%= t(".vote") %>
        <% end %>
      <% else %>
        <span class="title-action__action button small disabled"><%= t(".vote") %></span>
      <% end %>

      <% if allowed_to? :preview, :election, election: election %>
        <%= link_to new_election_vote_path(election.id), class: "title-action__action button small" do %>
          <%= t(".preview") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
