<div class="row column mt-10">
  <h2 class="text-xl font-semibold">
    <%= t("citizen_influence.name", scope: "decidim.participatory_processes.admin.content_blocks.democratic_quality_stats_settings_form") %>
  </h2>
</div>

<div class="row column">
  <fieldset class="mt-4">
    <legend class="font-semibold"><%= t("citizen_influence.citizen_influence_level.legend", scope: "decidim.participatory_processes.admin.content_blocks.democratic_quality_stats_settings_form") %></legend>
    <% settings_options[:citizen_influence_level].each do |label, value, description| %>
      <%= label_tag nil, class: "form__wrapper-radio-label" do %>
        <%= radio_button_tag input_name("citizen_influence_level"), value, form.object.settings.citizen_influence_level == value %>
        <%= label %>
        <div class="text-sm text-gray mt-1 font-normal">
          <%= description %>
        </div>
      <% end %>
    <% end %>
  </fieldset>
</div>
