<div class="px-4 mb-4">
  <%= cell("decidim/announcement", {
             title: t("decidim.participatory_processes.admin.content_blocks.democratic_quality_stats_settings_form.announcement.title"),
             body: t("decidim.participatory_processes.admin.content_blocks.democratic_quality_stats_settings_form.announcement.body_html")
           }, callout_class: "secondary") %>
</div>

<%= render :inclusiveness %>
<%= render :relevance %>
<%= render :citizen_influence %>
<%= render :accessibility %>
