<%
@title = "Iniciativas Lista -- Decidim Barcelona"
@activesection = "initiatives"
@activepage = "initiatives"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <%= partial "process_header" %>
  <div class="row column">
    <div class="callout secondary mb-sm">
      <p>
        Las iniciativas ciudadanas son un medio con el que la ciudadanía interviene a fin de que el Ayuntamiento lleve a cabo una determinada actuación de interés general y competencia municipal. ¿Qué iniciativa quieres impulsar? <a href="#">Más información</a>.
      </p>
    </div>
  </div>
  <div class="row columns">
    <h2 class="section-heading">3 Iniciativas</h2>
  </div>
  <div class="row">
    <div class="columns mediumlarge-4 large-3">
      <%= partial "filters_small_view" %>
      <div class="card card--secondary show-for-mediumlarge">
        <%= partial "filters" %>
      </div>
    </div>
    <div class="columns mediumlarge-8 large-9">
      <%= partial "order_by" %>
      <div class="row small-up-1 medium-up-2 mediumlarge-up-1 large-up-2 card-grid">
        <div class="column">
          <article class="card card--proposal">
            <div class="card__content">
              <div class="card__header">
                <%= link_to page_path("initiatives/initiative-view"), class: "card__link" do %>
                  <h5 class="card__title">
                    Creació d'aules ambientals al Parc del Clot
                  </h5>
                <% end %>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Ajuntament de Barcelona
                      </a>
                      01/08/2016
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <ul class="tags tags--proposal">
                <li><a href="">transició ecológica</a></li>
                <li><a href="">mobilitat sostenible</a></li>
              </ul>
            </div>
            <div class="card__footer">
              <div class="card__support">
                <div class="card__support__data">
                  <span class="card__support__number">27</span>suports
                  <div class="popularity popularity--level5">
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                  </div>
                </div>
                <button class="card__button button small"
                  data-toggle="loginModal">
                  Donar suport
                </button>
              </div>
            </div>
          </article>
          <div class="reveal" id="loginModal" data-reveal>
            <div class="reveal__header">
              <h3 class="reveal__title">Por favor, inicia sesión</h3>
              <button class="close-button" data-close aria-label="Close modal"
                type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="row">
              <div class="columns medium-8 medium-centered">
                <form class="register-form">
                  <div>
                    <div>
                      <label>Adreça electrònica
                        <input type="email" placeholder="exemple@domini.com">
                      </label>
                    </div>
                    <div>
                      <label>Contrasenya
                        <input type="password" placeholder="Contrasenya">
                      </label>
                    </div>
                  </div>
                  <fieldset>
                    <label>
                      <input type="checkbox">
                      Recorda'm
                    </label>
                  </fieldset>
                  <button type="submit" class="button expanded">Entra</button>
                </form>
                <p class="text-center">
                  Ets nou a la plataforma? <a href="#">Registra't</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__content">
              <div class="card__header">
                <%= link_to page_path("initiatives/initiative-view-rejected"), class: "card__link" do %>
                  <h5 class="card__title">
                    Creació d'aules ambientals i d'estudi al Parc del Clot
                  </h5>
                <% end %>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Ajuntament de Barcelona
                      </a>
                      01/08/2016
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos i descàrrega
                per garantir uns fluxos de mobilitat sostenibles i
                respectuosos.</p>
              <ul class="tags tags--proposal">
                <li><a href="">transició ecológica</a></li>
                <li><a href="">mobilitat sostenible</a></li>
              </ul>
            </div>
            <div class="card__footer">
              <div class="card__support">
                <div class="card__support__data">
                  <span class="card__support__number">27</span>suports
                  <div class="popularity popularity--level3">
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                  </div>
                </div>
                <button class="card__button button small success">
                  Donant suport
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__content">
              <div class="card__header">
                <%= link_to page_path("initiatives/initiative-view"), class: "card__link" do %>
                  <h5 class="card__title">
                    Creació d'aules ambientals al Parc del Clot
                  </h5>
                <% end %>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Ajuntament de Barcelona
                      </a>
                      01/08/2016
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <ul class="tags tags--proposal">
                <li><a href="">transició ecológica</a></li>
                <li><a href="">mobilitat sostenible</a></li>
              </ul>
            </div>
            <div class="card__footer">
              <div class="card__support">
                <div class="card__support__data">
                  <span class="card__support__number">27</span>suports
                  <div class="popularity popularity--level1">
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                    <span class="popularity__item"></span>
                  </div>
                </div>
                <button class="card__button button small">
                  Donar suport
                </button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
