<div class="profile__user-avatar-container">
  <div class="<%= has_profile? ? "profile__user-avatar" : "profile__user-avatar !border-0" %>">
    <%= image_tag(has_profile? ? model.avatar_url(:big) : model.non_user_avatar_path, alt: "member-avatar") %>
  </div>
</div>
<div>
  <%= render :name_and_position %>
  <div class="mt-2">
    <span class="text-gray-2">
      <%= t("decidim.assembly_members.assembly_member.designated_on") %>
    </span>
    <strong>
      <%= l designation_date, format: :decidim_short %>
    </strong>
  </div>
  <span class="profile__user-nick">
    <%= personal_information %>
  </span>
</div>
