<div class="profile__user">
  <div class="profile__user-avatar-container">
    <div class="profile__user-avatar">
      <% if has_profile? %>
        <%= link_to profile_url, class: "author__avatar" do %>
          <%= image_tag model.avatar_url(:big), alt: "member-avatar" %>
        <% end %>
      <% else %>
        <div class="author__avatar"><%= image_tag model.non_user_avatar_path, alt: "member-avatar" %></div>
      <% end %>
    </div>
  </div>
  <div class="space-y-1">
    <h5 class="profile__user-name">
      <%= name %>
    </h5>
    <% if nickname.present? %>
      <span class="profile__user-nick">
        <%= nickname %>
      </span>
    <% end %>
    <span class="profile__user-nick">
      <%= position %>
    </span>
    <span class="profile__user-nick block">
      <%= t("decidim.assembly_members.assembly_member.designated_on") %>
      <strong>
        <%= l designation_date, format: :decidim_short %>
      </strong>
    </span>
    <span class="profile__user-nick">
      <%= personal_information %>
    </span>
  </div>
</div>

