<section class="section">
  <div class="extra join-conference">
    <div class="">
      <% if current_participatory_space.registrations_enabled? %>
        <%= link_to decidim_conferences.conference_registration_types_path(current_participatory_space) do %>
          <button type="button" class="button button--sc light expanded"><%= t(".register") %></button>
        <% end %>
      <% end %>
      <%= render partial: "decidim/shared/follow_button", locals: { followable: current_participatory_space } %>
    </div>
  </div>
  <%= resource_reference(current_participatory_space) %>
  <%= render partial: "decidim/shared/share_modal" %>
  <%= embed_modal_for conference_conference_widget_url(current_participatory_space, format: :js) %>
</section>
