<% add_decidim_meta_tags(title: t("conferences.index.title", scope: "decidim")) %>

<%
edit_link(
  decidim_admin_conferences.conferences_path,
  :read,
  :conference_list
)
%>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_conferences" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_conferences", media: "all" %>
<% end %>

<% content_for :aside do %>
  <h1 class="h1 decorator"><%= t("decidim.conferences.index.title") %></h1>
<% end %>

<%= render layout:"layouts/decidim/shared/layout_two_col" do %>

  <% if promoted_conferences.any? %>
    <section id="highlighted-conferences" class="conference__highlighted-container">
      <h3 class="h3 decorator"><%= t("conferences.index.promoted_conferences", scope: "layouts.decidim") %></h3>
      <%= render partial: "promoted_conference", collection: promoted_conferences, as: :promoted_conference %>
    </section>
  <% end %>

  <section id="conferences-grid" class="space-y-12">
    <h3 class="h3 decorator"><%= t("conferences.order_by_conferences.conferences", scope: "layouts.decidim", count: collection.count) %></h3>
    <div class="">
      <%= render(collection) %>
    </div>
  </section>

<% end %>
