<% add_decidim_meta_tags({
  image_url: current_participatory_space.attached_uploader(:hero_image).path,
  description: translated_attribute(current_participatory_space.short_description),
  url: conference_url(current_participatory_space),
  twitter_handler: current_organization.twitter_handler
}) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :update,
  :conference,
  conference: current_participatory_space
)
%>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_conferences" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_conferences", media: "all" %>
<% end %>

<% content_for :aside do %>
  <div class="conference__nav-container">
    <ul class="conference__nav">
      <%
      items = [];

      information = {
        name: t("layouts.decidim.conferences_nav.conference_menu_item"),
        url: decidim_conferences.conference_path(current_participatory_space),
        active: is_active_link?(decidim_conferences.conference_path(current_participatory_space), :exclusive)
      };

      speakers = {
        name: t("layouts.decidim.conferences_nav.conference_speaker_menu_item"),
        url: decidim_conferences.conference_conference_speakers_path(current_participatory_space),
        active: is_active_link?(decidim_conferences.conference_conference_speakers_path(current_participatory_space), :inclusive)
      }

      meetings = [];
      meeting_components = current_participatory_space.components.published.where(manifest_name: "meetings")
      meeting_components.map do |component|
        meeting = {
          name: translated_attribute(component.name),
          url: decidim_conferences.conference_conference_program_path(current_participatory_space, id: component.id),
          active: is_active_link?(decidim_conferences.conference_conference_program_path(current_participatory_space, id: component.id), :inclusive)
        }
        meetings << meeting if Decidim::Meetings::Meeting.visible_for(current_user).any?
      end

      partners = {
        name: t("layouts.decidim.conferences_nav.conference_partners_menu_item"),
        url: decidim_conferences.conference_path(current_participatory_space, anchor: "conference-partners"),
      }

      venues = {
        name: t("layouts.decidim.conferences_nav.venues"),
        url: decidim_conferences.conference_path(current_participatory_space, anchor: "venues")
      }

      not_meetings = [];
      not_meetings_components = current_participatory_space.components.published.where.not(manifest_name: "meetings")
      not_meetings_components.map do |component|
        not_meeting = {
          name: translated_attribute(component.name),
          url: main_component_path(component),
          active: is_active_link?(main_component_path(component), :inclusive)
        }
        not_meetings << not_meeting
      end

      media = {
        name: t("layouts.decidim.conferences_nav.media"),
        url: decidim_conferences.conference_media_path(current_participatory_space),
        active: is_active_link?(decidim_conferences.conference_media_path(current_participatory_space), :inclusive)
      }

      items << information
      items << speakers if current_participatory_space.speakers.any?
      (items << meetings).flatten!
      items << partners if current_participatory_space.partners.any?
      items << venues if meeting_components.any?
      (items << not_meetings).flatten!
      items << media if current_participatory_space.attachments.any? || current_participatory_space.media_links.any?

      items.each_with_index do |item, index|
      %>
        <li class="<%= " is-active" if item[:active] %>">
          <%= link_to item[:url], class: "conference__nav-item" do %>
            <%= item[:name] %>
            <%= icon "arrow-right-line" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= participatory_space_floating_help %>

<%= render partial: "layouts/decidim/conference_hero" %>

<%= render layout:"layouts/decidim/shared/layout_two_col", locals: { reverse: true } do %>

  <section class="conference__section">
    <h2 class="h2 decorator"><%= t("conferences.show.introduction", scope: "decidim") %></h2>
    <div class="conference__section-description">
      <%= decidim_sanitize_editor translated_attribute(current_participatory_space.short_description) %>
    </div>
  </section>

  <section class="conference__section">
    <h2 class="h2 decorator"><%= t("conferences.show.details", scope: "decidim") %></h2>
    <div class="conference__section-description">
      <%= decidim_sanitize_editor translated_attribute(current_participatory_space.description) %>
    </div>

    <%# REDESIGN_PENDING: falta diseño? %>
    <div class="row mt-l mb-l">
      <div class="column medium-9 medium-centered">
        <% if current_participatory_space.registrations_enabled? %>
          <div class="column medium-6">
            <%= link_to t("decidim.conferences.conferences.show.register"), decidim_conferences.conference_registration_types_path(current_participatory_space), class:"button button--sc light expanded" %>
          </div>
        <% end %>
        <% current_participatory_space.components.where(manifest_name: "meetings").each do |component_meeting| %>
          <% if component_meeting.published? || component_meeting == self.try(:current_component) %>
            <div class="column medium-6 end">
              <%= link_to translated_attribute(component_meeting.name), decidim_conferences.conference_conference_program_path(current_participatory_space, id: component_meeting.id), class:"button button--sc secondary light expanded" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <%= render partial: "partners", locals: { conference: current_participatory_space } %>

  <% unless translated_attribute(current_participatory_space.objectives).blank? %>
    <section class="conference__section">
      <h2 class="h2 decorator"><%= t("decidim.conferences.show.objectives") %></h2>
      <div class="conference__section-description">
        <%= decidim_sanitize_editor translated_attribute(current_participatory_space.objectives) %>
      </div>
    </section>
  <% end %>

  <%= render_hook(:conference_venues) %>

  <% if current_participatory_space.registrations_enabled? %>
    <%# REDESIGN_PENDING: replace block with the login/signup buttons %>
    <section class="conference__section">
      <h2 class="h2 decorator"><%= t("decidim.conferences.conferences.show.register") %></h2>
      <% if current_user.present? %>
        <div class="card p-m text-center">
          <p><%= t("decidim.conferences.conferences.show.login_as", name: current_user.name, email: current_user.email ) %></p>
          <p><%= t("decidim.conferences.conferences.show.make_conference_registration") %></p>
          <div class="medium-3" style="margin: 0 auto;">
            <%= link_to t("decidim.conferences.conferences.show.register"), decidim_conferences.conference_registration_types_path(current_participatory_space), class:"button button--sc light expanded" %>
          </div>
        </div>
      <% else %>
        <%= render partial: "decidim/conferences/shared/conference_user_login" %>
      <% end %>
    </section>
  <% end %>

  <%= cell("decidim/conferences/linked_participatory_spaces", current_participatory_space) %>

  <% if current_participatory_space.show_statistics? %>
    <%= cell("decidim/statistics", stats.highlighted) %>
  <% end %>

<% end %>
