<% add_decidim_meta_tags({
  image_url: current_participatory_space.hero_image.url,
  description: translated_attribute(current_participatory_space.short_description),
  url: conference_url(current_participatory_space),
  twitter_handler: current_organization.twitter_handler
}) %>

<% content_for :expanded_conference_nav do %>

  <hr class="reset mt-none mb-m" />
  <div class="extra join-conference">
    <div class="">
      <%= cell "decidim/conferences/join_conference_button", current_participatory_space, big_button: true, show_remaining_slots: true, allowed: allowed_to?(:join, :conference, conference: current_participatory_space) %>
      <%= render partial: "decidim/shared/follow_button", locals: { followable: current_participatory_space } %>
    </div>
  </div>
  <%= resource_reference(current_participatory_space) %>
  <%= render partial: "decidim/shared/share_modal" %>
  <%= embed_modal_for conference_conference_widget_url(current_participatory_space, format: :js) %>
<% end %>

<section class="section">
  <h4 class="section-heading"><%= t("conferences.show.introduction", scope: "decidim") %></h4>
  <%= decidim_sanitize translated_attribute(current_participatory_space.short_description) %>
</section>
<hr class="reset mt-none mb-m" />
<section class="section">
  <h4 class="section-heading"><%= t("conferences.show.details", scope: "decidim") %></h4>
  <%= decidim_sanitize translated_attribute(current_participatory_space.description) %>
  <div class="row mt-l mb-l">
    <div class="column medium-9 medium-centered">
      <div class="column medium-6">
        <%= cell "decidim/conferences/join_conference_button", current_participatory_space, big_button: true, show_remaining_slots: false, allowed: allowed_to?(:join, :conference, conference: current_participatory_space) %>
      </div>
      <div class="column medium-6">
        <% current_participatory_space.components.where(manifest_name: "meetings").each do |component_meeting| %>
          <% if component_meeting.published? || component_meeting == self.try(:current_component) %>
            <%= link_to main_component_path(component_meeting) do %>
              <button type="button" class="button button--sc secondary light expanded"><%= translated_attribute(component_meeting.name) %></button>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render_hook(:conference_venues) %>

<% if current_participatory_space.registrations_enabled? %>
  <hr class="reset mt-none mb-m" />
  <section class="section">
    <h4 class="section-heading"><%= t(".register")%></h4>
    <% if current_user.present? %>
      <div class="card p-m text-center">
        <p><%= t(".login_as", name: current_user.name, email: current_user.email )%></p>
        <p><%= t(".make_conference_registration")%></p>
        <div class="medium-3" style="margin: 0 auto;">
          <%= cell "decidim/conferences/join_conference_button", current_participatory_space, big_button: true, show_remaining_slots: false, allowed: allowed_to?(:join, :conference, conference: current_participatory_space) %>
        </div>
      </div>
    <% else %>
      <div class="row" data-equalizer>
        <div class="column medium-6">
          <div class="card p-m" data-equalizer-watch>
            <p><%= t(".already_account") %></p>
            <%= link_to t(".sign_in"), decidim.new_user_session_path, class: "" %>
          </div>
        </div>
        <div class="column medium-6">
          <div class="card p-m" data-equalizer-watch>
            <p><%= t(".new_user") %></p>
            <%= link_to t(".sign_up"), decidim.new_user_registration_path, class: "" %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
<% end %>


<hr class="reset mt-none mb-m" />

<section class="section">
  <h4 class="section-heading"><%= t("conferences.show.objectives", scope: "decidim") %></h4>
  <%= decidim_sanitize translated_attribute(current_participatory_space.objectives) %>
</section>
<%# TODO change this block attachments %>
<%= attachments_for current_participatory_space %>

<% if current_participatory_space.show_statistics? %>
  <%= render partial: "statistics" %>
<% end %>


<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>
<%= javascript_include_tag "decidim/conferences/conferences" %>
