<div class="questionnaire-questions">
  <div class="row column text-center">
    <button type="button" class="button button__sm button__secondary collapse-all"><%= t("collapse", scope: "decidim.forms.admin.questionnaires.form") %></button>
    <button type="button" class="button button__sm button__secondary expand-all"><%= t("expand", scope: "decidim.forms.admin.questionnaires.form") %></button>
  </div>

  <%= fields_for "questions[#{blank_question.to_param}]", blank_question do |question_form| %>
    <script type="text/template" class="decidim-question-template decidim-template" id="question-template">
      <%= render "decidim/elections/admin/questions/question",
                 form: question_form,
                 id: tabs_id_for_question(blank_question),
                 editable: true,
                 response_option_template_selector: "#response-option-template-dummy" %>
    </script>
    <%= render "decidim/elections/admin/questions/response_option_template", form: question_form, editable: true, template_id: "response-option-template-dummy" %>
  <% end %>

  <div class="questionnaire-questions-list flex flex-col py-6 gap-6 last:pb-0">
    <ul class="draggable-list js-connect js-list-questions">
      <% @form.questions.each_with_index do |question, index| %>
        <%= fields_for "questions[]", question do |question_form| %>
          <li class="draggable-item js-question-block" draggable="true">
            <%= render "decidim/elections/admin/questions/question",
                       form: question_form,
                       id: tabs_id_for_question(question),
                       editable: question.editable?,
                       response_option_template_selector: "#response-option-template-#{index}" %>
          </li>
          <%= render "decidim/elections/admin/questions/response_option_template", form: question_form, editable: question.editable?, template_id: "response-option-template-#{index}" %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <button class="button button__sm button__transparent-secondary add-question"><%= t("add_question", scope: "decidim.forms.admin.questionnaires.form") %></button>
</div>

<%= append_javascript_pack_tag "decidim_forms_admin" %>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.Decidim.createEditableForm();

    document.querySelectorAll(".draggable-list").forEach(list => {
      list.addEventListener("sortupdate", function () {
        list.querySelectorAll("li.draggable-item").forEach((item, idx) => {
          if (item.hidden) return;

          const input = item.querySelector('input[name$="[position]"]');
          if (input) input.value = idx;
        });
      });
    });
  });
</script>
