<li class="draggable-item js-question-block" draggable="true">
  <div class="card questionnaire-question">
    <div class="card-divider my-4">
      <h2 class="card-title">
        <%== icon("drag-move-2-line", class: "mr-2") %>
        <span><%= t("edit_questions.new_question", scope: "decidim.elections.admin.questions") %></span>
        <div class="ml-auto flex gap-x-4">
          <button type="button" class="alert remove-question flex items-center underline text-secondary">
            <%= icon("delete-bin-line", class: "mr-2") %>
            <%= t("remove", scope: "decidim.elections.admin.questions.form") %>
          </button>
        </div>
      </h2>
    </div>

    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :statement, input_html: { class: "js-live-title-input" } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :description %>
      </div>

      <div class="row column">
        <%= form.check_box :mandatory %>
      </div>

      <div class="row column">
        <%= form.select :question_type,
                        options_for_select(form.object.question_types_for_select, form.object.question_type),
                        { include_blank: false },
                        { class: "chosen-select" } %>
      </div>

      <!-- Answers -->
      <% form.object.answers.each_with_index do |answer_form, index| %>
        <%= form.fields_for :answers, answer_form do |answer_f| %>
          <%= render partial: "decidim/elections/admin/questions/answer",
                     locals: { form: answer_f, index: index } %>
        <% end %>
      <% end %>

      <div class="row column mt-4">
        <button type="button" class="add-answer-option flex items-center underline text-secondary">
          <%= icon("add-line", class: "mr-2") %>
          <%= t("add_answer", scope: "decidim.elections.admin.questions.form") %>
        </button>
      </div>
    </div>
  </div>
</li>
