<div class="card">
  <div class="item_show__header">
    <h2 class="item_show__header-title">
      <%= t(".title") %>

      <%= link_to t("actions.new_question", scope: "decidim.elections"), new_election_question_path(election), class: "button button__sm button__secondary" if allowed_to? :create, :question, election: election %>
    </h2>
  </div>
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t("models.question.fields.title", scope: "decidim.elections") %></th>
          <th><%= t("models.question.fields.answers", scope: "decidim.elections") %></th>
          <th><%= t("models.question.fields.max_selections", scope: "decidim.elections") %></th>
          <th class="actions"><%= t("actions.title", scope: "decidim.elections") %></th>
        </tr>
      </thead>
      <tbody>
        <% questions.each do |question| %>
          <tr data-id="<%= question.id %>">
            <td>
              <% if allowed_to? :update, :question, election: election, question: question %>
                <%= link_to translated_attribute(question.title), edit_election_question_path(election, question) %>
              <% else %>
                <%= translated_attribute(question.title) %>
              <% end %>
            </td>
            <td>
              <%= question.answers.count %>
            </td>
            <td>
              <% if question.max_selections.zero? %>
                -
              <% else %>
                <%= question.max_selections %>
              <% end %>
            </td>
            <td class="table-list__actions">
              <% if allowed_to? :update, :question, election: election, question: question %>
                <%= icon_link_to "pencil-line", edit_election_question_path(election, question), t("actions.edit", scope: "decidim.elections"), class: "action-icon--edit" %>
              <% else %>
                <%= icon "pencil-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.edit", scope: "decidim.elections") %>
              <% end %>

              <%= icon_link_to "list-check", election_question_answers_path(election, question), t("actions.manage_answers", scope: "decidim.elections"), class: "action-icon--manage-answers" %>

              <% if allowed_to? :delete, :question, election: election, question: question %>
                <%= icon_link_to "delete-bin-line", election_question_path(election, question), t("actions.destroy", scope: "decidim.elections"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.elections") } %>
              <% else %>
                <%= icon "delete-bin-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.destroy", scope: "decidim.elections") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
