<%
@title = "Consultation -- Decidim Barcelona"
@activesection = "consultations"
@activepage = "info"
%>

<%
@title = "Evote -- Decidim Barcelona"
%>

<%= partial "template_top" %>

<main>
  <%= partial "evote_hero" %>
  <div class="wrapper">
    <%= partial "evote_intro_landing" %>
    <%= partial "evote_questions", locals: { hasCta: true } %>
    <%= partial "evote_timeline" %>
    <%= partial "evote_map" %>
    <%= partial "evote_stats" %>
  </div>
</main>

<%= partial "template_bottom" %>
