<h2 class="h2 decorator"><%= title_text %></h2>

<% if description_text.present? %>
  <div class="content-block__description">
    <%= description_text %>
  </div>
<% end %>

<% if details_path.present? %>
  <%= link_to details_path, class: "button button__lg button__text-secondary" do %>
    <span><%= t("more_info", scope: "decidim.content_blocks.participatory_space_main_data") %></span>
    <%= icon "arrow-right-line" %>
  <% end %>
<% end %>
