<div class="column">
  <article class="card card--meeting">
    <div class="card__content">
      <%= render :header %>

      <%= render partial: "decidim/meetings/meetings/datetime.html", locals: { meeting: model } %>

      <%= description %>

      <%= render partial: "decidim/shared/tags.html", locals: { resource: model, tags_class_extra: "tags--meeting" } %>

      <div class="address card__extra">
        <div class="address__icon">
          <%= resource_icon %>
        </div>

        <%= render partial: "decidim/shared/address_details.html", locals: { icon_name: "meetings", geolocalizable: model } %>
      </div>
    </div>
  </article>
</div>
