<div class="column" id="<%= dom_id(model) %>">
  <article class="card card--meeting">
    <div class="card__content">
      <%= render :header %>

      <div class="card__text">
        <div class="card__text--paragraph">
          <%= description %>
          <%= render partial: "decidim/shared/tags.html", locals: { resource: model, tags_class_extra: "tags--meeting" } %>
        </div>
      </div>
    </div>

    <%= render :date %>
    <%= render :address %>
    <%= render :status %>
    <%= render :footer if model.can_be_joined_by?(current_user) %>
  </article>
</div>
