<div class="row view-header">
  <div class="column medium-9">
    <h2 class="heading2"><%= translated_attribute(participatory_text.title) %></h2>
  </div>
  <div class="column medium-3 pull-right">
    <%= render partial: "decidim/proposals/proposals/participatory_texts/view-index" %>
  </div>
</div>
<div class="row columns" id="proposals">
  <% @proposals.each do |proposal| %>
    <div class="row section hover-section">
      <div class="columns mediumlarge-8">
        <%= link_to resource_locator(proposal).path, class: "card__link--block pt-s pb-s" do %>
          <% if proposal.participatory_text_level == "article" %>
            <h6><strong><%= proposal.title %></strong></h6>
            <%=  proposal.body %>
          <% else %>
            <% if proposal.participatory_text_level == "section" %>
              <h5><strong class="text-uppercase"><%= proposal.title %></strong></h5>
            <% else %>
              <h6><strong><%= proposal.title %></strong></h6>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= render partial: "decidim/proposals/proposals/participatory_texts/additional_buttons", locals: { proposal: proposal } %>
    </div>
  <% end %>
</div>
