<div class="filter-container self-stretch" data-component="accordion">
  <button id="trigger-menu" data-controls="panel-dropdown-menu-index" data-open="false" data-open-md="true">
    <%= icon "arrow-down-s-line" %>
    <%= icon "arrow-up-s-line" %>
    <span><%= t(".document_index") %></span>
  </button>

  <div id="panel-dropdown-menu-index">
    <% @proposals.each do |proposal| %>
      <%= link_to resource_locator(proposal).path, class: "filter last:[&>svg]:text-gray-2" do %>
        <%= icon "bookmark-line" %>
        <span><%= decidim_html_escape(present(proposal).title) %></span>
        <%= icon "arrow-right-s-fill", class: "ml-auto" %>
      <% end %>
    <% end %>
  </div>
</div>
