<%= append_stylesheet_pack_tag "decidim_proposals" %>
<%= append_javascript_pack_tag "decidim_proposals" %>

<% content_for :aside do %>
  <h1 class="h3 md:h1 decorator">
    <%= translated_attribute(current_component.name) %>
  </h1>

  <%= render partial: "decidim/proposals/proposals/participatory_texts/view_index" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>

  <%= render partial: "decidim/shared/component_announcement" %>

  <h2 class="proposal-participatory__heading">
    <%= render_participatory_text_title(@participatory_text) %>
  </h2>

  <div id="proposals">
    <% @proposals.each do |proposal| %>
      <%= cell("decidim/proposals/participatory_text_proposal", proposal, context: { current_user: current_user }) %>
    <% end %>
  </div>

<% end %>
