<tr data-id="<%= result.id %>">
  <td>
    <%= check_box_tag "result_ids_s[]", result.id, false, data: { result_id: result.id, result_checkbox: true } %><br>
  </td>
  <td data-label="<%= t("models.result.fields.id", scope: "decidim.accountability") %>">
    <%= result.id %><br>
  </td>
  <td class="!text-left" data-label="<%= t("models.result.fields.title", scope: "decidim.accountability") %>">
    <% if result.parent_id.nil? %>
      <%= link_to translated_attribute(result.title), results_path(parent_id: result.id) %><br>
    <% else %>
      <%= translated_attribute(result.title) %>
    <% end %>
  </td>
  <td data-label="<%= t("models.result.fields.taxonomies", scope: "decidim.accountability") %>">
    <%= result.taxonomies.map { |taxonomy| decidim_sanitize_translated(taxonomy.name) }.join(", ") %>
  </td>
  <td data-label="<%= t("models.result.fields.status", scope: "decidim.accountability") %>">
    <% if result.status %>
      <%= translated_attribute result.status.name %>
    <% end %>
  </td>
  <td data-label="<%= t("models.result.fields.progress", scope: "decidim.accountability") %>">
    <%= result.progress&.to_i %>
  </td>
  <td data-label="<%= t("models.result.fields.created_at", scope: "decidim.accountability") %>">
    <%= l result.created_at, format: :decidim_short %>
  </td>
  <td class="table-list__actions" data-label="<%= t("actions.title", scope: "decidim.accountability") %>">
    <%= render partial: "decidim/accountability/admin/results/actions", locals: { result:, view: } %>
  </td>
</tr>
