<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= link_to "#{translated_attribute(parent_result.title)} > ", edit_result_path(parent_result) if parent_result %>
      <%= t(".title") %>
      <div class="button--title">
        <%= link_to t("actions.new", scope: "decidim.accountability", name: t("models.result.name", scope: "decidim.accountability.admin")), new_result_path(parent_id: parent_result), class: "button tiny button--simple" if allowed_to? :create, :result %>
        <%= render partial: "decidim/accountability/admin/shared/subnav" unless parent_result %>
        <%= export_dropdown %>
        <%= link_to t("actions.import_csv", scope: "decidim.accountability"), import_results_path, class: "button tiny button--simple" if allowed_to? :create, :result %>
      </div>
    </h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.result.fields.title", scope: "decidim.accountability") %></th>
            <%= th_resource_scope_label %>
            <th class="actions"><%= t("actions.title", scope: "decidim.accountability") %></th>
          </tr>
        </thead>
        <tbody>
          <% results.each do |result| %>
            <tr data-id="<%= result.id %>">
              <td>
                <%= link_to translated_attribute(result.title), results_path(parent_id: result.id) %><br>
              </td>
              <%= td_resource_scope_for(result.scope) %>
              <td class="table-list__actions">
                <%= icon_link_to "eye", resource_locator(result).path, t("actions.preview", scope: "decidim.accountability"), class: "action-icon--preview", target: :blank %>

                <% if allowed_to? :update, :result, result: result %>
                  <%= icon_link_to "plus", results_path(parent_id: result.id), t("actions.new", scope: "decidim.accountability", name: t("models.result.name", scope: "decidim.accountability.admin")), class: "action-icon--plus" %>
                <% end %>

                <% if allowed_to? :update, :result, result: result %>
                  <%= icon_link_to "clock", result_timeline_entries_path(result), t("actions.timeline_entries", scope: "decidim.accountability"), class: "action-icon--clock" %>
                <% end %>

                <% if allowed_to? :update, :result, result: result %>
                  <%= icon_link_to "pencil", edit_result_path(result), t("actions.edit", scope: "decidim.accountability"), class: "action-icon--edit" %>
                <% end %>

                <% if allowed_to? :destroy, :result, result: result %>
                  <%= icon_link_to "circle-x", result_path(result), t("actions.destroy", scope: "decidim.accountability"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.accountability", name: t("models.result.name", scope: "decidim.accountability.admin")) } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate results, theme: "decidim" %>
    </div>
  </div>
</div>
