<div class="meeting-polls__admin-label"><%= t(".admin_dashboard") %></div>

<% questionnaire.questions.each do |question| %>
  <details class="meeting-polls__question--admin text-medium open" <%= "open" if updated_question == question %>>
    <summary><%= t(".question") %></summary>

    <div>
      <p><%= translated_attribute(question.body) %></p>

      <%= link_to t(".edit"), Decidim::EngineRouter.admin_proxy(meeting.component).edit_meeting_poll_path(meeting), target: "_blank", rel: "noopener noreferrer" %>

      <div class="meeting-polls__admin-action">
        <div><%= t(".question") %></div>
        <div>
          <% if question.unpublished? %>
            <%= link_to meeting_polls_question_path(meeting, question), method: :patch, remote: true do %>
              <button class="button button--nomargin primary small"><%= t(".send") %></button>
            <% end %>
          <% else %>
            <div><strong><%= t(".sent") %></strong></div>
            <div><%= pluralize(question.answers_count, t(".received_answer"), t(".received_answers")) %></div>
          <% end %>
        </div>
      </div>
      <div class="meeting-polls__admin-action">
        <div><%= t(".results") %></div>
        <div>
          <% if question.unpublished? %>
            <button class="button button--nomargin primary small" disabled><%= t(".send") %></button>
          <% elsif question.published? %>
            <%= link_to meeting_polls_question_path(meeting, question), method: :patch, remote: true do %>
              <button class="button button--nomargin primary small"><%= t(".send") %></button>
            <% end %>
          <% elsif question.closed? %>
            <div><strong><%= t(".sent") %></strong></div>
          <% end %>
        </div>
      </div>
    </div>
  </details>
<% end %>
