<% questionnaire.questions.includes([:questionnaire]).each do |question| %>
  <details class="meeting-polls__question meeting-polls__question--admin open" data-question="<%= question.id %>" <%= "open" if open_question == question.id %>>
    <summary><%= t(".question") %></summary>

    <%= form_tag(meeting_polls_question_path(meeting, question), method: :patch, remote: true) do %>
      <p class="h3"><%= translated_attribute(question.body) %></p>

      <%= link_to t(".edit"), Decidim::EngineRouter.admin_proxy(meeting.component).edit_meeting_poll_path(meeting), class: "button button__xs button__secondary mr-auto mt-2" %>

      <div>
        <div class="meeting-polls__admin-action meeting-polls__admin-action-question">
          <div class="h4"><%= t(".question") %><%= " · " + t(".sent") if question.published? %></div>

          <% if question.unpublished? %>
            <button class="button button__sm button__secondary"><%= t(".send") %></button>
          <% else %>
            <div><%= pluralize(question.answers_count, t(".received_answer"), t(".received_answers")) %></div>
          <% end %>
        </div>

        <div class="meeting-polls__admin-action meeting-polls__admin-action-results">
          <div class="h4"><%= t(".results") %></div>

          <% if question.unpublished? || question.closed? %>
            <button class="button button__sm button__secondary" disabled><%= t(".send") %></button>
          <% elsif question.published? %>
            <button class="button button__sm button__secondary"><%= t(".send") %></button>
          <% end %>

          <div>
            <% unless question.unpublished? %>
              <%= cell "decidim/meetings/question_responses", question %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </details>
<% end %>
