<div class="meeting__calendar-container">
  <div class="meeting__calendar meeting__calendar__lg">
    <div class="meeting__calendar-month">
      <p><%= l(start_time, format: !same_month? ? "%b" : "%B") %></p>
      <p class="meeting__calendar-separator"><%= "-" if !same_month? %></p>
      <p><%= l(end_time, format: "%b") if !same_month? %></p>
    </div>
    <div class="meeting__calendar-day">
      <p><%= l(start_time, format: "%d") %></p>
      <p class="meeting__calendar-separator"><%= "-" if !same_day? || !same_month? %></p>
      <p><%= l(end_time, format: "%d") if !same_day? || !same_month? %></p>
    </div>
    <div class="meeting__calendar-year">
      <p><%= year %></p>
    </div>
  </div>

  <% if display_map? %>
    <%= static_map %>
  <% elsif online? %>
    <%= cell("decidim/address", meeting, online: true) %>
  <% else %>
    <%= cell("decidim/address", meeting) %>
  <% end %>
</div>
