<% content_for :right_aside do %>
  <%= link_to "https://github.com/decidim/decidim", target: "_blank", data: { "external-link": "text-only" }, class: "flex items-center justify-end gap-1 font-semibold text-secondary" do %>
    <span class="whitespace-nowrap"><%= t(".github_source") %></span>
    <%= icon "github-fill", class: "flex-none w-3.5 h-3.5 fill-current" %>
  <% end %>
<% end %>

<section>
  <h1 class="text-[72px] leading-[90px] font-bold text-transparent bg-clip-text bg-[linear-gradient(96deg,_var(--primary)_22.02%,_var(--secondary)_44.83%)] after:content-[''] after:block after:w-20 after:h-2 after:mt-1.5 after:bg-primary after:rounded-b-xl"><%= t(".home_header") %></h1>

  <div class="text-lg space-y-4 mt-12">
    <h2 class="font-semibold"><%= t(".decidim_guide") %></h2>
    <p><%= t(".welcome_sentence") %></p>
    <p><%= t(".by_sharing_principles") %></p>
    <p><%= t(".different_ui_components") %></p>
  </div>
</section>
