<main class="wrapper">
<div class="row collapse">
  <div class="row collapse">
    <div class="columns large-8 large-centered text-center page-title">
      <h1><%= t(".sign_up") %></h1>
      <p>
        <%= t(".subtitle") %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 medium-10 medium-centered">
      <div class="card">
        <div class="card__content">
          <%= decidim_form_for(@form, as: resource_name, url: omniauth_registrations_path(resource_name), html: { class: "register-form new_user" }) do |f| %>
            <div class="user-person">
              <div class="field">
                <%= f.text_field :name, help_text: t(".username_help"), label: t(".username_help") %>
              </div>
            </div>

            <div class="field">
              <%= f.email_field :email %>
            </div>

            <%= f.hidden_field :uid %>
            <%= f.hidden_field :provider %>
            <%= f.hidden_field :oauth_signature %>

            <div class="actions">
              <%= f.submit t(".complete_profile"), class: "button expanded" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
