<div class="picker-header">
  <h1><%= t("proposals_picker.choose_proposals", scope: "decidim.proposals") %></h1>
  <input type="text" name="proposals-filter" id="proposals_filter" placeholder="<%= t("decidim.admin.filters.search_placeholder.id_string_or_title_cont", collection: proposals_collection_name) %>"/>
</div>
<div class="picker-content picker-list">
  <ul id="proposals_list">
   <% decorated_proposals do |proposal| %>
      <li>
        <label>
          <input type="checkbox" data-picker-text="<%= proposal.full_title %>" data-picker-url="<%= picker_path %>" value="<%= proposal.id %>" data-picker-choose/>
          <%= proposal.full_title %>
        </label>
      </li>
    <% end %>
  </ul>
</div>
<div class="picker-footer">
  <div class="buttons button--double">
    <a class="button" data-close=""><%=  t("proposals_picker.close", scope: "decidim.proposals") %></a>
  </div>
</div>

<%= javascript_include_tag "decidim/proposals/admin/proposals_picker" %>
