<%= render layout: "layouts/decidim/shared/layout_center", locals: { columns: 8 } do %>
  <div class="flex flex-col gap-4 items-center text-center my-12">
    <%= success_animation %>

    <h1 class="h1 inline-block">
      <%= t("title", scope: "decidim.budgets.order.status") %>
    </h1>

    <p>
      <%= t(
            "votes_count",
            scope: "decidim.budgets.order.status",
            count: current_order.total_projects,
            budget_name: translated_attribute(current_order.budget.title)
          ) %>
    </p>

    <% if pending_to_vote_budgets.present? %>
      <p class="text-bold">
        <%= t("pending_to_vote_budgets", scope: "decidim.budgets.order.status", count: pending_to_vote_budgets.count) %>
      </p>
    <% end %>
  </div>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between lg:px-12">
    <%= cell "decidim/share_text_widget",
             current_order.budget,
             button_classes: "button button__sm md:button__lg button__text-secondary",
             button_text: t("share_vote", scope: "decidim.budgets.order.status") %>

    <%= link_to export_pdf_budget_order_path(current_order.budget), class: "button button__sm md:button__lg button__transparent-secondary" do %>
      <span><%= t("download_vote", scope: "decidim.budgets.order.status") %></span>
      <%= icon "download-line", class: "fill-current" %>
    <% end %>

    <%= link_to budgets_path, class: "button button__sm md:button__lg button__secondary" do %>
      <span>
        <% if pending_to_vote_budgets.present? %>
          <%= t("continue_voting", scope: "decidim.budgets.order.status") %>
        <% else %>
          <%= t("view_votes", scope: "decidim.budgets.order.status", count: current_order.total_projects) %>
        <% end %>
      </span>
      <%= icon "arrow-right-line", class: "fill-current" %>
    <% end %>
  </div>
<% end %>
