<div id="js-bulk-actions-wrapper">
  <button
    id="js-bulk-actions-button"
    class="button button__sm button__secondary hide"
    type="button"
    data-toggle="js-bulk-actions-dropdown"
    data-action-button>
    <%= t(".actions") %>
    <%= icon "arrow-down-s-line", class: "dropdown-filter-icon" %>
  </button>

  <div
    id="js-bulk-actions-dropdown"
    class="dropdown-pane dropdown-pane--buttons"
    data-position="bottom"
    data-alignment="right"
    data-dropdown="dropdown"
    data-auto-focus="false"
    data-events="resize">
    <ul>
      <% if current_component_taxonomy_filters&.any? %>
        <li>
          <button type="button" data-action="change-taxonomies">
            <%= t(".change_taxonomies") %>
          </button>
        </li>
      <% end %>
      <li>
        <button type="button" data-action="change-dates">
          <%= t(".change_dates") %>
        </button>
      </li>
      <li>
        <button type="button" data-action="change-status">
          <%= t(".change_status") %>
        </button>
      </li>
    </ul>
  </div>
</div>
