<% if upcoming_meetings.any? %>
  <div class="section upcoming_meetings">
    <h4 class="section-heading">
      <%= t(".upcoming_meetings") %> <a href="<%= main_component_path(upcoming_meetings.first.component) %>" class="text-small"><%= t(".see_all_meetings") %></a>
    </h4>
    <div class="card card--list">
      <%= render partial: 'decidim/participatory_spaces/meeting', collection: upcoming_meetings %>
    </div>
  </div>
<% elsif past_meetings.any? %>
  <div class="section past_meetings">
    <h4 class="section-heading">
      <%= t(".past_meetings") %> <a href="<%= main_component_path(past_meetings.first.component) %>" class="text-small"><%= t(".see_all_meetings") %></a>
    </h4>
    <div class="card card--list">
      <%= render partial: 'decidim/participatory_spaces/meeting', collection: past_meetings %>
    </div>
  </div>
<% end %>
