<div class="card--list__item">
  <div class="card--list__text">
    <div>
      <a href="<%= resource_locator(meeting).path %>" class="card__link">
        <h6 class="card--list__heading heading6">
          <%= translated_attribute meeting.title %>
        </h6>
        <span class="text-medium">
          <%= l meeting.start_time, format: :decidim_day_of_year %> - <%= l meeting.start_time, format: :time_of_day %> - <%= l meeting.end_time, format: :time_of_day %>
        </span>
      </a>
    </div>
  </div>
</div>
