<section class="section" id="participatory_process_group-metadata">
  <article class="card card__row">
    <div>
      <div class="mb-xs"><strong><%= t("decidim.participatory_process_groups.content_blocks.metadata.developer_group") %></strong></div>
      <div class="text-small">
        <%= decidim_sanitize translated_attribute(participatory_process_group.developer_group) %>
      </div>
    </div>
    <div>
      <div class="mb-xs"><strong><%= t("decidim.participatory_process_groups.content_blocks.metadata.target") %></strong></div>
      <div class="text-small">
        <%= decidim_sanitize translated_attribute(participatory_process_group.target) %>
      </div>
    </div>
    <div>
      <div class="mb-xs"><strong><%= t("decidim.participatory_process_groups.content_blocks.metadata.participatory_scope") %></strong></div>
      <div class="text-small">
        <%= decidim_sanitize translated_attribute(participatory_process_group.participatory_scope) %>
      </div>
    </div>
    <div>
      <div class="mb-xs"><strong><%= t("decidim.participatory_process_groups.content_blocks.metadata.participatory_structure") %></strong></div>
      <div class="text-small">
        <%= decidim_sanitize translated_attribute(participatory_process_group.participatory_structure) %>
      </div>
    </div>
  </article>
</section>
