<div class="row column authorizations-list">
  <section class="section">
    <% if @authorizations.any? %>
      <div class="card card--list">
        <% @authorizations.each do |authorization| %>
          <div class="card--list__item">
            <div class="card--list__text">
              <%= icon "lock-unlocked", class: "card--list__icon" %>
              <div>
                <h5 class="card--list__heading">
                  <%= t("#{authorization.name}.name", scope: "decidim.authorization_handlers") %>
                </h5>
                <span class="text-small"><%= l(authorization.updated_at, format: :long) %></span>
              </div>
            </div>
            <div class="card--list__data">
              <%= link_to new_authorization_path(handler: authorization.name), class: "card--list__data__icon" do %>
                <%= icon "reload" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if handlers.any? %>
      <div class="card card--list">
        <% handlers.each do |handler| %>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#">
                <%= icon "lock-locked", class: "card--list__icon" %>
              </a>
              <div>
                <h5 class="card--list__heading">
                  <%= link_to t("#{handler.key}.name", scope: "decidim.authorization_handlers"), handler.root_path %>
                </h5>
              </div>
            </div>
            <div class="card--list__data">
              <%= link_to handler.root_path, class: "card--list__data__icon" do %>
                <%= icon "chevron-right" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
</div>
