<% add_decidim_page_title(t("areas", scope: "decidim.admin.titles")) %>
<div class="card" id="areas">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t "decidim.admin.titles.areas" %>
      <% if allowed_to? :create, :area %>
        <%= link_to t("actions.add", scope: "decidim.admin"), new_area_path, class: "button button__sm button__secondary new" %>
      <% end %>
    </h1>
  </div>

  <div class="callout warning"><%= t("areas.deprecated", scope: "decidim.admin") %></div>

  <% if @areas.any? %>
    <div class="table-stacked">
      <table class="table-list">
      <thead>
        <tr>
          <th><%= t("models.area.fields.name", scope: "decidim.admin") %></th>
          <th><%= t("models.area.fields.area_type", scope: "decidim.admin") %></th>
          <th><%= t("decidim.admin.actions.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @areas.each do |area| %>
          <tr>
            <td data-label="<%= t("models.area.fields.name", scope: "decidim.admin") %>">
              <% if allowed_to? :update, :area, area: area %>
                <%= link_to translated_attribute(area.name), [:edit, area] %>
              <% else %>
                <%= translated_attribute(area.name) %>
              <% end %>
            </td>
            <td data-label="<%= t("models.area.fields.area_type", scope: "decidim.admin") %>">
              <%= area.area_type ? translated_attribute(area.area_type.name) : "-" %>
            </td>
            <td class="table-list__actions" data-label="<%= t("decidim.admin.actions.actions") %>">
              <button type="button" data-component="dropdown" data-target="actions-area-<%= area.id %>" aria-label="<%= t("decidim.admin.actions.actions_label", resource: translated_attribute(area.name)) %>">
                <%= icon "more-fill" , class: "text-secondary" %>
              </button>

              <div class="inline-block relative">
                <ul id="actions-area-<%= area.id %>" class="dropdown dropdown__action" aria-hidden="true">
                  <% if allowed_to? :update, :area, area: area %>
                    <li class="dropdown__item">
                      <%= link_to [:edit, area], method: :get, class: "dropdown__button" do %>
                        <%= icon "pencil-line" %>
                        <%= t("actions.edit", scope: "decidim.admin" ) %>
                      <% end %>
                    </li>
                    <% end %>

                    <% if allowed_to? :destroy, :area, area: area %>
                      <hr>

                      <li class="dropdown__item">
                        <%= link_to area, method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin" ) }, class: "dropdown__button" do %>
                          <%= icon "delete-bin-line" %>
                          <%= t("actions.destroy", scope: "decidim.admin" ) %>
                        <% end %>
                      </li>
                    <% end %>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  <% else %>
    <p><%= t("decidim.admin.areas.no_areas") %></p>
  <% end %>
</div>
