<ul class="proposal_history_cell">
  <% history_items.each_with_index do |item, index| %>
    <li class="proposal_history_cell__item">
      <div class="proposal_history_cell__item_icon">
        <div class="<%= item[:id] == "proposal_creation" ? "proposal_history_cell__item_icon-creation" : "" %>">
          <%= icon item[:icon], class: item[:id] == "proposal_creation" ? "fill-current text-white" : "fill-current text-secondary" %>
        </div>
        <% if index < history_items.size - 1 %>
          <span class="<%= item[:id] == "proposal_creation" || item[:id] == "proposal_withdraw" ? "proposal_history_cell__line_short" : "proposal_history_cell__line_long" %>"></span>
        <% end %>
      </div>
      <div class="proposal_history_cell__item_content">
        <span class="proposal_history_cell__item_date"><%= item[:date].strftime("%d/%m/%Y %H:%M") %></span>
        <p><%= item[:text] %></p>
        <% if item[:id] == "proposal_state" || item[:id] == "proposal_withdraw" %>
          <p class="proposal_history_cell__item_state"><%= item[:state] %></p>
        <% end %>
        <% if item[:resources].present? %>
          <ul>
            <% item[:resources].each do |resource| %>
              <li>
                <%= link_to translated_attribute(resource.title), item[:url], class: "underline decoration-current text-secondary font-semibold" %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
