<% add_decidim_meta_tags(title: t("registration_types.index.title", scope: "decidim.conferences")) %>

<%
edit_link(
  decidim_admin_conferences.conference_registration_types_path(current_participatory_space.slug),
  :update,
  :conference,
  conference: current_participatory_space
)
%>
<div class="row">
  <div class="columns mediumlarge-12">
    <section class="section">
      <h4 class="section-heading"><%= t("registration_types.index.register", scope: "decidim.conferences") %></h4>
      <% if current_user.present? %>
        <p><%= t(".login_as", name: current_user.name, email: current_user.email ) %></p>
      <% else %>
        <%= render partial: "decidim/conferences/shared/conference_user_login" %>
      <% end %>
      <% if collection.any? %>
        <p><%= t(".choose_an_option") %></p>
        <% collection.each do |registration_type| %>
          <%= cell "decidim/conferences/registration_type", registration_type, allowed: allowed_to?(:join, :conference, conference: current_participatory_space) %>
        <% end %>
      <% else %>
        <%= t("registration_types.index.no_registrations", scope: "decidim.conferences") %>
      <% end %>
    </section>
  </div>
</div>
