<% if meetings.present? %>
  <div class="conference__program-item">
    <div class="conference__program-time">
      <%= start_time.to_s(:time) %> - <%= end_time.to_s(:time) %>
    </div>
    <div data-component="accordion" data-multiselectable="false" data-collapsible="false">
      <% categories = meetings.map(&:category).uniq %>
      <% seed = SecureRandom.hex(3).to_s %>
      <% if categories.present? %>
        <ul class="conference__program-category-container">
          <% categories.each_with_index do |category, i| %>
            <li>
              <button id="conference-item-trigger-<%= seed %>-tab<%= i %>" class="conference__program-category" data-controls="conference-item-panel-<%= seed %>-tab<%= i %>" data-open="<%= "true" if i.zero? %>">
                <%= category.present? ? translated_attribute(category.name) : "other" %>
              </button>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% meetings.group_by(&:category).each_with_index do |categories_block, i| %>
        <div id="conference-item-panel-<%= seed %>-tab<%= i %>" class="conference__program-category-content">
          <% categories_block.last.each do |meeting| %>
            <%= render partial: "program_meeting", locals: { meeting: } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
