<section id="list-invitation" class="profile__group-pending">
  <h2 class="h5"><%= t("decidim.group_invites.pending_invitations") %></h2>
  <p><%= t("decidim.group_invites.accept_or_reject_group_invitations") %></p>

  <% invitations.each do |invitation| %>
    <div class="profile__group__list">
      <%= card_for present(invitation.user_group) %>

      <%= link_to(
        decidim.group_invite_path(invitation.user_group.nickname, invitation.id),
        method: :patch,
        class: "button button__sm button__transparent-secondary"
      ) do %>
        <span><%= t("decidim.group_invites.accept_invitation") %></span>
        <%= icon "check-line" %>
      <% end %>

      <%= link_to(
        decidim.group_invite_path(invitation.user_group.nickname, invitation.id),
        method: :delete,
        class: "button button__sm button__transparent-secondary"
      ) do %>
        <span><%= t("decidim.group_invites.reject_invitation") %></span>
        <%= icon "close-circle-line" %>
      <% end %>
    </div>
  <% end %>
</section>
