<%= partial "main_nav" %>
<div class="secondary-nav">
  <div class="secondary-nav__title">
    Configuración
  </div>
  <ul>
    <li <% if @activepage == "settings" %>
     class="is-active"
    <% end %>>
      <%= link_to "Configuración", page_path("settings") %>
    </li>
    <li <% if @activepage == "settings-appearance" %>
     class="is-active"
    <% end %>>
      <%= link_to "Apariencia", page_path("appearance") %>
    </li>
    <li <% if @activepage == "settings-scopes" %>
     class="is-active"
    <% end %>>
      <%= link_to "Ámbitos", page_path("settings-scopes") %>
    </li>
    <li <% if @activepage == "settings-scope-types" %>
     class="is-active"
    <% end %>>
      <%= link_to "Tipos de ámbito", page_path("settings-scope-types") %>
    </li>
    <li <% if @activepage == "settings-participatory-texts" %>
     class="is-active"
    <% end %>>
      <%= link_to "Textos participativos", page_path("participatory-texts") %>
    </li>
  </ul>
</div>
