<% add_decidim_page_title(t("devise.passwords.new.forgot_your_password")) %>

<main class="wrapper">
<div class="row collapse">
  <div class="row collapse">
    <div class="columns large-8 large-centered text-center page-title">
      <h1><%= t("devise.passwords.new.forgot_your_password") %></h1>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-7 large-5 medium-centered">
      <div class="card">
        <div class="card__content">
          <%= decidim_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "register-form new_user" }) do |f| %>
            <div class="field">
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="actions">
              <%= f.submit t("devise.passwords.new.send_me_reset_password_instructions"), class: "button expanded" %>
            </div>
          <% end %>

          <%= render "decidim/devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
