<%= decidim_modal id: "endorsersModal-#{model.id}", class: "endorsers-list__modal" do %>
  <div data-dialog-container>
    <%= icon "like" %>
    <h2 id="dialog-title-endorsersModal" tabindex="-1" data-dialog-title><%= t("decidim.endorsers_list.title") %></h2>
    <div>
      <% full_endorsers.each do |author| %>
        <div class="list-item__author">
          <div>
            <%= cell "decidim/author", author, has_actions: true, skip_profile_link: true %>
          </div>
          <div class="ml-auto">
            <%= cell("decidim/follow_button", author, button_classes: "button button__sm button__transparent-secondary") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
