<% add_decidim_page_title(t("devise.sessions.new.sign_in")) %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="flex justify-center">
    <h1 class="h1 decorator my-12"><%= t("devise.sessions.new.sign_in") %></h1>
  </div>

  <div class="login__signup-info">
    <% if current_organization.sign_up_enabled? %>
      <p>
        <%= t("decidim.devise.sessions.new.are_you_new?") %>
        <%= link_to t("decidim.devise.sessions.new.register"), new_user_registration_path %>
      </p>
    <% elsif current_organization.sign_in_enabled? %>
      <p>
        <%= t("decidim.devise.sessions.new.sign_up_disabled") %>
      </p>
    <% else %>
      <p>
        <%= t("decidim.devise.sessions.new.sign_in_disabled") %>
      </p>
    <% end %>
  </div>

  <div class="border-t-2 border-background">
    <% cache current_organization do %>
      <%= render "decidim/devise/shared/omniauth_buttons" %>
    <% end %>
  </div>

  <% if current_organization.sign_in_enabled? %>
    <%= decidim_form_for(resource, namespace: "session", as: resource_name, url: session_path(resource_name) ) do |f| %>
      <div class="login__form">
        <!-- TODO: move the input classes to the base component -->
        <%= f.email_field :email, autocomplete: "email", placeholder: "hi@email.com" %>

        <%= f.password_field :password, autocomplete: "current-password", placeholder: "******" %>

        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me, class: "mr-1 cursor-pointer" %>
        <% end %>
      </div>

      <div class="login__form-submit">
        <button type="submit" class="button button__lg button__secondary">
          <%= t("devise.sessions.new.sign_in") %>
          <%= icon "arrow-right-line", class: "fill-current" %>
        </button>
      </div>
    <% end %>

    <div class="login__links">
      <%= render "decidim/devise/shared/redesigned_links" %>
    </div>
  <% end %>
<% end %>
