<% add_decidim_page_title(t(".title")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
  </h1>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: document_path(document), html: { class: "form-defaults form edit_document" }) do |f| %>
      <%= render partial: "form", object: f, locals: { has_suggestions: document.has_suggestions? } %>

      <div class="form__wrapper">
        <div class="card">
          <div class="card-section">
            <% if document.draft? %>
              <%= render "draft_options", form: f %>
            <% else %>
              <%= render "non_draft_options", form: f %>
            <% end %>
          </div>
        </div>
      </div>

      <%= render partial: "versions" %>

      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t(".update"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
