<% add_decidim_page_title(t(".title")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
  </h1>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: document_path(document), html: { class: "form-defaults form edit_document" }) do |f| %>
      <%= render partial: "form", object: f, locals: { has_suggestions: document.has_suggestions? } %>

      <% if document.draft? %>
        <div class="form__wrapper">
          <div class="card">
            <div class="card-section">
              <div class="row column">
                <%= f.check_box :draft, help_text: t(".draft_help_html"), label: t(".draft") %>
              </div>
              <div class="row column">
                <%= f.check_box :accepting_suggestions, help_text: t(".accepting_suggestions_help"), label: t(".accepting_suggestions") %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="form__wrapper">
          <div class="card">
            <div class="card-section">
              <% if document.has_suggestions? %>
                <div class="row column">
                  <%= f.check_box :draft, help_text: t(".draft_help_html"), label: t(".create_draft") %>
                </div>
              <% end %>
              <div class="row column">
                <%= f.check_box :accepting_suggestions, help_text: t(".enable_suggestions_help"), label: t(".enable_suggestions") %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= render partial: "versions" %>

      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t(".update"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
