<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".title") %>
    </h1>
  </div>
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
        <th><%= t("models.collaborative_text.fields.title", scope: "decidim.collaborative_texts") %></th>
        <th><%= t("actions.title", scope: "decidim.collaborative_texts") %></th>
        </tr>
      </thead>
      <tbody>
        <% trashable_deleted_collection.each do |document| %>
          <tr>
            <td><%= document.title %></td>
            <td class="table-list__actions">
                <%= icon_link_to "settings-4-line", edit_settings_document_path(document), t("actions.configure", scope: "decidim.admin") %>
                <%= icon_link_to "pencil-line", edit_document_path(document), t("actions.edit", scope: "decidim.collaborative_texts"), class: "action-icon--edit" %>
                <%= icon_link_to "eye-line", resource_locator(document).path, t("actions.preview", scope: "decidim.admin"), class: "action-icon--preview", target: :blank, data: { "external-link": false } %>
                <% if document.published? %>
                  <%= icon_link_to "close-circle-line", unpublish_document_path(document), t("actions.unpublish", scope: "decidim.admin"), method: :put, class: "action-icon--unpublish" %>
                <% else %>
                  <%= icon_link_to "check-line", publish_document_path(document), t("actions.publish", scope: "decidim.admin"), method: :put, class: "action-icon--publish" %>
                <% end %>
                <% if allowed_to? :soft_delete, :collaborative_text , trashable_deleted_resource: document %>
                    <%= icon_link_to "delete-bin-line", soft_delete_document_path(document), t("actions.soft_delete", scope: "decidim.admin"), method: :patch, class: "action-icon--delete", data: { confirm: t("actions.confirm_delete_document", scope: "decidim.collaborative_texts") } %>
                <% else %>
                    <%= icon "delete-bin-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.soft_delete", scope: "decidim.admin") %>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
