<div class="conference-registration card__block" id="registration-type-<%= model.id %>">
  <div class="row flex--cc">
    <div class="columns medium-8">
      <div class="registration__text">
        <strong><%= title %></strong>
        <span> <%= description %></span>
      </div>
    </div>
    <div class="columns medium-4">
      <div class="registration__buttons">
        <button type="button" class="small-5 small"><strong><%= price %></strong></button>
        <%= render :join_conference %>
      </div>
    </div>
  </div>
</div>
