<%
@title = "Blog -- Decidim Barcelona"
@activesection = "blog"
@activepage = "blog"
%>

<%= partial "template_top" %>

<main>
  <div class="wrapper">
    <%= partial "process_header_home" %>
    <div class="row column">
      <div class="row">
        <div class="columns medium-7 mediumlarge-8">

          <article class="card">
            <div class="card__content">
              <div class="card__header">
                <%= link_to page_path("blog-view"), class: "card__link" do %>
                <h5 class="card__title card__title--strong">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugit, ipsam ex omnis eos dicta modi adipisci, debitis harum?
                </h5>
                <% end %>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Eius veritatis
                      </a>
                      <a href="#" class="author__nickname">
                        @aperiam_tempora
                      </a>
                      <%= icon "verified-badge", class: "author__verified" %>
                    </div>
                  </div>
                  <div class="author-data__extra">
                    01/08/2018&nbsp;&nbsp;·&nbsp;&nbsp;
                    <a href="#comments" title="Comentarios">
                      <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
                      108 comentarios
                    </a>
                  </div>
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, accusamus mollitia, vero labore nesciunt facilis fugit doloremque veniam tempore perferendis porro ipsam possimus neque reprehenderit doloribus quam ea pariatur at.
                </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore aperiam commodi, deserunt labore corporis tenetur repellat debitis unde reprehenderit porro autem non voluptatibus eos vel veritatis vero quam officiis vitae similique quibusdam
                voluptas cupiditate alias ullam. Eius veritatis cumque, aperiam dolore voluptas dignissimos velit, blanditiis natus, molestiae inventore necessitatibus, repellat sunt beatae? Quisquam cumque neque esse optio accusantium, iusto fugiat enim sunt
                suscipit ad amet, totam possimus sed eos animi incidunt! Iste aperiam tempora dolore quis iusto incidunt aut adipisci commodi illum quibusdam. Voluptas vitae voluptate esse expedita reprehenderit quisquam?
              </p>
              <%= link_to page_path("blog-view") do %>
                Seguir leyendo
              <% end %>
            </div>
          </article>

          <article class="card card--blog">
            <div class="card__content">
              <div class="card__header">
                <%= link_to page_path("blog-view"), class: "card__link" do %>
                <h5 class="card__title card__title--strong">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione fugit, ipsam ex omnis eos dicta modi adipisci, debitis harum?
                </h5>
                <% end %>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <%= image_tag "demo-avatar.jpg" %>
                      </a>
                      <a href="#" class="author__name">
                        Autor
                      </a>
                      01/08/2016
                    </div>
                  </div>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam…</p>
                </div>
              </div>
            </article>

            <%= partial "pagination" %>
          </div>
        <div class="columns medium-5 mediumlarge-4 large-4">
          <%= partial "sidebar" %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
