<%
@title = "Librería de patrones -- Decidim Barcelona"
@activeuser = "logged"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <div class="row collapse">
    <div class="columns">
      <h1 class="heading1">Librería de patrones</h1>
    </div>
  </div>
  <div class="row collapse">
    <div class="main-container">
        <div class="row collapse main-container--side-panel">
          <div class="columns medium-4 large-3">
            <div class="side-panel">
              <ul class="tabs vertical side-panel__tabs" id="pattern-library-tabs"
                data-tabs>
                <li class="tabs-title is-active">
                  <a href="#patternTypography" aria-selected="true">Tipografía</a>
                </li>
                <li class="tabs-title">
                  <a href="#patternButtons">Botones</a>
                </li>
                <li class="tabs-title">
                  <a href="#patternIcons">Iconos</a>
                </li>
                <li class="tabs-title">
                  <a href="#patternCards">Tarjetas y contenedores</a>
                </li>
                <li class="tabs-title">
                  <a href="#patternMarkers">Marcadores</a>
                </li>
                <li class="tabs-title">
                  <a href="#patternBars">Barras</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="columns medium-8 large-9">
            <div class="main-container__content">
              <div class="tabs-content vertical"
                data-tabs-content="pattern-library-tabs">
                <div class="tabs-panel is-active" id="patternTypography">
                  <h2 class="section-heading">Encabezados básicos</h2>
                  <p>Lista de encabezados que aparecen en la interfaz.</p>
                  <h1 class="heading1">Encabezado .heading1</h1>
                  <h2 class="heading2">Encabezado .heading2</h2>
                  <h3 class="heading3">Encabezado .heading3</h3>
                  <h4 class="heading4">Encabezado .heading4</h4>
                  <h5 class="heading5">Encabezado .heading5</h5>
                  <h6 class="heading6">Encabezado .heading6</h6>
                  <h5 class="section-heading">Encabezado de sección .section-heading</h5>
                </div>

                <div class="tabs-panel" id="patternButtons">
                  <h2 class="section-heading">Botones principales</h2>
                  <button class="button">.button</button>
                  <button class="button secondary">.secondary</button>
                  <button class="button button--muted">.button--muted</button>
                  <button class="button button--sc">.button--sc</button>
                  <button class="button hollow">.hollow</button>
                  <button class="button hollow secondary">.hollow .secondary</button>
                  <hr>
                  <h2 class="section-heading">Paginación</h2>
                  <div class="section">
                    <div class="show-more">
                      <!--primary load more -->
                      <button class="button button--muted small">
                        Ver más propouestas
                      </button>
                    </div>
                    <div class="show-more">
                      <!--primary load more -->
                      <button class="button button--muted small">
                        Ver más comentarios
                      </button>
                    </div>
                    <div class="show-more">
                      <!--secondary load more -->
                      <button class="muted-link">
                        Ver más comentarios
                      </button>
                    </div>
                  </div>
                  <%= partial "pagination" %>
                  <hr>
                  <h2 class="section-heading">Botones y estados</h2>
                  <button class="button small">Apoyar</button>
                  <button class="button small success">Apoyando</button>
                  <button class="button small" disabled>Apoyar</button>
                  <br>
                  <button class="button button--sc">Apoyar</button>
                  <button class="button button--sc success">Apoyando</button>
                  <button class="button button--sc" disabled>Apoyar</button>
                  <br>
                  <div style="display: flex;">
                    <button class="button hollow secondary small button--icon">
                      <%= icon("bell", class:"icon--before") %>
                      Seguir propuesta
                    </button>
                    <button class="button hollow success small button--icon">
                      <%= icon("bell", class:"icon--before") %>
                      Siguiendo
                    </button>
                  </div>
                  <div class="m-bottom">
                    <h6>
                      Votar comentario, por defecto.
                    </h6>
                    <a href="" class="comment__votes--up">
                      <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
                      257
                    </a>
                    <a href="" class="comment__votes--down">
                      <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
                      257
                    </a>
                  </div>
                  <div class="m-bottom">
                    <h6>
                      Votar comentario, voto positivo.
                    </h6>
                    <a href="" class="comment__votes--up is-vote-selected">
                      <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
                      257
                    </a>
                    <a href="" class="comment__votes--down is-vote-notselected">
                      <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
                      257
                    </a>
                  </div>
                  <div class="m-bottom">
                    <h6>
                      Votar comentario, voto negativo.
                    </h6>
                    <a href="" class="comment__votes--up is-vote-notselected">
                      <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
                      257
                    </a>
                    <a href="" class="comment__votes--down is-vote-selected">
                      <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
                      257
                    </a>
                  </div>
                  <div class="opinion-toggle button-group">
                    <button class="button tiny button--muted opinion-toggle--ok" title="Comentari a favor">
                      <%= icon "thumb-up", aria_label: "A favor" %>
                    </button>
                    <button class="button tiny button--muted opinion-toggle--meh" title="Comentari neutral">
                      Neutral
                    </button>
                    <button class="button tiny button--muted opinion-toggle--ko" title="Comentari en contra">
                      <%= icon "thumb-down", aria_label: "En contra" %>
                    </button>
                  </div>
                  <div class="opinion-toggle button-group">
                    <button class="button tiny button--muted opinion-toggle--ok is-active" title="Comentari a favor">
                      <%= icon "thumb-up", aria_label: "A favor" %>
                    </button>
                    <button class="button tiny button--muted opinion-toggle--meh is-inactive" title="Comentari neutral">
                      Neutral
                    </button>
                    <button class="button tiny button--muted opinion-toggle--ko is-inactive" title="Comentari en contra">
                      <%= icon "thumb-down", aria_label: "En contra" %>
                    </button>
                  </div>
                  <div class="opinion-toggle button-group">
                    <button class="button tiny button--muted opinion-toggle--ok is-inactive" title="Comentari a favor">
                      <%= icon "thumb-up", aria_label: "A favor" %>
                    </button>
                    <button class="button tiny button--muted opinion-toggle--meh is-active" title="Comentari neutral">
                      Neutral
                    </button>
                    <button class="button tiny button--muted opinion-toggle--ko is-inactive" title="Comentari en contra">
                      <%= icon "thumb-down", aria_label: "En contra" %>
                    </button>
                  </div>
                  <div class="opinion-toggle button-group">
                    <button class="button tiny button--muted opinion-toggle--ok is-inactive" title="Comentari a favor">
                      <%= icon "thumb-up", aria_label: "A favor" %>
                    </button>
                    <button class="button tiny button--muted opinion-toggle--meh is-inactive" title="Comentari neutral">
                      Neutral
                    </button>
                    <button class="button tiny button--muted opinion-toggle--ko is-active" title="Comentari en contra">
                      <%= icon "thumb-down", aria_label: "En contra" %>
                    </button>
                  </div>
                </div>
                <div class="tabs-panel" id="patternIcons">
                  <h2 class="section-heading">Iconos de componente</h2>
                  <p>
                    Estos iconos han sido diseñados de manera específica para la
                     interfaz de Decidim y son copyleft (AGPL v3).
                  </p>
                  <%= partial "component_icons" %>
                  <hr>
                  <h2 class="section-heading">Iconos de interfaz</h2>
                  <p>
                    Los iconos de interfaz son parte del set open source (MIT)
                     de Iconic y se encuentran listados en
                      <a href="http://useiconic.com/open" target="_blank">useiconic.com/open</a>.
                  </p>
                </div>
                <div class="tabs-panel" id="patternCards">
                  <h2 class="section-heading">Card básico</h2>
                  <div class="row">
                    <div class="columns small-12 medium-6">
                      <article class="card">
                        <div class="card__content">
                          <div class="card__header">
                            <a href="#" class="card__link">
                              <h5 class="card__title">.card</h5>
                            </a>
                          </div>
                          <p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam…
                          </p>
                        </div>
                      </article>
                    </div>
                    <div class="columns small-12 medium-6">
                      <article class="card card--secondary">
                        <div class="card__content">
                          <div class="card__header">
                            <a href="#" class="card__link">
                              <h5 class="card__title">.card--secondary</h5>
                            </a>
                          </div>
                          <p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam…
                          </p>
                        </div>
                      </article>
                    </div>
                  </div>

                  <h2 class="section-heading">Card con footer</h2>
                  <div class="row">
                    <div class="small-12 medium-6">
                      <article class="card card--debate">
                        <div class="card__content">
                          <div class="card__header">
                            <a href="#" class="card__link">
                              <h5 class="card__title">Título</h5>
                            </a>
                          </div>
                          <p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam…
                          </p>
                        </div>
                        <div class="card__footer">
                          <div class="card__support">
                            <div class="card__support__data"></div>
                            <a href="#" class="button small secondary card__button">
                              Acción</a>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>

                  <h2 class="section-heading">Card de proceso</h2>
                  <div class="row">
                    <div class="small-12 medium-6">
                      <article class="card card--process">
                        <div class="card__image-top" style="background-image:url(<%= image_path "demo-info-page.jpg" %>)"></div>
                        <div class="card__content">
                          <%= link_to page_path("action-view"), class: "card__link" do %>
                            <h4 class="card__title">Título</h4>
                          <% end %>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam…
                          </p>
                        </div>
                        <div class="card__footer">
                          <div class="card__support">
                            <span class="card--process__small">Fase activa:
                              <strong>Lorem ipsum</strong>
                            </span>
                            <button class="card__button button small">
                              Acción
                            </button>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>


                  <h2 class="section-heading">Card de encuentro</h2>
                  <div class="row">
                    <div class="small-12 medium-6">
                      <article class="card">
                        <div class="card__content">
                          <div class="card__header">
                            <h5 class="card__title">
                              <a href="#" class="card__link">
                                Título
                              </a>
                            </h5>
                          </div>
                          <div class="card__datetime">
                              <div class="card__datetime__date">
                                20 <span class="card__datetime__month">Ago</span>
                              </div>
                              <div class="card__datetime__time">
                                16:00 - 18:00
                              </div>
                            </div>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam…
                          </p>
                          <div class="address card__extra">
                            <div class="address__icon">
                              <%= icon "meetings" %>
                            </div>
                            <div class="address__details">
                              <strong>Seu del Districte Sants-Montjuïc</strong><br>
                              <span>Carrer de la Creu Coberta, 104</span><br>
                              <span>Barcelona</span>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>

                  <h2 class="section-heading">Card de debate</h2>
                  <div class="row">
                    <div class="small-12 medium-6">
                      <article class="card card--debate">
                        <div class="card__content">
                          <div class="card__header">
                            <%= link_to page_path("debate-view-AMA"), class: "card__link" do %>
                              <h5 class="card__title">Título</h5>
                            <% end %>
                          </div>
                          <div class="card__datetime">
                            <div class="card__datetime__date">
                              20 <span class="card__datetime__month">Agosto</span>
                            </div>
                            <div class="card__datetime__time">
                              16:00 - 18:00
                            </div>
                          </div>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam…
                          </p>
                        </div>
                        <div class="card__footer">
                          <div class="card__support">
                            <div class="card__support__data"></div>
                            <a href="#" class="button small secondary card__button">
                              Acción</a>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>

                  <h2 class="section-heading">Card propuesta</h2>
                  <div class="row">
                    <div class="columns small-12 medium-6">
                      <article class="card card--proposal">
                        <div class="card__content">
                          <div class="card__header">
                            <%= link_to page_path("proposal-view"), class: "card__link" do %>
                              <h5 class="card__title">
                                Título
                              </h5>
                            <% end %>
                            <div class="card__author author-data author-data--small">
                              <div class="author-data__main">
                                <div class="author author--inline">
                                  <a href="#" class="author__avatar author__avatar--small">
                                    <%= image_tag "demo-avatar.jpg" %>
                                  </a>
                                  <a href="#" class="author__name">
                                    Autor
                                  </a>
                                  01/08/2016
                                </div>
                              </div>
                            </div>
                          </div>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam…</p>
                        </div>
                        <div class="card__footer">
                          <div class="card__support">
                            <div class="card__support__data"></div>
                            <button class="card__button button small secondary">
                              Ver propuesta
                            </button>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="columns small-12 medium-6">
                      <article class="card card--proposal">
                        <div class="card__content">
                          <div class="card__header">
                            <%= link_to page_path("proposal-view"), class: "card__link" do %>
                              <h5 class="card__title">
                                Título
                              </h5>
                            <% end %>
                            <div class="card__author author-data author-data--small">
                              <div class="author-data__main">
                                <div class="author author--inline">
                                  <a href="#" class="author__avatar author__avatar--small">
                                    <%= image_tag "demo-avatar.jpg" %>
                                  </a>
                                  <a href="#" class="author__name">
                                    Autor
                                  </a>
                                  01/08/2016
                                </div>
                              </div>
                            </div>
                          </div>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam…</p>
                        </div>
                        <div class="card__footer">
                          <div class="card__support">
                            <div class="card__support__data">
                              <div class="card__support__data">
                                <span class="card__support__number">27</span>suports
                                <div class="popularity popularity--level3">
                                  <span class="popularity__item"></span>
                                  <span class="popularity__item"></span>
                                  <span class="popularity__item"></span>
                                  <span class="popularity__item"></span>
                                  <span class="popularity__item"></span>
                                </div>
                              </div>
                            </div>
                            <button class="card__button button small">
                              Apoyar
                            </button>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>

                  <h2 class="section-heading">Card de resultado</h2>
                  <div class="row">
                    <div class="small-12 medium-6">
                      <article class="card card--action">
                        <div class="card__content">
                          <%= link_to page_path("action-view"), class: "card__link" do %>
                            <h5 class="card__title">Título</h5>
                          <% end %>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam…
                          </p>
                        </div>
                        <div class="card__footer">
                          <ul class="card-data">
                            <li class="card-data__item">
                              <span class="card-data__item__number">130</span>propostes
                            </li>
                            <li class="card-data__item">
                              <span class="card-data__item__number">27</span>suports
                            </li>
                            <li class="card-data__item">
                              <span class="card-data__item__number">2567</span>comentaris
                            </li>
                          </ul>
                        </div>
                      </article>
                    </div>
                  </div>


                  <h2 class="section-heading">Card list</h2>
                  <div class="row">
                    <div class="card card--list">
                      <div class="card--list__item">
                        <div class="card--list__text">
                          <a href="#">
                            <%= icon "proposals", class: "card--list__icon", removeIconClass: true %>
                          </a>
                          <div>
                            <a href="#" class="card__link">
                              <h5 class="card--list__heading">
                                Título de proceso
                              </h5>
                            </a>
                            <div class="author">
                              <a href="#" class="author__avatar">
                                <%= image_tag "demo-avatar.jpg" %>
                              </a>
                              <a href="#" class="author__name">
                                Autor
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="card--list__data">
                          <span class="card--list__data__number">130</span>apoyos
                        </div>
                      </div>
                      <div class="card--list__item">
                        <div class="card--list__text">
                          <a href="#">
                            <%= icon "proposals", class: "card--list__icon", removeIconClass: true %>
                          </a>
                          <div>
                            <a href="#" class="card__link">
                              <h5 class="card--list__heading">
                                Título de proceso
                              </h5>
                            </a>
                            <div class="author">
                              <a href="#" class="author__avatar">
                                <%= image_tag "demo-avatar.jpg" %>
                              </a>
                              <a href="#" class="author__name">
                                Autor
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="card--list__data">
                          <span class="card--list__data__number">130</span>apoyos
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="card card--action card--list">
                      <div class="card--list__item">
                        <%= icon "actions", removeIconClass: true, class: "card--list__icon" %>
                        <a href="#" class="card--list__text card__link card__link--block">
                          <h5 class="card--list__heading">
                            Título de proceso
                          </h5>
                        </a>
                        <div class="card--list__data">
                          <span class="card--list__data__number">130</span>apoyos
                        </div>
                      </div>
                      <div class="card--list__item">
                        <%= icon "actions", removeIconClass: true, class: "card--list__icon" %>
                        <a href="#" class="card--list__text card__link card__link--block">
                          <h5 class="card--list__heading">
                            Título de proceso
                          </h5>
                        </a>
                        <div class="card--list__data">
                          <span class="card--list__data__number">130</span>apoyos
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="card card--list">
                      <div class="card--list__item">
                        <div class="card--list__text">
                          <div>
                            <%= link_to page_path("static-with-nav"), class: "card__link" do %>
                              <h6 class="card--list__heading heading6">
                                Título de FAQ
                              </h6>
                              <span class="text-small">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Suspendisse ut semper mi, et ullamcorper
                                elit.</span>
                            <% end %>
                          </div>
                        </div>
                        <div class="card--list__data">
                          <a href="" class="card--list__data__icon">
                            <%= icon "chevron-right" %>
                          </a>
                        </div>
                      </div>
                      <div class="card--list__item">
                        <div class="card--list__text">
                          <div>
                            <a href="#" class="card__link">
                              <h6 class="card--list__heading heading6">
                                Título de FAQ
                              </h6>
                              <span class="text-small">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Suspendisse ut semper mi, et ullamcorper
                                elit.</span>
                            </a>
                          </div>
                        </div>
                        <div class="card--list__data">
                          <a href="" class="card--list__data__icon">
                            <%= icon "chevron-right" %>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="card card--list">
                      <div class="card--list__item">
                        <div class="card--list__text">
                          <div>
                            <a href="#" class="card__link">
                              <h6 class="card--list__heading heading6">
                                Título archivo <small>PDF 57Kb</small>
                              </h6>
                              <span class="text-small">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Suspendisse ut semper mi, et ullamcorper
                                elit.</span>
                            </a>
                          </div>
                        </div>
                        <div class="card--list__data">
                          <a href="" class="card--list__data__icon">
                            <%= icon "cloud-download" %>
                          </a>
                        </div>
                      </div>
                      <div class="card--list__item">
                        <div class="card--list__text">
                          <div>
                            <a href="#" class="card__link">
                              <h6 class="card--list__heading heading6">
                                Título archivo 18-04-2016 <small>PDF 57Kb</small>
                              </h6>
                              <span class="text-small">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Suspendisse ut semper mi, et ullamcorper
                                elit.</span>
                            </a>
                          </div>
                        </div>
                        <div class="card--list__data">
                          <a href="" class="card--list__data__icon">
                            <%= icon "cloud-download" %>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="card card--list">
                      <div class="card--list__item">
                        <div class="card--list__text">
                          <a href="#">
                            <%= icon "proposals", removeIconClass: true, class: "card--list__icon"  %>
                          </a>
                          <div>
                            <a href="#" class="card__link">
                              <h5 class="card--list__heading">
                                Título
                              </h5>
                            </a>
                            <span class="text-small">Lorem ipsum dolor sit amet,
                              consectetur adipiscing elit. Suspendisse ut semper
                              mi, et ullamcorper elit.</span>
                          </div>
                        </div>
                      </div>
                      <div class="card--list__item">
                        <div class="card--list__text">
                          <a href="#">
                            <%= icon "proposals", removeIconClass: true, class: "card--list__icon"  %>
                          </a>
                          <div>
                            <a href="#" class="card__link">
                              <h5 class="card--list__heading">
                                Título
                              </h5>
                            </a>
                            <span class="text-small">Lorem ipsum dolor sit amet,
                              consectetur adipiscing elit. Suspendisse ut semper
                              mi, et ullamcorper elit.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="tabs-panel" id="patternMarkers">
                  <h2 class="section-heading">Badges de usuario</h2>
                  <p>Lorena Ipsum
                    <span class="label label--small label--basic">
                      Regidora
                    </span>
                  </p>
                  <p>Dolores Sit Amet
                    <span class="label label--small label--highlight">
                      Alcaldessa
                    </span>
                  </p>
                  <p>Consectetur Adipiscing
                    <span class="label label--small label--admin">
                      Admin
                    </span>
                  </p>
                  <p>Usuaria Verificada
                    <span class="label label--small label--basic">
                      <%= icon "check", class: "icon--small" %>
                    </span>
                  </p>
                </div>

                <div class="tabs-panel" id="patternBars">
                  <h2 class="section-heading">Barras de progreso</h2>

                  <div class="row">
                    <div class="columns small-12 medium-6">
                      <p>Carta de propuesta con barra de progreso</p>
                      <article class="card card--proposal">
                        <div class="card__content">
                          <div class="card__header">
                            <%= link_to page_path("proposal-view"), class: "card__link" do %>
                              <h5 class="card__title">
                                Título
                              </h5>
                            <% end %>
                            <div class="card__author author-data author-data--small">
                              <div class="author-data__main">
                                <div class="author author--inline">
                                  <a href="#" class="author__avatar author__avatar--small">
                                    <%= image_tag "demo-avatar.jpg" %>
                                  </a>
                                  <a href="#" class="author__name">
                                    Autor
                                  </a>
                                  01/08/2016
                                </div>
                              </div>
                            </div>
                          </div>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam…</p>
                        </div>
                        <div class="card__footer">
                          <div class="card__support">
                            <div class="card__progress">
                                <div class="card__progress__title">
                                  <span class="card__progress__number">254</span>/500 supports
                                </div>
                                <div class="card__progress__bar">
                                  <div class="card__progress__bar--complete" style="width:51%;"></div>
                                  <div class="card__progress__bar--incomplete" style="width:calc(100% - 51%);"></div>
                                </div>
                              </div>
                            <button class="card__button button small">
                              Apoyar
                            </button>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="columns small-12 medium-6">
                      <p>Carta extra con barra de progreso</p>
                      <div class="card extra">
                        <div class="card__content">
                          <div class="card__progress card__progress--vertical">
                              <div class="card__progress__title">
                                <span class="card__progress__number">45</span>/60
                                <span class="card__progress__text">Apoyos</span>
                              </div>
                              <div class="card__progress__bar">
                                <div class="card__progress__bar--complete" style="width:75%;"></div>
                                <div class="card__progress__bar--incomplete" style="width:calc(100% - 75%);"></div>
                              </div>
                            </div>
                          <div class="extra__popularity popularity popularity--level5">
                            <span class="popularity__item"></span>
                            <span class="popularity__item"></span>
                            <span class="popularity__item"></span>
                            <span class="popularity__item"></span>
                            <span class="popularity__item"></span>
                            <span class="popularity__desc">
                              Proposta molt popular
                              <%= partial "help" %>
                            </span>
                          </div>
                          <button class="button expanded button--sc">Apoyar</button>
                          <button class="button secondary hollow expanded small button--icon">
                        <%= icon "bell" %>
                        <span>Seguir propuesta</span>
                      </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="columns small-12 medium-6">
                      <p>Simple horizontal</p>

                      <div class="card__progress">
                        <div class="card__progress__title">
                          <span class="card__progress__number">27</span>/100 supports
                        </div>
                        <div class="card__progress__bar">
                          <div class="card__progress__bar--complete" style="width:27%;"></div>
                          <div class="card__progress__bar--incomplete" style="width:calc(100% - 27%);"></div>
                        </div>
                      </div>

                      <div class="card__progress">
                        <div class="card__progress__title">
                          <span class="card__progress__number">412</span>/500 supports
                        </div>
                        <div class="card__progress__bar">
                          <div class="card__progress__bar--complete" style="width:82%;"></div>
                          <div class="card__progress__bar--incomplete" style="width:calc(100% - 82%);"></div>
                        </div>
                      </div>
                    </div>
                    <div class="columns small-12 medium-6">
                      <p>Vertical</p>

                      <div class="card__progress card__progress--vertical">
                        <div class="card__progress__title">
                          <span class="card__progress__number">45</span>/60
                          <span class="card__progress__text">Apoyos</span>
                        </div>
                        <div class="card__progress__bar">
                          <div class="card__progress__bar--complete" style="width:75%;"></div>
                          <div class="card__progress__bar--incomplete" style="width:calc(100% - 75%);"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
