<div class="card with-overflow" id="initiatives">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.admin.titles.initiatives" %>
      <div class="button--title">
        <% if allowed_to? :export, :initiatives %>
          <%= export_dropdowns(query) %>
        <% end %>
      </div>
    </h2>
  </div>
  <%= admin_filter_selector(:initiatives) %>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= t("models.initiatives.fields.id", scope: "decidim.admin") %></th>
          <th><%= t("models.initiatives.fields.title", scope: "decidim.admin") %></th>
          <th><%= t("models.initiatives.fields.state", scope: "decidim.admin") %></th>
          <th><%= sort_link(query, :supports_count, t("models.initiatives.fields.supports_count", scope: "decidim.admin"), default_order: :desc) %></th>
          <th><%= sort_link(query, :created_at, t("models.initiatives.fields.created_at", scope: "decidim.admin"), default_order: :desc) %></th>
          <th><%= sort_link(query, :published_at, t("models.initiatives.fields.published_at", scope: "decidim.admin"), default_order: :desc) %></th>
          <th class="actions"><%= t ".actions_title" %></th>
        </tr>
        </thead>
        <tbody>
        <% @initiatives.each do |initiative| %>
          <tr>
            <td><%= initiative.id %></td>
            <td>
              <%= translated_attribute(initiative.title) %>
            </td>
            <td><%= humanize_admin_state initiative.state %></td>
            <td><%= initiative.supports_count %>/<%= initiative.scoped_type.supports_required %></td>
            <td><%= l initiative.created_at, format: :short %></td>
            <td><%= initiative.published_at? ? l(initiative.published_at, format: :short) : "" %></td>
            <td class="table-list__actions">
              <% if allowed_to? :preview, :initiative, initiative: initiative %>
                <%= icon_link_to "eye",
                                 decidim_initiatives.initiative_path(initiative.to_param),
                                 t(".preview"),
                                 class: "action-icon--preview",
                                 target: "_blank" %>
              <% else %>
                <span class="action-space icon"></span>
              <% end %>

              <% if allowed_to? :edit, :initiative, initiative: initiative %>
                <%= icon_link_to "pencil",
                                 decidim_admin_initiatives.edit_initiative_path(initiative.to_param),
                                 t("actions.configure", scope: "decidim.admin"),
                                 class: "action-icon--edit" %>
              <% else %>
                <span class="action-space icon"></span>
              <% end %>

              <% if allowed_to?(:answer, :initiative, initiative: initiative) %>
                <%= icon_link_to "comment-square", edit_initiative_answer_path(initiative.slug), t("actions.answer", scope: "decidim.initiatives"), class: "action-icon action-icon--answer" %>
              <% else %>
                <%= icon "comment-square", scope: "decidim.admin", class: "action-icon action-icon--disabled", role: "img", "aria-hidden": true %>
              <% end %>

              <% if allowed_to? :read, :initiative, initiative: initiative %>
                <%= icon_link_to "print",
                                 decidim_initiatives.print_initiative_path(initiative),
                                 t(".print",),
                                 class: "action-icon--print",
                               target: :blank %>
            <% else %>
              <span class="action-space icon"></span>
              <% end %>
              <%= free_resource_permissions_link(initiative) || content_tag(:span, nil, class: "action-space icon") %>
            </td>
        <% end %>
        </tbody>
      </table>
      <%= paginate @initiatives, theme: "decidim" %>
    </div>
  </div>
</div>
