<div class="initiative-letterhead">
  <% if current_organization.logo.present? %>
    <%= image_tag current_organization.logo.url, title: current_organization.name %>
  <% end %>

  <%= current_organization.name %>
</div>

<div class="initiative-print-title">
  Sol·licitud d'admissió a tràmit iniciativa ciutadana
</div>

<div class="print-table">
  <div class="print-table-header">
    Dades personals persona representant
  </div>

  <div class="print-table-row">
    <div class="print-table-cell">
      <div class="cell-header">DNI/NIE</div>
      <div class="cell-content"></div>
    </div>
  </div>

  <div class="print-table-row">
    <div class="print-table-cell">
      <div class="cell-header">Nom i cognoms</div>
      <div class="cell-content"></div>
    </div>
  </div>

  <div class="print-table-row">
    <div class="print-table-cell">
      <div class="cell-header">Domicili</div>
      <div class="cell-content"></div>
    </div>
  </div>

  <div class="print-table-row">
    <div class="print-table-cell w33">
      <div class="cell-header">Població</div>
      <div class="cell-content"></div>
    </div>
    <div class="print-table-cell w33">
      <div class="cell-header">Provincia</div>
      <div class="cell-content"></div>
    </div>
    <div class="print-table-cell w33">
      <div class="cell-header">CP</div>
      <div class="cell-content"></div>
    </div>
  </div>

  <div class="print-table-row">
    <div class="print-table-cell w33">
      <div class="cell-header">Tel</div>
      <div class="cell-content"></div>
    </div>

    <div class="print-table-cell">
      <div class="cell-header">Email</div>
      <div class="cell-content"><%= current_initiative.author.email %></div>
    </div>
  </div>

  <div class="print-table-row">
    <div class="print-table-cell w66">
      <div class="cell-header">En representació de la comissió promotora</div>
      <div class="cell-content">&nbsp;</div>
    </div>

    <div class="print-table-cell">
      <div class="cell-header">DNI/NIE/NIF</div>
      <div class="cell-content">&nbsp;</div>
    </div>
  </div>
</div>
<br><br>
<div class="print-table">
  <div class="print-table-header">
    Membres de la comissió promotora de la iniciativa
  </div>

  <div class="print-table-row">
    <div class="print-table-cell w33">Nom persona o entiat membre</div>
    <div class="print-table-cell w33">DNI/NIE/NIF</div>
    <div class="print-table-cell w33">Domicili</div>
  </div>

  <% 4.times do %>
    <div class="print-table-row">
      <div class="print-table-cell w33"></div>
      <div class="print-table-cell w33"></div>
      <div class="print-table-cell w33"></div>
    </div>
  <% end %>
</div>

<h2 class="print-section-title">Sol·liciten que sigui admesa a tràmit la Iniciativa Ciutadana que porta el títol de:</h2>
<%= translated_attribute(current_initiative.title) %>

<h2 class="print-section-title">Tipus de la Iniciativa:</h2>
<%= translated_attribute(current_initiative.type.title) %>

<h2 class="print-section-title">Definició de la Iniciativa:</h2>
<%= decidim_sanitize_editor translated_attribute(current_initiative.description) %>

<h2 class="print-section-title">Exposició de motius:</h2>
<br><br><br><br><br>

<h2 class="print-section-title page-break">En cas de Consulta, especificar:</h2>
<ul>
  <li>Pregunta que es proposa votar</li>
  <li>Ambit: (ciutat o districte/s)</li>
</ul>

<div class="print-table">
  <div class="print-table-header">
    Documentació que s'aporta (marcar el que correspongui)
  </div>

  <div class="print-table-row">
    <div class="print-table-cell checkbox-cell"></div>
    <div class="print-table-cell">
      <div class="cell-content">Memòria explicativa de les raons que aconsellen la iniciativa</div>
    </div>
  </div>

  <div class="print-table-row">
    <div class="print-table-cell checkbox-cell"></div>
    <div class="print-table-cell">
      <div class="cell-content"><div class="cell-content">Model de Plec de signatures</div></div>
    </div>
  </div>

  <div class="print-table-row">
    <div class="print-table-cell checkbox-cell"></div>
    <div class="print-table-cell">
      <div class="cell-content">Acta signada dels òrgans de direcció de les entitats membres de la Comissió Promotora</div>
    </div>
  </div>

  <div class="print-table-row">
    <div class="print-table-cell checkbox-cell"></div>
    <div class="print-table-cell">
      <div class="cell-content">Relació inicial de persones fedetàries i DNI/NIE de les mateixes</div>
    </div>
  </div>

  <div class="print-table-row">
    <div class="print-table-cell checkbox-cell"></div>
    <div class="print-table-cell">
      <div class="cell-content">Declaració jurada de les persones fedetàries</div>
    </div>
  </div>

  <div class="print-table-row">
    <div class="print-table-cell checkbox-cell"></div>
    <div class="print-table-cell">
      <div class="cell-content">Sol·licitud de permís d'ocupació de via pública per a la recollida de signatures</div>
    </div>
  </div>
</div>
<br>
<div class="print-table no-border">
  <div class="print-table-row no-border">
    <div class="print-table-cell w50 no-border" style="font-weight: bold">Lloc i data de la sol·licitud</div>
    <div class="print-table-cell w50 no-border" style="font-weight: bold">Signatura</div>
  </div>
</div>

<p class="print-initiative-legal-text">
Les dades personals recollides serán incorporades i tractades en el sistema informàtic de l'Ajuntament
de Barcelona i només es podràn cedir de conformitat amb la Llei Orgànica 15/1999, del 13 de desembre,
de Protecció de Dades de Caràcter Personal, podent la persona interessada exercir els drets d'accés,
rectificació, cancel·lació i oposició, tal com estableix l'article 5 de l'esmentada llei.
</p>

<a href="#" onclick="window.print();return false;" class="button expanded"><%= t ".print" %></a>
<%= stylesheet_pack_tag "decidim_initiatives_print", media: "all" %>
