<div data-drawer>
  <div>
    <div data-drawer-close><%= icon "close-line", class: "w-5 h-5 text-secondary fill-current" %></div>
    <% if local_assigns[:prev].present? %>
      <div data-drawer-prev><%= icon "arrow-right-s-line", class: "w-8 h-8 text-secondary fill-current" %></div>
    <% end %>
    <% if local_assigns[:next].present? %>
      <div data-drawer-next><%= icon "arrow-left-s-line", class: "w-8 h-8 text-secondary fill-current" %></div>
    <% end %>
    <div data-drawer-content>
      <div><%= yield %></div>
      <div><%= yield :aside %></div>
    </div>
  </div>
</div>
