<% subtitle = content_for(:subtitle) %>

<%= render layout: "layouts/decidim/shared/layout_center", locals: { columns: 10 } do %>
  <header class="text-center py-10">
    <h1 class="h3 md:h1 decorator inline-block text-left md:mb-12">
      <%= t("title", scope: "layouts.decidim.user_profile") %>
      <%= " - #{subtitle}" unless subtitle.blank? %>
    </h1>
  </header>

  <div class="vertical-tabs mb-24">
    <nav>
      <button id="dropdown-trigger" data-component="dropdown" data-target="dropdown-menu" data-auto-close="true">
        <span><%= user_menu.active_item&.label || t("decidim.searches.filters.jump_to") %></span>
        <%= icon "arrow-down-s-line" %>
        <%= icon "arrow-up-s-line" %>
      </button>
      <ul id="dropdown-menu" class="vertical-tabs__list">
        <%= user_menu.render %>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>
  </div>
<% end %>
