<% reverse ||= false %>
<% large ||= false %>
<% main_enabled = true unless local_assigns.has_key?(:main_enabled) %>

<div class="layout-2col<%= " layout-2col__large" if large %><%= " layout-2col__reverse" if reverse %>">
  <aside class="layout-2col__aside">
    <%= yield :aside %>
  </aside>
  <% main_tag = main_enabled ? :main : :div %>
  <%= content_tag main_tag, class: "layout-2col__main" do %>
    <%= content_for :flash_messages %>
    <%= yield %>
  <% end %>
</div>
