<div class="layout-2col<%= " layout-2col__reverse" if reverse ||= false %>">
  <div>
    <aside>
      <%= yield :aside %>
    </aside>
    <% main_tag = redesign_enabled? ? :main : :div %>
    <%= content_tag main_tag do %>
      <%= content_for :flash_messages %>
      <%= yield %>
    <% end %>
  </div>
</div>
