<%
# HELP TO INTEGRATION: Possible screens
#   - user profile
#     - self
#     - other
#   - group profile
#     - self
#     - other

is_user_view = false
my_user = false
my_group = false

# Each item will have an icon, a text, and a link.
buttons_array = []

buttons_array << ["pencil-line", t("decidim.profiles.user.edit_profile")] if my_user || my_group;
buttons_array << ["team-line", t("decidim.profiles.user.create_user_group")] if is_user_view && my_user;
buttons_array << ["notification-3-line", "seguir"] if (is_user_view && !my_user) || (!is_user_view && !my_group);
buttons_array << ["mail-send-line", "mensaje"] if (is_user_view && !my_user) || (!is_user_view && !my_group);
buttons_array << ["user-settings-line", t("decidim.profiles.user.manage_user_group_users")] if !is_user_view && my_group;
buttons_array << ["user-star-line", t("decidim.profiles.user.manage_user_group_admins")] if !is_user_view && my_group;
buttons_array << ["user-add-line", t("decidim.profiles.user.invite_user")] if !is_user_view && my_group;
buttons_array << ["user-add-line", t("decidim.profiles.user.join_user_group")] if !is_user_view && !my_group;

buttons_array.each do |btn| %>
  <a href="" class="button white sm border border-secondary w-full text-secondary whitespace-nowrap" title="<%= btn[1] %>">
    <span class="hidden md:block first-letter:uppercase"><%= btn[1] %></span>
    <%= icon btn[0], class: "fill-current flex-none" %>
  </a>
<% end %>

<div class="flex justify-between text-xs">
  <%
  # Each item will have an icon, a text, and a link.
  extra_buttons_array = []

  extra_buttons_array << ["flag-line", "Denuncia"];
  extra_buttons_array << ["logout-box-r-line", t("decidim.profiles.user.leave_user_group")] if my_group;

  extra_buttons_array.each do |btn| %>
    <a href="" class="flex items-center text-secondary space-x-1 whitespace-nowrap only:m-auto">
      <span class="hidden md:block first-letter:uppercase"><%= "Denùncia" %></span>
      <%= icon "flag-line", class: "fill-current flex-none" %>
    </a>
  <% end %>
</div>
