<div class="profile__details">
  <h1 class="h3">
    <%= presented_profile.name %>
    <span class="sr-only"><%= user_tabs.find { |tab_item| is_active_link?(tab_item[:path]) }&.dig(:text) %> (<%= presented_profile.name %>)</span>
  </h1>
  <div class="profile__details-data">
    <% details_items.each do |detail| %>
      <div class="profile__details-item">
        <%= icon detail[:icon] %>
        <span>
          <% if detail[:url].present? %>
            <%= link_to(detail[:url], detail[:text], rel: "nofollow noopener noreferrer") %>
          <% else %>
            <%= detail[:text] %>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
<p class="profile__description"><%= description %></p>
<%= render_hook(:user_profile_bottom) %>
