<main class="wrapper">
  <div class="row">
    <div class="columns medium-9 medium-offset-3">
<<<<<<< HEAD
      <%= profile_tabs %>
=======
      <ul class="tabs" id="profile-tabs">
        <% if own_profile? %>
          <%= user_profile_tab t("decidim.profiles.show.notifications"), notifications_path %>
        <% end %>
        <%= user_profile_tab t("decidim.profiles.show.following"), profile_following_path(nickname: user.nickname) %>
        <%= user_profile_tab t("decidim.profiles.show.followers"), profile_followers_path(nickname: user.nickname) %>
      </ul>
>>>>>>> parent of e0e56d977... Add conversations to profile (#3960)
    </div>
  </div>
  <div class="row">
    <div class="columns medium-3">
      <%= cell "decidim/profile_sidebar", profile_holder %>
    </div>
    <div class="columns medium-9">
      <div class="tabs-content" data-tabs-content="profile-tabs">
        <div class="tabs-panel is-active">
<<<<<<< HEAD
          <%= cell content_cell, profile_holder, context %>
=======
          <%= cell content_cell, user %>
>>>>>>> parent of e0e56d977... Add conversations to profile (#3960)
        </div>
      </div>
    </div>
  </div>
</main>
