<div class="bg-background-3">
  <div class="container">
    <div class="flex justify-between p-12 gap-6">
      <div class="flex-none w-24 h-24 rounded-full overflow-hidden drop-shadow-md border-2 border-white">
        <img class="w-ful h-full object-cover" src="https://www.fillmurray.com/640/360" />
      </div>
      <div class="grow divide-y divide-border-3">
        <div class="pb-3 space-y-2">
          <h3 class="h3">CB. Club Barna</h3>
          <div class="flex space-x-6">
            <div class="flex items-center space-x-1.5">
              <%= icon "account-pin-circle", class: "w-3.5 h-3.5 text-gray fill-current" %>
              <span class="text-sm text-gray-2">@CBGRUPBARNA</span>
            </div>
            <div class="flex items-center space-x-1.5">
              <%= icon "account-pin-circle", class: "w-3.5 h-3.5 text-gray fill-current" %>
              <span class="text-sm text-gray-2">21 miembros</span>
            </div>
            <div class="flex items-center space-x-1.5">
              <%= icon "account-pin-circle", class: "w-3.5 h-3.5 text-gray fill-current" %>
              <span class="text-sm text-gray-2">345 seguidores</span>
            </div>
          </div>
        </div>
        <p class="pt-3 text-sm text-gray-2">El CB GRUP BARNA és un Club Esportiu* de bàsquet formatiu, sense ànim de lucre, dedicat a desenvolupar projectes i iniciatives que tractin aspectes relacionats amb la pràctica del bàsquet, sense perdre de vista la formació integral dels seus jugadors i jugadores. El CB GRUP BARNA és un club fundat l’any 1965, al districte de Sant Martí de Barcelona.</p>
      </div>
      <div class="space-y-4">
        <button class="button white sm border border-secondary">Editar</button>
        <button class="button white sm border border-secondary">Editar</button>
        <button class="button white sm border border-secondary">Editar</button>
        <button class="button white sm border border-secondary">Editar</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sit minima quas saepe. Facilis ea illum ullam asperiores quas natus obcaecati enim ipsa commodi pariatur voluptate non, rerum quasi sit?
</div>

<!--
<div class="row">
  <div class="columns medium-9 medium-offset-3">
    <%= profile_tabs %>
  </div>
</div>
<div class="row">
  <div class="columns medium-3">
    <%= cell "decidim/profile_sidebar", profile_holder %>
  </div>
  <div class="columns medium-9">
    <div class="tabs-content" data-tabs-content="profile-tabs">
      <div class="tabs-panel is-active">
        <%= cell content_cell, profile_holder, context %>
      </div>
    </div>
  </div>
</div> -->
