<main class="wrapper">
  <div class="row">
    <div class="columns medium-9 medium-offset-3">
      <ul class="tabs" id="profile-tabs">
        <% if own_profile? %>
          <%= user_profile_tab t("decidim.profiles.show.notifications"), notifications_path %>
          <%= user_profile_tab t("decidim.profiles.show.conversations"), conversations_path %>
        <% end %>
        <%= user_profile_tab t("decidim.profiles.show.following"), profile_following_path(nickname: user.nickname) %>
        <%= user_profile_tab t("decidim.profiles.show.followers"), profile_followers_path(nickname: user.nickname) %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-3">
      <%= cell "decidim/profile_sidebar", user %>
    </div>
    <div class="columns medium-9">
      <div class="tabs-content" data-tabs-content="profile-tabs">
        <div class="tabs-panel is-active">
          <%= cell content_cell, user, context %>
        </div>
      </div>
    </div>
  </div>
</main>
