<div class="profile__scaffold__top">
  <div class="layout-1col cols-10">
    <div class="profile__scaffold__top-content">
      <div>
        <%= render :avatar %>
      </div>
      <div>
        <%= render :details %>
      </div>
      <div>
        <%= cell "decidim/profile_actions", profile_holder, context %>
      </div>
    </div>
  </div>
</div>
<div class="profile__scaffold__middle">
  <div class="layout-1col cols-10">
    <ul class="profile__scaffold__middle-content">
      <%= render :tabs %>
    </ul>
  </div>
</div>
<div class="profile__scaffold__bottom">
  <div class="layout-1col cols-10">
    <div class="profile__scaffold__bottom-content">
      <%= cell content_cell, profile_holder, context %>
    </div>
  </div>
</div>
