<% tab_items.each do |tab_item| %>
  <li class="profile__tab<%= " is-active" if is_active_link?(tab_item[:path]) %>">
    <%= link_to tab_item[:path], title: tab_item[:text], class: "profile__tab-item" do %>
      <%= icon tab_item[:icon] %>
      <span><%= tab_item[:text] %></span>
      <% if tab_item[:count].present? %>
        <div class="conversation__item-unread">
          <span><%= tab_item[:count] %></span>
        </div>
      <% end %>
    <% end %>
  </li>
<% end %>
