<div class="responsive-tab-block">
  <ul class="tabs" id="profile-tabs">
    <% if current_user && current_user == profile_holder %>
      <%= user_profile_tab t("decidim.profiles.show.timeline"), profile_timeline_path(nickname: profile_holder.nickname) %>
    <% end %>
    <%= user_profile_tab t("decidim.profiles.show.activity"), profile_activity_path(nickname: profile_holder.nickname) %>
    <% if current_organization.badges_enabled? %>
      <%= user_profile_tab t("decidim.profiles.show.badges"), profile_badges_path(nickname: profile_holder.nickname) %>
    <% end %>
    <%= user_profile_tab t("decidim.profiles.show.following"), profile_following_path(nickname: profile_holder.nickname) %>
    <%= user_profile_tab t("decidim.profiles.show.followers"), profile_followers_path(nickname: profile_holder.nickname) %>
    <% if user_groups_enabled? %>
      <%= user_profile_tab t("decidim.profiles.show.groups"), profile_groups_path(nickname: profile_holder.nickname) %>
    <% end %>
  </ul>
</div>
