<% @activesection = "programme" %>

<%= partial "template_top" %>

<main>
  <%= partial "conferences_hero" %>
  <section class="wrapper-home">
    <div class="row">
      <div class="columns section view-side mediumlarge-4 large-3">
        <%= partial "conferences_nav" %>
      </div>
      <div class="columns mediumlarge-8">
        <h1 class="section-heading">Programa</h1>
        <div class="conference-programme">
          <div class="row collapse">
            <div class="column medium-2">
              Día
            </div>
            <div class="column medium-10">
              <a href="#" class="button button--nomargin button--sc secondary light">Mércores 28 oct 2018</a>
              <a href="#" class="button button--nomargin button--sc button--muted secondary light">Xoves 29 oct 2018</a>
              <a href="#" class="button button--nomargin button--sc button--muted secondary light">Venres 30 oct 2018</a>
            </div>
          </div>
          <div class="row collapse">
            <div class="column medium-2">
              10:00 - 12:00
            </div>
            <div class="column medium-10">
              <div><strong>Introducción y bienvenida</strong></div>
              <div>Pensaremos y debatiremos colectivamente las potencialidades de Decidim en el desarrollo de procesos de participación ciudadana. Recogeremos experiencias, identificaremos oportunidades y retos de las herramientas digitales</div>
              <div class="row mt-xs">
                <div class="column medium-2">
                  <strong>Ponentes</strong>
                </div>
                <div class="column medium-10">
                  <%= render layout: "public/components/collapsible-list", locals: { text: raw("y 6 más"), size: 3, classText: "", classes: "no-margin" } do %>
                  <% 9.times do %>
                  <%= partial "author_data", { nick: false, small: true } %>
                  <% end %>
                  <% end %>
                </div>
              </div>
              <!-- No mt-xs class in 2nd row-->
              <div class="row">
                <div class="column medium-2">
                  <strong>Ubicación</strong>
                </div>
                <div class="column medium-10">
                  <%= Faker::Address.community %>&nbsp;<span class="text-medium"><%= Faker::Address.full_address %></span>
                </div>
              </div>
              <div class="row mt-xs">
                <div class="column medium-2">
                  <strong>Contenido</strong>
                </div>
                <div class="column medium-10">
                  No disponible
                </div>
              </div>
              <div class="row mt-xs">
                <div class="column medium-2">
                  <strong>Streaming</strong>
                </div>
                <div class="column medium-10">
                  <%= Faker::Internet.url %>
                </div>
              </div>
            </div>
          </div>
          <div class="row collapse">
            <div class="column medium-2">
              10:00 - 12:00
            </div>
            <div class="column medium-10">
              <div><strong>Coffee break</strong></div>
            </div>
          </div>
          <div class="row collapse">
            <div class="column medium-2">
              10:00 - 12:00
            </div>
            <div class="column medium-10">
              <div><strong>Introducción y bienvenida</strong></div>
              <div>Pensaremos y debatiremos colectivamente las potencialidades de Decidim en el desarrollo de procesos de participación ciudadana. Recogeremos experiencias, identificaremos oportunidades y retos de las herramientas digitales</div>
              <div class="row mt-xs">
                <div class="column medium-2">
                  <strong>Ponentes</strong>
                </div>
                <div class="column medium-10">
                  <%= render layout: "public/components/collapsible-list", locals: { text: raw("y 6 más"), size: 3, classText: "", classes: "no-margin" } do %>
                  <% 9.times do %>
                  <%= partial "author_data", { nick: false, small: true } %>
                  <% end %>
                  <% end %>
                </div>
              </div>
              <!-- No mt-xs class in 2nd row-->
              <div class="row">
                <div class="column medium-2">
                  <strong>Ubicación</strong>
                </div>
                <div class="column medium-10">
                  <%= Faker::Address.community %>&nbsp;<span class="text-medium"><%= Faker::Address.full_address %></span>
                </div>
              </div>
              <div class="row mt-xs">
                <div class="column medium-2">
                  <strong>Contenido</strong>
                </div>
                <div class="column medium-10">
                  No disponible
                </div>
              </div>
              <div class="row mt-xs">
                <div class="column medium-2">
                  <strong>Streaming</strong>
                </div>
                <div class="column medium-10">
                  <%= Faker::Internet.url %>
                </div>
              </div>
            </div>
          </div>
          <div class="row collapse">
            <div class="column medium-2">
              10:00 - 12:00
            </div>
            <div class="column medium-10">
              <div><strong>Coffee break</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= partial "template_bottom" %>
