<% if view == :deleted %>
  <%= icon_link_to "refresh-line", restore_proposal_path(proposal), t("actions.restore", scope: "decidim.admin"), method: :patch, class: "action-icon--restore" %>
  <% else %>
  <% if allowed_to? :edit, :proposal, proposal: proposal %>
    <%= icon_link_to "pencil-line", edit_proposal_path(proposal), t("actions.edit_proposal", scope: "decidim.proposals"), class: "action-icon--edit-proposal" %>
  <% else %>
    <span class="action-space icon"></span>
  <% end %>

  <%= icon_with_link_to_proposal(proposal) %>

  <%= icon_link_to "eye-line", resource_locator(proposal).path, t("actions.preview", scope: "decidim.proposals.admin"), class: "action-icon--preview", target: :blank, data: { "external-link": false } %>

  <%= resource_permissions_link(proposal) %>

  <% if allowed_to?(:soft_delete, :proposal, trashable_deleted_resource: proposal) %>
    <%= icon_link_to "delete-bin-line", soft_delete_proposal_path(proposal), t("actions.soft_delete", scope: "decidim.admin"), method: :patch, class: "action-icon--delete", data: { confirm: t("actions.confirm_delete_proposal", scope: "decidim.proposals.admin") } %>
  <% else %>
    <%= icon "delete-bin-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.soft_delete", scope: "decidim.admin") %>
  <% end %>
<% end %>
