<% if view == :deleted %>
  <%= icon_link_to "refresh-line", restore_proposal_path(proposal), t("actions.restore", scope: "decidim.admin"), method: :patch, class: "action-icon--restore" %>
<% else %>

  <%= link_to "#", "data-toggle" => "actions-dropdown-#{ proposal.id }" do %>
    <%= icon "more-fill" %>
  <% end %>

  <div class="dropdown-pane small" id="actions-dropdown-<%= proposal.id %>" data-dropdown data-auto-focus="true" data-close-on-click="true">
    <ul>
      <%= link_to resource_locator(proposal).path, target: :blank, data: { "external-link": false } do %>
        <li>
          <%= icon "eye-line" %>
          <%= t("actions.preview", scope: "decidim.proposals.admin") %>
        </li>
      <% end %>

      <%= resource_permissions_link_for_dropdown(proposal) %>

      <% if allowed_to?(:soft_delete, :proposal, trashable_deleted_resource: proposal) %>
        <%= link_to soft_delete_proposal_path(proposal), method: :patch, data: { confirm: t("actions.confirm_delete_proposal", scope: "decidim.proposals.admin") } do %>
          <li>
            <%= icon "delete-bin-line" %>
            <%= t("actions.soft_delete", scope: "decidim.admin") %>
          </li>
        <% end %>
      <% else %>
        <%= icon "delete-bin-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.soft_delete", scope: "decidim.admin") %>
      <% end %>

    </ul>
  </div>

<% end %>
