<div class="flex--cc flex-gap--1">
  <%= bulk_actions_dropdown %>

  <div id="js-other-actions-wrapper">
    <% if component_settings.participatory_texts_enabled? %>
    <%= link_to t("actions.participatory_texts", scope: "decidim.proposals"), participatory_texts_path, class: "button tiny button--simple" %>
    <% end %>
    <%= link_to t("actions.import", scope: "decidim.proposals", name: t("models.proposal.name", scope: "decidim.proposals.admin")), new_proposals_import_path, class: "button tiny button--simple" if allowed_to? :import, :proposals %>

    <% if allowed_to? :create, :proposal %>
      <%= link_to t("actions.new", scope: "decidim.proposals"), new_proposal_path, class: "button tiny button--simple" %>
    <% end %>

    <%= export_dropdown %>
  </div>

  <%= bulk_action_recategorize %>
</div>
