<div class="flex align-middle gap-x-4 ml-auto" id="js-other-actions-wrapper">
  <%= render partial: "decidim/proposals/admin/proposals/bulk_actions/dropdown" %>
  <% if component_settings.participatory_texts_enabled? %>
    <%= link_to t("actions.participatory_texts", scope: "decidim.proposals"), participatory_texts_path, id: "participatory_texts", class: "button button__sm button__secondary" %>
  <% end %>

  <% if allowed_to? :export, :proposals %>
    <%= export_dropdowns(query) %>
  <% end %>

  <% if allowed_to? :import, :proposals %>
    <%= import_dropdown do %>
      <li class="dropdown__item">
        <%= link_to new_proposals_import_path, class: "dropdown__button" do %>
          <%= t("actions.import", scope: "decidim.proposals", name: t("models.proposal.name", scope: "decidim.proposals.admin")) %>
        <% end %>
      </li>
      <% current_component.manifest.import_manifests.each do |import_manifest| %>
        <li class="dropdown__item">
          <%= link_to admin_imports_path(current_component, name: import_manifest.name), class: "dropdown__button" do %>
            <%= import_manifest.message(:label, self) %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= render partial: "decidim/proposals/admin/proposals/bulk_actions/merge" %>
<%= render partial: "decidim/proposals/admin/proposals/bulk_actions/split" %>
<%= render partial: "decidim/proposals/admin/proposals/bulk_actions/publish_answers" %>
<% if templates_available? %>
  <%= render partial: "decidim/proposals/admin/proposals/bulk_actions/apply_answer_template", locals: { templates: find_templates_for_select(current_component) } %>
<% end %>
