<span class="exports button button__sm button__secondary button--simple" data-toggle="<%= dropdown_id(collection_ids) %>">
  <% if collection_ids.present? %>
    <%= t("actions.export-selection", scope: "decidim.admin") %>
  <% else %>
    <%= t("actions.export", scope: "decidim.admin") %>
  <% end %>
  <%= icon "arrow-down-s-line", class: "dropdown-filter-icon" %>
</span>
<div class="dropdown-pane"
     id="<%= dropdown_id(collection_ids) %>"
     data-dropdown
     data-position=bottom
     data-alignment=right
     data-auto-focus="true"
     data-close-on-click="true">
  <ul class="vertical menu add-components">
    <% %w(CSV JSON).each do |format| %>
      <li class="exports--format--<%= format.downcase %> exports--initiatives">
        <%= link_to t("decidim.admin.exports.export_as", name: t("decidim.initiatives.admin.exports.initiatives"),
                                                         export_format: format.upcase), method: :post,
                    proposals_exports_path(format:, collection_ids:) %>
      </li>
    <% end %>
  </ul>
</div>
