<div class="fcell filter">
  <ul class="dropdown menu" data-dropdown-menu data-close-on-click-inside="false">
    <%= admin_filter(t("actions.filter.label", scope: "decidim.admin"), proposals_admin_filter_tree) %>
  </ul>
</div>
<div class="fcell search">
  <%= search_form_for query do |f| %>
    <% if params[:q] %>
      <% if params[:q][:is_emendation_true] %>
        <%= hidden_field_tag "q[is_emendation_true]", params[:q][:is_emendation_true] %>
      <% end %>
      <% if params[:q][:state_eq] %>
        <%= hidden_field_tag "q[state_eq]", params[:q][:state_eq] %>
      <% end %>
      <% if params[:q][:category_id_eq] %>
        <%= hidden_field_tag "q[category_id_eq]", params[:q][:category_id_eq] %>
      <% end %>
    <% end %>
    <div class="input-group">
      <%= f.search_field :id_or_title_cont,label: false, class: "input-group-field", placeholder: t("decidim.admin.impersonatable_users.index.search") %>
      <div class="input-group-button">
        <button type="submit" class="button button--muted">
          <%= icon "magnifying-glass", aria_label: t("decidim.admin.impersonatable_users.index.search") %>
        </button>
      </div>
    </div>
  <% end %>
</div>
<% if params[:q] %>
  <div class="fcell status">
    <% if params[:q][:is_emendation_true].present? %>
      <span class="label secondary">
        <% if params[:q][:is_emendation_true].to_s == '1' %>
          <%= icon "paperclip", class: "type-icon" %> <%= t("amendments", scope: "decidim.proposals.application_helper.filter_type_values") %>
        <% else %>
          <%= icon "file", class: "type-icon" %> <%= t("proposals", scope: "decidim.proposals.application_helper.filter_type_values") %>
        <% end %>
        <%= icon_link_to "circle-x", url_for(q: ransak_params_for_query_without(:is_emendation_true)), t("decidim.admin.actions.cancel"), class: "action-icon--remove" %>
      </span>
    <% end %>
    <% if params[:q][:state_null] %>
      <span class="label secondary">
        <%= t("models.proposal.fields.state", scope: "decidim.proposals") %> :
        <%= humanize_proposal_state "not_answered" %>
        <%= icon_link_to "circle-x", url_for(q: ransak_params_for_query_without(:state_null)), t("decidim.admin.actions.cancel"), class: "action-icon--remove" %>
      </span>
    <% end %>
    <% if params[:q][:state_eq] %>
      <span class="label secondary">
        <%= t("models.proposal.fields.state", scope: "decidim.proposals") %> :
        <%= humanize_proposal_state params[:q][:state_eq] %>
        <%= icon_link_to "circle-x", url_for(q: ransak_params_for_query_without(:state_eq)), t("decidim.admin.actions.cancel"), class: "action-icon--remove" %>
      </span>
    <% end %>
    <% if params[:q][:category_id_eq] %>
      <span class="label secondary">
        <%= t("models.proposal.fields.category", scope: "decidim.proposals") %> :
        <%= translated_attribute categories.find(params[:q][:category_id_eq]).name %>
        <%= icon_link_to "circle-x", url_for(q: ransak_params_for_query_without(:category_id_eq)), t("decidim.admin.actions.cancel"), class: "action-icon--remove" %>
      </span>
    <% end %>
  </div>
<% end %>
