<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.text_field :title %>
    </div>

    <div class="row column">
      <%= form.text_area :body, rows: 10 %>
    </div>

    <% if feature_settings.geocoding_enabled? %>
      <div class="row column">
        <%= form.text_field :address %>
      </div>
    <% end %>

    <% if @form.categories&.any? %>
      <div class="row column">
        <%= form.categories_select :category_id, @form.categories, prompt: t(".select_a_category") %>
      </div>
    <% end %>

    <% if current_participatory_space.has_subscopes? %>
      <div class="row column">
        <%= form.scopes_select :scope_id, prompt: I18n.t("decidim.scopes.global"), remote_path: decidim.scopes_search_path(root: current_participatory_space.scope) %>
      </div>
    <% end %>

    <% if feature_settings.attachments_allowed? %>
      <div class="row column">
        <fieldset>
          <legend><%= t('.attachment_legend') %></legend>
          <%= form.fields_for :attachment, @form.attachment do |form| %>
            <div class="row column">
              <%= form.text_field :title %>
            </div>

            <div class="row column">
              <%= form.upload :file, optional: false %>
            </div>
          <% end %>
        </fieldset>
      </div>
    <% end %>
  </div>
</div>
