<tr data-id="<%= proposal.id %>" <%= "data-published-state=false" if proposal.answered? && !proposal.published_state? %>>
  <td>
    <%= check_box_tag "proposal_ids_s[]", proposal.id, false, class: "js-check-all-proposal js-proposal-list-check  js-proposal-id-#{proposal.id}" %><br>
  </td>
  <td>
    <%= proposal.id %><br>
  </td>
  <td>
    <%= decidim_html_escape(present(proposal).title).html_safe %><br>
  </td>
  <td>
    <% if proposal.category %>
      <%= translated_attribute proposal.category.name %>
    <% end %>
  </td>

  <%= td_resource_scope_for(proposal.scope) %>

  <td>
    <strong class="<%= proposal_state_css_class proposal %>">
      <%= t("decidim/amendment", scope: "activerecord.models", count: 1) if proposal.emendation? %>
      <%= proposal_complete_state proposal %>
    </strong>
  </td>

  <% unless current_settings.publish_answers_immediately? %>
    <td>
      <% if proposal.answered? && !proposal.emendation? %>
        <%= humanize_boolean proposal.published_state? %>
      <% else %>
        -
      <% end %>
    </td>
  <% end %>

  <% if current_settings.votes_enabled? %>
    <td>
      <%= proposal.proposal_votes_count %>
    </td>
  <% end %>

  <% if current_component.settings.comments_enabled? and !current_settings.comments_blocked? %>
    <td>
      <%= proposal.comments_count %>
    </td>
  <% end %>

  <td>
    <%= proposal.proposal_notes_count %>
  </td>

  <td class="valuators-count">
    <%= proposal.valuation_assignments.count %>
  </td>

  <td>
    <%= l proposal.created_at, format: :decidim_short %>
  </td>

  <td class="table-list__actions">
    <% if allowed_to? :edit, :proposal, proposal: proposal %>
      <%= icon_link_to "pencil", edit_proposal_path(proposal), t("actions.edit_proposal", scope: "decidim.proposals"), class: "action-icon--edit-proposal" %>
    <% else %>
      <span class="action-space icon"></span>
    <% end %>

    <%= icon_with_link_to_proposal(proposal) %>

    <%= icon_link_to "eye", resource_locator(proposal).path, t("actions.preview", scope: "decidim.proposals.admin"), class: "action-icon--preview", target: :blank %>

    <%= resource_permissions_link(proposal) %>
  </td>
</tr>
