<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>

      <div class="button--title">

        <% if can? :create, Decidim::Proposals::Proposal %>
          <%= link_to t("actions.new", scope: "decidim.proposals", name: t("models.proposal.name", scope: "decidim.proposals.admin")), new_proposal_path, class: 'button tiny button--simple' if can? :manage, current_feature %>
        <% end %>

        <%= export_dropdown %>
      </div>
    </h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.proposal.fields.id", scope: "decidim.proposals") %></th>
            <th><%= t("models.proposal.fields.title", scope: "decidim.proposals") %></th>
            <th><%= t("models.proposal.fields.category", scope: "decidim.proposals") %></th>
            <% if scopes_enabled?(current_participatory_space) %>
              <th><%= t("models.proposal.fields.scope", scope: "decidim.proposals") %></th>
            <% end %>

            <th><%= t("models.proposal.fields.state", scope: "decidim.proposals") %></th>

            <% if current_settings.votes_enabled? %>
              <th><%= t("models.proposal.fields.votes", scope: "decidim.proposals") %></th>
            <% end %>

            <th class="actions"><%= t("actions.title", scope: "decidim.proposals") %></th>
          </tr>
        </thead>
        <tbody>
          <% proposals.each do |proposal| %>
            <tr data-id="<%= proposal.id %>">
              <td>
                <%= proposal.id %><br />
              </td>
              <td>
                <%= proposal.title %><br />
              </td>
              <td>
                <% if proposal.category %>
                  <%= translated_attribute proposal.category.name %>
                <% end %>
              </td>
              <% if scopes_enabled?(current_participatory_space) %>
                <td>
                  <% if proposal.scope %>
                    <%= translated_attribute proposal.scope.name %>
                  <% else %>
                    <%= t("decidim.scopes.global") %>
                  <% end %>
                </td>
              <% end %>
              <td>
                <strong class="<%= proposal_state_css_class proposal.state %>">
                  <%= humanize_proposal_state proposal.state %>
                </strong>
              </td>
              <% if current_settings.votes_enabled? %>
                <td>
                  <%= proposal.votes.count %>
                </td>
              <% end %>
              <td class="table-list__actions">
                <% if can? :update, proposal %>
                  <%= icon_link_to "conversation", edit_proposal_proposal_answer_path(proposal_id: proposal.id, id: proposal.id), t("actions.answer", scope: "decidim.proposals"), class: "action-icon--edit-answer" %>
                <% end %>
                <%= icon_link_to "eye", resource_locator(proposal).path, t("actions.preview", scope: "decidim.proposals.admin"), class: "action-icon--preview", target: :blank %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate proposals, theme: "decidim" %>
    </div>
  </div>
</div>
