<h2><%= t(".title") %></h2>

<div class="actions title">
  <%= link_to t("actions.all_proposals", scope: "decidim.proposals", name: t("models.proposal.name", scope: "decidim.proposals.admin")), proposals_path if can? :manage, current_feature %>
  |
  <%= link_to t("actions.reported_proposals", scope: "decidim.proposals", name: t("models.proposal.name", scope: "decidim.proposals.admin")), proposals_path(reported: true) if can? :manage, current_feature %>
  |
  <%= link_to t("actions.hidden_proposals", scope: "decidim.proposals", name: t("models.proposal.name", scope: "decidim.proposals.admin")), proposals_path(hidden: true) if can? :manage, current_feature %>

  <% if feature_settings.official_proposals_enabled %>
    |
    <%= link_to t("actions.new", scope: "decidim.proposals", name: t("models.proposal.name", scope: "decidim.proposals.admin")), new_proposal_path, class: 'new' if can? :manage, current_feature %>
  <% end %>
</div>

<table class="stack">
  <thead>
    <tr>
      <th><%= t("models.proposal.fields.title", scope: "decidim.proposals") %></th>
      <th><%= t("models.proposal.fields.category", scope: "decidim.proposals") %></th>
      <th><%= t("models.proposal.fields.scope", scope: "decidim.proposals") %></th>
      <% if params[:reported] || params[:hidden] %>
        <th><%= t("models.proposal.fields.reports", scope: "decidim.proposals") %></th>
      <% else %>
        <th><%= t("models.proposal.fields.state", scope: "decidim.proposals") %></th>
      <% end %>
      <th class="actions"><%= t("actions.title", scope: "decidim.proposals") %></th>
    </tr>
  </thead>
  <tbody>
    <% proposals.each do |proposal| %>
      <tr data-id="<%= proposal.id %>">
        <td>
          <%= link_to proposal.title, decidim_proposals.proposal_path(id: proposal, feature_id: current_feature, participatory_process_id: current_participatory_process), target: :blank %><br />
        </td>
        <td>
          <% if proposal.category %>
            <%= translated_attribute proposal.category.name %>
          <% end %>
        </td>
        <td>
          <% if proposal.scope %>
            <%= proposal.scope.name %>
          <% else %>
            <%= t("decidim.participatory_processes.scopes.global") %>
          <% end %>
        </td>
        <td>
          <% if params[:reported] || params[:hidden] %>
            <ul>
              <% proposal.reports.each do |report| %>
                <li>
                  <% if report.details.blank? %>
                    <%= report.reason %>
                  <% else %>
                    <span
                      data-tooltip
                      aria-haspopup="true"
                      class="has-tip"
                      title="<%= report.details %>">
                        <%= report.reason %>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <%= humanize_proposal_state proposal.state %>
          <% end %>
        </td>
        <td class="actions">
          <%= link_to t("actions.answer", scope: "decidim.proposals"), edit_proposal_proposal_answer_path(proposal_id: proposal.id, id: proposal.id) if can? :update, proposal %>
          <% if params[:reported] || params[:hidden] %>
            <% if can? :unreport, proposal %>
              | <%= link_to t("actions.unreport", scope: "decidim.proposals"), unreport_proposal_path(proposal), method: :put, class: "button" %>
            <% end %>
            <% if !proposal.hidden? && can?(:hide, proposal) %>
              | <%= link_to t("actions.hide", scope: "decidim.proposals"), hide_proposal_path(proposal), method: :put, class: "button" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
