<div class="component__show">
  <div class="card">
    <div class="component__show_header">
      <h2 class="component__show_header-title">
        <%= decidim_html_escape(present(proposal).title).html_safe %>
      </h2>
    </div>

    <div class="component__show_nav">
      <div class="component__show_nav-author">
        <div class="component__show_nav-circle">
          <svg viewBox="0 0 24 24" id="ri-award-line">
            <path fill="none" d="M0 0h24v24H0z"/>
            <path d="M17 15.245v6.872a.5.5 0 0 1-.757.429L12 20l-4.243 2.546a.5.5 0 0 1-.757-.43v-6.87a8 8 0 1 1 10 0zm-8 1.173v3.05l3-1.8 3 1.8v-3.05A7.978 7.978 0 0 1 12 17a7.978 7.978 0 0 1-3-.582zM12 15a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/>
          </svg>
        </div>
        <div>
          <% coauthor_presenters_for(proposal).each do |presented_author| %>
            <li class="component__show_nav-author-title">
              <%= link_to_if(
                presented_author.profile_path.present?,
                presented_author.name,
                presented_author.profile_path,
                target: :blank
              ) %>
              <% if presented_author.can_be_contacted? && presented_author.nickname != present(current_user).nickname %>
                <%= link_to "envelope-closed", current_or_new_conversation_path_with(presented_author), t("decidim.contact") %>
              <% end %>
            </li>
          <% end %>
          <span class="component__show_nav-author-date">
            <%= l proposal.created_at, format: :decidim_short %>
          </span>
        </div>
      </div>
      <div class="ml-auto">
        <%= link_to resource_locator(proposal).url, class: "button button__sm button__transparent-secondary" do %>
          <%= icon "arrow-left-line", class: "fill-current" %>
          <%= t ".link" %>
        <% end %>
      </div>
    </div>

    <div class="component__show_grid">
      <div class="component__show_grid-item">
        <div class="card-section">
          <div class="row column">
            <span class="component__show-title"><%= t ".body" %></span>
            <p class="component__show-text">
              <%= present(proposal).body %>
            </p>
          </div>
        </div>
        <div class="card-section">
          <div class="row column">
            <span class="component__show-title"><%= t ".endorsers" %></span>
              <ul id="proposal-endorsers-list">
                <% presented_endorsers = endorsers_presenters_for(proposal).to_a %>
                <% presented_endorsers.first(5).each do |presented_endorser| %>
                  <li>
                    <%= link_to_if(
                      presented_endorser.profile_path.present?,
                      presented_endorser.name,
                      presented_endorser.profile_path,
                      target: :blank
                    ) %>
                  </li>
                <% end %>
                <% if presented_endorsers.count > 5 %>
                  <li>
                    <%= link_to(
                        t(".n_more_endorsers", count: presented_endorsers.count - 5),
                        resource_locator(proposal).path
                    ) %>
                  </li>
                <% end %>
              </ul>
          </div>
        </div>
        <% if proposal.documents.any? %>
          <div class="card-section">
            <div class="row column">
              <strong><%= t ".documents" %>:</strong>
                <ul id="documents">
                  <% proposal.documents.each do |document| %>
                    <li>
                      <%= link_to translated_attribute(document.title), document.url %>
                      <small><%= document.file_type %> <%= number_to_human_size(document.file_size) %></small>
                    </li>
                  <% end %>
                </ul>
            </div>
          </div>
        <% end %>
        <% if proposal.photos.any? %>
          <div class="card-section">
            <div class="row column">
              <strong><%= t(".photos") %>:</strong>
              <div id="photos" class="gallery row" data-gallery>
                <% proposal.photos.each do |photo| %>
                  <%= link_to photo.big_url, target: "_blank", rel: "noopener" do %>
                    <%= image_tag photo.thumbnail_url, class:"thumbnail", alt: strip_tags(translated_attribute(photo.title)) %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="card-section">
          <div class="row column">
            <span class="component__show-title"><%= t ".related_meetings" %></span>
              <ul id="related-meetings">
                <% proposal.linked_resources(:meetings, "proposals_from_meeting").each do |meeting| %>
                  <% presented_meeting = present(meeting) %>
                  <li>
                    <%= link_to presented_meeting.title, presented_meeting.profile_path %>
                  </li>
                <% end %>
              </ul>
          </div>
        </div>
        <% if allowed_to?(:create, :proposal_note, proposal: proposal) %>
          <div class="card-section">
            <%= render "decidim/proposals/admin/proposal_notes/proposal_notes" %>
          </div>
        <% end %>

        <% if allowed_to?(:create, :proposal_answer, proposal: proposal) && !proposal.emendation? %>
          <div class="card-section">
            <%= render "decidim/proposals/admin/proposal_answers/form" %>
          </div>
        <% end %>
      </div>
      <div class="component__show_grid-item">
        <div class="card-section">
          <div class="row column">
            <span class="component__show-title"><%= t("models.proposal.fields.category", scope: "decidim.proposals") %></span>
            <div class="flex items-center gap-x-2 mt-2">
              <svg class="fill-gray" viewBox="0 0 24 24" id="ri-price-tag-3-line">
                <path fill="none" d="M0 0h24v24H0z"/>
                <path d="M10.9 2.1l9.899 1.415 1.414 9.9-9.192 9.192a1 1 0 0 1-1.414 0l-9.9-9.9a1 1 0 0 1 0-1.414L10.9 2.1zm.707 2.122L3.828 12l8.486 8.485 7.778-7.778-1.06-7.425-7.425-1.06zm2.12 6.364a2 2 0 1 1 2.83-2.829 2 2 0 0 1-2.83 2.829z"/>
              </svg>
              <p class="component__show-icon-text">
                <%= translated_attribute proposal.category.name %>
              </p>
            </div>
          </div>
        </div>
        <div class="card-section">
          <div class="row column">
            <span class="component__show-title"><%= t("models.proposal.fields.scope", scope: "decidim.proposals") %></span>
            <div class="flex items-center gap-x-2 mt-2">
              <svg class="fill-gray" viewBox="0 0 24 24" id="ri-scan-line">
                <path fill="none" d="M0 0h24v24H0z"/>
                <path d="M5.671 4.257L13.414 12 12 13.414l-6.32-6.32a8 8 0 1 0 3.706-2.658L7.85 2.9A9.963 9.963 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12a9.98 9.98 0 0 1 3.671-7.743z"/>
              </svg>
              <p class="component__show-icon-text">
                <%= translated_attribute proposal.scope.name %>
              </p>
            </div>
          </div>
        </div>

        <div class="card-section">
          <div class="row column">
            <span class="component__show-title"><%= t ".votes_count" %></span>
            <div class="flex items-center gap-x-2 mt-2">
              <svg class="fill-gray" viewBox="0 0 24 24" id="ri-service-line">
                <path fill="none" d="M0 0h24v24H0z"/>
                <path d="M3.161 4.469a6.5 6.5 0 0 1 8.84-.328 6.5 6.5 0 0 1 9.178 9.154l-7.765 7.79a2 2 0 0 1-2.719.102l-.11-.101-7.764-7.791a6.5 6.5 0 0 1 .34-8.826zm1.414 1.414a4.5 4.5 0 0 0-.146 6.21l.146.154L12 19.672l5.303-5.304-3.535-3.535-1.06 1.06a3 3 0 1 1-4.244-4.242l2.102-2.103a4.501 4.501 0 0 0-5.837.189l-.154.146zm8.486 2.828a1 1 0 0 1 1.414 0l4.242 4.242.708-.706a4.5 4.5 0 0 0-6.211-6.51l-.153.146-3.182 3.182a1 1 0 0 0-.078 1.327l.078.087a1 1 0 0 0 1.327.078l.087-.078 1.768-1.768z"/>
              </svg>
              <p class="component__show-icon-text">
                <%= proposal.proposal_votes_count %>
              </p>
              <div class="flex items-center gap-x-2 border-l border-gray pl-2">
                <svg class="fill-gray" viewBox="0 0 24 24" id="ri-bar-chart-2-line">
                  <path fill="none" d="M0 0h24v24H0z"/>
                  <path d="M2 13h6v8H2v-8zm14-5h6v13h-6V8zM9 3h6v18H9V3zM4 15v4h2v-4H4zm7-10v14h2V5h-2zm7 5v9h2v-9h-2z"/>
                </svg>
                <p class="component__show-icon-text">
                  <%= i18n_votes_ranking_for(proposal) %>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-section">
          <div class="row column">
            <span class="component__show-title"><%= t ".endorsements_count" %></span>
            <div class="flex items-center gap-x-2 mt-2">
              <svg class="fill-gray" viewBox="0 0 24 24" id="ri-heart-add-line">
                <path fill="none" d="M0 0H24V24H0z"/>
                <path d="M19 14v3h3v2h-3.001L19 22h-2l-.001-3H14v-2h3v-3h2zm1.243-9.243c2.262 2.268 2.34 5.88.236 8.235l-1.42-1.418c1.331-1.524 1.261-3.914-.232-5.404-1.503-1.499-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.991-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451l8.432 8.446L12 21.485 3.52 12.993c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228 2.349-2.109 5.979-2.039 8.242.228z"/>
              </svg>
              <p class="component__show-icon-text">
                <%= proposal.endorsements_count %>
              </p>
              <div class="flex items-center gap-x-2 border-l border-gray pl-2">
                <svg class="fill-gray" viewBox="0 0 24 24" id="ri-bar-chart-2-line">
                  <path fill="none" d="M0 0h24v24H0z"/>
                  <path d="M2 13h6v8H2v-8zm14-5h6v13h-6V8zM9 3h6v18H9V3zM4 15v4h2v-4H4zm7-10v14h2V5h-2zm7 5v9h2v-9h-2z"/>
                </svg>
                <p class="component__show-icon-text">
                  <%= i18n_endorsements_ranking_for(proposal) %>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-section">
          <div class="row column">
            <span class="component__show-title"><%= t ".comments_count" %></span>
            <div class="flex items-center gap-x-2 mt-2">
              <svg class="fill-gray" viewBox="0 0 24 24" id="ri-chat-1-line">
                <path fill="none" d="M0 0h24v24H0z"/>
                <path d="M10 3h4a8 8 0 1 1 0 16v3.5c-5-2-12-5-12-11.5a8 8 0 0 1 8-8zm2 14h2a6 6 0 1 0 0-12h-4a6 6 0 0 0-6 6c0 3.61 2.462 5.966 8 8.48V17z"/>
              </svg>
              <p class="component__show-icon-text">
                <%= proposal.comments_count %>
              </p>
              <div class="flex items-center gap-x-3 border-l border-gray pl-2">
                <div>
                  <p class="component__show-icon-text">
                    <svg class="fill-gray" viewBox="0 0 24 24" id="ri-thumb-up-line">
                      <path fill="none" d="M0 0h24v24H0z"/>
                      <path d="M14.6 8H21a2 2 0 0 1 2 2v2.104a2 2 0 0 1-.15.762l-3.095 7.515a1 1 0 0 1-.925.619H2a1 1 0 0 1-1-1V10a1 1 0 0 1 1-1h3.482a1 1 0 0 0 .817-.423L11.752.85a.5.5 0 0 1 .632-.159l1.814.907a2.5 2.5 0 0 1 1.305 2.853L14.6 8zM7 10.588V19h11.16L21 12.104V10h-6.4a2 2 0 0 1-1.938-2.493l.903-3.548a.5.5 0 0 0-.261-.571l-.661-.33-4.71 6.672c-.25.354-.57.644-.933.858zM5 11H3v8h2v-8z"/>
                    </svg>
                    <%= proposal.comments.positive.count %>
                  </p>
                </div>
                <div>
                  <p class="component__show-icon-text">
                    <svg class="fill-gray" viewBox="0 0 24 24" id="ri-scales-line">
                      <path fill="none" d="M0 0H24V24H0z"/>
                      <path d="M13 2v1h7v2h-7v14h4v2H7v-2h4V5H4V3h7V2h2zM5 6.343l2.828 2.829C8.552 9.895 9 10.895 9 12c0 2.21-1.79 4-4 4s-4-1.79-4-4c0-1.105.448-2.105 1.172-2.828L5 6.343zm14 0l2.828 2.829C22.552 9.895 23 10.895 23 12c0 2.21-1.79 4-4 4s-4-1.79-4-4c0-1.105.448-2.105 1.172-2.828L19 6.343zM5 9.172l-1.414 1.414C3.212 10.96 3 11.46 3 12c0 1.105.895 2 2 2s2-.895 2-2c0-.54-.212-1.04-.586-1.414L5 9.172zm14 0l-1.414 1.414C17.212 10.96 17 11.46 17 12c0 1.105.895 2 2 2s2-.895 2-2c0-.54-.212-1.04-.586-1.414L19 9.172z"/>
                    </svg>
                    <%= proposal.comments.neutral.count %>
                  </p>
                </div>
                <div>
                  <p class="component__show-icon-text">
                    <svg class="fill-gray" viewBox="0 0 24 24" id="ri-thumb-up-fill">
                      <path fill="none" d="M0 0h24v24H0z"/>
                      <path d="M2 9h3v12H2a1 1 0 0 1-1-1V10a1 1 0 0 1 1-1zm5.293-1.293l6.4-6.4a.5.5 0 0 1 .654-.047l.853.64a1.5 1.5 0 0 1 .553 1.57L14.6 8H21a2 2 0 0 1 2 2v2.104a2 2 0 0 1-.15.762l-3.095 7.515a1 1 0 0 1-.925.619H8a1 1 0 0 1-1-1V8.414a1 1 0 0 1 .293-.707z"/>
                    </svg>
                    <%= proposal.comments.negative.count %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if proposal.valuators.any? %>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">
          <%= t ".valuators" %>
        </h2>
      </div>

      <div class="card-section">
        <div class="row column">
          <strong><%= t ".assigned_valuators" %>:</strong>
          <ul id="valuators">
            <% proposal.valuation_assignments.each do |assignment| %>
              <% presented_valuator = present(assignment.valuator) %>
                <li>
                  <%= link_to(
                    presented_valuator.name,
                    presented_valuator.profile_path,
                    target: :blank
                  ) %>

                  <% if allowed_to? :unassign_from_valuator, :proposals, valuator: assignment.valuator %>
                    <%= icon_link_to(
                      "circle-x",
                      proposal_valuation_assignment_path(proposal, assignment.valuator_role),
                      t(".remove_assignment"),
                      method: :delete,
                      data: { confirm: t(".remove_assignment_confirmation") },
                      class: "red-icon"
                    ) %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
