<div class="row">
  <div class="columns small-12 medium-6">
    <pre>Encuentro</pre>
    <article class="card card--meeting">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "datetime", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div>
              <strong><%= Faker::Date.forward(365).strftime("%e %B %Y") %></strong>&nbsp;·&nbsp;<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "meetings", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div class="text-left">
              <div class="card__icondata--address">
                <strong><%= Faker::Address.community %></strong>
                <br>
                <span><%= Faker::Address.street_address %>&nbsp;<%= Faker::Address.zip %>&nbsp;<%= Faker::Address.city %></span>
              </div>
              <a href="">Como llegar</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
            </a>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bullhorn", class: "icon--small", aria_label: "Respaldos", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <button class="card__button button button--sc small">
            Asistir
          </button>
        </div>
      </div>
    </article>
  </div>
  <div class="columns small-12 medium-6">
    <pre>Encuentro asistiendo</pre>
    <article class="card card--meeting">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "datetime", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div>
              <strong><%= Faker::Date.forward(365).strftime("%e %B %Y") %></strong>&nbsp;·&nbsp;<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "meetings", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div class="text-left">
              <div class="card__icondata--address">
                <strong><%= Faker::Address.community %></strong>
                <br>
                <span><%= Faker::Address.street_address %>&nbsp;<%= Faker::Address.zip %>&nbsp;<%= Faker::Address.city %></span>
              </div>
              <a href="">Como llegar</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
            </a>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bullhorn", class: "icon--small", aria_label: "Respaldos", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <button class="card__button button secondary button--sc small light">
            <%= icon "check", class: "icon--small" %>&nbsp;Asistiendo
          </button>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="row">
  <div class="columns small-12 medium-6">
    <pre>Encuentro sin link a mapa</pre>
    <article class="card card--meeting">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "datetime", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div>
              <strong><%= Faker::Date.forward(365).strftime("%e %B %Y") %></strong>&nbsp;·&nbsp;<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "meetings", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div class="text-left">
              <div class="card__icondata--address">
                <strong><%= Faker::Address.community %></strong>
                <br>
                <span><%= Faker::Address.street_address %>&nbsp;<%= Faker::Address.zip %>&nbsp;<%= Faker::Address.city %></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
            </a>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bullhorn", class: "icon--small", aria_label: "Respaldos", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <button class="card__button button button--sc small">
            Asistir
          </button>
        </div>
      </div>
    </article>
  </div>
  <div class="columns small-12 medium-6">
    <pre>Encuentro con menos información</pre>
    <article class="card card--meeting">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "datetime", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div>
              <strong><%= Faker::Date.forward(365).strftime("%e %B %Y") %></strong>&nbsp;·&nbsp;<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
            </a>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bullhorn", class: "icon--small", aria_label: "Respaldos", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <button class="card__button button button--sc small">
            Asistir
          </button>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="row">
  <div class="columns small-12 medium-6">
    <pre>Encuentro sin posibilidad de seguir</pre>
    <article class="card card--meeting">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "datetime", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div>
              <strong><%= Faker::Date.forward(365).strftime("%e %B %Y") %></strong>&nbsp;·&nbsp;<%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "meetings", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div class="text-left">
              <div class="card__icondata--address">
                <strong><%= Faker::Address.community %></strong>
                <br>
                <span><%= Faker::Address.street_address %>&nbsp;<%= Faker::Address.zip %>&nbsp;<%= Faker::Address.city %></span>
              </div>
              <a href="">Como llegar</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bullhorn", class: "icon--small", aria_label: "Respaldos", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <button class="card__button button secondary button--sc small light">
            <%= icon "check", class: "icon--small" %>&nbsp;Asistiendo
          </button>
        </div>
      </div>
    </article>
  </div>
  <div class="columns small-12 medium-6">
    <pre>Encuentro con fechas en diferentes días</pre>
    <article class="card card--meeting">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "datetime", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div class="card-data__item--multiple">
              <div>
                <strong><%= Faker::Date.forward(365).strftime("%e %B %Y") %></strong>
                <%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>
              </div>
              <%= icon "arrow-thin-right", class: "icon--big muted" %>
              <div>
                <strong><%= Faker::Date.forward(365).strftime("%e %B %Y") %></strong>
                <%= Faker::Time.forward(365, :evening).strftime("%R") %> - <%= Faker::Time.forward(365, :evening).strftime("%R") %>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "meetings", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div class="text-left">
              <div class="card__icondata--address">
                <strong><%= Faker::Address.community %></strong>
                <br>
                <span><%= Faker::Address.street_address %>&nbsp;<%= Faker::Address.zip %>&nbsp;<%= Faker::Address.city %></span>
              </div>
              <a href="">Como llegar</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bullhorn", class: "icon--small", aria_label: "Respaldos", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <button class="card__button button secondary button--sc small light">
            <%= icon "check", class: "icon--small" %>&nbsp;Asistiendo
          </button>
        </div>
      </div>
    </article>
  </div>
</div>
