<div class="row">
  <div class="columns small-12 medium-6">
    <pre>Member</pre>
    <article class="card card--member">
      <div class="card__content">
        <div class="card__header collapse">
          <%= partial "author_data", { big: true, verified: false, nick: Faker::Boolean.boolean } %>
        </div>
        <div class="card__text card--picture-offset">
          <div><small><strong><%= Faker::Company.profession.capitalize %></strong></small></div>
          <div><small><%= Faker::Movies::StarWars.vehicle %></small></div>
          <div class="text-small">Designated on <strong><%= Faker::Date.backward(365).strftime("%D") %></strong></div>
          <div class="text-small mt-s"><%= Faker::Demographic.sex %> / <%= Faker::Number.number(digits: 2) %> / <%= Faker::Address.city %></div>
        </div>
      </div>
    </article>
  </div>
</div>
