<div class="row">
  <div class="columns small-12 medium-6">
    <pre>Proyecto aceptado</pre>
    <article class="card card--project success">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <span class="card__text--status success">aceptada</span><%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
        <ul class="tags tags--proposal">
          <li>
            <a href="#">
              El Raval
            </a>
          </li>
          <li>
            <a href="#">Transició ecològica</a>
          </li>
        </ul>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "euro-outline", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div class="text-left text-uppercase">
              <strong class="heading4"><%= number_to_currency(Faker::Number.between(from: 5000, to: 100000), locale: :es, precision: 0) %></strong>&nbsp;<small>of budget</small>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <div class="text-uppercase">
            <strong class="text-large"><%= Faker::Number.between(from: 0, to: 1000) %></strong>
            <small class="text-medium">votos recibidos</small>
          </div>
          <button class="card__button button button--sc secondary light small">
            Vota
          </button>
        </div>
      </div>
    </article>
  </div>
  <div class="columns small-12 medium-6">
    <pre>Proyecto rechazado</pre>
    <article class="card card--project alert">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <span class="card__text--status alert">rechazado</span><%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
        <ul class="tags tags--proposal">
          <li>
            <a href="#">
              El Raval
            </a>
          </li>
          <li>
            <a href="#">Transició ecològica</a>
          </li>
        </ul>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "euro-outline", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div class="text-left text-uppercase">
              <strong class="heading4"><%= number_to_currency(Faker::Number.between(from: 5000, to: 100000), locale: :es, precision: 0) %></strong>&nbsp;<small>of budget</small>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <div class="text-uppercase">
            <strong class="text-large"><%= Faker::Number.between(from: 0, to: 1000) %></strong>
            <small class="text-medium">votos recibidos</small>
          </div>
          <button class="card__button button button--sc secondary light small">
            Vota
          </button>
        </div>
      </div>
    </article>
  </div>
</div>
