<div class="row">
  <div class="columns small-12 medium-6">
    <pre>Procesos apilados</pre>
    <article class="card card--process card--stack">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
        <ul class="tags tags--proposal">
          <li>
            <a href="#">
              El Raval
            </a>
          </li>
          <li>
            <a href="#">Transició ecològica</a>
          </li>
        </ul>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <strong>Processes:&nbsp;</strong><%= Faker::Number.between(from: 0, to: 100) %>
          </li>
        </ul>
      </div>
      <div class="card__footer card__footer--spaces">
        <div class="card__support">
          <button class="card__button button button--sc secondary light small">
            Navegar
          </button>
        </div>
      </div>
    </article>
  </div>
</div>
