<div class="row">
  <div class="columns small-12 medium-6">
    <pre>Procesos apilados</pre>
    <article class="card card--process card--stack">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <%= Faker::Hipster.paragraph[0..140] %>
          </div>
          <a class="card__text--category">#<%= Faker::Types.rb_string %></a>
        </div>
      </div>
      <div class="card__icondata">
        <ul class="card-data">
          <li class="card-data__item">
            <%= icon "datetime", class: "icon--big" %>
          </li>
          <li class="card-data__item">
            <div class="card-data__item--centerblock">
              <strong>Comienzo</strong>&nbsp;<%= Faker::Date.forward(365).strftime("%d/%m/%y") %>
            </div>
          </li>
          <li class="card-data__item">
            <div class="card-data__item--centerblock">
              <strong>Fin</strong>&nbsp;<%= Faker::Date.forward(365).strftime("%d/%m/%y") %>
            </div>
          </li>
        </ul>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
            </a>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bullhorn", class: "icon--small", aria_label: "Respaldos", role: "img" %>
              <%= Faker::Number.between(0, 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer card__footer--spaces">
        <div class="card__support">
          <div class="card__support__data--left">
            <div class="text-uppercase">Fase actual</div>
            <div class="text-ellipsis"><strong><%= Faker::Company.catch_phrase %></strong></div>
          </div>
          <button class="card__button button button--sc secondary light small">
            participar
          </button>
        </div>
      </div>
    </article>
  </div>
</div>
