<div class="row">
  <div class="columns small-12 medium-6">
    <pre>Encuesta</pre>
    <article class="card card--survey">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <div class="text-uppercase">
            <strong class="text-large"><%= Faker::Number.between(from: 0, to: 1000) %></strong>
            <small class="text-medium">respuestas</small>
          </div>
          <button class="card__button button button--sc secondary light small">
            Responder
          </button>
        </div>
      </div>
    </article>
  </div>
  <div class="columns small-12 medium-6">
    <pre>Encuesta con identificador</pre><br>
    <article class="card card--survey">
      <div class="card__label"><%= icon "task", class: "icon--big" %>&nbsp;encuesta</div>
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <div class="text-uppercase">
            <strong class="text-large"><%= Faker::Number.between(from: 0, to: 1000) %></strong>
            <small class="text-medium">respuestas</small>
          </div>
          <button class="card__button button button--sc secondary light small">
            Responder
          </button>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="row">
  <div class="columns small-12 medium-6">
    <pre>Encuesta cerrada</pre>
    <article class="card card--survey alert">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <span class="card__text--status alert">cerrada</span><%= Faker::Hipster.paragraph[0..140] %>
          </div>
        </div>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <div class="text-uppercase">
            <strong class="text-large"><%= Faker::Number.between(from: 0, to: 1000) %></strong>
            <small class="text-medium">respuestas</small>
          </div>
          <button class="card__button button button--sc secondary light small">
            Visitar
          </button>
        </div>
      </div>
    </article>
  </div>
  <div class="columns small-12 medium-6">
    <pre>Encuesta publicada</pre>
    <article class="card card--survey success">
      <div class="card__content">
        <div class="card__header">
          <%= link_to page_path("proposal-view"), class: "card__link" do %>
            <h5 class="card__title">
              <%= Faker::Movies::StarWars.quote[0..75] %>
            </h5>
          <% end %>
        </div>
        <div class="card__text">
          <div class="card__text--paragraph">
            <span class="card__text--status success">resultado publicado</span><%= Faker::Hipster.paragraph[0..120] %>
          </div>
        </div>
      </div>
      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item">
            <%= Faker::Date.backward(725).strftime("%d/%m/%Y") %>
          </li>
          <li class="card-data__item">
            <a href="">
              <%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;Follow
            </a>
          </li>
          <li class="card-data__item">
            <a href="" title="Comentarios">
              <%= icon "comment-square", class: "icon--small", aria_label: "Comentarios", role: "img" %>
              <%= Faker::Number.between(from: 0, to: 100) %>
            </a>
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <div class="text-uppercase">
            <strong class="text-large"><%= Faker::Number.between(from: 0, to: 1000) %></strong>
            <small class="text-medium">respuestas</small>
          </div>
          <button class="card__button button button--sc secondary light small">
            Ver resultados
          </button>
        </div>
      </div>
    </article>
  </div>
</div>
