<div class="comment__as">
  <button id="dropdown-trigger-<%= comment_as_id %>" data-component="dropdown" data-target="dropdown-menu-<%= comment_as_id %>" data-comments-dropdown>
    <div class="comment__as-author-selected">
      <label class="ml-10 text-left text-xs" for="<%= comment_as_id %>">
        <%= t("decidim.components.add_comment_form.form.user_group_id.your_profile") %>
      </label>
      <span class="flex items-center gap-2"></span>
    </div>
    <%= icon "arrow-down-s-line" %>
    <%= icon "arrow-up-s-line" %>
  </button>

  <ul id="dropdown-menu-<%= comment_as_id %>" class="gap-4">
    <% comment_as_options.each do |option| %>
      <li class="comment__as-author-container">
        <div class="comment__as-author-info">
          <div class="author__avatar-container border border-white">
            <%= image_tag option[0].avatar_url(:thumb), alt: t("decidim.author.avatar", name: option[0].name), class: "author__avatar" %>
          </div>

          <p class="comment__as-author-name"><%= option[0].name %></p>
        </div>

        <input type="radio" name="comment[user_group_id]" class="w-5 h-4" value="<%= option[1] %>">
      </li>
    <% end %>
  </ul>
</div>
