<div class="profile__activity__item" id="<%= element_id %>" data-activity>
  <div class="profile__activity__item-time">
    <%= created_at %>
  </div>
  <div class="profile__activity__item-content">
    <span>
      <%= title if title.present? %>
      <a href="<%= resource_link_path %>">
        <%= html_truncate decidim_sanitize(resource_link_text, strip_tags: true), length: 80 %>
      </a>
    </span>
    <span>
      <%= icon "treasure-map-line", class: "w-3.5 h-3.5 text-gray fill-current" %>
      <%= participatory_space_link %>
    </span>
    <% if show_author? %>
      <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
        <%= author %>
      </div>
    <% end %>
  </div>
</div>
