<article class="card card--widget">
  <ul class="card-data">
    <li class="card-data__item">
      <div class="card__link text-center">
        <%= resource_icon resource, class: "icon--large", role: "img" %>
        <span class="text-medium mt-xs"><%= created_at %></span>
      </div>
    </li>
    <li class="card-data__item card-data__item--expand">
      <div>
        <%= author %>
        <% if title.present? %>
          <span class="text-small"><%= title %></span>
        <% end %>
        <br>
        <%= link_to resource_link_path, class: "card__link" do %>
          <span class="card__title mb-none">
            <%= html_truncate decidim_sanitize(resource_link_text, strip_tags: true), length: 100 %>
          </span>
        <% end %>
        <%= description %>
      </div>
    </li>
  </ul>
</article>
