<div class="row column">
  <%= form.text_field :name, label: t('.name') %>

  <%= form.fields_for :authorization, form.object.authorization, builder: Decidim::AuthorizationFormBuilder do |f| %>
    <% if lookup_context.exists?(form.object.authorization.to_partial_path, [], true) %>
      <%= render partial: form.object.authorization.to_partial_path, locals: { handler: form.object.authorization, form: f } %>
    <% else %>
      <%= f.all_fields %>
    <% end %>
    <%= f.hidden_field :handler_name %>
  <% end %>
</div>
