<div class="card card--list">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".select_authorization_method" %></h2>
  </div>
  <div class="card-section">
    <% available_authorization_handlers.each do |handler| %>
      <div class="card--list__item">
        <div class="card--list__text">
          <a href="#">
            <%= icon "lock-locked", class: "card--list__icon" %>
          </a>
          <div>
            <h5 class="card--list__heading">
              <%= link_to handler.fullname, new_managed_user_path(handler_name: handler.name) %>
            </h5>
          </div>
        </div>
        <div class="card--list__data">
          <%= link_to new_managed_user_path(handler_name: handler.name), class: "card--list__data__icon" do %>
            <%= icon "chevron-right" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
