<div class="card">
  <div class="p-s">
    <div class="card__header">
      <%= link_to meeting_path, class: "card__link" do %>
        <span class="card__title">
          <%= title %>
        </span>
      <% end %>
    </div>
    <div class="card__text">
      <div class="row collapse text-medium">
        <time datetime="<%= l(model.start_time, format: :long_dashed) %>" class="column medium-4 icon--container">
          <%= icon "datetime", class: "primary", role: "img", "aria-hidden": true %>
          &nbsp;
          <%= l start_date, format: :decidim_with_month_name %>
          &nbsp;-&nbsp;
          <%= formatted_start_time %>
        </time>
        <span class="column medium-8">
          <%= participatory_space_class_name %>
          &nbsp;
          <%= link_to participatory_space_title, participatory_space_path %>
        </span>
      </div>
    </div>
  </div>
</div>
