<% if params["postal_codes"].present?
  postal_codes = params["postal_codes"].split(",") %>
  <p><%= t("extra_explanation.postal_codes", scope: "decidim.verifications.dummy_authorization", postal_codes: postal_codes.join(", "), count: postal_codes.count, user_postal_code: params["user_postal_code"]) %></p>
<% end %>

<div class="form__wrapper" data-partial-demo>
  <%= form.hidden_field :handler_name %>
  <%= form.text_field :document_number %>
  <%= form.text_field :postal_code %>
  <div class="row">
    <%= form.date_field :birthday %>
  </div>
</div>
