<table class="question-matrix table">
  <thead>
    <tr>
      <td></td>
      <% answer.question.answer_options.each_with_index do |answer_option, idx| %>
        <td class="pull-right"><%= translated_attribute(answer_option.body) %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% answer.question.matrix_rows.each_with_index do |row, row_idx| %>
      <tr class="radio-button-collection">
        <td><%= translated_attribute row.body %></td>
        <% answer.question.answer_options.each_with_index do |answer_option, idx| %>
          <% choice = answer.choices.first %>
          <% choice_id = "#{field_id}_matrix_row_#{row_idx}_choice_#{idx}" %>
          <td class="pull-right">
            <div class="collection-input">
              <%= radio_button_tag "questionnaire[answers][#{answer_idx}][choices][][body]",
                                    translated_attribute(answer_option.body),
                                    answer_option.id == choice.try(:answer_option_id),
                                    id: "#{choice_id}_body", disabled: disabled %>
              <%= hidden_field_tag "questionnaire[answers][#{answer_idx}][choices][][answer_option_id]",
                                    answer_option.id,
                                    id: "#{choice_id}_answer_option",
                                    disabled: true %>
              <% if answer_option.free_text %>
                <%= text_field_tag "questionnaire[answers][#{answer_idx}][choices][][custom_body]",
                choice.try(:custom_body),
                id: "#{choice_id}_custom_body",
                disabled: true %>
              <% end %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>