<div class="answer-questionnaire__sorting-container js-sortable-check-box-collection">
  <%
    # This is a block that aims to identify the order to the answer questions, and if there is an user answer, use that
    # to order the date that needs to be displayed. It is done like this to help with edit user answer form
  %>
  <% ordering = answer.question.answer_options.pluck(:id) %>
  <% if answer.selected_choices.present? %>
    <% ordering = answer.selected_choices.map(&:answer_option_id) %>
  <% end %>

  <% ids_for_order = ordering.map.with_index { |id, index| "#{id}=#{index + 1}" }.join(", ") %>

  <% answer.question.reload.answer_options.reorder(Arel.sql("POSITION(id::text in '#{ids_for_order}')")).each_with_index do |answer_option, idx| %>
    <% choice = answer.selected_choices.find { |choice| choice.answer_option_id == answer_option.id } %>

    <div class="answer-questionnaire__sorting js-collection-input" role="button">
      <%= translated_attribute(answer_option.body) %>

      <%= icon "drag-move-2-line" %>

      <%= hidden_field_tag "questionnaire[responses][#{answer_idx}][choices][#{idx}][position]", choice.try(:position) %>
      <%= hidden_field_tag "questionnaire[responses][#{answer_idx}][choices][#{idx}][body]", translated_attribute(answer_option.body) %>
      <%= hidden_field_tag "questionnaire[responses][#{answer_idx}][choices][#{idx}][answer_option_id]", answer_option.id %>
    </div>
  <% end %>
</div>
