<% present(user) do |profile_user| %>
  <div class="column">
    <div class="card card--member">
      <div class="card__content">
        <div class="card__header collapse">
          <div class="author-data author-data--big">
            <div class="author-data__main">
              <div class="author author--flex">
                <%= link_to profile_user.profile_path, class: "author__avatar" do %>
                  <%= image_tag profile_user.avatar_url(:thumb) %>
                <% end %>
                <div>
                  <div class="author__name--container">
                    <%= link_to profile_user.name, profile_user.profile_path, class: "author__name" %>
                    <% if profile_user.badge.present? %>
                      <%= icon profile_user.badge, class: "author__verified" %>
                    <% end %>
                  </div>
                  <%= link_to profile_user.nickname, profile_user.profile_path, class: "author__nickname" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__text card--picture-offset">
          <p><%= html_truncate decidim_html_escape(profile_user.about.to_s), length: 80 %></p>
          <%= render partial: "decidim/shared/follow_button.html", locals: { followable: user } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
