<main class="wrapper">
  <div class="row">
    <div class="columns medium-9 medium-offset-3">
      <ul class="tabs" id="profile-tabs">
        <% if current_user && current_user == user %>
          <li class="tabs-title<%= " is-active" if active_content == "notifications" %>">
            <%= aria_selected_link_to t(".notifications"), profile_notifications_path(nickname: user.nickname), aria_link_type: active_content == "notifications" %>
          </li>
        <% end %>
        <li class="tabs-title<%= " is-active" if active_content == "following" %>">
          <%= aria_selected_link_to t(".following"), profile_following_path(nickname: user.nickname), aria_link_type: active_content == "following" %>
        </li>
        <li class="tabs-title<%= " is-active" if active_content == "followers" %>">
          <%= aria_selected_link_to t(".followers"), profile_followers_path(nickname: user.nickname), aria_link_type: active_content == "followers" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-3">
      <%= cell "decidim/user_profile_sidebar", user, context: { current_user: current_user } %>
    </div>
    <div class="columns medium-9">
      <div class="tabs-content" data-tabs-content="profile-tabs">
        <div class="tabs-panel is-active">
          <% if active_content == "notifications" %>
            <%= cell "decidim/notifications", current_user, context: { current_user: current_user } %>
          <% elsif active_content == "following" %>
            <%= cell "decidim/following", user, context: { current_user: current_user } %>
          <% elsif active_content == "followers" %>
            <%= cell "decidim/followers", user, context: { current_user: current_user } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
