<% add_decidim_page_title(user.nickname) %>

<main class="wrapper">
  <% present(user) do |profile_user| %>
    <div class="user-header row collapse">
      <div class="columns">
        <div class="user-header__main">
          <div class="user-header__avatar">
            <%= image_tag profile_user.avatar_url(:big) %>
          </div>

          <h1 class="heading1 user-header__heading">
            <strong><%= profile_user.name %></strong>
            <div class="user-nickname">
              <%= profile_user.nickname %>
              <span class="user-contact_link">
                <%= link_to_current_or_new_conversation_with(user) %>
              </span>
            </div>

          <% if current_user && current_user != user %>
            <%= render partial: "decidim/shared/follow_button", locals: { followable: user } %>
          <% end %>
          </h1>
        </div>
      </div>
    </div>

    <% if profile_user.officialized? %>
      <div class="row">
        <div class="mediumlarge-6 large-6">
          <div class="card">
            <div class="badge-card__content">
              <span>
                <%= icon "verified-badge" %>
              </span>

              <span>
                <%= translated_attribute(profile_user.officialized_as).presence || t("decidim.profiles.default_officialization_text") %>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</main>
