<%= render("election_votes_header", header_title: t("decidim.elections.votes.header.confirmed")) %>

<div class="focus__content evote">
  <div class="row">
    <div class="vote-confirmed-processing">
      <div class="row">
        <h1 class="heading2">
          <%= t("decidim.elections.votes.processing.header") %>
        </h1>
        <div class="evote__encrypting" aria-hidden="true">
          <div class="evote__dot"></div>
          <div class="evote__dot"></div>
          <div class="evote__dot"></div>
          <div class="evote__dot"></div>
          <div class="evote__dot"></div>
          <div class="evote__dot"></div>
          <div class="evote__dot"></div>
        </div>
        <p>
          <%= t("decidim.elections.votes.processing.text") %>
        </p>
      </div>
    </div>

    <div class="vote-confirmed-result" data-message-id="<%= message_id %>" data-vote-id="<%= vote_id %>" data-error="<%= t("decidim.elections.votes.confirmed.error") %>">
      <h1 class="heading2">
        <%= t("decidim.elections.votes.confirmed.header") %>
      </h1>

      <h2 class="h4"><%= t("decidim.elections.votes.confirmed.lead") %></h2>
      <div class="evote__content">
        <%= t("decidim.elections.votes.confirmed.text", e_vote_poll_id: encrypted_vote_hash).html_safe %>
        <p>
          <%= t("decidim.elections.votes.confirmed.verify_link", link: verify_election_vote_path(election)).html_safe %>
        </p>
      </div>

      <%= link_to :elections, class: "button" do %>
        <%= t("decidim.elections.votes.confirmed.back") %>
      <% end %>
      <div>
        <%= t("decidim.elections.votes.confirmed.experience") %>
        <%= link_to t("decidim.elections.votes.confirmed.feedback"), election_feedback_path(election) %>
      </div>
    </div>
  </div>
</div>
