<h1 class="heading2">
  <%= translated_attribute(question.title) %>
</h1>
<p>
  <%= t("decidim.elections.votes.new.answer_choices", choices: question.max_selections) %>
</p>
<div class="evote__options" data-max-selection="<%= question.max_selections %>" data-min-selection="<%= question.min_selections %>">
  <% question.answers.sort_by(&:weight).each do |answer| %>
    <%= label_tag nil, nil, class: "evote__check evote__card" do %>
      <%= check_box_tag "question_#{question.id}", answer.id, false, class: "answer_input" %>
      <span class="evote__check-label">
        <%= translated_attribute(answer.title) %>
      </span>
    <% end %>
  <% end %>
</div>

<div class="evote__counter">
  <%= t("votes.new.selections", scope:"decidim.elections", selected: "<strong class='evote__counter-num evote__counter-min'></strong>", max_selections: "<span class='evote__counter-num'>#{question.max_selections}</span>").html_safe %>
</div>
