<%= render("election_votes_header", header_title: t("decidim.elections.votes.header.confirm")) %>

<div class="focus__content evote">
  <div class="row">
    <h1 class="heading2">
      <%= t("decidim.elections.votes.confirm.header") %>
    </h1>
    <p>
      <%= t("decidim.elections.votes.confirm.intro").html_safe %>
    </p>

    <dl class="evote__confirm">
      <dt>
        <% questions.each_with_index do |question, question_index| %>
          <strong class="evote__confirm-label">
            <%= t("decidim.elections.votes.confirm.question", count: question_index + 1) %>:
           </strong>
          <strong>
            <%= translated_attribute(question.title) %>
          </strong>
          <dd id="edit-step-<%= question_index+1 %>">
            <strong class="evote__confirm-label">
              <%= t("decidim.elections.votes.confirm.answer") %>
              (<%= link_to(
                  "#{t("decidim.elections.votes.confirm.edit")}<span class='show-for-sr'>
                    #{t("decidim.elections.votes.confirm.answer_number", number: question_index + 1)}</span>".html_safe,
                  "#",
                  class: "evote__edit-answer",
                  data: {
                    toggle: ["step-#{question_index}", "step-#{questions_count}"].join(" ")
                  }
                ) %>):
            </strong>
            <ul>
              <% question.answers.each do |answer| %>
                <li class="confirmed_answer hide" id="<%= answer.id %>">
                  <%= translated_attribute(answer.title) %>
                </li>
              <% end %>
              <% if question.min_selections == 0 %>
                <li class="<%= "hide nota_input_#{question.id}" %>">
                  <%= t("decidim.elections.votes.confirm.nota_option") %>
                </li>
              <% end %>
            </ul>
          </dd>
        <% end %>
      </dt>
    </dl>
  </div>
</div>

<%= render("election_votes_confirm_footer") %>
