<h1 class="heading2">
  <%= translated_attribute(question.title) %>
</h1>
<div class="evote__options" data-max-selection="<%= question.max_selections %>" data-min-selection="<%= question.min_selections %>">
  <% question.answers.sort_by(&:weight).each do |answer| %>
    <%= label_tag nil, nil, class: "evote__check evote__card" do %>
      <%= radio_button_tag "question_#{question.id}", answer.id, false, class: "answer_input" %>
      <span class="evote__check-label">
        <%= translated_attribute(answer.title) %>
        <span class="evote__check-extra">
          <button type="button" class="link" data-toggle="show-focus-modal-<%= answer.id %>">
            <%= t("decidim.elections.votes.new.more_information") %>
          </button>
        </span>
      </span>
    <% end %>

    <%= render(
      "election_votes_modal",
      answer: answer
      ) %>
  <% end %>
</div>
