<%= decidim_modal id: "show-focus-modal-#{answer.slug}", class: "election-question__modal" do %>
  <div data-dialog-container>
    <%= icon "arrow-right-line" %>

    <h2 class="h2" id="dialog-title-show-focus-modal-<%= answer.slug %>" data-dialog-title>
      <%= translated_attribute(answer.title) %>
    </h2>

    <div class="election-question__modal-explanation">
      <% if answer.photos.any? %>
        <div class="election-question__modal-grid">
          <% answer.photos.each do |photo| %>
            <%= image_tag photo.thumbnail_url, alt: strip_tags(translated_attribute(photo.title)) %>
          <% end %>
        </div>
      <% end %>

      <% if answer.description %>
        <div class="editor-content">
          <%== translated_attribute(answer.description) %>
        </div>
      <% end %>

      <% if answer.proposals.any? %>
        <h3 class="h4"><%= t("decidim.elections.votes.modal.proposal_header") %></h3>
        <ul>
          <% answer.proposals.each do |proposal| %>
            <li>
              <%= link_to resource_locator(proposal).path do %>
                <%== decidim_html_escape(present(proposal).title) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div data-dialog-actions>
    <button data-dialog-close="show-focus-modal-<%= answer.slug %>" class="button button__sm md:button__lg button__secondary">
      <%= t("decidim.elections.votes.modal.close") %>
    </button>
  </div>
<% end %>
