<div id="<%= dom_id(question) %>" class="election-question__container" data-max-selection="<%= question.max_selections %>" data-min-selection="<%= question.min_selections %>">
  <% ordered_answers(question).each do |answer| %>
    <%= label_tag nil, data: { "disabled-by": "check-nota" }, class: "election-question" do %>
      <% if question.max_selections == 1 %>
        <%= radio_button_tag question.slug, answer.slug, false, class: "answer_input" %>
      <% else %>
        <%= check_box_tag question.slug, answer.slug, false, class: "answer_input" %>
      <% end %>

      <%= translated_attribute(answer.title) %>

      <% if more_information?(answer) %>
        <button type="button" class="button button__sm button__text-secondary ml-auto" data-dialog-open="show-focus-modal-<%= answer.slug %>">
          <%= t("decidim.elections.votes.new.more_information") %>
        </button>
      <% end %>
    <% end %>

    <%= render("new_question_modal", answer:) if more_information?(answer) %>
  <% end %>

  <% if question.nota_option? %>
    <%= label_tag nil, nil, class: "election-question" do %>
      <% if question.max_selections == 1 %>
        <%= radio_button_tag question.slug, "nota_input_#{question.slug}", false, class: "nota_input" %>
      <% else %>
        <%= check_box_tag question.slug, "nota_input_#{question.slug}", false, { class: "nota_input", id: "check-nota", data: { "disable-check": "" } } %>
      <% end %>

      <%= t("decidim.elections.votes.new.nota_option") %>
    <% end %>
  <% end %>
</div>
