<div class="flex justify-center">
  <h1 class="title-decorator my-12">
    <%= t("decidim.elections.votes.failed.header") %>
  </h1>
</div>

<div class="space-y-4 text-center">
  <p class="h4"><%= t("decidim.elections.votes.failed.lead") %></p>

  <p class="election-question__description">
    <%= t("decidim.elections.votes.failed.text") %>
  </p>

  <%= link_to new_election_vote_path(election), class: "button button__lg button__secondary" do %>
    <%= t("decidim.elections.votes.failed.try_again") %>
  <% end %>

  <p class="election-question__description">
    <%= t("decidim.elections.votes.confirmed.experience") %>
    <% if vote %>
      <%= link_to t("decidim.elections.votes.confirmed.feedback"), election_feedback_path(election, hash: vote.encrypted_vote_hash, token: params[:token]) %>
    <% else %>
      <%= link_to t("decidim.elections.votes.confirmed.feedback"), election_feedback_path(election) %>
    <% end %>
  </p>
</div>
