<%= render("focus_header", header_title: t("decidim.elections.votes.header.casting")) %>
<div class="focus__content evote casting-vote-wrapper"
  data-api-endpoint-url="<%= bulletin_board_server %>"
  data-message-id="<%= vote.message_id %>">
  <div class="row">
    <h1 class="heading2">
      <%= t("decidim.elections.votes.casting.header") %>
    </h1>
    <div class="evote__casting" aria-hidden="true">
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
      <div class="evote__dot"></div>
    </div>
    <p>
      <%= t("decidim.elections.votes.casting.text") %>
    </p>
  </div>
  <%= form_tag election_vote_path(election, id: vote.encrypted_vote_hash), method: :patch, class: "update_vote_status" %>
</div>

<%= render "decidim/elections/shared/broken_promises_modal" %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_elections_voter_casting_vote" %>
<% end %>
