<div class="flex justify-center">
  <h1 class="title-decorator my-12">
    <%= t("decidim.elections.votes.confirmed.header") %>
  </h1>
</div>

<div class="space-y-4 text-center">
  <p class="h4"><%= t("decidim.elections.votes.confirmed.lead") %></p>

  <p class="election-question__description">
    <%= t("decidim.elections.votes.confirmed.text") %>
  </p>

  <code class="block"><%= h(params[:id]) %></code>

  <p class="election-question__description">
    <%= t("decidim.elections.votes.confirmed.verify_link", link: election_vote_verify_path(election, vote_id: params[:id])).html_safe %>
  </p>

  <% if params[:token] && valid_questionnaire? %>
    <p class="election-question__description">
      <%= t("decidim.elections.votes.confirmed.experience") %>
      <%= link_to t("decidim.elections.votes.confirmed.feedback"), election_feedback_path(election, hash: params[:id], token: params[:token]) %>
    </p>
  <% end %>

  <% if !valid_questionnaire? && current_user.nil? %>
    <%= render partial: "decidim/elections/votes/onboarding_modal" %>
  <% end %>

  <%= link_to :elections, class: "button button__lg button__secondary" do %>
    <span><%= t("decidim.elections.votes.confirmed.back") %></span>
  <% end %>
</div>
