<div id="casting-vote-wrapper"
  data-api-endpoint-url="<%= bulletin_board_server %>"
  data-message-id="<%= vote.message_id %>">

  <div class="flex justify-center">
    <h1 class="title-decorator my-12">
      <%= t("decidim.elections.votes.casting.header") %>
    </h1>
  </div>

  <div class="space-y-4 text-center">
    <%= icon "fingerprint-line", class: "w-40 h-40 text-tertiary animate-pulse fill-current mx-auto" %>

    <p class="election-question__description">
      <%= t("decidim.elections.votes.casting.text") %>
    </p>

    <%= form_tag election_vote_path(election, id: vote.encrypted_vote_hash), method: :patch, class: "update_vote_status" %>
  </div>
</div>

<%= render "decidim/elections/shared/broken_promises_modal" %>
