<h3 class="h3"><%= t(".title") %></h3>

<div class="selected_responses space-y-6 mt-8">
  <% questions.each do |question| %>
    <div>
      <p class="font-semibold mb-2">
        <%= translated_attribute(question.body) %>
      </p>

      <% list = question.safe_responses(votes_buffer[question.id.to_s]) %>
      <% if list.present? %>
        <% list.each do |option| %>
          <p><%= translated_attribute(option.body) %></p>
        <% end %>
      <% else %>
        <p class="italic text-gray-500"><%= t("not_answered", scope: "decidim.elections.votes.confirm") %></p>
      <% end %>
    </div>
  <% end %>
</div>
<div class="vote-navigation flex justify-between mt-8">
  <%= link_to election_vote_path(election_id: election, id: questions.first),
              class: "button button__lg button__transparent-secondary" do %>
    <%= icon "edit-line", class: "fill-current mr-2" %>
    <%= t(".edit_vote") %>
  <% end %>

  <%= form_with url: cast_election_votes_path(election_id: election), method: :post, local: true do %>
    <button type="submit" class="button button__lg button__secondary">
      <%= icon "mail-send-line", class: "fill-current" %>
      <%= t(".cast_vote") %>
    </button>
  <% end %>
</div>
