<div class="vote-wrapper"
  data-election-id="<%== election.id %>"
  data-api-endpoint-url="<%== bulletin_board_server %>"
  data-authority-public-key="<%= authority_public_key %>"
  data-election-unique-id="<%== election_unique_id %>"
  data-voter-id="<%== voter_id %>"
  data-scheme-name="<%== scheme_name %>"
  <% if ballot_style_id.present? %>
  data-ballot-style-id="<%== ballot_style_id %>"
  <% end %>>

  <% questions.each_with_index do |step_question, step_index| %>
    <div id="step-<%= step_index %>" class="focus__step <%= "hide" if step_index.positive? %>"
    data-toggler=".hide">
      <div class="focus__header">
        <div class="row">
          <div class="focus__steps">
            <strong>
              <%= t("decidim.elections.votes.new.question_steps", current_step: step_index + 1, total_steps: questions_count) %>
            </strong>
          </div>
          <div class="heading5 focus__header-title">
            <%= translated_attribute(election.title) %>
          </div>
        </div>
      </div>

      <div class="focus__content evote">
        <div class="row">
          <%= render(
            "new_question",
            question: step_question
          ) %>
        </div>
      </div>

      <%= cell(
        "decidim/elections/voting_step_navigation",
        step_index,
        total_steps: questions_count
      ) %>

    </div>
  <% end %>

  <div id="step-<%= questions_count %>" class="hide focus__step" data-toggler=".hide">
    <%= render(
      "new_confirm_step",
      questions: questions
    ) %>
  </div>

  <div id="encrypting" class="hide focus__step" data-toggler=".hide">
    <%= render("new_encrypting_step") %>
  </div>

  <div id="ballot_decision" class="hide focus__step" data-redirect_url=".hide">
    <%= render("new_ballot_decision_step") %>
  </div>
</div>

<% if preview_mode? %>
  <%= javascript_pack_tag "decidim_elections_voter_setup_preview" %>
<% else %>
  <%= javascript_pack_tag "decidim_elections_voter_setup_vote" %>
<% end %>
<%= javascript_pack_tag "decidim_elections_voter_new_vote" %>
