<div class="verify-vote-wrapper"
  data-election-id="<%= election.id %>"
  data-api-endpoint-url="<%= bulletin_board_server %>"
  data-election-unique-id="<%= election_unique_id %>">

  <div class="focus__header">
    <div class="row">
      <div class="focus__steps">
        <strong>
          <%= t("decidim.elections.votes.verify.header.title") %>
        </strong>
      </div>

      <div class="heading5 focus__header-title">
        <%= translated_attribute(election.title) %>
      </div>
    </div>
  </div>

  <div class="focus__content evote">
    <div class="row">
      <h1 class="heading2">
        <%= t("decidim.elections.votes.verify.content.heading") %>
      </h1>

      <p>
        <%= t("decidim.elections.votes.verify.content.info") %>
      </p>

      <div class="evote__content small-6">
        <div class="verify-vote-success hide callout success">
          <h2 class="heading4">
            <%= t("decidim.elections.votes.verify.success.header") %>
          </h2>

          <p>
            <%== t("decidim.elections.votes.verify.success.info", link: link_to(translated_attribute(election.title), election_path(election))) %>
          </p>
        </div>

        <div class="verify-vote-error hide callout alert">
          <h2 class="heading4">
            <%= t("decidim.elections.votes.verify.error.header") %>
          </h2>

          <p>
            <%== t("decidim.elections.votes.verify.error.info", link: link_to(translated_attribute(election.title), election_path(election))) %>
          </p>
        </div>

        <form class="form">
          <label>
            <%= t("decidim.elections.votes.verify.form.vote_identifier") %>

            <input type="text" class="vote-identifier" name="vote-identifier" value="<%= params[:vote_id].gsub("_","") %>">
          </label>
          <p class="help-text"><%= t("decidim.elections.votes.verify.form.vote_identifier_help") %></p>
          <div>
            <%= link_to(
              "#",
              class: "button focus__next confirm"
            ) do %>

              <%= t("decidim.elections.votes.verify.form.submit") %>
            <% end %>
          </div>

          <%= link_to(t("decidim.elections.votes.verify.form.back"), election_path(election)) %>
        </form>
      </div>
    </div>
  </div>

</div>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_elections_voter_verify_vote" %>
<% end %>
