<%= append_stylesheet_pack_tag "decidim_elections" %>
<%= append_javascript_pack_tag "decidim_elections" %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left">
      <%= t("decidim.elections.votes.verify.header.title") %>: <%= translated_attribute(election.title) %>
    </h1>
  </div>

  <div id="verify-vote-wrapper"
    data-election-id="<%= election.id %>"
    data-api-endpoint-url="<%= bulletin_board_server %>"
    data-election-unique-id="<%= election_unique_id %>">

    <h2 class="h3">
      <%= t("decidim.elections.votes.verify.content.heading") %>
    </h2>

    <p class="text-gray-2 mt-4">
      <%= t("decidim.elections.votes.verify.content.info") %>
    </p>

    <div id="verify-vote-success" hidden>
      <%= cell("decidim/announcement", { title: t("decidim.elections.votes.verify.success.header"), body: t("decidim.elections.votes.verify.success.info", link: link_to(translated_attribute(election.title), election_path(election))).html_safe }, callout_class: "success") %>
    </div>

    <div id="verify-vote-error" hidden>
      <%= cell("decidim/announcement", { title: t("decidim.elections.votes.verify.error.header"), body: t("decidim.elections.votes.verify.error.info", link: link_to(translated_attribute(election.title), election_path(election))).html_safe }, callout_class: "alert") %>
    </div>

    <form class="form">
      <div class="form__wrapper">
        <label>
          <%= t("decidim.elections.votes.verify.form.vote_identifier") %>

          <p class="help-text"><%= t("decidim.elections.votes.verify.form.vote_identifier_help") %></p>
          <input type="text" class="vote-identifier" name="vote-identifier" value="<%= params[:vote_id].gsub("_","") %>">
        </label>
      </div>

      <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
        <%= link_to election_path(election), class: "button button__sm md:button__lg button__transparent-secondary" do %>
          <span><%= t("decidim.elections.votes.verify.form.back") %></span>
        <% end %>

        <button type="submit" class="button button__sm md:button__lg button__secondary">
          <span><%= t("decidim.elections.votes.verify.form.submit") %></span>
          <%= icon "arrow-right-line" %>
        </button>
      </div>
    </form>

  </div>

<% end %>
