<section id="list-request" class="profile__group-pending">
  <p><%= t("decidim.groups.members.accept_or_reject_join_requests") %></p>

  <% requests.each do |request| %>
    <div class="profile__group__list">
      <%= card_for present(request.user) %>

      <%= link_to(
        decidim.group_join_request_path(model.nickname, request),
        method: :patch,
        class: "button button__sm button__transparent-secondary"
      ) do %>
        <span><%= t("decidim.groups.members.accept_request") %></span>
        <%= icon "check-line" %>
      <% end %>

      <%= link_to(
        decidim.group_join_request_path(model.nickname, request),
        method: :delete,
        class: "button button__sm button__transparent-secondary"
      ) do %>
        <span><%= t("decidim.groups.members.reject_request") %></span>
        <%= icon "close-circle-line" %>
      <% end %>
    </div>
  <% end %>
</section>
