<%# REDESIGN_PENDING: include links %>
<div class="meeting-calendar__selector-container">
  <div class="meeting-calendar__selector">
    <a href="" class="meeting-calendar__selector-arrow">
      <%= icon "arrow-left-s-line", class: "w-6 h-6 text-secondary fill-current" %>
    </a>
    <h2 class="h2">2020</h2>
    <a href="" class="meeting-calendar__selector-arrow">
      <%= icon "arrow-right-s-line", class: "w-6 h-6 text-secondary fill-current" %>
    </a>
  </div>
  <a href="" class="meeting-calendar__link">
    <%= "See event list" %>
    <%= icon "list-check-2", class: "w-3.5 h-3.5 text-secondary fill-current" %>
  </a>
</div>

<div class="meeting-calendar">
  <%
    # REDESING_PENDING: integrate the actual current year
    # REDESING_PENDING: allow start week both Sunday or Monday
    # REDESING_PENDING: create a function to generate a month (~ html table). It reused in home

    current_year = Date.new(2022,1,1).all_year;
    events = Date.new(2022,1,1).all_year.to_a.sample(15);
  %>

  <% current_year.group_by { |e| e.month }.each do |month| %>
    <%= render partial: "decidim/meetings/directory/meetings/month", locals: { month: month, events: events } %>
  <% end %>
</div>
