<% if meetings.length == 0 %>
  <div class="callout warning">
    <%= t "decidim.meetings.meetings.meetings.no_meetings_warning" %>
  </div>
<% else %>
  <div class="row medium-up-2">
    <div class="column">
      <%= render partial: "decidim/shared/results_per_page" %>
    </div>
    <div class="column">
      <%= render partial: "decidim/meetings/calendar_modal", locals: {
        path: short_url(
          route_name: "calendar",
          params: { filter: params.fetch(:filter, {}).try(:to_unsafe_hash) }
        )
      } %>
    </div>
  </div>

  <div class="row small-up-1 medium-up-2 card-grid">
    <% meetings.each do |meeting| %>
      <%= card_for meeting, context: { show_space: true } %>
    <% end %>
  </div>
  <%= decidim_paginate meetings, order_start_time: params[:order_start_time], scope_id: params[:scope_id] %>
<% end %>
