<% add_decidim_page_title(t(".meetings")) %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_meetings", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_meetings" %>
<% end %>

<% content_for :aside do %>
  <h1 class="h3 md:h1 decorator"><%= t("decidim.components.meetings.name") %></h1>

  <%= render partial: "filters" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>

  <h1 class="section-heading" id="meetings-count">
    <%= render partial: "decidim/meetings/meetings/count" %>
  </h1>

  <%= cell "decidim/meetings/meetings_map", search.result %>

  <div id="meetings" class="columns mediumlarge-8 large-9">
    <%= render partial: "meetings" %>
  </div>
<% end %>
