<div class="empty-notifications callout secondary <%= "hide" if notifications.any? %>">
  <p><%= t("decidim.notifications.no_notifications") %></p>
</div>

<div id="notifications">
  <div class="mb-s text-right">
    <% if notifications.any? %>
      <%= link_to(
        t("mark_all_as_read", scope: "layouts.decidim.notifications_dashboard"),
        read_all_notifications_path,
        class: "button title-action__action hollow mark-all-as-read-button",
        method: :delete,
        data: { disable: true },
        remote: true
      ) %>
    <% end %>
  </div>

  <% notifications.select(&:resource).each do |notification| %>
    <div class="card card--widget">
      <ul class="card-data">
        <li class="card-data__item">
          <div class="card__link text-center">
            <%= resource_icon notification.resource, class: "icon--large" %>
            <span class="text-medium mt-xs"><%= l notification.created_at, format: :day_of_week_long %></span>
          </div>
        </li>
        <li class="card-data__item card-data__item--expand absolutes">
          <div class="mr-s">
            <span class="text-small"><%= notification.event_class.constantize.model_name.human %></span>
            <br>
            <span>
              <%= notification.event_class_instance.notification_title %>
            </span>
          </div>
          <div class="right center mr-s">
            <%= link_to notification, remote: true, method: :delete, class: "mark-as-read-button" do %>
              <%= icon "circle-x", class: "card__link", aria_label: t("mark_as_read", scope: "layouts.decidim.notifications_dashboard"), role: "img" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</div>

<%= javascript_include_tag "decidim/notifications" %>

<%= decidim_paginate notifications %>
