<div class="empty-notifications callout secondary <%= "hide" if notifications.any? %>">
  <p><%= t("decidim.notifications.no_notifications") %></p>
</div>

<div id="notifications">
  <div class="mb-s text-right">
    <% if notifications.any? %>
      <%= link_to(
        t("mark_all_as_read", scope: "layouts.decidim.notifications_dashboard"),
        read_all_notifications_path,
        class: "button title-action__action hollow mark-all-as-read-button",
        method: :delete,
        data: { disable: true },
        remote: true
      ) %>
    <% end %>
  </div>

  <% notifications.select(&:resource).each do |notification| %>
    <%= cell("decidim/notification", notification) %>
  <% end %>
</div>

<%= decidim_paginate notifications %>
