<% add_decidim_page_title(t(".title")) %>

<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t(".title") %>
  </h2>
</div>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: { action: :update }, html: { class: "form form-defaults" }) do |form| %>
      <div class="form__wrapper">
        <div class="card pt-4">
          <div class="card-section">
            <div class="row column">
              <%= label_tag(:available_methods, t("activemodel.attributes.config.available_methods")) %>
              <%= form.check_box :online %>
              <%= form.check_box :offline %>
            </div>

            <div class="row column">
            <%= form.translated :editor, :offline_explanation, lines: 10, aria: { label: :offline_explanation } %>
            </div>
          </div>
        </div>
      </div>

      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= form.submit t(".update"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
