<div class="flex items-center justify-between my-1">
  <%= cell "decidim/author", request.user.presenter, layout: :compact %>

  <div>
    <% if allowed_to? :approve, :initiative_committee_member, initiative: current_initiative, request: request %>
      <%= link_to(
              approve_initiative_committee_request_path(current_initiative, request, locale: current_locale),
              data: { confirm: t(".confirm_approve") },
              class: "button button__xs button__transparent-secondary"
            ) do %>
              <span><%= t(".approve") %></span>
              <%= icon "check-line" %>
            <% end %>
    <% end %>
    <% if allowed_to? :revoke, :initiative_committee_member, initiative: current_initiative, request: request %>
      <%= link_to(
              revoke_initiative_committee_request_path(current_initiative, request, locale: current_locale),
              method: :delete,
              data: { confirm: t(".confirm_revoke") },
              class: "button button__xs button__transparent-secondary"
            ) do %>
              <span><%= t(".revoke") %></span>
              <%= icon "forbid-line" %>
            <% end %>
    <% end %>
  </div>
</div>
