<p><%= t ".help_text" %></p>
<ul>
  <li><%= t ".help_for_organizations" %></li>
  <li><%= t ".help_in_person_signatures" %></li>
</ul>
<p><%== t ".initiatives_page_link", link: link_to(t(".page"), decidim.page_path("initiatives"), target: "_blank") %></p>
<p><%== t ".publish_helper_text" %>
<p><%== t ".access_reminder", link: link_to(t("myself", scope: "decidim.initiatives.initiatives.filters"), decidim_initiatives.initiatives_path(filter: { author: "myself", state: "" })) %></p>
