<p><%= t ".help_text" %></p>
<ul>
  <li><%= t ".help_for_organizations" %></li>
  <li><%= t ".help_in_person_signatures" %></li>
</ul>
<p><%== t ".initiatives_page_link", link: link_to(t(".page"), decidim.page_path("initiatives"), target: "_blank") %></p>
<p><%= t ".access_reminder" %></p>
