<div class="callout secondary">
  <%== t ".fill_data_help" %>
  <%= link_to t(".more_information"), decidim.page_path("initiatives"), target: "_blank", class: 'button button__sm button__text-secondary block' %>.
</div>
<%= decidim_form_for(@form, url: next_wizard_path, method: :put, html: { class: "form-defaults new_initiative_form", novalidate: false }) do |f| %>
  <div class="form__wrapper">
    <%= form_required_explanation %>
    <%= f.hidden_field :type_id %>
    <% unless single_initiative_type? %>
      <label for="type_description"><%= t ".initiative_type" %></label>
      <%= text_field_tag :type_description, strip_tags(translated_attribute(initiative_type.title)), readonly: true %>
    <% end %>

    <%= f.text_field :title, autofocus: true %>

    <%= text_editor_for(f, :description, lines: 8, toolbar: :full) %>

    <% signature_type_options = signature_type_options(f.object) %>
    <% if signature_type_options.length == 1 %>
      <%= f.hidden_field :signature_type, value: signature_type_options.first.last %>
    <% else %>
      <%= f.select :signature_type, signature_type_options %>
    <% end %>

    <% if scopes.length == 1 %>
      <%= f.hidden_field :scope_id, value: scopes.first.scope&.id %>
    <% else %>
      <%= f.select :scope_id, scopes.map { |scope| [translated_attribute(scope.scope_name), scope&.scope&.id] }, required: true, include_blank: t(".select_scope") %>
    <% end %>

    <% if initiative_type.custom_signature_end_date_enabled? %>
      <%= f.date_field :signature_end_date %>
    <% end %>

    <% if initiative_type.area_enabled? %>
      <%= f.areas_select :area_id, areas_for_select(current_organization), prompt: t(".select_area") %>
    <% end %>

    <% if Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.any? %>
      <%= f.select :decidim_user_group_id, Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.map { |g| [g.name, g.id] }, include_blank: current_user.name %>
    <% end %>

    <% if initiative_type.attachments_enabled? %>
      <fieldset class="attachments_container">
        <legend><%= t("attachment_legend", scope: "decidim.initiatives.form") %></legend>

        <%= f.attachment :documents,
          multiple: true,
          label: t("add_attachments", scope: "decidim.initiatives.form") %>
      </fieldset>
    <% end %>
    <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
      <%= link_to :back, class: "button button__sm md:button__lg button__text-secondary" do %>
        <%= icon "arrow-left-line", class: "fill-current" %>
        <%= t(".back") %>
      <% end %>
      <%= f.submit t(".continue"), class: "button button__sm md:button__lg button__secondary", data: { disable_with: true } %>
    </div>
  </div>
<% end %>
