<% content_for :back_link do %>
  <%= link_to :back do %>
    <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
    <%= t(".back") %>
  <% end %>
<% end %>

<div class="row column">
  <div class="medium-centered">
    <div class="callout secondary">
      <%= t ".callout_text" %>
      <%= link_to t(".more_information"), decidim.page_path("initiatives"), target: "_blank" %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="small-12 medium-centered">
    <div class="card">
      <div class="card__content">
        <%= render partial: "finish_help" %>
      </div>

      <div class="column actions">
        <% unless promotal_committee_required? %>
          <%= link_to t(".send_my_initiative"),
                      decidim_admin_initiatives.send_to_technical_validation_initiative_path(current_initiative),
                      class: "button success light expanded",
                      data: { confirm: t(".confirm") } %>
        <% end %>
        <%= link_to t(".edit_my_initiative"), edit_initiative_path(current_initiative), class: "button expanded light secondary" %>
        <%= link_to t(".go_to_my_initiatives"), decidim_admin_initiatives.initiatives_path, class: "button expanded" %>
        <%= link_to t(".back_to_initiatives"), initiatives_path, class: "button white-button expanded" %>
      </div>
    </div>
  </div>
</div>
