<% content_for :back_link do %>
  <%= link_to :back do %>
    <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
    <%= t(".back") %>
  <% end %>
<% end %>

<div class="row">
  <div class="medium-centered">
    <div class="callout secondary">
      <%= t ".help" %>
      <%= link_to t(".more_information"), decidim.page_path("initiatives"), target: "_blank" %>.
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="medium-centered">
    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@form, url: next_wizard_path, method: :put, html: { class: "form new_initiative_previous_form" }) do |f| %>
          <%= form_required_explanation %>
          <%= f.hidden_field :type_id %>

          <div class="field">
            <%= f.text_field :title, autofocus: true %>
          </div>

          <div class="field">
            <%= f.editor :description, lines: 8, toolbar: :full %>
          </div>

          <div class="actions">
            <%= f.submit t(".continue"), class: "button expanded" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
