<% add_decidim_page_title(t("new", scope: "decidim.initiatives.create_initiative.select_initiative_type")) %>
<% announcement_body = capture do %>
  <%= t ".individual_help_text" %>
<% end %>

<%= cell("decidim/announcement", { body: announcement_body }, callout_class: "secondary") %>

<h3 class="title-decorator text-2xl my-8"><%= t(".invite_link_title") %></h3>

<%= render partial: "share_committee_link" %>

<h3 class="title-decorator text-2xl mb-8 mt-10"><%= t(".promoters_committee_title") %></h3>

<div class="block">
  <span class="help-text mb-4">
    <%= t(".promoters_committee_help_html", committee_members_left: minimum_committee_members - promoters_committee_members.count,
                                            committee_members_count: promoters_committee_members.count,
                                            committee_size: minimum_committee_members) %>
  </span>
</div>

<% if promoters_committee_members.count.positive? %>
  <div class="block">
    <% current_initiative.committee_members.each do |request| %>
      <%= render partial: "committee_member", locals: { request: request } %>
    <% end %>
  </div>
<% end %>

<div class="block">
  <span class="help-text mt-4 mb-8 font-semibold">
    <%= t(".promoters_committee_help_2") %>
  </span>
</div>

<div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
  <%= link_to fill_data_create_initiative_index_path(locale: current_locale), class: "button button__sm md:button__lg button__text-secondary" do %>
    <%= icon "arrow-left-line", class: "fill-current" %>
    <%= t("back", scope: "decidim.initiatives.create_initiative.previous_form") %>
  <% end %>
  <div>
    <%= render partial: "send_to_technical_validation_button" %>
  </div>
</div>

<%= render partial: "return_to_initiatives_button" %>
