<% content_for :back_link do %>
  <%= link_to :back do %>
    <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
    <%= t(".back") %>
  <% end %>
<% end %>

<div class="row column">
  <div class="medium-centered">
    <div class="callout secondary">
      <%= t ".individual_help_text", committee_size: current_initiative.minimum_committee_members %>
      <%= link_to t(".more_information"), decidim.page_path("initiatives"), target: "_blank" %>.
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="small-12 medium-centered">
    <%= render partial: "share_committee_link" %>
  </div>
</div>
