<% add_decidim_page_title(t("new", scope: "decidim.initiatives.create_initiative.select_initiative_type")) %>
<% default_type = available_initiative_types.first %>
<% announcement_body = capture do %>
  <%= t("select_initiative_type_help", scope: "decidim.initiatives.create_initiative.select_initiative_type") %>
  <%= link_to t("more_information", scope: "decidim.initiatives.create_initiative.select_initiative_type"), decidim.page_path("initiatives"), target: "_blank", class: "button button__sm button__text-secondary block text-left" %>
<% end %>

<%= cell("decidim/announcement", { body: announcement_body }, callout_class: "secondary") %>

<div class="initiatives__selection">
  <% initiative_types_each do |type| %>
    <% if allowed_to?(:create, :initiative, { initiative_type: type }) %>
      <%= decidim_form_for(@form, url: select_initiative_type_create_initiative_index_path, method: :put, html: { id: "new_initiative_#{type.id}", class: "form-defaults " }) do |f| %>
        <%= f.hidden_field :type_id, value: type.id, id: "initiative_type_id_#{type.id}" %>
        <button class="card__highlight w-full">
          <%= icon "lightbulb-flash-line", class: "verification__icon " %>
          <div class="initiatives__selection__text">
            <h2 class="h5 text-secondary"><%= translated_attribute(type.title) %></h2>
            <span><%= decidim_sanitize_admin(translated_attribute(type.description)) %></span>
          </div>
          <%= icon "arrow-right-s-line", class: "fill-secondary initiatives__selection__icon" %>
        </button>
      <% end %>
    <% else %>
      <div class="card__highlight card__highlight-authorized">
        <%= icon "lightbulb-flash-line", class: "verification__icon " %>
        <div class="initiatives__selection__text">
          <h2 class="h5 text-secondary"><%= translated_attribute(type.title) %></h2>
          <span><%= decidim_sanitize_admin(translated_attribute(type.description)) %></span>
          <%= action_authorized_link_to(
                :create,
                fill_data_create_initiative_index_path(initiative: { type_id: type.id }),
                authorizations_modal_path: authorization_create_modal_initiative_path(type),
                permissions_holder: type,
                class: "button button__sm button__secondary",
                "data-dialog-open": "not-authorized-modal",
                onclick: "event.preventDefault();"
              ) do %>
              <%= t("verification_required", scope: "decidim.initiatives.create_initiative.select_initiative_type") %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render partial: "decidim/initiatives/modal" %>
