<% default_type = available_initiative_types.first %>
<%= render layout: "layouts/decidim/shared/layout_center", locals: { back_path: initiatives_path } do %>

  <div class="callout secondary mt-8">
    <%= t("select_initiative_type_help", scope: "decidim.initiatives.create_initiative.select_initiative_type") %>
    <%= link_to t("more_information", scope: "decidim.initiatives.create_initiative.select_initiative_type"), decidim.page_path("initiatives"), target: "_blank" %>
  </div>
  <div class="verification__container">
    <% initiative_types_each do |type| %>
      <div class="verification">
        <div class="verification__text">
          <% if allowed_to?(:create, :initiative, { initiative_type: type }) %>
            <%= decidim_form_for(@form, url: next_wizard_path, method: :put, html: { id: "new_initiative_#{type.id}", class: "form select-initiative_type-form" }) do |f| %>
              <%= f.hidden_field :type_id, value: type.id, id: "initiative_type_id_#{ type.id }" %>
              <%= icon "lightbulb-flash-line", class: "inline-block" %>
              <h2 class="h5 text-secondary"><%= translated_attribute(type.title) %></h2>
              <span><%= raw translated_attribute type.description %></span>
              <%= f.submit t("select", scope: "decidim.initiatives.create_initiative.select_initiative_type"), class: "button" %>
            <% end %>
          <% else %>
            <%= authorized_create_modal_button(type, remote: true, class: "button") do %>
            <%= t("verification_required", scope: "decidim.initiatives.create_initiative.select_initiative_type") %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
