<% default_type = available_initiative_types.first %>
<% content_for :back_link do %>
  <%= link_to initiatives_path do %>
    <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
    <%= t(".back") %>
  <% end %>
<% end %>

<div class="row column">
  <div class="callout secondary">
    <%= t ".select_initiative_type_help" %>
    <%= link_to t(".more_information"), decidim.page_path("initiatives"), target: "_blank" %>.
  </div>
</div>
<br>
<div class="row column">
  <div class="main-container">
    <div class="row collapse main-container--side-panel">
      <div class="columns medium-4 large-3">
        <div class="side-panel">
          <ul class="tabs vertical side-panel__tabs" id="initiatives-tabs" data-tabs>
            <% initiative_types_each do |type| %>
              <li class="tabs-title <%= "is-active" if type == default_type %>">
                <%= link_to "#initiativeType#{type.id}" do %>
                  <%= t(".choose_html", title: translated_attribute(type.title)) %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="columns medium-8 large-9">
        <div class="main-container__content">
          <div class="tabs-content vertical" data-tabs-content="initiatives-tabs">
            <% initiative_types_each do |type| %>
              <div class="tabs-panel <%= "is-active" if type == default_type %>" id="<%= "initiativeType#{type.id}" %>">
                <h2 class="section-heading"><%= translated_attribute(type.title) %></h2>
                <div>
                  <%= raw translated_attribute type.description %>
                </div>
                <br>
                <% if allowed_to?(:create, :initiative, { initiative_type: type }) %>
                  <%= decidim_form_for(@form, url: next_wizard_path, method: :put, html: { id: "new_initiative_#{type.id}", class: "form select-initiative_type-form" }) do |f| %>
                    <%= f.hidden_field :type_id, value: type.id, id: "initiative_type_id_#{ type.id }" %>
                    <%= f.submit t(".select"), class: "button" %>
                  <% end %>
                <% else %>
                  <%= authorized_create_modal_button(type, remote: true, class: "button") do %>
                    <%= t(".verification_required") %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reveal not-authorized-reveal" id="not-authorized-modal" aria-hidden="true" role="dialog" aria-modal="true" aria-labelledby="not-authorized-modal-title" data-reveal data-multiple-opened="true">
  <div class="reveal__header">
    <h2 class="reveal__title" id="not-authorized-modal-title"><%= t(".not_authorized.title") %></h2>
    <button class="close-button" data-close aria-label="<%= t(".not_authorized.close") %>"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="not-authhorized-content">
    <div class="not-authorized-modal-content">
      <p>
        <%= t(".not_authorized.explanation") %>
      </p>
    </div>
  </div>
  <div class="not-authorized-modal-footer reveal__footer">
    <%= link_to t(".not_authorized.authorizations_page"), decidim_verifications.authorizations_path(redirect_url: create_initiative_url(:select_initiative_type)), class: "button expanded" %>
  </div>
</div>
