<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= form_title %></h2>
    <div class="button--title">
      <%= link_to t(".skip_template"), decidim_admin_templates.skip_questionnaire_templates_path(questionnaire_id: questionnaire, url: request.url), class: "button tiny button--simple", method: :post %>
    </div>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= t(".description") %>
    </div>

    <%= decidim_form_for([questionnaire], url: decidim_admin_templates.apply_questionnaire_templates_url(questionnaire_id: questionnaire, url: request.url), method: :post, html: { class: "form choose_questionnaire_templates" }) do |form| %>
      <%= datalist_select(templates,
        {
          id: "choose-template",
          list: "template-list",
          label: t(".label"),
          name: "select-template",
          placeholder: t("placeholder", scope: "decidim.templates.admin.questionnaire_templates.choose"),
          data: {
            previewurl: decidim_admin_templates.preview_questionnaire_templates_url(format: :js)
          }
        }
      ) { form.hidden_field :questionnaire_template_id } %>

      <div class="card-section questionnaire-template-preview">
        <h3 class="template-name"></h3>
        <p class="template-description"></p>
        <div class="row column">
          <div class="row column choose-template-preview">
          </div>
        </div>
      </div>

      <div class="button--double form-general-submit create-from-template">
        <%= form.submit t(".create_from_template"), class: "button" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_importmap_tags("src/decidim/templates/admin", shim: Decidim.enable_shim) %>
<%= stylesheet_pack_tag "decidim_templates", media: "all" %>
