<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t ".title" %>
      <% if allowed_to?(:create, :template) %>
        <%= link_to t("actions.new", scope: "decidim.admin", name: t("template.name", scope: "decidim.models").downcase), [:new, :questionnaire_template], class: "button tiny button--title new" %>
      <% end %>
    </h2>
  </div>
  <div class="card-section">
  <% if @templates.any? %>
    <div class="table-scroll">
      <table class="table-list questionnaire-templates">
        <thead>
          <tr>
            <th><%= t("template.name", scope: "decidim.models") %></th>
            <th><%= t("questionnaire_template.fields.title", scope: "decidim.models") %></th>
            <th><%= t("questionnaire_template.fields.questions", scope: "decidim.models") %></th>
            <th><%= t("template.fields.created_at", scope: "decidim.models") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @templates.each do |template| %>
            <tr data-questionnaire_template-id="<%= template.id %>">
              <td><%= link_to translated_attribute(template.name), edit_questionnaire_template_path(template) %></td>
              <td><%= link_to translated_attribute(template.templatable.title), edit_questionnaire_path(template) %></td>
              <td><%= template.templatable.questions.count.to_i %></td>
              <td><%= l template.created_at, format: :long %></td>
              <td class="table-list__actions">
                <% if allowed_to?(:update, :template, questionnaire_template: template) %>
                  <%= icon_link_to "pencil", edit_questionnaire_template_path(template), t("actions.edit", scope: "decidim.admin"), class: "edit" %>
                <% end %>

                <% if allowed_to?(:copy, :template, questionnaire_template: template) %>
                  <%= icon_link_to "clipboard", copy_questionnaire_template_path(template), t("actions.duplicate", scope: "decidim.admin"), method: :post %>
                <% end %>

                <% if allowed_to?(:destroy, :template, questionnaire_template: template) %>
                  <%= icon_link_to "circle-x", questionnaire_template_path(template), t("actions.destroy", scope: "decidim.admin"), method: :delete, data: { confirm: t(".confirm_delete") }, class: "action-icon--remove" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= t("templates.empty", scope: "decidim.admin") %>
  <% end %>
  </div>
</div>
