<div class="consultations-header row column">
  <div class="row column consultations-header__main"
       style="background-image:url('<%= question.attached_uploader(:banner_image).path %>');">
    <div class="consultations-header__container row">
      <div class="columns mediumlarge-9 consultations-header__info">
        <div>
          <h1 class="text-highlight heading2">
            <%= link_to translated_attribute(question.consultation.title),
                        decidim_consultations.consultation_path(question.consultation) %>
          </h1>
          <%= link_to decidim_consultations.consultations_path, class: "consultations-header__link" do %>
            <%= t ".back_to_consultation" %>
            <%= icon "media-play", role: "img", "aria-hidden": true %>
          <% end %>
        </div>
      </div>

      <%= render partial: "layouts/decidim/consultation_voting_data", locals: { consultation: question.consultation } %>
    </div>
  </div>
</div>

<%= yield :question_header_instructions if content_for? :question_header_instructions %>

<div class="row column consultations-title">
  <h2 class="heading2"><%= decidim_sanitize translated_attribute question.title %></h2>
  <% unless question.hashtag.blank? %>
    <div class="text-center">
      <%= link_to "##{question.hashtag}", twitter_hashtag_url(question.hashtag), target: "_blank" %>
    </div>
  <% end %>

  <%= yield :question_header_details if content_for? :question_header_details %>
</div>
