<%= render "layouts/decidim/application" do %>
  <div class="wrapper">
    <%= render partial: "layouts/decidim/question_header", locals: { question: current_participatory_space } %>
    <%= render partial: "layouts/decidim/question_header_buttons", locals: { question: current_participatory_space } %>
    <%= render partial: "layouts/decidim/question_components", locals: { question: current_participatory_space } %>

    <%= yield %>
  </div>
  <% if content_for? :expanded %>
    <div class="expanded">
      <div class="wrapper wrapper--inner">
        <div class="row">
          <%= yield :expanded %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
