<% content_for :breadcrumb_nav do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to t("decidim.admin.titles.conferences"), decidim_conferences.conferences_path, target: "_blank", class: "process-title-content-breadcrumb" %>
      <div class="process-title-content-breadcrumb-container-right">
        <% if allowed_to? :create, :conference %>
          <%= link_to new_conference_path, class: "process-title-content-breadcrumb-container-right-link" do %>
            <svg viewBox="0 0 24 24" id="ri-add-line" class="w-4 h-4">
              <path fill="none" d="M0 0h24v24H0z"/>
              <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/>
            </svg>
            <span>
              <%= t("actions.new_conference", scope: "decidim.admin") %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
