<% content_for :secondary_nav do %>
  <div class="secondary-nav secondary-nav--subnav">
    <ul>
      <%= public_page_link decidim_conferences.conference_path(current_participatory_space) %>
      <% if allowed_to? :update, :conference, conference: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_conferences.edit_conference_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("info", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.edit_conference_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if allowed_to? :read, :component, conference: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_conferences.components_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("components", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.components_path(current_participatory_space) %>
          <ul id="components-list">
            <% current_participatory_space.components.each do |component| %>
              <% if component.manifest.admin_engine && user_role_config.component_is_accessible?(component.manifest_name) %>
                <li <% if is_active_link?(manage_component_path(component)) || is_active_link?(decidim_admin_conferences.edit_component_path(current_participatory_space, component)) || is_active_link?(decidim_admin_conferences.edit_component_permissions_path(current_participatory_space, component)) || participatory_space_active_link?(component) %> class="is-active" <% end %>>
                  <%= link_to manage_component_path(component) do %>
                    <%= translated_attribute component.name %>
                    <% if component.primary_stat.present? %>
                      <span class="component-counter <%= "component-counter--off" if component.primary_stat.zero? %>"><%= component.primary_stat %></span>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if allowed_to? :read, :category, conference: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_conferences.categories_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("categories", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.categories_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if allowed_to?(:read, :attachment_collection, conference: current_participatory_space) || allowed_to?(:read, :attachment, conference: current_participatory_space) %>
        <li>
          <span class="secondary-nav__subtitle"><%= t("attachments", scope: "decidim.admin.menu.conferences_submenu") %></span>
          <ul>
            <% if allowed_to? :read, :attachment_collection, conference: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_conferences.conference_attachment_collections_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("attachment_collections", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.conference_attachment_collections_path(current_participatory_space) %>
              </li>
            <% end %>
            <% if allowed_to? :read, :attachment, conference: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_conferences.conference_attachments_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("attachment_files", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.conference_attachments_path(current_participatory_space) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if allowed_to? :read, :media_link, conference: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_conferences.conference_media_links_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("media_links", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.conference_media_links_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if allowed_to? :read, :partner, conference: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_conferences.conference_partners_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("partners", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.conference_partners_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if allowed_to? :read, :conference_speaker, conference: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_conferences.conference_speakers_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("conference_speakers", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.conference_speakers_path(current_participatory_space) %>
        </li>
      <% end %>

      <% if allowed_to?(:read, :conference_invite, conference: current_participatory_space) || allowed_to?(:read, :registration_type, conference: current_participatory_space) || allowed_to?(:read, :conference_registration, conference: current_participatory_space) %>
        <li>
          <span class="secondary-nav__subtitle"><%= t("registrations", scope: "decidim.admin.menu.conferences_submenu") %></span>
          <ul>
            <% if allowed_to? :read, :registration_type, conference: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_conferences.conference_registration_types_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("registration_types", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.conference_registration_types_path(current_participatory_space) %>
              </li>
            <% end %>
            <% if allowed_to? :read, :conference_registration, conference: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_conferences.conference_conference_registrations_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("user_registrations", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.conference_conference_registrations_path(current_participatory_space) %>
              </li>
            <% end %>
            <% if allowed_to? :read, :conference_invite, conference: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_conferences.conference_conference_invites_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("conference_invites", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.conference_conference_invites_path(current_participatory_space) %>
              </li>
            <% end %>
            <% if allowed_to? :update, :conference, conference: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_conferences.edit_conference_diploma_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("diploma", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.edit_conference_diploma_path(current_participatory_space) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if allowed_to? :read, :conference_user_role, conference: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_conferences.conference_user_roles_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("conference_admins", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.conference_user_roles_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if allowed_to? :read, :moderation, conference: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_conferences.moderations_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("moderations", scope: "decidim.admin.menu.conferences_submenu"), decidim_admin_conferences.moderations_path(current_participatory_space) %>
        </li>
      <% end %>
      <%= Decidim::Admin.view_hooks.render(:admin_secondary_nav, deep_dup) %>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to translated_attribute(current_participatory_space.title), decidim_conferences.conference_path(current_participatory_space), target: "_blank" %>
    </div>
  </div>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
