<% content_for :breadcrumb_context_menu do %>
  <div class="process-title-content-breadcrumb-container-right">
    <%= link_to decidim_conferences.conference_path(current_participatory_space), class: "process-title-content-breadcrumb-container-right-link", target: "_blank", data: { "external-link": false } do %>
      <%= icon "eye-line" %>
      <span>
        <%= t("see_conference", scope: "decidim.admin.menu.conferences_submenu") %>
      </span>
    <% end %>
    <div class="inline-block relative">
      <%= button_tag id: "assembly-dropdown-menu-trigger", data: { component: 'dropdown', target: 'assembly-dropdown-menu-settings' }, class: 'dropdown__trigger button button__transparent' do %>
        <%= icon "more-line" %>
      <% end %>
      <div id="assembly-dropdown-menu-settings" class="process-title-content-dropdown">
        <%= sidebar_menu(:conferences_admin_menu).render %>
      </div>
    </div>
  </div>
<% end %>
<%= render "layouts/decidim/admin/application" do %>
  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
