<span class="exports button button__sm button__secondary" data-toggle="<%= dropdown_id(filters) %>">
  <% if filters.present? %>
    <%= t("actions.export-selection", scope: "decidim.admin") %>
  <% else %>
    <%= t("actions.export", scope: "decidim.admin") %>
  <% end %>
  <%= icon "arrow-down-s-line", class: "dropdown-filter-icon" %>
</span>
<div class="dropdown-pane" id="<%= dropdown_id(filters) %>" data-dropdown data-position=bottom data-alignment=right data-auto-focus="true" data-close-on-click="true">
  <ul class="vertical menu add-components">
    <% component.manifest.export_manifests.each do |manifest| %>
      <% manifest.formats.each do |format| %>
        <%= link_to exports_path(component, id: manifest.name, format:, resource_id:, filters:), method: :post do %>
          <li class="exports--format--<%= format.downcase %> exports--<%= manifest.name %>">
            <%= t("decidim.admin.exports.export_as", name: t("decidim.#{component.manifest.name}.admin.exports.#{manifest.name}"), export_format: t("decidim.admin.exports.formats.#{format}")) %>
          </li>
        <% end %>
      <% end %>
    <% end %>
    <% if defined?(extra_export_links) && extra_export_links.is_a?(Array) %>
      <% extra_export_links.each do |link| %>
        <%= link_to link[:href], method: link[:method] do %>
          <li class="exports--format--<%= link[:format] %> exports--<%= link[:type] %>">
            <%= t("decidim.admin.exports.export_as", name: t("decidim.#{component.manifest.name}.admin.exports.#{link[:type]}"), export_format: link[:format_name]) %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
