<% add_decidim_page_title(t(".invite_user")) %>

<div class="wrapper">
  <div class="row">
    <div class="columns medium-9 medium-offset-3">
      <h5><%= t(".invite_user") %></h5>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-3">
      <%= cell "decidim/profile_sidebar", user_group %>
    </div>
    <div class="columns medium-9">
      <%= decidim_form_for(@form, url: group_invites_path(@user_group.nickname)) do |f| %>
        <%= form_required_explanation %>
        <div class="card">
          <div class="card__content">
            <div class="field">
              <%= f.text_field :nickname %>
            </div>

            <div class="actions">
              <%= f.submit t(".invite"), class: "button expanded" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
