<h4 class="menu-bar__secondary-dropdown__title"><%= title %></h4>
<%= link_to decidim_participatory_processes.description_participatory_process_path(process), class: "mt-4 button button__text-secondary" do %>
  <span><%= t("more_info", scope: "layouts.decidim.participatory_processes.participatory_process") %></span><%= icon "arrow-right-line" %>
<% end %>
<div class="menu-bar__secondary-dropdown__metadata">
  <span>
    <%= icon "direction-line", class: "text-gray fill-current" %>

    <span class="font-semibold"><%= t("layouts.decidim.participatory_processes.participatory_process.active_step") %></span>
    <%= link_to(
      step_title,
      decidim_participatory_processes.participatory_process_participatory_process_steps_path(process),
      class: "text-secondary underline"
    ) %>
  </span>

  <% if hashtag.present? %>
    <span>
      <%= icon "twitter-line", class: "text-gray fill-current" %>
      <%= link_to "##{hashtag}", twitter_hashtag_url(hashtag), target: "_blank", class: "text-secondary underline" %>
    </span>
  <% end %>
</div>
