<h4 class="menu-bar__secondary-dropdown__title"><%= title %></h4>
<div class="menu-bar__secondary-dropdown__metadata">
  <% if display_steps? %>
    <span>
      <%= icon "direction-line", class: "text-gray fill-current" %>

      <span class="font-semibold"><%= t("layouts.decidim.participatory_processes.participatory_process.active_step") %></span>
      <%= link_to(
        step_title,
        decidim_participatory_processes.participatory_process_path(process, display_steps: true, locale: I18n.locale),
        class: "text-secondary underline"
      ) %>
    </span>
  <% end %>

  <% if hashtag.present? %>
    <span>
      <%= icon "twitter-x-line", class: "text-gray fill-current" %>
      <%= link_to "##{hashtag}", twitter_hashtag_url(hashtag), target: "_blank", class: "text-secondary underline" %>
    </span>
  <% end %>
</div>
