<!DOCTYPE html>
<html>
<head>
<title>Decidim - System</title>
<%= render partial: "layouts/decidim/system/header" %>
</head>

<body class="text-black text-md form-defaults bg-gray-3 min-h-screen flex">
  <aside id="aside-system">
    <%= render partial: "layouts/decidim/system/sidebar" %>
  </aside>

  <main>
    <div class="flex md:hidden items-center gap-2 bg-primary p-4 text-white font-bold text-lg">
      <button id="aside-trigger" class="flex-none md:hidden" data-component="dropdown" data-target="aside-system" data-disabled-md="true">
        <%= icon "menu-line", class: "w-6 h-6 text-white fill-current" %>
      </button>

      <%= link_to root_path, class: "block" do %>
        <%= title %>
      <% end %>
    </div>

    <% if content_for?(:title) %>
      <%= content_for :title %>
    <% end %>

    <%= render "decidim/system/shared/notices" %>
    <%= yield %>
  </main>

  <%= render partial: "decidim/admin/shared/admin_confirm_modal" %>
  <%= render partial: "layouts/decidim/system/js_configuration" %>
  <%= render partial: "layouts/decidim/cors" if Decidim.cors_enabled %>
</body>
</html>
