<div class="flex align-middle gap-x-4 ml-auto">
  <%= render partial: "decidim/budgets/admin/projects/bulk_actions/dropdown" %>

  <%= render partial: "decidim/budgets/admin/projects/bulk_actions/change-selected" %>
  <%= render partial: "decidim/budgets/admin/projects/bulk_actions/budget-change" %>

  <% if allowed_to? :export, :budget %>
    <%= export_dropdowns(query, current_component, budget.id) %>
  <% end %>
  <% if allowed_to? :import_proposals, :project %>
    <%= import_dropdown do %>
      <li class="dropdown__item">
        <%= link_to new_budget_proposals_import_path(budget) do %>
          <%= t("actions.import", scope: "decidim.budgets", name: t("models.project.name", scope: "decidim.budgets.admin")) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
  <%= link_to t("actions.new_project", scope: "decidim.budgets"), new_budget_project_path, class: "button button__sm button__secondary new" if allowed_to? :create, :project %>
</div>
