<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>

    <div class="row column">
      <%= form.translated :editor, :description %>
    </div>

    <div class="row column">
      <%= form.number_field :budget %>
    </div>

    <% if current_participatory_space.has_subscopes? %>
      <div class="row column">
        <%= scopes_picker_field form, :decidim_scope_id %>
      </div>
    <% end %>

    <div class="row column">
      <%= form.categories_select :decidim_category_id, current_participatory_space.categories, include_blank: true, disable_parents: false %>
    </div>

    <div class="row column">
      <% if @form.proposals %>
        <%= form.select :proposal_ids,
                        @form.proposals,
                        {},
                        { multiple: true, class: "chosen-select" } %>
      <% end %>
    </div>

    <div class="row column gallery__container">
      <fieldset>
        <legend><%= t("decidim.proposals.admin.proposals.form.gallery_legend") %></legend>

        <% if @form.photos.any? %>
          <% @form.photos.each do |photo| %>
            <div class="callout gallery__item" data-closable>
              <%= image_tag photo.thumbnail_url, class: "thumbnail", alt: photo.file.file.filename %>
              <%= form.hidden_field :photos, multiple: true, value: photo.id, id: "photo-#{photo.id}" %>
              <button class="close-button" aria-label="Close" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        <% end %>

        <div class="row column">
          <%= form.file_field :add_photos, multiple: false, label: t("decidim.proposals.admin.proposals.form.add_images") %>
        </div>
      </fieldset>
    </div>
  </div>
</div>
