<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true, aria: { label: :title } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :description, aria: { label: :description } %>
      </div>

      <div class="row column">
        <%= form.number_field :budget_amount %>
      </div>

      <% if @form.geocoding_enabled? %>
        <div class="row column">
          <%= form.geocoding_field :address %>
        </div>
      <% end %>

      <% if @form.taxonomy_filters&.any? %>
        <% @form.taxonomy_filters.each do |filter| %>
          <div class="row column">
            <%= filter_taxonomy_items_select_field form, :taxonomies, filter %>
          </div>
        <% end %>
      <% end %>

    <% if Decidim.module_installed?(:proposals) %>
      <div class="row column">
        <%= render partial: "decidim/proposals/proposals/proposals_picker", locals: { form:, field: :proposals } %>
      </div>
    <% end %>

      <%= render partial: "decidim/admin/shared/gallery", locals: { form: } %>

      <% if form.object.persisted? %>
        <div class="row column">
          <%= form.check_box :selected %>
        </div>
      <% end %>
    </div>
  </div>
</div>
