<tr data-id="<%= project.id %>">
  <td>
    <%= check_box_tag "project_ids_s[]", project.id, false, class: "js-check-all-resources js-project-list-check js-resource-id-#{project.id}" %><br>
  </td>
  <td>
    <%= project.id %><br>
  </td>
  <td class="!text-left">
    <% if allowed_to? :update, :project, project: project %>
      <%= link_to translated_attribute(project.title), resource_locator([budget, project]).edit %><br>
    <% else %>
      <%= translated_attribute(project.title) %><br>
    <% end %>
  </td>
  <td>
    <%= project.taxonomies.map { |taxonomy| decidim_sanitize_translated(taxonomy.name) }.join(", ") %>
  </td>
  <td>
    <%= project.confirmed_orders_count %>
  </td>
  <td>
    <% if project.selected? %>
      <%= content_tag :strong, t("yes", scope: "decidim.budgets.admin.projects.index.selected_options"), class: "label success" %>
    <% else %>
      <%= content_tag :strong, t("no", scope: "decidim.budgets.admin.projects.index.selected_options"), class: "label" %>
    <% end %>
  </td>
  <% if maps_enabled? && Decidim::Map.available?(:static, :geocoding) %>
    <td>
      <%= static_map_link(project, {}, { class: "static-map__admin" }) %>
    </td>
  <% end %>
  <td class="table-list__actions">
    <%= render partial: "decidim/budgets/admin/projects/actions", locals: { project:, view: } %>
  </td>
</tr>
