<tr data-id="<%= project.id %>">
  <td>
    <%= check_box_tag "project_ids_s[]", project.id, false, class: "js-check-all-resources js-project-list-check js-resource-id-#{project.id}" %><br>
  </td>
  <td>
    <%= project.id %><br>
  </td>
  <td>
    <%= translated_attribute(project.title) %><br>
  </td>
  <td>
    <% if project.category %>
      <%= translated_attribute project.category.name %>
    <% end %>
  </td>
  <%= td_resource_scope_for(project.scope) %>
  <td>
    <%= project.confirmed_orders_count %>
  </td>
  <td>
    <% if project.selected? %>
      <%= content_tag :strong, t("projects.index.selected", scope: "decidim.budgets.admin"), class: "text-success" %>
    <% else %>
      <%= content_tag :span, "x", class: "text-muted" %>
    <% end %>
  </td>
  <td class="table-list__actions">
    <% if allowed_to? :update, :project, project: project %>
      <%= icon_link_to "pencil", resource_locator([budget, project]).edit, t("actions.edit", scope: "decidim.budgets"), class: "action-icon--edit" %>
    <% end %>

    <% if allowed_to? :update, :project, project: project %>
        <%= icon_link_to "folder", project_attachment_collections_path(project), t("actions.attachment_collections", scope: "decidim.budgets"), class: "action-icon--attachment_collections" %>
    <% end %>

    <% if allowed_to? :update, :project, project: project %>
      <%= icon_link_to "paperclip", project_attachments_path(project), t("actions.attachments", scope: "decidim.budgets"), class: "action-icon--attachments" %>
    <% end %>

    <%= icon_link_to "eye", resource_locator([budget, project]).path, t("actions.preview", scope: "decidim.budgets"), target: :blank, class: "action-icon--preview" %>

    <%= resource_permissions_link(project) %>

    <% if allowed_to? :destroy, :project, project: project %>
      <%= icon_link_to "circle-x", resource_locator([budget, project]).show, t("actions.destroy", scope: "decidim.budgets"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.budgets") } %>
    <% else %>
      <%= icon "circle-x", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.destroy", scope: "decidim.budgets") %>
    <% end %>
  </td>
</tr>
