<div class="card with-overflow">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= link_to translated_attribute(budget.title), budgets_path %> &gt;
        <%= t(".title") %>
      </div>
      <%= render partial: "bulk-actions" %>
    </h2>
  </div>

  <%= admin_filter_selector(:projects) %>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= check_box_tag "projects_bulk", "all", false, class: "js-check-all" %></th>
            <th><%= sort_link(query, :id, t("models.project.fields.id", scope: "decidim.budgets"), default_order: :desc) %>
            <th><%= sort_link(query, :title, t("models.project.fields.title", scope: "decidim.budgets")) %></th>
            <th><%= sort_link(query, :category_name, t("models.project.fields.category", scope: "decidim.budgets") ) %></th>
            <%= th_scope_sort_link %>
            <th><%= sort_link(query, :confirmed_orders_count, t("index.confirmed_orders_count")) %></th>
            <th><%= sort_link(query, :selected, t(".selected")) %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim.budgets") %></th>
          </tr>
        </thead>
        <tbody>
          <% projects.each do |project| %>
            <tr data-id="<%= project.id %>">
              <td>
                <%= check_box_tag "project_ids_s[]", project.id, false, class: "js-check-all-project js-project-list-check js-project-id-#{project.id}" %><br>
              </td>
              <td>
                <%= project.id %><br>
              </td>
              <td>
                <%= translated_attribute(project.title) %><br>
              </td>
              <td>
                <% if project.category %>
                  <%= translated_attribute project.category.name %>
                <% end %>
              </td>
              <%= td_resource_scope_for(project.scope) %>
              <td>
               <%= project.confirmed_orders_count %>
              </td>
              <td>
                <% if project.selected? %>
                  <%= content_tag :strong, t(".selected"), class: "text-success" %>
                <% else %>
                  <%= content_tag :span, "x", class: "text-muted" %>
                <% end %>
              </td>
              <td class="table-list__actions">
                <%= icon_link_to "eye", resource_locator([budget, project]).path, t("actions.preview", scope: "decidim.budgets"), target: :blank, class: "action-icon--preview" %>

                <% if allowed_to? :update, :project, project: project %>
                  <%= icon_link_to "pencil", resource_locator([budget, project]).edit, t("actions.edit", scope: "decidim.budgets"), class: "action-icon--edit" %>
                <% end %>

                <% if allowed_to? :update, :project, project: project %>
                    <%= icon_link_to "folder", project_attachment_collections_path(project), t("actions.attachment_collections", scope: "decidim.budgets"), class: "action-icon--attachment_collections" %>
                <% end %>

                <% if allowed_to? :update, :project, project: project %>
                  <%= icon_link_to "paperclip", project_attachments_path(project), t("actions.attachments", scope: "decidim.budgets"), class: "action-icon--attachments" %>
                <% end %>

                <%= resource_permissions_link(project) %>

                <% if allowed_to? :destroy, :project, project: project %>
                  <%= icon_link_to "circle-x", resource_locator([budget, project]).show, t("actions.destroy", scope: "decidim.budgets"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.budgets") } %>
                <% else %>
                  <%= icon "circle-x", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.destroy", scope: "decidim.budgets") %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate projects, theme: "decidim" %>
    </div>
  </div>
  <div class="card-divider">
    <strong><%= t ".finished_orders" %>:&nbsp;</strong><span><%= finished_orders.count %></span>
    <span>&nbsp;|&nbsp;</span>
    <strong><%= t ".pending_orders" %>:&nbsp;</strong><span><%= pending_orders.count %></span>
  </div>
</div>

<%= javascript_pack_tag "decidim_budgets_admin" %>
