<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= link_to translated_attribute(budget.title), budgets_path %> &gt;
      <%= t(".title") %>
      <%= link_to t("actions.new", scope: "decidim.budgets", name: t("models.project.name", scope: "decidim.budgets.admin")), new_budget_project_path, class: "button tiny button--title new" if allowed_to? :create, :project %>
      <%= link_to t("actions.import", scope: "decidim.budgets", name: t("models.project.name", scope: "decidim.budgets.admin")), new_budget_proposals_import_path(budget), class: "button tiny button--title" if allowed_to? :import_proposals, :project %>
    </h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.project.fields.title", scope: "decidim.budgets") %></th>
            <th class="center"><%= t("index.confirmed_orders_count") %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim.budgets") %></th>
          </tr>
        </thead>
        <tbody>
          <% projects.each do |project| %>
            <tr data-id="<%= project.id %>">
              <td>
                <%= translated_attribute(project.title) %><br>
              </td>
              <td class='center'>
               <%= project.confirmed_orders_count %>
              </td>
              <td class="table-list__actions">
                <%= icon_link_to "eye", resource_locator([budget, project]).path, t("actions.preview", scope: "decidim.budgets"), target: :blank, class: "action-icon--preview" %>

                <% if allowed_to? :update, :project, project: project %>
                  <%= icon_link_to "pencil", resource_locator([budget, project]).edit, t("actions.edit", scope: "decidim.budgets"), class: "action-icon--edit" %>
                <% end %>

                <% if allowed_to? :update, :project, project: project %>
                    <%= icon_link_to "folder", project_attachment_collections_path(project), t("actions.attachment_collections", scope: "decidim.budgets"), class: "action-icon--attachment_collections" %>
                <% end %>

                <% if allowed_to? :update, :project, project: project %>
                  <%= icon_link_to "paperclip", project_attachments_path(project), t("actions.attachments", scope: "decidim.budgets"), class: "action-icon--attachments" %>
                <% end %>

                <%= resource_permissions_link(project) %>

                <% if allowed_to? :destroy, :project, project: project %>
                  <%= icon_link_to "circle-x", resource_locator([budget, project]).show, t("actions.destroy", scope: "decidim.budgets"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.budgets") } %>
                <% else %>
                  <%= icon "circle-x", class: "action-icon action-icon--disabled", role: "img" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate projects, theme: "decidim" %>
    </div>
  </div>
  <div class="card-divider">
    <strong><%= t ".finished_orders" %>:&nbsp;</strong><span><%= finished_orders.count %></span>
    <span>&nbsp;|&nbsp;</span>
    <strong><%= t ".pending_orders" %>:&nbsp;</strong><span><%= pending_orders.count %></span>
  </div>
</div>
