<%= form_for(@form, url: projects_import_index_path(@accountability), html: { class: "form import_projects" }) do |f| %>
  <% if @form.origin_components.any? %>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title"><%= t(".title") %></h2>
      </div>
      <div class="card-section">
        <div class="row column">
          <%= f.select :origin_component_id, @form.origin_components_collection, prompt: t(".select_component"), label: t(".origin_component_id") %>
        </div>
        <div class="row column">
          <% @form.origin_components.each do |component|%>
            <p id="component_<%= component.id %>" class="help-text" style="margin-top: -1.5em; margin-left:.5em; display: none;
            <%= "color: red;" if @form.selceted_projects_count(component).zero? %>">
              <%= t(".new_items", count: @form.selceted_projects_count(component)) %>
            </p>
          <% end %>
        </div>
        <div class="row column">
          <%= f.check_box :import_all_selected_projects, label: t(".import_all_selected_projects") %>
        </div>
      </div>
    </div>

    <div class="button--double form-general-submit">
      <%= f.submit t(".create") %>
    </div>
  <% else %>
    <p><%= t(".no_components") %></p>
  <% end %>
<% end %>

<%= javascript_pack_tag "decidim_accountability_admin_imports" %>
