<div class="content-block__title">
  <h2 class="h2 decorator"><%= title %></h2>
  <div class="label text-lg"><%= total_count %></div>
  <% if show_all_path.present? %>
    <%= link_to show_all_path, class: "button button__sm button__text-secondary" do %>
      <span><%= t("decidim.assemblies.pages.home.highlighted_assemblies.see_all_spaces") %></span>
      <%= icon "arrow-right-line" %>
    <% end %>
  <% end %>
</div>

<div class="assembly__block-grid">
  <% assemblies.each do |assembly| %>
    <%= card_for(assembly) %>
  <% end %>
</div>
