<button class="button button--title share-link text-center calendar" data-open="calendarShare">
  <%= t(".export_calendar") %>
  <%= icon "share", class: "icon--after", role: "img", "aria-hidden": true %>
</button>
<div class="reveal" id="calendarShare" data-reveal>
  <div class="reveal__header">
    <h2 class="reveal__title"><%= t(".calendar_url") %>:</h2>
    <button class="close-button" data-close aria-label="<%= t(".close_window") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <input type="text" value="<%= "#{path}" %>" readonly title="<%= t(".calendar_url") %>">
</div>
