<% content_for :heading do %>
  <%= t(".color_header") %>
<% end %>

<% content_for :description do %>
  <p><%= t(".description_p1") %></p>
  <p><%= t(".description_p2_html",
           contrast_link: link_to(t(".wcag_compliant_rations"), "https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html", target: "_blank", rel: "noopener noreferrer"),
           checker_link: link_to(t(".wcag_contrast_checker"), "https://webaim.org/resources/contrastchecker", target: "_blank", rel: "noopener noreferrer")
         ) %></p>
<% end %>

<% content_for :toc do %>
  <% colors_sections.each do |section| %>
    <%= link_to(section_text(section), "##{section[:id]}") %>
  <% end %>
<% end %>

<%= render partial: "decidim/design/shared/sections", locals: { sections: colors_sections } %>
