<% content_for :heading do %>
  Typography
<% end %>

<% content_for :description do %>
  <p>These guidelines summarize how use typography at Decidim, and serve as guardrails for designers to design freely with best typographic practices in mind</p>
<% end %>

<% content_for :toc do %>
  <a href="#typefaces">Typefaces</a>
  <a href="#headings">Headings</a>
  <a href="#content">Content</a>
  <a href="#readability">Readability</a>
<% end %>

<section id="typefaces" class="design__section">
  <h2>Typefaces</h2>

  <p>Decidim uses Source Sans Pro as primary typeface. This typeface supports 310 languages</p>

  <p>This fonts are licensed under the Open Font License</p>

  <table class="design__table">
    <thead>
      <th>Example</th>
    </thead>
    <tbody>
      <tr>
        <td><span class="text-lg font-bold">Source Sans Pro Bold</span></td>
      </tr>
      <tr>
        <td><span class="text-lg font-semibold">Source Sans Pro Semibold</span></td>
      </tr>
      <tr>
        <td><span class="text-lg font-normal">Source Sans Pro Regular</span></td>
      </tr>
    </tbody>
  </table>
</section>

<section id="headings" class="design__section">
  <h2>Headings</h2>

  <table class="design__table">
    <thead>
      <th>Level</th>
      <th>Semibold 600</th>
      <th>Bold 700</th>
      <th>Size</th>
    </thead>
    <tbody>
      <%
        rows = []
        rows << { level: "Hero H1", text: "Hero heading", size: "text-5xl" }
        rows << { level: "H1", text: "Heading H1", size: "text-4xl" }
        rows << { level: "H2", text: "Heading H2", size: "text-3xl" }
        rows << { level: "H3", text: "Heading H3", size: "text-2xl" }
        rows << { level: "H4", text: "Heading H4", size: "text-xl" }
        rows << { level: "H5", text: "Heading H5", size: "text-lg" }
        rows << { level: "H6", text: "Heading H6", size: "text-md" }

        rows.each_with_index do |row, ix|
      %>
        <tr>
          <td><span class="text-center"><%= row[:level] %></span></td>
          <td><span class="font-semibold <%= row[:size] %>"><%= row[:text] if ix.positive? %></span></td>
          <td><span class="font-bold <%= row[:size] %>"><%= row[:text] %></span></td>
          <td><span class="text-secondary underline text-center"><%= row[:size] %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section id="content" class="design__section">
  <h2>Content</h2>

  <table class="design__table">
    <thead>
      <th>Regular 400</th>
      <th>Semibold 600</th>
      <th>Bold 700</th>
      <th>Size</th>
    </thead>
    <tbody>
      <%
        rows = []
        rows << { text: "Sample content", size: "text-xl" }
        rows << { text: "Sample content", size: "text-lg" }
        rows << { text: "Sample content", size: "text-md" }
        rows << { text: "Sample content", size: "text-sm" }
        rows << { text: "Sample content", size: "text-xs" }

        rows.each do |row|
      %>
        <tr>
          <td><span class="font-normal <%= row[:size] %>"><%= row[:text] %></span></td>
          <td><span class="font-semibold <%= row[:size] %>"><%= row[:text] %></span></td>
          <td><span class="font-bold <%= row[:size] %>"><%= row[:text] %></span></td>
          <td><span class="text-secondary underline text-center"><%= row[:size] %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section id="readability" class="design__section">
  <h2>Readability</h2>

  <table class="design__table">
    <thead>
      <th>Size</th>
      <th>Layout cols</th>
      <th>~ Characters per line</th>
    </thead>
    <tbody>
      <%
        rows = []
        rows << { size: "text-xl", layout: 6, chars: 81 }
        rows << { size: "text-lg", layout: 6, chars: 90 }
        rows << { size: "text-md", layout: 5, chars: 84 }
        rows << { size: "text-sm", layout: 4, chars: 76 }

        rows.each do |row|
      %>
        <tr>
          <td><span class="text-secondary underline"><%= row[:size] %></span></td>
          <td><%= row[:layout] %></td>
          <td><%= row[:chars] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
