<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <% @form.valid? %>
      <% @form.messages.each do |key, value| %>
        <% if form.object.errors.include?(key) %>
          <p><%= icon "x", role: "img", "aria-hidden": true %>&nbsp;<%= form.object.errors.messages[key][0].html_safe %></p>
        <% else %>
          <p><%= icon "check", role: "img", "aria-hidden": true %>&nbsp;<%= value.html_safe %></p>
        <% end %>
      <% end %>
      <p></p>

    <% if !@form.trustees.empty? %>
      <h4>Selected trustees</h4>
      <ul class="no-bullet-indented">
        <% @form.trustees.each do |trustee| %>
          <li>
            <%= icon "check", role: "img", "aria-hidden": true %>
              <%= trustee.user.name %> has a <strong>valid public key</strong>
            <%= form.hidden_field :trustee_ids, multiple: true, value: trustee.id %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
