<div class="field">
  <%= form.translated :text_field, :title, autofocus: true %>
</div>

<div class="field">
  <%= form.translated :text_field, :subtitle %>
</div>

<div class="field">
  <%= form.text_field :slug %>
</div>

<div class="field">
  <%= form.text_field :hashtag %>
</div>

<div class="field">
  <%= form.translated :editor, :short_description %>
</div>

<div class="field">
  <%= form.translated :editor, :description, toolbar: :full, lines: 25 %>
</div>

<div class="field">
  <%= form.file_field :hero_image %>
</div>

<div class="field">
  <%= form.file_field :banner_image %>
</div>

<div class="field">
  <%= form.check_box :promoted %>
</div>

<div class="field">
  <%= form.date_field :end_date %>
</div>

<div class="field">
  <%= form.translated :text_field, :meta_scope %>
</div>

<div class="field">
  <%= form.translated :text_field, :developer_group %>
</div>

<div class="field">
  <%= form.translated :text_field, :local_area %>
</div>

<div class="field">
  <%= form.translated :text_field, :target %>
</div>

<div class="field">
  <%= form.translated :text_field, :participatory_scope %>
</div>

<div class="field">
  <%= form.translated :text_field, :participatory_structure %>
</div>

<div class="field">
  <%= form.collection_select :scope_id, organization_scopes, :id, :name %>
</div>

<div class="field">
  <%= form.collection_select :participatory_process_group_id, organization_participatory_process_groups, :id, :name %>
</div>
