<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".title" %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>

    <div class="row column">
      <%= form.translated :text_field, :subtitle %>
    </div>

    <div class="row column">
      <%= form.text_field :slug %>
    </div>

    <div class="row column">
      <%= form.text_field :hashtag %>
    </div>

    <div class="row column">
      <%= form.translated :editor, :short_description %>
    </div>

    <div class="row column">
      <%= form.translated :editor, :description, toolbar: :full, lines: 25 %>
    </div>

    <div class="row column">
      <%= form.file_field :hero_image %>
    </div>

    <div class="row column">
      <%= form.file_field :banner_image %>
    </div>

    <div class="row column">
      <%= form.check_box :promoted %>
    </div>

    <div class="row column">
      <%= form.date_field :end_date %>
    </div>

    <div class="row column">
      <%= form.translated :text_field, :meta_scope %>
    </div>

    <div class="row column">
      <%= form.translated :text_field, :developer_group %>
    </div>

    <div class="row column">
      <%= form.translated :text_field, :local_area %>
    </div>

    <div class="row column">
      <%= form.translated :text_field, :target %>
    </div>

    <div class="row column">
      <%= form.translated :text_field, :participatory_scope %>
    </div>

    <div class="row column">
      <%= form.translated :text_field, :participatory_structure %>
    </div>

    <div class="row column">
      <%= form.collection_select :scope_id, organization_scopes, :id, :name %>
    </div>

    <div class="row column">
      <% if process_groups_for_select %>
        <%= form.select :participatory_process_group_id, process_groups_for_select, prompt: I18n.t("decidim.participatory_processes.participatory_process_groups.none") %>
      <% end %>
    </div>
  </div>
</div>
