<div class="field">
  <%= form.translated :text_field, :title, autofocus: true, data: { length: 50 } do %>
    <span></span>
  <% end %>
</div>

<div class="field">
  <%= form.translated :text_field, :subtitle %>
</div>

<div class="field">
  <%= form.text_field :slug, data: { length: 50 } %>
  <span></span>
</div>

<div class="field">
  <%= form.text_field :hashtag, data: { length: 20 } %>
  <span></span>
</div>

<div class="field">
  <%= form.translated :editor, :short_description %>
</div>

<div class="field">
  <%= form.translated :editor, :description, toolbar: :full, lines: 20 %>
</div>

<div class="field">
  <%= form.file_field :hero_image %>
</div>

<div class="field">
  <%= form.file_field :banner_image %>
</div>

<div class="field">
  <%= form.check_box :promoted %>
</div>

<script>
 var counters = function(){
   $('input[data-length]').each(function(_index, element) {
     var $element = $(element);
     var span = $element.siblings('span');

     if (span) {
       span.html($element.data('length') - $element.val().length);
     }
   });
 };

 $('form').on('keyup', 'input, textarea', counters);
 counters();
</script>
