<div class="field">
  <%= form.text_field :title, autofocus: true %>
</div>

<div class="field">
  <%= form.text_field :subtitle %>
</div>

<div class="field">
  <%= form.text_field :slug %>
</div>

<div class="field">
  <%= form.text_field :hashtag %>
</div>

<div class="field">
  <%= form.text_area :short_description %>
</div>

<div class="field">
  <%= form.text_area :description %>
</div>
