<% content_for :title do %>
  <h2><%= t "decidim.admin.titles.participatory_processes" %></h2>
<% end %>

<div class="actions title">
  <%= link_to t("actions.new", scope: "decidim.admin", name: t("models.participatory_process.name", scope: "decidim.admin")), ['new', 'participatory_process'], class: 'new' if can? :create, Decidim::ParticipatoryProcess %>
</div>

<table class="stack">
  <thead>
    <tr>
      <th><%= t("models.participatory_process.fields.title", scope: "decidim.admin") %></th>
      <th><%= t("models.participatory_process.fields.promoted", scope: "decidim.admin") %></th>
      <th><%= t("models.participatory_process.fields.published", scope: "decidim.admin") %></th>
      <th><%= t("models.participatory_process.fields.created_at", scope: "decidim.admin") %></th>
      <th class="actions"><%= t("actions.title", scope: "decidim.admin") %></th>
    </tr>
  </thead>
  <tbody>
    <% @participatory_processes.each do |process| %>
      <tr>
        <td>
          <%= link_to translated_attribute(process.title), process %><br />
        </td>
        <td>
          <%= humanize_boolean process.promoted? %>
        </td>
        <td>
          <%= humanize_boolean process.published? %>
        </td>
        <td>
          <%= l process.created_at, format: :short %>
        </td>
        <td class="actions">
          <% if can? :update, process %>
            <%= link_to t("actions.edit", scope: "decidim.admin"), ['edit', process] %>
          <% end %>

          <% if can? :publish, process %>
            <% if process.published? %>
              <%= link_to t("actions.unpublish", scope: "decidim.admin"), participatory_process_publish_path(process), method: :delete, class: "small button secondary" %>
            <% else %>
              <%= link_to t("actions.publish", scope: "decidim.admin"), participatory_process_publish_path(process), method: :post, class: "small button secondary" %>
            <% end %>
          <% end %>

          <% if can? :destroy, process %>
            <%= link_to t("actions.destroy", scope: "decidim.admin"), process, method: :delete, class: "small alert button", data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
