<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.admin.titles.participatory_processes" %><%= link_to t("actions.new", scope: "decidim.admin", name: t("models.participatory_process.name", scope: "decidim.admin")), ['new', 'participatory_process'], class: 'button tiny button--title' if can? :create, Decidim::ParticipatoryProcess %>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.participatory_process.fields.title", scope: "decidim.admin") %></th>
            <th><%= t("models.participatory_process.fields.created_at", scope: "decidim.admin") %></th>
            <th class="table-list__actions"><%= t("models.participatory_process.fields.published", scope: "decidim.admin") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @participatory_processes.each do |process| %>
            <tr>
              <td>
                <% if process.promoted? %>
                  <span data-tooltip class="icon-state icon-highlight" aria-haspopup="true"  data-disable-hover="false" title="<%= t("models.participatory_process.fields.promoted", scope: "decidim.admin") %>">
                    <%= icon "star" %>
                  </span>
                <% end %>
                <%= link_to translated_attribute(process.title), edit_participatory_process_path(process) %><br />
              </td>
              <td>
                <%= l process.created_at, format: :short %>
              </td>
              <td class="table-list__state">
                <% if process.published? %>
                  <strong class="text-success"><%= t('.published') %></strong>
                <% else %>
                  <strong class="text-alert"><%= t('.not_published') %></strong>
                <% end %>
              </td>
              <td class="table-list__actions">
                <% if can? :update, process %>
                  <%= link_to edit_participatory_process_path(process), class: "action-icon", data: { tooltip: true, disable_hover: false }, aria_haspopup: true, title: t("actions.configure", scope: "decidim.admin") do %>
                    <%= icon "pencil" %>
                  <% end %>
                <% end %>
                <% if can? :preview, process %>
                  <%= link_to decidim.participatory_process_path(process), class: "action-icon preview", data: { tooltip: true, disable_hover: false }, aria_haspopup: true, title: t("actions.preview", scope: "decidim.admin") do %>
                    <%= icon "eye" %>
                  <% end %>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
