<% content_for :title do %>
  <h2><%= link_to translated_attribute(@participatory_process.title), @participatory_process %></h2>
  <h3 class="subheader"><%= translated_attribute(@participatory_process.subtitle) %></h3>
<% end %>

<div class="actions">
  <hr />
  <% if can? :update, @participatory_process %>
    <%= link_to t("decidim.admin.actions.edit"), ['edit', @participatory_process] %>
  <% end %>

  <% if can? :publish, @participatory_process %>
    <% if @participatory_process.published? %>
      <%= link_to t("actions.unpublish", scope: "decidim.admin"), participatory_process_publish_path(@participatory_process), method: :delete, class: "small button secondary" %>
    <% else %>
      <%= link_to t("actions.publish", scope: "decidim.admin"), participatory_process_publish_path(@participatory_process), method: :post, class: "small button secondary" %>
    <% end %>
  <% end %>

  <% if can? :destroy, @participatory_process %>
    <%= link_to t("decidim.admin.actions.destroy"), @participatory_process, method: :delete, class: "alert button", data: { confirm: t("decidim.admin.actions.confirm_destroy") } %>
  <% end %>
</div>

<dl>
  <%= display_for @participatory_process,
    :title,
    :subtitle,
    :hashtag,
    :slug,
    :short_description,
    :description
    %>
  <dt><%= display_label(@participatory_process, :hero_image) %></dt>
  <dd><%= image_tag @participatory_process.hero_image.url.to_s %></dd>
  <dt><%= display_label(@participatory_process, :banner_image) %></dt>
  <dd><%= image_tag @participatory_process.banner_image.url.to_s %></dd>
  <dt><%= display_label(@participatory_process, :promoted) %></dt>
  <dd><%= humanize_boolean @participatory_process.promoted? %></dd>
</dl>

<% if can? :read, Decidim::ParticipatoryProcessStep %>
  <%= render partial: "decidim/admin/participatory_process_steps/table" %>
<% end %>
