<% content_for :title do %>
  <h2><%= link_to translated_attribute(@participatory_process.title), @participatory_process %></h2>
  <h3 class="subheader"><%= translated_attribute(@participatory_process.subtitle) %></h3>
<% end %>

<div class="actions">
  <hr />
  <%= link_to_if policy(@participatory_process).edit?, t("decidim.admin.actions.edit"), ['edit', @participatory_process] %>
  <%= link_to_if policy(@participatory_process).destroy?, t("decidim.admin.actions.destroy"), @participatory_process, method: :delete, class: "alert button", data: { confirm: t("decidim.admin.actions.confirm_destroy") } %>
</div>

<dl>
  <%= display_for @participatory_process,
    :title,
    :subtitle,
    :hashtag,
    :short_description,
    :description
    %>
  <dt><%= display_label(@participatory_process, :hero_image) %></dt>
  <dd><%= image_tag @participatory_process.hero_image.url.to_s %></dd>
  <dt><%= display_label(@participatory_process, :banner_image) %></dt>
  <dd><%= image_tag @participatory_process.banner_image.url.to_s %></dd>
</dl>
