<% process = highlighted_items.first %>
<% title_id = "process_title" %>
<section class="wrapper-home home-section">
  <div class="row" id="highlighted-processes">
    <h3 class="section-heading"><%= t("active_processes", scope: i18n_scope) %></h3>
    <div class="row collapse">
      <% if process.is_a? Decidim::ParticipatoryProcessGroup %>
        <%= render partial: "decidim/participatory_processes/participatory_processes/promoted_process_group.html", locals: { promoted_process_group: process } %>
      <% else %>
        <div class="card card--full card--process">
          <div class="row collapse card--process__row">
            <div class="column large-6 card--process__column">
              <div class="card__content">
                <%= link_to decidim_participatory_processes.participatory_process_path(process), class: "card__link" do %>
                  <h2 class="card__title" id="<%= title_id %>"><%= decidim_html_escape(translated_attribute(process.title)) %></h2>
                <% end %>
                <%= decidim_sanitize_editor translated_attribute(process.short_description) %>
                <%= link_to decidim_participatory_processes.participatory_process_path(process), class: "button small hollow" do %>
                  <span class="show-for-sr"><%= decidim_html_escape(translated_attribute(process.title)) %></span>
                  <%= t("more_information", scope: i18n_scope) %>
                <% end %>
              </div>
            </div>
            <div class="column large-6 card--process__column">
              <div class="card--full__image" style="background-image:url('<%= process.attached_uploader(:hero_image).path %>')">
                <div class="card__content row collapse">
                  <div class="large-6 large-offset-6 columns">
                    <%= link_to decidim_participatory_processes.participatory_process_path(process), class: "button expanded button--sc" do %>
                      <span class="show-for-sr"><%= t("participate_in", resource_name: translated_attribute(process.title), scope: i18n_scope) %></span>
                      <span aria-hidden="true"><%= t("participate", scope: i18n_scope) %></span>
                      <% if process.active_step %>
                        <span class="button__info">
                          <%= t("active_step", scope: i18n_scope) %>
                          <strong><%= translated_attribute process.active_step.title %></strong>
                        </span>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "_all_processes" %>
</section>
