<%= render layout: "decidim/design/layout" do %>

  <% content_for :toc do %>
    <% @sections.each do |title, results| %>
      <a href="#<%= title %>"><%= title %></a>
    <% end %>
  <% end %>

  <h1 class="h1">Cards</h1>

  <% @sections.each do |title, results| %>
    <section id="<%= title %>">
      <h2 class="h2"><%= title %></h2>

      <div class="card__grid-grid">
        <% results.each do |result| %>
          <%= card_for result %>
        <% end %>
      </div>
    </section>
  <% end %>

<% end %>
