<div class="form-general-submit answer-questionnaire__submit">
  <% if !first_step? %>
    <button type="button" class="button button__sm button__text-secondary" data-toggle="<%= [previous_step_dom_id, current_step_dom_id].join(" ") %>">
      <%= icon "arrow-left-line", class: "fill-current" %>
      <%= t("decidim.forms.step_navigation.show.back") %>
    </button>
  <% end %>

  <% if last_step? %>
    <%= form.submit(
      "#{t("decidim.forms.step_navigation.show.submit")}#{icon "mail-send-line", class: "fill-current"}".html_safe,
      class: "button button__sm button__secondary",
      disabled: button_disabled?,
      **confirm_data
    ) %>
  <% else %>
    <button type="button" class="button button__sm button__secondary" data-toggle="<%= [next_step_dom_id, current_step_dom_id].join(" ") %>">
      <%= t("decidim.forms.step_navigation.show.continue") %>
      <%= icon "arrow-right-line", class: "fill-current" %>
    </button>
  <% end %>
</div>
