<div class="response-questionnaire__submit layout-aside__ctas-buttons survey-section-buttons" data-sticky-buttons>
  <% if !first_step? %>
    <button type="button" class="button button__sm button__transparent-secondary" data-toggle="<%= [previous_step_dom_id, current_step_dom_id].join(" ") %>" data-survey-buttons>
      <%= icon "arrow-left-line", class: "fill-current" %>
      <%= t("decidim.forms.step_navigation.show.back") %>
    </button>
  <% end %>

  <% if last_step? %>
    <%= form.submit(
      "#{t("decidim.forms.step_navigation.show.submit")}#{icon "mail-send-line", class: "fill-current"}".html_safe,
      class: "button button__sm button__secondary",
      disabled: button_disabled?,
      **confirm_data
    ) %>
  <% else %>
    <button type="button" class="button button__sm button__secondary" data-toggle="<%= [next_step_dom_id, current_step_dom_id].join(" ") %>" data-survey-buttons>
      <%= t("decidim.forms.step_navigation.show.continue") %>
      <%= icon "arrow-right-line", class: "fill-current" %>
    </button>
  <% end %>
</div>
