<div class="filter-search filter-container hidden md:block">
  <%= form_tag(decidim.search_path, method: :get) do %>
    <%= text_field_tag(
      :term,
      nil,
      id: "input-search-page",
      value: params[:term] || params.dig(:filter, :term),
      placeholder: t("decidim.search.term_input_placeholder"),
      title: t("decidim.search.term_input_placeholder"),
      "aria-label": t("decidim.search.term_input_placeholder")
    ) %>
    <button type="submit" aria-controls="results" aria-label="<%= t("decidim.search.term_input_placeholder") %>">
      <%= icon "search-line" %>
    </button>
  <% end %>
</div>

<h1 id="search-results-title" class="h3 decorator mb-10 md:my-10">
  <%= t("decidim.search.results_found_for_term", count: @results_count, term:) %>
</h1>
