<% if params.dig(:filter, :with_resource_type).present? %>
  <%= link_to main_search_path, class: "button button__sm button__text-secondary" do %>
    <%= icon "arrow-left-line" %>
    <span><%= t(".back") %></span>
  <% end %>
<% end %>

<div class="filter-container self-stretch">
  <button id="dropdown-trigger" data-component="dropdown" data-target="dropdown-menu" data-auto-close="true">
    <%= content_tag :span, t("decidim.searches.filters.jump_to"), class: "#{ 'is-active' if params.dig(:filter, :with_resource_type) == nil}" %>
    <% @sections.each do |type, results| %>
      <%= content_tag :span, class: "#{ 'is-active' if params.dig(:filter, :with_resource_type) == type}" do %>
        <span><%= searchable_resource_human_name(type) %></span>
      <% end %>
    <% end %>
    <%= icon "arrow-down-s-line", class: "w-8 h-8 flex-none text-secondary fill-current" %>
    <%= icon "arrow-up-s-line", class: "w-8 h-8 flex-none text-secondary fill-current" %>
  </button>
  <ul id="dropdown-menu">
    <% @sections.each do |type, results| %>
      <li>
        <%= link_to search_path_by_resource_type(type), class: "filter#{ ' is-active' if params.dig(:filter, :with_resource_type) == type}" do %>
          <%= resource_type_icon(type) %>
          <span><%= searchable_resource_human_name(type) %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
