<label class="text-medium mb-s">Jump to:</label>
<% if params.dig(:filter, :resource_type).present? %>
  <p class="text-secondary">
    <%= link_to main_search_path do %>
      <%= icon "caret-left", class: "icon--small" %>&nbsp;Back to all results
    <% end %>
  </p>
<% end %>
<div class="card card--secondary">
  <div class="filters">
    <% @sections.each do |type, results| %>
    <div class="filters__section--general<%= " no-results" if results[:count].zero? %>">
      <%= link_to search_path_by_type(type), class: "flex--sbc" do %>
        <strong class="section-title"><%= searchable_resource_human_name(type) %></strong>
        <span class="muted">&nbsp;<%= results[:count] %></span>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div class="card card--secondary">
  <div class="filters">
    <div class="filters__section">
      <form>
        <fieldset>
          <legend><h6 class="heading6">Àmbit</h6></legend>
          <div class="data-picker picker-multiple">
            <div class="picker-values"></div>
            <div class="picker-prompt"><a href="">Select a scope</a></div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<% actives = 12; pasts = 12; futures = 12; %>
<div class="row collapse order-by">
  <div class="text-uppercase text-right">
    <span class="order-by__tabs">
      <%= link_to raw("<strong>pasados</strong>&nbsp;<span>(" + pasts.to_s + ")</span>"), page_path("#"), class: "order-by__tab is-active" %>
      <%= link_to raw("<strong>siguiente</strong>&nbsp;<span>(" + futures.to_s + ")</span>"), page_path("#"), class: "order-by__tab" %>
      <%= link_to raw("<strong>todos</strong>&nbsp;<span>(" + (actives + pasts + futures).to_s + ")</span>"), page_path("#"), class: "order-by__tab" %>
    </span>
  </div>
</div>
