<% resources= @sections.select {|type, results| types.include?(type)} %>
<div class="card card--secondary">
  <div class="filters">
    <% resources.each do |type, results| %>
    <div class="filters__section--general<%= " no-results" if results[:count].zero? %>">
      <% if results[:count].positive? %>
        <%= link_to search_path_by_resource_type(type), class: "flex--sbc" do %>
          <strong class="section-title"><%= searchable_resource_human_name(type) %></strong>
          <span class="muted">&nbsp;<%= results[:count] %></span>
        <% end %>
      <% else %>
        <div class="flex--sbc">
          <strong class="section-title"><%= searchable_resource_human_name(type) %></strong>
          <span class="muted">&nbsp;<%= results[:count] %></span>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
