<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.admin.titles.users" %>
      <%= link_to t("actions.new", scope: "decidim.admin", name: t("models.user.name", scope: "decidim.admin")), ['new', 'user'], class: 'button tiny button--title' %>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.user.fields.role", scope: "decidim.admin") %></th>
            <th><%= t("models.user.fields.name", scope: "decidim.admin") %></th>
            <th><%= t("models.user.fields.email", scope: "decidim.admin") %></th>
            <th><%= t("models.user.fields.invitation_sent_at", scope: "decidim.admin") %></th>
            <th><%= t("models.user.fields.invitation_accepted_at", scope: "decidim.admin") %></th>
            <th><%= t("models.user.fields.last_sign_in_at", scope: "decidim.admin") %></th>
            <th><%= t("models.user.fields.created_at", scope: "decidim.admin") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr data-user-id="<%= user.id %>">
              <td><%= t("models.user.fields.roles.#{user.active_role}", scope: "decidim.admin") %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td>
                <% if user.invitation_sent_at %>
                  <%= l user.invitation_sent_at, format: :short %>
                <% end %>
              </td>
              <td>
                <% if user.invitation_accepted_at %>
                  <%= l user.invitation_accepted_at, format: :short %>
                <% end %>
              </td>
              <td>
                <% if user.last_sign_in_at %>
                  <%= l user.last_sign_in_at, format: :short %>
                <% end %>
              </td>
              <td><%= l user.created_at, format: :short %></td>
              <td class="table-list__actions">
                <% if can?(:invite, user) && user.invited_to_sign_up? %>
                  <%= icon_link_to "reload", ['resend_invitation', user], t("actions.resend_invitation", scope: "decidim.admin"), class: "resend-invitation", method: :post %>
                <% end %>

                <% if can? :destroy, user %>
                  <%= icon_link_to "circle-x", user, t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users, theme: "decidim" %>
    </div>
  </div>
</div>
