<div class="content-block__title">
  <h2 class="h2 decorator"><%= t("decidim.pages.participatory_space.metrics.headline") %></h2>
  <div class="label text-lg"><%= metrics_count %></div>

  <% if show_all_path.present? %>
    <%= link_to show_all_path, class: "button button__sm button__text-secondary" do %>
      <span><%= t("decidim.pages.participatory_space.metrics.link") %></span>
      <%= icon "arrow-right-line" %>
    <% end %>
  <% end %>
</div>

<div class="participatory-space__block-grid">
  <%= highlighted_metrics %>
  <% if display_not_highlighted_metrics %>
    <%= not_highlighted_metrics %>
  <% end %>
</div>
