<h2 class="process-title-summary">
  <%= t(".new_managed_user_promotion") %>
</h2>

<div class="section">
  <%= cell("decidim/announcement", t(".explanation"), callout_class: "warning" ) %>
</div>

<%= decidim_form_for(@form, url: impersonatable_user_promotions_path, html: { class: "form new_managed_user_promotion" }) do |f| %>
  <div class="card">
    <div class="card-section">
      <%= render partial: "form", object: f %>
    </div>
  </div>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= f.submit t(".promote"), class: "button button__sm button__secondary" %>
  </div>
<% end %>
