<% unless elections.one? %>
  <%= link_to voting_monitoring_committee_election_results_path(current_voting) do %>
    <%= icon "caret-left", class: "icon--small", role: "img" %> <%= t(".change_election") %>
  <% end %>
<% end %>

<%= render partial: "results", locals: { groups: publish_results_form.groups } %>

<%= decidim_form_for publish_results_form, url: voting_monitoring_committee_election_result_path(current_voting, election), method: :put, html: { class: "form step" } do |f| %>
  <% if publish_results_form.pending_action %>
    <div id="pending_action"
          data-api-endpoint-url="<%= bulletin_board_server %>"
          data-message-id="<%= publish_results_form.pending_action.message_id %>"></div>

    <%= append_javascript_pack_tag "decidim_elections_admin" %>
    <span class='loading-spinner'></span> <%= t(".publishing") %></div>
  <% else %>
    <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
      <%= f.submit t(".publish_results"), class: "button button__sm button__secondary" %>
    </div>
  <% end %>
<% end %>

<%= append_stylesheet_pack_tag "decidim_votings_admin" %>
