<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Decidim Design" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "public", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "public", 'data-turbolinks-track': "reload" %>
    <%= favicon_link_tag "favicon.png" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
