<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Decidim Design" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_pack_tag "redesigned_decidim_core", media: "all", 'data-turbolinks-track': "reload" %>
    <%= favicon_pack_tag "media/images/favicon.png" %>
    <%= snippets.display(:head) %>
  </head>

  <body>
    <%= render "layouts/decidim/wrapper" do %>
      <%= yield %>
    <% end %>

    <%= snippets.display(:foot) %>

    <%= javascript_pack_tag "redesigned_decidim_core", defer: false, 'data-turbolinks-track': "reload" %>
  </body>
</html>
