<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Decidim Design" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_pack_tag "redesigned", media: "all", 'data-turbolinks-track': "reload" %>
    <%= favicon_pack_tag "media/images/favicon.png" %>
    <%= snippets.display(:head) %>
  </head>

  <body>
    <%= render partial: "redesigned/shared/header" %>

    <%= yield %>

    <%= render partial: "redesigned/shared/footer" %>

    <%= snippets.display(:foot) %>

    <%= javascript_pack_tag "redesigned", defer: false, 'data-turbolinks-track': "reload" %>

    <script defer>
      Decidim.config.set(<%== { icons_path: asset_pack_path("media/images/remixicon.symbol.svg") }.to_json %>);
    </script>
  </body>
</html>
