<p class="email-greeting"><%= t(".greeting", recipient: @recipient.name) %></p>

<p class="email-instructions email-small"><%= t(".admin_in_group", group: @sender.name) %></p>

<p class="email-instructions"><%= t(".intro", group: @sender.name, manager: @third_party.name) %></p>

<blockquote>
  <p>
    <em><%= @message %></em>
  </p>
</blockquote>

<p class="email-button email-button__cta">
  <%= link_to decidim.profile_conversation_url(nickname: @sender.nickname, id: @conversation.id, host: @host), decidim.profile_conversation_url(nickname: @sender.nickname, id: @conversation.id, host: @host) %>
</p>

<p class="email-closing"><%= t(".outro") %></p>
