<p class="email-greeting"><%= t(".greeting", recipient: @recipient.name) %></p>

<p class="email-instructions"><%= t(".intro", sender: @sender.name) %></p>

<blockquote>
  <p>
    <em><%= @message %></em>
  </p>
</blockquote>

<p class="email-button email-button__cta">
  <%= link_to decidim.conversation_url(@conversation, host: @host), decidim.conversation_url(@conversation, host: @host) %>
</p>

<p class="email-closing"><%= t(".outro") %></p>
