<p><%= t(".greeting", recipient: @recipient.name) %></p>

<p><%= t(".intro", sender: @sender.name) %></p>

<blockquote>
  <p>
    <em><%= @message %></em>
  </p>
</blockquote>

<p>
  <%= link_to decidim.conversation_url(@conversation, host: @host), decidim.conversation_url(@conversation, host: @host) %>
</p>

<p><%= t(".outro") %></p>
