<% add_decidim_page_title(t("authorization_exports", scope: "decidim.admin.titles")) %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t("authorization_exports", scope: "decidim.admin.titles") %>
  </h1>
</div>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <div class="form__wrapper">
      <div class="card">
        <div class="card-section">
          <div class="row column">
            <%= decidim_form_for @form, url: authorization_exports_path, multipart: true, html: { class: "form form-defaults" } do |form| %>
              <div class="row column">
                <%= form.date_field :start_date, label: t("start_date", scope: "decidim.admin.authorization_exports") %>
              </div>

              <div class="row column">
                <%= form.date_field :end_date, label: t("end_date", scope: "decidim.admin.authorization_exports") %>
              </div>

              <div class="row column">
                <%= form.select :authorization_handler_name, @workflows.map { |workflow| [workflow.fullname, workflow.name] }, label: t("authorization_handler_name", scope: "decidim.admin.authorization_exports") %>
              </div>

              <div class="item__edit-sticky">
                <div class="item__edit-sticky-container">
                  <%= submit_tag t("submit", scope: "decidim.admin.authorization_exports"), class: "button button__sm button__secondary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
