<% unless attachment_collection.unused? %>
<button class="documents__collection-trigger" data-component="dropdown" data-target="dropdown-menu-documents-<%= attachment_collection.id %>" data-auto-close="true" aria-expanded="false">
  <span>
    <span class="documents__collection-trigger__icon">
      <%= icon "folder-line" %>
      <%= icon "folder-open-line" %>
    </span>
    <%= translated_attribute(attachment_collection.name) %>
  </span>
  <%= icon "arrow-down-s-fill" %>
  <%= icon "arrow-up-s-fill" %>
</button>

<div id="dropdown-menu-documents-<%= attachment_collection.id %>" class="documents__collection-content">
  <p><%= translated_attribute(attachment_collection.description) %></p>

  <div class="documents__container">
    <% documents.each do |document| %>
      <%= render partial: "decidim/application/document", locals: { document: document } %>
    <% end %>
  </div>
</div>
<% end %>
