<div class="card--list__item">
  <div class="card--list__text">
    <div>
      <a href="<%= document.url %>" class="card__link" target="_blank">
        <h4 class="card--list__heading heading6">
          <%= attachment_title(document) %> <small><%= document.file_type %> <%= number_to_human_size(document.file_size) %></small>
        </h4>
        <% if document.description.present? %>
            <span class="text-small"><%= translated_attribute(document.description) %></span>
        <% end %>
      </a>
    </div>
  </div>
  <div class="card--list__data">
    <%= link_to document.url, target: "_blank", rel: "noopener", class: "card--list__data__icon", title: t("decidim.application.document.download") do %>
        <%= icon "cloud-download", role: "img", aria_label: t("decidim.application.document.download") %>
    <% end %>
  </div>
</div>
