<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.text_field :name, autofocus: true %>
      </div>

      <div class="row column">
       <%= form.select :partner_type, @form.types, { multiple: false, prompt: "" } %>
      </div>

      <div class="row column">
        <%= form.number_field :weight %>
      </div>

      <div class="row column">
        <%= form.url_field :link %>
      </div>

      <div class="row column">
        <%= form.upload :logo, button_class: "button button__sm button__transparent-secondary" %>
      </div>
    </div>
  </div>
</div>
