<div class="component__show_notes" data-component="accordion" id="accordion-notes">
  <button class="card-divider-button" data-controls="panel-notes" type="button">
    <%= icon "arrow-right-s-line" %>
    <h2 class="card-title">
      <%= t("title", scope: "decidim.proposals.admin.proposal_notes") %>
    </h2>
  </button>
  <div id="panel-notes">
    <div class="component__show_notes-grid">
      <% proposal.notes.each do |note| %>
        <div class="comment">
          <div class="comment__header">
            <div>
              <div>
                <div class="author">
                  <strong><span class="author__name"><%= note.author.name %></span></strong>
                  <span><%= l note.created_at, format: :decidim_short %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="comment__content">
            <%= simple_format note.body %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card add-comment">
      <div class="card-divider">
        <h2 class="card-title"><%= t("leave_your_note", scope: "decidim.proposals.admin.proposal_notes") %></h2>
      </div>
      <div class="card-section">
        <%= render "decidim/proposals/admin/proposal_notes/form" %>
      </div>
    </div>
  </div>
</div>
