<div class="component__show_notes" data-component="accordion" id="accordion-notes">
  <button class="card-divider-button" data-controls="panel-notes" type="button">
    <svg viewBox="0 0 24 24" id="ri-arrow-right-s-line">
      <path fill="none" d="M0 0h24v24H0z"/>
      <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/>
    </svg>
    <h2 class="card-title">
      <%= t("title", scope: "decidim.proposals.admin.proposal_notes") %>
    </h2>
  </button>
  <div id="panel-notes">
    <div class="component__show_notes-grid">
      <% proposal.notes.each do |note| %>
        <div class="comment">
          <div class="comment__header">
            <div class="author-data">
              <div class="author-data__main">
                <div class="author author--inline">
                  <strong><span class="author__name"><%= note.author.name %></span></strong>
                  <span><%= l note.created_at, format: :decidim_short %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="comment__content">
            <%= simple_format note.body %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="add-comment">
      <div class="card">
        <h2 class="card-title"><%= t("leave_your_note", scope: "decidim.proposals.admin.proposal_notes") %></h2>
        <%= render "decidim/proposals/admin/proposal_notes/form" %>
      </div>
    </div>
  </div>
</div>
