<div class="profile__actions-main__dropdown-container">
  <button id="trigger-dropdown-user-group" class="profile__actions-main__dropdown-trigger button button__sm button__transparent-secondary" data-component="dropdown" data-target="dropdown-menu-user-group">
    <span><%= t("manage_user_group", scope: "decidim.profiles.user.actions") %></span>
    <%= icon "group-line" %>
  </button>
  <div id="dropdown-menu-user-group" aria-hidden="true">
    <ul class="dropdown dropdown__bottom profile__actions-main__dropdown">
      <% actions.each do |action| %>
        <li>
          <%= link_to(
            action[:path],
            { class: "dropdown__item", title: action[:text] }.merge(action[:options])
          ) do %>
          <%= icon action[:icon] %>
          <%= content_tag :span, action[:text] %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
