<div class="profile__actions-main">
  <div class="profile__actions-main__dropdown-container">
    <button id="trigger-dropdown-user-group" class="profile__actions-main__dropdown-trigger button button__sm button__transparent-secondary" data-component="dropdown" data-target="dropdown-menu-user-group">
      <span><%= t("manage_user_group", scope: "decidim.profiles.user.actions")%></span>
      <%= icon "group-line" %>
    </button>
    <div id="dropdown-menu-user-group" aria-hidden="true">
      <ul class="dropdown dropdown__bottom profile__actions-main__dropdown">
        <% user_group_admin_actions_keys.each do |item| %>
          <li>
            <%= link_to(
                  item[:path],
                  class: "dropdown__item",
                  title: item[:text]
                ) do %>
                <%= icon item[:icon] %>
                <%= content_tag :span, item[:text] %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= cell "decidim/button", action_item(:message) %>
</div>

<div class="profile__actions-secondary">
  <%= cell("decidim/follow_button", profile_holder) %>

  <% if user_flaggable? %>
    <%= cell("decidim/report_button", profile_holder) %>
  <% end %>
</div>
