<%# NOTE: Since this call can be called from outside decidim-meetings, frontend assets are required %>

<%= stylesheet_pack_tag "decidim_meetings", media: "all" %>
<%= javascript_pack_tag "decidim_meetings" %>

<div id="upcoming_meetings" class="meeting-list__block">
  <div class="meeting-list__block-title">
    <h2 class="h2 decorator">
      <%= translated_attribute(model.name) %>
    </h2>
    <div class="label text-lg"><%= upcoming_meetings_count %></div>
    <%= link_to main_component_path(model), class: "button button__sm button__text-secondary" do %>
      <span><%= t("decidim.participatory_spaces.highlighted_meetings.see_all") %></span>
      <%= icon "arrow-right-line" %>
    <% end %>
  </div>
  <div>
    mapa
  </div>
  <div>
    <div>
      <%
      # REDESING_PENDING: activate once created a cell

        current_year = Date.new(2022,1,1).all_year;
        events = Date.new(2022,1,1).all_year.to_a.sample(15);

      %>
      <% current_year.group_by {|e| e.month}.take(2).take(2).each do |month| %>
        <%= cell "decidim/meetings/meeting_month", upcoming_meetings, month: %>
      <% end %>
    </div>
    <div>
      <% upcoming_meetings.includes(:component).each do |meeting| %>
        <%= card_for meeting, size: :list_item %>
      <% end %>
    </div>
  </div>
</div>

<% if upcoming_meetings.any? %>
  <div class="section row collapse upcoming_meetings">
    <h3 class="section-heading">
      <%= translated_attribute(model.name) %> - <%= t("decidim.participatory_spaces.highlighted_meetings.upcoming_meetings") %>
      <a href="<%= main_component_path(model) %>" class="text-small"><%= t("decidim.participatory_spaces.highlighted_meetings.see_all", count: upcoming_meetings_count) %></a>
    </h3>
    <div class="card card--list">
      <% upcoming_meetings.includes(:component).each do |meeting| %>
        <%= card_for meeting, size: :list_item %>
      <% end %>
    </div>
    <%= link_to(
      t("decidim.participatory_spaces.highlighted_meetings.see_all", count: upcoming_meetings_count),
      main_component_path(model),
      class: "button button--sc hollow button--right"
    ) %>
  </div>
<% elsif past_meetings.any? %>
  <div class="section row collapse past_meetings">
    <h3 class="section-heading">
      <%= translated_attribute(model.name) %> - <%= t("decidim.participatory_spaces.highlighted_meetings.past_meetings") %> <a href="<%= main_component_path(model) %>" class="text-small"><%= t("decidim.participatory_spaces.highlighted_meetings.see_all", count: past_meetings_count) %></a>
    </h3>
    <div class="card card--list">
      <% past_meetings.each do |meeting| %>
        <%= card_for meeting, size: :list_item %>
      <% end %>
    </div>
    <%= link_to(
      t("decidim.participatory_spaces.highlighted_meetings.see_all", count: past_meetings_count),
      main_component_path(model),
      class: "button button--sc hollow button--right"
    ) %>
  </div>
<% end %>
