<%# NOTE: Since this call can be called from outside decidim-meetings, frontend assets are required %>

<%= stylesheet_pack_tag "decidim_meetings", media: "all" %>
<%= javascript_pack_tag "decidim_meetings" %>

<div id="upcoming_meetings" class="meeting-list__block">
  <div class="meeting-list__block-title">
    <h2 class="h2 decorator">
      <%= translated_attribute(model.name) %>
    </h2>
    <div class="label text-lg"><%= upcoming_meetings_count %></div>
    <%= link_to main_component_path(model), class: "button button__sm button__text-secondary" do %>
      <span><%= t("decidim.participatory_spaces.highlighted_meetings.see_all") %></span>
      <%= icon "arrow-right-line" %>
    <% end %>
  </div>
  <div class="meeting-list__block-map">
    <%= cell "decidim/meetings/meetings_map", upcoming_meetings %>
  </div>
  <div class="meeting-list__block-list">
    <div class="meeting-list__block-list-aside">
      <%= link_to component_routes.year_calendar_meetings_path, class: "button button__sm button__transparent-secondary" do %>
        <%= t "decidim.meetings.directory.meetings.index.go_to_calendar" %>
        <%= icon "calendar-2-line" %>
      </a>
      <%
      # REDESING_PENDING: activate once created a cell

        current_year = Date.new(2022,1,1).all_year;
        events = Date.new(2022,1,1).all_year.to_a.sample(15);

      %>
      <% current_year.group_by {|e| e.month}.take(2).take(2).each do |month| %>
        <%= cell "decidim/meetings/meeting_month", upcoming_meetings, month: %>
      <% end %>
    </div>
    <div class="meeting-list__container">
      <span class="meeting-list__block-list-title"><%= t("decidim.participatory_spaces.highlighted_meetings.upcoming_meetings") %></span>
      <% upcoming_meetings.includes(:component).each do |meeting| %>
        <%# REDESIGN_PENDING: This should be the meetings_m card %>
        <%= card_for meeting, size: :list_item %>
      <% end %>
    </div>
  </div>
</div>
