<div class="filter-container">
  <button id="trigger-menu-<%= id %>" data-controls="panel-dropdown-menu-<%= id %>" data-open="false" data-open-md="true">
    <%= icon "arrow-down-s-line" %>
    <%= icon "arrow-up-s-line" %>
    <span><%= label %></span>
  </button>

  <div id="panel-dropdown-menu-<%= id %>">
    <%= form.dropdown_label(collection, method, check_boxes_tree_id:, parent_id: nil) %>
  </div>
</div>
