<div class="filter-container">
  <button id="trigger-menu-<%= id %>" data-controls="panel-dropdown-menu-<%= id %>" data-open="false" data-open-md="true">
    <%= icon "arrow-down-s-line" %>
    <%= icon "arrow-up-s-line" %>
    <span><%= label %></span>
  </button>
  <div id="panel-dropdown-menu-<%= id %>">
    <%= form.send(
        "collection_#{builder_type}",
        method,
        collection,
        :first,
        :last
    ) do |builder| %>
      <div class="filter">
        <%= builder.label { builder.send(builder_type.singularize, class: "reset-defaults") + filter_text_for(builder.text) } %>
      </div>
    <% end %>
  </div>
</div>
