<% if photos.any? %>
  <div class="section images">
    <h4 class="section-heading"><%= t(".related_photos") %></h4>
    <div class="row small-up-1 smallmedium-up-2 card-grid">
      <% photos.each_with_index do |photo, index| %>
        <div class="column">
          <article class="card" data-open="media-picture-<%= index %>">
            <div class="picture__content">
              <%= image_tag photo.thumbnail_url %>
              <h5 class="card__title">
                <strong><%= translated_attribute photo.title %></strong>
              </h5>
              <div class="text-small">
                <%= decidim_sanitize html_truncate(translated_attribute(photo.description), length: 100, separator: "...") %>
              </div>
            </div>
          </article>
          <div id="media-picture-<%= index %>" class="reveal picture__modal" data-reveal>
            <div class="reveal__header">
              <h3 class="reveal__title">Photo</h3>
            </div>
            <%= image_tag photo.big_url %>
            <h5>
              <strong><%= translated_attribute photo.title %></strong>
            </h5>
            <div class="text-small">
              <%= decidim_sanitize translated_attribute(photo.description) %>
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
