<div class="<%= card_class %> card__highlight">
  <div class="card__highlight-text">
    <%= link_to budget_path(budget), class: link_class do %>
      <h3 class="h3 text-secondary">
        <%= translated_attribute(title) %>
      </h3>
    <% end %>

    <%= decidim_sanitize html_truncate(translated_attribute(description), length: 140) %>

    <%= render :projects_count %>
  </div>

  <% if !voting_finished? %>
    <div class="budget-list__icon mr-s">
      <% if voted? %>
        <span class="button tiny success card--list__check card--list__check--disabled card--list__check--inline">
          <%= icon "check", class: "icon--small", role: "img", aria_label: t("decidim.budgets.budget_list_item.voting_finished") %>
        </span>
      <% elsif progress? %>
        <span class="button tiny warning card--list__check card--list__check--disabled card--list__check--inline">
          <%= icon "bookmark", class: "icon--small", role: "img", aria_label: t("decidim.budgets.budget_list_item.voting_started") %>
        </span>
      <% end %>
    </div>
  <% end %>

  <div class="budget__card__highlight-vote">
    <div class="h3 text-gray-2">
    <span><%= t("decidim.budgets.admin.models.budget.name") %></span>
      <strong>
        <%= budget_to_currency(total_budget) %>
      </strong>
    </div>
    <%= link_to budget_path(budget), class: "button button__sm button__secondary text-left mt-2 #{button_class}" do %>
      <span><%= button_text %></span>
      <%= icon "arrow-right-line" %>
      <%= render :vote_action %>
    <% end %>
  </div>
</div>
