<div class="<%= card_class %> card__highlight">
  <div class="card__highlight-text w-[60%]">
    <%= link_to budget_path(budget), class: link_class do %>
      <h3 class="h3 text-secondary inline-block align-middle">
        <%= translated_attribute(title) %>
      </h3>
      <% if voted? %>
        <%= icon "check-double-line", class: 'inline-block align-middle fill-success ml-2 h-[1.5em] w-[1.5em]' %>
      <% end %>
    <% end %>

    <%= decidim_sanitize html_truncate(translated_attribute(description), length: 140) %>

    <div class="divide-x-2 divide-gray-3">
      <%= render :projects_count %>
      <%= render :vote_action %>
    </div>
  </div>

  <div class="budget__card__highlight-vote">
    <div class="h3 text-gray-2">
    <span><%= t("decidim.budgets.admin.models.budget.name") %></span>
      <strong>
        <%= budget_to_currency(total_budget) %>
      </strong>
    </div>
    <%= link_to budget_path(budget), class: "button button__sm text-left mt-2 #{button_class} #{'button__secondary' if !voted?} #{'button__text-secondary' if voted?}" do %>
      <span><%= button_text %></span>
      <%= icon "arrow-right-line", class: "#{'text-secondary' if !voted?}" %>
    <% end %>
  </div>
</div>
