<ul>
  <li class="mb-4">
    <div class="address__container">
      <%= icon "map-pin-line" %>
      <div class="address">
        <% if has_location? %>
          <div class="address__location"><%= location %></div>
        <% end %>

        <div class="address__address"><%= address %></div>

        <% if has_location_hints? %>
          <div class="address__hints"><%= location_hints %></div>
        <% end %>
      </div>
    </div>
  </li>
  <% if display_start_and_end_time? %>
    <li>
      <div class="address__container">
        <%= icon "time-line" %>
        <div class="address">
          <div class="address__location">
            <%= start_and_end_time %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
