<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.check_box :inscriptions_enabled %>
    </div>

    <div class="row column">
      <p><%= t(".inscriptions_count", count: meeting.inscriptions.count) %></p>
      <%= form.number_field :available_slots %>
      <p class="help-text"><%= t(".available_slots_help") %></p>
    </div>

    <div class="row column">
      <%= form.translated :editor, :inscription_terms %>
    </div>
  </div>
</div>

<%= javascript_include_tag "decidim/meetings/admin/inscriptions_form" %>