<%= decidim_form_for(form, url: help_sections_path, method: :put, class: "form-defaults form") do |f| %>
  <% f.object.sections.each do |section| %>
    <%= f.fields_for "sections[]", section do |section_form| %>
      <div class="form form-defaults">
        <div class="item_show__header">
          <h2 class="item_show__header-title">
            <%= translated_attribute section.name %>
          </h2>
        </div>
        <div class="item__edit item__edit-1col">
          <div class="item__edit-form">
            <div class="form__wrapper">
              <div class="card" id="area-types">
                <div class="card-section">
                  <div class="row column">
                    <%= section_form.hidden_field :id %>
                    <%= section_form.translated :editor, :content, tabs_id: "sections_#{section_form.object.id}_content" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= f.submit t(".save"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
