<div class="author__tooltip bottom" role="tooltip">
  <div class="author__container">
    <%= render :avatar %>

    <div>
      <%= render :name %>
      <span class="text-md"><%= model.nickname %></span>
    </div>
  </div>

  <div class="author__tooltip-links">
    <%= link_to decidim.profile_followers_path(raw_model.nickname) do %>
      <%= content_tag(:span, model.followers_count, id: dom_id(raw_model, :followers_count)) %> <%= t("decidim.profiles.show.followers") %>
    <% end %>
    <% if model.can_follow? %>
      <%= link_to decidim.profile_following_path(raw_model.nickname) do %>
        <%= model.following_count %> <%= t("decidim.profiles.show.following") %>
      <% end %>
    <% end %>
  </div>

  <% if model.direct_messages_enabled?(context) %>
    <%= link_to current_or_new_conversation_path_with(model), class: "button button__sm button__transparent" do %>
      <span><%= t("decidim.profiles.show.send_private_message") %></span>
      <%= icon "mail-send-line" %>
    <% end %>
  <% end %>

  <%= follow_button_for(raw_model, false, button_classes: "button button__sm button__transparent") %>
</div>
