<span class="author__avatar">
  <%= image_tag model.avatar_url %>
</span>

<% if model.deleted? %>
  <span class="label label--small label--basic">
    <%= t("decidim.profile.deleted") %>
  </span>
<% else %>
  <span class="author__name"><%= model.name %></span>

  <% if model.badge.present? %>
    <span class="author__badge">
      <%= icon model.badge %>
    </span>
  <% end %>

  <% if model.nickname.present? %>
    <span class="author__nickname"><%= model.nickname %></span>
  <% end %>
<% end %>
