<%= content_tag(:span, class: :author, data: ) do %>
  <%= content_tag :span, class: "author__container#{" is-compact" if layout == :compact}" do %>
    <% if layout == :compact %>
      <%= render :avatar %>

      <span>
        <%= render :name %>

        <% context_actions.each do |action| %>
          <%= render action %>
        <% end %>
      </span>
    <% elsif layout == :avatar %>
      <%= render :avatar %>
    <% else %>
      <%= render :avatar %>
      <%= render :name %>
    <% end %>
  <% end %>

  <% if layout == :default %>
    <% context_actions.each do |action| %>
      <%= render action %>
    <% end %>
  <% end %>
<% end %>
