<%# If the options hash has the demo key it means we are in the decidim-design engine, so it is not a real-world scenario with actual users %>
<% tooltip = options.has_key?(:demo) ? { tooltip: render(:profile_minicard).html_safe } : nil %>
<%= content_tag(:p, class: :author, data: ) do %>
  <%= content_tag :span, class: "author__container#{" is-compact" if layout == :compact}", data: tooltip do %>
    <% if layout == :compact %>
      <%= render :avatar %>

      <span>
        <%= render :name %>

        <% context_actions.each do |action| %>
          <%= render action %>
        <% end %>
      </span>
    <% elsif layout == :avatar %>
      <%= render :avatar %>
    <% else %>
      <%= render :avatar %>
      <%= render :name %>
    <% end %>
  <% end %>

  <% if layout == :default %>
    <% context_actions.each do |action| %>
      <%= render action %>
    <% end %>
  <% end %>
<% end %>
