<div class="card" id="consultations">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.admin.titles.results" %>
      <span class="label button--title">
        <%= t "decidim.admin.consultations.results.total_votes", count: current_consultation.total_votes %>
        /
        <%= t "decidim.admin.consultations.results.participants", count: current_consultation.total_participants %>
        </span>
    </h2>
  </div>
  <div class="card-section">
    <table class="table-list">
      <% current_consultation.questions.published.includes(:responses).each do |question| %>
        <% unless question.external_voting %>
          <thead>
            <tr>
              <th><%= strip_tags translated_attribute question.title %></th>
              <th class="table-list__actions">
                <%= t "decidim.admin.consultations.results.total_votes", count: question.total_votes %>
                /
                <%= t "decidim.admin.consultations.results.participants", count: question.total_participants %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% if question.publishable_results? %>
              <% question.sorted_results.each do |response| %>
              <tr>
                <td><%= strip_tags translated_attribute response.title %></td>
                <td><%= response.votes_count %></td>
              </tr>
              <% end %>
            <% else %>
              <tr><td><em><%= t "decidim.admin.consultations.results.not_visible" %></em></td><td>&nbsp;</td></tr>
            <% end %>
          </tbody>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
