<div class="form__wrapper">

  <%= render partial: "decidim/admin/organization/form/basic_configuration", locals: { form: } %>
  <%= render partial: "decidim/admin/organization/form/logos", locals: { form: } %>
  <%= render partial: "decidim/admin/organization/form/colors", locals: { form: } %>
  <%= render partial: "decidim/admin/organization/form/welcome_notification", locals: { form: } %>
  <%= render partial: "decidim/admin/organization/form/admin_terms_of_service", locals: { form: } %>
  <%= render partial: "decidim/admin/organization/form/extra_features", locals: { form: } %>

</div>
