<div class="field">
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.text_field :twitter_handler %>
</div>

<div class="field">
  <%= form.translated :editor, :description %>
</div>

<div class="field">
  <%= form.translated :text_area, :welcome_text %>
</div>

<div class="field">
  <%= form.collection_select :default_locale, localized_locales(current_organization.available_locales), :id, :name %>
</div>

<div class="field">
  <%= form.file_field :homepage_image %>
</div>

<div class="field">
  <%= form.file_field :logo %>
</div>

<div class="field">
  <%= form.file_field :favicon %>
</div>

<div class="field">
  <%= form.text_field :official_url %>
</div>

<div class="field">
  <%= form.file_field :official_img_header %>
  <% if current_organization.official_img_header? %>
      <%= image_tag current_organization.official_img_header.url.to_s %>
  <% end %>
</div>

<div class="field">
  <%= form.file_field :official_img_footer %>
  <% if current_organization.official_img_footer? %>
      <%= image_tag current_organization.official_img_footer.url.to_s %>
  <% end %>
</div>

<div class="field">
  <%= form.check_box :show_statistics %>
</div>
