<div class="form__wrapper">
  <div class="card" data-component="accordion" id="accordion-title">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-title" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="title">
          <%= t("title", scope: "decidim.votings.admin.votings.form") %>
        </h2>
      </button>
    </div>

    <div id="panel-title" class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true, aria: { label: :title } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :description, aria: { label: :description } %>
      </div>

      <div class="row">
        <div class="columns">
          <%= form.datetime_field :start_time %>
        </div>

        <div class="columns">
          <%= form.datetime_field :end_time %>
        </div>
      </div>

      <div class="row column">
        <%= form.select :voting_type,
                        @form.options_for_voting_type_select,
                        { include_blank: t(".select_a_voting_type"), label: t(".voting_type_label") },
                        { multiple: false } %>
      </div>

      <div class="row column">
        <%= scopes_select_field form, :scope_id, root: nil %>
      </div>

    <div class="row">
      <div class="columns slug">
        <%= form.text_field :slug, label: t(".slug"), help_text: t(".slug_help_html", url: decidim_form_slug_url(:votings, form.object.slug)) %>
      </div>
    </div>

    <div class="row">
      <div class="columns show_check_census">
        <%= form.check_box :show_check_census, help_text: t(".show_check_census_help") %>
      </div>
    </div>

    <div class="row">
      <div class="columns census_contact_information">
        <%= form.text_field :census_contact_information, label: t(".census_contact_information"), help_text: t(".census_contact_information_help") %>
      </div>
    </div>

      <div class="row column">
        <%= form.check_box :promoted, label: t(".promoted") %>
      </div>

      <div class="row">
        <div class="columns">
          <%= form.upload :banner_image, label: t(".banner_image"), button_class: "button button__sm button__transparent-secondary" %>
        </div>

        <div class="columns">
          <%= form.upload :introductory_image, label: t(".introductory_image"), button_class: "button button__sm button__transparent-secondary" %>
        </div>
      </div>
    </div>
  </div>

</div>
