<%= decidim_form_for @form,
                     method: :patch,
                     url: voting_path(@current_voting),
                     html: { class: "form edit_voting" } do |f| %>
  <%= render partial: "form", object: f %>
  <div class="button--double form-general-submit">
    <%= f.submit t("votings.edit.update", scope: "decidim.votings.admin"), class: "button" %>
    
    <% if allowed_to? :publish, :voting, voting: @current_voting %>
      <% if @current_voting.published? %>
        <%= link_to t("actions.unpublish"),
                    voting_publish_path(@current_voting),
                    method: :delete,
                    class: "button muted" %>
      <% else %>
        <%= link_to t("actions.publish"),
                    voting_publish_path(@current_voting),
                    method: :post,
                    class: "button hollow" %>
      <% end %>
    <% end %>

    <% if allowed_to? :destroy, :voting, voting: @current_voting %>
      <%= link_to t("decidim.admin.actions.destroy"),
                  @current_voting,
                  method: :delete,
                  class: "alert button",
                  data: { confirm: t("decidim.votings.admin.actions.confirm_destroy") } %>
    <% end %>
  </div>
<% end %>
