<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t("info", scope: "decidim.admin.menu.participatory_processes_submenu") %>
  </h2>
</div>
<div class="item__edit">
  <div class="item__edit-menu">
    <div class="item__edit-menu-sticky">
      <p class="item__edit-menu-title">
        <%= t("sections", scope: "decidim.assemblies.admin.assemblies.form") %>
      </p>
      <%= link_to t('title', scope: 'decidim.votings.admin.votings.form'), decidim_admin_votings.edit_voting_path(current_participatory_space, anchor: t("title", scope: "decidim.votings.admin.votings.form")), class: "item__edit-menu-anchor" %>
    </div>
  </div>

  <div class="item__edit-form">
    <%= decidim_form_for @form,
                         method: :patch,
                         url: voting_path(@current_voting),
                         html: { class: "form form-defaults edit_voting" } do |f| %>
      <%= render partial: "form", object: f %>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t("votings.edit.update", scope: "decidim.votings.admin"), class: "button button__sm md:button__lg button__secondary", disabled: !allowed_to?(:update, :voting, voting: current_voting) %>

          <% if allowed_to? :publish, :voting, voting: @current_voting %>
            <% if @current_voting.published? %>
              <%= link_to t("votings.actions.unpublish", scope: "decidim.votings.admin"),
                          url_for(action: :unpublish, id: @current_voting, controller: "votings"),
                          method: :put,
                          class: "button button__sm md:button__lg button__secondary" %>
            <% else %>
              <%= link_to t("votings.actions.publish", scope: "decidim.votings.admin"),
                          url_for(action: :publish, id: @current_voting, controller: "votings"),
                          method: :put,
                          class: "button button__sm md:button__lg button__secondary" %>
            <% end %>
          <% end %>

          <% if allowed_to? :destroy, :voting, voting: @current_voting %>
            <%= link_to t("votings.actions.destroy", scope: "decidim.votings.admin"),
                        @current_voting,
                        method: :delete,
                        class: "button button__sm md:button__lg button__secondary",
                        data: { confirm: t("votings.actions.confirm_destroy", scope: "decidim.votings.admin") } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
