<% add_decidim_page_title(t("decidim.votings.admin.titles.votings")) %>
<div class="card" id="votings">
  <%= admin_filter_selector %>
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t("models.voting.fields.title", scope: "decidim.votings.admin") %></th>
          <th><%= sort_link(query, :created_at, t("models.voting.fields.created_at", scope: "decidim.votings.admin"), default_order: :desc) %></th>
          <th>
            <%= t("models.voting.fields.published", scope: "decidim.votings.admin") %>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% votings.each do |voting| %>
          <% next unless allowed_to? :list, :voting, voting: voting %>
          <tr>
            <td>
              <% if voting.promoted? %>
                <%= icon_with_tooltip "star-s-fill", t("models.assembly.fields.promoted", scope: "decidim.admin") %>
              <% end %>
              <% if allowed_to? :edit, :voting, voting: voting %>
                <%= link_to translated_attribute(voting.title), edit_voting_path(voting) %>
                <br>
              <% else %>
                <%= translated_attribute(voting.title) %>
              <% end %>
            </td>
            <td class="table-list__date">
              <%= l voting.created_at, format: :short %>
            </td>

            <td class="table-list__state">
              <% if voting.published? %>
                <span class="label !text-sm success">
                  <%= t("index.published", scope: "decidim.votings.admin") %>
                </span>
              <% else %>
                <span class="label !text-sm alert">
                  <%= t("index.unpublished", scope: "decidim.votings.admin") %>
                </span>
              <% end %>
            </td>
            <td class="table-list__actions">
              <% if allowed_to? :edit, :voting, voting: voting %>
                <%= icon_link_to "pencil-line", edit_voting_path(voting), t("actions.configure", scope: "decidim.admin"), class: "action-icon--edit" %>
              <% else %>
                <span class="action-space icon"></span>
              <% end %>

              <% if allowed_to? :preview, :voting, voting: voting %>
                <%= icon_link_to "eye-line", decidim_votings.voting_path(voting), t("actions.preview", scope: "decidim.admin"), class: "action-icon--preview", target: "_blank", data: { "external-link": false } %>
              <% else %>
                <span class="action-space icon"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= decidim_paginate votings %>
</div>
