<div class="card with-overflow" id="votings">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.votings.admin.titles.votings" %>
      <%= link_to t("votings.actions.new_voting", scope: "decidim.votings.admin"),
                  new_voting_path, class: "button tiny button--title" if allowed_to? :create, :voting %>
    </h2>
  </div>
  <%= admin_filter_selector %>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.voting.fields.title", scope: "decidim.votings.admin") %></th>
            <th><%= sort_link(query, :created_at, t("models.voting.fields.created_at", scope: "decidim.votings.admin"), default_order: :desc) %></th>
            <th>
              <%= t("models.voting.fields.published", scope: "decidim.votings.admin") %>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% votings.each do |voting| %>
            <tr>
              <td>
                <%= translated_attribute(voting.title) %>
              </td>

              <td>
                <%= l voting.created_at, format: :short %>
              </td>

              <td class="table-list__state">
                <% if voting.published? %>
                  <strong class="text-success">
                    <%= t("index.published", scope: "decidim.votings.admin") %>
                  </strong>
                <% else %>
                  <strong class="text-alert">
                    <%= t("index.not_published", scope: "decidim.votings.admin") %>
                  </strong>
                <% end %>
              </td>
              <td class="table-list__actions">
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate votings, theme: "decidim" %>
    </div>
  </div>
</div>
