<% add_decidim_page_title(t("votings.new.title", scope: "decidim.votings.admin")) %>
<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t("votings.new.title", scope: "decidim.votings.admin") %>
  </h2>
</div>
<div class="item__edit">
  <div class="item__edit-menu">
    <div class="item__edit-menu-sticky">
      <p class="item__edit-menu-title">
        <%= t("sections", scope: "decidim.assemblies.admin.assemblies.form") %>
      </p>
      <%= link_to t('title', scope: 'decidim.votings.admin.votings.form'), decidim_admin_votings.new_voting_path(current_participatory_space, anchor: t("title", scope: "decidim.votings.admin.votings.form")), class: "item__edit-menu-anchor" %>
    </div>
  </div>

  <div class="item__edit-form">
    <%= decidim_form_for(@form, html: { class: "form new_voting" }) do |f| %>
      <%= render partial: "form", object: f %>
      <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
        <%= f.submit t("votings.new.create", scope: "decidim.votings.admin"), class: "button button__sm md:button__lg button__secondary" %>
      </div>
    <% end %>
  </div>
</div>
