<p class="email-instructions"><%= t(".confirmed_html", title: present(@meeting).title, url: @locator.url) %></p>

<% if @registration_code_enabled %>
  <p><%= t(".registration_code", code: @registration.code) %></p>

  <center>
    <%= image_tag attachments[@qr_filename].url %>
  </center>
<% end %>

<% if @meeting.customize_registration_email? %>
  <p><%= present(@meeting).registration_email_custom_content %></p>
<% end %>
<br>
<p class="email-instructions"><%= t(".details") %></p>
