<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :editor, :closing_report, autofocus: true, rows: 15, aria: { label: :closing_report } %>
      </div>

      <div class="row column">
        <%= form.text_area :attending_organizations, rows: 5 %>
      </div>

      <div class="row">
        <div class="columns">
          <%= form.number_field :attendees_count, min: 0 %>
        </div>

        <div class="columns">
          <%= form.number_field :contributions_count, min: 0 %>
        </div>
      </div>

    <% if Decidim.module_installed?(:proposals) %>
      <div class="row column">
        <%= render partial: "decidim/proposals/proposals/proposals_picker", locals: { form:, field: :proposals } %>
      </div>
    <% end %>

      <div class="row column">
        <%= form.text_field :video_url %>
      </div>

      <div class="row column">
        <%= form.text_field :audio_url %>
      </div>

      <div class="row column">
        <%= form.check_box :closing_visible %>
      </div>
    </div>
  </div>
</div>
