<div class="form__wrapper">
  <div class="card" data-component="accordion" id="accordion-<%= t("title", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-<%= t("title", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="<%= t("title", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>">
          <%= t("title", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>
        </h2>
      </button>
    </div>
    <div id="panel-<%= t("title", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>" class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :description %>
      </div>

      <div class="row column">
        <% if processes_for_select %>
          <%= form.select :participatory_process_ids, processes_for_select, {}, { multiple: true, class: "chosen-select" } %>
        <% end %>
      </div>

      <div class="row column">
        <%= form.upload :hero_image, button_class: "button button__sm button__transparent-secondary" %>
      </div>
    </div>
  </div>

  <div class="card" data-component="accordion" id="accordion-<%= t("metadata", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-<%= t("metadata", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="<%= t("metadata", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>">
          <%= t("metadata", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>
        </h2>
      </button>
    </div>

    <div id="panel-<%= t("metadata", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>" class="card-section">
      <div class="row column">
        <%= form.text_field :hashtag %>
      </div>

      <div class="row column">
        <%= form.text_field :group_url %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :developer_group %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :local_area %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :meta_scope %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :target %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :participatory_scope %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :participatory_structure %>
      </div>
    </div>
  </div>

  <div class="card" data-component="accordion" id="accordion-<%= t("visibility", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-<%= t("visibility", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="<%= t("visibility", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>">
          <%= t("visibility", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>
        </h2>
      </button>
    </div>

    <div id="panel-<%= t("visibility", scope: "decidim.participatory_processes.admin.participatory_process_groups.form") %>" class="card-section">
      <div class="row column">
        <%= form.check_box :promoted %>
      </div>
    </div>
  </div>

</div>
