<%= decidim_form_for(@form, html: { class: "form edit_participatory_process_group" }) do |f| %>
  <h2 class="process-title-summary">
    <%= t "participatory_process_groups.edit.title", scope: "decidim.admin" %>
    <% if allowed_to? :destroy, :process_group, process_group: participatory_process_group %>
      <%= link_to t("decidim.admin.actions.destroy"), participatory_process_group, method: :delete, class: "button alert tiny button--title destroy", data: { confirm: t("decidim.admin.actions.confirm_destroy") } %>
    <% end %>
  </h2>
  <%= render partial: "form", object: f %>
  <div class="button--double form-general-submit">
    <%= f.submit t("participatory_process_groups.edit.update", scope: "decidim.admin") %>
  </div>
<% end %>
