<% content_for :breadcrumb_nav do %>
<div class="process-title">
  <div class="container">
    <div class="process-title-content">
      <div class="process-title-content-breadcrumb-container-left">
        <%= link_to decidim_admin.root_path, class: "process-title-content-icon-home", data: { "external-link": false } do %>
          <%= icon "home-gear-line" %>
        <% end %>
        <span class="text-white">/</span>
        <%= link_to t("decidim.admin.titles.participatory_process_groups"), decidim_admin_participatory_processes.participatory_process_groups_path, data: { "external-link": false }, class: "process-title-content-breadcrumb" %>
      </div>
      <div class="process-title-content-breadcrumb-container-right">
        <% if allowed_to? :create, :process_group %>
          <%= link_to [:new, :participatory_process_group], class: "process-title-content-breadcrumb-container-right-link" do %>
            <%= icon "add-line" %>
            <span>
              <%= t("actions.new_process_group", scope: "decidim.admin") %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= admin_tabs(:admin_participatory_processes_menu).render %>

<div class="card">
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t("models.participatory_process_group.fields.title", scope: "decidim.admin") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% collection.each do |group| %>
          <tr>
            <td>
              <% if group.promoted? %>
                <span data-tooltip class="icon-state icon-highlight" data-disable-hover="false" title="<%= t("models.participatory_process.fields.promoted", scope: "decidim.admin") %>">
                  <%= icon "star-s-fill" %>
                </span>
              <% end %>
              <% if allowed_to? :update, :process_group, process_group: group %>
                <%= link_to translated_attribute(group.title), [:edit, group] %>
              <% else %>
                <%= translated_attribute(group.title) %>
              <% end %>
            </td>
            <td class="table-list__actions">
              <% if allowed_to? :update, :process_group, process_group: group %>
                <%= with_tooltip t("actions.edit", scope: "decidim.admin"), class: "top" do %>
                  <%= icon_link_to "pencil-line", [:edit, group], t("actions.edit", scope: "decidim.admin"), class: "action-icon--edit" %>
                <% end %>
              <% else %>
                <span class="action-space icon"></span>
              <% end %>

              <%= with_tooltip t("actions.preview", scope: "decidim.admin"), class: "top" do %>
                <%= icon_link_to "eye-line", decidim_participatory_processes.participatory_process_group_path(group), t("actions.preview", scope: "decidim.admin"), class: "action-icon--preview", target: "_blank" %>
              <% end %>

              <% if allowed_to? :destroy, :process_group, process_group: group %>
                <%= with_tooltip t("actions.destroy", scope: "decidim.admin"), class: "top" do %>
                  <%= icon_link_to "delete-bin-line", group, t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
                <% end %>
              <% else %>
                <span class="action-space icon"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
