<dl>
  <%= display_for participatory_process_group,
    :title,
    :description,
    :hashtag,
    :group_url,
    :developer_group,
    :local_area,
    :meta_scope,
    :target,
    :participatory_scope,
    :participatory_structure %>

  <dt><%= display_label(participatory_process_group, :participatory_processes) %></dt>
  <% if participatory_process_group.participatory_processes.any? %>
    <dd>
      <ul>
        <% participatory_process_group.participatory_processes.each do |participatory_process| %>
          <li><%= translated_attribute participatory_process.title %></li>
        <% end %>
      </ul>
    </dd>
  <% end %>
  <dt><%= display_label(participatory_process_group, :hero_image) %></dt>
  <dd>
    <% if participatory_process_group.hero_image? %>
      <%= image_tag participatory_process_group.hero_image.url.to_s %>
    <% end %>
  </dd>
</dl>
