<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h2 class="item_show__header-title">
      <%= t(".title") %>
      <% if allowed_to? :export, :budget %>
        <%= export_dropdown %>
      <% end %>
      <% if allowed_to? :remind, :order %>
        <%= link_to t("actions.send_voting_reminders", scope: "decidim.budgets"), admin_reminders_path(current_component, name: "orders"), class: "button button__sm button__secondary" %>
      <% end %>
      <div id="js-other-actions-wrapper">
        <%= link_to t("actions.new_budget", scope: "decidim.budgets"), new_budget_path, class: "button button__sm button__secondary" if allowed_to? :create, :budget %>
      </div>
      <%= render partial: "decidim/admin/components/resource_action" %>
    </h2>
  </div>
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t("models.budget.fields.name", scope: "decidim.budgets") %></th>
          <th><%= t("models.budget.fields.total_budget", scope: "decidim.budgets") %></th>
          <th><%= t("models.budget.fields.projects_count", scope: "decidim.budgets") %></th>
          <%= th_resource_scope_label %>
          <th class="actions"><%= t("actions.title", scope: "decidim.budgets") %></th>
        </tr>
      </thead>
      <tbody>
        <% budgets.each do |budget| %>
          <tr data-id="<%= budget.id %>">
            <td>
              <% if allowed_to? :update, :budget, budget: budget %>
                <%= link_to translated_attribute(budget.title), budget_projects_path(budget) %><br>
              <% else %>
                <%= translated_attribute(budget.title) %>
              <% end %>
            </td>
            <td>
              <%= number_to_currency budget.total_budget, unit: Decidim.currency_unit, precision: 0 %>
            </td>
            <td>
              <%= link_to budget.projects.count, budget_projects_path(budget) %>
            </td>
            <%= td_resource_scope_for(budget.scope) %>
            <td class="table-list__actions">
              <% if allowed_to? :update, :budget, budget: budget %>
                <%= icon_link_to "pencil-line", edit_budget_path(budget), t("actions.edit", scope: "decidim.budgets"), class: "action-icon--edit" %>
              <% else %>
                <%= icon "pencil-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.edit", scope: "decidim.budgets") %>
              <% end %>

              <%= icon_link_to "list-check", budget_projects_path(budget), t("actions.edit_projects", scope: "decidim.budgets"), class: "action-icon--edit-projects" %>

              <%= icon_link_to "eye-line", resource_locator(budget).path, t("actions.preview", scope: "decidim.budgets"), class: "action-icon--preview", target: :blank, data: { "external-link": false } %>

              <% if allowed_to? :delete, :budget, budget: budget %>
                <%= icon_link_to "delete-bin-line", budget_path(budget), t("actions.destroy", scope: "decidim.budgets"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.budgets") } %>
              <% else %>
                <%= icon "delete-bin-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.destroy", scope: "decidim.budgets") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-divider">
    <strong><%= t ".finished_orders" %>:&nbsp;</strong><span><%= finished_orders.count %></span>
    <span>&nbsp;|&nbsp;</span>
    <strong><%= t ".pending_orders" %>:&nbsp;</strong><span><%= pending_orders.count %></span>
    <span>&nbsp;|&nbsp;</span>
    <strong><%= t ".users_with_finished_orders" %>:&nbsp;</strong><span><%= users_with_finished_orders.count %></span>
    <span>&nbsp;|&nbsp;</span>
    <strong><%= t ".users_with_pending_orders" %>:&nbsp;</strong><span><%= users_with_pending_orders.count %></span>
  </div>
</div>
