<div class="card with-overflow">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= t(".title") %>
      </div>
      <div class="flex--cc flex-gap--1">
        <% if allowed_to? :remind, :order %>
          <%= link_to "Send voting reminders", admin_reminders_path(current_component, name: "orders"), class: "button tiny button--title" %>
        <% end %>
        <% if allowed_to? :export, :budget %>
          <%= export_dropdown %>
        <% end %>
        <div id="js-other-actions-wrapper">
          <%= link_to t("actions.new", scope: "decidim.budgets", name: t("models.budget.name", scope: "decidim.budgets.admin")), new_budget_path, class: "button tiny button--title" if allowed_to? :create, :budget %>
        </div>
      </div>
    </h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.budget.fields.name", scope: "decidim.budgets") %></th>
            <th><%= t("models.budget.fields.total_budget", scope: "decidim.budgets") %></th>
            <th><%= t("models.budget.fields.projects_count", scope: "decidim.budgets") %></th>
            <%= th_resource_scope_label %>
            <th class="actions"><%= t("actions.title", scope: "decidim.budgets") %></th>
          </tr>
        </thead>
        <tbody>
          <% budgets.each do |budget| %>
            <tr data-id="<%= budget.id %>">
              <td>
                <%= translated_attribute(budget.title) %>
              </td>
              <td>
                <%= number_to_currency budget.total_budget, unit: Decidim.currency_unit, precision: 0 %>
              </td>
              <td>
                <%= link_to budget.projects.count, budget_projects_path(budget) %>
              </td>
              <%= td_resource_scope_for(budget.scope) %>
              <td class="table-list__actions">
                <% if allowed_to? :update, :budget, budget: budget %>
                  <%= icon_link_to "pencil", edit_budget_path(budget), t("actions.edit", scope: "decidim.budgets"), class: "action-icon--edit" %>
                <% else %>
                  <%= icon "pencil", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.edit", scope: "decidim.budgets") %>
                <% end %>

                <%= icon_link_to "list", budget_projects_path(budget), t("actions.edit_projects", scope: "decidim.budgets"), class: "action-icon--edit-projects" %>

                <%= icon_link_to "eye", resource_locator(budget).path, t("actions.preview", scope: "decidim.budgets"), class: "action-icon--preview", target: :blank %>

                <% if allowed_to? :delete, :budget, budget: budget %>
                  <%= icon_link_to "circle-x", budget_path(budget), t("actions.destroy", scope: "decidim.budgets"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.budgets") } %>
                <% else %>
                  <%= icon "circle-x", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.destroy", scope: "decidim.budgets") %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-divider">
    <strong><%= t ".finished_orders" %>:&nbsp;</strong><span><%= finished_orders.count %></span>
    <span>&nbsp;|&nbsp;</span>
    <strong><%= t ".pending_orders" %>:&nbsp;</strong><span><%= pending_orders.count %></span>
    <span>&nbsp;|&nbsp;</span>
    <strong><%= t ".users_with_finished_orders" %>:&nbsp;</strong><span><%= users_with_finished_orders.count %></span>
    <span>&nbsp;|&nbsp;</span>
    <strong><%= t ".users_with_pending_orders" %>:&nbsp;</strong><span><%= users_with_pending_orders.count %></span>
  </div>
</div>
