<section class="footer__subhero extended subhero<%= " home-section" if current_organization.show_statistics? %>">
  <div class="row">
    <div class="columns small-centered large-10">
      <h2 class="heading3"><%= t(".footer_sub_hero_headline", organization: current_organization.name) %></h2>
      <h5 class="heading4"><%== t(".footer_sub_hero_body") %></h5>
      <% unless current_user %>
        <%= link_to new_user_registration_path, class: "button--sc link subhero-cta" do %>
          <%= t(".register") %>
          <%= icon "chevron-right", aria_hidden: true %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
