<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t ".title" %>
      <% if allowed_to?(:create, :template) %>
        <%= link_to t("actions.new_template", scope: "decidim.admin.templates"), [:new, :block_user_template], class: "button button__sm button__secondary new" %>
      <% end %>
    </h1>
  </div>
  <% if @templates.any? %>
    <div class="table-stacked">
      <table class="table-list user_block-templates">
        <thead>
        <tr>
          <th><%= t("template.name", scope: "decidim.models") %></th>
          <th><%= t("template.fields.created_at", scope: "decidim.models") %></th>
          <th><%= t("decidim.admin.actions.actions") %></th>
        </tr>
        </thead>
        <tbody>
        <% @templates.each do |template| %>
          <tr data-questionnaire_template-id="<%= template.id %>">
            <td data-label="<%= t("template.name", scope: "decidim.models") %>">
              <%= link_to translated_attribute(template.name), edit_block_user_template_path(template) %>
            </td>
            <td data-label="<%= t("template.fields.created_at", scope: "decidim.models") %>">
              <%= l template.created_at, format: :long %>
            </td>
            <td data-label="<%= t("decidim.admin.actions.actions") %>" class="table-list__actions">
              <button type="button" data-component="dropdown" data-target="actions-block-user-template-<%= template.id %>" aria-label="<%= t("decidim.admin.actions.actions_label", resource: template.name) %>">
                <%= icon "more-fill", class: "text-secondary" %>
              </button>

              <div class="inline-block relative">
                <ul id="actions-block-user-template-<%= template.id %>" class="dropdown dropdown__action" aria-hidden="true">
                  <% if allowed_to?(:update, :template, questionnaire_template: template) %>
                    <li class="dropdown__item">
                      <%= link_to edit_block_user_template_path(template), class: "dropdown__button edit" do %>
                        <%= icon "pencil-line" %>
                        <%= t("actions.edit", scope: "decidim.admin") %>
                      <% end %>
                    </li>

                    <hr>
                  <% end %>

                  <% if allowed_to?(:copy, :template, questionnaire_template: template) %>
                    <li class="dropdown__item">
                      <%= link_to copy_block_user_template_path(template), method: :post, class: "dropdown__button" do %>
                        <%= icon "file-copy-line" %>
                        <%= t("actions.duplicate", scope: "decidim.admin") %>
                      <% end %>
                    </li>

                    <hr>
                  <% end %>

                  <% if allowed_to?(:destroy, :template, questionnaire_template: template) %>
                    <li class="dropdown__item">
                      <%= link_to block_user_template_path(template), method: :delete, data: { confirm: t(".confirm_delete") }, class: "dropdown__button action-icon--remove" do %>
                        <%= icon "delete-bin-line" %>
                        <%= t("actions.destroy", scope: "decidim.admin") %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </td>

          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= t("templates.empty", scope: "decidim.admin") %>
  <% end %>
</div>
