<section class="extended" id="statistics">
  <div class="wrapper-home">
    <div class="row column text-center">
      <h3 class="heading2"><%= t(".headline", organization: current_organization.name) %></h3>
    </div>
    <div class="row">
      <div class="columns small-centered mediumlarge-10 large-8">
        <div class="home-pam">
          <div class="home-pam__highlight">
            <div class="home-pam__data">
              <h4 class="home-pam__title"><%= t(".users_count") %></h4>
              <span class="home-pam__number users_count"><%= stats.users_count %></span>
            </div>
            <div class="home-pam__data">
              <h4 class="home-pam__title"><%= t(".processes_count") %></h4>
              <span class="home-pam__number processes_count"><%= stats.processes_count %></span>
            </div>
          </div>
          <div class="home-pam__highlight">
            <%= stats.highlighted %>
          </div>
          <div class="home-pam__lowlight">
            <%= stats.not_highlighted %>
          </div>
        </div>
      </div>
    </div>
  </section>