<%= form_tag(import_results_path, multipart: true, class: "form new_import") do %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title">
        <%= t(".title") %>
      </h2>
    </div>

    <div class="card-section">
      <div class="row column">
        <%= file_field_tag :csv_file %>
      </div>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= submit_tag t(".import"), class: "button" %>
  </div>
  <div class="import-process-info">
    <%= t(".info", link_new_status: new_status_path, link_new_result: new_result_path, link_export_csv: link_to(t(".link"), exports_path(current_component, id: "results", format: "CSV"), method: :post)).try("html_safe") %>
  </div>
<% end %>
