<% add_decidim_page_title(t(".title")) %>
<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t(".title") %>
  </h2>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= form_tag(import_results_path, multipart: true, class: "form form-defaults new_import") do %>
      <div class="card py-4">
        <div class="card-section space-y-4">
          <div class="row column">
            <p><%= t(".info",
                     link_new_status: new_status_path,
                     link_new_result: new_result_path,
                     link_export_csv: link_to(t(".download_export"),exports_path(current_component, id: "results", format: "CSV"), method: :post)
                    ).try("html_safe") %></p>
          </div>
          <div class="row column">
            <%= file_field_tag :csv_file %>
          </div>
        </div>
      </div>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= submit_tag t(".import"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
