<h2 class="process-title-summary">
  <% if creating_managed_user? %>
    <%= t(".new_managed_user") %>
  <% else %>
    <%= t(".new_managed_user_impersonation") %>
  <% end %>
</h2>

<%= decidim_form_for(@form, url: impersonatable_user_impersonations_path, html: { class: "form new_impersonation" }) do |f| %>
  <div class="card">
    <div class="card-section">
      <%= render partial: "form", object: f %>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= f.submit t(".impersonate") %>
  </div>
<% end %>
