<div class="card card--secondary">
<% if live? %>
  <div class="card__content text-center">
    <div class="heading1 text-primary">
      <%= icon "audio", class: "heading4" %>
    </div>
    <div>
      <strong class="heading5"><%= t("live_event", scope: "decidim.meetings.meetings.show") %></strong>
      <p><small><%= t("micro_camera_permissions_warning", scope: "decidim.meetings.meetings.show") %></small></p>
    </div>
    <div class="margin-top-3">
      <%= link_to t("join", scope: "decidim.meetings.meetings.show"), live_event_url, target: "_blank", class: "button button--sc" %>
    </div>
  </div>
<% else %>
  <div class="card__content address">
    <div class="address__info">
      <%= icon "video", role: "img", "aria-hidden": true, remove_icon_class: true, width: 40, height: 70 %>
      <div class="address__details">
        <span><%= link_to(live_event_url, live_event_url, target: "_blank") %></span><br>
        <span><%= translated_attribute model.location_hints %></span>
      </div>
    </div>
  </div>
<% end %>
</div>
