<div class="card card--secondary">
<% if !online_meeting_url? %>
  <div class="card__content address">
    <div class="address__info">
      <%= icon "timer", role: "img", "aria-hidden": true, remove_icon_class: true, width: 40, height: 70 %>
      <div class="address__details">
        <span><%= t("link_available_soon", scope: "decidim.meetings.meetings.show") %></span>
      </div>
    </div>
  </div>
<% else %>
  <% if live? %>
    <div class="card__content text-center">
      <div class="heading1 text-primary">
        <%= icon "audio", class: "heading4" %>
      </div>
      <div>
        <strong class="heading5"><%= t("live_event", scope: "decidim.meetings.meetings.show") %></strong>
        <p><small><%= t("micro_camera_permissions_warning", scope: "decidim.meetings.meetings.show") %></small></p>
      </div>
      <% # When the meeting url is embeddable but show iframe is disabled, it's embedded here %>
      <% if !show_iframe? && embeddable? %>
        <div class="margin-top-3 absolutes aspect-ratio-16-9">
          <%== embed_code(request.host) %>
        </div>
      <% else %>
        <div class="margin-top-3">
          <% # Links to the meeting, which can be to Decidim live event page or to the remote service %>
          <%= link_to t("join", scope: "decidim.meetings.meetings.show"), live_event_url, target: "_blank", class: "button button--sc" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="card__content address">
      <div class="address__info">
        <%= icon "video", role: "img", "aria-hidden": true, remove_icon_class: true, width: 40, height: 70 %>
        <div class="address__details">
          <span><%= link_to(live_event_url, live_event_url, target: "_blank") %></span><br>
          <span><%= translated_attribute model.location_hints %></span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
