<% if !online_meeting_url? %>
  <div class="card card--secondary">
    <div class="card__content address">
      <div class="address__info">
        <%= icon "timer", role: "img", "aria-hidden": true, remove_icon_class: true, width: 40, height: 70 %>
        <div class="address__details">
          <span><%= t("link_available_soon", scope: "decidim.meetings.meetings.show") %></span>
        </div>
      </div>
    </div>
  </div>
<% elsif live? %>
  <div class="card card--secondary">
    <div class="card__content text-center">
      <div class="heading1 text-primary">
        <%= icon "audio", class: "heading4" %>
      </div>
      <div>
        <strong class="heading5"><%= t("live_event", scope: "decidim.meetings.meetings.show") %></strong>
        <% if !show_embedded_iframe? || !embeddable? %>
          <p><small><%= t("micro_camera_permissions_warning", scope: "decidim.meetings.meetings.show") %></small></p>
        <% end %>
      </div>
      <div class="margin-top-3 absolutes aspect-ratio-16-9">
        <% if show_embedded_iframe? && embeddable? %>
          <%== embed_code(request.host) %>
        <% else %>
          <%= link_to t("join", scope: "decidim.meetings.meetings.show"), live_event_url, target: "_blank", class: "button button--sc" %>
        <% end %>
      </div>
    </div>
  </div>
<% elsif show_embedded_iframe? && embeddable? %>
  <div class="card card--secondary">
    <div class="card__content text-center">
      <div class="margin-top-3 absolutes aspect-ratio-16-9">
        <%== embed_code(request.host) %>
      </div>
    </div>
  </div>
<% elsif past? %>
  <div class="card card--secondary">
    <div class="card__content text-center">
      <div>
        <span><%= t("link_closed", scope: "decidim.meetings.meetings.show") %></span>
      </div>
    </div>
  </div>
<% end %>
