<%# REDESIGN_PENDING: try to move logic to cell %>
<% if online_meeting_url? && (live? || future?) %>
  <div class="meeting__online">
    <%= icon "broadcast-line", class: "w-14 h-14 fill-current #{live? ? 'text-tertiary' : 'text-gray' }" %>

    <% if live? %>
      <p><%= t("live_event", scope: "decidim.meetings.meetings.show") %></p>

      <% unless show_embed? %>
        <p><%= t("micro_camera_permissions_warning", scope: "decidim.meetings.meetings.show") %></p>
      <% end %>

      <%== embed_code(request.host) if show_embed? %>

      <%= link_to t("join", scope: "decidim.meetings.meetings.show"), live_event_url, target: "_blank", class: "button button__xl button__secondary" %>
    <% else %>
      <span><%= t("link_closed", scope: "decidim.meetings.meetings.show") %></span>
    <% end %>
  </div>
<% else %>
  <div class="card card--secondary">
    <div class="card__content address">
      <div class="address__info">
        <%= icon "timer", role: "img", "aria-hidden": true, remove_icon_class: true, width: 40, height: 70 %>
        <div class="address__details">
          <span><%= t("link_available_soon", scope: "decidim.meetings.meetings.show") %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
