<div class="meeting__online">
  <%= icon "broadcast-line", class: "w-14 h-14 fill-current #{live? && online_meeting_url? ? "text-tertiary" : "text-gray"}" %>

  <% if !online_meeting_url? %>
    <p><%= t("link_available_soon", scope: "decidim.meetings.meetings.show") %></p>
  <% elsif future? %>
    <p><%= t("link_closed", scope: "decidim.meetings.meetings.show") %></p>
  <% elsif live? %>
    <p class="h3"><%= t("live_event", scope: "decidim.meetings.meetings.show") %></p>

    <% if show_embed? %>
      <div class="hidden md:block h-[60vh] w-full">
        <%== embed_code(request.host) %>
      </div>
    <% else %>
      <p><%= t("micro_camera_permissions_warning", scope: "decidim.meetings.meetings.show") %></p>
    <% end %>

     <%= link_to t("join_meeting", scope: "decidim.meetings.meetings.meeting"), live_event_url, target: "_blank", class: "button button__xl button__secondary", data: { "external-link": false } %>
  <% end %>
</div>
