<div class="row column voting-rules">
  <div class="callout secondary">
    <div class="row">
      <div class="columns medium-8 large-9">
        <h3 class="heading3">
          <%= t(".rules.title") %>
        </h3>
        <ul>
          <%= raw current_rule_explanation %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="card budget-summary" data-progress-reference data-safe-url="<%= projects_base_url %>">
  <div class="card__content">
    <% if include_heading %>
      <% if current_order_checked_out? %>
        <h3 class="heading3"><%= t(".checked_out.title") %></h3>
        <p>
          <%= raw t(".checked_out.description", cancel_link: link_to(t(".cancel_order"), order_path, method: :delete, class: "cancel-order", data: { confirm: t(".are_you_sure") })) %>
        </p>
      <% else %>
        <h3 class="heading3"><%= t(".title") %></h3>
        <p>
          <%= raw current_rule_description %>
        </p>
      <% end %>
    <% end %>

    <% if maximum_budget_projects_enabled? %>
      <div class="budget-summary__total" data-total-projects="<%= component_settings.vote_maximum_budget_projects_number %>">
      <span class="mini-title"><%= t(".total_projects") %>
        <strong class="mini-title__strong mini-title__strong--highlight">
          <%= component_settings.vote_maximum_budget_projects_number %>
        </strong>
      </span>
      </div>
    <% else %>
      <div class="budget-summary__total" data-total-budget="<%= component_settings.total_budget %>">
      <span class="mini-title"><%= t(".total_budget") %>
        <strong class="mini-title__strong mini-title__strong--highlight">
          <%= budget_to_currency(component_settings.total_budget) %>
        </strong>
      </span>
      </div>
    <% end %>

    <%= render partial: "order_progress" %>

    <div>
      <span class="mini-title">
        <%= t(".assigned") %>
        <%= render partial: "order_total_budget" %>
      </span>
    </div>
  </div>

  <%= render partial: "order_selected_projects" %>
</div>

<%= render partial: "budget_excess" %>
<%= render partial: "budget_confirm" %>
