<div class="card budget-summary" data-progress-reference data-safe-url="<%= budget_url(budget) %>">
  <div class="card__content">
    <% if include_heading %>
      <% if current_order_checked_out? %>
        <h2 class="heading3">
          <%= t(".checked_out.title") %>
          <% unless current_workflow.single? %>
            <small><%= translated_attribute(budget.title) %></small>
          <% end %>
        </h2>
        <p>
          <%= raw t(".checked_out.description", cancel_link: link_to(t(".cancel_order"), budget_order_path(return_to: "budget"), method: :delete, class: "cancel-order", data: { confirm: t(".are_you_sure") })) %>
        </p>
      <% else %>
        <h2 class="heading3">
          <% if current_workflow.single? %>
            <%= t(".title") %>
          <% else %>
            <%= translated_attribute(budget.title) %>
          <% end %>
        </h2>
      <% end %>
    <% end %>

    <%= render partial: "order_progress", locals: { include_heading: include_heading } %>
  </div>

  <%= render partial: "order_selected_projects" %>
</div>

<%= render partial: "budget_excess" %>
<%= render partial: "budget_confirm" %>
