<div class="card budget-summary" data-progress-reference>
  <div class="card__content">
    <% if include_heading %>
      <h3 class="heading3"><%= t('.title') %></h3>
      <p><%= t('.description') %></p>
    <% end %>

    <div class="budget-summary__total">
      <span class="mini-title"><%= t('total_budget') %>
        <strong class="mini-title__strong mini-title__strong--highlight">
          <%= budget_to_currency(feature_settings.total_budget) %>
        </strong>
      </span>
    </div>

    <div id="order-progress">
      <%= render partial: 'order_progress' %>
    </div>

    <div>
      <span class="mini-title">
        <%= t('.assigned') %>
        <strong id="order-total-budget" class="mini-title__strong">
          <%= render partial: 'order_total_budget' %>
        </strong>
      </span>
    </div>
  </div>

  <div id="order-selected-projects">
    <%= render partial: 'order_selected_projects' %>
  </div>
</div>