<div id="order-progress<%= "-responsive" if responsive %>" class="budget-summary <%= responsive ? "block md:hidden" : "hidden md:block" %>" data-progress-reference data-safe-url="<%= budget_url(budget) %>">
  <% if responsive %>
    <%= render partial: "decidim/budgets/projects/order_progress_summary/content_responsive", locals: { focus_mode_origin: focus_mode_origin } %>
  <% else %>
    <%= render partial: "decidim/budgets/projects/order_progress_summary/content" %>
  <% end %>
</div>
