<div class="budget-summary" data-progress-reference data-safe-url="<%= budget_url(budget) %>">

  <%= render partial: "order_progress", locals: { include_heading: include_heading, project_item: project_item } %>

  <%= cell("decidim/budgets/budget_information_modal", budget) %>
</div>

<%= render partial: "budget_excess" %>
<%= render partial: "budget_confirm" %>
