<div class="card budget-summary" data-progress-reference>
  <div class="card__content">
    <% if include_heading %>
      <h3 class="heading3"><%= t('.title') %></h3>
      <p><%= t('.description') %></p>
    <% end %>

    <div class="budget-summary__total">
      <span class="mini-title"><%= t('total_budget') %>
        <strong class="mini-title__strong mini-title__strong--highlight">
          <%= budget_to_currency(feature_settings.total_budget) %>
        </strong>
      </span>
    </div>

    <!-- Initially visible Progressbox -->
    <div class="budget-summary__progressbox">
      <!--Change de aria-valuenow and aria-valuetext dynamically. Set a minimum in aria-valuenmin.-->
      <div class="progress budget-progress" role="progressbar" tabindex="0" aria-valuenow="30" aria-valuemin="75" aria-valuetext="30%" aria-valuemax="100">
        <!-- Set minimum in the style="width:"-->
        <div class="progress-meter progress-meter--minimum" style="width: 75%"></div>
        <!--Change width and text dynamically.-->
        <div class="progress-meter budget-progress__meter" style="width: 30%">
          <p class="progress-meter-text progress-meter-text--right">30%</p>
        </div>
      </div>
      <button class="button small button--sc" disabled><%= t('.vote') %></button>
    </div>

    <!-- Clone/fixed Progressbox -->
    <div class="progressbox-fixed-wrapper" data-progressbox-fixed>
      <div class="budget-summary__progressbox budget-summary__progressbox--fixed">
        <!--Change de aria-valuenow and aria-valuetext dynamically. Set a minimum in aria-valuenmin.-->
        <div class="progress budget-progress budget-progress--fixed" role="progressbar" tabindex="0" aria-valuenow="30" aria-valuemin="75" aria-valuetext="30%" aria-valuemax="100">
          <!-- Set minimum in the style="width:"-->
          <div class="progress-meter progress-meter--minimum" style="width: 75%"></div>
          <!--Change width and text dynamically.-->
          <div class="progress-meter budget-progress__meter" style="width: 30%">
            <p class="progress-meter-text progress-meter-text--right">30%</p>
          </div>
        </div>
        <button class="button small button--sc" disabled><%= t('.vote') %></button>
      </div>
    </div>

    <div>
      <span class="mini-title">
        <%= t('.assigned') %>
        <strong id="order-total-budget" class="mini-title__strong">
          <%= render partial: 'order_total_budget' %>
        </strong>
      </span>
    </div>
  </div>
</div>