<% if current_user && current_component.current_settings.votes == "enabled" && !current_workflow.voted?(budget) %>
  <%= decidim_modal id: "exit-notification" do %>
    <div data-dialog-container>
      <%= icon "information-line" %>
      <h3 class="h3" id="dialog-title-exit-notification" tabindex="-1" data-dialog-title>
        <%= t("title", scope: "decidim.budgets.projects.exit_modal") %>
      </h3>
      <p id="dialog-desc-budget-modal">
        <%= t("message", scope: "decidim.budgets.projects.exit_modal") %>
      </p>
    </div>
    <div data-dialog-actions>
      <%= link_to t("exit", scope: "decidim.budgets.projects.exit_modal"), budget_projects_path, id: "exit-notification-link", class: "button button__sm md:button__lg button__transparent-secondary" %>
      <button data-dialog-close="exit-notification" class="button button__sm md:button__lg button__secondary">
        <%= t("cancel", scope: "decidim.budgets.projects.exit_modal") %>
      </button>
    </div>
  <% end %>
<% end %>
