<%= filter_form_for filter do |form| %>
  <div class="filters__section">
    <div class="filters__search">
      <div class="input-group">
        <%= form.search_field :search_text, label: false, class: "input-group-field", placeholder: t(".search") %>
        <div class="input-group-button">
          <button type="submit" class="button button--muted">
            <%= icon "magnifying-glass", aria_label: t(".search") %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <% if current_participatory_space.has_subscopes? %>
    <%= form.check_boxes_tree :scope_id, filter_scopes_values, legend_title: t(".scope") %>
  <% end %>

  <% if current_component.categories.any? %>
    <%= form.check_boxes_tree :category_id, filter_categories_values, legend_title: t(".category") %>
  <% end %>
<% end %>
