<%= redesigned_filter_form_for filter, url_for, class: "meeting__filter-container", data: { filters: "", component: "accordion" } do |form| %>

  <%= link_to budgets_path, class: "mb-8 button button__sm button__text-secondary" do %>
    <%= icon "arrow-left-line" %>
    <span>
      <%= t("back_to_budgets", scope: "decidim.budgets.projects.index") %>
    </span>
  <% end %>

  <div class="filter-search filter-container">
    <%= form.search_field :search_text_cont, label: false, class: "input-group-field", placeholder: t(".search"), title: t(".search"), "aria-label": t(".search"), data: { disable_dynamic_change: true } %>
    <button type="submit" aria-controls="meetings" aria_label="<%= t("decidim.meetings.meetings.filters.search") %>">
      <%= icon "search-line" %>
    </button>
  </div>

  <%# REDESIGN_PENDING: nested filters are mocked %>

<% end %>
