<%= filter_form_for filter do |form| %>
  <div class="filters__section">
    <div class="filters__search">
      <div class="input-group">
        <%= form.search_field :search_text, label: false, class: "input-group-field", placeholder: t('.search') %>
        <div class="input-group-button">
          <button type="submit" class="button button--muted">
            <%= icon "magnifying-glass", aria_label: t('.search') %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <% if current_organization.scopes.any? && !current_participatory_process.scope %>
    <%= form.collection_check_boxes :scope_id, search_organization_scopes, lambda {|scope| scope.id.to_s}, :name, legend_title: t('.scopes') %>
  <% end %>

  <% if current_feature.categories.any? %>
    <%= form.categories_select :category_id, current_feature.categories, legend_title: t('.category'), disable_parents: false, label: false, prompt: t('.category_prompt')  %>
  <% end %>

  <%= form.hidden_field :random_seed %>
<% end %>
