<%= redesigned_filter_form_for filter, url_for, class: "meeting__filter-container", data: { filters: "", component: "accordion" } do |form| %>

  <a href="#" class="mb-8 button button__sm button__text-secondary">
    <%= icon "arrow-left-line", class: 'inline-block' %>
    <span>Volver a presupuestos</span>
  </a>

  <div class="filter-search filter-container">
    <%= form.search_field :search_text_cont, label: false, class: "input-group-field", placeholder: t(".search"), title: t(".search"), "aria-label": t(".search"), data: { disable_dynamic_change: true } %>
    <button type="submit" aria-controls="meetings" aria_label="<%= t("decidim.meetings.meetings.filters.search") %>">
      <%= icon "search-line" %>
    </button>
  </div>

  <%# REDESIGN_PENDING: nested filters are mocked %>

  <% filters_budgets = [ "Distrito de Ciutat Vella", "Distrito de Sants-Montjuic", "Distrito del Eixample", "Distrito de Sarrià-Sant Gervasi", "Distrito de Gràcia", "Distrito de Poble Nou"] %>
  <div class="filter-container">
    <div class="budget__filter">
      <span class="budget__filter-title">
        <%= t("decidim.components.budgets.name") %>
      </span>
      <% filters_budgets.each do | budget | %>
        <div class="budget__filter__container">
          <input class="peer" type="radio" id="<%= budget %>" name="<%= t("decidim.components.budgets.name") %>" value="<%= budget %>">
          <label class="peer-checked:text-secondary" for="<%= budget %>"><%= budget %></label>
        </div>
      <% end %>
    </div>
    <button data-controls="panel-scope" data-open="true">
      <%= icon "arrow-down-s-line" %>
      <%= icon "arrow-up-s-line" %>
      <span><%= "SCOPE MOCK" %></span>
    </button>

    <div id="panel-scope">
      <input type="hidden" name="filter[with_any_date]" value="" autocomplete="off">

      <label for="no-childs">
        <input class="reset-defaults"
          type="checkbox" value="all" name="filter[with_any_date]"
          id="no-childs" hidden="hidden">

        <div class="filter">
          <%= icon "apps-2-line" %>
          <span>No childs</span>
        </div>
      </label>

      <label for="one-nest">
        <input
          class="reset-defaults" type="checkbox" value="upcoming" checked="checked" name="filter[with_any_date]"
          id="one-nest" hidden="hidden">

        <div class="filter">
          <%= icon "calendar-2-line" %>
          <span>One nesting level</span>
          <button data-controls="panel-dropdown-menu-one-nest" onclick="event.preventDefault()">
            <%= icon "arrow-down-s-fill" %>
            <%= icon "arrow-up-s-fill" %>
          </button>
        </div>
      </label>

      <div id="panel-dropdown-menu-one-nest">
        <label for="one-child-1">
          <input
            class="reset-defaults" type="checkbox" value="upcoming" checked="checked" name="filter[with_any_date]"
            id="one-child-1" hidden="hidden">

          <div class="filter">
            <%= icon "calendar-2-line" %>
            <span>Option 1 in child</span>
          </div>
        </label>
        <label for="one-child-2">
          <input
            class="reset-defaults" type="checkbox" value="upcoming" checked="checked" name="filter[with_any_date]"
            id="one-child-2" hidden="hidden">

          <div class="filter">
            <%= icon "calendar-2-line" %>
            <span>Option 2 in child</span>
          </div>
        </label>
      </div>

      <label for="multi-nest">
        <input
          class="reset-defaults" type="checkbox" value="past" name="filter[with_any_date]"
          id="multi-nest" hidden="hidden">

        <div class="filter">
          <%= icon "calendar-check-line" %>
          <span>More nesting levels</span>
          <button data-controls="panel-multi-nest" data-open="false" onclick="event.preventDefault()">
            <%= icon "arrow-down-s-fill" %>
            <%= icon "arrow-up-s-fill" %>
          </button>
        </div>
      </label>

      <div id="panel-multi-nest">
        <label for="multi-nest-1">
          <input
            class="reset-defaults" type="checkbox" value="upcoming" checked="checked" name="filter[with_any_date]"
            id="multi-nest-1" hidden="hidden">

          <div class="filter">
            <%= icon "calendar-2-line" %>
            <span>sublevel 1 element 1</span>
            <button data-controls="panel-multi-nest-1" data-open="false" onclick="event.preventDefault()">
              <%= icon "arrow-down-s-fill" %>
              <%= icon "arrow-up-s-fill" %>
            </button>
          </div>
        </label>

        <div id="panel-multi-nest-1">
          <label for="multi-nest-1-1">
            <input
              class="reset-defaults" type="checkbox" value="past" name="filter[with_any_date]"
              id="multi-nest-1-1" hidden="hidden">

            <div class="filter">
              <%= icon "calendar-check-line" %>
              <span>sublevel 2 element 1</span>
            </div>
          </label>
          <label for="multi-nest-1-2">
            <input
              class="reset-defaults" type="checkbox" value="past" name="filter[with_any_date]"
              id="multi-nest-1-2" hidden="hidden">

            <div class="filter">
              <%= icon "calendar-check-line" %>
              <span>sublevel 2 element 2</span>
            </div>
          </label>
        </div>

        <label for="one-child-2">
          <input
            class="reset-defaults" type="checkbox" value="upcoming" checked="checked" name="filter[with_any_date]"
            id="one-child-2" hidden="hidden">

          <div class="filter">
            <%= icon "calendar-2-line" %>
            <span>sublevel 1 element 2</span>
            <button data-controls="panel-multi-nest-2" data-open="false" onclick="event.preventDefault()">
              <%= icon "arrow-down-s-fill" %>
              <%= icon "arrow-up-s-fill" %>
            </button>
          </div>
        </label>

        <div id="panel-multi-nest-2">
          <label for="multi-nest-2-1">
            <input
              class="reset-defaults" type="checkbox" value="past" name="filter[with_any_date]"
              id="multi-nest-2-1" hidden="hidden">

            <div class="filter">
              <%= icon "calendar-check-line" %>
              <span>sublevel 2 element 1</span>
            </div>
          </label>
          <label for="multi-nest-2-2">
            <input
              class="reset-defaults" type="checkbox" value="past" name="filter[with_any_date]"
              id="multi-nest-2-2" hidden="hidden">

            <div class="filter">
              <%= icon "calendar-check-line" %>
              <span>sublevel 2 element 2</span>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>

<% end %>

  <%# REDESIGN_PENDING: scope filters %>
<%= filter_form_for filter do |form| %>
  <% if voting_finished? %>
    <%= form.check_boxes_tree :with_any_status, filter_status_values, legend_title: t(".status"), "aria-controls": "projects" %>
  <% end %>

  <% if current_component.has_subscopes? %>
    <%= form.check_boxes_tree :with_any_scope, resource_filter_scope_values(budget.scope), legend_title: t(".scope"), "aria-controls": "projects" %>
  <% end %>

  <% if current_participatory_space.categories.any? %>
    <%= form.check_boxes_tree :with_any_category, filter_categories_values, legend_title: t(".category"), "aria-controls": "projects" %>
  <% end %>

  <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
<% end %>
