<div id="order-progress">
  <div class="budget-summary__progressbox" data-current-budget="<%= current_order ? current_order.total_budget : 0 %>">
    <div class="progress budget-progress" role="progressbar" aria-valuenow="<%= current_order_budget_percent %>" aria-valuetext="<%= current_order_budget_percent %>%" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-meter progress-meter--minimum" style="width: <%= component_settings.vote_threshold_percent %>%"></div>
      <!--Change width and text dynamically.-->
      <div class="progress-meter budget-progress__meter" style="width: <%= current_order_budget_percent %>%">
        <span class="progress-meter-text progress-meter-text--right"><%= current_order_budget_percent %>%</span>
      </div>
    </div>
    <% if !current_order_checked_out? && current_settings.votes_enabled? %>
      <button class="button small button--sc" data-toggle="budget-confirm" <%= budget_confirm_disabled_attr %>>
        <%= t(".vote") %>
      </button>
    <% end %>
  </div>

  <div class="progressbox-fixed-wrapper" data-progressbox-fixed>
    <div class="budget-summary__progressbox budget-summary__progressbox--fixed">
      <div class="progress budget-progress budget-progress--fixed" role="progressbar" aria-valuenow="<%= current_order_budget_percent %>" aria-valuetext="<%= current_order_budget_percent %>%" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-meter progress-meter--minimum" style="width: <%= component_settings.vote_threshold_percent %>%"></div>
        <div class="progress-meter budget-progress__meter" style="width: <%= current_order_budget_percent %>%">
          <span class="progress-meter-text progress-meter-text--right"><%= current_order_budget_percent %>%</span>
        </div>
      </div>
      <% if !current_order_checked_out? && current_settings.votes_enabled? %>
        <button class="button small button--sc" data-toggle="budget-confirm" <%= budget_confirm_disabled_attr %>>
          <%= t(".vote") %>
        </button>
      <% end %>
    </div>
  </div>
</div>
