<div data-order-progress-responsive="<%= responsive.inspect %>" class="budget-summary__content">
  <div class="budget-summary__progressbox" data-current-allocation="<%= current_order ? current_order.total : 0 %>">
    <% if include_heading %>
      <% if current_order_checked_out? %>
        <%= t("title", scope: "decidim.budgets.projects.budget_summary.checked_out") %>
        <div class="budget-summary__content__header">
          <span class="budget-summary__content__header--title">
            <%= t("name", scope: "decidim.components.budgets") %>
          </span>
          /
          <%= translated_attribute(budget.title) %>
          <p class="budget-summary__content__header--description">
            <%= t("description", scope: "decidim.budgets.projects.budget_summary.checked_out") %>
          </p>
        </div>
      <% else %>
        <p class="budget-summary__progressbox--checked_out">
          <%= current_rule_description %>
        </p>
      <% end %>
    <% end %>
    <div class="budget-summary__progressbar">
      <div class="budget-progress" role="progressbar" aria-label="<%= t("budget", scope: "decidim.budgets.projects.order_progress") %>" aria-valuenow="<%= current_order_budget_percent %>" aria-valuetext="<%= current_order_budget_percent %> %" aria-valuemin="0" aria-valuemax="100">
        <div class="budget-summary__progressbar--minimum" style="width: <%= current_order_budget_percent_minimum %>%">
        </div>
        <div class="budget-summary__progressbar--meter bg-success" style="width: <%= current_order_budget_percent %>%"> </div>
      </div>
      <div class="budget-summary__progressbar-marks">
        <span class="budget-summary__progressbar-legend">
          <strong id="order-total-budget<%= "-responsive" if responsive %>" class="budget-summary__progressbar-legend-strong">
            <%= render partial: "decidim/budgets/projects/order_total_budget" %>
          </strong>
          <%= t("assigned", scope: "decidim.budgets.projects.order_progress") %>
        </span>
        <% if current_order.minimum_budget > 0 %>
          <span class="budget-summary__progressbar-legend budget-summary__progressbar-marks_center">
            <strong class="budget-summary__progressbar-legend-strong">
              <%= budget_to_currency(current_order.minimum_budget) %>
            </strong>
            <%= t("minimum", scope: "decidim.budgets.projects.order_progress") %>
          </span>
        <% end %>
        <%= render partial: "decidim/budgets/projects/order_progress_progressbar_marks_right" %>
      </div>
    </div>
  </div>
  <div class="budget-summary__progressbox-buttons layout-aside__ctas-buttons" data-sticky-buttons>
    <% if !current_order_checked_out? && voting_open? %>
      <button class="button button__secondary button__lg w-full" data-dialog-open="budget-confirm" <%= budget_confirm_disabled_attr %>>
        <%= t("vote", scope: "decidim.budgets.projects.budget_summary") %>
        <%= icon "check-line" %>
      </button>
    <% end %>
    <% if include_heading && current_order_checked_out? %>
      <%= link_to budget_order_path(return_to: "budget"), method: :delete, class: "button button__lg button__secondary cancel-order w-full", data: { confirm: t("are_you_sure", scope: "decidim.budgets.projects.budget_confirm") } do %>
        <span><%= t("cancel_order", scope: "decidim.budgets.projects.budget_summary") %></span>
        <%= icon "delete-bin-line" %>
      <% end %>
    <% end %>
  </div>
  <div class="budget-summary__button-modal">
    <button type="button" data-dialog-open="budget-modal-info" aria-haspopup="dialog" tabindex="0" class="button button__text button__xs underline font-bold">
      <%= t("more_information", scope: "decidim.budgets.budget_information_modal") %>
    </button>
  </div>
  <div class="w-screen max-w-screen progressbox-fixed-wrapper" data-progressbox-fixed>
    <div class="gap-0 layout-item py-4 items-center budget-summary__progressbar">
      <div class="budget-summary__progressbox layout-item__main">
        <div class="budget-progress relative" role="progressbar" aria-valuenow="<%= current_order_budget_percent %>" aria-valuetext="<%= current_order_budget_percent %>%" aria-valuemin="0" aria-valuemax="100">
          <div class="budget-summary__progressbar--minimum" style="width: <%= current_order_budget_percent_minimum %>%">
          </div>
          <div class="budget-summary__progressbar--meter bg-success" style="width: <%= current_order_budget_percent %>%">
          </div>
        </div>
        <div class="budget-summary__progressbar-marks">
          <span class="budget-summary__progressbar-legend" style="width: <%= current_order_budget_percent_minimum %>%;">
            <%= t("assigned", scope: "decidim.budgets.projects.order_progress") %>
            <strong id="order-total-budget-sticky<%= "-responsive" if responsive %>" class="budget-summary__progressbar-legend-strong">
              <%= render partial: "decidim/budgets/projects/order_total_budget" %>
            </strong>
          </span>
          <% if current_order.minimum_budget > 0 %>
          <span class="budget-summary__progressbar-legend budget-summary__progressbar-marks_center">
            <%= t("minimum", scope: "decidim.budgets.projects.order_progress") %>
            <strong class="budget-summary__progressbar-legend-strong">
              <%= budget_to_currency(current_order.minimum_budget) %>
            </strong>
          </span>
          <% end %>
          <%= render partial: "decidim/budgets/projects/order_progress_progressbar_marks_right" %>
        </div>
      </div>
      <div class="layout-item__aside budget-summary__progressbox-buttons hidden lg:block">
        <% if !current_order_checked_out? && voting_open? %>
          <button class="button button__secondary button__lg mt-2 md:mt-0 w-full" data-dialog-open="budget-confirm" <%= budget_confirm_disabled_attr %>>
            <span>
              <%= t("vote", scope: "decidim.budgets.projects.budget_summary") %>
            </span>
            <%= icon "check-line" %>
          </button>
        <% end %>
        <% if include_heading && current_order_checked_out? %>
          <%= link_to budget_order_path(return_to: "budget"), method: :delete, class: "button button__lg button__secondary cancel-order w-full mt-2 md:mt-0", data: { confirm: t("are_you_sure", scope: "decidim.budgets.projects.budget_confirm") } do %>
            <span><%= t("cancel_order", scope: "decidim.budgets.projects.budget_summary") %></span>
            <%= icon "delete-bin-line" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="budget-summary__button-dropdown">
  <button id="dropdown-trigger-button-dropdown" data-component="dropdown" data-target="dropdown-menu-button-dropdown" class="budget-summary__button-dropdown_text">
    <%= t("more_information", scope: "decidim.budgets.budget_information_modal") %>
    <%= icon "arrow-down-s-line" %>
    <%= icon "arrow-up-s-line" %>
  </button>
  <p id="dropdown-menu-button-dropdown">
    <%= cell("decidim/budgets/budget_information_modal", @budget).call(:more_information) %>
  </p>
</div>
