<div <%= responsive ? "data-order-progress-responsive=true" : "data-order-progress-responsive=false" %> class="budget-summary__content--wrapper">
  <div class="budget-summary__content">
    <div class="budget-summary__progressbox" data-current-allocation="<%= current_order ? current_order.total : 0 %>">
      <% if include_heading %>
        <% if current_order_checked_out? %>
          <%= t("title", scope: "decidim.budgets.projects.budget_summary.checked_out") %>
          <div class="budget-summary__content__header">
            <span class="budget-summary__content__header--title">
              <%= t("name", scope: "decidim.components.budgets") %>
            </span>
            /
            <%= translated_attribute(budget.title) %>
            <p class="budget-summary__content__header--description">
              <%= t("description", scope: "decidim.budgets.projects.budget_summary.checked_out") %>
            </p>
          </div>
        <% end %>
      <% end %>
      <% if include_heading && !current_order_checked_out? %>
        <p class="budget-summary__progressbox--checked_out">
          <%= current_rule_description %>
        </p>
      <% end %>
      <div class="budget-summary__progressbar">
        <div class="progress budget-progress" role="progressbar" aria-valuenow="<%= current_order_budget_percent %>" aria-valuetext="<%= current_order_budget_percent %>%" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-meter budget-summary__progressbar--minimum" style="width: <%= current_order_budget_percent_minimum %>%">
            <span class="progress-meter--minimum-mark"></span>
          </div>
          <div class="progress-meter budget-summary__progressbar--meter" style="width: <%= current_order_budget_percent %>%">
          </div>
        </div>
        <div class="budget-summary__progressbar-marks">
          <span class="budget-summary__progressbar-legend" style="width: <%= current_order_budget_percent_minimum %>%;">
            <%= t("assigned", scope: "decidim.budgets.projects.order_progress") %>
            <strong id="order-total-budget" class="budget-summary__progressbar-legend-strong">
              <% if current_order.projects_rule? %>
              <%= current_order.projects.count %> /
              <%= current_order.maximum_projects %>
              <% else %>
              <%= budget_to_currency current_order&.total_budget.to_f %>
              <% end %>
            </strong>
          </span>
          <% if current_order.minimum_budget > 0 %>
            <span class="budget-summary__progressbar-legend budget-summary__progressbar-marks_center">
              <%= t("minimum", scope: "decidim.budgets.projects.order_progress") %>
              <strong class="budget-summary__progressbar-legend-strong">
                <%= budget_to_currency(current_order.minimum_budget) %>
              </strong>
            </span>
          <% end %>
          <span class="budget-summary__progressbar-legend budget-summary__progressbar-marks_right" data-total-allocation="<%= current_order.available_allocation %>">
            <%= t("budget", scope: "decidim.budgets.projects.order_progress") %>
            <strong class="budget-summary__progressbar-legend-strong">
              <% if current_order.projects_rule? %>
              <%= current_order.maximum_projects %>
              <% else %>
              <%= budget_to_currency(budget.total_budget) %>
              <% end %>
            </strong>
          </span>
        </div>
      </div>
    </div>
    <% if !current_order_checked_out? && voting_open? %>
      <button class="button button__secondary button__xl" data-dialog-open="budget-confirm" <%= budget_confirm_disabled_attr %>>
        <span>
          <%= t("vote", scope: "decidim.budgets.projects.budget_summary") %>
        </span>
        <%= icon "check-line" %>
      </button>
    <% end %>
    <% if include_heading %>
      <% if current_order_checked_out? %>
        <%= link_to budget_order_path(return_to: "budget"), method: :delete, class: "button button__lg button__secondary cancel-order", data: { confirm: t("are_you_sure", scope: "decidim.budgets.projects.budget_confirm") } do %>
          <span><%= t("cancel_order", scope: "decidim.budgets.projects.budget_summary") %></span>
          <%= icon "delete-bin-line" %>
        <% end %>
      <% end %>
    <% end %>

  </div>
  <div class="w-full progressbox-fixed-wrapper" data-progressbox-fixed>
    <div class="layout-1col mb-0">
      <div class="budget-summary__content__fixed py-4 budget-summary__progressbar col-span-12">
        <div class="budget-summary__content__fixed--progressbar">
          <div class="progress budget-progress relative" role="progressbar" aria-valuenow="<%= current_order_budget_percent %>" aria-valuetext="<%= current_order_budget_percent %>%" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter budget-summary__progressbar--minimum" style="width: <%= current_order_budget_percent_minimum %>%">
              <span class="progress-meter--minimum-mark"></span>
            </div>
            <div class="progress-meter budget-summary__progressbar--meter" style="width: <%= current_order_budget_percent %>%">
            </div>
          </div>
          <div class="budget-summary__progressbar-marks">
            <span class="budget-summary__progressbar-legend" style="width: <%= current_order_budget_percent_minimum %>%;">
              <%= t("assigned", scope: "decidim.budgets.projects.order_progress") %>
              <strong id="order-total-budget" class="budget-summary__progressbar-legend-strong">
                <% if current_order.projects_rule? %>
                <%= current_order.projects.count %> /
                <%= current_order.maximum_projects %>
                <% else %>
                <%= budget_to_currency current_order&.total_budget.to_f %>
                <% end %>
              </strong>
            </span>
            <% if current_order.minimum_budget > 0 %>
            <span class="budget-summary__progressbar-legend budget-summary__progressbar-marks_center">
              <%= t("minimum", scope: "decidim.budgets.projects.order_progress") %>
              <strong class="budget-summary__progressbar-legend-strong">
                <%= budget_to_currency(current_order.minimum_budget) %>
              </strong>
            </span>
            <% end %>
            <span class="budget-summary__progressbar-legend budget-summary__progressbar-marks_right" data-total-allocation="<%= current_order.available_allocation %>">
              <%= t("budget", scope: "decidim.budgets.projects.order_progress") %>
              <strong class="budget-summary__progressbar-legend-strong">
                <% if current_order.projects_rule? %>
                <%= current_order.maximum_projects %>
                <% else %>
                <%= budget_to_currency(budget.total_budget) %>
                <% end %>
              </strong>
            </span>
          </div>
        </div>
        <% if !current_order_checked_out? && voting_open? %>
          <button class="button button__secondary button__lg col-span-3 mt-2 md:mt-0" data-dialog-open="budget-confirm" <%= budget_confirm_disabled_attr %>>
            <span>
              <%= t("vote", scope: "decidim.budgets.projects.budget_summary") %>
            </span>
            <%= icon "check-line" %>
          </button>
        <% end %>
        <% if include_heading %>
          <% if current_order_checked_out? %>
            <%= link_to budget_order_path(return_to: "budget"), method: :delete, class: "button button__lg button__secondary cancel-order col-span-3", data: { confirm: t("are_you_sure", scope: "decidim.budgets.projects.budget_confirm") } do %>
              <span><%= t("cancel_order", scope: "decidim.budgets.projects.budget_summary") %></span>
              <%= icon "delete-bin-line" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
