<!-- Initially visible Progressbox -->
<div class="budget-summary__progressbox" data-current-budget="<%= current_order ? current_order.total_budget : 0 %>">
  <!--Change de aria-valuenow and aria-valuetext dynamically. Set a minimum in aria-valuenmin.-->
  <div class="progress budget-progress" role="progressbar" tabindex="0" aria-valuenow="<%= current_order_total_budget_percent %>" aria-valuemin="75" aria-valuetext="<%= current_order_total_budget_percent %>%" aria-valuemax="100">
    <!-- Set minimum in the style="width:"-->
    <div class="progress-meter progress-meter--minimum" style="width: <%= 100 - current_order_total_budget_percent %>%"></div>
    <!--Change width and text dynamically.-->
    <div class="progress-meter budget-progress__meter" style="width: <%= current_order_total_budget_percent %>%">
      <p class="progress-meter-text progress-meter-text--right"><%= current_order_total_budget_percent %>%</p>
    </div>
  </div>
  <% unless current_order_checked_out? %>
    <% if user_can_checkout? %>
      <button class="button small button--sc" data-toggle="budget-confirm"><%= t('.vote') %></button>
    <% else %>
      <button class="button small button--sc" data-toggle="budget-confirm" disabled><%= t('.vote') %></button>
    <% end %>
  <% end %>
</div>

<!-- Clone/fixed Progressbox -->
<div class="progressbox-fixed-wrapper" data-progressbox-fixed>
  <div class="budget-summary__progressbox budget-summary__progressbox--fixed">
    <!--Change de aria-valuenow and aria-valuetext dynamically. Set a minimum in aria-valuenmin.-->
    <div class="progress budget-progress budget-progress--fixed" role="progressbar" tabindex="0" aria-valuenow="<%= current_order_total_budget_percent %>" aria-valuemin="75" aria-valuetext="<%= current_order_total_budget_percent %>%" aria-valuemax="100">
      <!-- Set minimum in the style="width:"-->
      <div class="progress-meter progress-meter--minimum" style="width: <%= 100 - current_order_total_budget_percent %>%"></div>
      <!--Change width and text dynamically.-->
      <div class="progress-meter budget-progress__meter" style="width: <%= current_order_total_budget_percent %>%">
        <p class="progress-meter-text progress-meter-text--right"><%= current_order_total_budget_percent %>%</p>
      </div>
    </div>
    <% unless current_order_checked_out? %>
      <% if user_can_checkout? %>
        <button class="button small button--sc" data-toggle="budget-confirm"><%= t('.vote') %></button>
      <% else %>
        <button class="button small button--sc" data-toggle="budget-confirm" disabled><%= t('.vote') %></button>
      <% end %>
    <% end %>
  </div>
</div>