<div class="card card--list budget-list">
  <% projects.each do |project| %>
    <div class="card--list__item">
      <div class="card--list__text">
        <%= link_to project, class: "card__link" do %>
          <h5 class="card__title budget-list__title">
            <%= translated_attribute project.title %>
          </h5>
        <% end %>
      </div>
      <div class="card--list__data budget-list__data">
        <span class="card--list__data__number budget-list__number">
          <%= number_to_currency project.budget %>
        </span>
        <a href="#" class="button tiny hollow budget--list__action">
          <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
        </a>
      </div>
    </div>
  <% end %>
</div>
<%= decidim_paginate projects, order_start_time: params[:order_start_time], scope_id: params[:scope_id] %>
