<div id="project-<%= project.id %>-item" class="card--list__item">
  <div class="card--list__text">
    <div>
      <%= link_to project, class: "card__link" do %>
        <h5 class="card__title budget-list__title">
          <%= translated_attribute project.title %>
        </h5>
      <% end %>
      <%= cell "decidim/tags", project, context: { extra_classes: ["tags--project"] } %>
    </div>
  </div>
  <% if current_user.present? %>
    <% if current_order && current_order.projects.include?(project) %>
      <div class="card--list__data budget-list__data budget-list__data--added">
        <span class="card--list__data__number budget-list__number">
          <%= budget_to_currency(project.budget) %>
        </span>
        <%= action_authorized_button_to "vote", order_line_item_path(project_id: project), method: :delete, remote: true, data: { disable: true, budget: project.budget, "redirect-url": project_path(project) }, disabled: !current_settings.votes_enabled? || current_order_checked_out? || !current_participatory_space.can_participate?(current_user), class: "button tiny budget--list__action success" do %>
          <%= icon("check", class: "icon--small", aria_label: t(".remove"), role: "img") %>
        <% end %>
        <% if current_settings.show_votes? %>
          <div class="card__support" style="width: 7em">
            <span><%= t(".count", count: project.confirmed_orders_count) %></span>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="card--list__data budget-list__data">
        <span class="card--list__data__number budget-list__number">
          <%= budget_to_currency(project.budget) %>
        </span>
        <%= action_authorized_button_to "vote", order_line_item_path(project_id: project), method: :post, remote: true, data: { disable: true, budget: project.budget, add: true, "redirect-url": project_path(project) }, disabled: !current_settings.votes_enabled? || current_order_checked_out? || !current_participatory_space.can_participate?(current_user), class: "button tiny hollow budget--list__action" do %>
          <%= icon("check", class: "icon--small", aria_label: t(".add"), role: "img") %>
        <% end %>
        <% if current_settings.show_votes? %>
          <div class="card__support" style="width: 7em">
            <span><%= t(".count", count: project.confirmed_orders_count) %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="card--list__data budget-list__data">
      <span class="card--list__data__number budget-list__number">
        <%= budget_to_currency(project.budget) %>
      </span>
      <a href="#" class="button tiny hollow budget--list__action disabled" data-toggle="loginModal">
        <%= icon("check", class: "icon--small", aria_label: t(".add"), role: "img") %>
      </a>
      <% if current_settings.show_votes? %>
        <div class="card__support" style="width: 7em">
          <span><%= t(".count", count: project.confirmed_orders_count) %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
