<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_budgets" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_budgets", media: "all" %>
<% end %>

<%= render partial: "budget_summary", locals: { include_heading: true, project_item: false, responsive: true } %>
<%= cell("decidim/budgets/budget_information_modal", budget) %>

<% content_for :aside do %>
  <h3 class="h3 decorator"><%= t("decidim.budgets.projects.projects_for", name: translated_attribute(budget.title)) %></h3>

  <%= render partial: "filters" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "exit_modal" %>
  <%= render partial: "budget_excess" %>
  <%= render partial: "budget_confirm" %>

  <div class="voting-wrapper">
    <div class="budget-summary__container">
      <% if voting_finished? %>
        <h2 class="heading2">
          <%= t("decidim.budgets.projects.projects_for", name: translated_attribute(budget.title)) %>
        </h2>
      <% else %>
        <%= render partial: "budget_summary", locals: { include_heading: true, project_item: false, responsive: false } %>
      <% end %>
    </div>

      <% if component_settings.geocoding_enabled? %>
        <div class="budget-list__map">
          <%= dynamic_map_for projects_data_for_map(all_geocoded_projects) do %>
            <template id="marker-popup">
              <div class="space-y-6">
                <a href="${link}" class="card__list">
                  <div class="card__list-content">
                    <h3 class="h4 card__list-title">${title}</h3>
                    <div class="card__list-metadata">
                      {{each JSON.parse(items)}}
                        <span>{{html icon}}{{html text}}</span>
                      {{/each}}
                    </div>
                  </div>
                </a>
              </div>
            </template>
          <% end %>
        </div>
      <% end %>

    <%= cell("decidim/budgets/limit_announcement", budget) %>

    <span class="text-xl font-semibold">
      <%= t("select_projects", scope: "decidim.budgets.projects") %>
    </span>

    <div id="projects" aria-live="polite">
      <%= render partial: "projects" %>
    </div>
  </div>

<% end %>
