<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_budgets" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_budgets", media: "all" %>
<% end %>

<% content_for :aside do %>
  <h3 class="h3 decorator"><%= t("decidim.budgets.projects.projects_for", name: translated_attribute(budget.title)) %></h3>

  <%= render partial: "filters_small_view" %>
  <%= render partial: "filters" %>

<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "exit_modal" %>

  <div class="voting-wrapper">
    <div class="budget-summary__container">
      <% if component_settings.geocoding_enabled? %>
        <%= dynamic_map_for projects_data_for_map(all_geocoded_projects) do %>
          <template id="marker-popup">
            <div class="map-info__content">
              <h3>${title}</h3>
              <div id="bodyContent">
                <p>{{html body}}</p>
                <div class="map__date-address">
                  <div class="address card__extra">
                    <div class="address__icon">{{html icon}}</div>
                    <div class="address__details">
                      <span>${address}</span><br>
                    </div>
                  </div>
                </div>
                <div class="map-info__button">
                  <a href="${link}" class="button button--sc">
                    <%= t("view_project", scope: "decidim.budgets.projects.index") %>
                  </a>
                </div>
              </div>
            </div>
          </template>
        <% end %>
      <% end %>
      <% if voting_finished? %>
        <h2 class="heading2">
          <%= t("decidim.budgets.projects.projects_for", name: translated_attribute(budget.title)) %>
        </h2>
      <% else %>
        <%= render partial: "budget_summary", locals: { include_heading: true, project_item: false } %>
      <% end %>
    </div>

    <%= cell("decidim/budgets/limit_announcement", budget) %>

    <span class="text-xl font-semibold">
      <%= t("select_projects", scope: "decidim.budgets.projects") %>
    </span>

    <div id="projects" aria-live="polite">
      <%= render partial: "projects" %>
    </div>
  </div>

<% end %>
