<% provide(:title, translated_attribute(project.title)) %>

<div class="row column view-header">
  <% if current_user.present? %>
    <%= render partial: "budget_summary", locals: { include_heading: false } %>
  <% end %>
  <%= link_to projects_path, class: "muted-link" do %>
    <%= icon "chevron-left", class: "icon--small" %>
    <%= t('.view_all_projects') %>
  <% end %>
  <h2 class="heading2"><%= translated_attribute project.title %></h2>
</div>
<div class="row">
  <div id="project" class="columns section view-side mediumlarge-4 mediumlarge-push-8
    large-3 large-push-9">
    <div class="card extra">
      <div class="card__content">
        <div class="m-bottom">
          <span class="definition-data__title"><%= t('.budget') %></span>
          <span class="definition-data__number"><%= budget_to_currency project.budget %></span>
        </div>
        <div id="project-<%= project.id %>-budget-button">
          <%= render partial: 'project_budget_button', locals: { project: project } %>
        </div>
      </div>
    </div>
  </div>
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <%== translated_attribute project.description %>
      <%= render partial: "tags", locals: { project: project } %>
    </div>
    <%= linked_resources_for project, :proposals, "included_proposals" %>
  </div>
</div>

<%= comments_for project %>

<%= attachments_for project %>
<%= javascript_include_tag("decidim/budgets/projects") %>
