<% add_decidim_meta_tags(
  title: translated_attribute(project.title),
  description: translated_attribute(project.description)
) %>

<%
edit_link(
  resource_locator([project.budget, project]).edit,
  :update,
  :project,
  project: project
)
%>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_budgets" %>
<% end %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_budgets" %>
<% end %>

<% if redesign_enabled? %>
  <%= render partial: "redesigned_exit_modal" %>
<% else %>
  <%= render partial: "exit_modal" %>
<% end %>

<% content_for :item_header do %>
  <% unless voting_finished? %>
    <%= render partial: "budget_summary", locals: { include_heading: true, project_item: true } %>
  <% end %>
<% end %>
<%= render layout: "layouts/decidim/shared/layout_item", locals: { back_path: budget_path(budget) } do %>
  <%= cell("decidim/budgets/limit_announcement", budget) %>
  <% if component_settings.geocoding_enabled? && project.geocoded? %>
    <%= render partial: "decidim/shared/static_map", locals: { icon_name: "projects", geolocalizable: project } %>
  <% end %>
  <%= cell("decidim/budgets/project_selected_status", project, as_label: true) %>
  <h1 class="h1 decorator budget__definition-project__title editor-content">
    <%= decidim_sanitize_editor translated_attribute project.title %>
  </h1>
  <div class="editor-content">
    <%= decidim_sanitize_editor translated_attribute project.description %>
  </div>
  <%= attachments_for project %>
  <%= linked_resources_for project, :proposals, "included_proposals" %>
  <%= linked_resources_for project, :results, "included_projects" %>

  <div class="my-4 flex gap-x-1 items-center">
    <%= cell "decidim/comments_button", nil %>
    <div class="ml-auto">
      <%= cell "decidim/budgets/project_tags", project %>
    </div>
  </div>

  <%= comments_for project, polymorphic: [project.budget] %>
  <div class="mt-8">
    <ul class="drawer-metadata__container" data-metadata-footer>
      <%= content_tag :li, resource_reference(project), class: "drawer-metadata__item" %>
      <%= content_tag :li, resource_version(project, versions_path: budget_projects_path(project)), class: "drawer-metadata__item" %>
    </ul>
  </div>
  <% content_for :aside do %>
    <% if voting_open? %>
      <%= render partial: "project_budget_button", locals: { project: project } %>
    <% end %>

    <span class="budget__definition-data__title">
      <%= t("budget", scope: "decidim.budgets.projects.show") %>
    </span>
    <div class="budget__definition-data__number">
      <%= budget_to_currency project.budget_amount %>
    </div>
    <div class="budget__definition-data__grid">
      <%= render partial: "decidim/shared/follow_button", class: "text-center", locals: { followable: project, large: false } %>
      <%= cell "decidim/share_button", nil %>
    </div>
  <% end %>
<% end %>
