<% add_decidim_page_title(t("decidim.admin.titles.user_groups")) %>
<div class="card" id="user-groups">
  <div class="item_show__header">
    <h2 class="item_show__header-title">
      <%= t "decidim.admin.titles.user_groups" %>
      <%= link_to t(".verify_via_csv"), new_user_groups_csv_verification_path, class: "button button__sm button__secondary" %>
    </h2>
  </div>
  <%= admin_filter_selector %>
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= sort_link(query, :name, t("models.user_group.fields.name", scope: "decidim.admin"), default_order: :desc) %></th>
          <th><%= sort_link(query, :nickname, t("models.user_group.fields.nickname", scope: "decidim.admin"), default_order: :desc) %></th>
          <th><%= sort_link(query, :document_number, t("models.user_group.fields.document_number", scope: "decidim.admin"), default_order: :desc) %></th>
          <th><%= sort_link(query, :phone, t("models.user_group.fields.phone", scope: "decidim.admin"), default_order: :desc) %></th>
          <th><%= sort_link(query, :users_count, t("models.user_group.fields.users_count", scope: "decidim.admin"), default_order: :desc) %></th>
          <th><%= sort_link(query, :created_at, t("models.user_group.fields.created_at", scope: "decidim.admin"), default_order: :desc) %></th>
          <th><%= sort_link(query, :state, t("models.user_group.fields.state", scope: "decidim.admin"), default_order: :desc) %></th>
          <th><%= t("models.user_group.fields.actions", scope: "decidim.admin") %></th>
        </tr>
      </thead>
      <tbody>
        <% @user_groups.each do |user_group| %>
          <tr data-user-group-id="<%= user_group.id %>">
            <td><%= link_to_if user_group.nickname.present?, user_group.name, decidim.profile_path(user_group.nickname) %></td>
            <td><%= link_to_if user_group.nickname.present?, user_group.nickname, decidim.profile_path(user_group.nickname) %></td>
            <td><%= user_group.document_number %></td>
            <td><%= user_group.phone %></td>
            <td><%= user_group.users.size %></td>
            <td><%= l user_group.created_at, format: :short %></td>
            <td>
            <% if user_group.verified? %>
              <%= t(".state.verified") %>
            <% end %>
            <% if user_group.rejected? %>
              <%= t(".state.rejected") %>
            <% end %>
            <% if user_group.pending? %>
              <%= t(".state.pending") %>
            <% end %>
            </td>
            <td class="table-list__actions">
              <% if allowed_to?(:verify, :user_group, user_group: user_group) %>
                <% if !user_group.verified? %>
                  <%= icon_link_to "checkbox-circle-line", decidim_admin.verify_user_group_path(user_group), t("actions.verify", scope: "decidim.admin"), method: :put, class: "action-icon--verify" %>
                <% else %>
                  <%= icon "checkbox-circle-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.verify", scope: "decidim.admin") %>
                <% end %>
              <% end %>

              <% if allowed_to?(:reject, :user_group, user_group: user_group) %>
                <% if !user_group.rejected? %>
                  <%= icon_link_to "delete-bin-line", decidim_admin.reject_user_group_path(user_group), t("actions.reject", scope: "decidim.admin"), method: :put, class: "action-icon--reject" %>
                <% else %>
                  <%= icon "delete-bin-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.reject", scope: "decidim.admin") %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= decidim_paginate @user_groups %>
