<% add_decidim_page_title(t(".registrations")) %>

<div class="card" id="conference-registrations">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".registrations") %>
      <% if allowed_to? :export_conference_registrations, :conference, conference: conference %>
        <div class="relative">
          <a class="button button__sm button__transparent-secondary" data-component="dropdown" data-target="export-dropdown">
            <%= t "actions.export", scope: "decidim.admin" %>
            <%= icon "arrow-down-s-line" %>
            <%= icon "arrow-down-s-line" %>
          </a>
          <ul id="export-dropdown" class="dropdown dropdown__bottom" aria-hidden="true">
            <% %w(CSV JSON Excel).each do |format| %>
              <li class="dropdown__item">>
                <%= link_to export_conference_conference_registrations_path(conference_id: conference, format:) do %>
                  <%= t("decidim.admin.exports.export_as", name: t("decidim.admin.conferences.exports.registrations"), export_format: format) %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </h1>
  </div>
  <div class="table-scroll">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t("models.conference_registration.fields.name", scope: "decidim.conferences") %></th>
          <th><%= t("models.conference_registration.fields.email", scope: "decidim.conferences") %></th>
          <th><%= t("models.conference_registration.fields.registration_type", scope: "decidim.conferences") %></th>
          <th><%= t("models.conference_registration.fields.state", scope: "decidim.conferences") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @conference_registrations.each do |registration| %>
          <tr data-id="<%= registration.id %>">
            <td>
              <%= registration.user.name %>
            </td>
            <td>
              <%= registration.user.email %>
            </td>
            <td>
              <%= translated_attribute(registration.registration_type.title) %>
            </td>
            <td>
              <%= t("models.conference_registration.fields.states.#{registration.confirmed? ? "confirmed" : "pending"}", scope: "decidim.conferences") %>
            </td>
            <td>
              <% if allowed_to?(:confirm, :conference_registration, conference_registration: registration) %>
                <% if !registration.confirmed? %>
                  <%= icon_link_to "check-line", confirm_conference_conference_registration_path(current_conference, registration), t("actions.confirm", scope: "decidim.admin"), class: "action-icon--publish", method: :post %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= decidim_paginate @conference_registrations %>
</div>
