<%
@title = "Multiconsulta -- Decidim Barcelona"
@activesection = "consultations"
@activepage = "voting-places"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <%= partial "consultations_header" %>
  <div class="row column">
    <%= partial "consultations_nav" %>
  </div>

  <div class="row column">
    <h2 class="heading5 consultations-intro">
      El proceso multiconsulta estará abierto <strong>desde el 5 hasta el 12 de mayo de 2018.</strong><br>
Las votaciones se pueden realizar online a través de esta página web, o presencialmente en los puntos de la ciudad de Barcelona señalados a continuación.
    </h2>
  </div>

  <div class="row column">
    <%= partial "meetings_map" %>
  </div>
  <div class="row small-up-1 medium-up-2 large-up-3 card-grid">
    <div class="column">
      <article class="card card--meeting">
        <div class="card__content">
          <div class="address address--alone card__extra">
            <div class="address__icon">
              <%= icon "meetings", removeIconClass: true, width: 40, height: 70 %>
            </div>
            <div class="address__details">
              <strong>Seu del Districte Sants-Montjuïc</strong><br>
              <span>Carrer de la Creu Coberta, 104</span><br>
              <span>Barcelona</span>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="card card--meeting">
        <div class="card__content">
          <div class="address address--alone card__extra">
            <div class="address__icon">
              <%= icon "meetings", removeIconClass: true, width: 40, height: 70 %>
            </div>
            <div class="address__details">
              <strong>Seu del Districte Sants-Montjuïc</strong><br>
              <span>Carrer de la Creu Coberta, 104</span><br>
              <span>Barcelona</span>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="card card--meeting">
        <div class="card__content">
          <div class="address address--alone card__extra">
            <div class="address__icon">
              <%= icon "meetings", removeIconClass: true, width: 40, height: 70 %>
            </div>
            <div class="address__details">
              <strong>Seu del Districte Sants-Montjuïc, Lorem ipsum</strong><br>
              <span>Carrer de la Creu Coberta, 104</span><br>
              <span>Barcelona</span>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>

</main>

<%= partial "template_bottom" %>
