<%
@title = "Multiconsulta -- Decidim Barcelona"
@activesection = "consultations"
@activepage = "moreinfo"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <%= partial "consultations_header" %>
  <div class="row column">
    <%= partial "consultations_nav" %>
  </div>
  <div class="row column">
    <div class="row">
      <div class="columns medium-7 mediumlarge-8">
        <div class="section">
          <h2 class="section-heading">Datos técnicos</h2>
          <h3 class="heading6">AMBIT</h3>
          <p>
            Iniciativa Ciudadana
          </p>
          <h3 class="heading6">GRUP PROMOTOR</h3>
          <p>
            Plataforma de Municipalización del Agua
          </p>
          <h3 class="heading6">ORIGEN</h3>
          <p>
            Iniciativa Ciudadana por la Remunicipalización del Agua
          </p>
          <h3 class="heading6">ÀREA MUNICIPAL</h3>
          <p>
            Barcelona
          </p>
          <h3 class="heading6">ÀMBIT PARTICIPATIU</h3>
          <p>
            El resultado de la votación será apoyado en el pleno por BeC, ERC, PSC, Ciutadans
          </p>
          <h3 class="heading6">FECHA DE INICIO</h3>
          <p>
            5 de mayo de 2018
          </p>
          <h3 class="heading6">FECHA DE FINALIZACIÓN</h3>
          <p>
            10 de mayo de 2018
          </p>
        </div>
        <div class="section">
          <h2 class="section-heading">Qué se decide</h2>
          <p>
            Millores en un conjunt de carrers dels barris del districte que
            incorporin la renovació integral de les seves infraestructures
            (voreres, accessibilitat, asfaltat, enllumenat, clavegueram,
            arbrat, mobiliari urbà...)</p>
        </div>
        <div class="section">
          <h2 class="section-heading">Contexto</h2>
          <p>
            Millores en un conjunt de carrers dels barris del districte que
            incorporin la renovació integral de les seves infraestructures
            (voreres, accessibilitat, asfaltat, enllumenat, clavegueram,
            arbrat, mobiliari urbà...)</p>
          <p>Interiors de Canyelles, Guineueta
            i Aiguablava-Portlligat i Amilcar-Cartellà-Av. de Borbó-Maragall,
            connexió del carrer Pedraforca amb Agudes, accessibilitat i
            enllumenat a Renfe Meridiana, urbanització de Nou Pins, Mina de
            la ciutat, Canfranc, Oristà i Almansa, pèrgola del Campillo de la
            virgen i del parc de Serra Martí, redacció del projecte del
            passeig de la Peira, reforma de les escales de Matagalls, millores
            a l'Av. de Borbó i projecte d'intervenció a la Font Pla de
            Fornells. Millores en el Parc de la Guineueta incloent un espai
            d'aparells per a la gent gran. Estudi de la viabilitat tècnica
            d'instal·lar escales mecàniques entre Ciutat Meridiana i Torre
            Baró per millorar la connectivitat entre els dos barris o millora
            de l'escala actual. Millores d'accessibilitat, arranjaments i
            enllumenat en l'àmbit de Renfe Meridiana. Millores en la
            urbanització per a l'accessibilitat d'acord amb les
            particularitats orogràfiques al barri de Roquetes.
          </p>
          <p>Interiors de Canyelles, Guineueta
            i Aiguablava-Portlligat i Amilcar-Cartellà-Av. de Borbó-Maragall,
            connexió del carrer Pedraforca amb Agudes, accessibilitat i
            enllumenat a Renfe Meridiana, urbanització de Nou Pins, Mina de la
            ciutat, Canfranc, Oristà i Almansa, pèrgola del Campillo de la
            virgen i del parc de Serra Martí, redacció del projecte del
            passeig de la Peira, reforma de les escales de Matagalls, millores
            a l'Av. de Borbó i projecte...
          </p>
        </div>
        <%= partial "documents" %>
      </div>
      <div class="section columns medium-5 mediumlarge-4 large-3">
        <div class="card extra">
          <div class="card__content">
            <button class="button secondary hollow expanded button--icon">
              <%= icon "bell" %>
              <span>Seguir</span>
            </button>
          </div>
        </div>
        <div class="reference">
          Referencia: BCN-2016-01-173
        </div>
        <div class="card extra">
          <div class="definition-data">
            <div class="definition-data__item definition-data__item--double">
              <span class="definition-data__title">Adhesiones</span>
              <span class="definition-data__number">57</span>
            </div>
            <div class="definition-data__item definition-data__item--double">
              <span class="definition-data__title">Comentarios</span>
              <span class="definition-data__number">30</span>
            </div>
            <div class="definition-data__item definition-data__item--double">
              <span class="definition-data__title">Encuentros</span>
              <span class="definition-data__number">2</span>
            </div>
            <div class="definition-data__item definition-data__item--double">
              <span class="definition-data__title">Asistentes</span>
              <span class="definition-data__number">130</span>
            </div>
          </div>
        </div>
        <%= partial "share" %>

      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
