<%
@title = "Multiconsulta -- Decidim Barcelona"
@activesection = "consultations"
@activepage = "entities"
%>
<%= partial "template_top" %>

<main class="wrapper">
  <%= partial "consultations_header" %>
  <div class="row column">
    <%= partial "consultations_nav" %>
  </div>

  <div class="row column">
    <h2 class="heading5 consultations-intro">
      Las entidades interesadas son organizaciones que toman una posición
      respecto a la consulta que se realiza, normalmente argumentando <strong>
      a favor o en contra</strong> y exponiendo sus <strong>motivos</strong>.
      A continuación puedes ver un listado de entidades interesadas en esta
      consulta, la documentación que aportan y los <strong>comentarios</strong>
      generados a partir de esta documentación.
    </h2>
  </div>

  <div class="row">
    <div class="columns">
      <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
        <div class="column">
          <article class="card card--proposal">
            <div class="card__top">
              <div class="card__content text-small">
                <span class="muted">Proceso:</span>&nbsp;<%= link_to Faker::Hipster.sentence, page_path("info"), class: "card__link text-ellipsis" %>
              </div>
            </div>
            <div class="card__content">
              <div class="card__header">
                <a href="/public/consultations-entities-view" class="card__link">
                  <h5 class="card__title">
                    A favor de la remunicipalicación
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <img src="/images/demo-avatar.jpg" alt="" />
                      </a>
                      <a href="#" class="author__name">
                        Societat Amics del Aigua
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <div class="text-center">
                <button class="card__button button small"
                 data-toggle="loginModal">
                 Participar
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__top">
              <div class="card__content text-small">
                <span class="muted">Proceso:</span>&nbsp;<%= link_to Faker::Hipster.sentence, page_path("info"), class: "card__link text-ellipsis" %>
              </div>
            </div>
            <div class="card__content">
              <div class="card__header">
                <a href="/public/consultations-entities-view" class="card__link">
                  <h5 class="card__title">
                    El mercado se autorregula bien
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <img src="/images/demo-avatar.jpg" alt="" />
                      </a>
                      <a href="#" class="author__name">
                        Asociación por el Libre Mercado
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <div class="text-center">
                <button class="card__button button small"
                 data-toggle="loginModal">
                 Participar
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__top">
              <div class="card__content text-small">
                <span class="muted">Proceso:</span>&nbsp;<%= link_to Faker::Hipster.sentence, page_path("info"), class: "card__link text-ellipsis" %>
              </div>
            </div>
            <div class="card__content">
              <div class="card__header">
                <a href="/consultations-entities-view" class="card__link">
                  <h5 class="card__title">
                    Agua que no has de beber, déjala correr
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <img src="/images/demo-avatar.jpg" alt="" />
                      </a>
                      <a href="#" class="author__name">
                        Refraneros de Barcelona
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <div class="text-center">
                <button class="card__button button small"
                 data-toggle="loginModal">
                 Participar
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__top">
              <div class="card__content text-small">
                <span class="muted">Proceso:</span>&nbsp;<%= link_to Faker::Hipster.sentence, page_path("info"), class: "card__link text-ellipsis" %>
              </div>
            </div>
            <div class="card__content">
              <div class="card__header">
                <a href="/public/consultations-entities-view" class="card__link">
                  <h5 class="card__title">
                    A favor de la remunicipalicación
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <img src="/images/demo-avatar.jpg" alt="" />
                      </a>
                      <a href="#" class="author__name">
                        Societat Amics del Aigua
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <div class="text-center">
                <button class="card__button button small"
                 data-toggle="loginModal">
                 Participar
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__top">
              <div class="card__content text-small">
                <span class="muted">Proceso:</span>&nbsp;<%= link_to Faker::Hipster.sentence, page_path("info"), class: "card__link text-ellipsis" %>
              </div>
            </div>
            <div class="card__content">
              <div class="card__header">
                <a href="/consultations-entities-view" class="card__link">
                  <h5 class="card__title">
                    El mercado se autorregula bien
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <img src="/images/demo-avatar.jpg" alt="" />
                      </a>
                      <a href="#" class="author__name">
                        Asociación por el Libre Mercado
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <div class="text-center">
                <button class="card__button button small"
                 data-toggle="loginModal">
                 Participar
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="card card--proposal">
            <div class="card__top">
              <div class="card__content text-small">
                <span class="muted">Proceso:</span>&nbsp;<%= link_to Faker::Hipster.sentence, page_path("info"), class: "card__link text-ellipsis" %>
              </div>
            </div>
            <div class="card__content">
              <div class="card__header">
                <a href="/consultations-entities-view" class="card__link">
                  <h5 class="card__title">
                    Agua que no has de beber, déjala correr
                  </h5>
                </a>
                <div class="card__author author-data author-data--small">
                  <div class="author-data__main">
                    <div class="author author--inline">
                      <a href="#" class="author__avatar author__avatar--small">
                        <img src="/images/demo-avatar.jpg" alt="" />
                      </a>
                      <a href="#" class="author__name">
                        Refraneros de Barcelona
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Implementar la instal·lació d’àrees
                estratègiques de càrrega i descàrrega per garantir uns
                 fluxos de mobilitat sostenibles i respectuosos.</p>
              <div class="text-center">
                <button class="card__button button small"
                 data-toggle="loginModal">
                 Participar
                </button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
