<%
@title = "Evote -- Decidim Barcelona"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row">
      <div class="columns">
        <a href="evote-poll-list">
          <%= icon "caret-left", class: "icon--small" %>&nbsp;Available elections
        </a>
      </div>
    </div>
    <%= partial "evote_intro" %>
    <%= partial "evote_questions", locals: { hasCta: false } %>
  </div>
</main>

<%= partial "template_bottom" %>
