<%
@title = "Evote -- Decidim Barcelona"
%>

<%= partial "template_top" %>

<main>
  <%= partial "evote_hero" %>
  <div class="wrapper">
    <%= partial "evote_intro_multiple" %>
    <%= partial "evote_poll_list" %>
    <%= partial "evote_timeline" %>
    <%= partial "evote_map" %>
    <%= partial "evote_stats" %>
  </div>
</main>

<%= partial "template_bottom" %>
