<%
@title = "Evote -- Decidim Barcelona"
%>

<%= partial "template_top" %>

<main>
  <%= partial "evote_hero" %>
  <div class="wrapper">
    <div class="row">
      <div class="columns">
        <a href="evote-poll-list">
            <%= icon "caret-left", class: "icon--small" %>&nbsp;Available elections
        </a>
      </div>
    </div>
    <%= partial "evote_intro" %>
    <%= partial "evote_questions" %>
    <%= partial "evote_timeline" %>
    <%= partial "evote_map" %>
    <%= partial "evote_stats" %>
  </div>
</main>

<%= partial "template_bottom" %>
