<%
@title = "Evote -- Decidim Barcelona"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row">
      <div class="columns">
        <a href="evote-poll-list">
          <%= icon "caret-left", class: "icon--small" %>&nbsp;Available elections
        </a>
        <h1 class="heading3">Consulta sobre la organización del Comité de Fiestas del Barrio del Fort Pienc</h1>
        <p>
          Active voting until: <strong>15th July 2020</strong>
        </p>
      </div>
    </div>
    <div class="row section">
      <div class="columns medium-4 mediumlarge-5">
        <img src="<%= image_path "superilles.jpg" %>" alt="">
      </div>
      <div class="columns medium-8 mediumlarge-7">
        <div class="section">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div>
            <a class="button" href="evote-1">
              Start voting
            </a>
          </div>
          <p class="text-sm">
            Already voted? <a href="evote-public-verify">Check&nbsp;your vote&nbsp;here</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="row section">
      <div class="columns large-8">
        <h2 class="section-heading">Election questions</h2>
        <p>
          These are the questions you will find in the voting process:
        </p>
        <ul class="accordion js-sortable mb-m evote__preview"
            data-accordion
            data-multi-expand="true"
            data-allow-all-closed="true">

              <li class="accordion-item evote__preview-question" data-accordion-item>
                <a href="#" class="accordion-title flex--sbc">¿Estás de acuerdo con que se imponga una cuota de 40€ al año por miembro?</a>
                <div class="accordion-content" data-tab-content>
                  <strong>Available answers:</strong>
                  <ul>
                    <li>Yes</li>
                    <li>No</li>
                    <li>Blank</li>
                  </ul>
                </div>
              </li>
              <li class="accordion-item evote__preview-question" data-accordion-item>
                <a href="#" class="accordion-title flex--sbc">¿Con cuáles de estas afirmaciones sobre la organización del Comité de Fiestas estás de acuerdo?</a>
                <div class="accordion-content" data-tab-content>
                  <strong>Available answers:</strong>
                  <ul>
                    <li>El Comité debería abordar otros problemas del barrio más allá de las fiestas</li>
                    <li>Las asambleas deberían hacerse cada mes en vez de cada tres, como hasta ahora</li>
                    <li>El foro debería abrirse a la participación de todas y todos</li>
                    <li>Blank/None of the above</li>
                  </ul>
                </div>
              </li>
              <li class="accordion-item evote__preview-question" data-accordion-item>
                <a href="#" class="accordion-title flex--sbc"> ¿Qué programa organizativo crees que debería aplicar el Comité de Fiestas durante el próximo año? </a>
                <div class="accordion-content" data-tab-content>
                  <strong>Available answers:</strong>
                  <ul>
                    <li>El plan de Expansión Trasversal</li>
                    <li>El plan de Participación Vecinal Inclusiva</li>
                    <li>El plan de Intervención Social Aplicada</li>
                    <li>Blank / None of the above</li>
                  </ul>
                </div>
              </li>
          </ul>
      </div>
    </div>

  </div>
</main>

<%= partial "template_bottom" %>
