<%
@title = "Proceso -- Decidim Barcelona"
@activesection = "processes"
@activepage = "info"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <%= partial "process_header" %>
  <div class="row column">
    <div class="row">
      <div class="columns medium-7 mediumlarge-8">
        <div class="section">
          <p class="lead">
            Millores en un conjunt de carrers dels barris del districte que
            incorporin la renovació integral de les seves infraestructures
            (voreres, accessibilitat, asfaltat, enllumenat, clavegueram,
            arbrat, mobiliari urbà...)</p>
          <p>Interiors de Canyelles, Guineueta
            i Aiguablava-Portlligat i Amilcar-Cartellà-Av. de Borbó-Maragall,
            connexió del carrer Pedraforca amb Agudes, accessibilitat i
            enllumenat a Renfe Meridiana, urbanització de Nou Pins, Mina de
            la ciutat, Canfranc, Oristà i Almansa, pèrgola del Campillo de la
            virgen i del parc de Serra Martí, redacció del projecte del
            passeig de la Peira, reforma de les escales de Matagalls, millores
            a l'Av. de Borbó i projecte d'intervenció a la Font Pla de
            Fornells. Millores en el Parc de la Guineueta incloent un espai
            d'aparells per a la gent gran. Estudi de la viabilitat tècnica
            d'instal·lar escales mecàniques entre Ciutat Meridiana i Torre
            Baró per millorar la connectivitat entre els dos barris o millora
            de l'escala actual. Millores d'accessibilitat, arranjaments i
            enllumenat en l'àmbit de Renfe Meridiana. Millores en la
            urbanització per a l'accessibilitat d'acord amb les
            particularitats orogràfiques al barri de Roquetes.
          </p>
          <p>Interiors de Canyelles, Guineueta
            i Aiguablava-Portlligat i Amilcar-Cartellà-Av. de Borbó-Maragall,
            connexió del carrer Pedraforca amb Agudes, accessibilitat i
            enllumenat a Renfe Meridiana, urbanització de Nou Pins, Mina de la
            ciutat, Canfranc, Oristà i Almansa, pèrgola del Campillo de la
            virgen i del parc de Serra Martí, redacció del projecte del
            passeig de la Peira, reforma de les escales de Matagalls, millores
            a l'Av. de Borbó i projecte...
          </p>
          <div class="show-more">
            <button class="button button--muted tiny">
              Leer más
            </button>
          </div>
        </div>
      </div>
      <div class="section columns medium-5 mediumlarge-4 large-3">
        <button class="button secondary hollow expanded button--icon">
          <%= icon "bell" %>
          <span>Seguir proceso</span>
        </button>
        <div class="card extra definition-data">
          <div class="definition-data__item">
            <span class="definition-data__title">Ámbito</span>
              Districte de Gràcia
          </div>
          <div class="definition-data__item">
            <span class="definition-data__title">Finalización</span>
              18 septiembre 2016
          </div>
          <div class="definition-data__item">
            <span class="definition-data__title">Grupo promotor</span>
              Ajuntament de Barcelona
          </div>
          <div class="definition-data__item">
            <span class="definition-data__title">Área</span>
              Urbanismo
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns large-8">
        <div class="section">
          <h4 class="section-heading">Documentos relacionados</h4>
          <div class="card card--list">
            <div class="card--list__item">
              <div class="card--list__text">
                <div>
                  <a href="#" class="card__link">
                    <h6 class="card--list__heading heading6">
                      Acta Paral·lel <small>PDF 57Kb</small>
                    </h6>
                    <span class="text-small">Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Suspendisse ut semper mi, et ullamcorper
                      elit.</span>
                  </a>
                </div>
              </div>
              <div class="card--list__data">
                <a href="" class="card--list__data__icon">
                  <%= icon "cloud-download" %>
                </a>
              </div>
            </div>
            <div class="card--list__item">
              <div class="card--list__text">
                <div>
                  <a href="#" class="card__link">
                    <h6 class="card--list__heading heading6">
                      Informe reunió 18-04-2016 <small>PDF 57Kb</small>
                    </h6>
                    <span class="text-small">Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Suspendisse ut semper mi, et ullamcorper
                      elit.</span>
                  </a>
                </div>
              </div>
              <div class="card--list__data">
                <a href="" class="card--list__data__icon">
                  <%= icon "cloud-download" %>
                </a>
              </div>
            </div>
            <div class="card--list__item">
              <div class="card--list__text">
                <div>
                  <a href="#" class="card__link">
                    <h6 class="card--list__heading heading6">
                      Informe reunió 18-04-2016 <small>PDF 57Kb</small>
                    </h6>
                    <span class="text-small">Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Suspendisse ut semper mi, et ullamcorper
                      elit.</span>
                  </a>
                </div>
              </div>
              <div class="card--list__data">
                <a href="" class="card--list__data__icon">
                  <%= icon "cloud-download" %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row column">
      <div class="section">
        <h4 class="section-heading">Actividad</h4>
        <%= partial "process_home_stats" %>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
