<%
@title = "Propuesta -- Decidim Barcelona"
@activesection = "processes"
@activepage = "proposals"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row column">
      <%= partial "budget_summary" %>
    </div>
    <div class="row columns">
      <h2 class="section-heading">168 proyectos</h2>
    </div>
    <div class="row">
      <div class="columns mediumlarge-4 large-3">
        <%= partial "filters_small_view" %>
        <div class="card card--secondary show-for-mediumlarge">
          <%= partial "filters" %>
        </div>
      </div>
      <div class="columns mediumlarge-8 large-9">
        <%= partial "order_by" %>
        <div class="card card--list budget-list">
          <div class="card--list__item">
            <div class="card--list__text">
              <div><!-- if adding tags or extra content, use a wrapping div to avoid flexbox inheritance-->
                <a href="#" class="card__link">
                  <h5 class="card__title budget-list__title">
                    Diagnòstic sobre l'existència i la necessitat de menjadors socials per a gent gran al Districte
                  </h5>
                </a>
                <ul class="tags">
                  <li><a href="#">Foment de la cultura al Coll, Vallcarca i els Penitents i la Salut</a></li>
                </ul>
              </div>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">22.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <div><!-- if adding tags or extra content, use a wrapping div to avoid flexbox inheritance-->
                <a href="#" class="card__link">
                  <h5 class="card__title budget-list__title">
                    Diagnòstic sobre l'existència i la necessitat de menjadors
                  </h5>
                </a>
                <ul class="tags">
                  <li><a href="#">Economia social i solidària</a></li>
                </ul>
              </div>
            </div>
            <div class="card--list__data budget-list__data budget-list__data--added">
              <span class="card--list__data__number budget-list__number">30.000€</span>
              <a href="#" class="button tiny success budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <div><!-- if adding tags or extra content, use a wrapping div to avoid flexbox inheritance-->
                <a href="#" class="card__link">
                  <h5 class="card__title budget-list__title">
                    Menjadors socials per a gent gran al Districte
                  </h5>
                </a>
                <ul class="tags">
                  <li><a href="#">Dones, feminismes i diversitat sexual</a></li>
                </ul>
              </div>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">150.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Menjadors socials
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">4.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Menjadors socials per a gent gran al Districte
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data budget-list__data--added">
              <span class="card--list__data__number budget-list__number">11.000.000€</span>
              <a href="#" class="button tiny success budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Menjadors socials per a gent
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data budget-list__data--added">
              <span class="card--list__data__number budget-list__number">2.000.000€</span>
              <a href="#" class="button tiny success budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Menjadors socials per a gent gran al Districte
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">5.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Menjadors al Districte
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">33.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Menjadors socials per a gent gran
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">50.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Menjadors socials per a gent gran al Districte
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">10.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Menjadors socials
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">23.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Gent gran pel Districte
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">10.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Menjadors socials per a gent
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">30.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Menjadors socials per a gent gran al Districte
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">150.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
        </div>
        <%= partial "pagination" %>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
