<%= partial "template_top" %>

<main class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center">
        <h1 class="heading1 page-title">Verifica la teva residència</h1>
      </div>
    </div>
    <div class="row">
      <div class="columns medium-7 large-5 medium-centered">
        <div class="card">
          <div class="card__content">
            <p class="heading5">Verificant les teves dades podràs:</p>
            <ul class="list-check">
              <li class="list-check__ok">
                <%= icon "check", class: "list-check__icon", aria_label: "Incluye", role: "img" %>
                Participar en debates</li>
              <li class="list-check__ok">
                <%= icon "check", class: "list-check__icon", aria_label: "Incluye", role: "img" %>
                Crear nuevas propuestas</li>
              <li class="list-check__ok">
                <%= icon "check", class: "list-check__icon", aria_label: "Incluye", role: "img" %>
                Apoyar propuestas*</li>
            </ul>
            <form class="register-form">
              <div>
                <label>Tipus de document
                  <select>
                    <option value="DNI">DNI</option>
                    <option value="Passaport">Passaport</option>
                    <option value="NIE">Targeta de residència/NIE</option>
                  </select>
                </label>
              </div>
              <div>
                <label>Número de document
                  <input type="text">
                </label>
              </div>
              <fieldset class="row">
                <legend class="columns">Data de naixement</legend>
                <div class="columns small-4">
                  <label><span class="show-for-sr">Dia</span>
                    <select>
                      <option>Dia</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </label>
                </div>
                <div class="columns small-4">
                  <label><span class="show-for-sr">Mes</span>
                    <select>
                      <option>Mes</option>
                      <option>Gener</option>
                      <option>Febrer</option>
                      <option>Març</option>
                    </select>
                  </label>
                </div>
                <div class="columns small-4">
                  <label><span class="show-for-sr">Any</span>
                    <select>
                      <option>Any</option>
                      <option>1910</option>
                      <option>1901</option>
                      <option>1902</option>
                    </select>
                  </label>
                </div>
              </fieldset>
              <div>
                <label>Codi postal
                  <input type="text">
                </label>
                <p class="help-text">Per verificar les teves dades has d'estar
                  empadronat al municipi de Barcelona</p>
              </div>
              <div>
                <label>
                  <input type="checkbox">
                  Estic d'acord amb <a href="/static" target="_blank">els termes
                  d'accés al padró</a>.
                </label>
              </div>
              <button type="submit" class="button expanded">
                Verificar la residència</button>
            </form>
            <p class="text-center">No vols verificar ara la residiència? <a href="/user-settings">
              Torna al teu compte</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
