<div class="wrapper">
  <div class="row">
    <div class="large-8 large-centered">
      <div class="static__message">
        <h1 class="heading1 page-title"><%= t(".title") %></h1>
        <p><%= t(".try_later") %></p>
        <div class="table-scroll">
          <table class="table-list">
          <% @info_hash.map do |key, val| %>
            <tr>
              <th><%= t(".#{key}") %></th>
              <td><%= val %></td>
            </tr>
          <% end %>
          </table>
        </div>
        <textarea id="referenceData" class="hide"><%= @plain_info %></textarea>
        <button class="button primary float-right"
          data-clipboard-copy="#referenceData"
          data-clipboard-copy-label="<%= t(".copied") %>"
          aria-label="<%= t(".copy_error_message_clarification") %>">
            <%= icon "clipboard", role: "img", "aria-hidden": true %>
            <%= t(".copy_to_clipboard") %>
        </button>
      </div>
    </div>
  </div>
</div>
