<div class="wrapper">
  <div class="row">
    <div class="large-8 large-centered">
    <div class="static__message">
      <h1 class="heading1 page-title"><%= t(".title") %></h1>
      <p><%= t(".try_later") %></p>
      <div rows="6" id="input-text">
        <div class="card--list__item">
          <div class="card--list__text">
            <strong class="margin-right-2"><%= t(".user_id") %></strong>
            <%= user = try(:current_user)&.id || t(".unknown") %>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <strong class="margin-right-2"><%= t(".date_and_time") %></strong>
            <%= date_and_time = l(Time.current, format: "%d/%m/%Y - %H:%M") %>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <strong class="margin-right-2"><%= t(".url") %></strong>
            <%= request_url = try(:request).env["HTTP_REFERER"] || t(".unknown") %>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <strong class="margin-right-2"><%= t(".reference") %></strong><%= @reference_id %>
          </div>
        </div>
        <input id="urlShareLink" type="text" class="hide" value="<%= "User Id: #{ user }, Date & Time: #{ date_and_time },URL: #{ request_url },Reference ID:#{ @reference_id }" %>">
        <div class="input-group-button">
          <button class="button primary float-right"
            data-clipboard-copy="#urlShareLink"
            data-clipboard-copy-label="<%= t(".copied") %>"
            aria-label="<%= t(".copy_error_message_clarification") %>">
              <%= icon "clipboard", role: "img", "aria-hidden": true %>
              <%= t(".copy_to_clipboard") %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
