<div class="wrapper">
  <div class="row">
    <div class="large-8 large-centered">
      <div class="static__message">
        <h1 class="heading1 page-title"><%= t(".title") %></h1>
        <p><%= t(".try_later") %></p>
        <div class="table-scroll">
          <table class="table-list">
            <tr>
              <th><%= t(".user", user_id: "") %></th>
              <td> <%= user_id = try(:current_user)&.id || t(".unknown") %></td>
            </tr>
            <tr>
              <th><%= t(".date_and_time", date_and_time:"") %></th>
              <td><%= date_and_time = l(Time.current, format: "%Y-%m-%dT%H:%M:%S.%6N") %></td>
            </tr>
            <tr>
              <th><%= t(".url", url: "") %></th>
              <td><%= request_url = try(:request).original_url %></td>
            </tr>
            <tr>
              <th><%= t(".request_method", method: "") %></th>
              <td><%= @method %></td>
            </tr>
            <tr>
              <th><%= t(".reference", reference_id: "") %></th>
              <td><%= @reference_id %></td>
            </tr>
          </table>
        </div>
        <div class="input-group">
          <textarea id="referenceData" class="hide"><%= @plain_info %></textarea>
          <div class="input-group-button">
            <button class="button primary float-right"
              data-clipboard-copy="#referenceData"
              data-clipboard-copy-label="<%= t(".copied") %>"
              aria-label="<%= t(".copy_error_message_clarification") %>">
                <%= icon "clipboard", role: "img", "aria-hidden": true %>
                <%= t(".copy_to_clipboard") %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
