<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <% if has_step? %>
      <div class="card__support__data--left">
        <div class="text-uppercase"><%= t("layouts.decidim.participatory_processes.participatory_process.active_step") %></div>
        <div class="text-ellipsis"><strong><%= step_title %></strong></div>
      </div>
    <% end %>
    <%= link_to resource_path, class: "card__button button button--sc secondary light small" do %>
      <% if step_cta_text.blank? %>
        <%= t("participatory_processes.promoted_process.take_part", scope: "layouts.decidim") %>
      <% else %>
        <%= step_cta_text %>
      <% end %>
    <% end %>
  </div>
</div>
