<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <% if has_step? %>
      <div class="card__support__data--left">
        <div><%= t("layouts.decidim.participatory_processes.participatory_process.active_step") %></div>
        <div class="text-ellipsis"><strong><%= step_title %></strong></div>
      </div>
    <% end %>
    <%= link_to(step_cta_path, class: "card__button button button--sc small") do %>
      <span class="show-for-sr"><%= step_cta_text %></span>
      <%= step_cta_text %>
    <% end %>
  </div>
</div>
