<% add_decidim_page_title(t("notifications", scope: "layouts.decidim.user_menu")) %>

<% content_for :aside do %>
  <h1 class="title-decorator"><%= t("notifications", scope: "layouts.decidim.user_menu") %></h1>

  <% if current_user.notifications.exists? %>
    <%= link_to read_all_notifications_path, class: "button button__sm md:button__lg button__secondary w-full md:w-fit", method: :delete, data: { disable: true, "notification-read-all": "" }, remote: true do %>
      <span><%= t("mark_all_as_read", scope: "layouts.decidim.notifications_dashboard") %></span>
      <%= icon "check-double-line", class: "fill-current" %>
    <% end %>
  <% end %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <section id="notifications" class="layout-main__section">
    <%= cell "decidim/notifications", current_user %>
  </section>
<% end %>
