<main class="wrapper" id="notifications">
  <div class="row">
    <div class="columns">
      <div class="title-action" >
        <h1 class="heading1 title-action__title"><%= t("title", scope: "layouts.decidim.notifications_dashboard") %></h1>
        <% if notifications.any? %>
          <%= link_to(
            t("mark_all_as_read", scope: "layouts.decidim.notifications_dashboard"),
            decidim.read_all_notifications_path,
            class: "button title-action__action hollow mark-all-as-read-button",
            method: :delete,
            data: { disable: true },
            remote: true
          ) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns mediumlarge-12 large-12">
      <div class="empty-notifications hide callout secondary">
        <p><%= t("no_notifications", scope: "layouts.decidim.notifications_dashboard") %></p>
      </div>
      <% if notifications.any? %>
        <section class="section" id="notifications-list">
          <div class="card card--list">
            <%= render notifications %>
          </div>
        </section>
        <%= decidim_paginate notifications %>
      <% end %>
    </div>
  </div>
</main>

<%= javascript_include_tag "decidim/notifications" %>
