<section id="features">
  <div class="row">
    <div class="columns">
      <h3><%= t(".title") %></h3>
    </div>
  </div>

  <%= form_for @permissions_form, url: url_for(action: :update), method: "put" do |form| %>
    <%= form.fields_for :permissions, form.object do |form| %>
      <% form.object.permissions.each do |action, permission| %>
        <%= form.fields_for(action, permission) do |form| %>
          <fieldset class="card <%=action %>-permission">
            <div class="card-divider"><%= t("#{feature.manifest.name}.actions.#{action}", scope: "decidim.features") %></div>
            <div class="card-section">
              <%= form.select :authorization_handler_name,
                authorizations.map { |authorization|
                  [authorization.description, authorization.key]
                }, include_blank: t(".everyone") %>
              <%= form.text_field :options %>
            </div>
          </fieldset>
        <% end %>
      <% end %>
    <% end %>
    <%= form.submit t(".submit") %>
  <% end %>
</section>
