<section id="features">
  <div class="row">
    <div class="columns">
      <h3><%= t(".title", scope: "decidim.admin") %></h3>
    </div>
  </div>

  <%= form_for @permissions_form, url: url_for(action: :update), method: "put" do |form| %>
    <%= form.fields_for :permissions, form.object do |form| %>
      <% form.object.permissions.each do |action, permission| %>
        <%= form.fields_for(action, permission) do |form| %>
          <fieldset>
            <legend><%= t(".permissions.#{action}") %></legend>
              <%= form.select :authorization_handler_name,
                authorizations.map { |authorization|
                  [t(authorization, scope: "decidim.authorization_handlers"), authorization]
                }, include_blank: t(".everyone") %>
              <%= form.text_field :options %>
          </fieldset>
        <% end %>
      <% end %>
    <% end %>
    <%= form.submit %>
  <% end %>
</section>
