<%= render partial: "header" %>
<%= render partial: "stepper", locals: {current_step: step}%>
<div class="row">
  <div class="columns large-6 medium-centered">
    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@form, url: wizard_path(:step_4), method: :put) do |form| %>

          <div class="field">
            <%= form.text_field :title, value: session[:proposal]['title']
            %>
          </div>

          <div class="field">
            <%= form.text_area :body, rows: 10, value: session[:proposal]['body']
            %>
          </div>

          <% if feature_settings.geocoding_enabled? %>
            <div class="field">
              <%= form.check_box :has_address %>
            </div>
            <div class="field" id="address_input">
              <%= form.text_field :address %>
            </div>
          <% end %>

          <% if @form.categories&.any? %>
            <div class="field">
              <%= form.categories_select :category_id, @form.categories, prompt: t(".select_a_category") %>
            </div>
          <% end %>

          <% if current_participatory_space.has_subscopes? %>
            <div class="field">
              <%= form.scopes_select :scope_id, prompt: I18n.t("decidim.scopes.global"), remote_path: decidim.scopes_search_path(root: current_participatory_space.scope) %>
            </div>
          <% end %>

          <% if current_user.user_groups.verified.any? %>
            <div class="field">
              <%= form.select :user_group_id, current_user.user_groups.verified.map{|g| [g.name, g.id]}, prompt: current_user.name %>
            </div>
          <% end %>

          <% if feature_settings.attachments_allowed? %>
            <fieldset>
              <legend><%= t('.attachment_legend') %></legend>
              <%= form.fields_for :attachment, @form.attachment do |form| %>
                <div class="field">
                  <%= form.text_field :title %>
                </div>

                <div class="field">
                  <%= form.upload :file, optional: false %>
                </div>
              <% end %>
            </fieldset>
          <% end %>

          <%= proposal_wizard_actions form %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "decidim/proposals/add_proposal" %>
