<%= render partial: "header" %>
<%= render partial: "stepper" %>
<div class="row">
  <div class="columns large-6 medium-centered">
    <div class="card">
      <% if translated_attribute(feature_settings.new_proposal_help_text).present? %>
        <%= render partial: "decidim/shared/announcement", locals: { announcement: feature_settings.new_proposal_help_text } %>
      <% end %>

      <div class="card__content">
        <%= decidim_form_for(@form, url: next_wizard_path, method: :put, html: { class: 'form new_initiative_previous_form' }) do |form| %>

          <div class="field">
            <%= form.text_field :title %>
          </div>

          <div class="field">
            <%= form.text_area :body, rows: 10 %>
          </div>
          <%= proposal_wizard_actions form %>
        <% end %>
      </div>
    </div>
  </div>
</div>
