<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <%= render partial: "wizard_header", locals: { similar_resources_count: similar_emendations.size } %>

  <div class="space-y-8 my-10">
    <% similar_emendations.each do |emendation| %>
      <%= card_for emendation %>
    <% end %>
  </div>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= link_to edit_draft_amend_path(amendment), class: "button button__sm md:button__lg button__secondary ml-auto" do %>
      <span><%= t("continue", scope: "decidim.amendments.compare_draft") %></span>
      <%= icon "arrow-right-line" %>
    <% end %>
  </div>

<% end %>
