<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <%= render partial: "wizard_header" %>

  <%= decidim_form_for(@form, url: amends_path, method: :post) do |form| %>
    <%= form.hidden_field :amendable_gid %>

    <div class="form__wrapper">
      <%= render partial: "edit_form_fields", locals: { form:, original: :amendable } %>
    </div>

    <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
      <%= link_to wizard_aside_back_url(amendable), class: "button button__sm md:button__lg button__text-secondary" do %>
        <%= icon "arrow-left-line" %>
        <%= t("back", scope: "decidim.wizard_step_form.wizard_aside") %>
      <% end %>
      <button type="submit" class="button button__sm md:button__lg button__secondary">
        <span><%= t("send", scope: "decidim.amendments.new") %></span>
        <%= icon "arrow-right-line" %>
      </button>
    </div>
  <% end %>

<% end %>
