<div class="wrapper">
  <div class="row">
    <div class="columns">
      <div class="m-bottom">
        <%= link_to :back do %>
          <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
          <%= t(".back") %>
        <% end %>
      </div>
      <div class="section">
        <p>
          <%= t(".help_text", model_name: emendation.amendable.model_name.human.downcase) %>
          <strong>
            <%= emendation.amendable.title %>
          </strong>
        </p>
      </div>
    </div>
    <div class="columns mediumlarge-6">
      <%= cell("decidim/diff", emendation.versions.last) %>
    </div>
    <div class="columns mediumlarge-6">
      <h2 class="section-heading">
        <%= t(".heading") %>
      </h2>

      <div class="card">
        <div class="card__content">
          <%= decidim_form_for(@form, url: accept_amend_path(emendation.amendment), method: :patch) do |form| %>

            <%= render partial: "edit_form_fields", locals: { form: form, original: :emendation } %>

            <div class="actions">
              <%= form.submit t(".send"), class: "button expanded mt-s mb-none", data: { disable: true } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
