<% add_decidim_page_title(t("titles.panel", scope: "decidim.admin")) %>
<% add_decidim_page_title(current_organization.name) %>
<!doctype html>
<html class="no-js" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= decidim_page_title %></title>
    <%= render partial: "layouts/decidim/admin/header" %>
  </head>
  <body>
    <%= render partial: "layouts/decidim/timeout_modal" %>
    <main class="main">
      <div class="layout-wrapper">
      <div class="layout-nav">
        <a href="#menu" class="menu-trigger"><%= icon "menu" %></a>
        <%= link_to decidim.root_path, class: "logo", target: "_blank" do %>
          <% if current_organization.logo.present? %>
            <%= image_tag current_organization.attached_uploader(:logo).path, alt: current_organization.name %>
          <% else %>
            <p>logo decidim</p>
          <% end %>
        <% end %>
        <%= main_menu.render %>
      </div>
      <div class="layout-content">
        <%= render partial: "layouts/decidim/admin/title_bar" %>
        <%= render partial: "layouts/decidim/admin/callouts_full" %>
        <div class="container">
          <%= yield :secondary_nav if content_for? :secondary_nav %>
          <%= yield :sidebar_menu_nav if content_for? :sidebar_menu_nav %>
          <%= yield %>
        </div>
      </div>
      </div><!--/.layout-wrapper-->
    </main>
    <%= render partial: "decidim/shared/confirm_modal" %>
    <%= render partial: "layouts/decidim/admin/js_configuration" %>
    <%= render partial: "layouts/decidim/cors" if Decidim.cors_enabled %>

    <%= snippets.display(:foot) %>
  </body>
</html>
