<% add_decidim_page_title(t("titles.panel", scope: "decidim.admin")) %>
<% add_decidim_page_title(current_organization.name) %>
<!doctype html>
<html class="no-js" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= decidim_page_title %></title>
    <%= render partial: "layouts/decidim/admin/header" %>
  </head>
  <body>
    <%= render partial: "layouts/decidim/timeout_modal" %>
    <%= render partial: "layouts/decidim/admin/template_top" %>
    <div class="layout-nav">
      <%= main_menu.render %>
      <%= yield :secondary_nav if content_for? :secondary_nav %>
      <%= yield :sidebar_menu_nav if content_for? :sidebar_menu_nav %>
    </div>
    <div class="layout-content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render partial: "layouts/decidim/admin/template_bottom" %>
    <%= render partial: "decidim/shared/confirm_modal" %>
    <%= render partial: "layouts/decidim/admin/js_configuration" %>
    <%= render partial: "layouts/decidim/cors" if Decidim.cors_enabled %>

    <%= snippets.display(:foot) %>
  </body>
</html>
