
<div class="sidebar-menu__container">
  <div class="sidebar-menu">
    <div id="admin-sidebar-menu-settings">
      <div class="hidden md:block">
        <%= sidebar_menu(secondary_root_menu).render %>
      </div>
        <button class="button button__sm button__secondary w-16 mb-3" data-component="dropdown" data-target="dropdown-menu-sidebar">
          <%= t("menu", scope: "decidim.admin.titles") %>
        </button>

        <ul id="dropdown-menu-sidebar">
          <%= sidebar_menu(secondary_root_menu).render %>
        </ul>
    </div>
  </div>

  <div class="item_show__wrapper">
    <%= admin_tabs(tab_menu_name).render if defined?(has_tab_menu?) && has_tab_menu? %>
    <%= yield %>
  </div>
</div>
