<div class="title">
  <h1>
    <%= link_to root_path do %>
      <%= title %>
    <% end %>
  </h1>
</div>

<nav class="main-menu">
  <%= active_link_to t("menu.dashboard", scope: "decidim.admin"), root_path, active: :exact %>
  <% if can? :manage, current_organization %>
    <%= active_link_to t("menu.organization", scope: "decidim.admin"), organization_path, active: :inclusive %>
  <% end %>
  <%= active_link_to t("menu.participatory_processes", scope: "decidim.admin"), participatory_processes_path, active: :inclusive %>
  <%= active_link_to t("menu.static_pages", scope: "decidim.admin"), static_pages_path, active: :inclusive %>
</nav>

<%= render partial: 'layouts/decidim/admin/login_items' %>
