<div class="title-bar">
  <a href="#menu" class="menu-trigger"><%= icon "menu" %></a>
  <%= link_to root_path, class: "logo" do %>
    <% if current_organization.logo.present? %>
      <%= image_tag current_organization.logo.url, alt: title %>
    <% else %>
      <%= title %>
    <% end %>
  <% end %>
  <div class="user-login">
    <ul class="dropdown menu" data-dropdown-menu data-close-on-click-inside="false">
      <li class="is-dropdown-submenu-parent">
        <a href="#"><%= current_user.email %></a>
        <ul class="menu is-dropdown-submenu">
          <li><%= link_to('Logout', decidim.destroy_user_session_path, method: :delete) %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
