<div class="title-bar">
  <span class="font-semibold font-xs">
    <%= current_organization.name %>
  </span>
  <div class="tool-bar">
    <%= link_to decidim.root_path, class: "button__site", target: "_blank", data: { "external-link": false } do %>
      <%= icon "eye-line" %>
      <%= t("see_site", scope: "decidim.admin.menu") %>
    <% end %>
    <% if available_locales.length > 1 %>
      <div class="topbar__dropmenu language-choose relative">
        <%= button_tag  id: "admin-dropdown-menu-trigger", data: { component: 'dropdown', target: 'admin-dropdown-menu-language' }, class: 'dropdown__trigger' do %>
            <%= t("name", scope: "locale") %>
        <% end %>

        <div id="admin-dropdown-menu-language">
          <ul class="dropdown dropdown__bottom">
            <% (available_locales - [I18n.locale.to_s]).each do |locale| %>
              <li class="dropdown__item">
                <%= link_to(locale_name(locale), decidim.locale_path(locale: locale), method: :post, tabindex: "-1") %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="user-login relative">
      <%= button_tag current_user.email, id: "admin-dropdown-menu-login-trigger", data: { component: 'dropdown', target: 'admin-dropdown-menu-login' }, name: current_user.email , class: 'dropdown__trigger' %>
      <div id="admin-dropdown-menu-login">
        <ul class="dropdown dropdown__bottom">
          <li class="dropdown__item">
            <%= link_to(t("layouts.decidim.user_menu.sign_out"), decidim.destroy_user_session_path, method: :delete, tabindex: "-1") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
