<div class="title-bar">
  <span class="font-semibold font-xs">
    <%= current_organization.name %>
  </span>
  <div class="tool-bar">
    <%= link_to decidim.root_path, class: "button__site", target: "_blank", data: { "external-link": false } do %>
      <svg viewBox="0 0 24 24" id="ri-eye-line">
        <path fill="none" d="M0 0h24v24H0z"/>
        <path d="M12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427 9-10.819 9-5.392 0-9.878-3.88-10.819-9C2.121 6.88 6.608 3 12 3zm0 16a9.005 9.005 0 0 0 8.777-7 9.005 9.005 0 0 0-17.554 0A9.005 9.005 0 0 0 12 19zm0-2.5a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9zm0-2a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
      </svg>
      <%= t("see_site", scope: "decidim.admin.menu") %>
    <% end %>
    <% if available_locales.length > 1 %>
      <div class="topbar__dropmenu language-choose relative">
        <%= button_tag  id: "admin-dropdown-menu-trigger", data: { component: 'dropdown', target: 'admin-dropdown-menu-language' }, class: 'dropdown__trigger' do %>
            <%= t("name", scope: "locale") %>
        <% end %>

        <div id="admin-dropdown-menu-language">
          <ul class="dropdown dropdown__bottom">
            <% (available_locales - [I18n.locale.to_s]).each do |locale| %>
              <li class="dropdown__item">
                <%= link_to(locale_name(locale), decidim.locale_path(locale: locale), method: :post, tabindex: "-1") %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="user-login relative">
      <%= button_tag current_user.email, id: "admin-dropdown-menu-login-trigger", data: { component: 'dropdown', target: 'admin-dropdown-menu-login' }, name: current_user.email , class: 'dropdown__trigger' %>
      <div id="admin-dropdown-menu-login">
        <ul class="dropdown dropdown__bottom">
          <li class="dropdown__item">
            <%= link_to(t("layouts.decidim.user_menu.sign_out"), decidim.destroy_user_session_path, method: :delete, tabindex: "-1") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
