<% content_for :breadcrumb_context_menu do %>
  <div class="process-title-content-breadcrumb-container-right">
    <div class="inline-block relative">
      <%= button_tag id: "global-moderations-dropdown-menu-trigger", data: { component: 'dropdown', target: 'global-moderations-dropdown-menu-settings' }, class: 'dropdown__trigger button button__transparent' do %>
        <%= icon "more-line" %>
      <% end %>
      <div id="global-moderations-dropdown-menu-settings" class="process-title-content-dropdown">
        <%= sidebar_menu(:admin_global_moderation_menu).render %>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
