<% content_for :title do %>
  <h2><%= link_to translated_attribute(participatory_process.title), decidim_admin.participatory_process_path(participatory_process) %></h2>
  <h3 class="subheader"><%= translated_attribute(participatory_process.subtitle) %></h3>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <hr />
  <div class="row">
    <div class="medium-3 columns">
      <ul class="tabs vertical" id="example-vert-tabs">
        <li class="tabs-title is-active">
          <%= aria_selected_link_to t("info", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin.participatory_process_path(participatory_process) %>
        </li>
        <% if can? :read, Decidim::ParticipatoryProcessStep %>
          <li class="tabs-title">
            <%= aria_selected_link_to t("steps", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin.participatory_process_steps_path(participatory_process) %>
          </li>
        <% end %>
        <% if can? :read, Decidim::Component %>
          <li class="tabs-title">
            <%= aria_selected_link_to t("components", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin.participatory_process_components_path(participatory_process) %>
          </li>
        <% end %>
        <% if can? :read, Decidim::Admin::ParticipatoryProcessUserRole %>
          <li class="tabs-title">
            <%= aria_selected_link_to t("process_admins", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin.participatory_process_user_roles_path(participatory_process) %>
          </li>
        <% end %>
        <% if can? :read, Decidim::ParticipatoryProcessAttachment %>
          <li class="tabs-title">
            <%= aria_selected_link_to t("attachments", scope: "decidim.admin.menu.participatory_processes_submenu"), participatory_process_attachments_path(participatory_process) %>
          </li>
        <% end %>
        <% if can? :update, participatory_process %>
          <li class="tabs-title">
            <%= aria_selected_link_to t("settings", scope: "decidim.admin.menu.participatory_processes_submenu"), edit_participatory_process_path(participatory_process) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="medium-9 columns">
      <div class="tabs-content vertical">
        <div class="tabs-panel is-active">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>
