<% content_for :secondary_nav do %>
  <div class="secondary-nav secondary-nav--subnav">
    <ul>
      <% if can? :update, participatory_process %>
        <li <% if is_active_link?(decidim_admin.edit_participatory_process_path(participatory_process)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("info", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin.edit_participatory_process_path(participatory_process) %>
        </li>
      <% end %>
      <% if can? :read, Decidim::ParticipatoryProcessStep %>
        <li <% if is_active_link?(decidim_admin.participatory_process_steps_path(participatory_process)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("steps", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin.participatory_process_steps_path(participatory_process) %>
        </li>
      <% end %>
      <% if can? :read, Decidim::Feature %>
        <li <% if is_active_link?(decidim_admin.participatory_process_features_path(participatory_process)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("features", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin.participatory_process_features_path(participatory_process) %>
          <% if is_active_link?(decidim_admin.participatory_process_features_path(participatory_process)) %>
            <ul>
              <% participatory_process.features.each do |feature| %>
                <% if feature.manifest.admin_engine %>
                  <li <% if is_active_link?(decidim_admin.manage_feature_path(participatory_process, feature)) %> class="is-active" <% end %>>
                    <%= link_to decidim_admin.manage_feature_path(participatory_process, feature) do %>
                      <%= translated_attribute feature.name %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
      <% if can? :read, Decidim::Category %>
        <li <% if is_active_link?(decidim_admin.participatory_process_categories_path(participatory_process)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("categories", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin.participatory_process_categories_path(participatory_process) %>
        </li>
      <% end %>
      <% if can? :read, Decidim::Attachment %>
        <li <% if is_active_link?(decidim_admin.participatory_process_attachments_path(participatory_process.id)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("attachments", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin.participatory_process_attachments_path(participatory_process.id) %>
        </li>
      <% end %>
      <% if can? :read, Decidim::Admin::ParticipatoryProcessUserRole %>
        <li <% if is_active_link?(decidim_admin.participatory_process_user_roles_path(participatory_process)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("process_admins", scope: "decidim.admin.menu.participatory_processes_submenu"), decidim_admin.participatory_process_user_roles_path(participatory_process) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= translated_attribute(participatory_process.title) %>
    </div>
  </div>
  <%= yield %>
<% end %>
