<% content_for :secondary_nav do %>
  <div class="secondary-nav">
    <div class="secondary-nav__title">
      <%= t ".title" %>
    </div>
    <ul>
      <li <% if is_active_link?(decidim_admin.edit_organization_path) %> class="is-active" <% end %>>
        <%= link_to t("menu.configuration", scope: "decidim.admin"), decidim_admin.edit_organization_path %>
      </li>
      <li <% if is_active_link?(decidim_admin.edit_organization_appearance_path) %> class="is-active" <% end %>>
        <%= link_to t("menu.appearance", scope: "decidim.admin"), decidim_admin.edit_organization_appearance_path %>
      </li>
      <li <% if is_active_link?(decidim_admin.scopes_path) %> class="is-active" <% end %>>
        <%= link_to t("menu.scopes", scope: "decidim.admin"), decidim_admin.scopes_path %>
      </li>
      <li <% if is_active_link?(decidim_admin.scope_types_path) %> class="is-active" <% end %>>
        <%= link_to t("menu.scope_types", scope: "decidim.admin"), decidim_admin.scope_types_path %>
      </li>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
