<% content_for :breadcrumb_context_menu do %>
  <%= button_tag id: "user-dropdown-menu-trigger", data: { component: 'dropdown', target: 'user-dropdown-menu-settings' }, class: 'dropdown__trigger button button__transparent' do %>
        <%= icon "more-line" %>
      <% end %>
  <div id="user-dropdown-menu-settings" class="process-title-content-dropdown">
    <%= sidebar_menu(:admin_user_menu).render %>
  </div>
<% end %>
<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
