<% content_for :secondary_nav do %>
  <div class="secondary-nav">
    <div class="secondary-nav__title">
      <%= t ".title" %>
    </div>
    <ul>
      <% if allowed_to? :read, :admin_user %>
        <li <% if is_active_link?(decidim_admin.users_path) %> class="is-active" <% end %>>
          <%= link_to t("menu.admins", scope: "decidim.admin"), decidim_admin.users_path %>
        </li>
      <% end %>
      <% if current_organization.user_groups_enabled? && allowed_to?(:index, :user_group) %>
        <li <% if is_active_link?(decidim_admin.user_groups_path) %> class="is-active" <% end %>>
          <%= link_to t("menu.user_groups", scope: "decidim.admin"), decidim_admin.user_groups_path %>
        </li>
      <% end %>
      <% if allowed_to? :index, :officialization %>
        <li <% if is_active_link?(decidim_admin.officializations_path) %> class="is-active" <% end %>>
          <%= link_to t("menu.participants", scope: "decidim.admin"), decidim_admin.officializations_path %>
        </li>
      <% end %>
      <% if allowed_to? :index, :impersonatable_user %>
        <li <% if is_active_link?(decidim_admin.impersonatable_users_path) %> class="is-active" <% end %>>
          <%= link_to t("menu.impersonations", scope: "decidim.admin"), decidim_admin.impersonatable_users_path %>
          <ul>
            <li <% if is_active_link?(decidim_admin.conflicts_path) %> class="is-active" <% end %>>
              <%= %>
              <%= link_to link_to t("title", scope: "decidim.admin.conflicts"), decidim_admin.conflicts_path %>
            </li>
          </ul>
        </li>
      <% end %>
      <% if allowed_to? :index, :moderate_users %>
        <li <% if is_active_link?(decidim_admin.moderated_users_path) %> class="is-active" <% end %>>
          <%= link_to t("menu.reported_users", scope: "decidim.admin"), decidim_admin.moderated_users_path %>
        </li>
      <% end %>
      <li <% if is_active_link?(decidim_admin.authorization_workflows_path) %> class="is-active" <% end %>>
        <%= link_to t("menu.authorization_workflows", scope: "decidim.admin"), decidim_admin.authorization_workflows_path %>
        <ul>
          <% Decidim::Verifications.admin_workflows.each do |manifest| %>
            <% next unless current_organization.available_authorizations.include?(manifest.name.to_s) %>
            <% workflow = Decidim::Verifications::Adapter.new(manifest) %>

            <li <% if is_active_link?(workflow.admin_root_path) %> class="is-active" <% end %>>
              <%= link_to workflow.fullname, workflow.admin_root_path %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
