<div class="tech-info">
  <a href="#" onclick="event.preventDefault();" data-open="<%= modal_name %>"><%= t "decidim.fingerprint.check" %></a>
</div>

<div id="<%= modal_name %>" class="reveal fingerprint-dialog" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle"><%= t "decidim.fingerprint.title" %></h2>
  <p><%= t "decidim.fingerprint.explanation" %></p>
  <p>
    <strong><%= t "decidim.fingerprint.value" %>:</strong>
    <code class="fingerprint-value"><%= decidim_html_escape model.fingerprint.value %></code>
  </p>
  <p>
    <strong><%= t "decidim.fingerprint.source" %>:</strong>
    <code class="fingerprint-source"><%= decidim_html_escape model.fingerprint.source %></code>
  </p>

  <p><%= t "decidim.fingerprint.replicate_help", online_calculator_link: link_to(t("decidim.fingerprint.online_calculator_name"), "http://www.md5calc.com/sha256", target: "_blank", rel: "noopener") %>

  <button class="close-button" data-close type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
