<div class="response-questionnaire__multiple-matrix">
  <table>
    <thead>
      <tr>
        <td></td>
        <% response.question.response_options.each_with_index do |response_option, idx| %>
          <th><%= translated_attribute(response_option.body) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% response.question.matrix_rows.by_position.each_with_index do |row, row_idx| %>
        <tr class="js-check-box-collection">
          <td><%= translated_attribute row.body %></td>
          <% response.question.response_options.each_with_index do |response_option, idx| %>
            <% choice = response.selected_choices.find { |choice| choice.response_option_id == response_option.id && choice.matrix_row_id == row.id } %>
            <% choice_id = "#{field_id}_matrix_row_#{row_idx}_choice_#{idx}" %>
            <td>
              <div class="js-collection-input">
                <%= check_box_tag "questionnaire[responses][#{response_idx}][choices][][body]",
                                  translated_attribute(response_option.body),
                                  choice.present?,
                                  "aria-label": translated_attribute(response_option.body),
                                  id: "#{choice_id}_body", disabled: %>
                <%= hidden_field_tag "questionnaire[responses][#{response_idx}][choices][][response_option_id]",
                                     response_option.id,
                                     id: "#{choice_id}_response_option",
                                     disabled: true %>
                <%= hidden_field_tag "questionnaire[responses][#{response_idx}][choices][][matrix_row_id]",
                                     row.id,
                                     id: "#{choice_id}_matrix_row",
                                     disabled: true %>
                <% if response_option.free_text %>
                  <%= text_field_tag "questionnaire[responses][#{response_idx}][choices][][custom_body]",
                                     choice.try(:custom_body),
                                     id: "#{choice_id}_custom_body",
                                     disabled: true,
                                     maxlength: %>
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
