<% add_decidim_page_title(t("devise.confirmations.new.resend_confirmation_instructions")) %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="flex justify-center">
    <h1 class="h1 decorator my-12"><%= t("devise.confirmations.new.resend_confirmation_instructions") %></h1>
  </div>

  <%= decidim_form_for(resource, namespace: "confirmation", as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

    <div class="login__form">
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), autocomplete: "email", placeholder: "hi@email.com" %>
    </div>

    <div class="login__form-block">
      <button type="submit" class="button button__lg button__secondary">
        <%= t("devise.confirmations.new.resend_confirmation_instructions") %>
        <%= icon "arrow-right-line", class: "fill-current" %>
      </button>
    </div>
  <% end %>

  <div class="login__links">
    <%= render "decidim/devise/shared/redesigned_links" %>
  </div>

<% end %>
