<%= action_authorized_button_to "vote",
      budget_order_line_item_path(model.budget, project_id: model, show_only_added: options[:show_only_added]),
      method: vote_button_method,
      remote: true,
      class: "button w-full #{vote_button_class} #{resource_added? ? 'button__secondary budget-list__data--added' : 'button__transparent-secondary'} #{project_item? ? 'button__lg' : 'button__sm'} #{vote_button_disabled? ? '' : 'budget-list__action'}",
      id: "project-vote-button-#{model.id}",
      data: {
        add: !resource_added?,
        disable: true,
        budget: model.budget_amount,
        allocation: resource_allocation,
        "redirect-url": resource_path
      }.merge(modal_params),
      disabled: vote_button_disabled?,
      title: vote_button_label do %>
  <% if !resource_added? %>
    <span><%= t("add", scope: "decidim.budgets.projects.project_budget_button") %></span>
    <%= icon "add-fill", class: "inline-block" %>

  <% else %>
    <span><%= t("added", scope: "decidim.budgets.projects.project_budget_button") %></span>
    <%= icon "checkbox-circle-line", class: "inline-block" %>
  <% end %>
<% end %>
