<% progress ||= 0 %>
<% total ||= 100 %>
<% percent = (progress.to_f/total) * 100 %>
<% vertical ||= false %>
<div class="card__progress<%= (vertical) ? ' card__progress--vertical' : '' %>">
  <div class="card__progress__title">
    <span class="card__progress__number"><%= progress %></span>/<%= total %>
    <span class="card__progress__text">Apoyos</span>
  </div>
  <div class="card__progress__bar">
    <div class="card__progress__bar--complete" style="width:<%= percent %>%;"></div>
    <div class="card__progress__bar--incomplete" style="width:calc(100% - <%= percent %>%);"></div>
  </div>
  <div class="card__progress__subtitle">
    Proposta molt popular <%= partial "help" %>
  </div>
</div>
