<section id="hero-<%= model.id %>" class="hero__container" style="--hero-image:url('<%= background_image %>')" data-process-hero>
  <div class="hero">
    <h1 class="hero__title">
      <%= translated_description %>
    </h1>

    <%= link_to button_url, class: "button button__lg md:button__xl button__secondary" do %>
      <span><%= translated_button_text %></span>
      <%= icon "login-box-line" %>
    <% end %>
  </div>
</section>
