<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column hashtags__container">
        <%= form.translated :text_field, :title, autofocus: true, class: "js-hashtags", hashtaggable: true, aria: { label: :title } %>
      </div>

      <div class="row column">
        <%= form.geocoding_field :address, help_text: t(".address_help") %>
      </div>

      <div class="row column">
        <%= form.translated :text_area, :location, help_text: t(".location_help") %>
      </div>

      <div class="row column">
        <%= form.translated :text_area, :location_hints, help_text: t(".location_hints_help") %>
      </div>

      <div class="row column user-fields--polling_station_president-picker">
        <% prompt_options = { url: available_polling_officers_voting_url(current_voting), placeholder: t(".select_president"), help_text: t(".polling_station_president_help") } %>
        <%= form.autocomplete_select(:polling_station_president_id, form.object.polling_station_president.presence, { multiple: false }, prompt_options) do |polling_officer|
          { value: polling_officer.id, label: "#{polling_officer.name} (@#{polling_officer.nickname})" }
        end %>
      </div>

      <div class="row column user-fields--polling_station_manager-picker">
        <%= render partial: "decidim/votings/votings/polling_officers_picker", locals: { form:, current_component: current_voting, field: :polling_station_managers } %>
      </div>
    </div>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_votings_admin" %>
