<div class="row videoconference jitsi">
  <div class="columns large-12">
    <div class="section">
      <h4 class="section-heading"><%= t("title", scope: "decidim.meetings.videoconference") %></h4>
        <% if visible? %>
          <p class="help"><%= t("explanation", scope: "decidim.meetings.videoconference", organization: organization) %></p>

          <button id="join-videoconference" class="button">
            <%= t("join", scope: "decidim.meetings.videoconference") %>
          </button>

          <%= content_tag :div, nil, id: "jitsi-embedded-meeting", data: {
            room_name: room_name,
            domain: domain,
            api_url: api_url,
            user_email: current_user&.email,
            user_display_name: current_user&.name,
            user_role: user_role,
            attendance_url: attendance_url
          } %>

          <div id="videoconference-closed-message" class="hide callout warning">
            <p><%= t("closed", scope: "decidim.meetings.videoconference") %></p>
          </div>
        <% else %>
          <div class="callout warning">
            <p><%= t("unavailable", scope: "decidim.meetings.videoconference") %></p>
          </div>
        <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "decidim/meetings/videoconference" %>
