<div class="card" id="committee_members">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".title" %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= t ".invite_to_committee_help" %>
    </div>

    <div class="row column">
      <div class="committee_link" id="committee_link">
        <%= decidim_initiatives.new_initiative_committee_request_url(current_initiative) %>
      </div>
      <%= icon_link_to "clipboard", "#", t(".invite_to_committee_help"), class: "card--list__data__icon invite-users-link" %>
    </div>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= t "user", scope: "activemodel.attributes.initiatives_committee_member" %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% if current_initiative.committee_members.empty? %>
          <tr>
            <td><%= t ".no_members_yet" %></td>
            <td></td>
          </tr>
          <% end %>

          <% current_initiative.committee_members.each do |request| %>
            <tr data-id="<%= request.id %>">
              <td>
                <%= link_to request.user.name, "mailto:#{request.user.email}" %>
              </td>
              <td class="table-list__actions">
                <% if allowed_to? :approve, :initiative_committee_member, request: request %>
                  <%= icon_link_to "check",
                                   approve_initiative_committee_request_path(current_initiative, request),
                                   t(".approve"),
                                   class: "action-icon--check" %>
                <% end %>

                <% if allowed_to? :revoke, :initiative_committee_member, request: request %>
                  <%= icon_link_to "circle-x",
                                   revoke_initiative_committee_request_path(current_initiative, request),
                                   t(".revoke"),
                                   class: "action-icon--remove",
                                   method: :delete,
                                   data: { confirm: t(".confirm_revoke") } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= javascript_include_tag "decidim/initiatives/admin/invite_users.js" %>
