<% external_url = form.object %>
<div class="card feedback-recipient">
  <div class="card-divider feedback-recipient-divider">
    <h2 class="card-title">
      <span><%= ".external_url" %></span>

      <button class="button small alert hollow remove-feedback-recipient button--title">
        <%= ".remove" %>
      </button>
    </h2>
  </div>

  <div class="card-section">
    <div class="grid-x">
      <div class="cell auto">
        <%= form.text_field :url %>
      </div>
    </div>
    <%= form.hidden_field :id %>
    <%= form.hidden_field :position, value: external_url.position || 0 %>
    <%= form.hidden_field :deleted %>
  </div>
</div>
