<% add_decidim_meta_tags({ escription: translated_attribute(election.description), title: present(election).title }) %>

<!doctype html>
<html class="no-js" lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="author" content="">
  <meta name="copyright" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= decidim_page_title %></title>
  <%= render "layouts/decidim/head" %>
</head>
<body>
<div class="layout-container">
  <header>
    <div id="sticky-header-container" data-sticky-header>
      <%= render partial: "layouts/decidim/election_votes_header" %>
    </div>
  </header>
  <main class="layout-1col cols-6">
    <div class="py-12 space-y-12">
      <%= yield %>
    </div>
  </main>
</div>

<%= render partial: "layouts/decidim/decidim_javascript" %>
</body>
</html>
