<%= append_javascript_pack_tag "decidim_votings" %>
<%= append_stylesheet_pack_tag "decidim_votings" %>

<%= render partial: "layouts/decidim/header/follow_space_menu_bar_button", locals: { participatory_space: current_participatory_space } %>

<%= render "layouts/decidim/application" do %>
  <%= cell "decidim/translation_bar", current_organization %>

  <main>
    <%= yield %>
  </main>
<% end %>

<% provide :meta_image_url, current_participatory_space.attached_uploader(:banner_image).path %>
