<div class="item_show__header">
  <h2 class="item_show__header-title">
    <div>
      <%= link_to translated_attribute(election.title), elections_path %> &gt;
      <%= link_to translated_attribute(question.title), election_questions_path(election) %> &gt;
      <%= t(".title") %>
    </div>
  </h2>
</div>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for([election, question, @form], html: { class: "form form-defaults new_answer" }) do |f| %>
      <%= render partial: "form", object: f %>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t(".create"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
