<% metadata_items.each do |item| %>
  <div class="<%= prefixed_class("metadata-item") %>">
    <div class="<%= prefixed_class("metadata-item-title") %>">
      <%= icon item[:icon] %>
      <span><%= item[:title] %></span>
    </div>
    <% if item[:text].present? %>
      <%= content_tag :span, item[:text] %>
    <% elsif item[:partial].present? %>
      <%= render item[:partial] %>
    <% end %>
  </div>
<% end %>
