<% add_decidim_meta_tags({
                           title: present(meeting).title,
                           description: present(meeting).description,
                           url: meeting_url(meeting.id)
                         }) %>

<%= link_to meeting_polls_answers_path(meeting), class: "button button__sm md:button__lg button__text-secondary" do %>
  <%= icon "arrow-left-line" %>
  <%= t("back_to_meeting", scope: "decidim.meetings.polls.answers.index_admin") %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left">
      <%= t("title", scope: "decidim.meetings.polls.answers.index_admin") %>
    </h1>
  </div>

  <div class="mb-24" id="admin-meeting-poll" data-decidim-admin-meetings-poll='{"questionsUrl":"<%= meeting_polls_questions_path(meeting, admin: true) %>"}'>
    <%= render partial: "decidim/meetings/polls/questions/index_admin", locals: { open_question: nil } %>
  </div>
<% end %>

<%= append_javascript_pack_tag "decidim_meetings" %>
<%= append_javascript_pack_tag "decidim_forms" %>
