<h3><%= t ".title", title: proposal.title %></h3>

<%=  decidim_form_for(@form, url: proposal_proposal_answer_path(proposal, @form)) do |f| %>
  <div class="field">
    <%= f.collection_radio_buttons :state, [["accepted", t('.accepted')], ["rejected", t('.rejected')]], :first, :last, prompt: true %>
  </div>

  <div class="field">
    <%= f.translated :text_area, :answer, autofocus: true, rows: 15 %>
  </div>

  <div class="actions">
    <%= f.submit t(".answer_proposal") %>
  </div>
<% end %>
