<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.check_box :registrations_enabled %>
      </div>

      <div class="row column">
        <%= form.check_box :registration_form_enabled %>
      </div>

      <div class="row column">
        <p><%= t(".registrations_count", count: meeting.registrations.count) %></p>
        <%= form.number_field :available_slots, help_text: t(".available_slots_help") %>
      </div>

      <div class="row column">
        <%= form.number_field :reserved_slots, help_text: t(".reserved_slots_help") %>
      </div>

      <div class="row column">
        <%= form.check_box :customize_registration_email %>
      </div>

      <div id="customize_registration_email-div" class="row column hidden">
        <%= form.translated :editor, :registration_email_custom_content, lines: 10, help_text: t(".registration_email_help") %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :registration_terms, toolbar: :content, aria: { label: :registration_terms } %>
      </div>
    </div>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_meetings_admin" %>
