<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
      <%= link_to t(".invites"), meeting_registrations_invites_path(meeting), class: "button tiny button--title #{'disabled' unless allowed_to? :read_invites, :meeting, meeting: meeting}" %>
      <% if allowed_to? :export_registrations, :meeting, meeting: meeting %>
        <span class="exports dropdown tiny button button--simple button--title" data-toggle="export-dropdown"><%= t "actions.export", scope: "decidim.admin" %></span>
        <div class="dropdown-pane" id="export-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
          <ul class="vertical menu add-components">
            <% %w{CSV JSON Excel}.each do |format| %>
              <li class="exports--format--<%= format.downcase %> exports--registrations"><%= link_to t("decidim.admin.exports.export_as", name: t("decidim.#{current_component.manifest.name}.admin.exports.registrations"), export_format: format), export_meeting_registrations_path(meeting_id: meeting, format: format) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= link_to t(".registration_form"), edit_meeting_registrations_form_path(meeting_id: meeting.id), class: "button tiny button--title" %>
    </h2>
  </div>

  <div class="card-section">
    <div class="callout alert">
      <%= t(".recommendation_message") %>
    </div>

    <div class="row column">
      <%= form.check_box :registrations_enabled %>
    </div>

    <div class="row column">
      <%= form.check_box :registration_form_enabled %>
    </div>

    <div class="row column">
      <p><%= t(".registrations_count", count: meeting.registrations.count) %></p>
      <%= form.number_field :available_slots %>
      <p class="help-text"><%= t(".available_slots_help") %></p>
    </div>

    <div class="row column">
      <%= form.number_field :reserved_slots %>
      <p class="help-text"><%= t(".reserved_slots_help") %></p>
    </div>

    <div class="row column">
      <%= form.check_box :customize_registration_email, :"data-toggle" => "customize_registration_email-div" %>
    </div>

    <div id="customize_registration_email-div" data-toggler=".hide" class="row column <%= @form.customize_registration_email? ? nil : "hide" %>">
      <%= form.translated :editor, :registration_email_custom_content, lines: 10 %>
      <p class="help-text"><%= t(".registration_email_help") %></p>
    </div>

    <div class="row column">
      <%= form.translated :editor, :registration_terms %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "decidim_meetings_admin" %>
