<% add_decidim_page_title(t(".manage_members")) %>

<div class="wrapper">
  <div class="row">
    <div class="columns medium-9 medium-offset-3">
      <h5><%= t(".manage_members") %></h5>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-3">
      <%= cell "decidim/profile_sidebar", user_group %>
    </div>
    <div class="columns medium-9">
      <%= cell "decidim/user_group_pending_requests_list", user_group %>
      <div class="section">
        <p><%= t(".current_members_without_admins") %></p>
        <%= cell "decidim/members", user_group, role: "member", from_admin: true %>
      </div>
    </div>
  </div>
</div>
