<% add_decidim_page_title(t(".manage_members")) %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="text-center py-10">
    <h1 class="h3 md:h1 decorator inline-block text-left mb-12">
      <%= t("manage_members", scope: "decidim.group_members.index") %>
    </h1>
  </div>

  <%= cell "decidim/user_group_pending_requests_list", user_group %>

  <p class="mb-8"><%= t("current_members_without_admins", scope: "decidim.group_members.index") %></p>

  <%= cell "decidim/members", user_group, role: "member", from_admin: true %>

<% end %>
