<div class="form__wrapper attendee-fields">
  <div class="card" data-component="accordion" id="accordion-attendee">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-attendee" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="attendee">
          <%= t(".attendee_type") %>
        </h2>
      </button>
    </div>

    <div id="panel-attendee" class="card-section">

      <div class="row column">
        <fieldset class="check-radio-collection">
          <%= form.collection_radio_buttons(:existing_user, [[t(".non_user"), false], [t(".existing_user"), true]], :last, :first) %>
        </fieldset>
      </div>

      <div class="row column">
        <p><%= t(".invite_explanation") %></p>
      </div>

      <div class="row column">
        <div class="auto cell attendee-fields--new-user">
          <%= form.text_field :name, disabled: %>
        </div>
        <div class="auto cell attendee-fields--new-user">
          <%= form.text_field :email, disabled: %>
        </div>

        <div class="auto cell attendee-fields--user-picker">
          <% prompt_options = { url: decidim_admin.users_organization_url, placeholder: t(".select_user") } %>
          <%= form.autocomplete_select(:user_id, form.object.user.presence, { multiple: false, class: "autocomplete-field--results-inline" }, prompt_options) do |user|
            { value: user.id, label: "#{user.name} (@#{user.nickname})" }
          end %>
        </div>

      </div>
      <div class="row column">
        <%= form.submit t(".invite"), class: "button button__sm button__secondary", disabled: %>
      </div>
    </div>
  </div>
</div>
<%= append_javascript_pack_tag "decidim_meetings_admin" %>
