<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t(".invite_attendee") %></h2>
  </div>
  <div class="card-section">
    <%= decidim_form_for(@form, url: meeting_registrations_invites_path, method: :post, html: { class: "form new_meeting_registration_invite" }) do |f| %>
      <% disable_form = !allowed_to?(:invite_attendee, :meeting, meeting: meeting) %>

      <%= render partial: "form", object: f, locals: { disabled: disable_form } %>

      <% unless meeting.registrations_enabled? %>
        <div class="text-alert">
          <p><%= t(".registrations_disabled") %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="filters grid-x mt-m">
  <div class="medium-7">
    <span class="dropdown-menu-inverted_label"><%= t(".filter_by") %> :</span>
    <ul class="dropdown menu dropdown-inverted" data-dropdown-menu data-click-open="true" data-close-on-click-inside="false">
      <li class="is-dropdown-submenu-parent">
        <a href="#">
          <% if @status.present? %>
            <%= t(".filter.#{@status}") %>
          <% else %>
            <%= t(".filter.all") %>
          <% end %>
        </a>
        <ul class="menu is-dropdown-submenu">
          <li><%= link_to t(".filter.sent"), url_for(status: "sent", q: @query) %></li>
          <li><%= link_to t(".filter.accepted"), url_for(status: "accepted", q: @query) %></li>
          <li><%= link_to t(".filter.rejected"), url_for(status: "rejected", q: @query) %></li>
          <li><%= link_to t(".filter.all"), url_for(q: @query) %></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="medium-5">
    <%= form_tag "", method: :get do %>
      <div class="filters__search">
        <div class="input-group">
          <%= search_field_tag :q, @query,label: false, class: "input-group-field", placeholder: t(".search") %>
          <%= hidden_field_tag :state, @state %>
          <div class="input-group-button">
            <button type="submit" class="button button--muted">
              <%= icon "magnifying-glass", aria_label: t(".search") %>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card" id="meeting-invites">
  <div class="card-divider">
    <h2 class="card-title"><%= title %> - <%= t(".invites") %></h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.invite.fields.name", scope: "decidim.meetings") %></th>
            <th><%= t("models.invite.fields.email", scope: "decidim.meetings") %></th>
            <th><%= t("models.invite.fields.sent_at", scope: "decidim.meetings") %></th>
            <th><%= t("models.invite.fields.status", scope: "decidim.meetings") %></th>
          </tr>
        </thead>
        <tbody>
          <% invites.each do |invite| %>
            <% presenter = Decidim::Meetings::InvitePresenter.new(invite) %>
            <tr data-id="<%= invite.id %>">
              <td>
                <%= invite.user.name %>
              </td>
              <td>
                <%= invite.user.email %>
              </td>
              <td>
                <% if invite.sent_at %>
                  <%= l invite.sent_at, format: :long %>
                <% end %>
              </td>
              <td class="<%= presenter.status_html_class %>">
                <%= presenter.status %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate invites, theme: "decidim" %>
    </div>
  </div>
</div>
