<tr>
  <td>
    <% if process.promoted? %>
      <%= icon_with_tooltip "star-s-fill", t("models.assembly.fields.promoted", scope: "decidim.admin") %>
    <% end %>
    <% if allowed_to? :update, :process, process: process %>
      <%= link_to translated_attribute(process.title), edit_participatory_process_path(process) %><br>
    <% elsif allowed_to? :read, :component, process: process %>
      <%= link_to translated_attribute(process.title), components_path(process) %><br>
    <% else %>
      <%= translated_attribute(process.title) %>
    <% end %>
  </td>
  <td class="table-list__date">
    <%= l process.created_at, format: :short %>
  </td>
  <td class="table-list__state">
    <% if process.private_space? %>
      <span><%= t("participatory_processes.index.private", scope: "decidim.admin") %></span>
    <% else %>
      <span><%= t("participatory_processes.index.public", scope: "decidim.admin") %></span>
    <% end %>
  </td>
  <td class="table-list__state">
    <% if process.published? %>
      <span class="label success !text-sm"><%= t("participatory_processes.index.published", scope: "decidim.admin") %></span>
    <% else %>
      <span class="label alert !text-sm"><%= t("participatory_processes.index.unpublished", scope: "decidim.admin") %></span>
    <% end %>
  </td>
  <td class="table-list__actions">
    <% if view == :deleted %>
      <% if allowed_to? :restore, :process, trashable_deleted_resource: process %>
        <%= icon_link_to "refresh-line", restore_participatory_process_path(process), t("actions.restore", scope: "decidim.admin"), method: :patch, class: "action-icon--restore" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>
    <% else %>
      <% if allowed_to? :read, :share_tokens, current_participatory_space: process %>
        <%= icon_link_to "share-line", decidim_admin_participatory_processes.participatory_process_share_tokens_path(process), t("actions.share_tokens", scope: "decidim.admin"), class: "action-icon--new" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>
      <% if allowed_to? :update, :process, process: process %>
        <%= icon_link_to "pencil-line", edit_participatory_process_path(process), t("actions.configure", scope: "decidim.admin"), class: "action-icon--new" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>

      <% if allowed_to? :create, :process, process: process %>
        <%= icon_link_to "download-line", participatory_process_export_path(process), t("actions.export", scope: "decidim.admin"), method: :post, class: "action-icon--export" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>

      <% if allowed_to? :create, :process, process: process %>
        <%= icon_link_to "file-copy-line", new_participatory_process_copy_path(process), t("actions.duplicate", scope: "decidim.admin"), class: "action-icon--copy" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>

      <% if allowed_to? :preview, :process, process: process %>
        <%= icon_link_to "eye-line", decidim_participatory_processes.participatory_process_path(process, locale: current_locale), t("actions.preview", scope: "decidim.admin"), class: "action-icon--preview", target: "_blank", data: { "external-link": false } %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>

      <% if allowed_to? :read, :moderation, process: process %>
        <%= icon_link_to "flag-line", moderations_path(process), t("actions.moderate", scope: "decidim.admin"), class: "action-icon--moderate" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>

      <% if allowed_to? :soft_delete, :process, trashable_deleted_resource: process %>
        <% if process.published? %>
          <%= icon "delete-bin-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.soft_delete", scope: "decidim.admin") %>
        <% else %>
          <%= icon_link_to "delete-bin-line", soft_delete_participatory_process_path(process), t("actions.soft_delete", scope: "decidim.admin"), method: :patch, class: "action-icon--delete", data: { confirm: t("actions.confirm_delete_process", scope: "decidim.admin") } %>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
