<tr>
  <td>
    <% if process.promoted? %>
      <%= icon_with_tooltip "star-s-fill", t("models.assembly.fields.promoted", scope: "decidim.admin") %>
    <% end %>
    <% if allowed_to? :update, :process, process: process %>
      <%= link_to translated_attribute(process.title), edit_participatory_process_path(process) %><br>
    <% elsif allowed_to? :read, :component, process: process %>
      <%= link_to translated_attribute(process.title), components_path(process) %><br>
    <% else %>
      <%= translated_attribute(process.title) %>
    <% end %>
  </td>
  <td class="table-list__date">
    <%= l process.created_at, format: :short %>
  </td>
  <td class="table-list__state">
    <% if process.private_space? %>
      <span><%= t("participatory_processes.index.private", scope: "decidim.admin") %></span>
    <% else %>
      <span><%= t("participatory_processes.index.public", scope: "decidim.admin") %></span>
    <% end %>
  </td>
  <td class="table-list__state">
    <% if process.published? %>
      <span class="label success !text-sm"><%= t("participatory_processes.index.published", scope: "decidim.admin") %></span>
    <% else %>
      <span class="label alert !text-sm"><%= t("participatory_processes.index.unpublished", scope: "decidim.admin") %></span>
    <% end %>
  </td>
  <td class="table-list__actions">
    <% if view == :deleted %>
      <% if allowed_to? :restore, :process, trashable_deleted_resource: process %>
        <%= icon_link_to "refresh-line", restore_participatory_process_path(process), t("actions.restore", scope: "decidim.admin"), method: :patch, class: "action-icon--restore" %>
      <% else %>
        <span class="action-space icon"></span>
      <% end %>
    <% else %>

      <%= link_to "#", "data-toggle" => "actions-dropdown-#{ process.id }" do %>
        <%= icon "more-fill" %>
      <% end %>

      <div class="dropdown-pane small" id="actions-dropdown-<%= process.id %>" data-dropdown data-auto-focus="true" data-close-on-click="true">
        <ul>

          <% if allowed_to? :read, :share_tokens, current_participatory_space: process %>
            <%= link_to decidim_admin_participatory_processes.participatory_process_share_tokens_path(process) do %>
              <li>
                <%= icon "share-line" %>
                <%= t("actions.share_tokens", scope: "decidim.admin") %>
              </li>
            <% end %>
          <% end %>

          <% if allowed_to? :update, :process, process: process %>
            <%= link_to edit_participatory_process_path(process) do %>
              <li>
                <%= icon "pencil-line" %>
                <%= t("actions.configure", scope: "decidim.admin") %>
              </li>
            <% end %>
          <% end %>

          <% if allowed_to? :create, :process, process: process %>
            <%= link_to participatory_process_export_path(process) do %>
              <li>
                <%= icon "download-line" %>
                <%= t("actions.export", scope: "decidim.admin") %>
              </li>
            <% end %>
          <% end %>

          <% if allowed_to? :create, :process, process: process %>
            <%= link_to new_participatory_process_copy_path(process) do %>
              <li>
                <%= icon "file-copy-line" %>
                <%= t("actions.duplicate", scope: "decidim.admin") %>
              </li>
            <% end %>
          <% end %>

          <% if allowed_to? :preview, :process, process: process %>
            <%= link_to decidim_participatory_processes.participatory_process_path(process), target: "_blank", data: { "external-link": false } do %>
              <li>
                <%= icon "eye-line" %>
                <%= t("actions.preview", scope: "decidim.admin") %>
              </li>
            <% end %>
          <% end %>

          <% if allowed_to? :read, :moderation, process: process %>
            <%= link_to moderations_path(process) do %>
              <li>
                <%= icon "flag-line" %>
                <%= t("actions.moderate", scope: "decidim.admin") %>
              </li>
            <% end %>
          <% end %>

          <% if allowed_to? :soft_delete, :process, trashable_deleted_resource: process %>
            <% if process.published? %>
              <li>
                <%= icon "delete-bin-line", class: "action-icon action-icon--disabled", role: "img", aria_label: t("actions.soft_delete", scope: "decidim.admin") %>
                <%= t("actions.soft_delete", scope: "decidim.admin") %>
              </li>
            <% else %>
              <%= link_to soft_delete_participatory_process_path(process), method: :patch, data: { confirm: t("actions.confirm_delete_process", scope: "decidim.admin") } do %>
                <li>
                  <%= icon "delete-bin-line" %>
                  <%= t("actions.soft_delete", scope: "decidim.admin") %>
                </li>
              <% end %>
            <% end %>
          <% end %>

        </ul>
      </div>

    <% end %>
  </td>
</tr>
