<% add_decidim_page_title(t("participatory_processes", scope: "decidim.admin.titles")) %>
<%= admin_tabs(:admin_participatory_processes_menu).render %>

<div class="card" id="processes">
  <%= admin_filter_selector %>
</div>

<%= render partial: "processes_table", locals: { processes: @participatory_processes, view: :index } %>

<div class="card mt-4">
  <%= link_to deleted_participatory_processes_path, class: "flex items-center text-secondary" do %>
    <%= icon "delete-bin-line", class: "mr-2 fill-current text-secondary", role: "img" %>
    <%= t("actions.view_deleted_processes", scope: "decidim.admin") %>
    <span class="ml-2">
      <%= icon_with_tooltip("information-line", t("tooltips.deleted_processes_info", scope: "decidim.admin")) %>
    </span>
  <% end %>
</div>

<%= decidim_paginate @participatory_processes %>
