<% add_decidim_page_title(t("participatory_processes", scope: "decidim.admin.titles")) %>
<%= admin_tabs(:admin_participatory_processes_menu).render %>

<div class="card" id="processes">
  <%= admin_filter_selector %>
</div>
<div class="table-scroll">
  <table class="table-list">
    <thead>
      <tr>
        <th>
          <%= sort_link(query, :title, t("models.participatory_process.fields.title", scope: "decidim.admin")) %>
        </th>
        <th>
          <%= sort_link(query, :created_at, t("models.participatory_process.fields.created_at", scope: "decidim.admin"), default_order: :desc) %>
        </th>
        <th>
          <%= sort_link(query, :private_space, t("models.participatory_process.fields.private", scope: "decidim.admin")) %>
        </th>
        <th class="table-list__actions">
          <%= sort_link(query, :published_at, t("models.participatory_process.fields.published", scope: "decidim.admin")) %>
        </th>
        <th>
          <%= t("models.participatory_process.fields.actions", scope: "decidim.admin") %>
        </th>
      </tr>
    </thead>
    <tbody>
    <% @participatory_processes.each do |process| %>
      <%= render partial: "process_row", locals: { process:, view: :index } %>
    <% end %>
    </tbody>
  </table>
</div>

<div class="card mt-4">
  <%= link_to deleted_participatory_processes_path, class: "flex items-center text-secondary" do %>
    <%= icon "delete-bin-line", class: "mr-2 fill-current text-secondary", role: "img" %>
    <%= t("actions.view_deleted_processes", scope: "decidim.admin") %>
    <span class="ml-2">
      <%= icon_with_tooltip("information-line", t("tooltips.deleted_processes_info", scope: "decidim.admin")) %>
    </span>
  <% end %>
</div>

<%= decidim_paginate @participatory_processes %>
