<div class="flex pb-4 border-b border-gray mb-4 gap-x-4">
  <% if current_participatory_space.private_space? %>
    <span><%= t("participatory_processes.index.private", scope: "decidim.admin") %></span>
  <% else %>
    <span><%= t("participatory_processes.index.public", scope: "decidim.admin") %></span>
  <% end %>
  <h2 class="text-xl font-bold inline-block">
    <%= translated_attribute(current_participatory_space.title) %>
  </h2>
  <% if current_participatory_space.private_space? %>
    <span class="label success !text-sm"><%= t("participatory_processes.index.published", scope: "decidim.admin") %></span>
  <% else %>
    <span class="label alert !text-sm"><%= t("participatory_processes.index.not_published", scope: "decidim.admin") %></span>
  <% end %>
</div>

<div class="grid grid-cols-[80%_20%] gap-x-8">
  <div>
    <div class="card w-full">
      <div class="card-divider">
        <h2 class="card-title">
          <%= t("participatory_process_steps.index.steps_title", scope: "decidim.admin") %>
        </h2>
      </div>

      <div class="card-section">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="card w-full">
      <div class="card-divider">
        <h2 class="card-title">
          Actividad reciente
        </h2>
      </div>

      <div class="card-section">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div class="h-full border-l border-gray-2 pl-8">
    <h2>Componentes y páginas</h2>
  </div>
</div>
