<% add_decidim_page_title(t("info", scope: "decidim.admin.menu.participatory_processes_submenu")) %>
<% add_decidim_page_title(translated_attribute(current_participatory_space.title)) %>

<div class="item_show__header">
  <% if current_participatory_space.private_space? %>
    <%= icon "lock-line" %>
  <% else %>
    <%= icon "lock-unlock-line" %>
  <% end %>
  <h2 class="item_show__header-title">
    <%= translated_attribute(current_participatory_space.title) %>
  </h2>
  <% if current_participatory_space.published? %>
    <span class="label success !text-sm"><%= t("participatory_processes.index.published", scope: "decidim.admin") %></span>
  <% else %>
    <span class="label alert !text-sm"><%= t("participatory_processes.index.unpublished", scope: "decidim.admin") %></span>
  <% end %>
</div>

<div class="item_show__content">
  <div class="item_show__content-activity">

    <div class="card w-full">
      <div class="card-divider">
        <h2 class="card-title">
          <%= t("participatory_process_steps.index.steps_title", scope: "decidim.admin") %>
        </h2>
      </div>

      <div class="card-section">
        <div class="flex items-center">
          <% current_participatory_process.steps.each do |step| %>
            <% if step.active? %>
              <div>
                <h2 class="text-lg font-semibold text-secondary"><%= translated_attribute(step.title) %></h2>
                <div class="flex gap-1 text-gray text-sm font-semibold">
                  <% if step.start_date %>
                    <span>
                      <%= l step.start_date, format: :short %>
                    </span>
                  <% end %>
                  <% if step.start_date && step.end_date %>
                    <span>→</span>
                  <% end %>
                  <% if step.end_date %>
                    <span>
                    <%= l step.end_date, format: :short %>
                    </span>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>

          <%= link_to decidim_admin_participatory_processes.participatory_process_steps_path(current_participatory_space), class: "button button__sm button__transparent-secondary ml-auto" do %>
            <%= icon "settings-4-line" %>
            <span>
              <%= t("steps", scope: "decidim.admin.menu.participatory_processes_submenu") %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="item_show__content-aside">
    <h2 class="item_show__content-title">
      <%= t("components.title", scope: "decidim.admin") %>
    </h2>
    <%= aside_menu(:admin_participatory_process_components_menu).render %>
  </div>
</div>
