<div class="item_show__header">
  <% if current_participatory_space.private_space? %>
    <%= icon "lock-line" %>
  <% else %>
    <%= icon "lock-unlock-line" %>
  <% end %>
  <h2 class="item_show__header-title">
    <%= translated_attribute(current_participatory_space.title) %>
  </h2>
  <% if current_participatory_space.private_space? %>
    <span class="label success !text-sm"><%= t("participatory_processes.index.published", scope: "decidim.admin") %></span>
  <% else %>
    <span class="label alert !text-sm"><%= t("participatory_processes.index.not_published", scope: "decidim.admin") %></span>
  <% end %>
</div>

<div class="item_show__content">
  <div class="item_show__content-activity">
    <div class="card w-full">
      <div class="card-divider">
        <h2 class="card-title">
          <%= t("participatory_process_steps.index.steps_title", scope: "decidim.admin") %>
        </h2>
      </div>

      <div class="card-section">
        <div class="flex items-center">
          <h2 class="text-lg font-semibold text-secondary mb-5">Impulso y seguimiento de proyectos</h2>
          <%= link_to decidim_admin_participatory_processes.participatory_process_steps_path(current_participatory_space), class: "button button__sm button__transparent-secondary ml-auto" do %>
            <%= icon "settings-4-line" %>
            <span>
              <%= t("steps", scope: "decidim.admin.menu.participatory_processes_submenu") %>
            </span>
          <% end %>
        </div>
        <div class="flex text-gray text-sm font-semibold">
          <span class="inline-block">01/07/2023</span>
          <span class="inline-block">-></span>
          <span class="inline-block">12/09/2023</span>
        </div>
      </div>
    </div>
    <div class="card w-full">
      <div class="card-divider">
        <h2 class="card-title">
          Actividad reciente
        </h2>
      </div>

      <div class="card-section">
        <p>Hace 3 minutos nueva propuesta: <a>Tener espacios participativos</a></p>
      </div>
    </div>
  </div>
  <div class="item_show__content-aside">
    <h2 class="item_show__content-title">Componentes y páginas</h2>
    <%= aside_menu(:admin_participatory_process_components_menu).render %>
  </div>
</div>
