<h2 class="h3">Change your password</h2>

<%= decidim_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form__wrapper">
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="form__wrapper-block">
    <%= f.submit "Change my password", class: "button button__sm md:button__lg md:button__lg button__secondary" %>
  </div>
<% end %>

<%= render "decidim/system/devise/shared/links" %>
