<div class="participatory-space__nav-container">
  <button id="dropdown-trigger-participatory-space" data-component="dropdown" data-target="dropdown-menu-participatory-space" data-auto-close="true" data-scroll-to-menu="true" data-open-md="true">
    <span><%= t("decidim.searches.filters.jump_to") %></span>
    <%= icon "arrow-down-s-line" %>
    <%= icon "arrow-up-s-line" %>
  </button>
  <ul id="dropdown-menu-participatory-space" class="participatory-space__nav">
    <% model.each do |item| %>
      <li>
        <%= link_to item[:url], class: "participatory-space__nav-item" do %>
          <%= item[:name] %>
          <%= icon "arrow-right-line" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    const dropdownUl = document.querySelector('#dropdown-menu-participatory-space')
    setTimeout(() => {
      dropdownUl.removeAttribute("role")
      dropdownUl.removeAttribute("aria-hidden")
    }, 500)
    // remove the aria-hidden attribute added when clicking anywhere on window
    window.addEventListener("click", function(){
      dropdownUl.removeAttribute("aria-hidden")
    })
  });
</script>
