<div class="participatory-space__nav-container">
  <button id="dropdown-trigger-participatory-space" data-component="dropdown" data-target="dropdown-menu-participatory-space" data-auto-close="true" data-disabled-md="true" data-scroll-to-menu="true">
    <span><%= t("decidim.searches.filters.jump_to") %></span>
    <%= icon "arrow-down-s-line" %>
    <%= icon "arrow-up-s-line" %>
  </button>
  <ul id="dropdown-menu-participatory-space" class="participatory-space__nav">
    <% model.each do |item| %>
      <li>
        <%= link_to item[:url], class: "participatory-space__nav-item" do %>
          <%= item[:name] %>
          <%= icon "arrow-right-line" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
