<section id="hero-<%= model.id %>" class="hero__container" style="--hero-image:url('<%= background_image %>')">
  <div class="hero">
    <h1 class="hero__title">
      <% if translated_welcome_text.blank? %>
        <%= t("decidim.pages.home.hero.welcome", organization: current_organization.name) %>
      <% else %>
        <%= decidim_sanitize_admin translated_welcome_text %>
      <% end %>
    </h1>

    <%= render :cta_button %>
  </div>
</section>

<section id="home__menu" class="home__menu">
  <div class="home__menu__container">
    <div class="home__menu-element">
      <a class="home__menu-element--link" href="/">
        <%= t("decidim.pages.home.menu.processes") %>
      </a>
    </div>
    <div class="home__menu-element">
      <a class="home__menu-element--link" href="/">
        <%= t("decidim.pages.home.menu.assemblies") %>
      </a>
    </div>
    <div class="home__menu-element">
      <a class="home__menu-element--link" href="/">
        <%= t("decidim.pages.home.menu.initiatives") %>
      </a>
    </div>
    <div class="home__menu-element">
      <a class="home__menu-element--link" href="/">
        <%= t("decidim.pages.home.menu.votings") %>
      </a>
    </div>
    <div class="home__menu-element">
      <a class="home__menu-element--link" href="/">
        <%= t("decidim.pages.home.menu.conferences") %>
      </a>
    </div>
  </div>
</section>
