<% data = 5.times.map {|e| ["Element #{e}", Faker::Movies::StarWars.quote[0..75]]} %>

<div class="container py-10">
  <section class="py-4">
    <h2 class="h2">Simple accordion</h2>
    <div class="py-4">
      <p>Accordions has no main CSS styles attached beyond the required functionality, they just show or hide its panel</p>
      <p>Important note: the panel id MUST CONTAIN the word <i>panel</i></p>
      <p>Append the following data-attributes:</p>
      <ol>
        <li>data-controls: id. Which panel hides</li>
      </ol>
      <p>Library used: <a href="https://github.com/jonathanlevaillant/a11y-accordion-component" class="text-secondary underline">a11y-accordion-component</a></p>
    </div>

    <h3 class="h3">Code</h3>
    <pre>
      <code>
        &lt;div data-component="accordion"&gt;
          &lt;div&gt;
            &lt;button data-controls="panel-simple"&gt;trigger&lt;/button&gt;
          &lt;/div&gt;

          &lt;div id="panel-simple"&gt;content&lt;/div&gt;
        &lt;/div&gt;
      </code>
    </pre>

    <h3 class="h3">Example</h3>
    <div data-component="accordion" class="mt-5">
      <div class="flex">
        <% data.each_with_index do |e,i| %>
          <button data-controls="panel-simple-<%= i %>"><%= e[0] %></button>
        <% end %>
      </div>

      <% data.each_with_index do |e,i| %>
        <div id="panel-simple-<%= i %>"><strong>Content of panel <%= i %>: </strong><%= e[1] %></div>
      <% end %>
    </div>
  </section>

  <section class="py-4">
    <h2 class="h2">Tabs using accordion</h2>
    <div class="py-4">
      <p>Tabs can be done using the accordion too, just append the following data-attributes:</p>
      <ol>
        <li>data-multiselectable: set to false. Tabs shouldn't be opened at the same time</li>
        <li>data-collapsible: set to false. Avoid close all tabs</li>
        <li>data-collapsible: set to true. Choose which tab will be open by default</li>
      </ol>
    </div>

    <h3 class="h3">Code</h3>
    <pre>
      <code>
        &lt;div data-component="accordion" data-multiselectable="false" data-collapsible="false"&gt;
          &lt;div&gt;
            &lt;button data-controls="panel-tabs" data-open="true"&gt;trigger&lt;/button&gt;
          &lt;/div&gt;

          &lt;div id="panel-tabs"&gt;content&lt;/div&gt;
        &lt;/div&gt;
      </code>
    </pre>

    <h3 class="h3">Example</h3>
    <div data-component="accordion" data-multiselectable="false" data-collapsible="false" class="mt-5">
      <div class="flex">
        <% data.each_with_index do |e,i| %>
          <button data-controls="panel-tabs-<%= i %>" data-open="<%= i == 0 %>"><%= e[0] %></button>
        <% end %>
      </div>

      <% data.each_with_index do |e,i| %>
        <div id="panel-tabs-<%= i %>"><strong>Content of panel <%= i %>: </strong><%= e[1] %></div>
      <% end %>
    </div>
  </section>
</div>
