<section id="highlighted_initiatives" class="home__section">
  <div id="highlighted-initiatives">
    <div class="home__section-header">
      <h2 class="home__section-title">
      <%= t("active_initiatives", scope: "decidim.initiatives.pages.home.highlighted_initiatives") %>
      </h2>
      <%= link_to decidim_initiatives.initiatives_path, class: "button button__sm button__text-secondary" do %>
        <%= t("see_all_initiatives", scope: "decidim.initiatives.pages.home.highlighted_initiatives") %>
        <%= icon "arrow-right-line", class: "fill-current" %>
      <% end %>
    </div>
    <div class="card__grid-home">
      <% highlighted_initiatives.each do |initiative| %>
        <%= card_for initiative, size: :g %>
      <% end %>
    </div>
  </div>
</section>
