<section id="highlighted_initiatives">
  <div id="highlighted-initiatives">
    <h2 class="h2 decorator"><%= t("active_initiatives", scope: i18n_scope) %></h2>
    <% highlighted_initiatives.each do |initiative| %>
      <%= link_to decidim_initiatives.initiative_path(initiative), class: "card__highlight card__grid" do %>
        <div aria-hidden="true" class="card__highlight-img"
          style="background-image:url('<%= initiative.banner_image.path %>')"></div>
        <span class="show-for-sr"><%= translated_attribute initiative.title %></span>
        <div class="card__highlight_container">
          <span class="card__highlight_text"><%= decidim_html_escape(translated_attribute(initiative.title)) %></span>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="see-all-initiatives">
    <%= link_to t("see_all_initiatives", scope: i18n_scope), decidim_initiatives.initiatives_path,
                class: "button button__sm button__secondary home-section__cta" %>
  </div>
</section>
