<% add_decidim_meta_tags({
  title: translated_attribute(questionnaire.title),
  description: translated_attribute(questionnaire.description),
}) %>

<% content_for :css_content do %>
  <%= stylesheet_pack_tag "decidim_forms", media: "all" %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_forms" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <%= render partial: "decidim/shared/component_announcement" if current_component.manifest_name == "surveys" %>

  <div class="text-center py-10">
    <% if questionnaire.title.present? %>
      <h1 class="h3 md:h1 decorator inline-block text-left mb-12">
        <%= translated_attribute questionnaire.title %>
      </h1>
    <% end %>

    <% if questionnaire.description.present? %>
    <div class="text-lg text-gray-2 text-left">
      <%= decidim_sanitize_editor translated_attribute questionnaire.description %>
    </div>
    <% end %>
  </div>

  <div class="mb-24">
    <% unless questionnaire_for.try(:component)&.try(:published?) %>
      <%= cell("decidim/announcement", t("decidim.forms.questionnaires.show.questionnaire_not_published.body"), callout_class: "warning") %>
    <% end %>

    <% if allow_answers? %>
      <% if visitor_can_answer? %>
        <% if visitor_already_answered? %>
          <%= cell("decidim/announcement", { title: t("decidim.forms.questionnaires.show.questionnaire_answered.title"), body: t("decidim.forms.questionnaires.show.questionnaire_answered.body") }) %>
        <% else %>
          <%= render partial: "decidim/forms/questionnaires/questionnaire" %>
        <% end %>
      <% else %>
        <%= render partial: "decidim/forms/questionnaires/questionnaire_readonly" %>
      <% end %>
    <% else %>
      <%= cell("decidim/announcement", { title: t("decidim.forms.questionnaires.show.questionnaire_closed.title"), body: t("decidim.forms.questionnaires.show.questionnaire_closed.body") }, callout_class: "warning") %>
    <% end %>
  </div>

<% end %>
