<div class="relative">
  <a class="button button__sm button__transparent-secondary" data-component="dropdown" data-target="import-dropdown">
    <%= t "actions.import", scope: "decidim.admin" %>
    <%= icon "arrow-down-s-line" %>
    <%= icon "arrow-down-s-line" %>
  </a>
  <ul id="import-dropdown" class="dropdown dropdown__bottom" aria-hidden="true">
    <% if custom %>
      <%= yield %>
    <% else %>
     <% component.manifest.import_manifests.each do |import_manifest| %>
       <li>
         <%= link_to admin_imports_path(component, resource_id:, name: import_manifest.name), class: "dropdown__item" do %>
           <%= import_manifest.message(:label, self) %>
         <% end %>
       </li>
      <% end %>
    <% end %>
  </ul>
</div>
