<div class="form__wrapper gap-4">
  <p class="font-semibold">
    <%= t("recount_summary", scope: "decidim.votings.polling_station_closure_recount") %>
  </p>

  <code>
    <span>
      <%= t("total_ballots", scope: "decidim.votings.polling_station_closure_recount") %>
      <%= model.results.total_ballots&.first&.value %>
    </span>
    <div class="ml-4">
      <span>
        <%= t("total_valid_ballots", scope: "decidim.votings.polling_station_closure_recount") %>
        <%= model.results.valid_ballots&.first&.value %>
      </span>
      <br>
      <span>
        <%= t("total_blank_ballots", scope: "decidim.votings.polling_station_closure_recount") %>
        <%= model.results.blank_ballots&.first&.value %>
      </span>
      <br>
      <span>
        <%= t("total_null_ballots", scope: "decidim.votings.polling_station_closure_recount") %>
        <%= model.results.null_ballots&.first&.value %>
      </span>
    </div>

  <% model.election.questions.each do |question| %>
      <span>
        <%= translated_attribute(question.title) %>
      </span>

      <div class="ml-4">
        <% question.answers.each.with_index(1) do |answer, index| %>
          <span>
            <%= translated_attribute(answer.title) %>:

            <%= content_tag :span, answer.results&.valid_answers&.first&.value %>
          </span>
          <% unless index == question.answers.count %>
            <br>
          <% end %>
        <% end %>

        <% if question.nota_option? %>
          <br>
          <%= t("nota_option", scope: "decidim.votings.polling_station_closure_recount") %>

          <%= content_tag :span, question.results.blank_answers&.first&.value %>
        <% end %>
      </div>
    <% end %>
  </code>

  <p class="font-semibold">
    <%= t("polling_officer_notes", scope: "decidim.votings.polling_station_closure_recount") %>
  </p>
  <code>
    <% if model.polling_officer_notes.present? %>
      <%= model.polling_officer_notes %>
    <% else %>
      <%= content_tag :span, t("polling_officer_notes_blank", scope: "decidim.votings.polling_station_closure_recount") %>
    <% end %>
  </code>

  <% if model.signed? %>
    <p class="text-secondary">
      <%= icon "check-double-fill", class: "w-8 h-8 inline-block fill-secondary", role: "img", "aria-hidden": true %>
      <strong><%= t("signed", scope: "decidim.votings.polling_station_closure_recount") %></strong>
    </p>
  <% end %>
</div>
