<p>
  <%= content_tag :strong, t("recount_summary", scope: "decidim.votings.polling_station_closure_recount") %>
</p>

<div class="card--secondary">
  <div class="card__content">
    <div>
      <span>
        <%= content_tag :strong, t("total_ballots", scope: "decidim.votings.polling_station_closure_recount") %>
        <%= model.results.total_ballots&.first&.value %>
      </span>
      <div class="ml-s">
        <span>
          <%= content_tag :strong, t("total_valid_ballots", scope: "decidim.votings.polling_station_closure_recount") %>
          <%= model.results.valid_ballots&.first&.value %>
        </span>
        <br>
        <span>
          <%= content_tag :strong, t("total_blank_ballots", scope: "decidim.votings.polling_station_closure_recount") %>
          <%= model.results.blank_ballots&.first&.value %>
        </span>
        <br>
        <span>
          <%= content_tag :strong, t("total_null_ballots", scope: "decidim.votings.polling_station_closure_recount") %>
          <%= model.results.null_ballots&.first&.value %>
        </span>
      </div>
    </div>

    <% model.election.questions.each do |question| %>
      <div class="mt-s">
        <span>
          <%= content_tag :strong, translated_attribute(question.title) %>
        </span>

        <div class="ml-s">
          <% question.answers.each.with_index(1) do |answer, index| %>
            <span>
              <%= content_tag :strong, translated_attribute(answer.title) %>:

              <%= content_tag :span, answer.results&.valid_answers&.first&.value %>
            </span>
            <% unless index == question.answers.count %>
              <br>
            <% end %>
          <% end %>

          <% if question.nota_option? %>
            <br>
            <%= content_tag :strong, t("nota_option", scope: "decidim.votings.polling_station_closure_recount") %>

            <%= content_tag :span, question.results.blank_answers&.first&.value %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<p class="mt-sm">
  <%= content_tag :strong, t("polling_officer_notes", scope: "decidim.votings.polling_station_closure_recount") %>
  <br>
  <% if model.polling_officer_notes.present? %>
    <%= model.polling_officer_notes %>
  <% else %>
    <%= content_tag :span, t("polling_officer_notes_blank", scope: "decidim.votings.polling_station_closure_recount"), class: "text-muted" %>
  <% end %>
</p>

<% if model.signed? %>
  <p>
    <%= content_tag :strong, t("signed", scope: "decidim.votings.polling_station_closure_recount"), class: "text-success" %>
  </p>
<% end %>
