<div class="waiting-room" data-url="<%= waiting_election_per_question_votes_path(election_id: election) %>">
  <div>
    <div class="spinner-container mb-6"></div>
    <h2 class="h2 text-center mb-6"><%= t(".title") %></h2>
    <p class="text-center"><%= t(".description") %></p>
  </div>
  <div class="vote-navigation w-full flex justify-between mt-8">
    <% if question.sibling_questions.any? %>
      <%= link_to url_for(action: :show, id: question.sibling_questions.first), class: "button button__lg button__transparent-secondary" do %>
    <%= icon "edit-line", class: "fill-current mr-2" %>
    <%= t(".edit_vote") %>
      <% end %>

      <div class="ml-auto">
        <%= link_to t(".exit_button"), exit_path, class: "button button__lg button__transparent-secondary" %>
      </div>
    <% else %>
      <%= link_to t(".exit_button"), exit_path, class: "button button__lg button__transparent-secondary w-full" %>
    <% end %>
  </div>
</div>
