<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
    </h2>
  </div>
  <div class="card-section">
    <table class="table-list">
      <thead>
        <tr>
          <th><%= t(".username") %></th>
          <th><%= t(".address") %></th>
          <th><%= t(".verification_code") %></th>
          <th><%= t(".letter_sent_at") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @pending_authorizations.each do |authorization| %>
          <tr>
            <td>
              <%= authorization.user.name %>
            </td>
            <td>
              <%= authorization.verification_address %>
            </td>
            <td>
              <%= authorization.verification_code %>
            </td>
            <td>
              <%= authorization.letter_sent_at %>
            </td>
            <td>
              <% if authorization.letter_sent? %>
                <%= icon "circle-check",
                         class: "action-icon action-icon--disabled" %>
              <% else %>
                <%= icon_link_to "circle-check",
                                 pending_authorization_postage_path(authorization.id),
                                 t(".mark_as_sent"),
                                 method: :post,
                                 class: "action-icon--verify" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
