<%= link_to assembly_path(promoted_assembly), class: "card__highlight" do %>
  <div class="card__highlight-img">
    <%= image_tag promoted_assembly.attached_uploader(:hero_image).path %>
  </div>
  <div class="card__highlight-text">
    <h3 class="h3 text-secondary"><%= decidim_html_escape(translated_attribute(promoted_assembly.title)).html_safe %></h3>
    <%= decidim_sanitize html_truncate(translated_attribute(promoted_assembly.short_description), length: 300, separator: "...") %>

    <div class="card__highlight-metadata">
      <div>
        <%= icon "group-2-line" %>
        <%= translated_attribute(promoted_assembly.meta_scope) %>
      </div>
      <div>
        <%# REDESIGN_PENDING: replace static fields %>
        <%= icon "bubble-chart-line" %>
        8 assemblies
      </div>
    </div>
  </div>
<% end %>
