<div class="definition-data__item social_networks">
  <span class="definition-data__title"><%= t("assemblies.show.social_networks", scope: "decidim") %></span>
  <% if current_participatory_space.twitter_handler.present? %>
    <%= link_to "Twitter", "https://twitter.com/#{current_participatory_space.twitter_handler}", target: "_blank", class: "", title: "Twitter" %>
  <% end %>
  <% if current_participatory_space.facebook_handler.present? %>
    <%= link_to "Facebook", "https://www.facebook.com/#{current_participatory_space.facebook_handler}", target: "_blank", class: "", title: "Facebook" %>
  <% end %>
  <% if current_participatory_space.instagram_handler.present? %>
    <%= link_to "Instagram", "https://www.instagram.com/#{current_participatory_space.instagram_handler}", target: "_blank", class: "", title: "Instagram" %>
  <% end %>
  <% if current_participatory_space.youtube_handler.present? %>
    <%= link_to "YouTube", "https://www.youtube.com/#{current_participatory_space.youtube_handler}", target: "_blank", class: "", title: "YouTube" %>
  <% end %>
  <% if current_participatory_space.github_handler.present? %>
    <%= link_to "GitHub", "https://www.github.com/#{current_participatory_space.github_handler}", target: "_blank", class: "", title: "GitHub" %>
  <% end %>
</div>
