<% add_decidim_meta_tags(title: t("assemblies.index.title", scope: "decidim")) %>

<%
edit_link(
  decidim_admin_assemblies.assemblies_path,
  :read,
  :assembly_list
)
%>

<main class="wrapper">
  <% if promoted_assemblies.any? %>
    <section id="highlighted-assemblies" class="row section">
      <h1 class="section-heading"><%= t("assemblies.index.promoted_assemblies", scope: "layouts.decidim") %></h1>
      <%= render partial: "promoted_assembly", collection: promoted_assemblies, as: :promoted_assembly %>
    </section>
  <% end %>

  <section id="assemblies-grid" class="section row collapse">
    <%= render partial: "decidim/assemblies/order_by_assemblies" %>
    <div class="row small-up-1 medium-up-2 large-up-3 card-grid">
      <%= render(collection) %>
    </div>
  </section>

  <section id="assemblies-chart" class="row column section">
    <div class="row column">
      <h2 class="section-heading"><%= t("assemblies.index.organizational_chart", scope: "layouts.decidim") %></h2>
      <article id="orgchart-<%= SecureRandom.hex(5) %>" class="card orgchart js-orgchart absolutes" data-url="<%= decidim_assemblies.assemblies_path(format: :json) %>">
        <button class="medium-1 m-s top left button small hollow invisible js-reset-orgchart"><%= t("assemblies.index.reset_chart", scope: "layouts.decidim") %></button>
      </article>
    </div>
  </section>
</main>
