<% add_decidim_meta_tags({
  image_url: current_participatory_space.attached_uploader(:hero_image).path,
  description: translated_attribute(current_participatory_space.short_description),
  url: assembly_url(current_participatory_space),
  twitter_handler: current_organization.twitter_handler
}) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :update,
  :assembly,
  assembly: current_participatory_space
)
%>

<div class="participatory-space__container">

  <%= participatory_space_floating_help %>

  <% active_content_blocks.each do |content_block| %>
    <% next unless content_block.manifest %>
    <%= cell content_block.manifest.cell, content_block %>
  <% end %>

  <div>
    <% if current_participatory_space.private_space? %>
      <%= cell("decidim/announcement", t("private_space", scope: "decidim.assemblies.show"), callout_class: "alert") %>
    <% end %>

    <%= cell("decidim/announcement", current_participatory_space.announcement) %>

    <%# REDESIGN_PENDING - This part requires a redesign and maybe moved to the metadata content block %>
    <% if current_participatory_space.parent.present? %>
      <div class="row">
        <div class="small-12 columns">
          <%= render partial: "decidim/assemblies/assemblies/nav_breadcrumb",
            locals: { assemblies: current_participatory_space.ancestors.to_a } %>
        </div>
      </div>
    <% end %>
  </div>

  <section class="content-block assembly__content-block">
    <div>
      <h2 class="h2 decorator"><%= t(".title") %></h2>

      <div class="content-block__description">
        <%= decidim_sanitize_editor translated_attribute(current_participatory_space.short_description) %>
      </div>
    </div>

    <div class="assembly__nav-container">
      <button id="dropdown-trigger" data-component="dropdown" data-target="dropdown-menu" data-auto-close="true">
        <span><%= t("decidim.searches.filters.jump_to") %></span>
        <%= icon "arrow-down-s-line" %>
        <%= icon "arrow-up-s-line" %>
      </button>
      <ul id="dropdown-menu" class="assembly__nav">
        <%= render partial: "layouts/decidim/assembly_nav_item", collection: assembly_nav_items(current_participatory_space), as: :item %>
      </ul>
    </div>

    <%= render partial: "metadata" %>
  </section>

  <% if current_participatory_space.children.visible_for(current_user).published.count.positive? %>
    <% children = current_participatory_space.children.visible_for(current_user).published.order(weight: :asc) %>
    <section id="assemblies-grid" class="content-block">
      <div class="content-block__title">
        <h2 class="h2 decorator"><%= t("children", scope: "decidim.assemblies.show") %></h2>
        <div class="label text-lg"><%= children.length %></div>

        <%#= REDESIGN_PENDING: add link to index %>
        <%= link_to "#", class: "button button__sm button__text-secondary" do %>
          <span><%= t("decidim.assemblies.pages.home.highlighted_assemblies.see_all_assemblies") %></span>
          <%= icon "arrow-right-line" %>
        <% end %>
      </div>

      <div class="assembly__block-grid">
        <% children.each do |child| %>
          <%= card_for(child) %>
        <% end %>
      </div>
    </section>
  <% end %>

  <%#= REDESIGN_PENDING: proposals markup not ready %>
  <%= render_hook(:participatory_space_highlighted_elements) %>

  <%#= participatory_processes_for_assembly(assembly_participatory_processes) if assembly_participatory_processes.present? %>
  <% if assembly_participatory_processes.present? %>
    <section class="content-block">
      <div class="content-block__title">
        <h2 class="h2 decorator"><%= t("assemblies.show.related_participatory_processes", scope: "decidim") %></h2>
        <div class="label text-lg"><%= assembly_participatory_processes.length %></div>
      </div>

      <div class="assembly__block-grid">
        <% assembly_participatory_processes.each do |child| %>
          <%= card_for(child) %>
        <% end %>
      </div>
    </section>
  <% end %>

  <% if current_participatory_space.show_statistics? %>
    <section class="content-block" data-statistics>
      <%= cell "decidim/statistics", stats.collection %>
    </section>
  <% end %>

  <section class="content-block">
    <div class="content-block__title">
      <h2 class="h2 decorator"><%= t("decidim.application.documents.related_documents") %></h2>
    </div>

    <%= render partial: "decidim/application/documents", locals: { documents: current_participatory_space.documents } %>
  </section>

  <section class="content-block">
    <div class="content-block__title">
      <h2 class="h2 decorator"><%= t("decidim.application.photos.related_photos") %></h2>
    </div>

    <%= cell("decidim/photos_list", current_participatory_space.photos) %>
  </section>
</div>
