<% add_decidim_meta_tags({
  image_url: current_participatory_space.hero_image.url,
  description: translated_attribute(current_participatory_space.short_description),
  url: assembly_url(current_participatory_space),
  twitter_handler: current_organization.twitter_handler
}) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :update,
  :assembly,
  assembly: current_participatory_space
)
%>

<% if current_participatory_space.private_space? %>
  <%= render partial: "decidim/shared/private_participatory_space", locals: { text: t("assemblies.show.private_space", scope: "decidim") } %>
<% end %>

<div class="row column">
  <% if current_participatory_space.parent.present? %>
    <div class="row">
      <div class="small-12 columns">
        <%= render partial: "decidim/assemblies/assemblies/nav_breadcumb", locals: { assemblies: current_participatory_space.ancestors.to_a } %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <div class="lead">
          <%= decidim_sanitize translated_attribute(current_participatory_space.short_description) %>
        </div>
        <%= decidim_sanitize translated_attribute(current_participatory_space.description) %>

        <% if current_participatory_space.private_space? %>
          <%= assembly_features(current_participatory_space) %>
        <% end %>
      </div>

      <% if translated_attribute(current_participatory_space.purpose_of_action).present? ||
          translated_attribute(current_participatory_space.internal_organisation).present? ||
          translated_attribute(current_participatory_space.composition).present? %>
        <div class="show-more">
          <button class="button button--muted small"><%= t("assemblies.show.read_more", scope: "decidim") %></button>
        </div>

        <div class="hide show-more-panel">
          <% if translated_attribute(current_participatory_space.purpose_of_action).present? %>
            <div class="section">
              <h4 class="section-heading"><%= t("assemblies.show.purpose_of_action", scope: "decidim") %></h4>
              <%= decidim_sanitize translated_attribute(current_participatory_space.purpose_of_action) %>
            </div>
          <% end %>

          <% if translated_attribute(current_participatory_space.internal_organisation).present? %>
            <div class="section">
              <h4 class="section-heading"><%= t("assemblies.show.internal_organisation", scope: "decidim") %></h4>
              <%= decidim_sanitize translated_attribute(current_participatory_space.internal_organisation) %>
            </div>
          <% end %>

          <% if translated_attribute(current_participatory_space.composition).present? %>
            <div class="section">
              <h4 class="section-heading"><%= t("assemblies.show.composition", scope: "decidim") %></h4>
              <%= decidim_sanitize translated_attribute(current_participatory_space.composition) %>
            </div>
          <% end %>
          <div class="section text-center">
            <div class="hide-more">
              <button class="button button--muted small"><%= t("assemblies.show.read_less", scope: "decidim") %></button>
            </div>
          </div>
        </div>
      <% end %>

      <%= render_hook(:current_participatory_space_meetings) %>

      <%= attachments_for current_participatory_space %>
      <% if current_participatory_space.children_count > 0 %>
        <section id="assemblies-grid" class="section row collapse">
          <h4 class="section-heading"><%= t("assemblies.show.children", scope: "decidim") %></h4>
          <div class="row small-up-1 medium-up-2 large-up-2 card-grid">
            <%= render partial: "decidim/assemblies/assembly", collection: current_participatory_space.children %>
          </div>
        </section>
      <% end %>

      <%= participatory_processes_for_assembly(assembly_participatory_processes) if assembly_participatory_processes.present? %>
    </div>

    <div class="section columns medium-5 mediumlarge-4 large-3">
      <div class="card extra">
        <div class="card__content">
          <%= render partial: "decidim/shared/follow_button", locals: { followable: current_participatory_space } %>
        </div>
      </div>
      <div class="card extra definition-data">
        <% if translated_attribute(current_participatory_space.meta_scope).present? %>
          <div class="definition-data__item scope">
            <span class="definition-data__title"><%= t("assemblies.show.scope", scope: "decidim") %></span>
            <%= translated_attribute(current_participatory_space.meta_scope) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_space.developer_group).present? %>
          <div class="definition-data__item developer-group">
            <span class="definition-data__title"><%= t("assemblies.show.developer_group", scope: "decidim") %></span>
            <%= translated_attribute(current_participatory_space.developer_group) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_space.local_area).present? %>
          <div class="definition-data__item local_area">
            <span class="definition-data__title"><%= t("assemblies.show.local_area", scope: "decidim") %></span>
            <%= translated_attribute(current_participatory_space.local_area) %>
          </div>
        <% end %>

         <% if translated_attribute(current_participatory_space.target).present? %>
          <div class="definition-data__item target">
            <span class="definition-data__title"><%= t("assemblies.show.target", scope: "decidim") %></span>
            <%= translated_attribute(current_participatory_space.target) %>
          </div>
        <% end %>

         <% if translated_attribute(current_participatory_space.participatory_scope).present? %>
          <div class="definition-data__item participatory_scope">
            <span class="definition-data__title"><%= t("assemblies.show.participatory_scope", scope: "decidim") %></span>
              <%= translated_attribute(current_participatory_space.participatory_scope) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_space.participatory_structure).present? %>
          <div class="definition-data__item participatory_structure">
            <span class="definition-data__title"><%= t("assemblies.show.participatory_structure", scope: "decidim") %></span>
            <%= translated_attribute(current_participatory_space.participatory_structure) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_space.try(:area).try(:name)).present? %>
          <div class="definition-data__item area">
            <span class="definition-data__title"><%= t("assemblies.show.area", scope: "decidim") %></span>
            <%= translated_attribute(current_participatory_space.area.area_type.name) %> - <%= translated_attribute(current_participatory_space.area.name) %>
          </div>
        <% end %>

        <% if current_participatory_space.assembly_type.presence %>
          <div class="definition-data__item assembly_type">
            <span class="definition-data__title"><%= t("assemblies.show.assembly_type", scope: "decidim") %></span>
            <% if current_participatory_space.assembly_type == "others" %>
              <%= translated_attribute(current_participatory_space.assembly_type_other) %>
            <% else %>
              <%= t("assembly_types.#{current_participatory_space.assembly_type }", scope: "decidim.assemblies") %>
            <% end %>
          </div>
        <% end %>

        <% if current_participatory_space.creation_date.presence %>
          <div class="definition-data__item creation_date">
            <span class="definition-data__title"><%= t("assemblies.show.creation_date", scope: "decidim") %></span>
            <%= l current_participatory_space.creation_date, format: :decidim_short %>
          </div>
        <% end %>

        <% if current_participatory_space.created_by.presence %>
          <div class="definition-data__item created_by">
            <span class="definition-data__title"><%= t("assemblies.show.created_by", scope: "decidim") %></span>
            <% if current_participatory_space.created_by == "others" %>
              <%= translated_attribute(current_participatory_space.created_by_other) %>
            <% else %>
              <%= t("created_by.#{current_participatory_space.created_by }", scope: "decidim.assemblies") %>
            <% end %>
          </div>
        <% end %>

        <div class="definition-data__item duration">
          <span class="definition-data__title"><%= t("assemblies.show.duration", scope: "decidim") %></span>
          <% if current_participatory_space.duration.presence %>
            <%= l current_participatory_space.duration, format: :decidim_short %>
          <% else %>
            <%= t("assemblies.show.indefinite_duration", scope: "decidim") %>
          <% end %>
        </div>

        <% if current_participatory_space.included_at.presence %>
          <div class="definition-data__item included_at">
            <span class="definition-data__title"><%= t("assemblies.show.included_at", scope: "decidim") %></span>
            <%= l current_participatory_space.included_at, format: :decidim_short %>
          </div>
        <% end %>

        <% if current_participatory_space.closing_date.presence %>
          <div class="definition-data__item closing_date">
            <span class="definition-data__title"><%= t("assemblies.show.closing_date", scope: "decidim") %></span>
            <%= l current_participatory_space.closing_date, format: :decidim_short %>
            <br />
            <%= decidim_sanitize translated_attribute(current_participatory_space.closing_date_reason) %>
          </div>
        <% end %>

        <%= social_handler_links(current_participatory_space) %>
      </div>
      <%= resource_reference(current_participatory_space) %>
      <%= render partial: "decidim/shared/share_modal" %>
      <%= embed_modal_for assembly_assembly_widget_url(current_participatory_space, format: :js) %>
    </div>
  </div>

  <% if current_participatory_space.show_statistics? %>
    <%= render partial: "statistics" %>
  <% end %>
</div>

<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>
<%= javascript_include_tag "decidim/assemblies/assemblies" %>
