<a class="card__list" id="blogs__post_6" href="#">
  <div class="card__list-image">
    <img class="w-full h-full object-cover" src="/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc0lCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f9dcdd2b5fa8a4c7c371725abbec4b531a241788/hero_image.jpeg" alt="hero_image">
  </div>
  <div class="card__list-content">
    <div class="h4 card__list-title">
      With images
    </div>
    <div class="card__list-text">
      <div class="rich-text-display">Provident eum nobis. Voluptates ratione consequatur. Velit consectetur dolor. Quibusdam alias culpa. Placeat dolorem similique. Et eos ex. Distinctio temporibus culpa. Autem accusamus omnis. Temporibus aperiam officiis. Deleniti vel officiis. Voluptas non temporibus. Aspernatur eos et. Corporis aliquam sint. Eos ut et. Fuga eveniet cum. Error quis architecto. Sed alias est. Molestias at veniam. Culpa unde nesciunt. Fuga voluptatem pariatur.</div>
    </div>
    <div class="card__list-metadata">
      <span>
        <!-- linthtml-disable -->
        <div class="author" data-author="">
          <div class="author__container" data-tooltip="<div class=&quot;author__tooltip bottom&quot; role=&quot;tooltip&quot;>
            <div class=&quot;author__container&quot;>
            <span class=&quot;author__avatar-container&quot;>
            <img alt=&quot;Avatar: Terica MacGyver Sr.&quot; class=&quot;author__avatar&quot; src=&quot;<%= asset_pack_path("media/images/default-avatar.svg") %>&quot; />
            </span>
            <div>
            <span class=&quot;author__name&quot;>Terica MacGyver Sr.</span>
            <span class=&quot;text-md&quot;>@elina</span>
            </div>
            </div>
            <div class=&quot;author__tooltip-links&quot;>
            <a href=&quot;/profiles/elina/followers&quot;>
            <span id=&quot;followers_count_user_16&quot;>0</span> Followers
            </a>
            <a href=&quot;/profiles/elina/following&quot;>
            2 Follows
            </a>
            </div>
            <a class=&quot;button button__sm button__transparent&quot; href=&quot;/conversations/new?recipient_id=16&quot;>
            <span>Send private message</span>
            <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;<%= "#{asset_pack_path("media/images/remixicon.symbol.svg")}#ri-mail-send-line" %>&quot; tabindex=&quot;-1&quot;></use></svg>
            </a>
            <a class=&quot;button button__sm button__transparent&quot; title=&quot;Follow&quot; id=&quot;follow_user_16&quot; data-remote=&quot;true&quot; rel=&quot;nofollow&quot; data-method=&quot;post&quot; href=&quot;/follow?follow%5Bbutton_classes%5D=button+button__sm+button__transparent&amp;follow%5Bfollowable_gid%5D=BAh7CEkiCGdpZAY6BkVUSSIzZ2lkOi8vZGVjaWRpbS1kZXZlbG9wbWVudC1hcHAvRGVjaWRpbTo6VXNlci8xNgY7AFRJIgxwdXJwb3NlBjsAVEkiDGRlZmF1bHQGOwBUSSIPZXhwaXJlc19hdAY7AFRJIh0yMDIzLTExLTE5VDE0OjMzOjEzLjIwMFoGOwBU--7f5a417635cb6014539ff6341140054f59ef9773&quot;>
            <span class=&quot;&quot;>Follow</span>
            <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;<%= "#{asset_pack_path("media/images/remixicon.symbol.svg")}#ri-notification-3-line" %>&quot; tabindex=&quot;-1&quot;></use></svg>
            </a>
            </div>
            " aria-describedby="5filn3-tooltip" data-yeti-box="5filn3-tooltip" data-toggle="5filn3-tooltip" data-resize="5filn3-tooltip" id="toggle-0rsefa" aria-controls="5filn3-tooltip">
            <span class="author__avatar-container">
            <img alt="Avatar: Terica MacGyver Sr." class="author__avatar" src="<%= asset_pack_path("media/images/default-avatar.svg") %>">
            </span>
            <span class="author__name">Terica MacGyver Sr.</span>
          </div>
        </div>
        <!-- linthtml-enable -->
      </span>
      <span>
        <%= icon("calendar-todo-line") %>
        05 Oct 2023
      </span>
      <span data-comments-count="">
        <%= icon("wechat-line") %>
        2
      </span>
      <span data-likes-count="">
        <%= icon("like") %>
        0
      </span>
    </div>
  </div>
</a>
