<% content_for :heading do %>
  <%= cell "decidim/announcement", "This page comes from a legacy view. Content is outdated.", callout_class: "alert" %>

  Cards
<% end %>

<% content_for :toc do %>
  <% @sections.each do |title, results| %>
    <a href="#<%= title %>"><%= title %></a>
  <% end %>
<% end %>

<% @sections.each do |title, results| %>
  <section id="<%= title %>">
    <h2 class="h2"><%= title %></h2>

    <div class="card__grid-grid">
      <% results.each do |result| %>
        <%= card_for result %>
      <% end %>
    </div>
  </section>
<% end %>
