<section class="extended process-nav">
  <div class="row column">
    <% if current_participatory_space.components.any? || current_participatory_space.speakers.any? %>
      <div class="row column">
        <div>
          <button class="process-nav__trigger hide-for-medium" data-toggle="process-nav-content">
            <%= icon "caret-bottom", class: "icon--small process-nav__trigger__icon", aria_label: t(".unfold"), role: "img" %>
              <div class="process-nav__link">
              <% if self.try(:current_component) %>
                <%= component_icon(current_component) %>
                <%= translated_attribute(current_component.name) %>
              <% else %>
                <%= icon "conference" %>
                <%= t ".conference_menu_item" %>
              <% end %>
              </div>
          </button>
          <div class="row column process-nav__content is-active" id="process-nav-content" data-toggler=".is-active">
            <ul>
              <li class="<%= "is-active" if is_active_link?(decidim_conferences.conference_path(current_participatory_space), :exclusive) %>">
                <%= active_link_to decidim_conferences.conference_path(current_participatory_space), active: :exclusive, class: "process-nav__link", class_active: "is-active" do %>
                  <%= external_icon "decidim/conferences/conference.svg" %>
                  <%= t ".conference_menu_item" %>
                <% end %>
              </li>

              <% if current_participatory_space.speakers.any? %>
                <li class="<%= "is-active" if is_active_link?(decidim_conferences.conference_conference_speakers_path(current_participatory_space), :inclusive) %>">
                  <%= active_link_to decidim_conferences.conference_conference_speakers_path(current_participatory_space), active: :inclusive, class: "process-nav__link", class_active: "is-active" do %>
                    <%= external_icon "decidim/conferences/conference.svg" %>
                    <%= t ".conference_speaker_menu_item" %>
                  <% end %>
                </li>
              <% end %>

              <% current_participatory_space.components.where(manifest_name: "meetings").each do |component_meeting| %>
                <% if component_meeting.published? || component_meeting == self.try(:current_component) %>
                  <% active = is_active_link?(decidim_conferences.conference_conference_program_path(current_participatory_space, id: component_meeting.id), :inclusive) || is_active_link?(main_component_path(component_meeting), :inclusive) %>
                  <li class="<%= "is-active" if active %>">
                    <%= link_to decidim_conferences.conference_conference_program_path(current_participatory_space, id: component_meeting.id), class: "process-nav__link #{"is-active" if active}" do %>
                      <%= component_icon(component_meeting) %>
                      <%= translated_attribute(component_meeting.name) %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>

              <% if current_participatory_space.components.where(manifest_name: "meetings").published.any? %>
                <li class="">
                  <%= active_link_to decidim_conferences.conference_path(current_participatory_space, anchor: "venues"), active: :exclusive, class: "process-nav__link" do %>
                    <%= external_icon "decidim/conferences/conference.svg" %>
                    <%= t ".venues" %>
                  <% end %>
                </li>
              <% end %>

              <% current_participatory_space.components.each do |component| %>
                <% next if component.manifest_name == "meetings" %>
                <% if component.published? || component == self.try(:current_component) %>
                  <li class="<%= "is-active" if is_active_link?(main_component_path(component), :inclusive) %>">
                    <%= active_link_to main_component_path(component), active: :inclusive, class: "process-nav__link", class_active: "is-active" do %>
                      <%= component_icon(component) %>
                      <%= translated_attribute(component.name) %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
