<div class="process-header row column">
  <div class="row column process-header__main"
       style="background-image:url(<%= current_participatory_space.banner_image.url %>);">
    <div class="process-header__container row">
      <div class="columns mediumlarge-9 process-header__info">
        <div>
          <h1 class="text-highlight heading2">
            <%= translated_attribute(current_participatory_space.title) %>
          </h1>
          <h2 class="text-highlight heading3">
            <%= current_participatory_space.location %>
          </h2>
        </div>
        <div>
          <h2 class="text-highlight heading-small">
            <% if current_participatory_space.hashtag.present? %>
              <span class="process-header__hashtag">
                <%= link_to "##{current_participatory_space.hashtag}", "https://twitter.com/hashtag/#{current_participatory_space.hashtag}", target: "_blank" %>
              </span>
            <% end %>
            <%= translated_attribute(current_participatory_space.slogan) %>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <% if current_participatory_space.components.any? || current_participatory_space.speakers.any? || current_participatory_space.partners.any? %>
    <div class="row column">
      <div class="process-nav">
        <button class="process-nav__trigger hide-for-medium" data-toggle="process-nav-content">
          <%= icon "caret-bottom", class: "icon--small process-nav__trigger__icon", aria_label: t(".unfold"), role: "img" %>
            <div class="process-nav__link">
            <% if self.try(:current_component) %>
              <%= component_icon(current_component) %>
              <%= translated_attribute(current_component.name) %>
            <% else %>
              <%= icon "conference" %>
              <%= t ".conference_menu_item" %>
            <% end %>
            </div>
        </button>
        <div class="row column process-nav__content is-active" id="process-nav-content" data-toggler=".is-active">
          <ul>
            <li class="<%= "is-active" if is_active_link?(decidim_conferences.conference_path(current_participatory_space), :exclusive) %>">
              <%= active_link_to decidim_conferences.conference_path(current_participatory_space), active: :exclusive, class: "process-nav__link", class_active: "is-active" do %>
                <%= external_icon "decidim/conferences/conference.svg" %>
                <%= t ".conference_menu_item" %>
              <% end %>
            </li>

            <% if current_participatory_space.speakers.any? %>
              <li class="<%= "is-active" if is_active_link?(decidim_conferences.conference_conference_speakers_path(current_participatory_space), :inclusive) %>">
                <%= active_link_to decidim_conferences.conference_conference_speakers_path(current_participatory_space), class: "process-nav__link", active: :inclusive, class_active: "is-active" do %>
                  <%= icon("speakers") %>
                  <%= t ".conference_speaker_menu_item" %>
                <% end %>
              </li>
            <% end %>

            <% if current_participatory_space.partners.any? %>
              <li class="">
                <%= active_link_to decidim_conferences.conference_path(current_participatory_space, anchor: "conference-partners"), class: "process-nav__link", active: :inclusive, class_active: "is-active" do %>
                  <%= icon("speakers") %>
                  <%= t ".conference_partners_menu_item" %>
                <% end %>
              </li>
            <% end %>

            <% current_participatory_space.components.each do |component| %>
              <% if component.published? || component == self.try(:current_component) %>
                <li class="<%= "is-active" if is_active_link?(main_component_path(component), :inclusive) %>">
                  <%= active_link_to main_component_path(component), class: "process-nav__link", active: :inclusive, class_active: "is-active" do %>
                    <%= component_icon(component) %>

                    <%= translated_attribute(component.name) %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
