<section style="background-image:url('<%= current_participatory_space.attached_uploader(:banner_image).path %>');">
  <div class="conference__hero">
    <div class="conference__hero-text">
      <h1 class="h1">
        <%= translated_attribute(current_participatory_space.title) %>
      </h1>
      <p class="conference__hero-slogan">
        <% if current_participatory_space.hashtag.present? %>
          <span>
            <%= link_to "##{current_participatory_space.hashtag}", twitter_hashtag_url(current_participatory_space.hashtag), target: "_blank" %>
          </span>
        <% end %>
        <%= translated_attribute(current_participatory_space.slogan) %>
      </p>
      <p class="conference__hero-location">
        <%= participatory_space_helpers.render_date(current_participatory_space) %>
        <%= " @ " + current_participatory_space.location.to_s if current_participatory_space.location %>
      </p>
      <% if current_participatory_space.registrations_enabled? %>
        <%= link_to t(".register"), decidim_conferences.conference_registration_types_path(current_participatory_space), class:"button button__lg button__secondary" %>
      <% end %>
      <% current_participatory_space.components.where(manifest_name: "meetings").each do |component_meeting| %>
        <% if component_meeting.published? || component_meeting == self.try(:current_component) %>
          <%= link_to translated_attribute(component_meeting.name), decidim_conferences.conference_conference_program_path(current_participatory_space, id: component_meeting.id), class:"button button__lg button__secondary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
