<% add_decidim_page_title(translated_attribute(current_component.name)) if try(:current_component) %>
<% add_decidim_page_title(translated_attribute(current_participatory_space.title)) %>
<% add_decidim_meta_tags(
  image_url: current_participatory_space.banner_image.url,
  description: translated_attribute(current_participatory_space.short_description),
) %>

<%= render "layouts/decidim/application" do %>
  <%= render partial: "layouts/decidim/conference_hero" %>
  <%= render partial: "layouts/decidim/conferences_nav" %>
  <!-- <section class="wrapper-home">
    <div class="row">
      <div class="columns section view-side mediumlarge-4 large-3">
        <%#= render partial: "layouts/decidim/conferences_nav" %>
      </div>
      <div class="columns mediumlarge-8 large-9">
        <%#= yield %>
      </div>
    </div>
  </section> -->
  <%= yield %>

  <% if content_for? :expanded %>
    <div class="expanded">
      <div class="wrapper wrapper--inner">
        <div class="row">
          <%= yield :expanded %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% provide :meta_image_url, current_participatory_space.banner_image.url %>
