<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="no-js">
  <head>
      <%= tag :meta, "http-equiv": "Content-Type", content: "text/html; charset=utf-8" %>
      <%= tag :meta, name: "viewport", content: "width=device-width" %>
      <%= stylesheet_pack_tag "decidim_conference_diploma" %>
    </head>
  <body>
    <%= yield %>
  </body>
</html>
