<%
@title = "Participatory texts -- Decidim Barcelona"
@activepage = "proposal"
%>

<%= partial "template_top" %>

<main>
  <div class="wrapper">
    <%= partial "process_header" %>
    <div class="row view-header">
      <div class="column medium-9">
        <h2 class="heading2">Estatutos de Som Energia, SCCL</h2>
        <%= partial "author_data", { extra: true } %>
      </div>
      <div class="column medium-3 pull-right">
        <%= render partial: page_path("participatory") + "/view-index" %>
      </div>
    </div>
    <div class="row">
      <div class="columns mediumlarge-8">
          <% Faker::Number.between(3, 7).times do |i| %>
          <div class="section">
            <h5>
              <strong class="text-uppercase">
                <%= "Capitol " + (i + 1).to_s + ". " + Faker::Lorem.sentence %>
              </strong>
            </h5>
            <h6>
              <strong>
                <%= "Article " + (i + 1).to_s + ". " + Faker::Lorem.sentence %>
              </strong>
            </h6>
            <p>
              <%= Faker::Lorem.paragraph(Faker::Number.between(8, 15)) %>
            </p>
            <% if Faker::Boolean.boolean %>
            <p>
              <%= Faker::Lorem.paragraph(Faker::Number.between(3, 8)) %>
            </p>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
