<%
@title = "Participatory texts -- Decidim Barcelona"
@activepage = "index"
%>

<%= partial "template_top" %>

<main>
  <div class="wrapper">
    <%= partial "process_header" %>
    <div class="row">
      <div class="column medium-9">
        <h2 class="heading2">Estatutos de Som Energia, SCCL</h2>
      </div>
      <div class="column medium-3 pull-right">
        <%= render partial: page_path("participatory") + "/view-index" %>
      </div>
    </div>
    <div class="row column">
      <div class="card p-sm">
        <div class="absolutes">
          <h4>Índice del documento</h4>
          <div class="text-muted">
            <% Faker::Number.between(5, 10).times do |i| %>
            <div class="mb-s">
              <p>
                <%= link_to page_path("participatory/participatory-texts-view") do %>
                <u class="text-uppercase">
                  <%= "Capitol " + (i + 1).to_s + ". " + Faker::Lorem.sentence %>
                </u>
                <% end %>
                <br />
                <% Faker::Number.between(5, 10).times do |j| %>
                <%= link_to page_path("participatory/participatory-texts-view") do %>
                <u>
                  <%= "Article " + (j + 1).to_s + ". " + Faker::Lorem.sentence %>
                </u>
                <br />
                <% end %>
                <% end %>
              </p>
            </div>
            <% end %>
          </div>
          <button type="button" class="right top h4">&times;</button>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
