<%
@title = "Participatory texts -- Decidim Barcelona"
@activepage = "proposal"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row view-header">
      <div class="column medium-9">
        <h2 class="heading2">Estatutos de Som Energia, SCCL</h2>
        <%= partial "author_data", { extra: true } %>
      </div>
      <div class="column medium-3 pull-right">
        <%= render partial: page_path("participatory") + "/view-index" %>
      </div>
    </div>
    <div class="row columns">
      <% Faker::Number.between(3, 7).times do |i| %>
      <div class="row section hover-section">
        <div class="columns mediumlarge-8">
          <%= link_to page_path("participatory/participatory-texts-view"), class: "card__link--block pt-s pb-s" do %>
          <h5>
            <strong class="text-uppercase">
              <%= "Capitol " + (i + 1).to_s + ". " + Faker::Lorem.sentence %>
            </strong>
          </h5>
          <h6>
            <strong>
              <%= "Article " + (i + 1).to_s + ". " + Faker::Lorem.sentence %>
            </strong>
          </h6>
          <p>
            <%= Faker::Lovecraft.paragraph(Faker::Number.between(8, 15)) %>
          </p>
          <% if Faker::Boolean.boolean %>
          <p>
            <%= Faker::Lovecraft.paragraph(Faker::Number.between(3, 8)) %>
          </p>
          <% end %>
          <% end %>
        </div>
        <div class="columns mediumlarge-4 hidden-section p-sm">
          <%= render partial: page_path("participatory") + "/additional-buttons" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
