<div class="questionnaire-answers">
  <div class="header">
    <% organization = questionnaire.questionnaire_for.organization %>

    <h1 class="title">
      <% if organization.logo.present? %>
        <div class="logo">
          <%= wicked_pdf_image_tag organization.logo.url %>
        </div>
      <% end %>
      <%= organization.name %>
    </h1>
    <h2 class="subtitle">
      <%= translated_attribute(questionnaire.title) %>
    </h2>

    <% if collection.count > 1 %>
      <h3 class="answers-count"><%= t("title", scope: "decidim.forms.admin.questionnaires.answers.index", total: collection.count) %></h3>
    <% end %>

    <div class="description">
      <%= translated_attribute(questionnaire.description).html_safe %>
    </div>
  </div>

  <div class="content">
    <%= render partial: "decidim/forms/admin/questionnaires/answers/export/answer", collection: collection, locals: { questionnaire: questionnaire }, as: :participant %>
  </div>

  <footer class="page-footer">
    <%= t("footer", scope: "decidim.forms.admin.questionnaires.answers.index") %>
  </footer>
</div>
