<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>

    <div class="row column">
      <%= form.translated :editor, :description %>
    </div>

    <% if !@form.process_scope %>
    <div class="row column">
        <%= form.collection_select :decidim_scope_id, organization_scopes, :id, :name %>
      </div>
    <% end %>

    <div class="row column">
      <%= form.categories_select :decidim_category_id, current_participatory_process.categories, include_blank: true, disable_parents: false %>
    </div>
    <div class="row column">
      <% if @form.proposals %>
        <%= form.select :proposal_ids,
                        @form.proposals,
                        {},
                        { multiple: true, class: "chosen-select" }
        %>
      <% end %>
    </div>
  </div>
</div>