<% if @organization.colors["primary"].present? %>
<style>
table.button table td {
  background: <%= @organization.colors["primary"] %> !important
}
</style>
<% end %>
<%= decidim_sanitize @body %>

<% if @cta_text.present? && @cta_url.present? %>
<p>&nbsp;</p>
<div class="cta">
  <table class="button expanded radius">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <%= link_to @cta_text, @cta_url %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<% end %>

<% content_for :note do %>
  <%== t ".note", organization_name: h(@organization.name), link: decidim.notifications_settings_url(host: @organization.host) %>
<% end %>

<% content_for :unsubscribe do %>
  <%== t ".unsubscribe", link: decidim.unsubscribe_newsletters_url(host: @organization.host, u: @encrypted_token ) %>
<% end %>

<% content_for :see_on_website do %>
  <center style="display: none">
    <%== CGI.unescapeHTML truncate(@body, max_length: 50) %>
  </center>
  <%== t ".see_on_website", link: decidim.newsletter_url(host: @organization.host, id: @newsletter) %>
<% end %>
