<%= content_tag :div, id: resource_id do %>
  <%= render :space if render_space? %>
  <% if has_link_to_resource? && link_whole_card? %>
    <%= link_to resource_path, class: class_base_name do %>
      <%= render :content %>
    <% end %>
  <% else %>
    <div class="<%= prefix_class("list-item") %>">
      <%= render :content %>
      <%= render details_template if details_template.present? %>
    </div>
  <% end %>
<% end %>
