<div class="content-block__title">
  <%# REDESIGN_PENDING: implement accordingly %>
  <h2 class="h2 decorator"><%= t("decidim.elections.elections.count.elections_count", count: elections_count) %></h2>
  <div class="label text-lg"><%= elections_count %></div>

  <%# REDESIGN_PENDING: implement accordingly %>
  <% if show_all_path.present? %>
    <%= link_to show_all_path, class: "button button__sm button__text-secondary" do %>
      <span><%= t("decidim.assemblies.pages.home.highlighted_assemblies.see_all_spaces") %></span>
      <%= icon "arrow-right-line" %>
    <% end %>
  <% end %>
</div>

<div class="participatory-space__block-grid">
  <% elections.each do |election| %>
    <%= card_for(election) %>
  <% end %>
</div>
