<div class="form__wrapper">
  <div class="card pt-4" id="processes">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true %>
      </div>

      <div class="row column">
        <%= form.text_field :slug, help_text: t(".slug_help_html", url: decidim_form_slug_url(:processes, form.object.slug)) %>
      </div>

      <div class="row column">
        <%= form.upload :document, required: true, label: t(".document_legend"), button_class: "button button__sm button__transparent-secondary" %>
      </div>

      <div class="card-divider">
        <div class="card-title">
          <%= t("participatory_process_imports.new.select", scope: "decidim.admin") %>
        </div>
      </div>
      <div class="card-section">
        <div class="row">
          <div class="columns">
            <%= form.check_box :import_steps %>
          </div>
          <div class="columns">
            <%= form.check_box :import_attachments %>
          </div>
          <div class="columns">
            <%= form.check_box :import_components %>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
