<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true, aria: { label: :title } %>
      </div>

      <div class="row column">
        <%= form.number_field :weight %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :description, aria: { label: :description } %>
      </div>

      <div class="row column">
        <%= form.select :attachment_collection_id, @form.attachment_collections.map { |c| [translated_attribute(c.name), c.id] }, include_blank: true %>
      </div>

      <div class="row column">
        <%= form.upload :file, button_class: "button button__sm button__transparent-secondary" %>
      </div>
    </div>
  </div>
</div>
