<% if datum %>
  <%= f.hidden_field :document_type %>
  <%= f.hidden_field :document_number %>
  <%= f.hidden_field :day %>
  <%= f.hidden_field :month %>
  <%= f.hidden_field :year %>

  <% if form.verified? %>
    <%= f.check_box :voted, label: t(".voted") %>
  <% else %>
    <%= f.hidden_field :verified, value: true %>
    <p>
      <strong><%= t(".name") %></strong>
      <br><%= datum.full_name %>
    </p>
  <% end %>
<% else %>
  <div>
    <%= f.label :document_type do %>
      <%= f.select :document_type,
      form.options_for_document_type_select,
      { include_blank: t(".select") },
      { multiple: false } %>
    <% end %>
  </div>
  <div>
    <%= f.text_field :document_number, label: t(".document_number"), placeholder: t(".document_number_placeholder") %>
  </div>
  <fieldset>
    <legend><%= t(".date_of_birth") %></legend>
    <div class="row">
      <%= f.label :day, t(".day"), class: "columns small-4" do %>
        <%= f.text_field :day, placeholder: t(".day_placeholder") %>
      <% end %>
      <%= f.label :month, t(".month"), class: "columns small-4" do %>
        <%= f.text_field :month, placeholder: t(".month_placeholder") %>
      <% end %>
      <%= f.label :year, t(".year"), class: "columns small-4" do %>
        <%= f.text_field :year, placeholder: t(".year_placeholder") %>
      <% end %>
    </div>
  </fieldset>
<% end %>
