var $followResource = $("#<%= dom_id(resource, :follow) %>");
var $followersCount = $("#<%= dom_id(resource, :followers_count) %>");

morphdom($followResource[0], "<%= j(button_cell.to_s.strip.html_safe) %>");

if ($followersCount.length > 0) {
  morphdom($followersCount[0], '<span id="<%= dom_id(resource, :followers_count) %>"><%= button_cell.followers_count %> <%= t("decidim.profiles.show.followers")%></span>');
}
