<div class="card extra">
  <div class="definition-data">
    <div class="definition-data__item definition-data__item--double">
      <span class="definition-data__title">
        <%= t "questions.statistics.supports_count_title", scope: "decidim" %>
      </span>
      <span class="definition-data__number"><%= stats.supports_count %></span>
    </div>

    <div class="definition-data__item definition-data__item--double">
      <span class="definition-data__title">
        <%= t "questions.statistics.comments_count_title", scope: "decidim" %>
      </span>
      <span class="definition-data__number"><%= stats.comments_count %></span>
    </div>

    <div class="definition-data__item definition-data__item--double">
      <span class="definition-data__title">
        <%= t "questions.statistics.meetings_count_title", scope: "decidim" %>
      </span>
      <span class="definition-data__number"><%= stats.meetings_count %></span>
    </div>

    <div class="definition-data__item definition-data__item--double">
      <span class="definition-data__title">
        <%= t "questions.statistics.assistants_count_title", scope: "decidim" %>
      </span>
      <span class="definition-data__number"><%= stats.assistants_count %></span>
    </div>
  </div>
</div>
