<div class="reveal" data-reveal id="question-vote-confirm-modal">
  <div class="reveal__header">
    <h3 class="reveal__title">
      <%= t "questions.vote_modal_confirm.title", scope: "decidim" %>
    </h3>
    <button class="close-button" data-close aria-label="<%= t("questions.vote_modal_confirm.close_modal", scope: "decidim") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p><%= t "questions.vote_modal_confirm.contextual_help", scope: "decidim" %></p>
  <div class="card card--secondary">
    <div class="card__content">
      <h4 class="heading5 text-center"><%= translated_attribute(question.title).html_safe %></h4>
      <h5 class="heading6 text-center" id="question-vote-confirm-modal-question-title"></h5>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <%= form_with url: decidim_consultations.question_question_votes_path(question),
                    local: false,
                    id: "confirm-vote-form" do |form| %>
        <%= form.hidden_field :decidim_consultations_response_id, id: "decidim_consultations_response_id" %>
        <%= form.submit t("questions.vote_modal_confirm.confirm", scope: "decidim"),
                        class: "button expanded",
                        data: { disable: true } %>
      <% end %>
      <div id="confirm-vote-form-loader" class="loading-spinner hide"></div>
    </div>
  </div>
  <div class="text-center">
    <button class="link" id="question-vote-confirm-modal-button-change">
      <%= t "questions.vote_modal_confirm.change", scope: "decidim" %>
    </button>
  </div>
</div>
