<div class="row column">
  <div class="callout hide" id="vote-result-callout" data-closable data-title-ok="<%= t("question_votes.create.title_success", scope: "decidim.consultations") %>" data-message-ok="<%= t("question_votes.create.success", scope: "decidim.consultations") %>" data-title-ko="<%= t("question_votes.create.title_error", scope: "decidim.consultations") %>" data-message-ko="<%= t("question_votes.create.error", scope: "decidim.consultations") %>">
    <h5 class="callout-title"></h5>
    <p class="callout-message"></p>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<%# Check if controller has questions_helper %>
<% if defined? display_next_previous_button %>
  <div class="row column question-vote-cabin">
    <div class="columns mediumlarge-4 show-for-mediumlarge previous-question">
      <%= display_next_previous_button(:previous, "float-left") %>
    </div>
    <div class="columns mediumlarge-4">
      <% if question.consultation.upcoming? %>
        <div class="card__button button expanded disabled">
          <div class="vote-button-caption"><%= t("questions.vote_button.vote", scope: "decidim") %></div>
          <div>
            <%= t "questions.vote_button.starting_from",
                  scope: "decidim",
                  date: l(question.start_voting_date) %>
          </div>
        </div>
      <% elsif question.consultation.finished? && signed_in? && question.voted_by?(current_user) %>
        <%= button_to decidim_consultations.question_question_votes_path(question),
                    method: :delete,
                    remote: true,
                    data: { disable: true },
                    class: "card__button button expanded success disabled",
                    id: "unvote_button" do %>
          <div class="vote-button-caption">
            <%= t("questions.vote_button.already_voted", scope: "decidim") %>
          </div>
        <% end %>
      <% elsif signed_in? && question.consultation.active? %>
        <% if allowed_to? :unvote, :question, question: question %>
          <%= button_to decidim_consultations.question_question_votes_path(question),
                        method: :delete,
                        remote: true,
                        data: { disable: true },
                        class: "card__button button expanded success",
                        id: "unvote_button" do %>
            <div class="vote-button-caption"
                 data-original="<%= t("questions.vote_button.already_voted", scope: "decidim") %>"
                 data-replace="<%= t("questions.vote_button.already_voted_hover", scope: "decidim") %>">
              <%= t("questions.vote_button.already_voted", scope: "decidim") %>
            </div>
          <% end %>
        <% elsif allowed_to? :vote, :question, question: question %>
          <% if question.multiple? %>
            <%= link_to decidim_consultations.question_question_multiple_votes_path(question),
                        class: "card__button button expanded",
                        id: "multivote_button" do %>
              <div class="vote-button-caption"><%= t "questions.vote_button.vote", scope: "decidim" %></div>
            <% end %>
          <% else %>
            <%= link_to "#", class: "card__button button expanded", id: "vote_button" do %>
              <div class="vote-button-caption"><%= t "questions.vote_button.vote", scope: "decidim" %></div>
            <% end %>
          <% end %>
        <% else %>
          <%= authorized_vote_modal_button(question, remote: true, class: "button expanded light button--sc") do %>
            <%= t("questions.vote_button.verification_required", scope: "decidim") %>
          <% end %>
        <% end %>
      <% elsif question.consultation.active? %>
        <%= logged_button_to decidim_consultations.question_question_votes_path(question),
                             class: "card__button button expanded",
                             data: { disable: true },
                             id: "vote_button" do %>
          <div class="vote-button-caption">
            <%= t("questions.vote_button.vote", scope: "decidim") %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="columns mediumlarge-4 show-for-mediumlarge next-question">
      <%= display_next_previous_button(:next, "float-right") %>
    </div>
  </div>

  <div class="row column section hide-for-mediumlarge">
    <div class="small-buttons">
      <div class="columns small-6 previous-question">
        <%= display_next_previous_button(:previous, "expanded") %>
      </div>
      <div class="columns small-6 next-question">
        <%= display_next_previous_button(:next, "expanded") %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "decidim/consultations/questions/vote_modal", locals: { question: question } %>
<%= render partial: "decidim/consultations/questions/vote_modal_confirm", locals: { question: question } %>
<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_consultations" %>
<% end %>
