<div class="reveal" data-reveal id="question-vote-modal">
  <div class="reveal__header">
    <h3 class="reveal__title">
      <%= t "questions.vote_modal.title", scope: "decidim" %>
    </h3>
    <button class="close-button" data-close aria-label="<%= t "questions.vote_modal.close_modal", scope: "decidim" %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p><%= t "questions.vote_modal.contextual_help", scope: "decidim" %></p>
  <div class="card card--secondary">
    <div class="card__content">
      <h4 class="heading5 text-center"><%= translated_attribute(question.title).html_safe %></h4>
    </div>
  </div>

  <% question.responses.each do |response| %>
    <div class="row">
      <div class="columns medium-8 medium-offset-2">
        <button class="button hollow expanded response-title"
                data-response-id="<%= response.id %>">
          <%= translated_attribute response.title %>
        </button>
      </div>
    </div>
  <% end %>
</div>
