<div class="form__wrapper">
  <div class="card" data-component="accordion" id="accordion-<%= title %>">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-<%= title %>" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="<%= title %>">
          <%= title %>
        </h2>
      </button>
    </div>

    <div id="panel-<%= title %>" class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :description %>
      </div>

      <div class="row">
        <div class="columns xlarge-6">
          <%= form.datetime_field :start_date %>
        </div>

        <div class="columns xlarge-6">
          <%= form.datetime_field :end_date %>
        </div>
      </div>

      <div class="row">
        <div class="columns xlarge-6 slug">
          <%= form.text_field :cta_path %>
          <p class="help-text"><%== t(".cta_path_help", url: decidim_form_slug_url("processes/" + current_participatory_process.slug, form.object.cta_path)) %></p>
        </div>

        <div class="columns xlarge-6">
          <%= form.translated :text_field, :cta_text %>
          <p class="help-text"><%= t(".cta_text_help") %></p>
        </div>
      </div>
    </div>
  </div>

</div>
