<div class="columns mediumlarge-4 hidden-section p-sm">
  <div class="medium-8">
    <%= follow_button_for(model, true) %>
    <% if amendmendment_creation_enabled? || visible_emendations.any? %>
      <div class="button-group button-group--collapse mb-s row collapse amend-buttons">
        <%= link_to resource_amendments_path, class: "column medium-4 button light secondary" do %>
          <%= visible_emendations.count %>
        <% end %>
        <%= action_authorized_link_to :amend, amend_resource_path, resource: model, data: { "redirect_url" => amend_resource_path }, class: "column button hollow secondary button--sc", disabled: amend_button_disabled? do %>
          <%= t("amend", scope: "decidim.proposals.participatory_text_proposal.buttons") %>
        <% end %>
      </div>
    <% end %>
    <% if component_settings.comments_enabled? %>
      <div class="button-group button-group--collapse row collapse comment-buttons">
        <% if current_settings.comments_blocked? %>
          <%= content_tag :button, class: "column medium-4 button light secondary" do %>
            <%= icon "comment-square", class: "icon--small", aria_label: t("comments", scope: "decidim.proposals.participatory_text_proposal.buttons"), role: "img" %>
            <%= model.comments_count %>
          <% end %>
          <%= content_tag :button, t("comment", scope: "decidim.proposals.participatory_text_proposal.buttons"), class: "column button hollow secondary button--sc disabled", disabled: true, title: t("comment", scope: "decidim.proposals.participatory_text_proposal.buttons") %>
        <% else %>
          <%= link_to resource_comments_path, class: "column medium-4 button light secondary" do %>
            <%= icon "comment-square", class: "icon--small", aria_label: t("comments", scope: "decidim.proposals.participatory_text_proposal.buttons"), role: "img" %> <%= model.comments_count %>
          <% end %>
          <%= action_authorized_link_to :comment, resource_comments_path, resource: model, class: "column button hollow secondary button--sc" do %>
            <%= t("comment", scope: "decidim.proposals.participatory_text_proposal.buttons") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
