<%
@title = "Decidim Admin"
@activesection = "processes"
@activepage = "process-components"
@activesubpage = "component-meetings-initial"
%>

<%= partial "template_top" %>
<div class="layout-nav">
  <%= partial "process_sub_nav" %>
</div>
<div class="layout-content has-process-title">
  <div class="container">
    <%= partial "process_title" %>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">Encuentros</h2>
      </div>
      <div class="card-section">
        <form class="form grid-container">
          <div class="grid-x">
            <div class="cell">
              <% content_for :label, flush: true do %>
                <label for="">Title *</label>
              <% end %>
              <% content_for :content, flush: true do %>
                <input type="text">
              <% end %>
              <%= render layout: "admin/components/lang-tabs" do %><% end %>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <% content_for :label, flush: true do %>
                <label for="">Description *</label>
              <% end %>
              <% content_for :content, flush: true do %>
                <textarea rows="6"></textarea>
              <% end %>
              <%= render layout: "admin/components/lang-tabs" do %><% end %>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <label>Dirección *</label>
              <input type="text">
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <% content_for :label, flush: true do %>
                <label for="">Localización *</label>
              <% end %>
              <% content_for :content, flush: true do %>
                <input type="text">
              <% end %>
              <%= render layout: "admin/components/lang-tabs" do %><% end %>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <% content_for :label, flush: true do %>
                <label for="">Location hints</label>
              <% end %>
              <% content_for :content, flush: true do %>
                <input type="text">
              <% end %>
              <%= render layout: "admin/components/lang-tabs" do %><% end %>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              <label>Start time *</label>
              <input type="text" value="<%= Faker::Time.forward(7).strftime("%m/%d/%Y %R") %>">
            </div>
            <div class="cell medium-6">
              <label>End time *</label>
              <input type="text" value="<%= Faker::Time.forward(7).strftime("%m/%d/%Y %R") %>">
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              <label>Category</label>
              <select>
                <option selected="selected" value="en"><%= Faker::TvShows::GameOfThrones.house %></option>
                <%= 3.times do %>
                  <option value="ca"><%= Faker::TvShows::GameOfThrones.house %></option>
                <% end %>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">Agenda</h2>
      </div>
      <div class="card-section">
        <div class="grid-x align-center p-s">
          La agenda está actualmente vacía...<a href="">&nbsp;añade un ítem</a>
        </div>
      </div>
    </div>
    <div class="grid-x align-center mt-sm">
      <button class="button">Actualizar</button>
    </div>
  </div>
</div>
<%= partial "template_bottom" %>
