<%
@title = "Decidim Admin"
@activesection = "processes"
@activepage = "process-components"
@activesubpage = "component-meetings-with-content"
%>

<%= partial "template_top" %>
<div class="layout-nav">
  <%= partial "process_sub_nav" %>
</div>
<div class="layout-content has-process-title">
  <div class="container">
    <%= partial "process_title" %>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">Encuentros</h2>
      </div>
      <div class="card-section">
        <form class="form grid-container">
          <div class="grid-x">
            <div class="cell">
              <% content_for :label, flush: true do %>
                <label for="">Title *</label>
              <% end %>
              <% content_for :content, flush: true do %>
                <input type="text">
              <% end %>
              <%= render layout: "admin/components/lang-tabs" do %><% end %>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <% content_for :label, flush: true do %>
                <label for="">Description *</label>
              <% end %>
              <% content_for :content, flush: true do %>
                <textarea rows="6"></textarea>
              <% end %>
              <%= render layout: "admin/components/lang-tabs" do %><% end %>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <label>Dirección *</label>
              <input type="text">
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <% content_for :label, flush: true do %>
                <label for="">Localización *</label>
              <% end %>
              <% content_for :content, flush: true do %>
                <input type="text">
              <% end %>
              <%= render layout: "admin/components/lang-tabs" do %><% end %>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <% content_for :label, flush: true do %>
                <label for="">Location hints</label>
              <% end %>
              <% content_for :content, flush: true do %>
                <input type="text">
              <% end %>
              <%= render layout: "admin/components/lang-tabs" do %><% end %>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              <label>Start time *</label>
              <input type="text" value="<%= Faker::Time.forward(7).strftime("%m/%d/%Y %R") %>">
            </div>
            <div class="cell medium-6">
              <label>End time *</label>
              <input type="text" value="<%= Faker::Time.forward(7).strftime("%m/%d/%Y %R") %>">
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              <label>Category</label>
              <select>
                <option selected="selected" value="en"><%= Faker::TvShows::GameOfThrones.house %></option>
                <%= 3.times do %>
                  <option value="ca"><%= Faker::TvShows::GameOfThrones.house %></option>
                <% end %>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">
          <div class="flex--sbc flex-gap--1">
            Agenda
            <button class="button tiny" type="button">Nuevo</button>
          </div>
        </h2>
      </div>
      <div class="card-section p-none">
        <div class="agenda flex-container flex-dir-column">
          <% 6.times do %>
            <div class="grid-x grid-padding-x pt-s pb-s">
              <div class="cell shrink text-center"><%= icon "move" %></div>
              <div class="cell small-2"><%= Faker::Time.forward(7, :morning).strftime("%R") %>-<%= Faker::Time.forward(7, :evening).strftime("%R") %>&nbsp;<small>(<%= Faker::Number.between(from: 10, to: 180) %> min)</small></div>
              <div class="cell auto"><strong><%= Faker::Movies::StarWars.quote[0..50] %></strong>&nbsp;<small><%= Faker::Movies::StarWars.quote %></small></div>
              <div class="cell shrink text-center"><%= icon "circle-x" %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="grid-x align-center mt-sm">
      <button class="button">Actualizar</button>
    </div>
  </div>
</div>
<%= partial "template_bottom" %>
