<%
@title = "Decidim Admin"
@activesection = "processes"
@activepage = "process-components"
@activesubpage = "component-meetings-minutes"
%>

<%= partial "template_top" %>
<div class="layout-nav">
  <%= partial "process_sub_nav" %>
</div>
<div class="layout-content has-process-title">
  <div class="container">
    <%= partial "process_title" %>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title flex--sbc">
          <div>
            Meetings
          </div>
          <div class="flex--cc flex-gap--1">
            <button type="button" class="button alert light tiny">Destruir</button>
            <button type="button" class="button tiny">Nuevo</button>
          </div>
        </h2>
      </div>
      <div class="card-section">
        <table class="table-list table-list--selectable">
            <thead>
              <tr>
                <th><input type="checkbox"></th>
                <th>Título</th>
                <th>Fecha</th>
                <th>Agenda</th>
                <th>Minutos</th>
                <th>Cerrar</th>
                <th>actions</th>
              </tr>
            </thead>
            <tbody>
              <% 5.times do %>
                <tr>
                  <td><input type="checkbox"></td>
                  <td><%= Faker::TvShows::FamilyGuy.quote %></td>
                  <td><%= Faker::Date.forward(1).strftime("%d/%m/%y") %>&nbsp;&#8212;&nbsp;<%= Faker::Time.forward(1).strftime("%R") %>&nbsp;-&nbsp;<%= Faker::Time.forward(1).strftime("%R") %></td>
                  <td><u>Gestionar</u></td>
                  <td><%= Faker::Boolean.boolean(0.5) ? raw("<u>Gestionar</u>") : raw("&#8212;") %></td>
                  <td><u>Cerrar</u></td>
                  <td>
                    <div class="flex--cc flex-gap--1">
                      <%= icon "eye" %>
                      <%= icon "people" %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title flex--sbc">
          <div>
            Meetings cerrados
          </div>
          <div class="flex--cc flex-gap--1">
            <button type="button" class="button alert light tiny">Destruir</button>
            <button type="button" class="button tiny">Nuevo</button>
          </div>
        </h2>
      </div>
      <div class="card-section">
        <table class="table-list table-list--selectable">
            <thead>
              <tr>
                <th><input type="checkbox"></th>
                <th>Título</th>
                <th>Fecha</th>
                <th>Agenda</th>
                <th>Informes</th>
                <th>actions</th>
              </tr>
            </thead>
            <tbody>
              <% 5.times do %>
                <tr>
                  <td><input type="checkbox"></td>
                  <td><%= Faker::TvShows::FamilyGuy.quote %></td>
                  <td><%= Faker::Date.forward(1).strftime("%d/%m/%y") %>&nbsp;&#8212;&nbsp;<%= Faker::Time.forward(1).strftime("%R") %>&nbsp;-&nbsp;<%= Faker::Time.forward(1).strftime("%R") %></td>
                  <td><u>Ver</u></td>
                  <td><%= Faker::Boolean.boolean(0.25) ? raw("<u>Ver</u>") : raw("&#8212;") %></td>
                  <td>
                    <div class="flex--cc flex-gap--1">
                      <%= icon "eye" %>
                      <%= icon "people" %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<%= partial "template_bottom" %>
