<%
@title = "Decidim Admin"
@activesection = "processes"
@activepage = "process-components"
@activesubpage = "component-meetings-edit-item"
%>

<%= partial "template_top" %>
<div class="layout-nav">
  <%= partial "process_sub_nav" %>
</div>
<div class="layout-content has-process-title">
  <div class="container">
    <%= partial "process_title" %>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">
          <div class="flex--sbc">
            <div class="grid-x align-middle">
              <u>Encuentros</u>&nbsp;<%= icon "arrow-right" %>&nbsp;Agenda
            </div>
          </div>
        </h2>
      </div>
      <div class="card-section">
        <div class="grid-x card-title">
          <div class="cell small-2"><strong>Start date</strong></div>
          <div class="cell small-2"><strong>End date</strong></div>
        </div>
        <div class="grid-x text-muted">
          <div class="cell small-2"><%= Faker::Time.forward(7).strftime("%m/%d/%Y %R") %></div>
          <div class="cell small-2"><%= Faker::Time.forward(7).strftime("%m/%d/%Y %R") %></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">
          <div class="flex--sbc flex-gap--1">
            <div><%= icon "move", class: "text-muted" %>&nbsp;ITEM</div>
            <button class="button tiny alert light" type="button">Borrar</button>
          </div>
        </h2>
      </div>
      <div class="card-section">
        <form class="form grid-container">
          <div class="grid-x">
            <div class="cell auto">
              <% content_for :label, flush: true do %>
                <label for="">Title *</label>
              <% end %>
              <% content_for :content, flush: true do %>
                <input type="text">
              <% end %>
              <%= render layout: "admin/components/lang-tabs" do %><% end %>
            </div>
            <div class="cell small-2">
              <div class="grid-container">
                <label for="">Duration *</label>
                <div class="grid-x align-middle">
                  <input class="nomargin cell auto" type="text">
                  <span class="cell auto text-muted">&nbsp;minutes</span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <% content_for :label, flush: true do %>
                <label for="">Description *</label>
              <% end %>
              <% content_for :content, flush: true do %>
                <textarea rows="6"></textarea>
              <% end %>
              <%= render layout: "admin/components/lang-tabs" do %><% end %>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <label>Fichero</label>
              <input type="file">
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <ul></ul>
            </div>
          </div>
          <div class="grid-x mt-s">
            <div class="card">
              <div class="card-divider">
                <h2 class="card-title">
                  <div class="flex--sbc flex-gap--1">
                    Items
                    <button class="button tiny" type="button">Nuevo</button>
                  </div>
                </h2>
              </div>
              <div class="card-section">
                <div class="grid-x align-center p-s">
                  La agenda está actualmente vacía...<a href="">&nbsp;añade un subitem</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="grid-x align-center mt-sm absolutes">
      <button class="button left">Añadir item</button>
      <button class="button">Actualizar</button>
    </div>
  </div>
</div>
<%= partial "template_bottom" %>
