<div class="row column">
  <%= icon "account-login" %>
  <%= icon "account-logout" %>
  <%= icon "action-redo" %>
  <%= icon "action-undo" %>
  <%= icon "actions" %>
  <%= icon "align-center" %>
  <%= icon "align-left" %>
  <%= icon "align-right" %>
  <%= icon "aperture" %>
  <%= icon "arrow-bottom" %>
  <%= icon "arrow-circle-bottom" %>
  <%= icon "arrow-circle-left" %>
  <%= icon "arrow-circle-right" %>
  <%= icon "arrow-circle-top" %>
  <%= icon "arrow-left" %>
  <%= icon "arrow-right" %>
  <%= icon "arrow-thick-bottom" %>
  <%= icon "arrow-thick-left" %>
  <%= icon "arrow-thick-right" %>
  <%= icon "arrow-thick-top" %>
  <%= icon "arrow-top" %>
  <%= icon "audio-spectrum" %>
  <%= icon "audio" %>
  <%= icon "badge" %>
  <%= icon "ban" %>
  <%= icon "bar-chart" %>
  <%= icon "basket" %>
  <%= icon "battery-empty" %>
  <%= icon "battery-full" %>
  <%= icon "beaker" %>
  <%= icon "bell" %>
  <%= icon "bluetooth" %>
  <%= icon "bold" %>
  <%= icon "bolt" %>
  <%= icon "book" %>
  <%= icon "bookmark" %>
  <%= icon "box" %>
  <%= icon "briefcase" %>
  <%= icon "british-pound" %>
  <%= icon "browser" %>
  <%= icon "brush" %>
  <%= icon "budgets" %>
  <%= icon "bug" %>
  <%= icon "bullhorn" %>
  <%= icon "calculator" %>
  <%= icon "calendar" %>
  <%= icon "camera-slr" %>
  <%= icon "caret-bottom" %>
  <%= icon "caret-left" %>
  <%= icon "caret-right" %>
  <%= icon "caret-top" %>
  <%= icon "cart" %>
  <%= icon "chat" %>
  <%= icon "check" %>
  <%= icon "chevron-bottom" %>
  <%= icon "chevron-left" %>
  <%= icon "chevron-right" %>
  <%= icon "chevron-top" %>
  <%= icon "circle-check" %>
  <%= icon "circle-x" %>
  <%= icon "clipboard" %>
  <%= icon "clock" %>
  <%= icon "cloud-download" %>
  <%= icon "cloud-upload" %>
  <%= icon "cloud" %>
  <%= icon "cloudy" %>
  <%= icon "code" %>
  <%= icon "cog" %>
  <%= icon "collapse-down" %>
  <%= icon "collapse-left" %>
  <%= icon "collapse-right" %>
  <%= icon "collapse-up" %>
  <%= icon "command" %>
  <%= icon "comment-square" %>
  <%= icon "compass" %>
  <%= icon "contrast" %>
  <%= icon "copywriting" %>
  <%= icon "credit-card" %>
  <%= icon "crop" %>
  <%= icon "dashboard" %>
  <%= icon "data-transfer-download" %>
  <%= icon "data-transfer-upload" %>
  <%= icon "debates" %>
  <%= icon "delete" %>
  <%= icon "dial" %>
  <%= icon "document" %>
  <%= icon "dollar" %>
  <%= icon "double-quote-sans-left" %>
  <%= icon "double-quote-sans-right" %>
  <%= icon "double-quote-serif-left" %>
  <%= icon "double-quote-serif-right" %>
  <%= icon "droplet" %>
  <%= icon "eject" %>
  <%= icon "elevator" %>
  <%= icon "ellipses" %>
  <%= icon "envelope-closed" %>
  <%= icon "envelope-open" %>
  <%= icon "euro" %>
  <%= icon "excerpt" %>
  <%= icon "expand-down" %>
  <%= icon "expand-left" %>
  <%= icon "expand-right" %>
  <%= icon "expand-up" %>
  <%= icon "external-link" %>
  <%= icon "eye" %>
  <%= icon "eyedropper" %>
  <%= icon "facebook" %>
  <%= icon "file" %>
  <%= icon "fire" %>
  <%= icon "flag" %>
  <%= icon "flash" %>
  <%= icon "folder" %>
  <%= icon "fork" %>
  <%= icon "fullscreen-enter" %>
  <%= icon "fullscreen-exit" %>
  <%= icon "github" %>
  <%= icon "globe" %>
  <%= icon "google" %>
  <%= icon "graph" %>
  <%= icon "grid-four-up" %>
  <%= icon "grid-three-up" %>
  <%= icon "grid-two-up" %>
  <%= icon "hard-drive" %>
  <%= icon "header" %>
  <%= icon "headphones" %>
  <%= icon "heart" %>
  <%= icon "home" %>
  <%= icon "image" %>
  <%= icon "inbox" %>
  <%= icon "infinity" %>
  <%= icon "info" %>
  <%= icon "information" %>
  <%= icon "instagram" %>
  <%= icon "italic" %>
  <%= icon "justify-center" %>
  <%= icon "justify-left" %>
  <%= icon "justify-right" %>
  <%= icon "key" %>
  <%= icon "laptop" %>
  <%= icon "layers" %>
  <%= icon "lightbulb" %>
  <%= icon "link-broken" %>
  <%= icon "link-intact" %>
  <%= icon "list-rich" %>
  <%= icon "list" %>
  <%= icon "location" %>
  <%= icon "lock-locked" %>
  <%= icon "lock-unlocked" %>
  <%= icon "loop-circular" %>
  <%= icon "loop-square" %>
  <%= icon "loop" %>
  <%= icon "magnifying-glass" %>
  <%= icon "map-marker" %>
  <%= icon "map" %>
  <%= icon "media-pause" %>
  <%= icon "media-play" %>
  <%= icon "media-record" %>
  <%= icon "media-skip-backward" %>
  <%= icon "media-skip-forward" %>
  <%= icon "media-step-backward" %>
  <%= icon "media-step-forward" %>
  <%= icon "media-stop" %>
  <%= icon "medical-cross" %>
  <%= icon "meetings" %>
  <%= icon "menu" %>
  <%= icon "microphone" %>
  <%= icon "minus" %>
  <%= icon "monitor" %>
  <%= icon "moon" %>
  <%= icon "move" %>
  <%= icon "musical-note" %>
  <%= icon "paperclip" %>
  <%= icon "pencil" %>
  <%= icon "people" %>
  <%= icon "person" %>
  <%= icon "phone" %>
  <%= icon "pie-chart" %>
  <%= icon "pin" %>
  <%= icon "play-circle" %>
  <%= icon "plus" %>
  <%= icon "power-standby" %>
  <%= icon "print" %>
  <%= icon "process" %>
  <%= icon "project" %>
  <%= icon "proposals" %>
  <%= icon "pulse" %>
  <%= icon "puzzle-piece" %>
  <%= icon "question-mark" %>
  <%= icon "rain" %>
  <%= icon "random" %>
  <%= icon "reload" %>
  <%= icon "resize-both" %>
  <%= icon "resize-height" %>
  <%= icon "resize-width" %>
  <%= icon "rss-alt" %>
  <%= icon "rss" %>
  <%= icon "script" %>
  <%= icon "share-boxed" %>
  <%= icon "share" %>
  <%= icon "shield" %>
  <%= icon "signal" %>
  <%= icon "signpost" %>
  <%= icon "sort-ascending" %>
  <%= icon "sort-descending" %>
  <%= icon "spreadsheet" %>
  <%= icon "star" %>
  <%= icon "sun" %>
  <%= icon "tablet" %>
  <%= icon "tag" %>
  <%= icon "tags" %>
  <%= icon "target" %>
  <%= icon "task" %>
  <%= icon "terminal" %>
  <%= icon "text" %>
  <%= icon "thumb-down" %>
  <%= icon "thumb-up" %>
  <%= icon "timer" %>
  <%= icon "transfer" %>
  <%= icon "trash" %>
  <%= icon "twitter" %>
  <%= icon "underline" %>
  <%= icon "verified-badge" %>
  <%= icon "vertical-align-bottom" %>
  <%= icon "vertical-align-center" %>
  <%= icon "vertical-align-top" %>
  <%= icon "video" %>
  <%= icon "volume-high" %>
  <%= icon "volume-low" %>
  <%= icon "volume-off" %>
  <%= icon "warning" %>
  <%= icon "wifi" %>
  <%= icon "wrench" %>
  <%= icon "x" %>
  <%= icon "yen" %>
  <%= icon "youtube" %>
  <%= icon "zoom-in" %>
  <%= icon "zoom-out" %>
</div>
