<%
@title = "Decidim Admin"
@activesection = "processes"
@activepage = "process-steps"
%>

<%= partial "template_top" %>

<div class="layout-nav">
  <%= partial "process_sub_nav" %>
</div>
<div class="layout-content has-process-title">
  <div class="container">
    <%= partial "process_title" %>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">Fases <%= link_to "Añadir", page_path("process-steps-new"), class: "Añadir" %></h2>
      </div>
      <div class="card-section">
        <div class="table-scroll">
          <table class="table-list">
            <thead>
              <tr>
                <th>Título</th>
                <th>Inicio</th>
                <th>Cierre</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                   <a href="#">Fase 1: Información</a>
                </td>
                <td>
                  08/01/17
                </td>
                <td>
                  15/01/17
                </td>
                <td class="table-list__actions">
                  <a href="#" data-tooltip data-disable-hover="false" title="Editar" class="action-icon"><%= icon "pencil" %></a>
                  <a href="#" data-tooltip data-disable-hover="false" title="Eliminar" class="action-icon action-icon--remove"><%= icon "circle-x" %></a>
                </td>
              </tr>
              <tr>
                <td>
                  <span data-tooltip data-disable-hover="false" title="Fase activa">
                    <span class="icon-active"></span>
                  </span>
                  <a href="#">Fase 2: Recogida de propuestas</a>
                </td>
                <td>
                  08/02/17
                </td>
                <td>
                  08/06/17
                </td>
                <td class="table-list__actions">
                  <a href="#" data-tooltip data-disable-hover="false" title="Editar" class="action-icon"><%= icon "pencil" %></a>
                  <a href="#" data-tooltip data-disable-hover="false" title="Eliminar" class="action-icon action-icon--remove"><%= icon "circle-x" %></a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">Fase 3: Análisis de propuestas</a>
                </td>
                <td>
                  08/06/17
                </td>
                <td>
                  12/09/17
                </td>
                <td class="table-list__actions">
                  <a href="#" data-tooltip data-disable-hover="false" title="Editar" class="action-icon"><%= icon "pencil" %></a>
                  <a href="#" data-tooltip data-disable-hover="false" title="Eliminar" class="action-icon action-icon--remove"><%= icon "circle-x" %></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial "template_bottom" %>
