<%
@title = "Decidim Admin"
@activesection = "processes"
@activepage = "process-pages"
%>

<%= partial "template_top" %>
<div class="layout-nav">
  <%= partial "process_sub_nav" %>
</div>
<div class="layout-content has-process-title">
  <div class="container">
    <%= partial "process_title" %>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">Páginas del proceso <a href="#" class="button tiny button--title">Añadir</a></h2>
      </div>
      <div class="card-section">
        <div class="table-scroll">
          <table class="table-list">
            <thead>
              <tr>
                <th>Título</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Información de la votación
                </td>
                <td class="table-list__actions">
                  <a href="#" data-tooltip data-disable-hover="false" title="Editar" class="action-icon"><%= icon "pencil" %></a>
                  <a href="#" data-tooltip data-disable-hover="false" title="Ver" class="action-icon"><%= icon "eye" %></a>
                  <a href="#" data-tooltip data-disable-hover="false" title="Eliminar" class="action-icon action-icon--remove"><%= icon "circle-x" %></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial "template_bottom" %>
