<%
@title = "Decidim Admin"
@activesection = "processes"
@activepage = "process-steps"
%>

<%= partial "template_top" %>

<div class="layout-nav">
  <%= partial "process_sub_nav" %>
</div>
<div class="layout-content has-process-title">
  <div class="container">
    <%= partial "process_title" %>
    <form class="form">
      <div class="card">
        <div class="card-divider">
          <h2 class="card-title">Nueva fase</h2>
        </div>
        <div class="card-section">
            <div class="row column">
              <div class="label--tabs">
                <label for="process_title">
                  Título
                </label>
                <ul class="tabs tabs--lang" data-tabs id="example-tabs">
                  <li class="tabs-title is-active"><a href="#desc-1" aria-selected="true">CA</a></li>
                  <li class="tabs-title"><a href="#desc-2">ES</a></li>
                  <li class="tabs-title"><a href="#desc-3">EN</a></li>
                </ul>
              </div>
              <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="desc-1">
                  <input type="text">
                </div>
                <div class="tabs-panel" id="desc-2">
                  <input type="text">
                </div>
                <div class="tabs-panel" id="desc-3">
                  <input type="text">
                </div>
              </div>
            </div>

            <div class="row column">
              <div class="label--tabs">
                <label for="organization_shortdesc">
                  Short description
                </label>
                <ul class="tabs tabs--lang" data-tabs id="example-tabs-3">
                  <li class="tabs-title is-active"><a href="#wel-1" aria-selected="true">CA</a></li>
                  <li class="tabs-title"><a href="#wel-2">ES</a></li>
                  <li class="tabs-title"><a href="#wel-3">EN</a></li>
                </ul>
              </div>
              <div class="tabs-content" data-tabs-content="example-tabs-3">
                <div class="tabs-panel is-active" id="wel-1">
                  <div class="textarea-char-counter">
                    <textarea rows="4">CA hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</textarea>
                    <span class="char-counter">61</span>
                  </div>
                </div>
                <div class="tabs-panel" id="wel-2">
                  <div class="textarea-char-counter">
                    <textarea rows="4">ES hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.</textarea>
                    <span class="char-counter char-counter--excess">-154</span>
                  </div>
                </div>
                <div class="tabs-panel" id="wel-3">
                  <div class="textarea-char-counter">
                    <textarea rows="4">EN hendrerit asdr arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</textarea>
                    <span class="char-counter">65</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row column">
              <div class="label--tabs">
                <label for="organization_desc">
                  Description
                </label>
                <ul class="tabs tabs--lang" data-tabs id="example-tabs-4">
                  <li class="tabs-title is-active"><a href="#wel-2-1" aria-selected="true">CA</a></li>
                  <li class="tabs-title"><a href="#wel-2-2">ES</a></li>
                  <li class="tabs-title"><a href="#wel-2-3">EN</a></li>
                </ul>
              </div>
              <div class="tabs-content" data-tabs-content="example-tabs-4">
                <div class="tabs-panel is-active" id="wel-2-1">
                  <div class="textarea-char-counter">
                    <textarea rows="10">CA hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</textarea>
                    <span class="char-counter">61</span>
                  </div>
                </div>
                <div class="tabs-panel" id="wel-2-2">
                  <div class="textarea-char-counter">
                    <textarea rows="10">ES hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.</textarea>
                    <span class="char-counter char-counter--excess">-154</span>
                  </div>
                </div>
                <div class="tabs-panel" id="wel-2-3">
                  <div class="textarea-char-counter">
                    <textarea rows="10">EN hendrerit asdr arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</textarea>
                    <span class="char-counter">65</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="column xlarge-6">
                <label for="process-date">Fecha de inicio</label>
                <input type="date" name="process-date" placeholder="dd/mm/aaaa" id="process-date">
              </div>
              <div class="column xlarge-6">
                <label for="process-date">Fecha de cierre</label>
                <input type="date" name="process-date" placeholder="dd/mm/aaaa" id="process-date">
              </div>
            </div>
        </div>
      </div>
      <div class="button--double form-general-submit">
        <a href="#" class="button">Crear fase</a>
        <%= link_to "Cancelar", page_path("settings"), class: "Cancelar" %>
      </div>
    </div>
  </form>
</div>
<%= partial "template_bottom" %>
