<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
    </h2>

    <h2 class="card-title">
      <div class="inline-block" style="float: right; text-align: right">
        <table>
          <tbody>
          <tr>
            <td>
              <%= link_to moderated_users_path(blocked: false), class: "btn btn-small" do %>
                <%= t("decidim.admin.moderated_users.tabs.unblocked") %>
              <% end %>
            </td>
            <td>|</td>
            <td>
              <%= link_to moderated_users_path(blocked: true), class: "btn btn-small" do %>
                <%= t("decidim.admin.moderated_users.tabs.blocked") %>
              <% end %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= t(".name") %></th>
          <th><%= t(".nickname") %></th>
          <th><%= t(".reason") %></th>
          <th><%= sort_link(query, :report_count, t(".reports"), default_order: :desc) %></th>
          <th class="actions"><%= t(".actions.title") %></th>
        </tr>
        </thead>
        <tbody>
        <% @moderated_users.each do |moderation| %>
          <tr data-id="<%= moderation.id %>">
            <% if moderation.user.nickname.present? %>
              <td><%= link_to moderation.user.name, decidim.profile_path(moderation.user.nickname) %></td>
              <td><%= link_to moderation.user.nickname, decidim.profile_path(moderation.user.nickname) %></td>
            <% else %>
              <td><%= moderation.user.name %></td>
              <td><%= moderation.user.nickname %></td>
            <% end %>
            <td> <%#= moderation.reason %>
              <% reports = moderation.reports.map { |report| render "report", report: report } %>
              <%= safe_join(reports, ",") %>
            </td>
            <td>
              <%= moderation.report_count %>
            </td>

            <td class="actions">
              <% if allowed_to?(:unreport, :moderate_users) %>
                <%= icon_link_to "action-undo",  ignore_moderated_user_path(id: moderation),  t(".actions.unreport"),  class: "action-icon--unreport",  method: :put %>
              <% end %>
              <% if allowed_to?(:block, :moderate_users) %>
                <% if moderation.user.blocked? %>
                  <%= icon_link_to "ban", user_block_path(user_id: moderation.user.id), t(".actions.unblock"), class: "action-icon action-icon--disabled", method: :delete %>
                <% else %>
                  <%= icon_link_to "ban", new_user_block_path(user_id: moderation.user.id), t(".actions.block"), class: "action-icon action-icon" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
