<div class="card" data-component="accordion" id="accordion-layout_appearance_title">
  <div class="card-divider">
    <button class="card-divider-button" data-open="true" data-controls="panel-layout_appearance_title" type="button">
      <%= icon "arrow-right-s-line" %>
      <h2 class="card-title" id="layout_appearance_title">
        <%= t("organization_logos", scope: "decidim.admin.organization.form.logos") %>
      </h2>
    </button>
  </div>

  <div id="panel-layout_appearance_title" class="card-section">
    <div class="row column">
      <div>
        <label for="minimap"><%= t("preview", scope: "decidim.admin.organization.form.logos") %></label>
        <%= render "decidim/admin/organization/form/minimap" %>
      </div>

      <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <%= form.upload(
                :favicon,
                dimensions_info: current_organization.attached_uploader(:favicon).dimensions_info,
                extension_allowlist: current_organization.attached_uploader(:favicon).extension_allowlist,
                help_i18n_scope: "decidim.forms.file_help.icon",
                button_class: "button button__sm button__transparent-secondary"
              ) %>
        </div>

        <div>
          <%= form.upload(
                :logo,
                dimensions_info: current_organization.attached_uploader(:logo).dimensions_info,
                extension_allowlist: current_organization.attached_uploader(:logo).extension_allowlist,
                button_class: "button button__sm button__transparent-secondary"
              ) %>
        </div>

        <div>
          <%= form.upload(
                :official_img_footer,
                dimensions_info: current_organization.attached_uploader(:official_img_footer).dimensions_info,
                extension_allowlist: current_organization.attached_uploader(:official_img_footer).extension_allowlist,
                button_class: "button button__sm button__transparent-secondary"
              ) %>
        </div>
      </div>
    </div>
    <div class="row column">
      <div class="preview-official_url">
        <%= form.text_field :official_url %>
      </div>
    </div>
  </div>
</div>
