<div id="<%= element_id %>" class="progress-bar__container <%= options[:class] %>" data-progress-bar>
  <div class="progress-bar__number">
    <span><%= progress %></span>
    <%= content_tag :span, total if total != 0 %>
  </div>

  <%= content_tag :div, units_name_text, class: "progress-bar__units" if units_name %>

  <% if total != 0 %>
    <div class="progress-bar" role="progressbar" tabindex="0" aria-label="<%= units_name.present? ? units_name_text : t("decidim.shared.progress") %>" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuetext="<%= percentage %> %" aria-valuemax="<%= total %>">
      <div style="width: <%= percentage %>%"></div>
    </div>
  <% end %>
</div>
