<div id="js-budget-change-projects-actions" class="hide js-bulk-action-form">
  <%= form_tag(update_budget_budget_projects_path, method: :post, remote: true, id: "js-form-budget-change-projects", class: "form form-defaults flex items-center gap-x-2") do %>

    <div class="checkboxes hide">
      <% projects.each do |project| %>
        <%= check_box_tag "project_ids[]", project.id, false, class: "js-check-all-resources js-resource-id-#{project.id}" %>
      <% end %>
    </div>

    <%= budgets_select_tag(:reference_id) %>

    <%= submit_tag(
          t("decidim.budgets.admin.projects.index.update_budget_button"),
          id: "js-submit-budget-change-projects",
          class: "button button__sm button__secondary small button--simple float-left"
        ) %>

    <button id="js-cancel-budget-change-projects" class="button button__sm button__secondary clear compact js-cancel-bulk-action" type="button">
      <%= t("decidim.budgets.admin.projects.index.cancel") %>
    </button>
  <% end %>
</div>
