<div id="js-scope-change-projects-actions" class="hide js-bulk-action-form">
  <%= form_tag(update_scope_budget_projects_path, method: :post, remote: true, id: "js-form-scope-change-projects", class: "form form-defaults flex items-center gap-x-2") do %>

    <div class="hide">
      <% projects.each do |project| %>
        <%= check_box_tag "project_ids[]", project.id, false, class: "js-check-all-resources js-resource-id-#{project.id}" %>
      <% end %>
    </div>

    <%= scopes_select_tag(:scope_id) %>

    <%= submit_tag(
          t("decidim.budgets.admin.projects.index.update_scope_button"),
          id: "js-submit-scope-change-projects",
          class: "button button__sm button__secondary small button--simple float-left"
        ) %>

    <button id="js-cancel-scope-change-projects" class="button button__sm button__secondary js-cancel-bulk-action" type="button">
      <%= t("decidim.budgets.admin.projects.index.cancel") %>
    </button>
  <% end %>
</div>
