<div id="js-scope-change-projects-actions" class="hide js-bulk-action-form">
  <%= form_tag(update_scope_budget_projects_path, method: :post, remote: true, id: "js-form-scope-change-projects", class: "flex--cc flex-gap--1") do %>
    <div class="checkboxes hide">
      <% projects.each do |project| %>
        <%= check_box_tag "project_ids[]", project.id, false, class: "js-check-all-resources js-resource-id-#{project.id}" %>
      <% end %>
    </div>

    <%= scopes_picker_tag(
          :scope_id,
          try(:current_participatory_space)&.scope,
          field: t("models.project.fields.scope", scope: "decidim.budgets")
        ) %>

    <%= submit_tag(
          t("decidim.budgets.admin.projects.index.update_scope_button"),
          id: "js-submit-scope-change-projects",
          class: "button small button--simple float-left"
        ) %>

    <button id="js-cancel-scope-change-projects" class="button tiny clear compact js-cancel-bulk-action" type="button">
      <%= t("decidim.budgets.admin.projects.index.cancel") %>
    </button>
  <% end %>
</div>
