<div class="row column">
  <h4>Input data</h4>
  <pre>
    [
      {
        "key": "2016-02-01T07:42:17-01:00",
        "value": 295
      },
      ...
    ]
  </pre>
  <small><code>key</code> ha de ser una fecha en formato ISO</small>
</div>
<br>
<div class="row column">
  <h4>Versión simple</h4>
  <code>partial "areachart"</code>
</div>
<div class="row mt-s">
  <div class="column medium-6">
    <%= partial "areachart" %>
  </div>
</div>
<br>
<div class="row column">
  <h4>Versión simple con título dentro</h4>
  <code>partial "areachart", title: "Lorem ipsum"</code>
</div>
<div class="row mt-s">
  <div class="column medium-6">
    <%= partial "areachart", title: "Lorem ipsum" %>
  </div>
  <div class="column medium-6">
    <%= partial "areachart", title: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero harum natus ipsa, eum sunt fuga repudiandae necessitatibus deleniti enim atque" %>
  </div>
</div>
<br>
<div class="row column">
  <h4>Versión simple con letra pequeña (poco espacio)</h4>
  <code>partial "areachart", classes: "small"</code>
</div>
<div class="row mt-s">
  <% 4.times do %>
  <div class="column medium-3">
    <%= partial "areachart", classes: "small", title: Faker::Commerce.department(1) %>
  </div>
  <% end %>
</div>
<br>
<div class="row column">
  <h4>Versión con ejes</h4>
  <code>partial "areachart", axis: true</code>
</div>
<div class="row mt-s">
  <% 2.times do %>
  <div class="column medium-6">
    <%= partial "areachart", axis: true, title: Faker::Commerce.department(1) %>
  </div>
  <% end %>
</div>
<br>
<div class="row column">
  <h4>Versión con ejes y letra pequeña (axis: <code>true</code> activa la letra pequeña)</h4>
  <code>partial "areachart", axis: true</code>
</div>
<div class="row mt-s">
  <% 4.times do %>
  <div class="column medium-3">
    <%= partial "areachart", axis: true, title: Faker::Commerce.department(1) %>
  </div>
  <% end %>
</div>
<br>
<div class="row column">
  <h4>Versión sin tooltip (por defecto <code>tip: true</code>)</h4>
  <code>partial "areachart", tip: false</code>
</div>
<div class="row mt-s">
  <div class="column medium-6">
    <%= partial "areachart", title: Faker::Commerce.department(1), tip: false %>
  </div>
  <div class="column medium-6">
    <%= partial "areachart", title: Faker::Commerce.department(1), axis: true, tip: false %>
  </div>
</div>
<br>
<div class="row column">
  <h4>Versión con diferentes ratios</h4>
  <div class="callout warning">
    El <code>aspect ratio</code> es un string de la forma <strong>Integer</strong>:<strong>Integer</strong>. Por defecto el valor es <em>4:3</em>
  </div>
  <h4>16:9</h4>
  <code>partial "areachart", ratio: "16:9"</code>
</div>
<div class="row mt-s">
  <% 2.times do %>
  <div class="column medium-6">
    <%= partial "areachart", ratio: "16:9", title: Faker::Commerce.department(1) %>
  </div>
  <% end %>
</div>
<br>
<div class="row column">
  <h4>11:4</h4>
  <code>partial "areachart", ratio: "11:4"</code>
</div>
<div class="row mt-s">
  <div class="column">
    <%= partial "areachart", ratio: "11:4", title: Faker::Commerce.department(1) %>
  </div>
</div>
<br>
<div class="row column">
  <h4>Adaptables al contenedor</h4>
  <h5>Dos columnas</h5>
</div>
<div class="row">
  <% 2.times do %>
  <div class="column medium-6">
    <%= partial "areachart", title: Faker::Commerce.department(1) %>
  </div>
  <% end %>
</div>
<div class="row column">
  <h5>Tres columnas</h5>
</div>
<div class="row">
  <% 3.times do %>
  <div class="column medium-4">
    <%= partial "areachart", title: Faker::Commerce.department(1) %>
  </div>
  <% end %>
</div>
<br>
<div class="row column">
  <h4>Diferentes colores según su status</h4>
  <code>partial "areachart", classes: "secondary|warning|success|alert", url: "..."</code>
</div>
<div class="row mt-s">
  <div class="column medium-4">
    <%= partial "areachart", classes: "secondary", title: Faker::Commerce.department(1) %>
  </div>
  <div class="column medium-4">
    <%= partial "areachart", classes: "warning", title: Faker::Commerce.department(1) %>
  </div>
  <div class="column medium-4">
    <%= partial "areachart", classes: "success", title: Faker::Commerce.department(1) %>
  </div>
</div>
<br>
<div class="row column">
  <h4>Datos sin agregar (por defecto <code>agg: true</code>)</h4>
  <code>partial "areachart", agg: false, url: "..."</code>
</div>
<div class="row mt-s">
  <div class="column medium-6">
    <%= partial "areachart", agg: false, metric: "areachart-0", title: Faker::Commerce.department(1) %>
  </div>
  <div class="column medium-6">
    <%= partial "areachart", agg: true, metric: "areachart-0", title: Faker::Commerce.department(1) %>
  </div>
</div>
