<div class="row column">
  <h4>Input data</h4>
  <pre>
    [
      {
        "key": "Honduras",
        "value": [
          {
            "key": "banana",
            "value": 41
          },
          ...
        ]
      },
      ...
    ]
  </pre>
</div>
<br>
<div class="row column">
  <h4>Versión simple</h4>
  <code>partial "rowchart", metric: "metrica", title: "Lorem", subtitle: "Ipsum"</code>
</div>
<div class="row column mt-s">
  <%= partial "rowchart", metric: "rowchart-" + SecureRandom.random_number(2).to_s, title: Faker::TvShows::GameOfThrones.character, subtitle: Faker::Lorem.sentence %>
</div>
<br>
<div class="row column">
  <h4>Versión con diferentes ratios</h4>
  <div class="callout warning">
    El <code>aspect ratio</code> es un string de la forma <strong>Integer</strong>:<strong>Integer</strong>. Por defecto el valor es <em>4:3</em>
  </div>
  <h4>16:9</h4>
  <code>partial "rowchart", ratio: "16:9", metric: "metrica"</code>
</div>
<div class="row column mt-s">
  <%= partial "rowchart", ratio: "16:9", metric: "rowchart-" + SecureRandom.random_number(2).to_s, title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence %>
</div>
<div class="row column">
  <h4>5:4</h4>
  <code>partial "rowchart", ratio: "5:4", metric: "metrica"</code>
</div>
<div class="row column mt-s">
  <%= partial "rowchart", ratio: "5:4", metric: "rowchart-" + SecureRandom.random_number(2).to_s, title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence %>
</div>
<br>
<div class="row column">
  <h4>Versión sin título ni subtítulo</h4>
  <code>partial "rowchart", metric: "metrica"</code>
</div>
<div class="row column mt-s">
  <%= partial "rowchart", metric: "rowchart-" + SecureRandom.random_number(2).to_s %>
</div>
<br>
<div class="row column">
  <h4>Versión con muchas categorías (<code>máximo 12</code>)</h4>
  <div class="callout warning">
    Se aumenta el <em>aspect ratio</em> a <strong>1:2</strong> por propósitos de visualización
  </div>
  <code>partial "rowchart", metric: "metrica", ratio: "1:2"</code>
</div>
<div class="row column mt-s">
  <%= partial "rowchart", metric: "rowchart-3", ratio: "1:2", title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence %>
</div>
<br>
<div class="row column">
  <h4>Versión con etiquetas muy largas</h4>
  <code>partial "rowchart", metric: "metrica"</code>
</div>
<div class="row column mt-s">
  <%= partial "rowchart", metric: "rowchart-2", title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence %>
</div>
<br>
<div class="row column">
  <h4>Datos en porcentaje<sup>1</sup> (por defecto <code>percent: false</code>)</h4>
  <code>partial "rowchart", percent: true, metric: "metrica"</code>
</div>
<div class="row mt-s">
  <div class="column medium-9">
    <%= partial "rowchart", percent: false, metric: "rowchart-0", title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence %>
  </div>
  <div class="column medium-9 pull-right">
    <%= partial "rowchart", percent: true, metric: "rowchart-0", title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence %>
  </div>
</div>
<div class="row column">
  <small><sup>1</sup>&nbsp;Ambos gráficos están usando el mismo dataset <code>rowchart-0</code></small>
</div>
<br>
<div class="row column">
  <h4>Diferentes colores según su status</h4>
  <div class="callout warning">
    El color por defecto es el de la variable CSS <code>$proposals</code>
  </div>
  <code>partial "rowchart", classes: "secondary|warning|success|alert", metric: "metrica"</code>
</div>
<div class="row mt-s">
  <div class="column medium-9">
    <%= partial "rowchart", classes: "secondary", metric: "rowchart-" + SecureRandom.random_number(2).to_s, title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence %>
  </div>
  <div class="column medium-9 pull-right">
    <%= partial "rowchart", classes: "warning", metric: "rowchart-" + SecureRandom.random_number(2).to_s, title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence %>
  </div>
  <div class="column medium-9">
    <%= partial "rowchart", classes: "success", metric: "rowchart-" + SecureRandom.random_number(2).to_s, title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence %>
  </div>
  <div class="column medium-9 pull-right">
    <%= partial "rowchart", classes: "alert", metric: "rowchart-" + SecureRandom.random_number(2).to_s, title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence %>
  </div>
</div>
<br>
<div class="row column">
  <h4>Versión sin tooltip (por defecto <code>tip: true</code>)</h4>
  <code>partial "rowchart", metric: "metrica", tip: false</code>
</div>
<div class="row mt-s">
  <div class="column medium-9">
    <%= partial "rowchart", metric: "rowchart-" + SecureRandom.random_number(3).to_s, title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence, tip: false %>
  </div>
  <div class="column medium-9">
    <%= partial "rowchart", metric: "rowchart-" + SecureRandom.random_number(3).to_s, title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence, tip: false %>
  </div>
</div>
<br>
<div class="row column">
  <h4>Adaptables al contenedor</h4>
  <div class="callout warning">
    Debido a la naturaleza del gráfico, mostrar varios en la misma fila puede resultar confuso, debido a la etiquetas
  </div>
</div>
<div class="row">
  <% 2.times do %>
  <div class="column medium-6">
    <%= partial "rowchart", ratio: "1:2", metric: "rowchart-0", title: Faker::Commerce.department(1), subtitle: Faker::Lorem.sentence %>
  </div>
  <% end %>
</div>
