<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t("decidim.admin.titles.authorization_workflows") %>
    </h2>
  </div>
  <div class="card-section">
    <table class="table-list table-list--lastleft">
      <thead>
        <tr>
          <th><%= t("decidim.authorization_handlers.name") %></th>
          <th><%= t("decidim.authorization_handlers.help") %></th>
        </tr>
      </thead>
      <tbody>
        <% @workflows.each do |manifest| %>
          <tr>
            <% workflow = Decidim::Verifications::Adapter.new(manifest) %>
            <td><%= link_to workflow.fullname, workflow.admin_root_path %></td>
            <td>
              <ul>
                <% t("decidim.authorization_handlers.admin.#{workflow.key}.help").each do |tip| %>
                  <li><%= tip %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
