<div class="row">
  <%= form_for(@notifications_settings, url: notifications_settings_path, method: :put, class: "user-form") do |f| %>
    <div class="switch tiny switch-with-label email_on_notification">
      <label>
        <%= f.check_box :email_on_notification, label: false, class: "switch-input" %>
        <span class="switch-paddle"></span>
        <span class="switch-label"><%= t('.email_on_notification') %></span>
      </label>
    </div>
    <div class="switch tiny switch-with-label newsletter_notifications">
      <label>
        <%= f.check_box :newsletter_notifications, label: false, class: "switch-input" %>
        <span class="switch-paddle"></span>
        <span class="switch-label"><%= t('.newsletter_notifications') %></span>
      </label>
    </div>
    <%= f.submit t(".update_notifications_settings"), disable_with: true %>
  <% end %>
</div>
