<% add_decidim_page_title(t("notifications_settings", scope: "layouts.decidim.user_profile")) %>
<% content_for(:subtitle) { t("notifications_settings", scope: "layouts.decidim.user_profile") } %>

<%= form_for(@notifications_settings, url: notifications_settings_path, method: :put, class: "user-form") do |f| %>
  <p><strong><%= t(".receive_notifications_about") %></strong></p>
  <div class="switch tiny switch-with-label notifications_from_own_activity">
    <%= f.label :notifications_from_own_activity do %>
      <%= f.check_box :notifications_from_own_activity, label: false, class: "switch-input" %>
      <span class="switch-paddle"></span>
      <span class="switch-label"><%= t(".own_activity") %></span>
    <% end %>
  </div>
  <div class="switch tiny switch-with-label notifications_from_followed">
    <%= f.label :notifications_from_followed do %>
      <%= f.check_box :notifications_from_followed, label: false, class: "switch-input" %>
      <span class="switch-paddle"></span>
      <span class="switch-label"><%= t(".everything_followed") %></span>
    <% end %>
  </div>

  <p><strong><%= t(".notifications_sending_frequency") %></strong></p>
  <%= f.collection_radio_buttons :notifications_sending_frequency, frequencies_collection, :first, :last, { checked: @notifications_settings.notifications_sending_frequency || "daily" } %>

  <p><strong><%= t(".newsletters") %></strong></p>
  <div class="switch tiny switch-with-label newsletter_notifications">
    <label>
      <%= f.check_box :newsletter_notifications, label: false, class: "switch-input" %>
      <span class="switch-paddle"></span>
      <span class="switch-label"><%= t(".newsletter_notifications") %></span>
    </label>
  </div>

  <p><strong><%= t(".direct_messages") %></strong></p>
  <div class="switch tiny switch-with-label allow_public_contact">
    <label>
      <%= f.check_box :allow_public_contact, label: false, class: "switch-input" %>
      <span class="switch-paddle"></span>
      <span class="switch-label"><%= t(".allow_public_contact") %></span>
    </label>
  </div>

  <% if @notifications_settings.user_is_moderator?(current_user) %>
    <p><strong><%= t(".administrators") %></strong></p>
    <div class="switch tiny switch-with-label email_on_moderations">
      <label>
        <%= f.check_box :email_on_moderations, label: false, class: "switch-input" %>
        <span class="switch-paddle"></span>
        <span class="switch-label"><%= t(".email_on_moderations") %></span>
      </label>
    </div>

    <% Decidim.notification_settings_registry.manifests.filter{ |a| a.settings_area == :administrators }.each do |manifest| %>
      <div class="switch tiny switch-with-label notification_settings">
        <label>
          <%= f.check_box "notification_settings[#{manifest.name}]",
                          checked: ["1", true].include?(current_user.notification_settings.fetch(manifest.name.to_s, manifest.default_value)),
                          label: false,
                          class: "switch-input" %>
          <span class="switch-paddle"></span>
          <span class="switch-label"><%= t(".notification_settings.#{manifest.name}") %></span>
        </label>
      </div>
    <% end %>

  <% end %>

  <% if @notifications_settings.meet_push_notifications_requirements? %>
    <div class="push-notifications js-sw-mandatory">
      <p><strong><%= t(".push_notifications") %></strong></p>
      <p id="push-notifications-reminder" class="push-notifications__reminder"><i><%= t(".push_notifications_reminder") %></i></p>
      <div class="switch tiny switch-with-label allow_push_notifications">
        <label>
          <%= check_box_tag :allow_push_notifications, 0, false, class: "switch-input" %>
          <span class="switch-paddle"></span>
          <span class="switch-label"><%= t(".allow_push_notifications") %></span>
        </label>
      </div>
    </div>

    <input id="vapidPublicKey" name="vapid_public_key" type="hidden" value="<%= Base64.urlsafe_decode64(Rails.application.secrets.vapid[:public_key]).bytes %>">
    <input id="subKeys" name="sub_key" type="hidden" value="<%= current_user.notifications_subscriptions.keys %>">
  <% end %>

  <%= f.submit t(".update_notifications_settings") %>
<% end %>
