<% add_decidim_meta_tags({
  image_url: current_participatory_process.hero_image.url,
  description: translated_attribute(current_participatory_process.short_description),
  title: translated_attribute(current_participatory_process.title),
  url: participatory_process_url(current_participatory_process),
  twitter_handler: current_organization.twitter_handler
}) %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <div class="lead">
          <%== translated_attribute(current_participatory_process.short_description) %>
        </div>
        <%== translated_attribute(current_participatory_process.description) %>
      </div>
    </div>
    <div class="section columns medium-5 mediumlarge-4 large-3">
      <div class="card extra definition-data">
        <% if translated_attribute(current_participatory_process.meta_scope).present? %>
          <div class="definition-data__item scope">
            <span class="definition-data__title"><%= t(".scope") =%></span>
              <%== translated_attribute(current_participatory_process.meta_scope) %>
          </div>
        <% end %>

        <% if current_participatory_process.end_date.present? %>
          <div class="definition-data__item end-date">
            <span class="definition-data__title"><%= t(".end_date")=%></span>
              <%== l(current_participatory_process.end_date, format: :long) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_process.developer_group).present? %>
          <div class="definition-data__item developer-group">
            <span class="definition-data__title"><%= t(".developer_group") =%></span>
              <%== translated_attribute(current_participatory_process.developer_group) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_process.local_area).present? %>
          <div class="definition-data__item local_area">
            <span class="definition-data__title"><%= t(".local_area") =%></span>
              <%== translated_attribute(current_participatory_process.local_area) %>
          </div>
        <% end %>

         <% if translated_attribute(current_participatory_process.target).present? %>
          <div class="definition-data__item target">
            <span class="definition-data__title"><%= t(".target") =%></span>
              <%== translated_attribute(current_participatory_process.target) %>
          </div>
        <% end %>

         <% if translated_attribute(current_participatory_process.participatory_scope).present? %>
          <div class="definition-data__item participatory_scope">
            <span class="definition-data__title"><%= t(".participatory_scope") =%></span>
              <%== translated_attribute(current_participatory_process.participatory_scope) %>
          </div>
        <% end %>

        <% if translated_attribute(current_participatory_process.participatory_structure).present? %>
          <div class="definition-data__item participatory_structure">
            <span class="definition-data__title"><%= t(".participatory_structure") =%></span>
              <%== translated_attribute(current_participatory_process.participatory_structure) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
      <%= render partial: "decidim/shared/share_modal" %>
      <%= embedded_code_for(participatory_process_participatory_process_widget_path(current_participatory_process)) %>
    </div>
  </div>

  <%= attachments_for current_participatory_process %>
</div>

<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>
