<% adjacents_paths ||= {} %>
<div class="flex justify-between pb-4">
  <% if adjacents_paths["prev_item"].present? %>
    <%= link_to(
          adjacents_paths["prev_item"],
          class: "button button__text-secondary",
          title: t("previous_title", scope: "decidim.admin.shared.adjacents_navigation"),
          rel: "next"
        ) do %>
      <%= icon "arrow-left-s-line", class: "fill-current" %>
      <%= t("previous", scope: "decidim.admin.shared.adjacents_navigation").html_safe %>
    <% end %>
  <% end %>

  <% if adjacents_paths["next_item"].present? %>
    <%= link_to(
          adjacents_paths["next_item"],
          class: "button button__text-secondary",
          title: t("next_title", scope: "decidim.admin.shared.adjacents_navigation"),
          rel: "next"
        ) do %>
        <%= t("next", scope: "decidim.admin.shared.adjacents_navigation").html_safe %>
      <%= icon "arrow-right-s-line", class: "fill-current" %>
    <% end %>
  <% end %>
</div>
