<div class="filters__section">
  <div class="fcell search">
    <%= search_form_for(query, url: url_for) do |form| %>
      <%= applied_filters_hidden_field_tags %>
      <div class="input-group">
        <%= form.search_field(
              search_field_predicate,
              class: "input-group-field",
              label: false,
              placeholder: t(search_field_predicate,
                             collection: collection_name,
                             scope: "decidim.admin.filters.search_placeholder")
            ) %>
        <div class="input-group-button">
          <button type="submit" class="text-secondary">
            <svg class="fill-secondary w-4 h-4" viewBox="0 0 24 24" id="ri--search-line">
              <path fill="none" d="M0 0h24v24H0z"/>
              <path d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"/>
            </svg>
          </button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="fcell">
    <ul class="dropdown menu" data-dropdown-menu data-close-on-click-inside="false">
      <li>
        <a href="#" class="dropdown button">
          <%= t("filter_label", scope: "decidim.admin.filters") %>
        </a>
        <%= dropdown_submenu(submenu_options_tree(i18n_ctx)) %>
      </li>
    </ul>
  </div>
</div>
<!-- <div class="card-section fcell grid-x">
  <div class="cell medium-10 filter-status">
    <%#= applied_filters_tags(i18n_ctx) %>
  </div>
  <div class="cell auto text-right">
    <%#= admin_filters_pagination %>
  </div>
</div> -->
