<div class="form__wrapper">
  <div class="card" data-component="accordion" id="accordion-homepage_appearance_title">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-homepage_appearance_title" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="homepage_appearance_title">
          <%= t("homepage_appearance_title", scope: "decidim.admin.organization_appearance.form") %>
        </h2>
      </button>
    </div>
    <div id="panel-homepage_appearance_title" class="card-section">

    <div class="row">
      <div class="columns slug">
        <%= form.text_field :cta_button_path, help_text: t(".cta_button_path_help_html", url: decidim_form_slug_url("", form.object.cta_button_path)) %>
      </div>

      <div class="columns">
        <%= form.translated :text_field, :cta_button_text, help_text: t(".cta_button_text_help") %>
      </div>
    </div>
  </div>
</div>

  <div class="card" data-component="accordion" id="accordion-homepage_highlighted_content_banner_title">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-homepage_highlighted_content_banner_title" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="homepage_highlighted_content_banner_title">
          <%= t("homepage_highlighted_content_banner_title", scope: "decidim.admin.organization_appearance.form") %>
        </h2>
      </button>
    </div>
    <div id="panel-homepage_highlighted_content_banner_title" class="card-section">
      <div class="row column">
        <%= form.check_box :highlighted_content_banner_enabled %>
      </div>

      <div class="row column">
        <%= form.translated :text_area, :highlighted_content_banner_title, aria: { label: :highlighted_content_banner_title } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :highlighted_content_banner_short_description, aria: { label: :highlighted_content_banner_short_description } %>
      </div>

      <div class="row column">
        <%= form.translated :text_area, :highlighted_content_banner_action_title, aria: { label: :highlighted_content_banner_action_title } %>
      </div>

      <div class="row column">
        <%= form.translated :text_area, :highlighted_content_banner_action_subtitle, aria: { label: :highlighted_content_banner_action_subtitle } %>
      </div>

      <div class="row column">
        <%= form.url_field :highlighted_content_banner_action_url %>
      </div>

      <div class="row">
        <div class="columns">
          <%= form.upload :highlighted_content_banner_image, button_class: "button button__sm button__transparent-secondary" %>
        </div>
      </div>
    </div>
  </div>

  <div class="card" data-component="accordion" id="accordion-omnipresent_banner_appearance_title">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-omnipresent_banner_appearance_title" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title" id="omnipresent_banner_appearance_title">
          <%= t("omnipresent_banner_appearance_title", scope: "decidim.admin.organization_appearance.form") %>
        </h2>
      </button>
    </div>
    <div id="panel-omnipresent_banner_appearance_title" class="card-section">
      <div class="row column">
        <%= form.check_box :enable_omnipresent_banner %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :omnipresent_banner_title, aria: { label: :omnipresent_banner_title } %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :omnipresent_banner_short_description, aria: { label: :omnipresent_banner_short_description } %>
      </div>

      <div class="row column">
        <%= form.url_field :omnipresent_banner_url %>
      </div>
    </div>
  </div>
  <%= render partial: "decidim/admin/organization_appearance/form/header_snippets", locals: { form: } %>
</div>
