<h2 class="h4">
  <%= t("manage_admins", scope: "decidim.group_admins.index") %>
</h2>

<p class="profile__group__description"><%= t("current_admins", scope: "decidim.group_admins.index") %></p>

<%= link_to profile_members_path, class: "profile__group__back" do %>
  <%= icon "arrow-left-s-line" %>
  <span class="sr-only"><%= t("cancel", scope: "decidim.shared.confirm_modal") %></span>
<% end %>

<% if validation_messages.present? %>
  <% validation_messages.each do |validation| %>
    <%= cell("decidim/announcement", validation) %>
  <% end %>
<% else %>
  <% memberships.each do |membership| %>
    <div class="profile__group__list">
      <%= card_for membership %>

      <%= link_to(
        decidim.demote_group_manage_user_path(model.nickname, membership),
        method: :post,
        data: { confirm: t("decidim.group_admins.actions.confirm_remove_from_admin"),
                confirm_title: t("decidim.group_admins.actions.confirm_modal.title_remove"),
                confirm_button: t("decidim.group_admins.actions.confirm_modal.ok_remove") },
        class: "button button__sm button__transparent-secondary"
      ) do %>
        <span><%= t("decidim.group_admins.actions.demote_admin") %></span>
        <%= icon "delete-bin-line" %>
      <% end %>
    </div>
  <% end %>
<% end %>
