<h2 class="section-heading">Botones principales</h2>
<button class="button">.button</button>
<button class="button secondary">.secondary</button>
<button class="button button--muted">.button--muted</button>
<button class="button button--sc">.button--sc</button>
<button class="button hollow">.hollow</button>
<button class="button hollow secondary">.hollow .secondary</button>

<h2 class="section-heading">Botones y estados</h2>
<button class="button small">Apoyar</button>
<button class="button small success">Apoyando</button>
<button class="button small" disabled>Apoyar</button>
<br>
<button class="button button--sc">Apoyar</button>
<button class="button button--sc success">Apoyando</button>
<button class="button button--sc" disabled>Apoyar</button>
<br>
<div style="display: flex;">
  <button class="button hollow secondary small button--icon">
    <%= icon("bell", class:"icon--before") %>
    Seguir propuesta
  </button>
  <button class="button hollow success small button--icon">
    <%= icon("bell", class:"icon--before") %>
    Siguiendo
  </button>
</div>
<div class="m-bottom">
  <h6>
    Votar comentario, por defecto.
  </h6>
  <a href="" class="comment__votes--up">
    <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
    257
  </a>
  <a href="" class="comment__votes--down">
    <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
    257
  </a>
</div>
<div class="m-bottom">
  <h6>
    Votar comentario, voto positivo.
  </h6>
  <a href="" class="comment__votes--up is-vote-selected">
    <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
    257
  </a>
  <a href="" class="comment__votes--down is-vote-notselected">
    <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
    257
  </a>
</div>
<div class="m-bottom">
  <h6>
    Votar comentario, voto negativo.
  </h6>
  <a href="" class="comment__votes--up is-vote-notselected">
    <%= icon "chevron-top", class: "icon--small", aria_label: "Votar a favor", role: "img" %>
    257
  </a>
  <a href="" class="comment__votes--down is-vote-selected">
    <%= icon "chevron-bottom", class: "icon--small", aria_label: "Votar en contra", role: "img" %>
    257
  </a>
</div>
<div class="opinion-toggle button-group">
  <button class="button tiny button--muted opinion-toggle--ok" title="Comentari a favor">
    <%= icon "thumb-up", aria_label: "A favor" %>
  </button>
  <button class="button tiny button--muted opinion-toggle--meh" title="Comentari neutral">
    Neutral
  </button>
  <button class="button tiny button--muted opinion-toggle--ko" title="Comentari en contra">
    <%= icon "thumb-down", aria_label: "En contra" %>
  </button>
</div>
<div class="opinion-toggle button-group">
  <button class="button tiny button--muted opinion-toggle--ok is-active" title="Comentari a favor">
    <%= icon "thumb-up", aria_label: "A favor" %>
  </button>
  <button class="button tiny button--muted opinion-toggle--meh is-inactive" title="Comentari neutral">
    Neutral
  </button>
  <button class="button tiny button--muted opinion-toggle--ko is-inactive" title="Comentari en contra">
    <%= icon "thumb-down", aria_label: "En contra" %>
  </button>
</div>
<div class="opinion-toggle button-group">
  <button class="button tiny button--muted opinion-toggle--ok is-inactive" title="Comentari a favor">
    <%= icon "thumb-up", aria_label: "A favor" %>
  </button>
  <button class="button tiny button--muted opinion-toggle--meh is-active" title="Comentari neutral">
    Neutral
  </button>
  <button class="button tiny button--muted opinion-toggle--ko is-inactive" title="Comentari en contra">
    <%= icon "thumb-down", aria_label: "En contra" %>
  </button>
</div>
<div class="opinion-toggle button-group">
  <button class="button tiny button--muted opinion-toggle--ok is-inactive" title="Comentari a favor">
    <%= icon "thumb-up", aria_label: "A favor" %>
  </button>
  <button class="button tiny button--muted opinion-toggle--meh is-inactive" title="Comentari neutral">
    Neutral
  </button>
  <button class="button tiny button--muted opinion-toggle--ko is-active" title="Comentari en contra">
    <%= icon "thumb-down", aria_label: "En contra" %>
  </button>
</div>

<div class="row column">
  <h2 class="section-heading">Botones con sombra</h2>
  <pre>.button--shadow</pre>
  <button class="button button--shadow primary">.primary</button>
  <button class="button button--shadow success">.success</button>
  <button class="button button--shadow secondary">.secondary</button>
  <button class="button button--shadow warning">.warning</button>
  <button class="button button--shadow alert">.alert</button>
  <button class="button button--shadow muted button--muted">.button--muted.muted</button>
</div>

<div class="row column">
  <h2 class="section-heading">Botones texto blanco</h2>
  <pre>.button.light</pre>
  <button class="button light success">.success</button>
  <button class="button light secondary">.secondary</button>
</div>
